[2020-07-13 16:23] aramase commented on #681
@kwaazaar Thank you for opening the issue 👍

Which region is your cluster in? This issue is similar to https://github.com/Azure/aad-pod-identity/issues/606. There was a caching bug in instance metadata server running on the node due to which it returned "identity not found" error even when identity exists on the underlying VMSS. The fix for that is being gradually rolled out to all regions, updati

[2020-07-13 16:33] aramase commented on #675
@terrycain From the logs above, it doesn't look like a `aad-pod-identity` issue as there is no caching performed in NMI. If the issue is reproducible, then either of 2 is possible - caching in the SDK or bug in the Instance Metadata Service running on the VM.

[2020-07-13 18:37] kwaazaar commented on #681
Region is West Europe. I need to correct myself: this old cluster is still using availability sets. Does that make any difference?
I mention this, because we've had other issues with managed identities that were related to availability sets.

[2020-07-13 18:47] aramase commented on #681
@kwaazaar Are the VMs part of this list in your sub?
`aks-agentpool-24722116-0`, `aks-agentpool-20414870-5`, `aks-agentpool-71662594-13`, `aks-agentpool-71662594-23`, `aks-agentpool-71662594-12`

I checked internally and these are the VMs that are running an old build of IMDS which doesn't contain the cache fix as mentioned in #606. The rollout is in progress and I see most of the other VMs in the

[2020-07-13 23:48] nmiodice opened #684 "Repeated ACR Pull for about 5 minutes after kubectl apply"
**Describe the bug**
I am seeing a behavior that I'm not 100% sure is related to `aad-pod-identity`. When new pods spin up, I see a behavior where they are unable to pull images from ACR for about 5 - 10 minutes, after which there are no issues pulling.

I can see in the `mic` controller logs that the identity is assigned quickly to the pod, and the identity that the pod runs under has the requisi

[2020-07-14 00:18] chewong commented on #684
Are you using managed identity to pull the image? Relevant issue: https://github.com/kubernetes/kubernetes/issues/92326

[2020-07-14 00:23] JerrySantana92 commented on #585
![image](https://user-images.githubusercontent.com/37356622/87366400-711abf80-c52d-11ea-8556-1a00623d81c7.png)

I'm getting same error! But when I try to get the Principal Id of the cluster, it's using MSI ! I think this is different on how you are doing it.. any idea?

[2020-07-14 00:25] aramase commented on #585
@JerrySantana92 The required role assignments along with the commands to get the `clientID` are documented here - https://github.com/Azure/aad-pod-identity/blob/master/docs/readmes/README.role-assignment.md

[2020-07-14 00:27] nmiodice commented on #684
We are. I'm not actually sure whether or not the pod identity or the kubelet identity will be used for the pull. Do you know of any workaround, or when/if that change will be rolled out for GA?

[2020-07-14 00:31] JerrySantana92 commented on #585
Got it! Thank you. One last question.. for the role assignment:

az role assignment create --role "Managed Identity Operator" --assignee <ID> --scope /subscriptions/<SubscriptionID>/resourcegroups/<ClusterResourceGroup>

The <ClusterResourceGroup> should be the "MC_*" or the other one where the AKS was created?

[2020-07-14 00:47] aramase commented on #684
@nmiodice `kubelet` identity is used for image pull. All the control plane components (kubelet, controller manager) run on the host and are not intercepted by pod-identity. The PR for that issue is open and is being reviewed. I believe once it merges, it'll land in the next release. You should be able to check on the issue if there are currently any workarounds.

[2020-07-14 03:24] nmiodice commented on #684
Ok thanks! I'll close this out, as the issue is unrelated to aad-pod-identity

[2020-07-14 03:24] #684 closed

[2020-07-14 05:36] JerrySantana92 commented on #585
I tried but it didn't work.. Been struggling with this for like 3 weeks!
@Olli64 Can you please provide your yaml file? And step by step how you did it?

Thank you!

[2020-07-14 06:30] maperr commented on #626
I am still running into this issue as of today

[2020-07-14 06:34] maperr commented on #626
Here's the output on Azure DevOps

[code]

[2020-07-14 07:47] kwaazaar commented on #681
Those are all nodes of 3 different clusters. I'm pretty sure the node where the pod was scheduled on was aks-agentpool-20414870-1. That one is not in your list. I will try to get it scheduled there again.

[2020-07-14 08:56] Olli64 commented on #585
I did it according to manual, but just manually had to add rights for the cluster service principal to the resource group that contains the managed identities. Nothing special really there. I have loads of powershell scripts that creates the AKS cluster.

Might be this one:
[code]

Try to add permissions with above, if it doesn't work, might not be the same problem that I had.

[2020-07-14 10:02] digeler commented on #674
thanks @aramase  ,could be an sdk issue , should i open an issue to the eventhub team sdk.
it started to get worse ,can you advise how can i troubleshoot this ?

[2020-07-14 10:25] kwaazaar commented on #681
Is the list of nodes you mention supposed to be a complete list? We are currently experiencing the same issue on these nodes:
aks-agentpool-20414870-4
aks-agentpool-20414870-0
aks-agentpool-20414870-10

I'm replacing them now, since this is a production cluster.

[2020-07-14 11:05] digeler opened #685 "Helm install failure with helm3 and helm2"
**Describe the bug**
trying to deploy pod identity 1.6 with helm3 /2  getting the below error :
[code]

**Steps To Reproduce**
use helm3 with latest podidentity version :
name: aad-pod-identity
sources:
- https://github.com/Azure/aad-pod-identity
version: 1.6.0
on aks 1.16.10

**Expected behavior**
Podidentity to be install with helm3 /2
**AAD Pod Identity version**
1.6.0
**Kubernetes version**
1.

[2020-07-14 15:59] chewong commented on #626
Hi @maperr, based on your logs, you are upgrading aad-pod-identity from aad-pod-identity/aad-pod-identity repo, which doesn't have the fix yet. We are planning to release 1.6.2 soon, which should include the PR (#642) that fixes the issue. If you want to try the fix out, you can clone this repo and run `helm upgrade --install aad-pod-identity chart/aad-pod-identity`.

[2020-07-14 16:14] chewong commented on #685
https://github.com/Azure/aad-pod-identity/issues/381 explained the cause of this error, which has already been fixed. Could you provide the command you used to install aad-pod-identity through helm 3?

[2020-07-14 17:28] JerrySantana92 commented on #585
Okay, by any chance do you have any idea about this error? @Olli64 @aramase
![image](https://user-images.githubusercontent.com/37356622/87457043-a15d6f00-c5bc-11ea-9229-f31af26d017c.png)

Please let me know! Otherwise I will post another issue.
Thank you so much!

[2020-07-14 17:32] aramase commented on #681
I looked at the list of nodes in your sub today and they are all running the latest build which contains the IMDS caching fix. If you're still facing the issue. I'll also check internally with the IMDS team.

Just to confirm does the `clientID` defined in `AzureIdentity` match the `clientID` when the identity is assigned on the node? To find the `clientID` from the node, you can run `az vm identit

[2020-07-14 17:34] aramase commented on #585
@JerrySantana92 Can you check the MIC pod logs to see what the error is? If no `AzureAssignedIdentity` was found in `CREATED` state, that indicates MIC is unable to assign the identity or the `AzureIdentity` and `AzureIdentityBinding` maybe misconfigured.

[2020-07-14 18:01] JerrySantana92 commented on #585
Good point! In the MIC logs I'm seeing this error:
![image](https://user-images.githubusercontent.com/37356622/87459903-dd92ce80-c5c0-11ea-80e9-07c3a99c7069.png)

This is the YAML:
![image](https://user-images.githubusercontent.com/37356622/87460182-4bd79100-c5c1-11ea-80e6-804a064b61e1.png)

Any inputs will be much appreciated!
Thanks a lot

[2020-07-14 18:07] chewong commented on #585
@JerrySantana92 it looks like you will need to uncapitalize the fields in `AzureIdentity` and `AzureIdentityBinding` since you are using v1.6.0. See https://github.com/Azure/aad-pod-identity#v160-breaking-change for more detail. Please let us know if it works after you change the fields.

[2020-07-14 18:33] kevinwedwards opened #686 "Self built NMI image won't start (MCR image works fine)"
**Describe the bug**
When I deploy MIC and NMI the NMI POD doesn't start...
mic-76f9b75db5-gz8c8    1/1     Running            0          33s
mic-76f9b75db5-pgnww  1/1     Running            0          33s
**nmi-qvtpm                       0/1     CrashLoopBackOff   2          34s
nmi-tj96x                          0/1     CrashLoopBackOff   2          34s
nmi-v8lb8                         0/1

[2020-07-14 19:08] chewong commented on #686
https://github.com/Azure/aad-pod-identity/pull/658 removes `--host-ip` flag from NMI. If you remove the `--host-ip` flag from the deployment YAML, it should work.

[2020-07-14 19:08] aramase commented on #686
@kevinwedwards The `--host-ip` flag has been deprecated in master and will be included in next release. The deployment manifests are updated during release. If you're using the master branch to build NMI, you need to remove the `--host-ip` flag from the daemon set args.

[2020-07-14 19:35] kevinwedwards commented on #686
I guess that doesn't make sense to me... since I'm using the 1.5.5 tag..

[2020-07-14 19:39] kevinwedwards commented on #686
I removed the host-ip from teh deployment-rbac.yaml, no change.

A coworker believes that the two entry-points being in the docker file are causing some issues and that the NMI image is somehow starting the MIC container.  which based on the logs, seems possible...     That doesn't make sense to me, but he says he's confident based on using AAD POD ID on his current project and another's team AKS

[2020-07-14 20:05] chewong commented on #686
Are you using the provided make target to build the binaries and images?

[2020-07-14 20:19] kevinwedwards commented on #686
For my two build steps: NMI and MIC, I'm doing this in Azure DevOps...  using the docker task using the following:

--target=nmi --build-arg HTTP_PROXY=[proxyaddress] --build-arg HTTPS_PROXY=[proxyaddress] --build-arg NMI_VERSION=$(Build.BuildId)

--target=mic --build-arg HTTP_PROXY=[proxyaddress] --build-arg HTTPS_PROXY=[proxyaddress] --build-arg MIC_VERSION=$(Build.BuildId)

I split up the docke

[2020-07-14 20:26] chewong commented on #686
This error is caused by the lack of `--host-ip` flag. With 1.5.5, it's necessary to provide `--host-ip` flag. Based on your original logs, I thought you are building the images from master branch.

[2020-07-14 20:33] kevinwedwards commented on #686
I think originally the dual entrypoints were breaking, now upon fixing that, and removing the host-ip... I believe I've introduced a bug. Thank you!  Will revert that change and re-test.

[2020-07-14 20:41] JerrySantana92 commented on #585
Yep, that was the problem! I can't believe that lol.
I had to uncapitalize AzureIdentity and AzureIdentityBinding and it worked!

I was dealing with this since the last 2 or 3 weeks, really appreciate it man! @chewong

[2020-07-14 20:45] #686 closed

[2020-07-14 21:03] #586 closed

[2020-07-14 21:15] aramase commented on #675
@terrycain Did you get a chance to look at the logs or confirm there is caching on the client-side?

[2020-07-14 21:33] #573 closed

[2020-07-14 21:33] #600 closed

[2020-07-14 21:33] #605 closed

[2020-07-14 21:33] #644 closed

[2020-07-15 00:39] aramase commented on #681
The Managed identity were able to look at their logs and saw the identity was deleted and re-created. Just to confirm, was the identity recently deleted and re-created with the same name? The `clientID` defined in `AzureIdentity` is used while fetching the token. If the `clientID` doesn't match the `identity.clientID` on the node, then that would result in `"identity not found"` error.

[2020-07-15 05:06] BartVanBerkel commented on #639
@aramase I think that this one can be closed. Issue is fixed in AKS.

[2020-07-15 05:39] digeler commented on #685
helm 2 : helm install --name aad-pod-identity C:\helm3 --timeout 600 --values C:\helm3\values0.yaml --values C:\helm3\values1.yaml --wait  --dry-run

am also attaching the templates :

[templates.zip](https://github.com/Azure/aad-pod-identity/files/4923092/templates.zip)

 helm3 install pod-identity C:\helm3\ --debug --values C:\helm3\values0.yaml --values C:\helm3\values1.yaml --dry-run

[2020-07-15 06:26] aramase commented on #685
@digeler The `--dry-run` flag is not supported with CRDs according to this PR - https://github.com/helm/helm-www/pull/545/files. If you're running just `helm install` are you seeing errors?

[2020-07-15 06:59] kwaazaar commented on #681
I did not recreate identities. I did run our release pipeline in AzureDevOps which creates the identity and the AzureIdentity and AzureIdentityBinding using the Azure CLI (az identity create), but since the identity already existed, the CLI will not touch it, but maybe still log this as a changes.

Anyway, the issues we ran into yesterday were related to other identities and other nodes. I didn't

[2020-07-15 11:08] zhiweiv opened #688 "[Feature] Get ClientID automatically for Managed Identity"
We can get ClientID of Managed Identity by it's ResourceID, see https://docs.microsoft.com/en-us/rest/api/managedidentity/userassignedidentities/get. Is it good idea to require only ResourceID in CRD AzureIdentity?  NMI can get ClientID from Azure by ResourceID itself. This helps reducing configuration work.

Background:
We configued AzureIdentity with correct ResourceID/wrong ClientID. MIC binded

[2020-07-15 13:41] AndreasM009 opened #689 "Installing aad-pod-identity with helm3 doesn't work"
**Describe the bug**
I have an RBAC enabled AKS cluster and installed aad-pod-identity using helm (3) as described in the docs, but in its own namespace. After the installation I can create my resources, but my managed identity is not assigned to the VMSS. I have created all needed role assignments for the AKS cluster's (managed identity enabled) service principal:
- Virtual Machine Contributor
-

[2020-07-15 15:59] digeler commented on #685
i think i know whats going on  here.
when i deploy using helm with this file structure it works  :
![image](https://user-images.githubusercontent.com/4949529/87566351-91808080-c6cb-11ea-9033-c3991c47c03d.png)

but our code renders the yaml files and the end result  the chart is like this :
without the crds folder all the files in the same folder , only with the files :
![image](https://user-images

[2020-07-15 16:12] aramase commented on #689
@AndreasM009 Coud you check if there are any errors in MIC pod logs?

[2020-07-15 16:14] aramase commented on #688
@zhiweiv The clientID is required, so NMI can match the clientID with the request clientID to check if the pod has access to what its requesting token for. NMI doesn't make any calls to azure and doesn't require access to SP/cluster identity. MIC being only 2 pods reduces the # of pods that have access to the SP/cluster-identity. If NMI were to get the clientID for each UserMSI configured,
- It wi

[2020-07-15 16:20] digeler commented on #685
am not sure what change on helm3 but when i use all in the same folder like this :
![image](https://user-images.githubusercontent.com/4949529/87569424-c42c7800-c6cf-11ea-870a-436b062e35d0.png)

and with helm2 with same files it works :
helm install --name aad-pod-identity C:\repos\helmorig_15_07\folderpath\src\Tools\Charts\aad-pod-identity\ --values C:\helm3\1.5.5\values0.yaml --values C:\helm3\1.

[2020-07-15 16:27] chewong commented on #685
For helm 3, CRDs are put inside the `crds` folder instead of the chart directory. See https://helm.sh/docs/chart_best_practices/custom_resource_definitions/#method-1-let-helm-do-it-for-you for more details.

[2020-07-15 17:02] #603 closed

[2020-07-15 17:04] tkporter commented on #603
Sorry for the late reply, thanks for doing this :)

[2020-07-16 00:41] zhiweiv commented on #688
Thanks for the explanation.

[2020-07-16 00:41] #688 closed

[2020-07-16 07:32] AndreasM009 commented on #689
@aramase my bad, I didn't update the helm repo. After an update it works.

[2020-07-16 08:57] digeler commented on #685
Thanks chewong , i changed my code to support this folder and now its working.
seems like helm3 does not work with helm2 charts ,i dont think its related to this topic anyway here is my issue : https://github.com/helm/helm/issues/8466
you can close this issue , thank you so much for helping.

[2020-07-16 14:22] pzalews opened #690 "MIC returning 404 ResourceNotFound"
**Describe the bug**
AKS cluster installed with SP (contributor role for the whole subscription).
Without RBAC.
In mic logs:
[code]

**Steps To Reproduce**
AKS cluster (basic networking, no rbac, SP with contributor right to the whole subscription)
Resource group for cluster: piotraks
Resource group for nodes: piotraks-node-rg

Following guide:
[code]
deployed simple nginx pod with annotation:
aad

[2020-07-16 15:31] aramase commented on #689
Glad to know it's working now @AndreasM009. Closing this issue now. Please feel free to reopen if you have any other issues.

[2020-07-16 15:31] #689 closed

[2020-07-16 16:35] #685 closed

[2020-07-16 16:38] aramase commented on #690
@pzalews Is the VMSS node pool in the same subscription as the AKS cluster? MIC uses the subscription id from the `/etc/kubernetes/azure.json` file defined. For AKS clusters, the node pools are under `MC_*` resource group.

[2020-07-16 16:41] aramase commented on #674
If restarting the application pods resolve the issue, I wonder if there is any issue in the SDK. It might be good to check with the SDK team about the behavior.

[2020-07-16 16:43] aramase commented on #639
AKS has fixed the issue with scale up scenarios. They are working on a fix for upgrade scenarios as well, but if the pod is rescheduled, MIC handles re-assigning the identities for the pod. Closing this issue now.

[2020-07-16 21:26] mblaschke commented on #106
Thanks @Schnerwitzki for mentioning the `azure-msi-operator`.
It's currently in development so feel free to try it. It's configurable so you can adapt it to your needs.
If something is missing let me know (Twitter, Slack, ...).

[2020-07-17 07:38] pzalews commented on #690
All things are on one subscription - we changed name of resource group for node pools when we created aks cluster. We have piotraks and piotraks-node-rg.

[code]

[2020-07-17 07:51] pzalews commented on #690
I've left cluster with running test container.
Today morning im looking to logs:
Every ten minuts:
[code]
But  after 19:33
[code]
It started working...
very strange .. nothing changed on the cluster - this is my test cluster no one works on it.

I created the cluster at 14:00 and following the guide.
To 19:30 was returning 404.
And now it is working...

[2020-07-17 09:14] kwaazaar commented on #681
I'm pretty sure that all our nodes have NOT been patched. We are currently experiencing the same issue again, not on a different node again (aks-agentpool-20414870-7 with client-id 4ff9cf27-01ca-4674-8581-fb12e0478964).

[2020-07-17 16:54] aramase commented on #681
I've created an incident for the Managed Identity team internally requesting them to investigate the issue. Will post here as I get updates from them.

[2020-07-18 00:50] AndyTao0402 opened #691 "Cloudconfig in /etc/kubernetes/azure.json has "AzurePublicCloud" for customer clouds"
When deploying with customer cloud env file, the cloud config file azure.json has "cloud":"AzureStackCloud". This causes AAD calls Public cloud endpoints instead of endpoints defined in customer cloud env file.

containers:
      - args:
        - --cloudconfig=/etc/kubernetes/azure.json
        - --logtostderr
        - --leader-election-namespace=aad
        env:
        - name: FORCENAMESPACED

[2020-07-18 01:13] aramase commented on #691
@AndyTao0402 MIC reads the cloud name from `/etc/kubernetes/azure.json` and `AZURE_ENVIRONMENT_FILEPATH` is used by the sdk to parse the endpoints list. Not sure what the issue is?

[2020-07-18 01:45] AndyTao0402 commented on #691
MIC reads cloud name from /etc/kubernetes/azure.json, aad-pod-identity calls Public cloud endpoints to fetch token. Public cloud endpoints are not accessable from airgapped clouds, it can only reach the endpoints specified in AZURE_ENVIRONMENT_FILEPATH.  Is there a way we can override the cloud name in  /etc/kubernetes/azure.json?

[2020-07-18 18:52] terrycain commented on #675
Hey, sorry been busy lately :D, there is no caching that I'm doing, I cant speak for the azure sdk itself so will continue the issue i have there with the findings I have here :), will report back if i find out more

[2020-07-20 15:55] oliverholliday commented on #339
We've since moved to using VMSS for AKS and this same bug has re-surfaced - aad-pod-identity on our cluster was sat unable to bind any pod identities because Azure was throwing the same error as above.

Logs from MIC showed it was attempting to bind lots of things at once, but some of them were invalid.

[code]

The identity test3-reader no longer exists at all, and in the output for `az vmss show

[2020-07-20 16:00] oliverholliday opened #692 "Using VMSS for AKS - issue 339 has resurfaced"
I filed bug 339 about a year ago and we've been using aad-pod-identity successfully ever since.

We've since moved to using VMSS for AKS and this same bug has re-surfaced - aad-pod-identity on our cluster was sat unable to bind any pod identities because Azure was throwing an error about invalid scopes.

Logs from MIC showed it was attempting to bind lots of things at once, but some of them were i

[2020-07-20 16:09] aramase commented on #691
@AndyTao0402 `aad-pod-identity` consumes the azure.json file set on the host for AKS or AKS-Engine clusters. If the cloud name is not accurate in the file, then this would be a question for AKS.

[2020-07-20 16:15] aramase commented on #692
@oliverholliday MIC uses the `AzureIdentity` to determine which all identities need to be assigned. It looks like there is still an `AzureIdentity in the cluster that's referencing the identity that no longer exists `test2-reader-dzyy0hyg-7b6cfdbf9c-r5xpp-test2-test2-crypto-6bql77oc` - pod name (`test2-reader-dzyy0hyg-7b6cfdbf9c-r5xpp`), namespace (`test2`), AzureIdentity (`test2-crypto-6bql77oc`)

[2020-07-20 16:19] oliverholliday commented on #692
That AzureIdentity does exist and is needed, but the one referenced later in the same error message - test3-reader - doesn't exist either as an AzureIdentity resource or as a ManagedIdentity in Azure itself.

Once I went to the Azure VMSS UserAssignedIdentities UI and deleted all of the invalid ones MIC kicked back into gear and successfully bound all of our test1* and test2* identities.

To clari

[2020-07-20 16:23] aramase commented on #692
Which version of `aad-pod-identity` are you using?

[2020-07-20 16:25] oliverholliday commented on #692
1.5.5 of MIC and NMI

[2020-07-20 16:30] aramase commented on #692
Thank you! We have made major changes in 1.6+ to

- Switch to using the `PATCH` API for assigning identities instead of `CreateOrUpdate`.  In case of `CreateOrUpdate`, the current identity list on the VMSS is fetched, new identities appended and then a `PUT` request is made. In case an old identity exists on the VMSS which no longer exists in azure, that would result in the error you're observing.

[2020-07-20 16:32] oliverholliday commented on #692
Ah sorry about that, I did skim the changelog but couldn't see anything specific!

I'll try it out and get back to you if it's still broken.

[2020-07-20 16:32] #692 closed

[2020-07-20 17:54] silasbw commented on #681
@aramase, I think I'm seeing this issue also, but I'm not sure how to get more information, how to remediate, or what the right bug reporting path is.

Can you advise?  Should I report directly to IMDS?  How do I do that?  Apologies for the probably naive set of questions.

[2020-07-20 18:01] aramase commented on #681
@silasbw I've opened an incident with the managed identity for this issue and they're investigating. Can you confirm this is true - https://github.com/Azure/aad-pod-identity/issues/606#issuecomment-646727752. If you can confirm the steps in that comment and you're actively facing issue, please open a support ticket that the IMDS team can help take a look.

Can you provide the agentpool/VM name?

[2020-07-20 18:12] chewong opened #694 "test: e2e and soak tests on AKS cluster as part of PR and release gate"
**Describe the request**

**Explain why AAD Pod Identity needs it**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-07-20 19:51] aramase commented on #690
This looks like a transient issue with AKS cluster as I see in the internal logs that multiple components (`cloud provider`, `aad-pod-identity`) received a 404 error on `GET`, `POST` and `PATCH` requests.

Closing this issue as it's now resolved. Please feel free to re-open if you have any issues with `aad-pod-identity`.

[2020-07-20 19:51] #690 closed

[2020-07-20 19:55] aramase commented on #673
Have you looked at this [How about Terraform + Environment Variables + Makefiles?](https://github.com/Azure/aad-pod-identity/issues/532#issuecomment-655663922)

[2020-07-20 20:21] joyrex2001 commented on #673
@aramase thanks for the suggestion. This is a similar approach as using the az cli to get the the values and creating the azure identity resource. It is not that I don't know how to solve it, but all solutions will require an extra moving part (in your example terraform output and templating). That complexity is not required if the AzureIdentity CRD supports references to secret or configmap value

[2020-07-21 01:48] #679 closed

[2020-07-21 01:50] #654 closed

[2020-07-21 01:57] aramase commented on #681
@kwaazaar The IMDS team has restarted the metadata server on the node `aks-agentpool-20414870-7 `. Let me know if you're still facing issues. They are also actively investigating the issue.

[2020-07-21 09:22] timja commented on #681
We're also hitting this issue

[code]

[2020-07-21 13:06] timja commented on #681
Support resolved it for us by restarting IMDS on all nodes on our clusters,
Below is the RCA:

Whenever the identity is unassigned and reassigned to the VMs, MSI service will create a new VM entry with a new identifier.
The IMDS caching issue causes the VM to use the prior identifier.
When the VM attempts to request credentials from MSI service and presents the old identifier, MSI will respond wit

[2020-07-21 16:27] aramase commented on #606
Closing this issue and tracking in #681

[2020-07-21 16:27] #606 closed

[2020-07-21 17:12] aramase commented on #691
Discussed with @AndyTao0402 offline and this is not a `aad-pod-identity` issue. Closing the issue now. Please feel free to re-open if you have any other questions.

[2020-07-21 17:12] #691 closed

[2020-07-21 17:53] KrishnaKole commented on #681
We are also facing same issue on below nodes.  Suport request 120071724000618
aks-nodepool1-99109236-2
aks-nodepool1-99109236-10
aks-nodepool1-99109236-11

[2020-07-21 20:09] lukasmrtvy opened #698 "(feat): Delete CRDs when installCRDs: true"
**Describe the request**
Would be nice to delete CRDs when installCRDs: true, just like cert-manager chart does it ( https://github.com/jetstack/cert-manager/blob/master/deploy/charts/cert-manager/values.yaml#L27 )

**Explain why AAD Pod Identity needs it**
There is no clean up involved after deleting/destroying helm release = CRDs will not be deleted

**Describe the solution you'd like**
Create &

[2020-07-21 20:28] chewong commented on #665
Closing this issue for now. Feel free to re-open this issue if you are still experiencing the same problem.

[2020-07-21 20:28] #665 closed

[2020-07-22 10:16] digeler commented on #674
thank you so much i will open another issue to the sdk.
your help appriciated.

[2020-07-22 10:16] #674 closed

[2020-07-22 16:54] chewong opened #700 "fix: fix miscellaneous linting problem in the codebase"
**Describe the bug**

- [x] golint: https://goreportcard.com/report/github.com/Azure/aad-pod-identity#golint
- [x] misspell: https://goreportcard.com/report/github.com/Azure/aad-pod-identity#misspell
- [x] turn on misspell linting tool in CI

**Steps To Reproduce**

**Expected behavior**

**AAD Pod Identity version**

**Kubernetes version**

**Additional context**

[2020-07-23 13:49] kevinwedwards commented on #681
We're also seeing this

[2020-07-23 14:02] sousadax12 opened #702 "Http listen and serve error: listen tcp :8080: bind"
Hello,

Yesterday I managed to create an AKS cluster with AAD pod entity working without problems. The day after I reproduce the same steps but i am getting this error:
`Http listen and serve error: listen tcp :8080: bind: address already in use
panic: listen tcp :8080: bind: address already in use
goroutine 48 [running]:
github.com/Azure/aad-pod-identity/pkg/probes.startAsync(0x147d7e3, 0x4)
/go/

[2020-07-23 15:38] aramase commented on #702
@sousadax12 The NMI pod runs on host network and uses port `8080` for health probe. From the error it looks like port `8080` is already in use. You can configure the nmi probe port to a different value in the helm chart `--set nmi.ProbePort=8081`

[code]

https://github.com/Azure/aad-pod-identity/tree/master/charts/aad-pod-identity#configuration

[2020-07-23 18:01] kevinwedwards commented on #681
So I was able to resolve our issue by doing the following:
1) Stopping the VMs, waiting a bit of time, and restarting the VMs (did 1 first, then 2&3 later, together).  ,
2) restarted the MIC deployment and the NMI DaemonSet
   ***kubectl rollout restart deployment mic
   ** kubectl  rollout restart ds nmi
3) Redeployed 'service's deployment'
  ***kubectl rollout restart deployment [our deplyoment

[2020-07-23 19:22] chewong opened #703 "docs: add test standard in CONTRIBUTING.md and pull request template"
- [ ] CONTRIBUTING.md
- [ ] pull request template

[2020-07-23 19:23] chewong opened #704 "ci: add code coverage tool"

[2020-07-23 22:01] aramase commented on #681
@kevinwedwards Was the identity deleted and re-created with the same name? To confirm if this is an IMDS caching issue, the steps are here - https://github.com/Azure/aad-pod-identity/issues/606#issuecomment-646727752.

[2020-07-24 00:34] #703 closed

[2020-07-24 03:45] geoarchitect commented on #702
@aramase  - I am getting the same issue, though from the CSI Driver secrets-store:

[code]

Whats peculiar is that I have three other clusters with this same setup now. Looking at the differeces it seems that there is a issue caused by this chart - csi-secrets-store-provider-azure-0.0.9.

My three working clusters have csi-secrets-store-provider-azure-0.0.7 installed and the broken one is using 0.

[2020-07-24 03:50] geoarchitect commented on #702
@aramase - Confirmed that going back to 0.0.7 fixes the issue for me.

[code]

[2020-07-24 03:51] aramase commented on #702
@geoarchitect The CSI driver `v0.0.12` release adds a new controller that listens by default on 8080. Since both these run on host network only one of the pods can use `8080`. If `8080` is being used by another process, then nmi health probe can be configured to a different probe port instead of `8080`.

[2020-07-24 03:53] geoarchitect commented on #702
Makes sense - can we change the default port for nmi to use port 8081?

[2020-07-24 04:11] aramase commented on #702
I think we could do that to avoid conflicts during installation of both components. We will be cutting `1.6.2` release tomorrow, so I think we'll configure the default value in the helm chart and deployment to `8081`.

[2020-07-24 17:06] kevinwedwards commented on #681
@aramase I believe deleting and recreating with the same name is what fundamentally 'originally' caused the caching issue..

[2020-07-24 18:07] #704 closed

[2020-07-24 18:35] prabhakarreddy1234 opened #707 "Helm3 aad-pod-identity charts are failing in Azure Devops pipeline"
**Trying to automate Pod Identity through Azure Devops Pipelines but failed due to errors**

**Steps To Reproduce**

Ran below script from azure devops powershell task and got the attached errors.

[code]

![image](https://user-images.githubusercontent.com/1984707/88423871-6b9e5e80-cde4-11ea-8de9-81158d6f8468.png)

**Expected behavior**
These errors may be shown as warning but shouldn't fail the t

[2020-07-24 19:09] chewong commented on #707
Duplicated issue: https://github.com/Azure/aad-pod-identity/issues/626

[2020-07-24 19:09] #707 closed

[2020-07-24 21:41] #702 closed

[2020-07-24 23:04] #659 closed

[2020-07-24 23:04] #672 closed

[2020-07-24 23:27] mhsh64 commented on #677
@aramase hi, do we know if this is something can be fixed in your next release?
We randomly getting failure during the AKS upgrade

[2020-07-24 23:29] aramase commented on #677
@mhsh64 What is the error you're getting? We'll plan this for next release. Do you know what in the cluster is causing the throttling?

[2020-07-24 23:58] mhsh64 commented on #677
Hi @aramase
This related to #676
MSFT support advised me to bring down all MICs (0) and upgrading, which it worked. But for production it may not possible to do that

[2020-07-25 00:06] aramase commented on #677
Thank you for the details, @mhsh64. We'll plan this for next release.

[2020-07-27 04:50] BartVanBerkel commented on #633
This issue can be closed, as [Managed Identity AKS clusters - intermittent removal of identities on upgrade/scale](https://github.com/Azure/AKS/issues/1650) is fixed.

[2020-07-27 04:50] #633 closed

[2020-07-27 07:59] evahteev opened #711 "unable to read certificate-authority after deploying version 1.6.2 to new cluster"
**Describe the bug**
mic container crushing and have following in logs:
`F0727 07:23:45.394889       1 main.go:126] failed to build config from /etc/kubernetes/kubeconfig/kubeconfig, error: invalid configuration: [unable to read client-cert /etc/kubernetes/certs/client.crt for client due to open /etc/kubernetes/certs/client.crt: no such file or directory, unable to read client-key /etc/kubernetes/

[2020-07-27 07:59] aelmanaa opened #712 "specify FORCENAMESPACES with 1.6.2?"
Hello,

is it still required to specify

          - name: FORCENAMESPACED
            value: "true"

after the last release (1.6.2) ?

thanks

[2020-07-27 16:11] aramase commented on #712
Thanks for opening the issue 👍

Yes, it's still required to specify `FORCENAMESPACED` true to force namespaced behavior. The `FORCENAMESPACED` feature was added later in the project and to ensure backward compatibility it isn't enabled by default.

[2020-07-27 17:40] #711 closed

[2020-07-27 18:35] aramase opened #714 "test: Add load tests as part of nightly jobs"
**Describe the request**

**Explain why AAD Pod Identity needs it**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-07-27 22:00] chewong commented on #698
@lukasmrtvy according to [helm 3 documentation](https://helm.sh/docs/chart_best_practices/custom_resource_definitions/#some-caveats-and-explanations):

In what use case would you like to completely delete the CRDs?

[2020-07-27 22:21] elsesiy opened #716 "nmi doesn't intercept call to imds leading to i/o timeout"
**Describe the bug**
I updated from 1.6.1 to 1.6.2 and bounced an existing pod to trigger a re-assignment of an identity.
The target application has issues retrieving an identity.

[code]

mic logs:
[code]

nmi logs:
[code]

It seems like the MIC works as intended whereas the NMI is not intercepting the call to assign the identity to the underlying VMSS.

**Steps To Reproduce**

Update deployment

[2020-07-27 22:34] aramase commented on #716
@elsesiy With `1.6.2` release, we switched to listening only on localhost instead of the nodeIP. Can you hop on one of the nodes and run `iptables -t nat -L aad-metadata`. You can run this against the NMI pod too.

`kubectl exec <nmi pod> -- iptables -t nat -L aad-metadata`

[2020-07-27 22:46] elsesiy commented on #716
@aramase

With 1.6.2:
[code]

with 1.6.1:
[code]

[2020-07-27 22:53] aramase commented on #716
@elsesiy That looks right. NMI should be listening on `127.0.0.1:2579` only instead of the node IP. Is `external-dns` running as a pod with `hostNetwork: true`? Are the requests still failing?

[2020-07-27 22:59] elsesiy commented on #716
@aramase No, this is the PSP for it:
[code]

[2020-07-27 23:06] aramase commented on #716
Thanks @elsesiy. Are the requests still failing? And does the issue resolve when you use `1.6.1`?

You can also run a sample pod to check if the requests are being intercepted -
[code]

and then `curl 'http://169.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01&resource=https%3A%2F%2Fmanagement.azure.com%2F' -H Metadata:true -s`

[2020-07-27 23:07] elsesiy commented on #716
@aramase I updated my response, yes it's still failing and works after reverting back to 1.6.1.
Let me take a look again after my meeting and get back to you, thanks!

[2020-07-27 23:41] elsesiy commented on #716
with 1.6.1:
[code]

with 1.6.2:
[code]

[2020-07-27 23:45] aramase commented on #716
@elsesiy Do you have any network policies that's blocking the traffic to host? I'm unable to repro this, so wonder if it's something specific in your cluster. We can also check if NMI is listening on localhost:2579 with `1.6.2` on the host.

[2020-07-27 23:47] elsesiy commented on #716
I was just typing this out, we do have calico policies in place that didn't get in the way so far:
[code]

I'm trying to figure out why this wasn't an issue so far but maybe you can explain it?

[2020-07-28 00:01] aramase commented on #716
Prior to this change, NMI listened on all the interfaces (node IP, localhost). With this change we are restricting that to just `127.0.0.1:2579` which is more secure.

I wonder if there is another policy that's blocking the traffic and it's not this one causing the `DROP`. Is there a policy on the cluster that allows traffic to node CIDR on port 2579 or all ports?

[2020-07-28 00:04] elsesiy commented on #716
Yep there's one that broadly allows TCP/UDP to the VNET CIDR
[code]

[2020-07-28 00:11] aramase commented on #716
[code]

https://docs.projectcalico.org/security/protect-hosts

[2020-07-28 00:38] #422 closed

[2020-07-28 00:41] elsesiy commented on #716
@aramase Yes that's the intended behavior. The reason it worked before was that node IP has been explicitly allowed which was covered by said policies. Unfortunately, since the actual request is sent from different namespaces broadly allowing calls to localhost is not great.
The missing policy:
[code]

[2020-07-28 00:57] aramase commented on #716
Thank you for the confirmation, @elsesiy. We had a number of users report concerns over whitelisting the entire node CIDR to allow traffic to fetch token, which was one of the motivation for changing to localhost. Also binding it all interfaces seems insecure. Let me know what you think.

[2020-07-29 01:05] elsesiy commented on #716
@aramase I understand, thank you. I think we can close this out now but it might be worth adding this to the docs somewhere to help others in case they trip over this

[2020-07-29 20:32] chewong commented on #445
@pascal-enz We had added a significant amount of documentation on role assignment since the creation of this issue. To address your concerns:

It's suggested that you should perform all the necessary role assignments before you deploy aad-pod-identity. Also, I don't think a restart is necessary for the permission to take effect as long as you are assigning the appropriate roles to your cluster ide

[2020-07-30 02:00] #694 closed

[2020-07-30 02:01] chewong opened #718 "ci: download the correct version of kubectl in e2e according to cluster version"

[2020-07-30 20:06] svangeti opened #720 "Not able to install aad-pod-identity using helm"
**Describe the bug**
I am not able install aad-pod-identity for AGIC setup. Getting the below error
`Error: rendered manifests contain a resource that already exists. Unable to continue with install: AzurePodIdentityException "aks-addon-exception" in namespace "kube-system" exists and cannot be imported into the current release: invalid ownership metadata; label validation error: missing key "app.

[2020-07-30 20:18] aramase commented on #720
@svangeti I just tried the latest helm charts and they deploy fine -

[code]

This error indicates the `aks-addon-exception` AzurePodIdentityException was already created before. Helm complains if the resource already exists. Did you install `aad-pod-identity` before using `kubectl apply -f`?

[2020-07-30 20:27] svangeti commented on #720
hi @aramase - Yes, I have run the following, before installing helm as per the instructions.

https://github.com/Azure/aad-pod-identity#1-deploy-aad-pod-identity
[code]
BTW, my AKS cluster has RBAC and Identity enabled. Could that be a problem?

[2020-07-30 20:29] aramase commented on #720
@svangeti This section - https://github.com/Azure/aad-pod-identity#1-deploy-aad-pod-identity provides different ways of installing `aad-pod-identity`. If you've already installed using

[code]

then you don't need to install with helm

[2020-07-30 20:51] svangeti commented on #720
Got it. Thanks Anish @aramase

[2020-07-30 20:52] #720 closed

[2020-07-31 08:14] Alex-Bowman-Aw commented on #570
Looks like Microsoft are planning to retire support for ADAL and are recommending migration to MSAL

[2020-07-31 08:26] JerrySantana92 commented on #278
Is this supported now?

Same here! I have one Job and one CronJob that fetches data from key vault, when is this going to be available?

[2020-07-31 08:36] JerrySantana92 opened #722 "Cron jobs in Azure Kubernetes are not authenticating key vault using AzureIdentity (Pod Identities)"
I have a cluster in Azure AKS.

I have some pods that are fetching secrets from Key Vault, they are authenticated using MSI (Pod Identities / AzureIdentity).
Everything works as expected from the Pods!

But now I have to run some long-running tasks on schedule basis using cron Jobs.
I just realized that  cron jobs can't use the Pod Identity, how can I authenticate Key Vault then?
Do cron Jobs can

[2020-07-31 14:19] gimlichael commented on #278
Yes, it is working quite fine .. was acutally supported when i added my question .. just never updated in documentation.

[2020-07-31 17:00] JerrySantana92 commented on #278
@gimlichael would it be possible for you to share your yaml file? I have been looking for documentation on how to use the AzureIdentity (PodIdentity) but I couldn't find anything.

[2020-07-31 17:10] gimlichael commented on #278
Just follow the guide here: https://github.com/Azure/aad-pod-identity
In case of issues, they are most likely related to typo or similar.

The powershell script shared in this article helped me: https://dev.to/cmendibl3/aks-read-azure-key-vault-secrets-using-aad-pod-identity-2f3i

Good luck.

[2020-07-31 17:30] aramase commented on #722
@JerrySantana92 `aad-pod-identity` works for cron jobs too. Here is a sample cronjob -

[code]

[2020-07-31 17:42] JerrySantana92 commented on #722
@aramase Yes, that worked! my bad.

I created a Job and CronJob. Both are able to authenticate using Pod Identity.

Thank you so much!
Closing this incident.

[2020-07-31 17:42] #722 closed

[2020-08-01 00:40] harikumarks commented on #242
Hi @aramase any ETA on this yet.

[2020-08-03 07:02] krishnadce opened #723 "aad-pod-identity-mic restarted with error retrieving resource lock default/aad-pod-identity-mic: etcdserver: request timed out"
**Describe the bug**
aad-pod-identity-mic pod is intermittently restarting. I found the below in the pod logs.

`I0711 14:52:53.670605       1 leaderelection.go:242] attempting to acquire leader lease  default/aad-pod-identity-mic...
E0728 16:07:09.263954       1 leaderelection.go:331] error retrieving resource lock default/aad-pod-identity-mic: etcdserver: request timed out
E0728 19:37:55.906586

[2020-08-03 16:08] aramase commented on #723
MIC runs as a deployment with 2 pods, 1 leader and other backup. This pod is backup and is trying to check if it needs to take over as leader, but looks like there might be some issue with this host.

I would look at resource usage on the host, this is probably a CPU exhaustion or disk I/O issue?

[2020-08-03 16:57] dudash opened #724 "Support for Azure Red Hat OpenShift (ARO)"
**Describe the request**
It would be great to get this working with Microsoft's ARO offering.

**Explain why AAD Pod Identity needs it**
To support Microsoft's ARO offering

**Describe the solution you'd like**
Docs and YAML configs updated to include ARO

**Describe alternatives you've considered**
N/A

**Additional context**
I gave this a quick try in ARO and ran across a few challenges/recommen

[2020-08-04 10:02] krishnadce commented on #723
Thank you Anish. I checked the CPU, Memory usage on the nodes is very low.

`NAME                                 CPU(cores)   CPU%   MEMORY(bytes)   MEMORY%`
`aks-sccommon-29270115-vmss000001     101m         1%     8244Mi          16%`
`aks-sccommon-29270115-vmss000002     130m         1%     7927Mi          15%`

I checked in Azure portal as well, CPU usage is low. Even disk I/O is low. read op

[2020-08-04 18:28] aramase opened #725 "Document deletion and re-creation of identity with same name"

[2020-08-04 18:37] #655 closed

[2020-08-05 06:19] elsesiy commented on #633
@aramase @chewong This should be re-opened as @TomGeske re-opened the linked issue and I can confirm it's not working yet.

[2020-08-05 16:28] aramase commented on #633
@elsesiy The issue was re-opened for upgrade scenarios. During upgrade, MIC will re-assign the identities that were deleted by AKS during upgrade. Just checking to see if you're seeing that behavior?

[2020-08-05 16:32] elsesiy commented on #633
I upgraded a cluster from 1.15.10 to 1.16.10 and it didn't work. The identities were still there but all calls to the respective Azure service failed with "identity not found". Only after refreshing the assigned identities manually it worked. IIRC I saw a lot of 404s in the NMI logs but could confirm that the identity exists in the AAD.

[2020-08-05 16:37] aramase commented on #723
I think this is coming from the Kubernetes client code failing to watch the apiserver. It's likely due to the apiserver being up but not yet ready to server requests (this adds to the fact that it appears to be transient).

[2020-08-05 18:27] krishnadce commented on #723
ok. But being transient, does this cause MIC to restart? Will MIC retry?

Also, I can't find the termination message when the MIC restarts? Can you help how to find the reason for the pod to restart?

[2020-08-05 19:29] phillipgibson commented on #242
We are in the late phases of testing out a cut of an MVP release. More details to come soon.

[2020-08-06 04:03] aramase commented on #639
Keeping this issue open for upgrade scenarios that's to be fixed in AKS.

Note: MIC reassigns the identity when the pods are rescheduled if the identity has been deleted during the upgrade.

[2020-08-06 13:38] Halama opened #726 "AAD pod identity reponse time spikes and SDK getToken timeouts"
**Describe the bug**
Usually the NMI response takes about 30ms but sometimes it take about one second. The delayed requests are happening randomly on running pods (application pod, nmi, mci). It looks like the first request after some time took much more time that following requests.

See the nmi pod log:

[code]

We are using https://azuresdkdocs.blob.core.windows.net/$web/javascript/azure-identi

[2020-08-06 16:28] aramase commented on #726
What is the recommended approach, should we increase the timeout or implement retries. It looks like it is not covered by SDK.

Thank you for opening the issue. When a token request is made -
1. NMI queries the Kubernetes API server to get the list of pods. The pod IP (src IP) is used to determine which pod is requesting the token.
2. NMI then queries the Kubernetes API server to get the list of A

[2020-08-06 17:31] aramase opened #727 "Remove privileged: true for NMI daemonset"
https://github.com/Azure/aad-pod-identity/blob/e8fe01f0860647ed4c6abbcc65513dd554eae8e6/deploy/infra/deployment-rbac.yaml#L145-L149

The `securityContext.Capabilities` should be sufficient for NMI to add the iptable rules.

[2020-08-06 18:07] aramase commented on #723
What do you see in the describe output for the MIC pod? Yes, the client libraries in MIC retry failed connection requests.

1. `kubectl describe pod <mic pod>`
2. `kubectl logs <mic pod> -p`

[2020-08-06 18:11] aramase commented on #712
Closing this issue. Please feel free to re-open if you have any other questions.

[2020-08-06 18:11] #712 closed

[2020-08-06 18:16] aramase commented on #675
@terrycain Any updates on this issue?

[2020-08-06 20:57] terrycain commented on #675
None atm, I can't seem to reproduce it in my dev environment

[2020-08-07 00:51] asubmani opened #728 "NMI in crashLoopBackOff state in AKS 1.16.10 possible I.P tables issue"
**Describe the bug**
NMI pods in `crashLoopBackOff` state after deployment. MIC pods are running fine.
This is a new AKS Cluster with only Flux and NGINX on it.

**Steps To Reproduce**
Install aadpodidentity in AKS 1.16.10, AKS VNET in a different resource group

**Expected behavior**
NMI should not crash
**AAD Pod Identity version**
1.6.2

**Kubernetes version**
1.16.10 on Ubuntu 16.04 (default)

[2020-08-07 01:18] asubmani commented on #728
To test, I added a new NodePool with just 1 VM and the issue persists.
Does AKS support manually updating the iptables version ? I see it is at 1.6.0

[2020-08-07 05:51] aramase commented on #728
What is the error in the NMI logs?

I don't believe there is an option to update the iptables version (although I believe this could be done by running a pod with privilege and updating it), but this will be a good question for AKS team.

I've a cluster with `v1.6.1` of iptables and the install works fine -

[code]

[2020-08-07 06:41] krishnadce commented on #723
Please find the o/p of the describe and logs:

Name:               aad-pod-identity-mic-57dbd9f4fb-bnkl4
Namespace:          sc-system
Priority:           0
PriorityClassName:  <none>
Node:               aks-sccommon-29270115-vmss000000/10.6.1.51
Start Time:         Sat, 11 Jul 2020 20:22:45 +0530
Labels:             app.kubernetes.io/component=mic
                    app.kubernetes.io/instance=aa

[2020-08-07 06:48] Halama commented on #726
Thanks for the confirmation and explanation. We'll check the retries implementation in https://github.com/Azure/azure-sdk-for-js

[2020-08-07 06:48] #726 closed

[2020-08-07 15:23] asubmani commented on #728
I found the issue. Seems like the args for nmi changed between 1.6.1 to 1.6.2

When I reverted to aadpodidentity version 1.6.1, things started working fine.

## nmi:1.6.1 has the below arguments:
[code]
## #  This doesn't work with 1.6.2 and the below error is logged in nmi
[code]
## nmi args have been changed to below as per [this sample](https://github.com/Azure/aad-pod-identity/blob/master/depl

[2020-08-07 15:29] aramase commented on #728
@asubmani That's right. NMI only listens on `127.0.0.1` from 1.6.2 instead of listening on the node IP which is more secure. The `--host-ip` flag is no longer required. It has been deprecated and removed.

[2020-08-07 15:31] asubmani commented on #728
Ok I replied too soon. NMI is still terminating (Just not immediate)
# NMI Logs
[code]
I am reverting back to 1.6.1 with `--host-ip` arg

[2020-08-07 15:33] asubmani commented on #728
Thanks @aramase. Shouldn't this be listed as a breaking change?

[2020-08-07 15:34] oliverholliday commented on #728
This second set of logs is the behaviour I got too when I upgraded from 1.6.1 to 1.6.2 on kubernetes 1.16.10 (haven't done the command line changes).

[2020-08-07 15:37] aramase commented on #728
@asubmani Typically release manifests are tagged with releases. Just updating the image with the old deployment yaml doesn't work in most of the scenarios as new permissions are added/there are yaml changes. The removal of hostIP is documented in the changelog.

[2020-08-07 15:44] aramase commented on #728
I0807 15:27:30.032938       1 server.go:527] received SIGTERM, shutting down

That indicates NMI is failing liveness probe check and is being restarted by Kubernetes. What do you see in the describe output for the pod?

[2020-08-07 15:50] aramase commented on #728
@asubmani If you're manually changing the deployment with the image, I believe the port is not configured right. The health check probe port is configured in 2 places -

https://github.com/Azure/aad-pod-identity/blob/e8fe01f0860647ed4c6abbcc65513dd554eae8e6/deploy/infra/deployment-rbac.yaml#L128

https://github.com/Azure/aad-pod-identity/blob/e8fe01f0860647ed4c6abbcc65513dd554eae8e6/deploy/infra/d

[2020-08-07 17:07] aramase commented on #728
@asubmani confirmed offline that the port change in the yaml resolved the problem. Closing this issue. Please feel free to reopen if you have any questions.

[2020-08-07 17:07] #728 closed

[2020-08-08 08:51] rlevchenko opened #729 "MIC Pods won't start - Liveness probe failed"
**Describe the bug**

MIC pods are in the _crashLoopBackOff_ state just after initial deployment. However, NMI pods are running fine. I'm using the latest available AKS 1.17.9.  Azure AKS is private, plus egress traffic is filtered by NVA (necessary rules for AKS egress are configured on the NVA).  aad-pod-identity is deployed using helm in the kube-system namespace, default configuration (no cust

[2020-08-08 22:32] galvesribeiro opened #730 "Failure to add new applications to running cluster with aad-pod-identity"
Hello folks!

I've tried to add a new application to our existing AKS cluster with aad-pod-identity and it looks like the application is not able to acquire a token using the ManagedIdentityCredential anymore.

The application POD logs this:

[code]

Both NMI pods are reporting lots of this:

[code]

And the MIC logs has this:

[code]

The cluster used to be one node only before we went to product

[2020-08-09 21:25] galvesribeiro commented on #730
Just to rule out that the application has wrong manifests, I've tried to deploy the demo pod from the README and here is its output:

[code]

[2020-08-09 21:30] galvesribeiro commented on #729
@rlevchenko I have similar setup (AKS 1.17.9 with restricted egress by Azure Firewall) and after upgrading to 1.17.9 aad-pod-identity stopped to work (see #730). Not exactly same issue as yours, but funny that it was working fine before 1.17.9 upgrade. Will keep an eye here in case something comes up for you.

[2020-08-10 01:01] galvesribeiro commented on #725
@aramase while the docs aren't out, what do we need to do after delete and re-creation?

[2020-08-10 05:16] rlevchenko commented on #729
@galvesribeiro thanks for your input. In my demo setup with AKS 1.16.10 , I've not had any issues with private cluster, nva, ingress and aad-pod-identity . They have worked fine. Probably, AKS 1.17.x introduced some breaking changes. I will check that and try to reproduce the liveness failure in my demo though. In your case, is the mic exception configured?

[2020-08-10 12:14] galvesribeiro commented on #729
Yeah, I just noticed my ingress (App Gateway Ingress) started to behave weirdly after the upgrade.

[2020-08-10 15:57] aramase commented on #729
@rlevchenko Do you see started health probe logs in the MIC pod logs?

[code]

Also, could you post MIC pod logs with `-p` so we can see the logs from previous container? MIC reports ready when it's successfully able to communicate to the API server and has initialized all the client caches.

@galvesribeiro What is the issue you're seeing with app gateway?

[2020-08-10 16:01] rlevchenko commented on #729
@aramase thanks for response! I couldn't reproduce the error in my demo setup - pods are running fine. I think the issue is related to NVA config since the "MIC reports ready when it's successfully able to communicate to the API server and has initialized all the client caches". Give me 5 mins, I will gather the logs from the prod.

[2020-08-10 16:13] aramase commented on #725
@galvesribeiro If the identity is deleted and recreated with the same name, then the identity is considered as a completely new identity by VM/VMSS. However VM/VMSS doesn't automatically update the `clientID` for the identity. The `clientID` and `principalID` are null which means they can't be used. There is an item in their backlog to automatically update the identity assigned to the VM/VMSS when

[2020-08-10 16:16] galvesribeiro commented on #729
@aramase sometimes it isn't able to get in touch with ARM to update the AppGateway with similar errors saying that the pod names doesn't match and then get 500 status code as I pointed on #730.

In order to make it work, I have to:

1. I remove the Managed Identity created for the service/pod and create a new one with a different name;
2. `helm upgrade...` with `--force`

That way it works again.

[2020-08-10 16:17] galvesribeiro commented on #725
Ok thanks! That will help a lot!

[2020-08-10 16:27] aramase commented on #729
@galvesribeiro I don't think you need to delete and recreate a new managed identity. Does just restarting the NMI pods resolve the issue? NMI uses the Kubernetes client-go cache informers to get the pod name and namespace based on the src IP in the token request. It performs a list of pods on the node, filters using the pod IP to get the name. However in the error posted, it looks like there was n

[2020-08-10 16:32] rlevchenko commented on #729
@aramase nothing special

[code]

[2020-08-10 16:33] chewong commented on #730
Could you share the AzureIdentity and AzureIdentityBinding that you deployed? Are you also using namespaced mode?

[2020-08-10 16:37] aramase commented on #729
@rlevchenko If no `kubeconfig` is provided, then `InClusterConfig` is used to initialize the Kubernetes clients. Is this all the logs from the pod that crashed? It looks like the call to initialize the client never returned. The http server for liveness probe is started after initializing the client which is missing in the logs you posted.

For example, these are the logs from my cluster -

[code]

[2020-08-10 16:39] galvesribeiro commented on #729
I tried that, and it didn't worked. The way to get around it was to delete the old identity and create a new one with a different name. :/

[2020-08-10 16:40] rlevchenko commented on #729
@aramase I have the same logs in my demo and dev envs. MIC pods are only being failed on the prod where NVA is presented to. I don't access to NVA though. What's a sample request MIC does? just http to the Azure AKS API?

[2020-08-10 16:41] galvesribeiro commented on #730
The identity objects are generated from this helm templates:

[code]

We are monitoring all namespaces. It works across all the namespaces we have today, and the issue also happens across all of them.

[2020-08-10 16:43] aramase commented on #729
@rlevchenko Right, it establishes a connection to the API server using the `KUBERNETES_HOST` env var that's defined in side the MIC pods.

[2020-08-10 16:48] aramase commented on #729
Was the application pod restarted too when you tried restarting NMI?

[2020-08-10 16:54] #718 closed

[2020-08-10 16:57] galvesribeiro commented on #729
Yes, I restarted it after the all the aad-pod-identity pods (not just NMI) were restarted.

Btw, by restart, I meant delete the pods.

[2020-08-10 18:10] chewong commented on #730
Based on your MIC logs, it looks like there is an error when NMI is listing pods - `List pod error: . Retrying, attempt number: 1` but the error wasn't being logged correctly (will open a PR to address that).

Are you using 1.6.2? If not, could you give it a try and see if upgrading aad-pod-identity would resolve the issue?

[2020-08-10 18:12] galvesribeiro commented on #730
We are on 1.6.2. As I mentioned on #729 the only way to get it working was to remove the managed identity, force upgrade the chart, and then redeploy the app using a new managed identity with a new name.

[2020-08-10 18:45] rlevchenko commented on #729
@aramase thanks for the help. It was DNS connectivity problem between aks pools (as expected.). After adding rules to NVA - aad-pod-identity are running fine.

[2020-08-10 18:46] #729 closed

[2020-08-11 08:54] kenans opened #731 "az login --identity returns 'MSI_ENDPOINT' was not found"
**Describe the bug**
Running `az login --identity` within a pod labeled `aadpodidbinding`, it says,
[code]

Note the container base image is debian and I ran apt installed the Azure CLI.

I've checked `nmi` logs and `azureassignedidentities` and they all look good. I also verified that the MSI had been assigned to the cluster VMSS so this shouldn't be problematic either.

I've been using the pod i

[2020-08-11 15:53] chewong commented on #731
Could you run `az login --identity --debug` and also paste the logs of the NMI pod that is running in the same node as your pod?

Yes, aad-pod-identity does allow multiple AzureIdentities assigned to a pod. You can achieve that by using the same `aadpodidbinding` label for all of them.

[2020-08-11 17:26] lpghartz opened #732 "MIC only sporadically assigning identities to pods"
This is a weird issue, so its hard to even figure out where something might be failing. We've been testing aad-pod-identity as part of migrating service hosting for one of our products from Azure ASE to Kubernetes for a few weeks now. The product relies on MSI in ASE, and we needed aad-pod-identity to allow us to access Azure services without having to refactor code, as well as to pull secrets fro

[2020-08-11 17:33] aramase commented on #732
@lpghartz Thank you for opening the issue. Could you post the `AzureIdentity` and `AzureIdentityBinding` yamls that you're using? You could enable verbose logging on the MIC pods `-v=5` to see if MIC is receiving events for the new pods that are being created and deleted.

[2020-08-11 17:43] lpghartz commented on #732
We have two identities we use, which have differing permissions assigned in Azure. Both show the issue.

They're both created like this:
`echo "Applying AzureIdentity to cluster ..."
cat <<EOF | kubectl apply -f -
apiVersion: "aadpodidentity.k8s.io/v1"
kind: AzureIdentity
metadata:
  name: $IDENTITY_NAME
spec:
  type: 0
  resourceID: $IDENTITY_RESOURCE_ID
  clientID: $IDENTITY_CLIENT_ID
---
apiVer

[2020-08-11 17:46] lpghartz commented on #732
Yikes sorry about the weird formatting -- I can't figure out how to get it to not flip out. I guess the code quote stuff doesn't escape things properly.

[2020-08-11 17:49] aramase commented on #732
@lpghartz No worries. I edited the formatting. You can add `-v=6` to the args here for MIC - https://github.com/Azure/aad-pod-identity/blob/master/deploy/infra/deployment-rbac.yaml#L238-L240. That should print out more verbose logs in terms of incoming events.

[2020-08-11 18:07] lpghartz commented on #732
So that generates a MASSIVE amount of logs. I'm not sure what is of interest.

What I do find, though, is that the logs are mentioning the pods that aren't getting identities. For example, in my current cluster instance, I have a pod "apiserver-6fdfb9455c-h7nlb".

Pulling the logs from the active MIC node, and grepping for it, I find:

[code]

It repeats that a lot.

The nodes that have an identit

[2020-08-11 18:14] lpghartz commented on #732
Oh crap, I just realized something with those added logs -- the identities are changing. aadpodidentity is changing when we do a rollout restart of the pods. That's... weird.

So there's something else going on. There is no"cluster-identity". So, other than the potential bug that aad-pod-identity isn't logging an error when something isn't found, this must be related to something else going on.  (

[2020-08-11 18:16] aramase commented on #732
@lpghartz Thank you for the feedback. We'll definitely make some of the logs visible by default instead of the high verbosity level.

[2020-08-11 22:03] galvesribeiro commented on #725
@aramase

I've just tried your steps and it don't work for me :/

NMI keeps looping with whis:

[code]

After that I've just followed the following steps to try get to an stable state:
1. Completely removed the application chart with `helm uninstall`; (only if you are using Helm)
2. Deleted the identity from AAD;
3. Make sure no residual AzureIdentity or binding CRD instances still lingering aroun

[2020-08-11 22:19] aramase commented on #725
@galvesribeiro The error you're seeing is #730 that you already have open. But deleting and re-creating identities with the same name only require the 2 steps I added above. For #730, I was unable to repro the issue.

@chewong is also trying it out on a 1.17.9 cluster with restricted egress.

The NMI pod looks up the pod name and namespace based on the pod IP. It gets the list of pods from the cac

[2020-08-11 22:26] galvesribeiro commented on #725
@aramase but that happens when I remove and try to reinstall the same app (without removing the identity as I mentioned here). I was only able to get it to work following those steps, including kill the NMI pods.

[2020-08-11 22:35] aramase commented on #725
@galvesribeiro Does it always happen when you remove and re-install the app? This is Kubernetes specific error and this shouldn't require deletion and re-creation of identity. Restarting NMI will force client-go to refetch the new cache from the API server. But if you see the error every time you remove and re-install the new app, that could be interesting. When you check the error, can you see th

[2020-08-11 22:55] aramase commented on #675
Thanks for confirming @terrycain! Do you think we can close this issue and re-open if you're able to repro?

[2020-08-11 22:59] galvesribeiro commented on #725
Yep.

I'll try that and report back later on.

[2020-08-12 00:15] galvesribeiro commented on #730
@aramase being back here from your last commend [here](https://github.com/Azure/aad-pod-identity/issues/725#issuecomment-672329075), I've noticed another situation that cause this weird behaviour.

I've just deployed a new application using Helm, which starts with a deployment and 1 pod and a freshy, just created new Azure Identity. It fail with the same error however, if I kill both NMI pods, wai

[2020-08-12 06:44] terrycain commented on #675
Yeah sounds good

[2020-08-12 06:44] #675 closed

[2020-08-12 09:22] kenans commented on #731
Thank you for the response. I just tested with `microsoft/azure-cli` as base image and it works well. But just using `ubuntu` then [installing Azure CLI manaually](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest), it doesn't work. I guess it is either the problem with Azure CLI or with the environment. I'm cool with the issue since I can get it work now.

For

[2020-08-12 16:16] chewong commented on #731
I figured that it'd be an Azure CLI issue.

You would want to create two AzureIdentityBindings, something like this
[code]

[code]

Then, in your pod spec:

In your pod spec, you would have something like:
[code]

[2020-08-13 01:03] marchenm opened #737 "Add `namespace: {{ .Release.Namespace }}` to Helm charts"
**Describe the bug**
When using `helm template  aad-pod-identity aad-pod-identity/aad-pod-identity --namespace non-default | kubectl apply -f -` the namespaced objects are still installed in default.

**Steps To Reproduce**
 `helm template  aad-pod-identity aad-pod-identity/aad-pod-identity --namespace non-default | kubectl apply -f -`

**Expected behavior**
The namespaced objects should be instal

[2020-08-13 10:56] kutsyk-neocles opened #738 "Pod is started before identity is assigned and authentification fails"
Our code is using assigned identity to connect to Azure KeyVault.

From time to time when we redeploy fresh version of the code it fais to connect, writes that there are missing env variables for Azure KeyVault.

After restarting pod(deleting) the one can connect or not, it depends.
We found out that each time on pod destruction and creating object `AzureAssignedIdentity` object is recreated and t

[2020-08-13 11:57] Mandur opened #739 "NMI probes not using http codes"
Hello,

**Describe the bug**
When experimenting with the NMI liveness probes I noticed the [code](https://github.com/Azure/aad-pod-identity/blob/9af68e1addf8a52b5183e5d7f611ed030cc1341f/pkg/probes/probes.go#L15) was not using HTTP error codes to report pod unavailability but rather relied on a "Active" / "Not Active" content as part the answer.

**Expected behavior**
I would have expected that any

[2020-08-13 12:29] jaiawasthi commented on #702
1 probes.go:27] http listen and serve error: listen tcp :8085: bind: address already in use

If i try to use --set nmi.ProbePort="9085" it doesnt update the port it uses
I'm not sure what the issue is.

[2020-08-13 12:49] jaiawasthi opened #740 "unable to setup nmi pods"
1 probes.go:27] http listen and serve error: listen tcp :8085: bind: address already in use

If i try to use --set nmi.probePort=8081 it  updates health endpoint the it uses
the error now is
server.go:98] error creating http server: listen tcp 127.0.0.1:2579: bind: address already in use
cant find any other port param from charts to use

in continuation of https://github.com/Azure/aad-pod-identity

[2020-08-13 16:21] aramase commented on #737
Thank you for the feedback. We'll add the `Release.Namespace` to helm chart.

[2020-08-13 16:22] aramase commented on #740
@jaiawasthi That could mean there is another process on the host running on `2579` or there is another NMI running on the same host which is using the port. Please check if there is another NMI pod and delete if that's the case. Only one NMI pod is required per host.

[2020-08-13 16:29] jaiawasthi commented on #740
Thanks,
aad-pod-identity-nmi-5fswq              0/1     CrashLoopBackOff    49         3h45m
aad-pod-identity-nmi-8mngn              0/1     Error               1          5s
aad-pod-identity-nmi-htxmh              0/1     CrashLoopBackOff    1          9s

I havent changed the default chart parameters, so it shuold still run a single pod per host.
If there is any other process using 2579, is ther

[2020-08-13 16:37] aramase commented on #740
I'm suspecting there is another set of NMI pods that might be running. Could you share the output for `kubectl get pods -A -o wide`?

[2020-08-13 16:45] jaiawasthi commented on #740
jaawasth@blade-jb:~$ kubectl get pods -A -o wide | grep nmi
default       aad-pod-identity-nmi-5fswq                           0/1     CrashLoopBackOff    53         4h7m    10.240.0.5     aks-agentpool-15899284-vmss000001   <none>           <none>
default       aad-pod-identity-nmi-8mngn                           0/1     CrashLoopBackOff    9          21m     10.240.0.4     aks-agentpool-15899284

[2020-08-13 16:48] chewong commented on #738
Hey @kutsyk-neocles, it takes time for a user-assigned identity to get assigned to the underlying node where the pod is running (10-20s for a VM node, 30-40s for a VMSS node), so there might be a brief window between when your app started running and the identity gets assigned, where your app will fail to acquire a token. Since the SDK failed to acquire a token, it falls back to using env variable

[2020-08-13 16:48] aramase commented on #740
@jaiawasthi There is already NMI pods running in all the hosts. Looks like aad-pod-identity is being installed twice here, once with helm charts and other with deployment manifests. Please use one of the deployment ways and remove the duplicate deployment.

[2020-08-13 16:57] chewong commented on #731
Closing this issue for now. Feel free to open a new issue if you have more questions.

[2020-08-13 16:57] #731 closed

[2020-08-13 17:09] jaiawasthi commented on #740
Sorry, i just realized it i deployed it twice, thanks.
Would you happen to know this error which im getting on running nmi pods

W0813 12:11:51.421714       1 iptables.go:123] flushing iptables to add aad-metadata custom chains
W0813 12:55:26.845175       1 client.go:207] list pod error: <nil>. Retrying, attempt number: 1
W0813 12:55:27.145370       1 client.go:207] list pod error: <nil>. Retrying

[2020-08-13 17:13] jaiawasthi commented on #740
it translates to this error while demo
time="2020-08-13T16:31:28Z" level=error msg="testMSIEndpoint failed, <nil>" podip=10.244.0.126 podname=demo podnamespace=demo
time="2020-08-13T16:38:13Z" level=error msg="failed list all vm azure.BearerAuthorizer#WithAuthorization: Failed to refresh the Token for request to https://management.azure.com/subscriptions/bb6612b6-fbba-4bfc-b398-dd093b04bb49/resour

[2020-08-13 17:16] chewong commented on #740
Could you paste the MIC logs?

[2020-08-13 17:17] jaiawasthi commented on #740
jaawasth@blade-jb:~/go/src/hanarp/deploy/osvalidator/scripts/osvalidationservice/helm$ kubectl logs mic-6dbd856ff5-g9sjf
I0813 12:11:51.464254       1 main.go:101] starting mic process. Version: 1.6.2. Build date: 2020-07-24-20:25
W0813 12:11:51.464295       1 main.go:106] --kubeconfig not passed will use InClusterConfig
I0813 12:11:51.464303       1 main.go:123] kubeconfig () cloudconfig (/etc/ku

[2020-08-13 17:32] chewong commented on #740
Did you deploy AzureIdentity and AzureIdentityBinding before creating the demo pod, as per https://github.com/Azure/aad-pod-identity#demo?

[2020-08-13 17:34] jaiawasthi commented on #740
yes, deployed both

[2020-08-13 17:39] chewong commented on #740
If you deploy all three components, you should be able to see additional logs after `I0813 12:12:13.221707 1 mic.go:390] sync thread started.`. Could you ensure that there are more logs after that line?

[2020-08-13 17:41] jaiawasthi commented on #740
Yes, no logs after that, thats the last line `1 mic.go:390] sync thread started.`

[2020-08-13 17:46] aramase commented on #740
@jaiawasthi Can you post the output for `kubectl get azureidentity -o yaml`, `kubectl get azureidentitybinding -o yaml` and `kubectl get pod <demo pod name> -o yaml`?

[2020-08-13 17:50] jaiawasthi commented on #740
apiVersion: v1
items:
- apiVersion: aadpodidentity.k8s.io/v1
  kind: AzureIdentity
  metadata:
    annotations:
      kubectl.kubernetes.io/last-applied-configuration: |
        {"apiVersion":"aadpodidentity.k8s.io/v1","kind":"AzureIdentity","metadata":{"annotations":{},"name":"demo-aad1","namespace":"default"},"spec":{"clientID":"##removed##","clientPassword":{"name":"demo-aad1-sp","namespace":"d

[2020-08-13 17:55] aramase commented on #740
[code]

`azureIdentity` name in binding is `demo`, but the actual AzureIdentity name is `demo-aad1`. Please update the `azureIdentity` in AzureIdentityBinding to `demo-aad1`.

[2020-08-13 18:01] jaiawasthi commented on #740
thanks, it worked :)

[2020-08-13 18:10] aramase commented on #740
Perfect. We are planning to add logs on why the pod is ignored in MIC. That'll be helpful in such scenarios.

Closing this issue as it's resolved. Please feel free to reopen if you have any other issues.

[2020-08-13 18:10] #740 closed

[2020-08-13 22:51] aramase commented on #739
@Mandur Thank you for opening the issue 👍

I believe the reason was for common probe for both NMI and MIC. The status is `200 OK` as soon as the probe server is up and running. `Active/Not Active` provide more detail on the current state of MIC/NMI. In case of MIC, one of the pod is a leader and the other one is backup. In case of MIC, it would always be a `200 OK` so that the backup can keep tryi

[2020-08-14 02:38] #737 closed

[2020-08-14 06:53] kutsyk-neocles commented on #738
Hey @chewong is there an init container for this, or should we create one by ourselves?

[2020-08-14 16:51] chewong commented on #738
We currently don't have an init container for such a scenario, but I'd imagine the init container would be a simple curl to the IMDS endpoint 169.256.169.256 until it returns a 200. See https://docs.microsoft.com/en-us/azure/virtual-machines/linux/instance-metadata-service#accessing-azure-instance-metadata-service for more details.

[2020-08-14 18:28] aramase commented on #723
Synced with @krishnadce offline.

There are `etcdserver: request timed out` errors in API server logs at the same time frame when MIC is forced to restart. Next step is checking with support on why there is a time out error.

[code]

[2020-08-14 20:13] #700 closed

[2020-08-17 17:38] marchenm opened #743 "Update Helm charts to support user managed identity"
**Describe the request**
I'd like to use the Helm Chart with a user managed identity instead of a service principal

**Explain why AAD Pod Identity needs it**
The charts should support the auth methods that AAD Pod Identity supports

**Describe the solution you'd like**
Add values to the charts for a user maanged identity

**Describe alternatives you've considered**

**Additional context**

[2020-08-17 21:52] #727 closed

[2020-08-18 06:30] Mandur commented on #739
Thank you for the quick answer, that make sense. Do I understand correctly that then the NMI probes should never return 'Not Active', but either return 'Active', either timeout?

[2020-08-19 07:07] kutsyk-neocles commented on #738
Hm, that doesn't look proper.
Does it mean we should now work with another server and pay for its availability?
What is a plan for making correct flow for it or exposing some status which can be used with initContainer?

[2020-08-19 16:07] aramase commented on #739
That's right. NMI should always return `Active` or fail to respond. Only if the iptable rules have been successfully added will NMI respond with `Active` status.

[2020-08-19 16:16] BarnumD opened #748 "Failed to get ConfigMap default/aad-pod-identity-config"
After upgrading from 1.5.5 to 1.6.2, I'm receiving the following error.
[code]
Additional Details:
I read the 1.6.0 breaking change notice.  It mentions proper case with things like `AzureIdentity`.  However, my config mappings looked the same as what the current [reference yaml](https://raw.githubusercontent.com/Azure/aad-pod-identity/master/deploy/infra/deployment-rbac.yaml) looks like.  So I wa

[2020-08-19 16:23] aramase commented on #748
@BarnumD When upgrading a newer release, it's recommended to use the yaml manifests from the repo. With 1.6 release, we also updated RBAC permissions to add configmaps - get, create, update - https://github.com/Azure/aad-pod-identity/blob/master/deploy/infra/deployment-rbac.yaml#L182-L184. From the error it looks like the RBAC rules haven't been added. Could you please try with  https://github.com

[2020-08-19 18:09] aramase opened #749 "Ensure stats collector doesn't aggregate stats from multiple runs"
Follow up on https://github.com/Azure/aad-pod-identity/pull/744#pullrequestreview-470646883

[2020-08-19 18:46] BarnumD commented on #748
Thanks.  That was helpful.  However, I have most of those components converted to terraform resources, so I had to compare the yml to those.  Minus one small issue mentioned below, that got it working.
I noticed in my environment that the NMI wouldn't start without `automount_service_account_token  = true` set in the spec of the daemonset.

[2020-08-19 18:46] #748 closed

[2020-08-19 19:30] chewong commented on #738
169.256.169.256 is a well-known IP address that can be accessed only from within the Azure VM instance (instance metadata service or IMDS). You don't have to pay for it. Pod identity obtains a token through http://169.254.169.254/metadata/identity/oauth2/token using the user-assigned identity you bound to your pod and return it to the pod. Now, since there is a delay between when your app started

[2020-08-19 21:05] #714 closed

[2020-08-20 09:35] asumner commented on #639
@aramase Hi, we have random failures of NMI, how do we check if the underlying vm has and assigned identity? (I had to peform an upgrade of all nodes to 1.17.7. pod identity is 1.6.2.)

[2020-08-20 13:44] Mandur commented on #739
Thank you for the information, that make sense, I will close the issue

[2020-08-20 13:44] #739 closed

[2020-08-20 16:49] aramase commented on #639
@asumner What are the random failures you're seeing in NMI? To check if the identity is assigned to the underlying VMSS, run the following command - `az vmss identity show -g <resource group> -n <vmss name>`

[2020-08-20 16:58] asumner commented on #639
@aramase we see the identity is on the vmss, I was wondering if the identity can be seen on the underlying VM itself, unless MIC is assigning the identity via ARM to just the scale set and Azure is assigning the Identity to the VM? As I understand it, the purpose of the NMI is to BLOCK non matching requests to the IMDS on the vm unless MIC via client.go cache has a matching entry for the pod. It w

[2020-08-20 17:04] aramase commented on #639
Identities are only at the scale set level. The identity is assigned to VMSS and is available for use by all the instances.

That is right. NMI looks for an `AzureAssignedIdentity` in `ASSIGNED` state for the pod. It retries for 80s to find one and if not, returns a 404 or 403 error. It doesn't forward the request to IMDS unless an `AzureAssignedIdentity` is found.

NMI adds iptables rules to redi

[2020-08-20 17:24] asumner commented on #639
@aramase Thanks Anish,  We had to study way to hard to come to that conclusion as the documentation and articles don't describe it that way. So, now we really understand how it works we can troubleshoot the NMI 404's, is there any way to increase logging? I didn't see there was anything like the MIC --v=6 etc (we tried ;) )
So we have....
E0817 15:53:51.605717       1 server.go:369] failed to get

[2020-08-20 17:31] aramase commented on #639
This is transient error if API server doesn't provide the new pod in the list of pods for the node. The next time the token was requested, I see the pod name was found `template-manager/test-svc-template-567d69f76d-6jqz4`

This error means MIC has not assigned the identity for this pod. This could be because of 2 reasons:
1. There was an error when assigning the identity for the pod. This should b

[2020-08-20 17:38] asumner commented on #639
@aramase  I will first ensure the node pools are not undersized, we have other timeouts and issues I think, I'll increase CPU's ram etc and double check we are not under resourced then I'll put back the NMI and check all the logs again and let you know what we find. Thanks for your help Anish.

[2020-08-21 17:00] taurit opened #752 "MIC fails on VirtualMachineScaleSetsClient#CreateOrUpdate with 403"
**Describe the bug**

MIC fails on a Virtual Machine Scale Set operation "CreateOrUpdate" with 403 "LinkedAuthorizationFailed".

[code]

The error message is about a lack of access to a subscription which to us seems like a 3rd party subscription (maybe Microsoft's?) where the AKS-Ubuntu image is stored.

![Guid from the error message](https://user-images.githubusercontent.com/7702278/90913680-e27

[2020-08-21 17:50] aramase opened #753 "[Known Issue] LinkedAuthorizationFailed with AKS clusters"
The AKS clusters have switched to using a different os base image as part of the last rollout.

tl;dr **Update to aad-pod-identity version 1.6+**

Releases of `aad-pod-identity` prior to `1.6` used `CreateOrUpdate` API to assign/un-assign identities. This API call requires additional permissions on the new base image subscription and as a result will fail with error -

[code]

With 1.6+ releases o

[2020-08-21 19:35] #752 closed, assigned to nobody

[2020-08-23 16:30] manvkaur opened #756 "Error: unable to build kubernetes objects from release manifest: [unable to recognize "": no matches for kind "AzureIdentity" in version "aadpodidentity.k8s.io/v1", unable to recognize "": no matches for kind "AzureIdentityBinding" in version "aadpodidentity.k8s.io/v1"]"
**Describe the bug**
Using helm 3 to install aad pod identity to kube-system namespace
Getting below error while installing the release "aks-essentials"
Error: unable to build kubernetes objects from release manifest: [unable to recognize "": no matches for kind "AzureIdentity" in version "aadpodidentity.k8s.io/v1", unable to recognize "": no matches for kind "AzureIdentityBinding" in version "aad

[2020-08-24 17:59] chewong commented on #756
Hi @manvkaur, looks like you are using an outdated helm chart. See https://github.com/Azure/aad-pod-identity/tree/master/charts/aad-pod-identity#200 for more details about the breaking change. You might have to create a [`values.yaml`](https://helm.sh/docs/chart_template_guide/values_files/) to include your AzureIdentity and AzureIdentityBinding deployment.

[2020-08-25 23:44] feiyushi opened #760 "autorest/adal starts supporting token request with MSI resource id"
**Describe the request**
module autorest/adal/v0.9.1 starts supporting resource id in the msi token request.
**Explain why AAD Pod Identity needs it**
a refactor of PR #540
**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-08-25 23:48] feiyushi commented on #760
Since I didn't follow on the PR's implementation, this issue may not be anything. Just a notice of sort. Please close if no actions needed.

[2020-08-26 13:31] dsbrng25b opened #761 "nmi returns status 500 with error "failed to match pod IP with []""
**Describe the bug**
We get a "list pod error" but it does not only shows <nil> instead of the error message.
[code]

**Expected behavior**
nmi shows the reason for the error.

**AAD Pod Identity version**
1.6.2

**Kubernetes version**
1.16.13

[2020-08-26 16:05] chewong commented on #761
Hi @dsbrng25b, curious about your AKS cluster setup. Did you limit your cluster's egress traffic? We have been trying to reproduce the problem you are encountering but wasn't able to.

[2020-08-26 16:42] chewong commented on #760
Hi @feiyushi, we started supporting token request with user-assigned identity's resource ID. You could try it by running the following command after setting up your `AzureIdentity` and `AzureIdentityBinding`:

[code]

You should be able to log in via azure-cli and see the following log output:
[code]

[2020-08-26 16:43] #760 closed

[2020-08-26 19:58] lukasmrtvy opened #764 "(feat): structured log"
Would be nice to provide arg option for structured log format ( json )

[2020-08-26 20:26] chewong opened #766 "docs: ensure PR template includes attribution reminders"
See:

https://github.com/openservicemesh/osm/blob/main/.github/pull_request_template.md

[2020-08-26 20:48] chewong commented on #764
Hi @lukasmrtvy, I am curious about what your use case is for structured logs. aad-pod-identity uses [klog](https://github.com/kubernetes/klog), which does not support outputting logs in JSON AFAIK.

However, docker container logs are in JSON format. You can find them in each node at `/var/log/pods/<pod name>/<container name>/0.log`.

[2020-08-26 20:56] lukasmrtvy commented on #764
- For example Splunk can autoindex json ( no need to parse log level, etc.. )
- Structured logs since https://github.com/kubernetes/klog/releases/tag/v2.0.0

[2020-08-26 21:01] chewong commented on #764
Ah okay we are still using klog v1.0.0. I will leave this issue open in our backlog.

[2020-08-26 21:30] #766 closed

[2020-08-26 21:49] asubmani opened #768 "Access Token could not be acquired from IMDS - AKS 1.16.10"
One of our Java/springboot deployments is failing to aquire the token for userAssigned MSI. Other MSI's work fine

**AAD Pod Identity version**: 1.6.0

**Kubernetes version**: 1.16.7

**Additional context**
Using AAD V1 integration for AKS RBAC

## MIC LOGS
[code]
## NMI Logs
[code]

## AzureIdentity yaml

[code]

## AzureIdentityBinding
[code]

[2020-08-26 22:05] chewong commented on #768
Duplicated issue: https://github.com/Azure/aad-pod-identity/issues/681.

@asubmani tl;dr there is an IMDS caching issue that is causing the error above. To confirm if this is an IMDS caching issue, could you follow #606 (comment)?

[2020-08-26 22:05] aramase commented on #768
@asubmani Can you check if the identity that's having issues actually exist on the VM/VMSS? To check that you can run `az vmss identity show -g <resource group> -n <vmss name>`.

[2020-08-27 03:49] #749 closed

[2020-08-27 07:28] dsbrng25b commented on #761
@chewong here you find the answers to your questions. hope this helps. I saw the error for the first time and unfortunately I couldn't see the original error message so it is difficult to reproduce the problem.

no

I guess the cluster got created half a year ago

west europe

one node pool with 3 Standard_D4s_v3 nodes

to create the AzureIdentity and the AzureIdentityBinding we use the following

[2020-08-27 11:00] veboddu opened #770 "nmi pods not able to find the assigned identity and requests fail"
**Describe the bug**
Whenever a new application pod is created, requests from the pod to fetch token fails during initialization.

nmi logs -
[code]

mic logs -
[code]

weirdly, from mic logs, it looks like requests are being raised before identity assignment. This is completely random.

In some cases, even though the identity is assigned, it still fails.

nmi logs -
[code]

mic logs -
[code]

**E

[2020-08-27 13:23] aullom1 commented on #753
What do I do if I get the error

[code]

on newly deployed clusters, but I can't upgrade to 1.6 due to enterprise control of the aad-pod-identity version?  Also, note that this is _not_ VMSS

[2020-08-27 14:39] asubmani commented on #768
The identity does not exist on the VMSS. This is strange as the mic logs indicate that "status is assigned"
I also confirmed the roles for the KUBLET and Cluster MSI.
[code]
[code]
## Verified KUBELET IDENTITY has VM Contributor rights too
[code]
[code]

[2020-08-27 15:39] arianmotamedi opened #771 "Image vulnerabilities in 1.6.2"
**Describe the bug**
Latest (1.6.2) mic and nmi images are being flagged internally (S360) for these two vulnerabilities:

Debian Security Update for apt (DSA 4685-1)
Debian Security Update for gnutls28 (DSA 4697-1)

**Steps To Reproduce**
None - base image vulnerability issue.

**AAD Pod Identity version**
1.6.2

**Kubernetes version**
1.16.10

**Additional context**
How often do the images build

[2020-08-27 16:07] aramase commented on #770
@veboddu When the new pod is deployed, MIC needs to assign the identity for the pod to the underlying VM/VMSS. This assignment time is 10-15s for VMAS and 40-50s for VMSS (this is the cloud VM/VMSS update). Only after MIC has finished assigning the identity will NMI be able to fetch a token for the identity. NMI has internal retries in place (5s x 20) to wait for the identity assignment to complet

[2020-08-27 16:11] asubmani commented on #768
It seems the developers tried deleting, modifying the deployments which caused MIC to be busy. I did a
`kubectl rollout restart deploy mic` will delete the deployment, wait for a bit and then re-deploy

[2020-08-27 20:49] asubmani commented on #768
We fixed this error. This is **not a BUG** in aadpodidentity.

One of the deployments had a corrupted `Azureidentity` where the `ClientID` field was missing due to some error in deploy scripts
Multiple changes to deploymentsdid not help as MIC could not un-assign. The ClientID field existed previously, but in a new pipeline deployment, it got overwritten with a Blank ClientId.
After adding the Cli

[2020-08-27 20:49] #768 closed

[2020-08-28 00:42] ragarcia26 commented on #770
Where would we extend the token request?

[2020-08-28 00:53] ragarcia26 opened #773 "nmi pod throwing 404 error: context canceled"
**Describe the bug**
nmi pod complains about matching identity. Actual application pod missing expected permissions
[code]
**Steps To Reproduce**
Followed guide here https://github.com/Azure/aad-pod-identity and here https://github.com/Azure/aad-pod-identity/blob/master/docs/readmes/README.role-assignment.md#performing-role-assignments to add the extra role assignments to the cluster msi

**AAD Po

[2020-08-28 07:21] bamvenkatesh commented on #770
Thanks @aramase . this could be because of 40-50s delay. We will try to handle this in our application and will open issue, if we see this recur.

And also, doesn't 40-50s is little high? Any reasons for this and any work in progress in bring this down ?

[2020-08-28 16:14] chewong commented on #753
@aullom1 Unfortunately you will need to upgrade pod identity to the latest releaese, which uses `PATCH` to assign / unassign identity from the underling VM / VMSS instead of CreateOrUpdate, which should get rid of the error.

[2020-08-28 16:20] marchenm commented on #743
I didn't deploy the cluster, so I'm not sure on the type of cluster. I did deploy aad-pod-identity using the helm chart with a service principal, but I'd like to use the helm chart and a user managed identity instead.

[2020-08-28 16:38] chewong commented on #743
As I mentioned, you will need a Kubernetes cluster hosted on Azure infrastructure (either an [AKS](https://azure.microsoft.com/en-us/services/kubernetes-service/) or [aks-engine](https://github.com/Azure/aks-engine) cluster) to use aad-pod-identity.

[2020-08-28 16:41] chewong commented on #773
Hi @ragarcia26. Could you share your AzureIdentity and AzureIdentityBinding setup?

[2020-08-28 16:48] chewong commented on #756
Please see the above for resolution. Closing this issue for now but feel free to re-open if you are still experiencing problems.

[2020-08-28 16:48] #756 closed

[2020-08-28 16:52] marchenm commented on #743
The cluster is in Azure. I'm just not sure if the cluster was provisioned with aks-engine or something else.

[2020-08-28 16:54] aramase commented on #770
This is the time the cloud `UPDATE` operations takes in case of VMSS. We will follow up with the VMSS team to check if there is any way this timing can be optimized. Also note, this is only during the first time the identity is being assigned. Subsequent requests for token with this identity will not incur this additional delay.

Closing this issue for now. Please feel free to reopen if you have a

[2020-08-28 16:54] #770 closed

[2020-08-28 16:59] chewong commented on #743
I am assuming it's an AKS cluster. In terms of support for user-assigned identity, you can define multiple user-assigned identities in your helm chart values. See https://github.com/Azure/aad-pod-identity/tree/master/charts/aad-pod-identity#200 for more details.

[2020-08-28 17:08] marchenm commented on #743
Its definitely not an AKS cluster. It might have been deployed using kubespary or so other method. What I'd like to do is use a user managed identity for MIC to auth to azure instead of a service principal. Currently I set the values for `AdminSecret`.

[2020-08-28 17:15] chewong commented on #743
Got it. I don't think aad-pod-identity would work on clusters not created by AKS or aks-engine. That's because aad-pod-identity reads credential from a file located at `/etc/kubernetes/azure.json` stored on each node.

You could try manually creating the file for each of your nodes and see if it would work. You can check out the schema at https://kubernetes-sigs.github.io/cloud-provider-azure/inst

[2020-08-28 17:45] marchenm commented on #743
When using a service principal and `AdminSecret` the helm chart sets the values to the env of the MIC deployment. Would that be possible with a  user managed identity?

[2020-08-28 17:50] chewong commented on #743
Could you try setting the following values and see if it works:
[code]

[2020-08-28 17:51] ragarcia26 commented on #773
We found the direct error to our 404 was due to the matching identity name in the pod label was incorrect! closing this issue as we ultimately were able to get our app running by following the example and debugging.
The issues we ran into were matching up the names correct (we're driving most of this through TF and helmfile) in addition to setting our app's client configuration to match that of th

[2020-08-28 17:51] #773 closed

[2020-08-28 20:29] aramase commented on #761
@dsbrng25b Did the pod token request succeed in the next attempt?

[2020-08-28 21:41] aramase opened #775 "Set dnsPolicy ClusterFirstWithHostNet for NMI daemonset"
**Describe the request**
Set `dnsPolicy: ClusterFirstWithHostNet` for NMI daemonset

**Explain why AAD Pod Identity needs it**
Ref: https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/

[code]

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-08-29 08:36] manvkaur commented on #756
Hi @chewong , I did have values.yaml. I was missing crds folder and respective yaml in that. After adding that, helm chart installed successfully.

[2020-08-31 18:50] aramase commented on #723
@krishnadce Did you check with support on what the issue was? Could you add a note here on what the support folks responded with? It'll be helpful for other users who come across the same issue.

Closing this issue for now. Please feel free to reopen if you have any questions.

[2020-08-31 18:50] #723 closed

[2020-08-31 19:48] #677 closed

[2020-08-31 20:06] #445 closed

[2020-08-31 20:15] chewong commented on #743
@marchenm does it work?

[2020-08-31 20:17] #647 closed

[2020-08-31 20:20] chewong commented on #738
@kutsyk-neocles any update on this issue?

[2020-08-31 20:33] kutsyk-neocles commented on #738
Yeah, we didn't go that way as it requires over-engineering simple thing, instead we just implemented retry in our code

[2020-08-31 20:42] #775 closed

[2020-08-31 21:10] marchenm commented on #743
Sorry, I didn't get a chance to try it yet. Once I'll try it, I'll let you know.

[2020-08-31 21:25] chewong commented on #738
Sounds good. Closing this issue for now but feel free to open a new issue if you have any questions.

[2020-08-31 21:25] #738 closed

[2020-09-01 09:16] mo-saeed commented on #542
Hello, is there any solution for this ?

[2020-09-01 14:25] krishnadce commented on #723
@aramase The support didn't find the root cause yet and the MIC pod is still restarting. They found that AKS has updated pods running in the master nodes that are maintained by Azure on a later date. And the health check shows healthy. But they could not explain how this caused the API Server/etcd operator errors.  I will update this thread once they found the cause.

`2020-08-14 13:18:20.0000000

[2020-09-01 14:34] sousadax12 opened #778 "Identity not found"
Hello,

I have an AKS cluster with 2 nodes and also with a managed identity.
I am getting the following error:

[code]

To set up the AAD Pod Identity I made the flowing steps:

- Install helm chart: helm install aad-pod-identity  aad-pod-identity/aad-pod-identity --version "1.6.0"

- Apply pod_identity_and_binding.yaml

[code]

- When I tried to debug by doing the debug steps it just can not logi

[2020-09-01 15:45] chewong commented on #542
@mo-saeed you could see https://github.com/Azure/aad-pod-identity/issues/722#issuecomment-667243590 on how to set up pod identity for (Cron)Jobs.

[2020-09-01 16:11] chewong commented on #778
Hi @sousadax12, based on your logs, it looks like MIC wasn't able to authenticate with Azure. Are you using an AKS cluster with service principal or managed identity?

[2020-09-01 16:11] aramase commented on #778
@sousadax12 From the logs you posted looks like MIC is unable to assign the identity to the underlying VMSS because it's unable to get a token for the kubelet identity to use for communication with Azure. Can you check the redacted `clientID` printed at the top of the logs? And then check if that identity does exist on the vmss by running `az vmss identity show -g < rg> -n <vmss name>`?

[2020-09-01 16:16] sousadax12 commented on #778
Thanks @aramase

this is what i got:
[code]

[2020-09-01 16:19] aramase commented on #778
@sousadax12 Could you also post the first few lines of the MIC logs which shows the redact credentials being used for authentication? Is the AKS cluster using service principal or managed identity?

[2020-09-01 21:55] billpieper commented on #761
I have experienced this same issue today with two different AKS clusters.  Both seemed to happen in the situation where during a deployment, the cluster auto scaling added a node to the cluster during deployment of an updated helm chart for our app.

The problem did correct itself -- but it took a quite a few minutes to do so.  I captured the pod log from the nmi pod on the node where the issue wa

[2020-09-01 21:57] marchenm commented on #743
When specifying MSI I get a 400 error with "Application with identifier 'msi' not found in the directory <my tenant ID>. This can happen if the application has not been installed by the administrator of the tenant or consented to by any user in the tenant. You may have sent your authentication request to the wrong tenant."

[2020-09-01 22:12] aramase commented on #761
@billpieper This looks like an issue with the api server not able to respond to the request -
[code]

After the connection timed out, it was reset and that resolved the issue.

[2020-09-01 22:56] chewong commented on #743
Could you try adding the following environment variable in your MIC deployment:
[code]

Basically in https://github.com/Azure/aad-pod-identity/blob/master/pkg/cloudprovider/cloudprovider.go#L81-L90, `AdminSecret`got converted to environment variables except for the two env var above. Please let me know if it works.

[2020-09-02 00:29] chewong opened #780 "[Known Issue] nmi returns status 500 with list pod error"
**Steps To Reproduce**

1. Follow https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic to create an AKS cluster with limited egress traffic.
2. Deploy aad-pod-identity.
3. Wait for a while (10min - 60min) without deploying anything.
4. Deploy the demo.
5. NMI returns status 500 with the following error
[code]

**Expected behavior**

NMI returns a token with status 200.

**Root cause**
T

[2020-09-02 00:31] chewong commented on #761
Closing this issue in favor of #780.

[2020-09-02 00:31] #761 closed

[2020-09-02 00:31] chewong commented on #730
Closing this issue in favor of #780.

[2020-09-02 00:31] #730 closed

[2020-09-02 08:48] mancaus commented on #780
FYI, we're experiencing this also. Some of my investigation took me to this k8s issue which relates to the go client library and various related services being unable to recover cleanly from timeouts during long-lived watches.

- https://github.com/kubernetes/kubernetes/issues/65012

I notice that a more recent version of the go k8s client library (0.17.5+) includes a potential fix for this (https

[2020-09-02 15:54] aramase commented on #780
@mancaus Thank you for the pointer. We came across the same thread too and even tried the latest versions of client-go. However the issue here seems to be because there is no TCP RST, the connection just hangs and the watch never terminates.

Are you seeing this issue with `aad-pod-identity` or with a different app using client-go?

[2020-09-02 16:40] mancaus commented on #780
Thanks. We're seeing errors obtaining tokens when pod identity is deployed. The logs are similar to here: https://github.com/Azure/aad-pod-identity/issues/730#issuecomment-672389971

The NMI's pod informer seems to not see updates for the pods added by our deployment, which I suspect is related to this issue.

We also have issues with Tiller hanging after some time, which we think may have the sam

[2020-09-02 17:44] marchenm commented on #743
That worked. Thanks for the assistance. Can that be added to the helm chart?

[2020-09-02 17:47] chewong commented on #743
Sure, would you like to open a PR?

[2020-09-02 23:44] chewong commented on #614
Hi @asubmani, sorry for the late reply. As far as I can tell, I don't think managed AAD and aad-pod-identity interfere with each other. Feel free to open an issue at https://github.com/Azure/AKS/issues or here if you are experiencing any problems.

[2020-09-02 23:44] #614 closed

[2020-09-02 23:48] chewong commented on #105
Closing this issue as there is no further discussion. As @khenidak mentioned, aad-pod-identity works on a pod level (we use pod IP address to identify the caller who requests an AAD token from IMDS, and there is no way to know which container the request is originated from). I don't think we could support that with our current design.

[2020-09-02 23:48] #105 closed

[2020-09-02 23:51] chewong opened #782 "docs: use static site generator for documentation"

[2020-09-03 11:18] wi5nia commented on #752
@aramase - but "sending a note to customers" how you define "customers" here? Who should receive this email? In our organization from me and @taurit are with the EA agreement, 150+ Azure Subscriptions the question is - who should receive this notification?

[2020-09-03 19:30] #743 closed

[2020-09-03 23:26] chewong commented on #771
Hi @arianmotamedi, I opened https://github.com/Azure/aad-pod-identity/pull/783 to address those vulnerabilities. I also noticed in S360 that most of the images that got flagged are created during our e2e test pipelines, which are deleted right after the test is finished running.

[2020-09-03 23:45] arianmotamedi commented on #771
Thanks Ernest! I'll keep watching the status of this PR. S360 is flagging official images for us, and they're out of compliance. Hopefully we can get this in soon :)

[2020-09-04 17:58] #771 closed

[2020-09-08 15:28] arianmotamedi commented on #771
Hey @chewong, it doesn't look like the official images for mic and nmi in mcr.microsoft.com/k8s/aad-pod-identity were built using the latest base image. Can you trigger a build please?

[2020-09-08 16:39] davejhahn opened #784 "aad-pod-identity-nmi crashing under AKS-managed Azure Active Directory"
**Describe The Problem***
I'm testing changing to AKS managed Azure Active Directory for RBAC.   The first thing I tried deploying was AAD Pod Identity.  Although the aad-pod-identity-mic pods stay running, the aad-pod-identity-nmi pods crash.

**Steps To Reproduce**
Enable RBAC and AKS-managed Azure Active Directory for your AKS cluster.  Deploy aad-pod-identity.

**Expected behavior**
AAD-Pod id

[2020-09-08 16:41] davejhahn commented on #784
Ah, there is an RBAC configuration for AAD pod.....going to go through and try that.

[2020-09-08 16:46] davejhahn commented on #784
Up and running with rbac.enabled=true !

[2020-09-08 16:46] #784 closed

[2020-09-08 16:51] chewong commented on #771
We are planning to include the base image change in our next release (v1.6.3) and not planning to overwrite/rebuild old images. We will advise users to upgrade to v1.6.3 to avoid those vulnerabilities. Please let me know if you have any concern on this.

[2020-09-08 17:18] arianmotamedi commented on #771
When will 1.6.3 be released? Asking because we'd need this information if we need to get an exception for the flagged vulnerabilities since they're out of SLA :-)

[2020-09-08 17:28] chewong commented on #771
We are expecting to release v1.6.3 by the end of this week

[2020-09-08 21:45] #725 closed

[2020-09-08 23:30] #732 closed

[2020-09-09 07:35] schwarzzz opened #788 "AuthorizationFailed for VMSS/write"
Not sure if this is a bug or not...
I'm trying to get Azure Ingress Controller (AGIC) with aad-pod-identity up and running.

- I have an AKS cluster (v 1.16.13) with managed AAD integration
- I have installed aad-pod-identity 1.6.2 (installed via aad-pod-identity-2.0.1.tgz helm chart) without any configuration parameters set

The `mic` and `nmi` pods start up just fine.

Then I install AGIC using

[2020-09-09 12:22] schwarzzz commented on #788
Nevermind. Finally got it working. It looks like the User Assigned Identity of the AKS nodepool required the `Managed Identity Operator` role on the `MC_` resource group

[2020-09-09 12:22] #788 closed

[2020-09-10 01:33] #106 closed

[2020-09-10 01:33] #374 closed

[2020-09-10 08:17] pvmraghunandan commented on #778
Got the same error. In my case, I am using MSI Id with name having "<clustername>-agentpool". The error in logs are different each time. One of the error is "LinkedAuthorizationFailed" and probing continues. I tried checking role assignments & explicitly added "Managed Identity Contributor" permission. This happens when we create brand new cluster with MSI enabled in Azure Portal and then installi

[2020-09-10 11:27] dsbrng25b opened #789 "MIC Update VMSS future.WaitForCompletionRef times out"
**Describe the bug**
When a service calls NMI it hangs for about 80 seconds and then gets back a HTTP 404 error. In the NMI Log we get a lot of these errors:
[code]
Sometimes the error look like this (ASSIGNED instead of CREATED state):
[code]
Unfortunately there is no error message what's causing this problem.

In the logs of MIC about every 15 minutes we see this error:
[code]
So it seems that t

[2020-09-10 14:07] dsbrng25b commented on #789
Here you find some more logs from NMI:
[code]

When a service calls NMI it hangs for about 80 seconds and then gets back a HTTP 404 error.

[2020-09-10 16:10] aramase commented on #778
Are you explicitly assigning the `-agentpool` user-assigned managed identity to the underlying VMSS? `aad-pod-identity` uses the underlying agent pool managed identity/ service principal for authentication with Azure. When an AKS cluster is created with managed identity, an identity with `<clustername>-agentpool` is created and assigned to the agent pool for Azure operations. If that identity is m

[2020-09-10 16:13] aramase commented on #789
@dsbrng25b Is this the `aks-default-18399963-vmss` VMSS that's in `Updating (Running)` state? If it is, then that could be the issue where all VMSS API calls are failing because the state is `Updating`. The default context value is configured in the SDK. If the VMSS state doesn't become `Running`, I would recommend checking with the AKS team on steps to mitigate that.

[2020-09-10 16:47] chewong commented on #778
@pvmraghunandan could you try assigning *Managed Identity Operator* instead of Managed Identity Contributor?

[2020-09-11 08:35] pvmraghunandan commented on #778
@aramase  / @chewong , after troubleshooting i found that "agent pool" identity is not being added to VMSS under "user assigned". We tried setting the permissions to "Contributor" but still we are seeing error logs as "failed". When we explicitly added to VMSS, it worked.

![image](https://user-images.githubusercontent.com/7496232/92894030-ddd00e80-f437-11ea-82fa-c50e56451cf1.png)

For testing, we

[2020-09-11 09:33] dsbrng25b commented on #789
In the mean time we could resolve the probelem by removing one node from the VMSS and add another one. It seems that one node of our VMSS was in a strange state (`Updating (Running)`). The node was running (it was Ready in AKS, and workload could be scheduled on it) but probably this strange state leds to the problem that the VMSS could not be updated resp. the the wait for the successful update t

[2020-09-11 16:32] chewong commented on #778
@pvmraghunandan as per my previous comment, could you assign your cluster identity/service principal "Managed Identity Operator" role to your user-assigned identity and try again? "Contributor" does not have the permission to perform `Microsoft.ManagedIdentity/userAssignedIdentities/*/assign/action`.

[2020-09-11 17:21] pvmraghunandan commented on #778
@chewong sure. I will try and update. But wondering how just having "Reader" permissions worked in new cluster. Any idea?

[2020-09-11 17:29] chewong commented on #778
Having Reader Permission would not work. You can check out to see https://github.com/Azure/aad-pod-identity/blob/master/docs/readmes/README.role-assignment.md#performing-role-assignments for all the necessary role assignments.

[2020-09-11 17:30] pvmraghunandan commented on #778
@chewong interesting!! it worked in my case. Wondering how..

[2020-09-11 17:37] chewong commented on #778
Are you looking at the correct service principal/cluster identity? I can confirm that if service principal/cluster identity does not have "managed identity operator" role to the user-assigned identity and "virtual machine contributor" to the VM/VMSS instance, it would not work.

[2020-09-11 17:37] aramase commented on #789
The `future.WaitForCompletionRef` is to ensure the request succeeded and the identity is in fact assigned to the underlying node before we set the status to `Assigned`. If this is skipped and the background identity assignment call fails, NMI will keep forwarding the request to IMDS and IMDS would return with `identity not found` errors. This will make the token request calls non-deterministic and

[2020-09-11 18:34] pvmraghunandan commented on #778
Ok. I am checking permissions on MC_ resource group level. Will check once on VMSS level

[2020-09-11 20:46] orsharab opened #792 "Is it possible for a pod to use multiple identities while a different pod uses only 1 of them?"
**Describe the bug**
It says [here](https://github.com/Azure/aad-pod-identity/blob/e95ed2767c032805773eb78b84b5a48ee6844148/docs/readmes/README.best-practices.md#a-pod-using-multiple-azureidentities) that it's possible for a pod to use multiple identities, but what if a different pod need only one of the identities? do I have to create another identity binding for this?

I would like to match betw

[2020-09-13 08:39] #792 closed

[2020-09-14 04:58] chewong commented on #792
Hi @orsharab, AzureIdentity and AzureIdentityBinding have a 1:1 relationship, i.e. you should create an AzureIdentityBinding for each AzureIdentity you created. Then you can combine them by defining the same selector in your AzureIdentityBindings.

[2020-09-14 09:12] pvmraghunandan commented on #778
@chewong here is the screenshot from cluster that AAD Pod Identity is working. I confirmed with new cluster also

![image](https://user-images.githubusercontent.com/7496232/93067042-56350a80-f698-11ea-852d-18d853056854.png)

[2020-09-14 16:33] chewong commented on #778
It works because the agentpool user-assigned identity is already assigned to your VMSS and there is no action for MIC to take.

I noticed in https://github.com/Azure/aad-pod-identity/issues/778#issuecomment-684973629 that your agentpool identity was not assigned to your VMSS instance initially. Did you manually unassign it? The reason why you are encountering `Identity not found` error is because

[2020-09-14 17:27] pvmraghunandan commented on #778
@chewong  Regarding previous comment, i did it as part of troubleshooting. With brand new cluster and just enabling Reader to MSI App, it worked. That's the confusion.

[2020-09-14 17:48] chewong commented on #503
Fixed internally. Closing this issue for now but feel free to re-open if you are still experiencing this problem.

[2020-09-14 17:48] #503 closed

[2020-09-14 23:57] chewong opened #794 "ci: include image scanning as part of CI"

[2020-09-15 03:54] chewong commented on #778
when you mentioned it worked, are you referring to the demo, or the error message that you were experiencing above disappeared?

[2020-09-15 13:18] pvmraghunandan commented on #778
Error Message disappeared.

[2020-09-15 13:36] pvmraghunandan commented on #778
@chewong  for clarity, i am re-iterating the steps done.

1. Create new AKS Cluster with **_"System Assigned Managed Identity"_** enabled from Azure Portal
2. Grab the Client Id of MSI using _"az aks show"_ command
3. Navigate to **"MS_** resource group related to cluster and add _**"Reader**_ role to the Managed Identity created by default. (Name ends with -agentpool)
4. Install AAD Pod Identity

[2020-09-15 15:15] phillipgibson opened #795 "Create a documentation site for AAD Pod Identity"
We will be creating a documentation site for AAD Pod Identity

This will allow users to more clearly navigate the repo content.

This will be a static web site containing all the documentation

[2020-09-15 16:48] chewong commented on #778
Have you tried out the demo at https://github.com/Azure/aad-pod-identity#demo? I got the following error when following your steps + demo as expected:
[code]

[2020-09-15 16:51] chewong commented on #778
I see where the confusion is. The client ID from `az aks show` and the client ID of the managed Identity created by default (Name ends with -agentpool) is the same. AKS uses the -agentpool as the cluster identity. So I am suspecting that step 3 is unnecessary.

[2020-09-15 17:08] chewong commented on #782
Duplicate of #795

[2020-09-15 17:08] #782 closed

[2020-09-15 17:50] andreycpp commented on #780
@chewong If I understood things correctly, this looks to be expected behavior where long-lived connections w/o active traffic are hitting TCP Idle timeout on Azure Firewall (which is 4 minutes) and are dropped by firewall. This is documented here: https://docs.microsoft.com/en-us/azure/firewall/firewall-faq#what-is-the-tcp-idle-timeout-for-azure-firewall

Most common way to address this industry s

[2020-09-15 17:57] aramase commented on #780
@andreycpp This configuration would need to be in the `client-go` library which we can't currently tune. The issue however is with not receiving a TCP RST when the connection is dropped. If there is a TCP RST, then the client will reestablish the connection.

[2020-09-15 20:31] galvesribeiro commented on #780
@andreycpp

The standard is to drop idle connections, indeed. But with the drop goes a RST, which in our case, isn't being sent while in all other firewalls it does...

[2020-09-16 09:21] dsbrng25b commented on #789
Sure, the VMSS should not behave like this. I'm currently in contact with the support and they try to figure out how our VMSS got into this state.
But never the less I would appreciate if aad-pod-identity would be less prone to such problems if this could be achieved with some changes.

My idea is that NMI would do the retry and not the application. So NMI should try to get the token (retry if 404

[2020-09-16 16:29] gregberns commented on #532
I am onboarding to AKS and using Terraform for **all** infrastructure. aad-pod-identity is a part of the infrastructure that I'd like to bake in to the Terraform process - its distinctly separate from application deployment. Though I'm only on day two of looking at this project, from what I see now it would be really helpful to have good support for declaritive automation of the process.

cc: @cwo

[2020-09-16 17:56] arianmotamedi commented on #771
Hey @chewong, I see that 1.6.3 is released, but doesn't look like its image is pushed to mcr:

[code]

Could you take a look please?

[2020-09-16 21:10] chewong commented on #771
We have moved the images to a different repo. Could you try mcr.microsoft.com/oss/azure/aad-pod-identity/nmi:v1.6.3?

[2020-09-17 19:09] gregberns opened #798 "Example: Automate Setup with Terraform"
This is an informational issue.

Below is an example of how to get this project created and managed using Terraform. It does have a couple ideas baked in - like you'll be using a managed identity to access the Azure resources.

Using jumping in with this, you may want to consider going through the Demo so you have a deeper understanding of what all is involved.

The output of this module is a `dem

[2020-09-17 19:11] gregberns commented on #532
I've added an example of a basic Terraform configuration if anyone landing here is interested. See: #798

[2020-09-17 19:12] #798 closed

[2020-09-17 23:39] andreycpp commented on #780
The TCP keep alives can be set up on AKS nodes themselves.

Azure Firewall itself does not send RST on idle connections today, but you can configure AKS LB with this feature: https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-tcp-reset

[2020-09-17 23:44] andreycpp commented on #780
Actually, this wont help for AKS app establishing connections to Internet as these connections dont go via AKS LB.

This would be a solution for connections coming from Internet into AKS (via Firewall).

[2020-09-18 02:31] leeeennyy commented on #753
Hi @aramase , do you know which base images for AKS VMSS will AAD Pod Identity < 1.6+ have trouble with?

[2020-09-18 08:08] krishnadce commented on #723
There is an update from Azure support. They found that AAD PodIdentity MIC pod restart 2 seconds after etcd timeout errors.  He confirmed that it's normal to occasionally have timeout in apiserver and it won't affect any performance. They have plans to improve etcd performance.
His suggestion is not let timeout to restart your pod or at least retry.

[2020-09-18 14:41] aullom1 commented on #753
@leeeennyy I can't say for certain, but one thing that appears to make a difference is how the base image is specified for the node pool VMS.  You can have the MSI and pod identity properly configured, but if the VM image is specified as shown below, the whole thing will fail, and it will present itself as an improperly configured MSI.

Does not work:
[code]

Works as expected:
[code]

I don't kno

[2020-09-18 19:02] aramase commented on #780
@andreycpp We did try with those values previously as part of our tests, but the issue still persists.

[2020-09-21 01:43] zhiweiv opened #799 "nmi restarts often"
**Have you**

- [x ] Read [Troubleshooting Guide](../../docs/readmes/README.troubleshooting.md)
- [x ] Read [Known Issues](../../docs/readmes/README.known-issues.md)
- [x ] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
Some of nmi pod restart often, for example:
[code]

[code]

**Steps To Reproduce**
Deploy aad pod identity, check the restart c

[2020-09-21 05:23] chewong commented on #799
Could you share the logs before the NMI pod restarted by running `kubectl logs -p nmi-hqp8w`?

[2020-09-21 08:01] zhiweiv commented on #799
[code]

[2020-09-21 16:57] chewong commented on #799
I see a lot of 404s, which means that NMI failed to find an `AzureIdentity` that matched with your workload. Could you also paste the MIC logs?

[2020-09-21 17:03] aramase commented on #799
@zhiweiv For aks clusters, the following yaml also needs to be deployed as documented -

[code]

This exception file is required for AKS addons to bypass aad-pod-identity for token requests. `omsagent` is an AKS addon.

Also, you mentioned you're running 1.6.2, but the logs for NMI pod are showing -
[code]

The constant restarts could be because the health check port isn't configured right. Please

[2020-09-21 18:39] lbicknese opened #800 "Demo app does not work on reinstall"
**Have you**

- [x] Read [Troubleshooting Guide](../../docs/readmes/README.troubleshooting.md)
- [x] Read [Known Issues](../../docs/readmes/README.known-issues.md)
- [x] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**

Follwed the install instructions in the [README](https://github.com/Azure/aad-pod-identity). After installing it appeared to work

[2020-09-21 18:48] aramase commented on #800
@lbicknese Could you check the MIC pod logs for errors? The `AzureAssignedIdentity` is in Created which could mean there were errors during identity assignment.

[2020-09-21 21:02] lbicknese commented on #800
There are errors in one of the MIC pods. I've attached the logs from the pod.

[logs-from-mic-in-aad-pod-identity-mic-64f845d78d-dkz2p.txt](https://github.com/Azure/aad-pod-identity/files/5258114/logs-from-mic-in-aad-pod-identity-mic-64f845d78d-dkz2p.txt)

[2020-09-21 22:30] aramase commented on #800
@lbicknese Looks like you're using the kubelet-identity as an identity for your demo pod -
[code]

All control plane components running on the worker node use the kubelet identity to interact with Azure. Typically the identity used by applications is different from the kubelet identity. MIC assigns and un-assigns identities when the pod using it is created/deleted. In this case MIC deleted the kub

[2020-09-21 22:32] aramase commented on #800
cc @Miwithro

[2020-09-21 22:44] aramase commented on #753
@leeeennyy As @aullom1 posted, it is for the base images hosted in
[code]

The cluster SP/managed identity doesn't have access to that subscription and aad-pod-identity < `1.6` release will fail because of insufficient permissions.

[2020-09-21 23:31] leeeennyy commented on #753
Okay, sweet as @aullom1 @aramase I was just wondering because I still have some running on 1.16 of kubernetes, but I've started the process of upgrading pod identity and kubes version. Thanks for your help. 👍

[2020-09-22 01:27] zhiweiv commented on #799
I upgraded to 1.6.3 and deployed mic-exception.yaml,
[code]
I will monitor if it helps.

[2020-09-22 12:59] lbicknese commented on #800
@aramase You are correct I used the kubelet identity. I definitely can use a different identity in my case. However, I'm not sure how to re-assign the cluster identity manually. I can still see the identity in my managed identities and the roles assigned. Any suggestions on what I need to do to re-assign? Or would I be better off rebuilding a new cluster? Thanks for your help.

[2020-09-22 15:39] prabhakarreddy1234 opened #804 "Unable to connect to App Configuration using MSI with Pod Identity"
I've AKS cluster in production with Pod identity configured. Few pods are able to connect to keyvault and get secrets using pod identity. Now i'm trying to connect to App Configuration using the same pod identity but not been successful.

The error i get is as below

[code]

I don't see any errors in NMI logs though.
[code]

**Steps To Reproduce**

1. Create an AKS Cluster
2. Setup pod identity wi

[2020-09-22 15:42] chewong commented on #804
MIC runs as a deployment with 2 replicas. Could you provide the MIC for the other MIC pod?

[2020-09-22 15:59] prabhakarreddy1234 commented on #804
[mic.txt](https://github.com/Azure/aad-pod-identity/files/5262630/mic.txt)

Attached are the logs for the other MIC pod.

[2020-09-22 16:49] lbicknese commented on #800
@aramase I created a new cluster and created a new identity this time. However, I am still getting an error.

[code]

I am creating the "Managed Identity Operator" and "Virtual Machine Contributor" for the kubelet identity as defined in https://github.com/Azure/aad-pod-identity/blob/master/hack/role-assignment.sh.

I created the new Identity and assigned "Reader" to the identity resource group as

[2020-09-22 16:52] chewong commented on #804
I don't see any errors based on your MIC. Could you check the logs of your C# code to ensure that it was able to fetch an access token? You can also check that NMI successfully returned an access token by checking the logs of the NMI pod that was scheduled in the same node as your workload and ensuring that it returned a status 200 when your pod (identified by the pod IP) requested a token? If so,

[2020-09-22 16:53] aramase commented on #800
@lbicknese If the identity is not in `MC_` resource group, then you would need to assign `Managed Identity Operator` role to the identity resource group as well - https://github.com/Azure/aad-pod-identity/blob/master/hack/role-assignment.sh#L28-L32.

This is a detailed doc for all the required role assignments - https://github.com/Azure/aad-pod-identity/blob/master/docs/readmes/README.role-assignm

[2020-09-22 16:59] miwithro opened #805 "Add "User" field to aad-pod-identity images"
Currently there is no USER= in the add-pod-identity image.   When CIS scans are ran against an image without a User field the image is flagged for a HIGH Compliance issue as this represents a compromise.

In order to remediate a User filed must be added to this image.  Steps to follow.

[2020-09-22 17:00] jchauncey commented on #805
[code]

[2020-09-22 17:01] jchauncey commented on #805
Also thoughts on movign to distroless/static:nonroot?

[2020-09-22 17:07] lbicknese commented on #800
@aramase I reviewed my commands, and I accidentally used <RESOURCE_GROUP> when creating my new identity. I created the "Managed Identity Operator" as described in the documentation for <RESOURCE_GROUP>. The demo pod is now reporting as expected. I really appreciate your help with all of this. Thank you.

[2020-09-22 17:21] aramase commented on #800
@lbicknese Glad it's working! I'm going to keep this issue open so we can get a response from the AKS team on why the kubelet identity wasn't reconciled after it was deleted in your previous cluster.

[2020-09-22 22:53] chewong commented on #805
We have a dependency on `iptables` for one of our images. Is there a workaround for that if we were to switch to distroless/static:nonroot?

[2020-09-23 09:30] prabhakarreddy1234 commented on #804
I can't find token calls for the resource app configuration in NMI. So probably C# code isn't making a call to fetch token.  I do see below errors in the pod logs.

[code]
I'm seeing this error as well in pod logs which is related. It's so strange.

[code]

In NMI logs, i see this.
`
 matched identityType:0 clientid:80a6##### REDACTED #####904f resource:https://vault.azure.net`

Should i be expect

[2020-09-23 17:08] chewong commented on #804
After taking a second look at the tutorial, I noticed that it's using system-assigned identity. You might need to add a pod identity exception for your workload by following https://github.com/Azure/aad-pod-identity/blob/master/docs/readmes/README.app-exception.md so that it can fetch an access token with system-assigned identity.

[2020-09-23 18:10] prabhakarreddy1234 commented on #804
Thanks @chewong  i will give it a try. So a pod cannot get token with both user assigned identity and system assigned identity. Currently the pod is fetching token for keyvault correctly through user assigned identity. If i add pod exception to that pod then probably it won't be able to access keyvault anymore unless i change code to use system assigned identity to access keyvault.

[2020-09-23 18:38] chewong commented on #804
You could use both user-assigned identity and system-assigned identity at the same time. You will need to specify the client ID of the identity you'd like to use when making your requests. However, with pod identity exception defined, NMI will not check whether you have defined the identity you used in your request as an AzureIdentity CRD.

[2020-09-23 19:30] nmiodice commented on #684
For any curious readers... This issue has nothing to do with `aad-pod-identity` but I've been asked a few times (and referred back to this GH issue) so I'll post this here:

**Root Cause**
The issue surfaced because of a credential caching issue in the underlying kubernetes codebase. At a high level, the credentials for a Managed Identity ACR would be wiped out from the cache in the case that an i

[2020-09-23 23:16] chewong opened #806 "[flake] "should not unassign existing identity if we assign invalid identities" causes VMAS throttling"
https://dev.azure.com/azure/aad-pod-identity/_build/results?buildId=14761&view=logs&jobId=196c4937-6990-58b5-7d18-234ac2f0888b&j=196c4937-6990-58b5-7d18-234ac2f0888b&t=f7eebd4b-fae1-58a4-f934-92369b6a03b3

[2020-09-24 10:49] zhiweiv commented on #799
It looks good for now after upgrade, close this.

[2020-09-24 16:19] aramase commented on #800
@miwithro Did you get a chance to look at this?

[2020-09-24 16:59] chewong opened #807 "e2e: health check with podIP from the busybox container"
_Originally posted by @aramase in https://github.com/Azure/aad-pod-identity/pull/803#discussion_r494466808_

[2020-09-24 16:59] #794 closed

[2020-09-24 16:59] #805 closed

[2020-09-24 18:53] miwithro commented on #800
@bingosummer can you verify?

[2020-09-28 01:33] zhiweiv commented on #799
@aramase
Seems the nmi hang at **flushing iptables to add aad-metadata custom chains**, then restarted by liveness probe after 20~30 seconds. Reboot VM should work, anything I can collect to further check?

I0928 01:30:43.355410       1 main.go:61] starting nmi process. Version: v1.6.3. Build date: 2020-09-15-21:07.
I0928 01:30:43.882775       1 crd.go:446] CRD lite informers started
I0928 01:30:4

[2020-09-28 01:41] zhiweiv commented on #799
Please ignore last comment, seems there is something wrong of the linux node or kubelet, all pods in this node are probe error.

[2020-09-28 01:41] #799 closed

[2020-09-30 05:25] francescocristallo opened #811 "Error creating http server: address already in use"
I followed the Readme installation multiple times for days, but I'm unable to make pod-identity work.
My steps:

1. Created a new AKS Cluster version 1.18.8, 1 Node Pool, all default parameters
2. Assigned Roles and Deployed pod identity using Helm 3
3. Created new Identity
4. Assigned reader role
5. Deployed AzureIdentity and Azure IdentityBinding
6. Deployed Demo

I did this moltiple times with

[2020-09-30 15:32] chewong commented on #811
Looks like you have two aad-pod-identity deployments, one from the deployment YAML and one from helm chart. Could you uninstall one of them and try again?

[2020-09-30 19:03] aramase opened #812 "goreport showing F because of error accessing repo"
**Have you**

- [ ] Read [Troubleshooting Guide](../../docs/readmes/README.troubleshooting.md)
- [ ] Read [Known Issues](../../docs/readmes/README.known-issues.md)
- [ ] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
Related to this issue - https://github.com/gojp/goreportcard/issues/328

**Steps To Reproduce**

**Expected behavior**

**AAD Pod

[2020-09-30 19:14] JohnGalt1717 commented on #402
The doc doesn't exist anymore and I'm still getting this error. Where are the pre-requisites now?

[2020-09-30 19:16] aramase commented on #402
The required role assignments are documented here - https://github.com/Azure/aad-pod-identity/blob/master/docs/readmes/README.role-assignment.md

[2020-10-01 02:14] francescocristallo commented on #811
Thank you, I created a new Cluster and retried manually all the steps, I was calling the kubectl YAML as well in addition to Helm.

[2020-10-01 02:14] #811 closed

[2020-10-01 10:51] runes83 commented on #780
Any info on how to fix this?

[2020-10-01 16:26] chewong commented on #780
For now, you will have to run `kubectl rollout restart daemonsets/aad-pod-identity-nmi -n kube-system`

[2020-10-02 14:45] aranair commented on #637
@aramase -- We've ran into this again in v1.6.3 (through a slightly different way but arrived at the same error)

I'm going to create a new ticket and reference this.

[2020-10-02 15:11] aranair opened #813 "MIC hitting (un-)assignment limit of 150"
**Describe the bug**

Whenever MIC needs to either assign or unassign >150 (in one cycle?) - it fails with the following message:

[code]

This is the same error message as the issue I've raised previously: https://github.com/Azure/aad-pod-identity/issues/637 before. We were on v1.5.4 previously but we upgraded to v1.6.3 last night and it ran into the same issue.

When this happens, no new assignm

[2020-10-02 16:48] chewong commented on #813
Thanks for raising the issue. Let me try to reproduce the issue and get back to you as soon as possible

[2020-10-03 17:53] elsesiy opened #814 "Service Principal auxiliary tenant"
The `AzureIdentitySpec` limits Service Principal usage to a given tenant denoted by the "tenantId" stanza. There are use cases in which the returned SP has been configured for accessing resources across tenants.

A token returned from the IMDS fails to access the remote tenant with a `401 InvalidAuthenticationTokenTenant` since the token issued is not aware of the auxiliary tenant.

Are there any

[2020-10-05 03:25] #812 closed

[2020-10-05 05:32] chewong commented on #814
Thanks for the suggestion. It's definitely a valid use case and I've put this issue in the backlog for now.

[2020-10-05 05:37] chewong commented on #804
@prabhakarreddy1234 any update on this?

[2020-10-05 18:25] runes83 commented on #780
@chewong That did not do the trick I@m afraid :-(

[2020-10-05 18:32] aramase commented on #800
Closing this issue. @miwithro Please update the issue with your findings when you get a chance.

[2020-10-05 18:32] #800 closed

[2020-10-06 12:42] runes83 commented on #780
No not currently, I have restarted all pods multiple times. We are running version
v1.17.11 of K8s on the Nodes and mcr.microsoft.com/oss/azure/aad-pod-identity/nmi:v1.6.3 on the NMI

[2020-10-06 16:50] chewong commented on #813
To clarify, do I need to create 150 user-assigned identities to repro this issue? I have 150 random role assignments for 20 user-assignment identities to my VM but wasn't able to repro the issue

[2020-10-06 17:27] aranair commented on #813
Hmmm, I do believe it needs to be 150 identities.
(Through the VMSS UI, we can only see the identities directly I believe)

Also, side question: how are you able to have 150 role assignments with only 20 identities if it's on the VMSS?

[2020-10-06 17:30] chewong commented on #813
Got it, let me give it a try again. To answer your question, I assigned different roles to the same user-assigned identity (i.e. 8 role assignment for each user-assigned identity).

[2020-10-07 05:21] BartVanBerkel opened #817 "Update helm chart to have a PodDisruptionBudget"
**Describe the request**
To make aad-pod-identity more resilient it is advisable to have a [PodDisruptionBudget](https://kubernetes.io/docs/tasks/run-application/configure-pdb/) for the MIC deployment. With a PodDisruptionBudget you can avoid eviction of a pod when there is only 1 instance left.

**Explain why AAD Pod Identity needs it**
This way the MIC deployment is more resilient.

**Describe t

[2020-10-07 06:03] BartVanBerkel opened #818 "Add affinity and/or topologySpreadConstraints to the Helm chart"
**Describe the request**
To make the MIC-deployment more resilient it is advisable to have the pods spreaded over the nodes/zones. This can be achieved with [topologySpreadConstraints](https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/) or [affinity](https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/)

**Explain why AAD Pod Identity needs it**

[2020-10-08 08:49] videepthMSFT opened #820 "AKS managed identity pod - AUTO Restart and deployment timeout without recovery"
As part of our system we host APIs in the AKS.

We use the kubernetes managed identity mechanism to connect to multiple services. Recently we observed that the MIC pod in the kubernetes cluster automatically restarts without any human intervention and never recovers, because of which all our deployments are failing.

Can I know the reason for the restarts. Restarting the pods manually fixes it usi

[2020-10-08 16:16] chewong commented on #820
We no longer support 1.5.x. Could you try upgrading to v1.6.3 when you have a chance?

[2020-10-08 16:38] mhsh64 opened #821 "Timeout for getting token in our application, when upgrading to v1.6.3"
Hi
When we upgrade to 1.6.3 our application were not able to refresh token and getting timeout
We have netpol which has port 2579 open to pod identity nanespace and we did not have any issue in 1.6.1
I noticed you removed `—host-ip` From nmi definition.
Is that relevant?
Appreciate if you can help

[2020-10-08 16:42] aramase commented on #821
@mhsh64 That's right. NMI prior to release 1.6.2 bound to all interfaces with `:2579`. With 1.6.2 release we switched to listening on localhost as that's more secure. If you have network policies configured, then you would need to allow egress traffic for `localhost:2579`.

[2020-10-08 16:49] mhsh64 commented on #821
@aramase
Thanks
But is that a kind of breaking change? I did not find it in Release note

We have allow egress traffic to nmi_ip:2579 in our application namespace
Is there something else we need to configure?

[2020-10-08 16:51] mhsh64 commented on #821
Or you mean we define that polcy you mentioned in aad pod identity namespace?

[2020-10-08 16:55] aramase commented on #821
@mhsh64 The change is part of changelog but is not documented as a breaking change. This is a similar issue - https://github.com/Azure/aad-pod-identity/issues/716. Instead of `<nodeIP>:2579` the egress rules are required only for `localhost:2579`.

[2020-10-08 21:46] marty2bell opened #822 "Identity binding logs to stderr"
**Have you**

- [X] Read [Troubleshooting Guide](../../docs/readmes/README.troubleshooting.md)
- [X] Read [Known Issues](../../docs/readmes/README.known-issues.md)
- [X] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
When a pod starts and the nmi pod retrieves a security token, the logs for that process are written to stderr rather than stdout,

[2020-10-08 21:52] aramase commented on #822
@marty2bell We use klog for `aad-pod-identity` and there is a flag called --logtostderr for klog, which it enables by default. You can set the flag to false in the NMI manifests.

[2020-10-08 21:55] aramase commented on #778
@pvmraghunandan Any updates on the above comment?

[2020-10-09 13:47] blackbaud-james-williams opened #823 "Helm chart CRDs start with wrong level of"
**Have you**

- [X] Read [Troubleshooting Guide](../../docs/readmes/README.troubleshooting.md)
- [X] Read [Known Issues](../../docs/readmes/README.known-issues.md)
- [X] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
When using Helm (v2) to install the CRDs, the first CRD starts with an extra level of indentation.

This makes the YAML parse diff

[2020-10-09 16:36] chewong commented on #823
Thanks for reporting this bug. Would you be interested in opening a PR to fix it?

[2020-10-09 19:21] nglynn opened #826 "Fetching identity token doesn't work from pods with hostNetwork: true"
**Have you**

- [x] Read [Troubleshooting Guide](../../docs/readmes/README.troubleshooting.md)
- [x] Read [Known Issues](../../docs/readmes/README.known-issues.md)
- [x] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**

Fetching identity token doesn't work from pods with hostNetwork: true

**Steps To Reproduce**

0. Assuming a working pod identity

[2020-10-09 19:25] aramase commented on #826
@nglynn Thank you for opening the issue. `aad-pod-identity` only intercepts token requests on the pod network. For host network the request for token is sent directly to IMDS and there is no validation done by pod identity.

[2020-10-09 21:07] chewong commented on #813
We confirmed with the internal team that it does have a limit of 150 user assigned identities in a single IdentityPut or IdentityPatch request. Let me put this issue in the v1.6.4 milestone.

[2020-10-12 15:00] nglynn commented on #826
Thanks @aramase - that makes sense once I dug into how aad pod identity actually works.

FWIW for anyone else hitting this issue it's fairly straightforward to just [talk directly to IMDS](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/how-to-use-vm-token#get-a-token-using-http) passing along the required information as linked in the docs.

[2020-10-12 15:00] #826 closed

[2020-10-13 09:11] tomkerkhove opened #829 "Show more information in kubectl get AzureIdentity"
**Describe the request**
Show more information in kubectl get AzureIdentity to help operators get an understanding of what is provisioned when using `-o wide`

**Explain why AAD Pod Identity needs it**
Make it more operable and easier to use

**Describe the solution you'd like**
Information concerning `type`, `resourceID` & `clientID`

[2020-10-13 09:11] tomkerkhove opened #830 "Show more information in kubectl get AzureIdentityBinding"
**Describe the request**
Show more information in kubectl get AzureIdentityBinding to help operators get an understanding of what is provisioned when using `-o wide`

**Explain why AAD Pod Identity needs it**
Make it more operable and easier to use

**Describe the solution you'd like**
Information concerning `azureIdentity` & `selector`

[2020-10-13 09:13] tomkerkhove opened #831 "Provide string representation for `AzureIdentity.type`"
**Describe the request**
Provide string representation for AzureIdentity.type which is easier to read when looking at deployed resources or deployment specs. Today you have to lookup in the docs what 0 means, while it could be "ManagedIdentity".

**Explain why AAD Pod Identity needs it**
Make it easier to operate & use

**Describe the solution you'd like**
Replace current `AzureIdentity.type` valu

[2020-10-13 15:40] #831 closed

[2020-10-14 12:47] lgmorand commented on #724
@phillipgibson any news ? I've several customers interested by it

[2020-10-14 19:05] phillipgibson commented on #724
This has to be coordinated with the RedHat team. Checking in with them. No ETA at the moment.

[2020-10-14 19:42] chewong commented on #804
Feel free to re-open if you are still experiencing the issue.

[2020-10-14 19:42] #804 closed

[2020-10-14 20:10] chewong commented on #795
The website is now online -  https://azure.github.io/aad-pod-identity

[2020-10-14 20:10] #795 closed

[2020-10-14 20:37] chewong commented on #822
it looks like `kubectl logs` if `--logtostderr` is set to false, since all logs will be written to files only. By default, `klog` (the logger we use) writes to stderr, but we could have a flag to redirect logs to stdout using `klog.SetOutput`. WDYT?

[2020-10-14 20:56] aramase commented on #822
Looks like there is `SetOutputBySeverity` option. So we can set `ERROR`, `FATAL` to stderr , `INFO` and `WARNING` to stdout.

[2020-10-14 23:44] chewong commented on #814
@elsesiy we just added this issue to our v1.7.0 milestone. ETA for the release is mid November.

[2020-10-15 08:51] markpenner34 commented on #784
@davejhahn  Encountering the same issue, it was all working fine and now receiving

`E1015 08:35:06.504151       1 reflector.go:153] pkg/mod/k8s.io/client-go@v0.17.2/tools/cache/reflector.go:105: Failed to list *v1.AzureAssignedIdentity: azureassignedidentities.aadpodidentity.k8s.io is forbidden: User "system:serviceaccount:default:aad-pod-id-nmi-service-account" cannot list resource "azureassigne

[2020-10-15 09:29] markpenner34 commented on #639
@aramase

Hi,

i have recently upgraded my AKS cluster which was configured and working with AAD pod identity, however i now have multiple failed deployments.

When i describe the pods which are unable to deploy i get the following error

`failed to get keyvaultClient: failed to get key vault token: nmi response failed with status code: 404`

Upon investigating the logs from the nmi pod i am seein

[2020-10-15 15:27] aramase commented on #639
@markpenner34 The error you're seeing isn't related to this issue. That looks like the cluster role and cluster rolebinding you created as part of the aad-pod-identity doesn't exist? Could you check if they exist -

[code]

If they don't exist, you would need to recreate them.

@miwithro Any reason why AKS upgrade would impact aad-pod-identity cluster roles?

[2020-10-15 15:36] djj0809 commented on #639
Hey guys I also met this clusterrole and clusterrolebing missing issue in
AKS, and AKS confirmed that it’s a bug at their side (they are developing
AKS managed aad pod identity feature, but they somehow introduced this
bug), cluster will automatically delete this two when cluster updates or
randomly. But now they are deploying hotfix on this now.

If you ran into this issue, for now you can add th

[2020-10-15 15:39] djj0809 commented on #639
The objects I mentioned is aad-pod-id-nmi-role and it’s corresponding
rolebinding.

Jinqiang Ding <djq2272@gmail.com>于2020年10月15日 周四23:36写道：

[2020-10-15 17:26] ekmineev commented on #639
Hi @djj0809, we have seen clustterrole and clusterrolebinding missing on three of our managed AKS clusters in the past week. Is there an issue id tracking the host fix on AKS side so I can follow? Thanks!

[2020-10-15 17:58] chewong commented on #185
I think we have addressed all of your concerns in our latest releases. Feel free to open a new issue if you are experiencing any new issues.

| Issue | Fix |
|-|-|
| We need a proper, stable, helm chart that is not specific to aks (it should work with any k8s cluster on azure) (#122). I've seen a few issues related to this. | Our helm chart should now be flexible enough to be deployed to any Kuber

[2020-10-15 17:58] #185 closed

[2020-10-15 18:22] chewong opened #834 "Improve documentations"
Documentations we are missing at https://azure.github.io/aad-pod-identity/:
- [x] How to install
- [x] API of our CRDs
- [x] Helm chart flags
- [x] Development
- [x] Changelog
- [x] Update Known Issues
- [ ] https://github.com/Azure/aad-pod-identity/issues/153
- [ ] https://azure.github.io/aad-pod-identity/docs/demo/quickstart/

[2020-10-15 19:00] arianmotamedi opened #835 "aad-pod-identity-nmi pods suddenly start crashing (AKS, RBAC enabled)"
This is similar to: https://github.com/Azure/aad-pod-identity/issues/784

**Describe the bug**
NMI (with RBAC enabled) pods that have been working fine for days suddenly start crashing with these errors:

[code]

**Steps To Reproduce**
N/A, randomly started happening

**Expected behavior**
NMI pods should have access to all required APIs and scopes with RBAC enabled

**AAD Pod Identity version**
L

[2020-10-15 19:01] arianmotamedi commented on #784
@markpenner34 this is happening to us too - I just created https://github.com/Azure/aad-pod-identity/issues/835 since this one is closed. Please put your comments/findings there.

[2020-10-15 19:44] aramase commented on #835
@arianmotamedi PTAL at this - https://github.com/Azure/aad-pod-identity/issues/639#issuecomment-709409012. This is an AKS bug that's causing the deletion of `aad-pod-identity` cluster roles. They are currently deploying the hotfix based on the comment.

cc @miwithro

[2020-10-15 19:59] arianmotamedi commented on #835
Thanks @aramase. This is effectively a sev2 - is there anything on the AKS side I can use to check the status?

[2020-10-15 20:00] aramase commented on #835
@arianmotamedi I've tagged Michael in the comment above. Michael is the AKS PM and he should be able to provide more details.

[2020-10-15 21:39] #823 closed

[2020-10-15 23:36] aramase commented on #639
Closing this issue as MIC reconciliation for missing identities has been added as part of `v1.6.3` release.

[2020-10-15 23:36] #639 closed

[2020-10-16 01:30] roben0 commented on #835
This has occurred twice this week for us in the same cluster in Australia East.
AAD Pod Identity Version v1.6.3
Kubernetes version 1.16.8
Was able to workaround the issue by re-creating the roles.

[2020-10-16 01:40] bcho commented on #835
@arianmotamedi @roben0

(I am AKS eng) AKS had fixed this issue with a hotfix. Manually add the cluster role and cluster role binding (https://gist.github.com/bcho/22ff2098b310f496cc525b0377d725b9) back can fix this issue. Sorry for the inconvenience! We will provide detailed advisory in the AKS issue.

[2020-10-16 02:10] djj0809 commented on #639
@ekmineev I don't have one. However they shared me with the hotfix release progress, and according to that, it should have been fixed now. So you should add them back and they will not be removed again I guess.

[2020-10-16 06:31] markpenner34 commented on #639
@djj0809  @aramase  Hi Both,

I spent a good couple of hours doing some investigation yesterday and yes it was the cluster & role binding missing from the nmi role.

It was working correctly for over a week after the upgrade which is what i can't understand.

many thanks for your help on this it would have resolved my problem however i still believe this is a bug.

[2020-10-16 07:36] zhiweiv commented on #639
Recently we found add pod identity in some of our AKS clusters broken, cluster & role binding was missing. We added them back manually to fixed it.

We did nothing to our AKS when issue happens.

[2020-10-16 11:54] pbalexlear commented on #835
We have also noticed this issue in UKS and EUN
AAD Pod Identity Version v1.6.3
Kubernetes version 1.16.8

[2020-10-16 11:55] miwithro commented on #835
Yes, we had an issue about the role bindings removal this week and it has been mitigated. We also fixed some clusters affected by this issue from AKS's log, by adding the cluster role aad-pod-id-nmi-role and cluster rolebinding aad-pod-id-nmi-binding back.

But we may miss some of the clusters. For these clusters, customers can add back the cluster role / cluster role binding by themselves.

[2020-10-16 11:55] miwithro commented on #639
Yes, we had an issue about the role bindings removal this week and it has been mitigated. We also fixed some clusters affected by this issue from AKS's log, by adding the cluster role aad-pod-id-nmi-role and cluster rolebinding aad-pod-id-nmi-binding back.

But we may miss some of the clusters. For these clusters, customers can add back the cluster role / cluster role binding by themselves.

[2020-10-16 15:09] bcho commented on #835
For the advisory / mitigation, please see: https://github.com/Azure/AKS/issues/1903

[2020-10-16 20:02] chewong commented on #822
I did some investigation and found the following:
- `klog.Warning` writes the message to the `io.Writer` of `INFO` and `WARNING`
- `klog.Error` writes the message to the `io.Writer` of `INFO`, `WARNING` and `ERROR`
- `klog.Fatal` writes the message to the `io.Writer` of `INFO`, `WARNING`, `ERROR` and `FATAL`

So if I `klog.Error` something and run `kubectl logs` after, it seems like it logs the sa

[2020-10-16 21:32] aramase opened #836 "Make runAsRoot conditional in helm charts"
**Describe the request**
Set `runAsRoot: 0` only when using azure.json. When the credentials are provided as Kubernetes secret MIC doesn't need to run as root.

**Explain why AAD Pod Identity needs it**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-10-19 12:18] bruun365 opened #837 "Role Assignment"
Shouldn't the **_cluster_ resource group refers to the resource group with a MC_ prefix** be changed to **_node_ resource group refers to the resource group with a MC_ prefix**

Because the cluster resource group contains the AKS cluster resource and the node resource groups contains the VMSS. If i specify a custom node resource group the VMSS and the user managed identity (kubelet) are deployed i

[2020-10-19 14:30] matthewbrumpton-oddsbods opened #838 "Unable to create pod identity"
Support request ID | 120101924003470

**AAD Pod Identity version 1.6.3 **

**Kubernetes version 1.18.8**

 1 cloudprovider.go:210] updating user-assigned identities on aks-apppool-78790466-vmss, assign [1], unassign [0]
E1019 14:02:27.978668       1 mic.go:1093] failed to update user-assigned identities on node aks-systempool-78790466-vmss (add [1], del [0], update[0]), error: failed to update ide

[2020-10-19 14:41] chewong commented on #838
Could you see if you are experiencing symptoms similar to https://azure.github.io/aad-pod-identity/docs/known-issues/#user-assigned-managed-identity-deleted-and-recreated-with-the-same-name-in-azure?

[2020-10-19 14:42] chewong commented on #837
Would you like to open a PR to resolve this issue?

[2020-10-19 16:24] aramase commented on #822
@chewong Yeah duplication of logs is definitely not something we want.

[2020-10-19 18:35] ritazh opened #841 "Add security code checking using gosec linter"
**Describe the request**
Scan source code for security vulnerabilities using gosec.

**Explain why AAD Pod Identity needs it**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-10-20 05:24] matthewbrumpton-oddsbods commented on #838
Thanks for the link but we have tried creating new identities and they so not work either, I am about to restart out VMSS node pools as suggested by support.

[2020-10-20 16:55] chewong commented on #838
If the above method did not work for you, it's probably due to an IMDS caching issue. Please let us know if restarting your VMSS node works.

[2020-10-20 17:11] matthewbrumpton-oddsbods commented on #838
Yup, caching issue, working now

[2020-10-20 17:26] #836 closed

[2020-10-20 18:00] #807 closed

[2020-10-20 18:25] chewong opened #845 "Documentation on using aad-pod-identity w/ custom cloud"

[2020-10-20 19:40] PagoLivreAdmin opened #846 "I'm getting an error inside one of my cluster's pods: ManagedIdentityCredential authentication unavailable. No Managed Identity endpoint found"
I'm getting an error inside one of my cluster's pods, and returning this message:

- ManagedIdentityCredential authentication unavailable. No Managed Identity endpoint found

This pod is responsable for searching some information in our Azure App Configuration. The application inside the pod runs every morning.

Could you please help us? We can't understand why this is an intermittent error.

AAD

[2020-10-20 20:03] aramase commented on #846
@PagoLivreAdmin PTAL at https://github.com/Azure/aad-pod-identity/issues/674. The C# SDK performs a health check and as part of the request it doesn't set the required `resource` parameter. The `resource` parameter is mandatory and the request will fail if not set.

[2020-10-21 14:12] PagoLivreAdmin commented on #846
@aramase But this error is intermitent. It doesn't happen all the time, so that wouldn't be the case.

[2020-10-21 15:32] PagoLivreAdmin commented on #846
@aramase we also tried to rollout the nmi pods as the following issue: https://github.com/Azure/aad-pod-identity/issues/780
But we are facing the same error.

[2020-10-21 16:10] aramase commented on #846
@PagoLivreAdmin When you see the error in the application, Please check the corresponding log in NMI to see what the error is. If the error is `resource` parameter is empty then it's a valid error.

#780 is a known issue where token requests fails with list pod error. If that's not the issue you're seeing then no rollout is required.

[2020-10-22 02:00] zhiweiv commented on #242
Any update?

[2020-10-22 03:07] phillipgibson commented on #242
We're still in testing. Unfortunately there's not a specific date I can provide as we are ensuring that all of our tests pass.

[2020-10-22 16:35] aramase commented on #570
AADv2 (MSAL) lib out of Azure AD https://github.com/AzureAD/microsoft-authentication-library-for-go

[2020-10-23 19:05] chewong commented on #822
closing this issue for now since it's not technically feasible unless we change our logger.

[2020-10-23 19:05] #822 closed

[2020-10-26 23:48] phillipgibson opened #848 "Test HNS Container Networking Backport for Windows Server Support"
Test out the Windows Server, version 2004 HNS backport to enable AAD Pod Identity on Windows Server.

[2020-10-27 13:41] dariuszbz opened #849 "we have windows nodes and it looks like not working. Did you test with windows nodes."

[2020-10-27 13:44] dariuszbz commented on #849
I mean:
aad pod are still on linux in in namespace: aaddev

i developed the solution and deployed into windows node under the same namespace: aaddev.

windows solution fails to get credentials :(

[2020-10-27 15:27] chewong commented on #849
Duplicated issue: https://github.com/Azure/aad-pod-identity/issues/242

[2020-10-27 15:27] #849 closed

[2020-10-27 18:18] #838 closed

[2020-10-27 20:37] #764 closed

[2020-10-27 20:39] chewong commented on #820
Closing this issue for now. Feel free to re-open if you are still experiencing the issue.

[2020-10-27 20:39] #820 closed

[2020-10-28 15:53] fergusontom opened #851 "Failure to authenticate with SQL Azure"
**Describe the bug**
When trying to connect to SQL Azure using AAD Managed Identity authentication from the dotnet core SqlClient [v2.1.0-preview2.20297.7](https://github.com/dotnet/SqlClient/pull/730), the NMI logs the following warning

My pod then gives the following SQL connection error
`
Unhandled exception. Microsoft.Data.SqlClient.SqlException (0x80131904): Login failed for user '<token-ide

[2020-10-28 16:06] #851 closed

[2020-10-28 16:13] fergusontom commented on #851
This was a stupid configuration error on my part: I had created the SQL login in the wrong database.

[2020-10-29 09:14] atiasadir commented on #778
Hi @pvmraghunandan, @sousadax12
Did you update your VMSS recently ?
https://docs.microsoft.com/en-us/cli/azure/aks/nodepool?view=azure-cli-latest#az-aks-nodepool-upgrade

if yes it can explain this issue, since the update might cause to the Assigned Identity deletion.

[2020-10-30 00:03] #813 closed

[2020-10-30 13:18] abarrionuevodevops opened #852 "AAD Pod Identity - Need for further clarity on documentation"
Hello
I need you guys to clarify the guidelines in the documentation.
This article https://azure.github.io/aad-pod-identity/docs/demo/standard_walkthrough/ states "Important: For AKS clusters with limited egress traffic, Please install aad-pod-identity in kube-system namespace using the helm charts."

On the other hand, this article https://docs.microsoft.com/en-us/azure/key-vault/general/key-vaul

[2020-10-30 13:50] bekraupov opened #853 "Remove vulnerability to comply with SysDig scanning (CVE-2011-3389: MEDIUM Vulnerability found in os package type (dpkg))"
**Describe the request**
We are trying to use below 2 images:
aad-pod-identity/mic/v1.6.3
aad-pod-identity/nmi/v1.6.3

and we would like to below vulnerability fixed:
CVE-2011-3389: MEDIUM Vulnerability found in os package type (dpkg))
https://security-tracker.debian.org/tracker/CVE-2011-3389

**Explain why AAD Pod Identity needs it**
So that stricter consumer (like banks) can use Azure AAD when t

[2020-10-30 16:29] aramase commented on #852
@abarrionuevodevops Thank you for opening the issue 👍

The recommendation in deploy in `kube-system` namespace was because there was an issue with AKS where the `KUBERNETES_HOST` env variable injected in pods for non `kube-system` namespace was the API server IP. For limited egress using the IP to connect to the API server will result in SNI TLS failure errors. However in `kube-system` namespace,

[2020-10-30 18:11] abarrionuevodevops commented on #852
Thanks for the quick and precise response

[2020-10-30 18:11] #852 closed

[2020-10-30 19:56] #841 closed

[2020-11-02 22:19] rkammara12 commented on #681
There are three different reasons for the "IdentityNotFound" error:
1) UAI deleted and re-created with the same name (and assigning the same to vmss), but IMDS cache still uses old clientID thereby resulting in the above error.
2) If there is a secretURL change, IMDS still uses old url thereby resulting in the above error.
3) It is observed that in cases of AKS upgrade scenarios and cases where ak

[2020-11-02 22:27] chewong commented on #681
Thanks for providing your findings. If there is an aks-engine upgrade issue, feel free to open an issue at https://github.com/Azure/aks-engine/issues.

[2020-11-02 22:30] aramase commented on #681
@rkammara12 Can you confirm if issues 1 and 2 are now fixed and rolled out to all regions? We can then close this issue and open new ones if any.

[2020-11-02 22:34] rkammara12 commented on #681
@aramase the fix for issue1 is rolled out in all regions, but issue2 is still under deployment.

[2020-11-02 22:35] aramase commented on #681
Thank you for the confirmation @rkammara12. Please let us know on this issue when the deployment is complete and then we can close this.

[2020-11-02 22:36] rkammara12 commented on #681
Sure @aramase

[2020-11-03 00:10] #814 closed

[2020-11-03 01:02] aramase commented on #814
@elsesiy We've published `v1.7.0-rc.0` which contains changes for multi tenant SP.

[code]

Example usage -

[code]

NMI returns a slice of tokens. The first token is for the primary tenant ID as defined in the `spec.tenantID`. Tokens from [1:] are the tokens for auxiliary tenant ids.

Try it out and let us know you're feedback.

[2020-11-03 03:06] elsesiy commented on #814
Thanks @aramase, I'll take a look at this as part of the project I'm working on. Will provide feedback in the next couple of days!

[2020-11-03 16:16] JESWINKNINAN opened #855 "VMSS Azure-Pod Integration Documents"
Any document which refers to VMSS Azure AAD Pod Identity Integrations

[2020-11-03 18:31] aramase commented on #855
@JESWINKNINAN aad-pod-identity should work with no additional configuration for VMAS/VMSS. The required role assignments for different auth modes are documented here - https://azure.github.io/aad-pod-identity/docs/getting-started/role-assignment/

You can try out the demo - https://azure.github.io/aad-pod-identity/docs/demo/standard_walkthrough/

[2020-11-03 18:35] JESWINKNINAN commented on #855
gotcha, Thanks

[2020-11-04 04:15] philthynz opened #857 "Issue with Daemon Set Starting up"
**Describe the bug**

A container in the daemon set for the NMI did not start. The error is `0/2 nodes are available: 1 Too many pods, 1 node(s) didn't match node selector.`

![image](https://user-images.githubusercontent.com/17504095/98068576-4c25d000-1ec1-11eb-98e0-6158c60c66b4.png)

**Steps To Reproduce**

Deploy via Terraform Helm:

[code]

In AKS, under daemon set's, one is failed with `0/2 n

[2020-11-04 04:36] chewong commented on #857
Looks like it's a scheduling problem:
- Too many pods: are you running a lot of workload on your clusters? Having too many pods scheduled to your nodes might lead to the inability to schedule additional workload.
- didn't match node selector: we only have `kubernetes.io/os: linux` as the node selector, so I am not sure why you are getting this error if you only have Linux nodes.

[2020-11-04 05:19] philthynz commented on #857
@chewong So I'm only running the default set of pods that AKS needs to do the AzureAD integration, RBAC, Monitoring...

![image](https://user-images.githubusercontent.com/17504095/98071938-bcd0ea80-1ec9-11eb-9a60-ba7da117ca86.png)

And yes "didn't match node selector" is strange because there is [only one nodeselector in the yaml.](https://github.com/Azure/aad-pod-identity/blob/e1e9bc9edd3b9bc1a61

[2020-11-04 17:03] JESWINKNINAN commented on #855
I am facing an issue while testing with VMSS nodes. When I have created AzureIdentity and its binding and make a pod to schedule to one of the nodes under the VMSS, it shows that it is not able to  because of the node not found

 failed to update user-assigned identities on node test-poc-k8s-node-1 (add [1], del [0], update[0]), error: failed to get identity resource, error: failed to get vm test-

[2020-11-04 20:13] aramase opened #859 "Update walk through demo in docs"
**Describe the request**

**Explain why AAD Pod Identity needs it**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-11-04 21:41] philthynz commented on #857
Managed to fix the issue. I was settings the nodes to only run a certain amount of pods... Silly me...

[2020-11-04 21:41] #857 closed

[2020-11-05 18:13] chewong commented on #855
It looks like MIC is using a VM client instead of VMSS client to get the VMSS instance. How are you creating your nodes? Is it through Azure portal/azure-cli? AAD Pod Identity chooses one of VM and VMSS client based on the  [ProviderID](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.19/#nodespec-v1-core) from NodeSpec (in the form of `/subscriptions/<SubscriptionID>/resourceGroup

[2020-11-06 10:33] gowrishankar0013 opened #860 "Node Managed Identity (NMI) daemonset are not getting scheduled in a multi node pool cluster."
Node Managed Identity (NMI) daemonset are not getting scheduled in a multi node pool cluster.
Create a Kubernetes Cluster with a single node pool and node count of 5. Later we added another node pool with node count of 1 and spot node pool with node count of 1.
It is observed that NMI daemonset got created only for the first node pool, that is 5 nmi pods got created. For the other 2 node pools it

[2020-11-06 18:16] aramase commented on #860
@gowrishankar0013 If the new node pools are tainted, then you need to add the tolerations for that taint in the NMI daemonset. PTAL at this configuration table for setting tolerations using helm - https://github.com/Azure/aad-pod-identity/tree/master/charts/aad-pod-identity#configuration

[2020-11-09 19:25] chewong commented on #835
See https://github.com/Azure/AKS/issues/1903 for mitigation steps.

[2020-11-09 19:25] #835 closed

[2020-11-09 22:09] #837 closed

[2020-11-09 22:50] #845 closed

[2020-11-11 18:32] JESWINKNINAN commented on #855
@chewong This looks good, there was some issue with controller manager which was not configuring Provider ID to VMSS instances.

[2020-11-11 18:32] #855 closed

[2020-11-13 00:11] yangl900 commented on #780
@aramase based on our investigation, I think we can update this issue with a better, permanent mitigation.

As long as we configure a **network rule** to allow traffic to TCP 443 / 9000 / 22 of API server public IP, this issue should be mitigated.

Specifically this rule should present from this doc: https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic
![image](https://user-images.githu

[2020-11-13 00:18] galvesribeiro commented on #780
Hello @yangl900

This issue is not related to that. Even with a rule that points directly to the API's FQDN, the behaviour is the same.

It was clear to us that this problem is caused because of Azure Firewall lack of RST support. Other Kubernetes API calls that rely on GET/POST/PATCH/etc just works.

[2020-11-13 00:22] aramase commented on #780
@galvesribeiro Based on the investigation, if there is a **network rule** to allow traffic for the API server public IP, we don't see this error. The issue only seems to be happening for FQDN based **app rule** as @yangl900 posted.

[2020-11-13 00:30] yangl900 commented on #780
hey @galvesribeiro,

Just provide more background on this. When you use IP+port based network rule, the firewall behavior is different from FQDN based app rule.

One fact is that the client-go these days has TCP keepalive turned on by default, so the firewall has RST or not doesn't matter much now, at least for Go based client. I have more testing in my repo https://github.com/yangl900/knet

if yo

[2020-11-13 10:32] glcx opened #867 "helm charts patch version and breaking change"
Dear,

The latest aad-pod-identity release (v1.7.0) got pushed into a patch version of the helm charts: 2.0.3

Is this expected as it contains minor release and a breaking change ?

Using tools like flux & helm operator we can decide to always use the latest patch version of a charts like "2.0.x" which in this case would break aad-pod-identity features on clusters with kubenet.

Thanks

[2020-11-14 00:21] jpjsm opened #868 "Can't you make a simpler demo?"

[2020-11-14 00:21] #868 closed

[2020-11-18 17:55] aramase opened #871 "[flake] should reconcile identity assignment on Azure if the user-assigned identity is manually unassigned from the underlying node"
**Have you**

- [ ] Read [Troubleshooting Guide](../../docs/readmes/README.troubleshooting.md)
- [ ] Read [Known Issues](../../docs/readmes/README.known-issues.md)
- [ ] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
Flaky tests in lots of recent test runs

**Steps To Reproduce**

**Expected behavior**

**AAD Pod Identity version**

**Kubernetes

[2020-11-18 17:56] aramase commented on #871
https://dev.azure.com/azure/aad-pod-identity/_build/results?buildId=16365&view=logs&j=fb683405-d979-52da-6de9-2541dff429a6&t=49d3978a-7151-5d63-4d76-ac647ed887c0

[2020-11-19 05:41] comradesharf opened #872 "Allow set custom node resource group name"
**Describe the request**
When running ./hack/role-assignment.sh, we should allow custom node resource group name since this value can be changed by user (not following the resource template)

**Explain why AAD Pod Identity needs it**
Node resource group name can be customised by user and not following the template `/subscriptions/${SUBSCRIPTION_ID}/resourcegroups/MC_${RESOURCE_GROUP}_${CLUSTER_NAM

[2020-11-19 23:24] #872 closed

[2020-11-20 06:02] chenlonglab198 commented on #753
May I know if there any downtime when we upgrade pod identity from 1.3 to 1.7 in the production. Thanks!
**current version:**
AKS version:1.17.11
MIC version:1.3
nmi:1.4

[2020-11-20 10:16] Hareeshyalamasetty opened #875 "NMI pod CrashLoopBackOff state"
Deployed Pod identity using helm charts
Node managed identity pod going to be CrashLoopBackOff state

  ----     ------     ----                  ----               -------
  Normal   Scheduled  18m                   default-scheduler  Successfully assigned default/nmi-6dbm5 to aks-default-11479314-vmss000000
  Normal   Pulling    18m (x4 over 18m)     kubelet            Pulling image "mcr.microso

[2020-11-20 13:29] Wema opened #876 "Role Assignment"
When following the documentation the following does not appear to be working:
https://azure.github.io/aad-pod-identity/docs/getting-started/role-assignment/#performing-role-assignments

The error we kept getting was:
Message="The client '...' with object id '....' does not have authorization to perform action 'Microsoft.Compute/virtualMachineScaleSets/write' over scope '.../providers/Microsoft.Com

[2020-11-20 17:09] aramase commented on #875
@Hareeshyalamasetty Could you check the NMI pod logs to see why it's crashing?

[2020-11-20 18:35] chewong commented on #753
I think you should be able to achieve zero downtime with a rolling upgrade but there is going be some configuration update since your deployment version is pretty outdated.

[2020-11-20 19:25] Hareeshyalamasetty commented on #875
Thanks for the inputs.
Identified the issue, Here am using AKS v1.18
kubenet networking plugin does not support the pod identity.

[2020-11-20 19:32] aramase commented on #875
Thank you for confirming. The logs will contain the doc URL, but reposting it here for you're reference: https://azure.github.io/aad-pod-identity/docs/configure/aad_pod_identity_on_kubenet/

[2020-11-23 06:44] Grisson opened #877 "NMI daemonset keeps rebooting - Iptables version erro"
Hi here,

I try to set up aad pod identity in my cluster. Somehow, the pods keep rebooting itself due to iptable version checking error.
Following are the detail error message.

[code]

aad-pod-identity version:  1.7.0
kubernetes: 1.17.13
node OS image: AKSUbuntu-1604-2020.10.28

Could you please let me know how to solve this issue?

[2020-11-23 11:12] Wema commented on #876
@chewong  Just to clarify we are running into this problem in our deployment pipeline, we have it working now but we had to add the role to both resourceGroups. Below is our pipeline script this run on a newly created aks cluster:

[code]

[2020-11-23 17:21] aramase commented on #875
Closing this issue as it's now resolved. Please feel free to reopen if you have any more questions.

[2020-11-23 17:21] #875 closed

[2020-11-23 17:49] aramase commented on #877
@Grisson How did you setup pod identity on your cluster?

[code]

means NMI doesn't have enough permissions to check the iptables version.  For `v1.7.0` we switched to setting the default user to non root for docker build and set `runAsUser: 0` as part of the daemonset (Ref: https://github.com/Azure/aad-pod-identity/blob/v1.7.0/deploy/infra/deployment-rbac.yaml#L149-L150). If that's missing then i

[2020-11-23 22:39] Grisson commented on #877
Thanks @aramase. Adding "runAsUser: 0" solve the problem. I may delete it when fixing the “AAD Pod Identity is not supported for Kubenet” issue.

Thank you so much for your help.

[2020-11-23 22:39] #877 closed

[2020-11-24 23:06] chewong commented on #876
I verified with a brand-new AKS cluster that there is no role assignment needed for the aksResourceGroup. Just curious, how did you obtain clusterClientId? For reference, the role assignment script we have use `az aks show -g ${RESOURCE_GROUP} -n ${CLUSTER_NAME} --query identityProfile.kubeletidentity.clientId -otsv` to obtain the client ID.

[2020-11-24 23:40] chewong commented on #867
Thanks for opening this issue. We added [`nmi.allowNetworkPluginKubenet`](https://github.com/Azure/aad-pod-identity/blob/master/charts/aad-pod-identity/values.yaml#L187-L189) in the helm chart values.yaml so you can simply add `helm install|upgrade ... --set nmi.allowNetworkPluginKubenet=true ...` when performing helm operations.

Regarding the semantic versioning of the helm chart, we only bump t

[2020-11-25 12:19] bcorijn commented on #867
Changing the default behaviour, especially when it's as intrusive as completely disabling all functionality, in a patch version is just _very_ counter intuitive to how semver is supposed to work. The application versioning seems to follow that understanding, but it then got propagated into the chart as patch version, that just doesn't seem right?
I understand the API didn't change but there's a hu

[2020-11-25 21:59] leeeennyy opened #880 ""Identity not found" using AKS with Service Principal"
Hi there,

We are using AKS with Service Principal.

MIC is assigning the AzureIdentity to the underlying VMSS, but NMI is receiving the following errors:
[code]

MIC logs:
[code]

I've also checked the following:
- VMSS does indeed have the "User Assigned Identity" in the "Identity" tab in Azure.
- The AKS service principal has "Managed Identity Operator" role on our Managed Identity

I have othe

[2020-11-25 23:12] Tyler-Angell opened #881 "Make ClientId optional to enable Zero Touch deployments"
**Describe the request**

In the UserAssignedIdentity scenario can ClientId please be made optional (or removed) so that all information when deploying to a blank resource group can be known or derived beforehand? Below is the template in question.

[code]

**Explain why AAD Pod Identity needs it**
In efforts to reduce manual touch when standing up a new cluster the goal is to not have any specifi

[2020-11-26 13:57] timja commented on #880
Hi we're hitting this also, in uk south since ~1:30pm UTC yesterday

[2020-11-27 01:15] leeeennyy commented on #880
We ended up solving this issue by recreating the offending Managed Identities in Azure and updating the AzureIdentity resources in kubernetes.

@timja I'm not sure if the above could apply to you, but it worked for us.

[2020-11-27 07:48] timja commented on #880
It turned out someone had accidentally recreated a managed identity in our case but the old one was still assigned to the VMSS, support had us manually detach it from the scale set, and then pod identity added the new one and it all worked.

Note that this broken identity prevented us from adding new ones, so there’s some resiliency code missing somewhere, and there was also nothing to tell us whi

[2020-11-27 14:18] dollarklavs commented on #702
I'm running a cluster from a terraform configuration that uses the `helm_release` resource to install `aad-pod-identity` and `csi-secrets-store-provide-azure` like so:

[code]

and

[code]

And I still get a _port in use error_ as seen in the logs when running:
[code]
output:
[code]

I thought that I had overwritten the nmi probe port using the `name = "nmi.ProbePort"` to a value of 8085, but it s

[2020-11-28 10:01] dsbrng25b commented on #789
We experienced the same problem again. The VMSS got into a strange state and all the updates on it timed out. This time it was even worse because we could not fix the VMSS our self by removing and adding new instances and instead had to wait for the support to fix the VMSS.

My assumption is wrong. Although the identities were shown in the Portal they could not be obtained through the IMDS (direct

[2020-11-28 10:01] #789 closed

[2020-11-30 03:14] zhiweiv commented on #881
Similiar request: https://github.com/Azure/aad-pod-identity/issues/688.

[2020-11-30 16:37] gowrishankar0013 commented on #860
Adding the tolerations on NMI daemonset resolved the issue.

[2020-11-30 17:37] aramase commented on #860
Thank you for confirming. Closing the issue as it's now resolved. Please feel free to open a new issue if you've any questions.

[2020-11-30 17:37] #860 closed

[2020-11-30 17:40] aramase commented on #881
Thank you for referencing the old issue @zhiweiv.

@Tyler-Angell PTAL at this comment - https://github.com/Azure/aad-pod-identity/issues/688#issuecomment-658857951 on why `clientID` is required.

[2020-11-30 17:42] aramase commented on #846
@PagoLivreAdmin Any updates on this issue?

[2020-11-30 17:57] chewong commented on #867
That makes a ton of sense, thanks for all the input @glcx @bcorijn. We decided to re-publish aad-pod-identity v1.7.0 with helm chart version v2.1.0 to reflect the breaking change on kubenet.

[2020-11-30 19:25] chewong commented on #876
Closing this for now. Feel free to re-open if you are still experiencing this issue

[2020-11-30 19:25] #876 closed

[2020-11-30 19:31] matthchr opened #885 "Helm chart should consider using map rather than array for "azureIdentities""
**Describe the request**
aad-pod-identity Helm chart currently supports something like this in `values.yaml`:
[code]

The problem is that Helm doesn't do a great job managing arrays, as you can see discussed in this issue: https://github.com/helm/helm/issues/1987, for example it seems that when using `--set azureIdentities[0].xyz` you cannot merge the contents of `values.yaml` and `--set`. If you

[2020-11-30 19:32] matthchr commented on #885
@aramase as discussed

[2020-12-01 00:17] #867 closed

[2020-12-01 19:51] #859 closed

[2020-12-01 19:55] #753 closed

[2020-12-01 19:56] aramase commented on #681
@rkammara12 Is the deployment in all regions complete now?

[2020-12-01 20:00] timja commented on #681
@aramase we hit this 5 days ago https://github.com/Azure/aad-pod-identity/issues/880

[2020-12-01 20:01] #698 closed

[2020-12-01 20:19] aramase commented on #681
@timja This issue isn't similar to the one you encountered. This "identity not found" issue was caused even when the identity was not deleted and recreated with the same name.

[2020-12-01 20:21] aramase commented on #880
@timja When identity is deleted and recreated with the same name, it needs to be manually removed from the VMSS or the AzureIdentity needs to be deleted and recreated. When the identity is recreated with the same name, the clientID changes and this is not automatically propagated to the underlying VMSS. I believe this in the backlog for the VMSS team, but currently the required steps are documente

[2020-12-01 21:01] timja commented on #880
It wasn’t just that identity that wouldn’t work though, we had added a new identity and the new one didn’t work until we identified which identity had been re-created

Is that expected behaviour?

[2020-12-01 21:23] chewong commented on #350
See https://docs.microsoft.com/en-us/azure/aks/use-azure-ad-pod-identity

[2020-12-01 21:23] #350 closed

[2020-12-02 00:22] rkammara12 commented on #681
@aramase The deployment is not finished in all regions yet, there has been some delay in IMDS deployments because of some blockers.

[2020-12-02 15:31] fl-max opened #887 "Allow kubeletConfig to be configurable in NMI"
**Describe the request**
Allow the kubeletConfig path to be configurable in the NMI DaemonSet.

**Explain why AAD Pod Identity needs it**
For non-default AKS-Engine installations, this path may not be in `/etc/default/kubelet` which will cause a directory to be created in its current form.

**Describe the solution you'd like**
Add value `.Values.nmi.kubeletConfig` and conditional check in nmi-daem

[2020-12-02 22:20] lucasmaj opened #889 "Limitation "A maximum of 50 pod identities are allowed for a cluster." for real or just in Preview?"
The limitation "A maximum of 50 pod identities are allowed for a cluster" from here: [https://docs.microsoft.com/en-us/azure/aks/use-azure-ad-pod-identity](https://docs.microsoft.com/en-us/azure/aks/use-azure-ad-pod-identity)

... is it just in Preview or is it going to stay?

[2020-12-02 22:35] chewong commented on #889
The limitation only applies when you use the managed experience of AAD Pod Identity (creating AzureIdentity & AzureIdentityBinding with azure-cli). @bcho do you know why the maximum number of pod identities is 50?

If you use the open-source solution, there is no limitation on the number of pod identities you can create. For more questions on the managed experience, you can open an issue at https:

[2020-12-03 00:20] marchenm opened #890 "Upgrade to 1.7.0 fails"
**Have you**

- [x] Read [Troubleshooting Guide](../../docs/readmes/README.troubleshooting.md)
- [x] Read [Known Issues](../../docs/readmes/README.known-issues.md)
- [x] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
We're running a k8s cluster on Azure VMs using flannel.

When running `helm upgrade` to 1.7.0 the nmi pod fails to start.

I tried

[2020-12-03 02:39] bcho commented on #889
hi @lucasmaj, yes, we set this limit for preview stage. Do you have a use case that needs more than 50 pod identities? We want to check with some real world use cases and set a proper limit here (due to VMSS side limitation). cc @miwithro

[2020-12-03 17:10] chewong commented on #890
Looks like the kubelet config file `/etc/default/kubelet` is missing. I remember from https://github.com/Azure/aad-pod-identity/issues/743 that your cluster is not an AKS cluster. @aramase is there a way to determine whether the cluster is using kubenet without checking `/etc/default/kubelet`?

[2020-12-03 17:11] chewong commented on #890
https://github.com/Azure/aad-pod-identity/pull/888 might be able to solve it

[2020-12-03 17:12] aramase commented on #890
@chewong The kubelet configuration is the only source of truth on which CNI is configured. #888 will definitely help with this.

[2020-12-03 17:38] #817 closed

[2020-12-03 17:38] #818 closed

[2020-12-03 19:04] marchenm commented on #890
I implemented the changes in #888 and that resolved the issue. Thanks for the quick response.

[2020-12-03 19:34] mbmha opened #892 "NMI pods in crash loop"
**Have you**

- [X] Read [Troubleshooting Guide](../../docs/readmes/README.troubleshooting.md)
- [X] Read [Known Issues](../../docs/readmes/README.known-issues.md)
- [X] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
We are running k8s on AKS. I had to reset the credentials for the default cluster service principal. After doing so, we are no lon

[2020-12-03 19:43] chewong commented on #892
Did you re-install the pod identity deployment?

[2020-12-03 19:52] mbmha commented on #892
Yes, I deleted the deployment and the nmi daemonset. The issue still persists.

[2020-12-03 20:20] chewong commented on #892
Have you verified that there is no application occupying port 9090 of the host network?

[2020-12-03 20:48] lucasmaj commented on #889
Thank you for consideration on this topic. @bcho Do you have a use case that needs more than 50 pod identities? No, right now I don't. But I do have a SaaS solution made of 30 microservices, each microservice is a k8s Deployment. (mostly to allow for scaling of each microservice individually) Does each microservice/deployment need unique identity? Hopefully not. Maybe yes.

It is just weird that w

[2020-12-03 20:52] miwithro commented on #889
No, it was just set as a base limit for the preview.  We will do some testing to introduce higher levels going forward.

[2020-12-03 21:08] aramase commented on #892
@mbmha Could you also post the output for `kubectl get ds -A`?

[2020-12-03 21:22] lucasmaj commented on #889
Thanks. Earlier I was trying to say that having **any** limit would feel weird IMHO. Ideally you would not want situation where "Security considerations/limits would put limit on your cluster growth."

[2020-12-03 21:44] ams0 opened #893 "Add documentation how to use OPA/Gatekeeper to mitigate the ARP spoofing vulnerability for kubenet clusters"
**Describe the request**

PSP si going away, we should add instructions to use OPA/Gatekeeper to limit capabilities at cluster-level to this doc: https://github.com/Azure/aad-pod-identity/blob/master/website/content/en/docs/Configure/aad_pod_identity_on_kubenet.md

**Explain why AAD Pod Identity needs it**

OPA/Gatekeeper is now the accepted way to enforce PSP policies like dropping capabilities

[2020-12-04 10:17] sbkg0002 opened #895 "AAD Pod Identity in a multi tenant cluster"
**Describe the request**
Can someone explain how to use AAD Pod Identity in a multi tenant cluster? Currently everyone who can create an`AzureIdentity, can  create an `AzureIdentity` for every `ManagedIdentity` that is available for the cluster.

There is no way to -lets say- limit a namespace to ManagedIdentities from a certain Azure Subscription.

_AWS Kiam has this covered by the `iam.amazonaws

[2020-12-04 16:20] pierluigilenoci opened #897 "Make Helm Chart release more clear"
**Describe the request**

I would like, whenever a new version of the Helm Chart is released, it will be posted on the releases page. https://github.com/Azure/aad-pod-identity/releases
As does ingress-nginx, for example: https://github.com/kubernetes/ingress-nginx/releases

**Explain why AAD Pod Identity needs it**
To be notified whenever it happens and keep clusters up to date without having to p

[2020-12-04 19:02] #153 closed

[2020-12-04 19:02] #834 closed

[2020-12-04 22:56] chewong commented on #895
[Namespace mode](https://azure.github.io/aad-pod-identity/docs/configure/match_pods_in_namespace/) is the closest to what you describe, where you deploy desired AzureIdentity and AzureIdentityBinding to the same namespace as your workload. Also, aad-pod-identity does not distinguish between single and multi-tenant clusters, as long as you have the correct resource ID / tenant ID in your AzureIdent

[2020-12-07 13:22] rem-k opened #898 "User Assigned Identity removed from VMSS Identity"
**Describe the bug**
Not sure if this is a bug or a faulty configuration on my side but I noticed that the User Assigned Identity is removed from VMSS Identity when deleting an app pod (eg. kubectl delete nginx). The User Assigned Identity is added again to the VMSS when I deploy the app pod again.

If however I delete the pod and uninstall the aad-pod-identity helm chart then the VMSS is left wit

[2020-12-07 17:14] aramase commented on #898
[code]

this means MIC has been instructed to use a user-assigned identity to authenticate with azure. MIC removes the identity from the underlying VMSS when no pods are configured to use that identity (through AzureIdentityBinding). In this case if you're using the same identity for MIC auth and application, then when the application is deleted, identity will be removed and subsequent token calls

[2020-12-07 20:22] #893 closed

[2020-12-07 22:37] #716 closed

[2020-12-07 22:37] #821 closed

[2020-12-08 10:30] rem-k commented on #898
Clear, thank you! I missed the bit where the application identity is actively being removed when no pods are making use of it any more. Using a separate identity for MIC and the application works like a charm.

[2020-12-08 10:30] #898 closed

[2020-12-08 12:01] utekau commented on #756
Hi,
I'm facing the similar issue. We had upgraded AAD Pod Identity from 1.5.5 to 1.7 and our release pipeline started to crash by giving the same error. We have two yaml files: aadpodidentity & aadpodidentitybinding. @chewong should we get rid of these files and gather all information in one yaml file?

[2020-12-08 14:14] pierluigilenoci commented on #897
Makes sense. But what happens if the released chart is broken and you need to make an urgent fix only to that?

[2020-12-08 16:20] chewong commented on #756
What does you YAML files look like?

[2020-12-08 17:32] aramase commented on #897
We test the helm charts as part of the CI which is a blocker for release. If the chart as part of the release is broken, we republish the charts with the same version. We have not made a chart only release so far.

[2020-12-08 17:36] #890 closed

[2020-12-09 01:04] #885 closed

[2020-12-09 06:36] utekau commented on #756
Actually, we followed this example, https://azure.github.io/aad-pod-identity/docs/demo/standard_walkthrough/, our yaml files are same as they described there. However, I think don't need these yaml files anymore, having values.yaml file and installing aad-pod-identity through helm should be ok.

[2020-12-09 14:56] phillipgibson opened #903 "Update Azure documentation to link to AAD Pod Identity preview page"
We need to update the docs at <https://docs.microsoft.com/en-us/azure/aks/operator-best-practices-identity> for the "Use pod identities" section.

**Describe the bug**
Outdated docs at <https://docs.microsoft.com/en-us/azure/aks/operator-best-practices-identity#use-pod-identities>

**Expected behavior**
Link to preview doc at <https://docs.microsoft.com/en-us/azure/aks/use-azure-ad-pod-identity>

[2020-12-09 17:51] #871 closed

[2020-12-09 19:03] chewong opened #904 "CVE-2020-1971"
[code]

[2020-12-10 09:24] Annegies commented on #895
The issue we're facing for multi-tenancy is that in order to enable aad-pod-identity to attach the Managed Identity to the node you have the give the identity that created the cluster the 'Managed Identity Operator' role assignment in your managed identity.
Since there is no way to filter for which Managed Identities an Azure Identity in the cluster may be created another team is able to create on

[2020-12-10 17:44] chewong commented on #895
What you can do is to create a resource group dedicated to your team's managed identities and assign your cluster identity (service principal or managed identity) 'Managed Identity Operator' to the resource group scope. You can check out https://azure.github.io/aad-pod-identity/docs/getting-started/role-assignment/#reducing-number-of-role-assignments for more details.

[2020-12-10 17:53] aramase opened #907 "Document test scenarios"
**Describe the request**

**Explain why AAD Pod Identity needs it**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-12-10 20:11] #887 closed

[2020-12-11 07:38] sanjkuma commented on #892
I also hit this issue today. @chewong How can I find out if there is any application occupying port 9090 of the host network?
PS C:\> kubectl get ds -A
NAMESPACE     NAME                                                              DESIRED   CURRENT   READY   UP-TO-DATE   AVAILABLE   NODE SELECTOR                 AGE
default       csi-secrets-store-provider-azure-1607649598                       3

[2020-12-11 17:51] asubmani commented on #903
For the sake of existing pod-identity users who install it manually; please mention in the docs that this will work as a managed mode; i.e. no MIC
I just verified this.

[2020-12-11 19:23] chewong opened #908 "CVE-2020-27350"
[code]

[2020-12-11 19:29] chewong commented on #892
A really quick way to check:
1. Download https://github.com/kvaps/kubectl-node-shell
2. kubectl node-shell <affected node name>
3. `lsof -i:<port>`

[2020-12-11 20:03] aramase commented on #892
@sanjkuma reached out to me on teams. The cluster is using kubenet and he is following the docs: https://azure.github.io/aad-pod-identity/docs/configure/aad_pod_identity_on_kubenet/ to enable pod identity on that cluster.

[2020-12-15 18:58] chewong opened #913 "helm: remove deprecated forceNameSpaced from values.yaml"

[2020-12-16 05:57] asubmani opened #917 "Question: Migrating from Standard to Managed Mode"
# Standard to Managed Mode migration steps

The managed mode docs show how to create a new podidentity setup in managed mode. However if one has an existing setup with "standard" mode and wants to migrate to "Managed"; would the below sequence be correct:

NOTE: `kubectl delete -f  https://github.com/Azure/aad-pod-identity/blob/master/deploy/infra/deployment-rbac.yaml`
This should not be done in a

[2020-12-16 05:58] asubmani commented on #917
we have ~ 250 identities and ~ 500 pods in 4 nodepools, aadpodidentity works well but we are getting API throttling issues on management.azure.com and bouncing the service usually takes a while to catch up.

Using 1.6.3

[2020-12-16 18:13] chewong opened #918 "Update demo image"

[2020-12-17 18:47] aramase commented on #917
The order of steps looks right. If you're deleting the MIC, you might also want to delete the `AzureAssignedIdentities` manually. The `AzureAssignedIdentity` contains a finalizer to prevent deletion.

Please refer to this [doc](https://azure.github.io/aad-pod-identity/docs/troubleshooting/#unable-to-remove-azureassignedidentity-after-mic-pods-are-deleted) on how to delete the `AzureAssignedIdentit

[2020-12-18 03:23] asubmani commented on #917
Thanks @aramase .. I presume after deleting the `AzureAssignedIdentities` we should also delete the associated CRD. i.e. `kubectl delete crd azureassignedidentities.aadpodidentity.k8s.io`

[2020-12-18 18:45] aramase commented on #917
@asubmani That's correct.

[2020-12-20 00:53] markgould opened #920 "Pod Identity disabled on cluster upgrade"
I went to upgrade my cluster from 1.18 to 1.19.3 and initially ran into a vcore quotea limit in my subscription - resolved that and then completed the upgrade. After that, none of my managed identities worked. My pod logs showed "identity not found" coming from the managed identity service. All of the CRDs had been removed.

I set this up initially using the new preview pod identity feature (https

[2020-12-22 00:11] chewong commented on #920
Looks like you are not using the open-source version of aad-pod-identity. Could you open the same issue at https://github.com/Azure/AKS/issues? cc @bcho

[2020-12-22 04:28] bcho commented on #920
@markgould could you file a customer support ticket with your cluster information? So we can check the related operations with your cluster information in our end. Thanks.

[2020-12-22 07:04] bcho commented on #920
I also tried following setup:

1. create cluster with 1.18.10
2. assign identity to the cluster with az cli
3. check the cluster ✅
4. upgrade the cluster to 1.19.3 with az cli
5. check the cluster ✅

cannot repro this.

[2020-12-22 13:31] markgould commented on #920
@bcho Yes, I'll file that now. I think it must have had something to do with hitting the subscription quota limit, the cluster was in a failed state as it was unable to provision a new node for the upgrade.

[2020-12-22 17:01] #920 closed

[2020-12-26 13:02] AlexPaskhin opened #921 "aad-pod-identity Docker-desktop"
I got setup the recent version of Docker with  WSL2 and build-in Docker Kubernetes  https://www.docker.com/products/kubernetes .
I found that it is very useful to build kubernetes ready application  on the desktop computer.
I am heavily developing for Azure AKS.
I tried to setup aad-pod-identity on Docker Kubernetes.  The "mic" component doesn't work for desktop-docker.
I clone the master branch a

[2020-12-28 11:10] kwaazaar commented on #889
Isn't that a limit per nodepool (VMSS)?

Regarding the limit: we use a release pipeline that creates an identity for every single solution that is deployed to the cluster. So every pod (deployment/job) has its own identity. Functionally they could share identities, but since there was no limit before, we simply create separate ones for each pod. Rights are also assigned to these identities through

[2020-12-28 14:10] galvesribeiro commented on #780
@aramase the problem is that the IP of the API server may change. I know it rarely happens but it can change. So for us, dealing with hardcoded IPs knowing that they may change is not a good option...

Thanks!
Gutemberg

[2021-01-04 17:44] ksstott opened #922 "apiextensions.k8s.io/v1beta1 CustomResourceDefinition is deprecated"
**Have you**

- [x] Read [Troubleshooting Guide](../../docs/readmes/README.troubleshooting.md)
- [x] Read [Known Issues](../../docs/readmes/README.known-issues.md)
- [x] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
When installing aad-pod-identity the following warnings display:
[code]

**Steps To Reproduce**
1. Deploy aad-pod-identity using [