[2019-10-09 05:47] deyanp commented on #414
Looked at the logs of the aad pods (but without redeploying them with another log level), and found the following:

E1009 05:37:58.806898       1 mic.go:739] Updating msis on node aks-agentpool-15204281-0, add [1], del [0] failed with error compute.VirtualMachinesClient#CreateOrUpdate: Failure sending request: StatusCode=403 -- Original Error: Code="LinkedAuthorizationFailed" Message="The client '

[2019-10-09 06:02] aramase commented on #414
@deyanp Did you follow the instructions here to provide the necessary roles and permissions - https://github.com/Azure/aad-pod-identity#6-set-permissions-for-mic.

From the error, it looks like the cluster SP doesn't have the required permission for MSI `/subscriptions/888508d1-1ea8-424f-85bf-aa2a4191f888/resourcegroups/xxx-test3-rg-aks/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ak

[2019-10-09 06:45] deyanp commented on #414
Thanks, I was misled by the statement in step 6 "This step is only required for user-assigned MSI" that it is not needed.
I applied it now but the pod still cannot connect to Azure Key Vault.

The logs of the mic show now:
I1009 06:39:43.311723       1 event.go:218] Event(v1.ObjectReference{Kind:"AzureIdentityBinding", Namespace:"default", Name:"demo1-azure-identity-binding", UID:"999dee57-e9ec-11

[2019-10-09 06:49] deyanp commented on #414
Sorry, just retried the command and I get now a result!

But as the app is still not working, I checked the nmi logs and I see there the following:

time="2019-10-09T06:38:52Z" level=info msg="Rules for table(nat) chain(aad-metadata) rules(-N aad-metadata, -A aad-metadata ! -s 127.0.0.1/32 -d 169.254.169.254/32 -p tcp -m tcp --dport 80 -j DNAT --to-destination 10.240.0.4:2579, -A aad-metadata -j R

[2019-10-09 08:13] deyanp commented on #414
The timing MIC/NMI looks strange though, it seems that the pod tries to contact Azure Key Vault **before** the identity is assigned?

**NMI:**
time="2019-10-09T07:55:25Z" level=error msg="no AzureAssignedIdentity found for pod:default/worker-service104-56c7bd77df-2ztbb in assigned state, context canceled" req.method=GET req.path=/metadata/identity/oauth2/token req.remote=10.244.0.42
time="2019-10-

[2019-10-09 09:20] deyanp commented on #414
I put 15 seconds sleep in the app, but still I get the same error:

MIC:

I1009 08:30:56.865363       1 event.go:218] Event(v1.ObjectReference{Kind:"AzureIdentityBinding", Namespace:"default", Name:"demo1-azure-identity-binding", UID:"999dee57-e9ec-11e9-8616-0a2b2ee13999", APIVersion:"aadpodidentity.k8s.io/v1", ResourceVersion:"508773", FieldPath:""}): type: 'Normal' reason: 'binding applied' Bind

[2019-10-09 16:17] aramase commented on #414
@deyanp From the MIC logs it does look like the `AzureAssignedIdentity` has been created successfully now for the pod. Please note - since the identities are assigned to the underlying node when the pod initially comes up in the cluster, the PUT call to add the identity typically takes ~10-15s for availability sets and ~40-55s for VMSS. You should be able to view the status of assigned identity fo

[2019-10-09 16:41] deyanp commented on #414
@aramase , the app is waiting endlessly to connect to Azure Key Vault ... I surely waited for a couple of minutes before I stopped watching the logs ... Do you mean I should change timeout or similar in the app when connecting to Azure Key Vault? Somewhere in this code:

`let kv = new KeyVaultClient(new KeyVaultClient.AuthenticationCallback(keyVaultTokenCallback))
let! secret2 = kv.GetSecretAsync(

[2019-10-10 13:44] kagkarlsson opened #417 "Question: What network policies are required to access Azure Metadata service"
Have enabled Calico network policies and cannot connect to the Azure Metadata service, even with openings for `169.254.169.254` port `80`. What network policy is required to be able to talk to the service from a pod? Are there any known issues in this area?

[2019-10-11 05:29] aramase commented on #414
@deyanp PTAL at this - https://stackoverflow.com/questions/33134579/keyvault-getsecretasync-never-returns. I think it might be related to the issue you are seeing?

We have retires in NMI to accommodate for the time taken to assign the identity to the underlying node. However if the request context is cancelled, we stop processing the request. This is what we see in the logs - `context cancelled`

[2019-10-11 10:02] kagkarlsson commented on #417
Answering my own question. The destination is re-written so network policy need to allow for egress to the range of ips used by the nodes and the nmi port `2579`

[2019-10-11 10:02] #417 closed

[2019-10-14 06:48] snobu opened #420 "Why aad-pod-identity and not just call Metadata endpoint directly?"
Could you please describe why should `aad-pod-identity` be used instead of enabling Managed Identity on the VM Scale Set and calling the Metadata endpoint straight from code?

For example:

[code]

Any pod can ask for an access token in this case. If this is fine, should `aad-pod-identity` still be considered?

Also, if sending this request allows me to get an access token for podname `foo` in nam

[2019-10-14 15:20] deyanp commented on #414
Recreated the pod, and now I get:

MIC:
`
I1014 14:48:58.595036       1 event.go:218] Event(v1.ObjectReference{Kind:"AzureIdentityBinding", Namespace:"default", Name:"demo1-azure-identity-binding", UID:"1c4dee57-e9ec-11e9-8616-0a2b2ee139dd", APIVersion:"aadpodidentity.k8s.io/v1", ResourceVersion:"508773", FieldPath:""}): type: 'Normal' reason: 'binding applied' Binding demo1-azure-identity-binding

[2019-10-14 16:45] deyanp commented on #414
Tried Flex Volume based on Pod Identity, and the pod is hanging in ContainerCreating for 4+ minutes now ...
@aramase  any hints what could be the reason for this hanging? I have probably not configured something, but what?? In case of Flex Volume + Pod Identity there is no wrong custom C#/F# code, as the container is handing upon creation even ... What could cause this hanging?

[2019-10-14 16:53] aramase commented on #414
@deyanp The following should help debug what the error is with flexvol + pod identity -
1. Check the `kubectl describe pod <pod>` output for the pod that's in ContainerCreating.
2. Check the `MIC` logs to see if there are any errors while trying to assign identity to node.
3. If no errors in MIC, check if there is an assigned identity created for the pod - `kubectl get azureassignedidentities`. If

[2019-10-14 19:39] deyanp commented on #414
Hi @aramase,

Re 1): Access denied. Caller was not found on any access policy ...
`
Events:
  Type     Reason       Age                    From                               Message
  ----     ------       ----                   ----                               -------
  Warning  FailedMount  14m (x84 over 169m)    kubelet, aks-agentpool-15204281-0  MountVolume.SetUp failed for volume "test" : m

[2019-10-14 19:52] deyanp commented on #414
Ok, it seems that the access policy has to contain also the List Secrets right ... now the GetSecretAsync and the volume mounting work ... to prevent other poor souls wasting there time:
![image](https://user-images.githubusercontent.com/25847560/66778729-da9d6d00-eecc-11e9-82c8-7588c7844eea.png)

Thank you @aramase for your incredible support!!

[2019-10-14 19:52] #414 closed

[2019-10-14 20:53] #377 closed

[2019-10-14 21:56] aramase opened #421 "Add e2e tests for helm charts"

[2019-10-14 21:57] aramase opened #422 "Add e2e test for block-instance-metadata"
The following PR https://github.com/Azure/aad-pod-identity/pull/396 has been merged to block instance metadata. Need to add e2e tests to validate this works as expected.

[2019-10-16 15:10] coprisanu opened #423 "Error when installing aad-pod-identity on AKS cluster"
**Describe the bug**
We are getting the error "unable to recognize "https://raw.githubusercontent.com/Azure/aad-pod-identity/master/deploy/infra/deployment-rbac.yaml": the server rejected our request for an unknown reason" when trying to install aad-pod-identity on AKS using the instructions from readme.md

**Steps To Reproduce**
Running "kubectl apply -f https://raw.githubusercontent.com/Azure/aa

[2019-10-16 16:20] aramase commented on #423
@coprisanu which version of `kubectl` are you using? I tried it on my `1.15.2` cluster and it works fine -

[code]

[2019-10-16 17:17] coprisanu commented on #423
@aramase Thank you for your quick response.
Please see below the response I'm getting when running "kubectl version"
Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.0", GitCommit:"2bd9643cee5b3b3a5ecbd3af49d09018f0773c77", GitTreeState:"clean", BuildDate:"2019-09-18T14:36:53Z", GoVersion:"go1.12.9", Compiler:"gc", Platform:"linux/amd64"}
Error from server (BadRequest): the se

[2019-10-16 18:43] #423 closed

[2019-10-16 19:51] ritazh commented on #420
If a pod makes a request, then the traffic would not originate from localhost. As you can see, the current iptable rule only accepts tcp traffic to 2579 if it came from localhost ie from the host: https://github.com/Azure/aad-pod-identity/blob/master/pkg/nmi/iptables/iptables.go#L17-L20 Hope this help.

[2019-10-17 21:56] gkannan66235 commented on #410
If the attached Pod identity removed manually/ by removing the resource group and while deploying new ingress the k8s cluster azureidentitybinding fails to attach New identity.
_**Error:
  Warning  binding apply error  33m (x305 over 8h)  aadpodidentity.k8s.io  Applying binding hive-qa-appgw-ingctrl-azidbinding-ingress-azure node aks-agentpool-23632721-vmss000001 for pod hive-qa-appgw-ingctrl-ingr

[2019-10-18 18:16] VinaiMeyyappan opened #427 "Choosing a managed identity from many user-assigned managed identities"
Here is the scenario I am trying to implement with the pod identity

-	Create and add multiple user-assigned managed identities to the cluster
-	Create and deploy an asp,net core Web API to a pod.
-	The call to the web API will have an id of the user-assigned managed to use in the header.
-	The web api will use that identity to get an access token using the AzureServiceTokenProvider.

To test this

[2019-10-21 12:05] guitmz opened #428 "Support creation of multiple AzureIdentity and AzureIdentityBinding resources in Helm chart"
The current Helm chart only supports creating a single `AzureIdentity` and `AzureIdentityBinding`. In real world, different pods will likely have different identities with isolated permissions.

While customising the current chart implementation is possible, would be nice if this change came from upstream, making it easier to update the chart to newer versions without a bunch of manual YAML editin

[2019-10-22 18:29] JohnGalt1717 opened #430 "Documentation for az role assignment create doesn't work"
This line:

az role assignment create --role "Managed Identity Operator" --assignee <sp id> --scope <full id of the managed identity>

returns "The request did not have a subscription or a valid tenant level resource provider."

I verified the assignee and scope based on what I *think* the values should be since it's very not obvious if it's some fully qualified path or just the guids. (assignee b

[2019-10-24 18:16] aramase opened #432 "Add unit tests for server pkg in NMI"
https://github.com/Azure/aad-pod-identity/tree/master/pkg/nmi/server

[2019-10-25 20:41] kkmsft commented on #430
@JohnGalt1717 - There are few issues which are mentioned in a case with similar error messages - https://github.com/MicrosoftDocs/azure-docs/issues/33497, one being the format and another related to permissions. The scope should begin with /subscriptions/.... Can you please confirm that that is indeed the syntax you used to enter ? Also can you please check if you have enough permissions to make t

[2019-10-29 12:30] DanielShor opened #434 "NMI logs errors which are actually warnings"
The issue is that NMI component treats go_client warnings as errors.
For example:
[code]
The expected behavior is raising those issues as the go_client library (in the example above, a warning instead of an error).

We use the latest AAD Pod Identity version (as for current date), which is 1.5.3.
We run on 1.14.1 K8s version (currently in the process of upgrading to 1.15.4).

[2019-10-29 21:06] kkmsft commented on #427
@VinaiMeyyappan - Notes from the debugging sessions:
- Initially only single binding was associated with the  labels which needs to be created were not in place for the pod from which the curl was performed.
- After using two bindings which point to the same identity, which is the way you can associate two identities to the same pod, the issues were resolved.
- The parameter name `client_id` shoul

[2019-10-29 21:08] kkmsft commented on #427
@VinaiMeyyappan - Since this is working now, closing this issue. Please re-open if there are further issues.

[2019-10-29 21:08] #427 closed

[2019-10-29 21:14] aramase commented on #390
The concurrent read and write map issue has been fixed in release 1.5.4. Closing this issue. Please reopen if you have any further issues.

[2019-10-29 21:14] #390 closed

[2019-10-29 21:15] aramase commented on #311
@jstutson Closing this issue. Please re-open if you are still seeing any issues.

[2019-10-29 21:15] #311 closed

[2019-10-29 21:16] #300 closed

[2019-10-29 21:16] aramase commented on #300
Closing this issue with #304.

[2019-10-29 21:23] #283 closed

[2019-10-29 21:26] kkmsft commented on #338
@Bowbaq - closing this issue. Please re-open if you see this issue again. Hoping to get the logs when it occurs again.

[2019-10-29 21:26] #338 closed

[2019-10-29 21:27] kkmsft commented on #430
@JohnGalt1717 - is this still an issue for you ?

[2019-10-29 21:35] kkmsft commented on #249
@abhisheknsit - Setting up iptables is the core functionality for NMI. Hence its essential for it to restart to indicate the issue to cluster operator. If we move this to Error from Fatal, the issue will be present and NMI will keep operating without doing what it should do. Hence we feel that the Fatal should continue to be there - WDYT ?

[2019-10-30 12:09] JohnGalt1717 commented on #430
@kkmsft  I haven't had a chance to try it. I'll do so as soon as possible.

[2019-10-30 22:19] #434 closed

[2019-11-01 09:52] Wema opened #436 "AzureServiceTokenProviderException: Identity not found"
**Describe the bug**
I am getting an error response when trying to retreive token for user assigned identity. The response I am getting is:
Exception Message: Tried the following 3 methods to get an access token, but none of them worked.
Parameters: Connection String: [No connection string specified], Resource: https://vault.azure.net, Authority: https://login.windows.net/a266655a-245b-4ab8-8d8f-6

[2019-11-01 16:22] aramase commented on #436
@Wema I've a few questions -
1. Are you using VMSS or VMAS in the cluster?
2. Do you see an azureassignedidentity created for both the pods of the deployment? `kubectl get azureassignedidentities --all-namespaces`
  - If no, then can you check the MIC logs to see if there are any errors? `kubectl logs -l component=mic`.
3. Can you also check the NMI logs from the NMI pod running on the same node a

[2019-11-02 01:27] Wema commented on #436
@aramase
1. VMAS
2. Yes
3. Checked the NMI logs and I am getting the following errors:
time="2019-11-02T01:25:01Z" level=info msg="Starting nmi process. Version: 1.5.3. Build date: 2019-10-12-00:23. Log level: info."
ERROR: logging before flag.Parse: E1102 01:25:01.303063       1 reflector.go:322] pkg/mod/k8s.io/client-go@v0.0.0-20180424211516-33f2870a2b83/tools/cache/reflector.go:99: Failed to wa

[2019-11-05 03:33] kkmsft commented on #436
@Wema - the above indicates the right RBAC privileges are not provided to the NMI. How did you deploy aad-pod-identity ?

[2019-11-05 08:04] Wema commented on #436
@kkmsft Thanks you are correct I did not change add the watch options to the rules, thanks for this.

[2019-11-05 08:55] #436 closed

[2019-11-05 20:50] CBaud commented on #371
@kkmsft - I'm facing this issue as well.

[2019-11-06 16:52] RobLSDev commented on #371
@kkmsft - I have this problem as well, but it doesn't always fail.  It's currently in a failing state, so I'll try to get the logs for you.

[2019-11-06 18:37] kkmsft commented on #430
@JohnGalt1717 - Can you please confirm if this is still an issue for you?

[2019-11-06 18:39] kkmsft commented on #420
@snobu - Does the answer from @ritazh clarify your questions ? Are there more questions we can answer ?

[2019-11-06 20:22] rblock-aw commented on #340
Hi again, took me a while but I finally got around to testing it. I'm still experiencing the same error with version `1.5.3`. Any suggestions?

[2019-11-06 20:34] kkmsft commented on #340
@rblock-aw - we did one more fix after 1.5.3 - https://github.com/Azure/aad-pod-identity/pull/424
This fix is included in the 1.5.4-rc1 image. Can you please try that let us know your feedback.

[2019-11-06 20:54] rblock-aw commented on #340
Sure. Is it possible to install this through helm? Or do I need to download and modify the manifest so that all references to 1.5.3 are replaced to 1.5.4-rc1?

[2019-11-06 21:05] aramase commented on #340
@rblock-aw You should just be able to change the version in `values.yml` for helm chart and use that with `1.5.4-rc1`.

https://github.com/Azure/aad-pod-identity/blob/master/charts/aad-pod-identity/values.yaml#L27
https://github.com/Azure/aad-pod-identity/blob/master/charts/aad-pod-identity/values.yaml#L81

[2019-11-06 22:53] rblock-aw commented on #340
Thanks for the pointer. From what I gather of how `values.yaml` files work in combination with helm charts, I opted for updating my install command to
[code]
This results in following output:
[code]
Especially the missing things are what bother me. What does that mean and does it have any impact on my deployment?

Previous question aside, it does seem that it was successfully deployed. I can see f

[2019-11-07 00:02] rblock-aw commented on #340
In the mean time I've got it working. Thank you so much for your help!

[2019-11-07 16:42] RobLSDev commented on #371
@kkmsft - Attached are the logs as promised.

From what I can tell the MIC is correctly assigning the MSI to the nodes, but for whatever reason when the pod makes a request it isn't being handled by the NMI.

[azureAssignedIdentities.txt](https://github.com/Azure/aad-pod-identity/files/3820677/azureAssignedIdentities.txt)
[azureIdenityBindings.txt](https://github.com/Azure/aad-pod-identity/files/3

[2019-11-07 22:04] #420 closed

[2019-11-07 23:21] aramase commented on #371
@RobLSDev Thank you for the logs. Have a few questions that can help us debug further -
1. How many nodes in your cluster?
2. What is the state of all your NMI pods? From the logs we see one NMI pod has been running since `11/06` while the other has been running only since `11/07`. Are there any restarts?
3. Does the cluster have only linux nodes only or does it have windows nodes too?
4. What lib

[2019-11-08 03:18] RobLSDev commented on #371
@aramase I'm running a multi-node cluster, two Linux nodes and one Windows node right now.  The apps making the requests for tokens are running on the one Windows node.  Here's the current status of the pods in the default namespace:

kubectl get pods
NAME                   READY   STATUS    RESTARTS   AGE
mic-6fdb84dfbb-zdvkj   1/1     Running   0          30h
mic-6fdb84dfbb-zzn8c   1/1     Runni

[2019-11-08 03:57] RobLSDev commented on #371
@aramase - If interested I am now logging more of the exception call\causation stack.  Framework.Azure.Platform is our library for putting a facade around the azure-specific stuff:

[2019-11-08 17:08] aramase commented on #371
@RobLSDev --

So, `aad-pod-identity` is only supported on linux. Support for windows is ongoing. This means the `NMI` pods only run on the linux nodes. So since your application is running on a windows node, the request for token is not actually going to NMI, but instead going directly to metadata endpoint. NMI adds iptables rules to redirect requests to itself only on linux nodes.

[2019-11-08 17:47] RobLSDev commented on #371
At this moment each of the identities will effectively have the same access to resources, so I think for a workaround I'll comment the labels out on all but one of the deployment configs.  This will ensure that a single managed identity is mapped to the node.  That appears to be the situation where things are working fine.

[2019-11-13 20:05] kkmsft opened #437 "Kubecon NA 2019: Aad-pod-identity users"
Hi Folks,

Me(@kkmsft) and Anish(@aramase) - maintainers of aad-pod-identity project will be at KubeCon NA 2019. We would love to meet the users of aad-pod-identity.

Interested folks please let us know the timings which are convenient.

[2019-11-13 21:31] gavination commented on #430
Greetings @kkmsft. I'm just confirming that on my end, the format at least works. I've followed this trail of breadcrumbs and got it working on my end. I can't say anything regarding permissions though as I do have elevated permits in my subscription.

[2019-11-14 01:19] kkmsft commented on #437
^^ @bnookala @sukhong @markusdresch @omerlh @xenalite @droessmj @woutervanvliet @ankrause @zhiweiv @abhisheknsit @yarinm

[2019-11-14 01:32] zhiweiv commented on #437
Thanks for the invitation, regret that I am unable to join it.

Btw, aad-pod-identity works good in our clusters for now.

[2019-11-15 19:55] cwoolum commented on #437
I'll see you there!

[2019-11-20 08:16] midhun-mohan commented on #436
could you please let me know what was the fix applied for this issue?

[2019-11-20 19:45] Wema commented on #436
@midhun-mohan  The container image was updated but not the associated crd's once I applied the right changes to the crd's this fixed it. You can view the full yaml configuration here:
https://raw.githubusercontent.com/Azure/aad-pod-identity/master/deploy/infra/deployment-rbac.yaml

[2019-11-21 07:48] midhun-mohan commented on #436
Thanks for the reply. but we fixed the issue related to Permission.

But what was the fix applied to fix this error  "Status Code = '400'. Response body: {"error":"invalid_request","error_description":"Identity not found"}"

[2019-11-22 19:07] #437 closed

[2019-11-26 05:18] erlacherl-city opened #443 "MIC Getting permission error "LinkedAuthorizationFailed" for user-assigned identity despite Managed Identity Operator role set"
**Describe the bug**

MIC fails to assign node identity, failing with exactly the error you'd expect if the [MIC permission assignment](https://github.com/Azure/aad-pod-identity#6-set-permissions-for-mic) hadn't been completed:

[code]

However, the role is assigned as it should be:

[code]

NMI is also confused:

[code]

However, the AzureAssignedIdentity exists:

[code]

And nmi should have acce

[2019-11-26 08:41] LennartHaggkvistHM opened #444 "Support for Helm 3"
Helm 3 has been released and it would be good if the Chart for aad-pod-identity was updated

**Explain why AAD Pod Identity needs it**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**
Helm 3 contains changes to how crds works and thus we get the following error

manifest_sorter.go:175: info: skipping unknown hook: "crd-install"
manifest_sor

[2019-11-26 22:27] pascal-enz opened #445 "Better documentation and automation scripts to set MIC permissions"
My team has been struggling with getting the role assignments to work multiple times and by looking at the issues list, it seems we are not the only ones. Better documentation as well as scripts to automate that step would be highly appreciated.

Issues:
- It seems the MIC pods need to be restarted for changed permissions to take effect. This is not documented and can lead to massive confusion and

[2019-11-26 22:30] pascal-enz commented on #445
One more thing, the documentation chapter "Set Permission for MIC" states: "This step is only required for user-assigned MSI."
What does that mean? Does the solution support system-assigned identities as well?

[2019-11-26 23:11] erlacherl-city commented on #445
Hi @pascal-enz , I'm also struggling with this at the moment. As for system-assigned identities, have you seen the `docs/readmes` folder? It contains instructions for system-managed identities: https://github.com/Azure/aad-pod-identity/blob/master/docs/readmes/README.msi.md

[2019-11-27 00:23] erlacherl-city commented on #443
I think I've narrowed this down to the "Managed Identity Operator" role **not** being assigned correctly, as it is not in the list of role assignments for the Service Principal.

For someone else debugging an issue like that, run `az role assignment list --all --assignee <the object id from the error message>`, for an error message like:

The client **'0cd52919-aaf4-4022-a022-5ed15ed0fc24'** with

[2019-11-27 22:05] erlacherl-city commented on #443
Closing this since it was definitely a mistake on my side.

[2019-11-27 22:05] #443 closed

[2019-12-07 01:18] #263 closed

[2019-12-12 14:27] GramozKrasniqi opened #454 "Helm 3 skipping unknown hook: "crd-install"
**Describe the request**
Provide a flag to disable installing CRDs

**Explain why AAD Pod Identity needs it**
When using Helm3+ we get ```skipping unknown hook: "crd-install"```
We want to be able to command  the chart to not install CRDs beacuse we will install them manually.

**Describe the solution you'd like**
Please check the elegant solution provided by prometheus-operator helm chart.
https:

[2019-12-16 17:18] Veraticus commented on #445
We've run into this a lot too -- especially providing MSI credentials for every identity is extremely fiddly. Shouldn't the cluster be able to look those up itself and provide them to pods and services as requested? The user experience between this project and the equivalent AWS project (https://github.com/uswitch/kiam) is really night-and-day.

I don't want to just be whiny about this, but I thin

[2019-12-19 18:02] aramase opened #460 "Add helm lint to CI"

[2019-12-20 15:12] devlinmr opened #462 "Add Namespace support to templates"
**Describe the request**
Add namespace to metadata in helm templates for namespaced resources.

**Explain why AAD Pod Identity needs it**
We're using tiller-less Helm to deploy the template, we therefore can't use `--namespace` without the corresponding metadata, e.g.:

[code]
**Describe the solution you'd like**
I can raise a PR to add the necessary entries.

**Describe alternatives you've consid

[2019-12-25 13:41] tomerleib opened #464 "failed to get service principal token for pod, resource name may not be empty"
**Describe the bug**
On un-managed Kubernetes (deployment by Kubespray) NMI and demo pod returns the following error:
`failed to get service principal token for pod:default/demo-6d794d8764-jn48b, resource name may not be empty`
I'm testing out a deployment of Kubernetes on VMs (not AKS or AKS Engine) and

**Steps To Reproduce**

I've created a SP for the VM's using:
[code]
Attached it to the VM's

[2020-01-02 17:43] droessmj opened #466 "Failed to Assign User Managed Identity to VM"
**Describe the bug**
Multiple User Managed Identities were not bound to their node VMs  due to incorrect configuration for one specific AzureIdentity resource on a cluster containing multiple AzureIdentities across multiple namespaces.

**Steps To Reproduce**
Create and bind an incorrectly configured AzureIdentity resource with a null ClientId and ResourceId. This resource can be created in any na

[2020-01-02 18:46] droessmj commented on #380
Specifically for local development, would this approach be the recommended means to work with aad pod identity on a local cluster? Or, do other ways exist to better emulate? I ask as our org is continuing to mature in its use of Kubernetes and pod identity, and I'd love to get developers used to deploying and testing full solutions on a local cluster rather than testing only component containers l

[2020-01-02 20:36] kkmsft commented on #72
Closing this with #370.

[2020-01-02 20:36] #72 closed

[2020-01-02 20:39] kkmsft commented on #93
Supported with immutable identities: https://github.com/Azure/aad-pod-identity/blob/master/docs/readmes/README.featureflags.md#immutableusermsis-flag

[2020-01-02 20:39] #93 closed

[2020-01-02 20:44] kkmsft commented on #206
@vishnujanardhanan - Since there were no updates for some time, closing this issue. Please feel free to reopen if this is still an issue.

[2020-01-02 20:44] #206 closed

[2020-01-02 20:46] kkmsft commented on #229
@Bowbaq - can you please let us know if you were able to upgrade to the latest release using the helm chart ? Are you still seeing any issues ?

[2020-01-02 20:50] kkmsft commented on #249
@abhisheknsit - Thoughts on the above ^^ ?

[2020-01-02 22:04] ferantivero opened #467 "[Azure Firewall + add-pod-identity] watching problem"
**Describe the bug**

## Symptom

when restricting egress traffic in an aks cluster using Azure Firewall, aad pod identity starts failing while trying to watch.

### Azure Firewall logs

the following is the only denied HTTPS request:

[code]

from user's voice: https://feedback.azure.com/forums/217313-networking/suggestions/38623357-disable-sni-tls-extension-check-on-azure-firewall

### nmi pod

[2020-01-06 14:53] Ant59 opened #469 "Dynamic service principals for GitOps flow"
I came across this project whilst looking for a way to work with Service Principals in a GitOps environment. Services deployed to the cluster via the GitOps operator need a service principal to access Azure resources.

From reading the description in the Azure Docs (https://docs.microsoft.com/en-us/azure/aks/operator-best-practices-identity#use-pod-identities), it seems that this project was what

[2020-01-07 00:56] iyyappam opened #470 "Add support for pods running through virtual kublet."
For pods running on AKS cluster with virtual kublet (backed by ACI), the AAD pod identity doesn't work. Since in the current architecture NMI agent runs as daemon set on each node, but on virtual nodes there are no nodes to run the NMI agent to intercept the call. Removing the constraint on running NMI as daemon set could solve the issue.

[2020-01-07 18:21] rohan3usturge commented on #444
Hi BzSpi,
Thanks for adding this support.
Just wanted to ask , is there a tentative date for this chart to be available for use?

Thanks,
Rohan

[2020-01-07 22:34] aramase opened #471 "Set priority class name for NMI daemonset"
- Need to set the `priorityClassName` to `system-cluster-critical` for NMI pods.
- Remove `cluster-service` label - https://github.com/Azure/aad-pod-identity/blob/master/deploy/infra/deployment-rbac.yaml#L97 as this has been deprecated and was used by addon mgr.

[2020-01-08 08:56] BzSpi commented on #444
Hi @rohan3usturge.

I'm not maintainer of the repo and don't know about any action regarding my MR.

Maybe @kkmsft know about it ?

[2020-01-08 17:38] Shuanglu opened #472 "NMI got 403 from 169.254.169.254 intermittently"
**Describe the bug**
I followed the https://github.com/Azure/aad-pod-identity#getting-started to deploy the demo but found NMI got 403 intermittently. Sometimes it will succeed later but sometimes it keeps failing.
Any idea/advice why the endpoint returned 403? the MIC works fine.
Logs from NMI

time="2020-01-08T17:19:47Z" level=error msg="no AzureAssignedIdentity found for pod:default/demo-9d676d

[2020-01-10 00:36] ianjirka opened #473 "Repeat failures to get pod name lead to returning 500"
aad-pod-identity 1.5.4
Kubernetes (AKS) 1.14.6

Seems related to #99, except retry is not sufficient to correct it.

We see this a lot on one of our clusters right now - it's definitely not transient.

ERROR: logging before flag.Parse: E0110 00:15:24.965945       1 client.go:161] pod list empty
time="2020-01-10T00:15:24Z" level=warning msg="List pod error: pod list empty. Retrying, attempt number:

[2020-01-10 01:20] kkmsft commented on #473
@ianjirka  - Thank you for using aad-pod-identity.
Are there other logs in NMI indicating connection or watch failure with the API Server ?

[2020-01-10 01:32] ianjirka commented on #473
Thanks @kkmsft - nothing jumps out to me.  It seems it hit a condition and I see mostly failure after this point in time.

time="2020-01-08T00:22:15Z" level=info msg="Status (200) took 4251104 ns" req.method=GET req.path=/metadata/instance req.remote=10.244.4.130
time="2020-01-08T00:23:17Z" level=info msg="Status (200) took 3496603 ns" req.method=GET req.path=/metadata/instance req.remote=10.244.4

[2020-01-10 01:32] aramase commented on #472
@Shuanglu When the pod initially comes up, MIC creates azure assigned identity and sets it in `CREATED` state. The azure assigned identity state is changed to `ASSIGNED` when the identity has been successfully assigned to the underlying node. Typically identity assignment takes ~10s for VMAS and ~40s for VMSS. MIC tries to batch process when bulk of pods get scheduled, but it's possible some pods

[2020-01-10 03:23] ianjirka commented on #473
Circling back - killing nmi mitigated the issue for us.

[2020-01-10 13:31] sbkg0002 commented on #467
We experience the exact same thing. Looking for a production solution.

[2020-01-10 16:58] pdebruin commented on #467
Both egress lockdown as well as aad pod identity are key for enterprise scenarios. They should also work together. /Cc @ritazh

[2020-01-10 19:49] aramase commented on #467
Thank you for opening the issue. We will investigate this and update the issue.

[2020-01-14 15:23] sbkg0002 commented on #467
Hi @aramase thanks. If you need additional information on the issue, please let us know.

[2020-01-14 23:18] kevingbb opened #475 "Azure AssignedIdentities Created in Wrong Namespace when Scope=Namespaced"
**Describe the bug**
The AzureAssignedIdentities for pods in a "dev" namespace should be created in the "dev" namespace when scope = namespaced, but the AzureAssignedIdentities are being created in "default" namespace.

**Steps To Reproduce**
1. Install AAD Pod Identity
2. Create AzureIdentity in "dev" namespace
3. Create AzureIdentityBinding in "dev" namespace
4. Install pod workload with proper

[2020-01-15 00:31] asubmani opened #476 "Add support for system managed identity"
Currently it seems only SPN & user managed identities are supported for the aad-pod-identity". Please add support for "System Managed Identity" for aad-pod-identity.

This will greatly reduce operator overhead.

E.g. Helm chart or YAML with POD/DEPLOYMENT gets deployed, a new identity with name of "app" get's created in AAD. When K8S operator deletes the pod/deployment, the identity in AAD automat

[2020-01-15 01:14] aramase commented on #475
@kevingbb By default pod-identity was designed to create the AzureAssignedIdentity in the default namespace. However you can configure pod-identity to run in force namespaced mode - https://github.com/Azure/aad-pod-identity/blob/master/docs/readmes/README.namespaced.md in which case the `AzureAssignedIdentity` will be created in the same namespace as AzureIdentity and AzureIdentityBinding.

[2020-01-16 08:10] Kuzbekov opened #484 "MIC can't get access to Azure Instance Metadata service"
When we use MSI for kubernetes, MIC can't update VM's because its requests catched by NMI.
Even if I label that pod with correct label it still can't assign Identity to itself.
Temporary killing NMI DaemonSet unlock MIC and allows it to correctly do all assignments.

**Steps To Reproduce**
Deploy Kubernetes with AKS-engine using  Managed Identity account.
Deploy aad-pod-identity with helm chart fr

[2020-01-16 14:34] kevingbb commented on #475
Thx aramase, that is what I missed. I thought by having the spec.scope set to namespaced on the CRDs did that.

[2020-01-16 14:34] #475 closed

[2020-01-16 16:40] kkmsft commented on #484
Thank you for using aad pod identity @Kuzbekov .
We are looking into this. There is code in NMI which ensures that request from MIC can directly talk to IMDS in case of managed identity. But the pattern which is checked is following the MIC name from the standalone deployment file (mic-*) only and thus blocks the helm chart deployed(aad-pod-identity-mic-*) MIC. Will raise a PR shortly on this.

[2020-01-17 13:28] Kuzbekov commented on #484
Probably it will be more convenient and secure to create special label that will force NMI to passthrough all requests. I can try to do that if and contribute if you need a help.

[2020-01-21 18:59] kkmsft commented on #484
@Kuzbekov - There is a way in which an AzurePodIdentityException (https://github.com/Azure/aad-pod-identity/blob/master/docs/readmes/README.app-exception.md) can be created to exclude applications from being intercepted by NMI.

Since this is available in the latest release, can you please give that a shot to exclude the MIC using the mic labels and provide us feedback on that.

[2020-01-22 06:05] #472 closed

[2020-01-22 06:07] Shuanglu opened #487 "MIC tried to assign the incorrect managed identity which is different from the AzureIdentity"
**Describe the bug**
User created an identity under RG '**PECAzureInfraAKS01**'.
Due to some reason, user recreated managed identity in another RG '**PECAzureInfraAKS01-nodes**' with the same name. After this, AzureIdentity and AzureIdentityBinding were recreated.
Application pod was assigned to the VM and MIC started to assign the identity but failed due to error below.

E0122 03:51:56.411776

[2020-01-22 07:28] aramase commented on #467
@sbkg0002 @ferantivero I was able to recreate the issue. There are 2 options to mitigate this -

1. Deploy pod-identity in `kube-system` namespace. This (issue)[https://github.com/Azure/AKS/issues/676] was fixed earlier where components in `kube-system` namespace were automatically injected with the `KUBERNETES_SERVICE_HOST=<your-fqdn-prefix>.hcp.<region>.azmk8s.io`
2. If deploying pod-identity in

[2020-01-22 16:53] ferantivero commented on #467
thanks for sharing this info @aramase, and glad to see you were able to reprod this.

The mitigation 1 is the kind of solution I was looking for. I've just created a PR with changes I made to get it working on my environment.

[2020-01-22 17:06] ferantivero opened #489 "nmi crashes when kubectl apply instead of create"
**Describe the bug**

I'm experiencing a weird issue in my cluster while trying to install aad-pod-identity using `kubectl apply` instead of `kubectl create`.

Please let me share kubelet logs when using `kubectl apply`:

[code]

**Steps To Reproduce**

1. create aks cluster v1.15 with azure advanced networking
2. install add-pod-identity

`kubectl apply -f https://raw.
githubusercontent.com/Azure

[2020-01-22 19:52] jamihuq commented on #487
1.	When you delete an identity from the portal the identity is still connected to the nodes
2.	If the identity and namespace are deleted MIC will use the identity that is still on the nodes.
3.	Since you removed the whole namespace, the Azure Identity and binding was deleted. So MIC was unable to get the client id and old identity from the the VMSS. When the new identity was requested to be assign

[2020-01-23 14:25] #471 closed

[2020-01-25 17:28] asubmani commented on #476
Closing this after detailed discussion with @aramase . This would mean the MCI and NMI pods have "Global Admin" or elevated rights on AAD. Therefore at this point we decided to use "User assigned managed Identity", and follow "service account creation" similar to on-premises.

[2020-01-25 17:28] #476 closed

[2020-01-25 17:42] asubmani commented on #469
@Ant59 > I had opened a separate issue for the same. #476 .

This project does give you flexibility in managing serviceaccounts that need controlled access to Azure resources.
e.g.
Create a group in AAD called "devOps-readers". AAD (Identity team) will control access to this group.  The user assigned Identity would also be part of this group.

kubernetes operator creates ClusterRole and bindings f

[2020-01-27 21:33] kkmsft commented on #473
Thanks @ianjirka . Closing this issue as the issue got mitigated. If this issue happens again let's attempt at a profile snapshot and see what is going on with the nmi process.

[2020-01-27 21:33] #473 closed

[2020-01-27 21:39] kkmsft commented on #464
@tomerleib  - Thank you for using aad-pod-identity.  Are you still facing this issue ?

What is the library being used to get the token - is it C# ? If the application is c# there are health checks which the library does (a query without resource name) which shows up as this log. But the next attempt the library will make is the one with resource name and things should work fine after that. Could

[2020-01-27 22:08] tomerleib commented on #464
Hi, unfortunately, I had to progress in my project so I stopped using this project.

[2020-01-28 17:45] #444 closed

[2020-01-29 21:08] #460 closed

[2020-01-31 10:53] midhun-mohan commented on #217
@kkmsft  @aramase I have reached to the same state as of this issue.
Do you have any pointers how can we fix this ?

Below is the error from MIC  (Just removed the exact app name and agent name)
I0131 10:22:12.798563       1 mic.go:856] Updating msis on node aks-agentpool-********-2 failed, but identity app-azure-id-binding has successfully been removed from node
panic: runtime error: invalid memo

[2020-01-31 17:15] aramase commented on #217
@midhun-mohan which version of pod-identity are you using?

[2020-02-01 09:57] midhun-mohan commented on #217
@aramase we are running on 1.5.3.
mic:1.5.3
nmi:1.5.3

[2020-02-04 10:45] fraserdarwent commented on #454
Same issue here

[2020-02-04 18:08] samrobillard opened #497 "No AzureAssignedIdentity found ... in CREATED state failed after 16 attempts"
Followed the doc to install the YAML, user managed identity, AzureIdentity, AzureIdentityBinding, gave the permissions to the SPN on the user managed identity, my deployment has the aadpodbinding tag.

The NMI and MIC are in verbose level 6.

Using version 1.5.5

The NMI throws:

I0204 17:56:07.660043       1 reflector.go:428] pkg/mod/k8s.io/client-go@v0.0.0-20180424211516-33f2870a2b83/tools/cache

[2020-02-04 18:25] aramase commented on #497
@samrobillard Do you see identity assignment happening in the MIC logs? Also, can you post pod manifest (yaml)?

[2020-02-04 18:41] samrobillard commented on #497
Hi,

Thanks for your quick reply. All I can see in the MIC logs is:

I0204 18:36:14.566205       1 reflector.go:286] pkg/mod/k8s.io/client-go@v0.0.0-20180424211516-33f2870a2b83/tools/cache/reflector.go:99: forcing resync
I0204 18:36:14.566268       1 crd.go:222] Identity updated
I0204 18:36:14.566283       1 mic.go:268] Received event: 5
I0204 18:36:14.566342       1 crd.go:390] Appending binding:

[2020-02-04 18:56] aramase commented on #497
@samrobillard The label needs to be `aadpodidbinding`.
[code]

[2020-02-04 19:03] samrobillard commented on #497
Yup... the template had aadpodbinding instead of aadpodidbinding. I guess the I don't need to tag the deployment and only the template for the pods?

Thanks for your help!

[2020-02-04 19:26] aramase commented on #497
@samrobillard yes, the tag for the pod template is what is used!

[2020-02-04 19:27] aramase commented on #432
closed with https://github.com/Azure/aad-pod-identity/pull/486

[2020-02-04 19:27] #432 closed

[2020-02-04 19:28] #497 closed

[2020-02-04 19:29] samrobillard commented on #497
Issue was between the keyboard and the chair. Thanks @aramase !

[2020-02-04 21:39] rahul24 commented on #371
Any plans to support windows node soon?

[2020-02-05 11:11] kwaazaar commented on #473
Should be reopened.

I try to use a managed identity for a job that runs every minute. Sometimes it works, sometimes it doesn't. This is the logs from NMI that shows both success and failures:

time="2020-02-05T10:57:34Z" level=info msg="matched identityType:0 clientid:88eb##### REDACTED #####1423 resource:https://vault.azure.net/" req.method=GET req.path=/metadata/identity/oauth2/token req.remote

[2020-02-05 14:43] desek opened #498 "Add Helm chart parameters for Pod Annotations"
**Describe the request**

I want to be able to set Pod Annotations in the Helm chart.

**Explain why AAD Pod Identity needs it**

To be able to benefit from Pod annotations such as automatic Prometheus scraping.

**Describe the solution you'd like**

Parameters for `nmi.podAnnotations` and `mic.podAnnotations`.
For an implementation example see the [cert-manager chart](https://github.com/helm/char

[2020-02-05 18:37] wasker commented on #242
@PatrickLang Is there any ETA for this work?

[2020-02-05 20:46] wasker commented on #242
As it is now, Windows containers can be unblocked by having managed identities assigned to VMSS, but there's always a risk that AKS will not re-instantiate them whenever nodepool is updated/deleted or newly added.

@PatrickLang If implementing solution for this issue is too much work, would it be possible to extend `az aks create` command to take a list of managed identities to be assigned to VMSS

[2020-02-06 10:06] kwaazaar commented on #374
I wondered how to make sure another developer that deploys his solution on the cluster doesn't (accidentally) select the wrong identity, possibly with too much access to the resources.
This is probably only an issue when deploying solutions into the same namespace, but some guidance could be good here.

[2020-02-07 19:38] northtyphoon opened #499 "AAD-Pod-Idenity often took long time to be ready in AKS upgrade"
**Describe the bug**

We deployed AAD-Pod-Identity on AKS. When we upgraded AKS version, we noticed many times the AAD-Pod-Idnentity could take very long time (>10 minutes) to get ready to serve MSI token request. Most time we saw the following two typical errors.

[code]

[code]

**AAD Pod Identity version**
1.5.3

**Kubernetes version**
The issue happened when we upgraded AKS from 1.13.10 to 1.1

[2020-02-10 10:45] BzSpi commented on #454
PR #455 has been merged and released with version 1.5.5.

@aramase @kkmsft any idea why the changelog does not mention the helm 3 update ? Also, bumping the Chart revision number instead of minor or major version is surprising for a such important update.

[2020-02-10 11:09] twendt opened #501 "Make cloudconfig host path configurable in Helm chart"
**Describe the request**
The cloudconfig host path is currently hard coded to /etc/kubernetes/azure.json. Rancher uses /etc/kubernetes/cloud-config, therefore it would be great if the path was configurable via values.

**Explain why AAD Pod Identity needs it**
Enable AAD Pod Identity to be used in Kubernetes clusters deployed by Rancher.

**Describe the solution you'd like**
Add cloudConfigHostPat

[2020-02-10 12:15] twendt opened #502 "Upgrade from 1.5.2 to 1.5.5 not working with Helm"
**Describe the bug**
When trying to upgrade an existing installation of 1.5.2 to 1.5.5 I get the following error:

[code]

This is caused by #456 The change in that PR causes all labels to be used in the selector as well whereas before the following 2 labels where not used as part of the selector:

[code]

**Steps To Reproduce**
Install version 1.5.2 via Helm and update to 1.5.5 with Helm.

**Expe

[2020-02-10 12:32] kwaazaar commented on #105
Initcontainers in Kubernetes are just one solution to the problem. I use initcontainers to upgrade databases used by the main container. The rolling upgrade strategy makes sure just 1 instance runs at a time, but for new deployments more than one will run, which causes race conditions. This is just an example where initcontainers could be used, but are not really the right solution. You could use

[2020-02-10 14:12] kwaazaar opened #503 "MIC too late to create AzureAssignedIdentity"
**Describe the bug**
MIC is sometimes way too late to create the AzureAssignedIdentity. This is especially an issue with pods that need the accesstoken on startup, jobs being the most obvious.
It sometimes takes MINUTES to assign the identity, as shown in the logs below.

**Steps To Reproduce**
Occurs sometime. I use a test application scheduled as a job to test which fails a few times a day: http

[2020-02-10 14:59] krish-gh commented on #427
Hi @kkmsft, even using client_id, it's not working...we see that it's sometimes returns correct token, and sometimes not. Bit random.

[2020-02-10 15:19] kkmsft commented on #503
@kwaazaar - Thank you ! for using aad  pod identity.

Please confirm the following. - you are using vm in availability set configuration ? Also how many nodes are part of the cluster ?

As per the MIC logs:

I0210 13:45:41.760083       1 stats.go:81] Cloud provider put: 3m13.776542718s

MIC calls ARM to perform the assignment/deletion of identity. This indicates that the cloud operation took 3m13.

[2020-02-10 15:39] kwaazaar commented on #503
It's an 'old' cluster, created many months ago, using type AvailabilitySet indeed. The cluster has 22 nodes of type Standard_DS3_v2, no autoscaling enabled.

We plan to recreate our clusters in the near future (to be able to use new AKS-features available and to mitigate other AKS problems). Do you expect this issue to not surface on that new cluster?

[2020-02-10 19:53] idanlevin commented on #105
There are many valid use-cases to init-containers, and there are use-cases where an init-container might have more permissions than the long-lived running container. If you really want to adopt least-privileges approach, this should be supported.

[2020-02-11 14:11] kwaazaar opened #504 "Server reported a conflict"
**Describe the bug**
The longer I try to use AAD Pod Identity, the less it seems to work. I'm now seeing these MIC-related errors.

kubectl logs -l component=mic -n default
[code]

Not sure if related, but this is what the nmi logs state:
[code]

**Steps To Reproduce**
?

**Expected behavior**
No errors or more clear errors.

**AAD Pod Identity version**
Latest

**Kubernetes version**
1.14.8

**Ad

[2020-02-11 14:24] kkmsft commented on #503
@kwaazaar -  Since you are seeing issues with your current VMA setup, we have to look at it on a case to case basis. Our recommendation is that if you face issues with the new VMSS to raise the support case. We will help transfer to the appropriate team.

[2020-02-11 15:11] kwaazaar commented on #503
@kkmsft Support case 120021122002478.

[2020-02-11 16:47] vtiwari227 opened #505 "Question: How to assign user assigned managed identity to Azure Application"
Hi everyone,
We have a App(dummyApplication) registered with Azure and dummyApplication have graph API access. which I can access using ClientID and Secret for given dummyApplication.

Now i want to use azure pod identity for this application pod in AKS cluster. I can create explicit identity (dummyIdentity) and that will help me get Azure AD token for given dummyApplication identity.

Now i need

[2020-02-11 17:20] aramase commented on #504
@kwaazaar Sorry, you are having issues using pod-identity. Can you help us understand your cluster configuration a little better?

1. How many VMSS node pools in the cluster? How many nodes per VMSS?
2. How many pods are using pod-identity?
3. How many identities are being configured?

The error in NMI indicates no `AzureAssignedIdentity` has been found for the cron job requesting the token. Just

[2020-02-12 15:43] kboom commented on #464
Happens to me too though. The library is azure-cli `az login --identity` command

[2020-02-14 14:53] devlinmr opened #507 "Including helm chart version in labels causes selector "immutable" error"
**Describe the bug**
Upgrading helm chart fails with the following error:

[code]

**Steps To Reproduce**
Install chart aad-pod-identity-1.5.5
Bump Chart.Version
install new version

**Expected behavior**
The chart applies normally

**AAD Pod Identity version**
1.5.5

**Kubernetes version**
v1.15.7

**Additional context**
This seems related to the following change in Kubernetes: https://github.com

[2020-02-14 16:03] glcx opened #508 "nmi not binding identity due to pod name"
**Describe the bug**
Unable to bind identity when pod name is too long

**Steps To Reproduce**
Create pod with name similar to `135430150-134742076-195624977-8974ceca-245b-44e2-bb89-79a13ad19485`

**Expected behavior**
Bind the requested identity to the pod

**AAD Pod Identity version**
1.5.5

**Kubernetes version**
1.15.7

**Additional context**
`135430150-134742076-195624977-8974ceca-245b` seems

[2020-02-17 14:55] cwebbtw opened #509 "Sporadic inability to fetch credentials using az login --identity"
**Describe the bug**
Seeing the following error when trying to fetch credentials using `az login --identity`

[code]

**Steps To Reproduce**
1. Create AKS cluster
2. Install aad pod identity
3. Create pod with selector label matching what is defined in `AzureIdentityBinding`
4. Run `az login --identity`

If it works, repeat steps 3 and 4 - this issue is sporadic and will often just work, then will

[2020-02-17 15:23] cwebbtw commented on #509
@kkmsft happy to provide further logs if this will help

[2020-02-18 14:25] kwaazaar opened #510 "panic: runtime error: invalid memory address or nil pointer dereference"
**Describe the bug**
Seeing a panic logged. Not clear if this is mic or something else.

The command I execute: kubectl logs -n default --since=5m -l component=mic
Output:
[code]

**Steps To Reproduce**
kubectl logs -n default --since=5m -l component=mic

**Expected behavior**
No panics.

**AAD Pod Identity version**
Latest

**Kubernetes version**
1.14.8

**Additional context**
-

[2020-02-18 15:40] kwaazaar commented on #510
One of the configured AzureIdentities had invalid configuration (ResourceId pointed to the wrong resourcegroup). After I fixed that, this error disappeared and _another_ AzureAssignedIdentity suddenly started working (the pod successfully obtained an accesstoken).

[2020-02-18 16:33] jluk commented on #509
@ritazh for awareness

[2020-02-18 16:57] aramase commented on #509
@cwebbtw From the NMI logs posted, there seem to be 2 kinds of errors -

1. `Status Code = '400'. Response body: {\"error\":\"invalid_request\",\"error_description\":\"Identity not found\"}"`

For this error -
- Are you able to check if the identity that the pod is using exists on the vmss? This can be checked using `az vmss identity show` command.

2. `no AzureAssignedIdentity found for pod:cicd/

[2020-02-18 17:17] cwebbtw commented on #509
@aramase

The team with this set up are not using VMSS but are instead using availability sets (the cluster was provisioned prior to VMSS being available in AKS and are cross region). Each of the 6 instances in the availability set do not have an existing identity.

The put requests are sporadic unfortunately, sometimes the response times are less than 5 seconds, whereas at other times, we've seen

[2020-02-18 17:32] aramase commented on #509
@cwebbtw Thank you for the response. Are you able to provide me with the following -
1. MIC logs
2. NMI logs
3. `AzureIdentities` and `AzureIdentityBindings` in the cluster with the sensitive information redacted.

It would be great if you can provide me the logs around the time frame you see the errors. I'll also try and see if I can repro with the exact same cluster config.

[2020-02-18 18:01] thomas-riccardi opened #511 "MIC compute.VirtualMachineScaleSetsClient#CreateOrUpdate LinkedAuthorizationFailed when AKS node-pool uses a subnet from another resource group"
**Describe the bug**
When creating a Pod bound to an AzureIdentity, it fails to get properly bound:
- context: trying to setup [AGIC](https://github.com/Azure/application-gateway-kubernetes-ingress), their pod crashloops
- NMI logs:
[code]
(in loop)
- MIC logs:
[code]

I could not find anywhere in the documentation what where all the permissions needed by aad-pod-identity (using the AKS Service Pr

[2020-02-18 18:41] aramase commented on #510
@kwaazaar The identity assignment is done in a batch and a cloud operation PUT is made with the required identities in the batch to be assigned/removed. So if there is an error in one identity the entire cloud PUT operation fails.

[2020-02-18 19:35] aramase commented on #502
@twendt It's a good suggestion. Are you interested in opening a PR for this change?

[2020-02-18 19:37] aramase commented on #507
@devlinmr There is a good suggestion in this issue for how we can get around this - https://github.com/Azure/aad-pod-identity/issues/502#issue-562522359. I was able to test this change. I would be happy to review and merge the PR if you are interested in opening one with the change.

[2020-02-19 09:42] cwebbtw commented on #509
We have enabled verbose logging and will provide the logs for MIC and NMI when this happens. Until then, please see the redacted `AzureIdentities` and `AzureIdentityBindings`:

[code]

[code]

[2020-02-19 16:19] rnettleton opened #512 "Pod Identity Components don't seem to need Operator permissions"
**Describe the bug**
I've recently started working with "aad-pod-identity", in order to properly map a managed identity with some pods in my AKS cluster that handle logging.

I've been using the following online documentation as a starting point:

https://github.com/Azure/aad-pod-identity#getting-started

I've followed the "Getting Started" guide, and have been able to get some initial deployments

[2020-02-19 18:50] PatrickLang commented on #242
It's still in progress - some folks at Microsoft are working on a prototype. I don't have an ETA that I can share at this point

[2020-02-20 16:19] gimlichael commented on #278
When will cronjob be supported? I just used a lot of time to get a cronjob to work .. have a dockerized console app that needs to run .. and secrets are stored in keyvault .. don't want to use the FlexVol approach.

Thanks.

[2020-02-20 17:25] cwebbtw commented on #509
We're not seeing complete failures today but we are seeing slow downs:

See mic logs:

[code]

[2020-02-20 17:58] cwebbtw commented on #509
This is one of the faster requests but isolated to a single test case where the overall time taken for aad-pod-identity was 18 seconds. In the previous example, it took 2min 52 seconds, and prior to today, unable to assign an identity.

NMI logs:

[code]

MIC logs:

[code]

Will continue to identify a failing case.

[2020-02-24 06:55] jayush commented on #512
Any updates on this?

[2020-02-24 18:38] Roy-Barkay opened #513 "Is it possible ? Multiple pod identities in same cluster"
**Describe the bug**
Can I use multiple identeties in the same cluster?
for different pods
**Steps To Reproduce**

**Expected behavior**

**AAD Pod Identity version**

**Kubernetes version**

**Additional context**

[2020-02-24 22:03] aramase commented on #513
@Roy-Barkay Yes, it's possible to use multiple identities in the same cluster. An `AzureIdentity` and will need to be created for each identity that needs to be used. An `AzureIdentityBinding` needs to be created for every pod that'll consume the identity or all the pods could use the same label for the identity.

[2020-02-24 22:17] kkmsft commented on #511
The SP from AKS will need those permission for other operations such as disk attach and load balancer backend pool addition - https://docs.microsoft.com/en-us/azure/aks/kubernetes-service-principal#networking. Were you facing the same issue with any of those operations before setting those permissions ?

[2020-02-25 14:55] thomas-riccardi commented on #511
@kkmsft I didn't fully read that page indeed, thanks for the reminder.

That being said, when I created the AKS cluster I did *not* give any Network permission on my external virtual network (in another RG), and everything seemed to work: nodes and pods had network access it seemed.
Only with aad-pod-identity did I need it.

[2020-02-26 06:18] hellokangning opened #514 "Deny requests without metadata header to IMDS"
**Describe the request**

When you query the Instance Metadata Service, you must provide the header `Metadata: true` to ensure the request was not unintentionally redirected. Your can see examples of this header in the [Azure documentation](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/instance-metadata-service#using-headers).

**Explain why AAD Pod Identity needs it**

While Pod I

[2020-02-26 07:03] vickeyrihal1 opened #515 "Missing Managed Identity is breaking other deployments/apps"
MI = Managed Identity

**Describe the bug**
The cluster has multiple client apps hosted with azure vmss using specific MIs assigned to resources in different subscription. Lately one of the client deleted the managed identity and missed to remove it from vmss.
After this, the clients that had other MIs mapped, started seeing missing MI errors. Although their actual identities were intact. Upon del

[2020-02-26 07:41] hellokangning opened #516 "Use the certificate of service principal to acquire an token"
**Describe the request**

Use the certificate of service principal to acquire an token

**Explain why AAD Pod Identity needs it**

Currently, Pod Identity supports user-assigned Managed Identity and the client scecret of service principal. For a higher level of assurance, Azure recommend using a certificate (instead of a client secret) as a credential.

[2020-02-26 17:11] aramase commented on #515
@vickeyrihal1 This behavior is expected with the current releases, because MIC gets the list of identities that's currently on the VMSS, appends/deletes any identities and then calls a VMSS `CreateOrUpdate`. During this `CreateOrUpdate` call if the old identities that are no longer in azure aren't cleaned up that'll result in an error.

[2020-02-26 17:12] aramase commented on #515
@vickeyrihal1 I see you are using the release candidate image.  I would recommend you use an official build release - https://github.com/Azure/aad-pod-identity/releases/tag/v1.5.5.

[2020-02-26 17:40] devlinmr commented on #507
Thanks @aramase I've prepared a branch https://github.com/devlinmr/aad-pod-identity/tree/add-label-selector but every time I try and raise a PR I get a 500.

[2020-02-27 08:26] devlinmr commented on #502
@twendt Thanks, as we're also waiting for a fix for this I've raised a PR with your suggested fix: https://github.com/Azure/aad-pod-identity/pull/518

[2020-02-27 17:10] vickeyrihal1 commented on #515
@aramase - Thanks for the info.

 Then this scenario could cause outage for other apps, no? It's not only about missing MI, but also if someone revokes its access.

I am coming from multi-tanent platform. I don't want to make a problematic user/app to have an impact on other clients/apps.

Would this be eligible for a Critical bug?

[2020-02-27 23:48] kkmsft commented on #229
Closing this issue. Please re open if this is still an issue.

[2020-02-27 23:48] #229 closed

[2020-02-27 23:50] aramase commented on #249
Closing this issue. Please reopen if you still have the issue.

[2020-02-27 23:50] #249 closed

[2020-02-28 00:08] kkmsft commented on #290
Closing this via - https://github.com/Azure/aad-pod-identity/pull/459

[2020-02-28 00:08] #290 closed

[2020-02-28 00:10] kkmsft commented on #291
This is already possible. Need a pipeline to be setup.

[2020-02-28 00:10] #291 closed

[2020-02-28 00:22] kkmsft commented on #371
Closing this. Please reopen if this issue still exists. For windows support please monitor issue #242 .

[2020-02-28 00:22] #371 closed

[2020-02-28 00:23] #360 closed

[2020-02-28 00:33] kkmsft commented on #383
With the 40 pod test, the pods are spread across the nodes.

[2020-02-28 00:33] #383 closed

[2020-02-28 00:41] kkmsft commented on #430
Closing this issue. Please re-open if the issue still persists.

[2020-02-28 00:41] #430 closed

[2020-02-28 00:50] kkmsft commented on #462
Closing this since we now support helm3. Please reopen if this is still an issue with helm3.

[2020-02-28 00:50] #462 closed

[2020-02-28 00:59] kkmsft commented on #464
If the resource is empty in the header, NMI will return an error as expected. This is generally seen with c# library since it does a health check with empty resource header.

@tomerleib : please reopen if this is still an issue.

@kboom - az login uses python libraries. Please open a new issue with steps to reproduce.

[2020-02-28 00:59] #464 closed

[2020-02-28 01:13] kkmsft commented on #470
Virtual Kubelet can use aad-pod-identity (to get userMSI tokens) to contact ACI, instead of using Service Principal. But aad-pod-identity cannot be used for pods running within the ACI since MIC/NMI cannot be run on the underlying VM within the ACI service. This is outside the scope of what we intend with aad-pod-identity project. Hence closing this issue.

[2020-02-28 01:13] #470 closed

[2020-02-28 01:21] aramase commented on #489
@ferantivero That is because the namespace is `default` for the service accounts in `https://raw. githubusercontent.com/Azure/aad-pod-identity/master/deploy/infra/deployment-rbac.yaml`. So when `kubectl apply -f https://raw. githubusercontent.com/Azure/aad-pod-identity/master/deploy/infra/deployment-rbac.yaml -n kube-system` is run, the service accounts are in default namespace, while NMI is in `k

[2020-02-28 01:21] #489 closed

[2020-02-28 01:22] kkmsft commented on #498
@desek : Would you be interested in raising a PR for this ? We will help review and merge.

[2020-02-28 01:25] kkmsft commented on #499
@northtyphoon - By any chance do you have the logs from MIC around that time frame ?

[2020-02-28 01:35] aramase commented on #504
@kwaazaar Checking in to see if you are still having these issues? If you are still having issues, can you help answer the question and steps to repro?

[2020-02-28 01:49] kkmsft commented on #512
@jayush @rnettleton - What is the scope and role of the service principal used to create the cluster - Does it have subscription wide scope or resource group level scope ?

[2020-02-28 01:51] kkmsft commented on #513
@Roy-Barkay : The comment above specifies how to use multiple identities. Closing this issue. Please free to re-open if you have any more questions.

[2020-02-28 01:51] #513 closed

[2020-02-28 02:01] #502 closed

[2020-02-28 02:01] #507 closed

[2020-02-28 23:00] vickeyrihal1 commented on #515
+ @kkmsft

[2020-03-03 11:02] kwaazaar commented on #510
It's not just a failing PUT operation. The mic pods themselve crash. This is the end of the log, just before a restart:
[code]

[2020-03-03 11:50] kwaazaar opened #521 "MIC logs show identity ResourceID for deleted/outdated identities"
**Describe the bug**
MIC logs show errors regarding identity that has already been removed and recreated in a different resource group a week ago (moved from the MC_-resourcegroup to a dedicated resource group). Is the ResourceID being cached?

Or is the reason that the identity is still assigned to the VM, but has already been deleted?
If I run `az vm identity show -g MC_aks-ot-rg_aahnl-kubernete

[2020-03-03 12:49] kwaazaar commented on #521
I can confirm that after removed all non-existing, but still assigned identities from the nodes in my cluster, mic no longers shows errors and everything works again.

I think however this is a situation MIC should be able to cope with.

[2020-03-04 23:04] kkmsft commented on #510
@kwaazaar - We tried repro with two scenarios:
- ResourceID pointing to wrong resource group (non existing).
- ResourceID pointing to wrong resource group (existing but different).

We were not able to repro the panic.

- Could you please let us know if there were anything else in the environment we could replicate to repro the issue ?
- When you say the latest - did you use 1.5.5 or image created

[2020-03-05 08:35] kwaazaar commented on #510
I use 1.5.5 by using the yaml.

I initially created the identities in the node resource group (MC_...) and later deleted them and recreated them **with the same name** in a different resource group. The AKS service principle has the **proper permissions in both resource groups**.

Maybe this is related to issue #521 .

[2020-03-05 08:37] BartVanBerkel opened #523 "MIC doesn't reinitialize the /etc/kubernetes/azure.json when updated"
**Describe the bug**
We regularly update our AKS SPN with a new password and update the AKS cluster accordingly. After the update of the cluster we remove the old password from the SPN. After this update we see the following messages in the MIC:
[code]
When we recycle the MIC pods we are up and running again.

**Steps To Reproduce**
- Add a new password to the SPN
- Update the AKS cluster with the

[2020-03-06 10:49] skwasiborski commented on #521
I am facing similar issues. I can confirm that if a user identity used by pod-identity is removed in Azure mic is unable to process any new changes.

In most cases removing the AzureIdentity resource representing deleted identity helps i.e. the mic starts to correctly process any new requests. That said I did experience case where both the identity azure resource and AzureIdentity kubernetes resou

[2020-03-06 17:55] aramase commented on #521
With this [change](https://github.com/Azure/aad-pod-identity/pull/522), MIC should be able to ignore identities that no longer exist in Azure but still exist on the node. The current API that's being used is `CreateOrUpdate` which gets the current list of identities that's on the node, appends/deletes identities from the list and republishes the identity list. So if any of the old identities exist

[2020-03-07 18:01] dharmab commented on #515
@aramase this behavior seems quite fragile, although I understand that the root issue is due to the `createOrUpdate` call within the management API refusing to update if any submitted identity does not exist.

Would it be possible or practical for AAD Pod Identity to check for 404'd identities and prune from from the list before submitting the VMSS update?

[2020-03-09 09:21] tomkerkhove opened #524 "Plans for GA"
**Describe the request**
As far as I know, AAD Pod Identity is still in preview.

Are there any plans for making this GA and incorporated with AKS?

[2020-03-09 15:45] cwebbtw commented on #509
[code]

[2020-03-09 20:47] aramase commented on #515
@dharmab That might be possible, but if there are multiple identities with issue, the error returned from the `CreateOrUpdate` call is only for the first identity with issue in the list of identities. We could think about potentially updating one identity at a time if there is any error, but that does not scale well.

[2020-03-09 22:24] cwebbtw commented on #509
Another dump:

[code]

with corresponding NMI logs:

[code]

[2020-03-10 04:33] dharmab commented on #515
I don't think it'd have to do one at a time on error. If you have ten identities, and the API tells you that `identities[3]` is invalid, you could pop the third identity out of the list and try again with the remaining nine. Then if it tells you that `identities[7]` is invalid, you can pop again. That would scale the number of `createOrUpdate` attempts with the number of invalid identities instead

[2020-03-11 20:10] #498 closed

[2020-03-11 21:38] kkmsft commented on #524
@sauryadas will be able to answer the AKS+aad-pod-identity time frame.

[2020-03-11 22:24] sauryadas commented on #524
end of may possibly ...

keep any eye on

https://github.com/Azure/AKS/issues/1480

[2020-03-13 09:48] dewanymca opened #528 "Documentation for provisioning POD identity for mulit namespace"
We have started using pod idenity for enabling MSI for key vault integration. It works great with default namespace. As we will be having multi namespace per team/microservice so we are looking for topology/steps to enable it.

POD Identity has different resource some are cluster level and other are namespace level. So we are not sure what it takes to enable different POD identity to different nam

[2020-03-16 08:56] jakubneubauer opened #529 "Failed to list v1.AzureIdentity ... unexpected character"
**Describe the bug**
My pod cannot use the created AzureIdentity. From container shell:
[code]

MIC log:
[code]
NMI log contains:
[code]

**Steps To Reproduce**

**Expected behavior**

**AAD Pod Identity version**
mcr.microsoft.com/k8s/aad-pod-identity/nmi:1.5.5
mcr.microsoft.com/k8s/aad-pod-identity/mic:1.5.5

**Kubernetes version**

Client Version: version.Info{Major:"1", Minor:"17", GitVersion:

[2020-03-16 14:48] dharmab commented on #515
@aramase, what are your thoughts about the above error handling approach?

We could also cap the number of retries to some configurable level to avoid retrying a createOrUpdate 100+ times in an extreme case.

[2020-03-16 16:13] aramase commented on #529
@jakubneubauer The`type`field in AzureIdentitySpec needs to be an integer. The error above seems to indicate the value is wrapped in quotes which is causing the failure. Can you remove the quotes and try again? (https://github.com/Azure/aad-pod-identity/blob/master/deploy/demo/aadpodidentity.yaml#L6)

[2020-03-16 16:15] aramase commented on #528
@dewanymca pod-identity can be run in force namespaced mode - https://github.com/Azure/aad-pod-identity/blob/master/docs/readmes/README.namespaced.md

When run in force namespaced mode, the `AzureIdentity`, `AzureIdentityBinding` and pods only in the same namespace will be matched.

[2020-03-16 16:20] aramase commented on #515
@dharmab Retries with a cap does sound reasonable. I'll play around that and few other approaches this week to see what can be done.

[2020-03-17 12:04] droessmj opened #531 "Pod X has no assigned node yet. it will be ignored"
**Describe the bug**
Creating a new application with a new User Assigned Identity in a new namespace results in the above error when pods are created. No additional information is thrown regarding the workload or its identity from this point forward.

The only error message received is `Pod $namespace/$podName has no assigned node yet. it will be ignored` (tokens to replace real names)

**Steps To

[2020-03-17 12:18] #531 closed

[2020-03-17 12:22] droessmj commented on #531
Closing issue for now due to operator error. Working with internal team to ensure the original workload can be brought up as expected. Ticket resolution ended up being diagnostic actions taken which broke the binding.

[2020-03-17 16:00] ThomasSchoenbeck opened #532 "MSI bindings - get client and resource ID from secrets"
Hi, i am wondering if there will be a way to reference client and resource ID inside an AzureIdentity from Kubernetes Secrets?

Much like the example aadpodidentity-sp.yaml for using Service Principals as seen below

Service Principal Example
[code]

Idea for referencing values from secrets
[code]

[2020-03-18 15:39] arodriguezdlc opened #533 "MIC doesn't delete user managed identities on namespace deletion"
**Describe the bug**
As it's explained at documentation (https://github.com/Azure/aad-pod-identity#node-managed-identity), When AzureIdentity resource or all pods with this AzureIdentity assigned are deleted, MIC should automatically remove the User Managed Identity from VMSS.

This works well if you delete directly this resources, but fails if the kubernetes namespace with this resources is delet

[2020-03-18 16:34] DrEsteban opened #534 "README.msi.md should call out min-access permissions instead of full Contributor"
**Describe the request**
The [README.msi.md](https://github.com/Azure/aad-pod-identity/blob/master/docs/readmes/README.msi.md) document explains that you need to assign full Contributor access to the user-assigned identity for the MC_ resource group.  This allows much more capability than is required, and I suspect it was documented this way more as a convenience.

**Explain why AAD Pod Identity n

[2020-03-19 05:29] aramase commented on #533
@arodriguezdlc I think this can be prevented by adding finalizer to the `AzureAssignedIdentity` to ensure that custom resource is deleted only after the identities are successfully cleaned up. I'm currently trying out that approach and will post here if that works.

[2020-03-19 05:47] aramase commented on #533
@arodriguezdlc Does this happen all the time? I'm unable to repro this with one `AzureIdentity`, binding and pod.

[2020-03-19 06:29] #287 closed

[2020-03-19 15:14] arodriguezdlc commented on #533
Not always, but very often. It seems like a race condition.

I'm going to try adding the finalizer too.

[2020-03-20 00:38] aramase commented on #514
closed with https://github.com/Azure/aad-pod-identity/pull/500

[2020-03-20 00:38] #514 closed

[2020-03-20 16:26] athempel opened #535 "Arbitrary subscription used when pod has identities from multiple subscriptions"
**Describe the bug**

I have a pod that matches 2 AzureIdentityBindings to user-assigned managed identities from 2 different subscriptions belonging to my tenant.

When a container in the pod uses the Azure CLI to log in to one of these identities, it is often logged in with the incorrect subscription, and does not have access to the correct subscription.

**Steps To Reproduce**

With the followin

[2020-03-20 16:49] aramase commented on #534
@DrEsteban Thank you for opening the issue! Would you be interested in opening a PR to update the doc?

[2020-03-20 17:11] aramase commented on #529
@jakubneubauer If the issue still persists after trying the above [steps](https://github.com/Azure/aad-pod-identity/issues/529#issuecomment-599624989), Please reopen the issue.

[2020-03-20 17:11] #529 closed

[2020-03-20 17:14] aramase commented on #512
@jayush Did you get a chance to look at the above question?

[2020-03-20 17:16] aramase commented on #487
this issue will be resolved with https://github.com/Azure/aad-pod-identity/pull/522

[2020-03-20 17:16] #487 closed

[2020-03-20 17:17] aramase commented on #501
@twendt Would you be interested in opening a PR for this?

[2020-03-20 17:22] aramase commented on #521
Closed with https://github.com/Azure/aad-pod-identity/pull/522

[2020-03-20 17:22] #521 closed

[2020-03-20 18:00] rnettleton commented on #512
@kkmsft , @aramase , Thanks for the replies on this issue.

We're using the ClientID of the subscription used in order to create the AKS cluster.

Does this mean that the service principal for this cluster would have subscription-wide scope?  It seems like that would be the case, but I wanted to double-check.

If the service principal we use to create an AKS cluster has subscription-level scope, d

[2020-03-20 19:15] elsesiy commented on #511
I can confirm what @thomas-riccardi said, I'm running into the exact same issue and only after assigning "Network Contributor" on the vnet resource group it works

[2020-03-20 19:17] elsesiy commented on #484
@kkmsft I was able to get this working with the said exception in place:
[code]

Is there any reason why the NMI would ever intercept traffic from MIC? Otherwise I agree with @Kuzbekov and the exception should be default.

[2020-03-20 22:52] DrEsteban commented on #534
@aramase Sure thing! PR submitted: #536

[2020-03-23 16:16] aramase commented on #535
@athempel I was able to reproduce this. This is because currently in pod-identity we lookup the `client_id` header to match the correct client id for the request and fetch the token. When `az login --identity -u <resource id of MSI>` request is made, the resourceID is included in a new header `msi_res_id` which we don't currently lookup. If you do `az login --identity -u <clientID>` instead, you w

[2020-03-23 18:16] dewanymca opened #537 "Authorization issue using POD identity with Storage"
Hi Team
We have been using POD identity for enabling MSI feature for Azure resources. We have couple of resource where we want to use this feature- keyvault, storage and service bus. POD identity is working fine with Keyvault (may be because we cache keyvault secret in startup). However seeing erratic behaviour with Azure storage. It works for few request and after that starting giving authorizati

[2020-03-23 18:45] #534 closed

[2020-03-24 22:00] asubmani commented on #511
I ran into this issue.  Here are the exact permissions required:

1) "Network Contributor" or custom role on the subnet (not needed at VNET level if the VNET has other subnets) . Custom role is documented here  https://docs.microsoft.com/en-us/azure/aks/kubernetes-service-principal#networking.
2) The SPN of the AKS cluster (or MSI) needs to have "Managed Identity Operator" role on all of the aad

[2020-03-25 18:23] aramase commented on #537
@dewanymca What is the error you are observing specifically? Is NMI not returning a token on request? Do you see any error messages in the NMI/MIC logs?

[2020-03-25 18:25] aramase commented on #532
@ThomasSchoenbeck Currently, there are no plans to support that.

Curious why you prefer this over the current approach?

[2020-03-25 18:26] aramase commented on #524
Closing this issue. Please follow https://github.com/Azure/AKS/issues/1480 for updates.

[2020-03-25 18:26] #524 closed

[2020-03-25 18:27] aramase commented on #528
@dewanymca Hope this answers your question. Closing this issue, Please feel free to reopen if you have any further questions.

[2020-03-25 18:27] #528 closed

[2020-03-25 18:40] aramase commented on #193
The problem with this is if the managed identity permissions are changed, then NMI will need to be restarted in order to fetch the new token. This can be a disruptive process.

Closing this issue since it's been open for a while. Please feel free to reopen if you have any more questions.

[2020-03-25 18:40] #193 closed

[2020-03-25 18:45] aramase commented on #454
@BzSpi The changelog usually only contains changes (features/bugs/improvements) to the MIC/NMI. Will add helm changes in the release notes the next time.

Will also bump the chart apiversion as part of the next release.

[2020-03-25 19:02] aramase commented on #499
@northtyphoon It's possible the time taken for cloud PUT during the upgrade took time. MIC makes a `CreateOrUpdate` call with all the identity list. If that operation takes time, then NMI can serve tokens until the identity is assigned. The next time it happens, please share the logs with us and we can take a look to see which operation is taking a long time.

Closing this issue. Please feel free

[2020-03-25 19:02] #499 closed

[2020-03-26 06:34] dewanymca commented on #537
below are few logs from storage:

time="2020-03-19T08:08:17Z" level=warning msg="parameter resource cannot be empty" req.method=GET req.path=/metadata/identity/oauth2/token req.remote=10.1.0.73
time="2020-03-19T08:08:17Z" level=info msg="Status (400) took 236599 ns" req.method=GET req.path=/metadata/identity/oauth2/token req.remote=10.1.0.73
time="2020-03-19T08:08:17Z" level=info msg="matched iden

[2020-03-26 06:41] dewanymca commented on #537
Just to mention this happens under load

[2020-03-26 14:12] porrascarlos802018 opened #541 "please update documentation to state if service its GA or PREVIEW."
**Describe the bug**
please update documentation to state if service its GA or PREVIEW.
**Steps To Reproduce**

**Expected behavior**
please update documentation to state if service its GA or PREVIEW.
**AAD Pod Identity version**

**Kubernetes version**

**Additional context**

[2020-03-27 18:23] biqas opened #542 "aadpodidbinding for batch/job"
aadpodidbinding is right now not working for kind jobs.

jobs/batch should be treated like deployments, I do not see any reason why job should not also have such abilities to inject secretes.

[2020-03-27 18:41] #542 closed

[2020-03-30 16:13] danalex07 opened #544 "MIC applying binding using indentity already deleted"
**Describe the bug**
Looking at the logs of the MIC some bindings failed to apply due to the component trying to perform some actions on a component already deleted

**Steps To Reproduce**
Create Identity, AzureIdentity, AzureIdentityBinding and Policies on KV for service then delete the Identity, and then the Resources on AKS

**Expected behavior**
Remove these old entries, and work with the ones

[2020-03-30 16:20] aramase commented on #537
@dewanymca I would suggest you check the NMI logs at the time the exception is logged in your service. If NMI is returning the token as expected without any errors then I'm not sure if it is an issue with pod-identity.

[2020-03-30 16:53] aramase commented on #544
@danalex07 With the current release, a `CreateOrUpdate` call is made on the VMSS to assign/remove the identity from the VMSS (get the current list, add/remove from the list and publish the entire list). This call errors out if the identity has been removed from azure but still exists on the cluster. If you delete the corresponding `AzureIdentity` and `AzureIdentityBinding` from the cluster, MIC sh

[2020-03-30 17:10] #412 closed

[2020-03-30 17:19] aramase commented on #469
@Ant59 The identities need to be created and role assignments need to be done manually. However once after the `AzureIdentity` is created in the cluster, it'll manage the lifecycle of the identity on the cluster. MIC handles the identity assignment/deletion of identities dynamically as workload that needs to use the identity runs/is deleted from the cluster. NMI acts as a soft firewall on the clus

[2020-03-30 17:19] #469 closed

[2020-03-30 17:28] aramase commented on #505
@vtiwari227 I'm not completely sure how to achieve that but a google search for this yields a lot of good results. Saw this one thread which talks about it - https://social.msdn.microsoft.com/Forums/en-US/dae34534-f193-4444-b52e-ba9cfa4a1fda/does-azure-msi-support-accessing-graph-api?forum=WindowsAzureAD

Please take a look.

Closing this issue. Please feel free to reopen if you have any more ques

[2020-03-30 17:28] #505 closed

[2020-03-30 17:32] aramase commented on #541
@porrascarlos802018 Here is a list of projects along with the state - https://github.com/Azure/container-compute-upstream/blob/master/README.md#project-list

You can track the preview status at https://github.com/Azure/AKS/issues/1480

[2020-03-30 17:32] #541 closed

[2020-03-30 17:34] aramase commented on #533
@arodriguezdlc I've been testing out the finalizer changes (https://github.com/Azure/aad-pod-identity/compare/master...aramase:add-finalizer). Will include that in one of the future releases.

[2020-03-30 20:07] danalex07 commented on #544
yes i deleted the Managed Identity on Azure and then i removed the AzureIndentity and AzureIdentityBinding fromthe cluster, and i haven't seen any logs with the MIC trying to clean this up, i even restarted and re-deployed the MIC again....

i don't know if maybe there is some place where this info is stored that way i can clean that and make a fresh deploy of the full addpodidentity solution.....

[2020-03-30 23:37] aramase commented on #544
@danalex07 Was the namespace removed? MIC creates `AzureAssignedIdentity` custom resource to create a mapping for `AzureIdentity`, `AzureIdentityBinding` and pod. When any of the 3 resources are deleted, MIC will lookup the `AzureAssignedIdentity` and then clean up the associated identity from the vmss/vm. Deleting the namespace would delete the `AzureAssignedIdentity` which could mean MIC could n

[2020-03-31 02:17] danalex07 commented on #544
the namespace was not removed, i'm sure of that because that namespace is very important and can't be removed.

yes, I've found that some identities remain on the vmss after they were deleted so i deleted them manually, but the issue remains.

i wonder if this problem could lead to an `AzureAssignedIdentity` status `CREATED` because come logs related to a not assigned binding

maybe i am wrong bec

[2020-03-31 07:45] arodriguezdlc commented on #533
Thank you very much @aramase !!

[2020-03-31 16:07] aramase commented on #544
@danalex07 Are these the identities that need to be assigned? `/subscriptions/424fcfb0-b988-48c0-9ca6-8367c50e4297/resourcegroups/rg-prub-identities-eastus2/providers/Microsoft.ManagedIdentity/userAssignedIdentities/azty-eastus2-prub-motordereglasmdes,/subscriptions/424fcfb0-b988-48c0-9ca6-8367c50e4297/resourcegroups/rg-prub-identities-eastus2/providers/Microsoft.ManagedIdentity/userAssignedIdenti

[2020-03-31 16:46] aramase commented on #512
@rnettleton If the service principal has subscription level scope, then the write permission to VM/VMSS need not be explicitly set as its inherited from the subscription level permissions.

[2020-03-31 18:01] danalex07 commented on #544
@aramase , thanks a lot for you help, this turned out to be some garbage left behind by some previous configurations, come identities deleted and roles left behind without proper assignment, after some auditing and loot of coffee i managed to make it work......Thanks

[2020-03-31 18:01] #544 closed

[2020-03-31 21:30] aramase commented on #515
This particular issue should be resolved with the [PR](https://github.com/Azure/aad-pod-identity/pull/522) to switch to patch update instead of doing `CreateOrUpdate`. The update call will only be made with the desired list of identities to be added/removed.

Adding a [finalizer](https://github.com/Azure/aad-pod-identity/pull/546) will ensure when the pods/namespace are removed from the cluster, t

[2020-03-31 22:52] #508 closed

[2020-04-01 02:39] jldeen commented on #511
I can confirm I am seeing this issue as well - clean cluster, I have assigned both "Managed Identity Operator" and "Network Contributor" as suggested (and as suggested [here](https://github.com/Azure/aad-pod-identity#6-set-permissions-for-mic) and I can't seem to work around it. FWIW, this appears relatively new as I just set this up without issue on a different cluster about a month ago.

[2020-04-01 09:58] lgmorand opened #549 "Why default namespace"
Is there a specific reason that NMI and MIC are deployed in default namespace ?

Documentation says that default ns should not be used in  production and other tooling (flexvolume, kured, etc) all create their own namespace. why don't we have a "pod-identity" or something else to deploy NMI and MIC ?

[2020-04-01 16:38] aramase commented on #549
@lgmorand The first time deployment manifests were added, the pods were deployed in default namespace. The reason we haven't changed the namespace in the manifests is because most of the user rely on the [raw deployment url](https://raw.githubusercontent.com/Azure/aad-pod-identity/master/deploy/infra/deployment-rbac.yaml) for deployment/upgrade. If the namespace is changed in the deployment now, i

[2020-04-01 21:02] aramase commented on #512
@rnettleton Closing this issue. Please feel free to reopen if you have any more questions.

[2020-04-01 21:02] #512 closed

[2020-04-01 21:24] rnettleton commented on #512
Great.  Thanks @aramase for clarifying this!

[2020-04-02 06:57] lgmorand commented on #549
Ok thanks I agree for breaking change but sometimes better be a breaking change than a long-term bad practice :)

But I'm fine with your vision. thanks

[2020-04-02 06:57] #549 closed

[2020-04-02 19:16] #466 closed

[2020-04-03 05:24] gearama opened #552 "Included demo isn't working"
**Describe the bug**
included demo fails constantly with 403 and 404 http errors in the mic and nmi pods
also the cluster created through the demo scripts seems to be missing the --enable-managed-identity flag in the create command

**Steps To Reproduce**
follow the demo instructions at https://github.com/Azure/aad-pod-identity/blob/master/README.md

**Expected behavior**
to be able to run the dem

[2020-04-03 12:16] kevingbb opened #553 "NMI Pods Showing Errors"
**Describe the bug**
I am using Cluster Managed Identities with AKS and after installing AAD Pod Identity I get errors in the NMI pods and I have not done anything yet.

**Steps To Reproduce**
1. Create new AKS Cluster versions 1.16.7 using Cluster Managed Identity (--enable-managed-identity on the az cli)
2. Use kubectl apply to install version 1.5.5 of AAD Pod Identity
3. Run kubectl logs on the

[2020-04-03 16:02] aramase commented on #553
@kevingbb when MIC pods land on the same node as the NMI pod, token request from MIC is also intercepted by NMI.

You can create an AzurePodIdentityException to allow token requests from MIC to go directly to metadata service for fetching token instead of NMI validation.

[code]

The docs for exception are here - https://github.com/Azure/aad-pod-identity/blob/master/docs/readmes/README.app-excepti

[2020-04-03 16:11] aramase commented on #553
Please feel free to reopen the issue if you still getting errors after configuring `AzurePodIdentityException`.

[2020-04-03 16:11] #553 closed

[2020-04-03 16:15] aramase commented on #537
@dewanymca Did you get a chance to check the NMI logs during the timeframe the issue is happening?

[2020-04-03 17:12] dewanymca commented on #537
We were able to reproduce this again. Below are steps:
1) Deployed AKS workload using helm and tested 1 message everything worked fine.
2) After 5 hour, tested message again it failed with Authorization issue. Looking at NMI logs we were seeing 400 error, below are logs:

time="2020-04-03T16:53:41Z" level=warning msg="parameter resource cannot be empty" req.method=GET req.path=/metadata/identity/o

[2020-04-03 17:19] aramase commented on #537
@dewanymca The first error is `parameter resource cannot be empty` in the request. We have seen this with C# library where the first request is a healthcheck without the resource in the request. The next request from the pod has the `resource` in the request header and the token was successfully returned -

[code]

[2020-04-03 17:44] #511 closed

[2020-04-03 17:46] aramase commented on #537
Had an offline discussion about this with @dewanymca. One thing to validate is if there is client side caching of the token as NMI does not perform any caching.

[2020-04-06 07:39] auerl opened #554 "Triggering identity assignment without creating a new azureidentity resource"
Dear all,

First of all, thanks much for this very useful application. We are using aad-pod-identity in the context of a [JupyterHub](https://jupyter.org/hub) kubernetes deployment, where we create a new Azure Resource Group for each user logging in. Using aad-pod-identity allows us to assign each users pod (running his Jupyter notebook server instance) a unique managed identity, associated with t

[2020-04-06 16:35] aramase commented on #554
@auerl New pod creation should trigger MIC to assign the identity the underlying node.

What do you see in the MIC logs at the time frame when there is no association? Is MIC in the process of assigning the identity?

[2020-04-06 17:29] aramase commented on #537
@dewanymca confirmed there is caching on the client side which means there is no new token fetch calls to NMI.

Closing this issue as it's not an issue with pod-identity. Please feel free to reopen if you have any questions or other issues.

[2020-04-06 17:29] #537 closed

[2020-04-06 18:01] auerl commented on #554
@aramase

[code]
This is the MIC log from a successful association (unfortunately I wasn't able to reproduce the issue since this morning).  The only thing I see is that it takes quite a while to assign the identity. Is a duration of ~ 1 min to be expected, in your experience? Could this be related to issues / timeouts Azures side, perhaps due to increased traffic? I noticed other deployment issue

[2020-04-06 18:40] aramase commented on #554
@auerl Identity assignment (PUT operation on azure) typically takes ~40-50s in case of VMSS. When a new pod is created, MIC will make a cloud operation PUT to assign the identity to the VMSS. Until the operation succeeds, the identity will not be available for use by the pod.

[2020-04-07 06:47] auerl commented on #554
@aramase Thanks, good to know that this is normal behavior. I will keep on monitoring and post the logs when the issue recurs.

[2020-04-08 10:15] auerl commented on #554
@aramase The issue recurred but there was no log output related to the pod for which identity assignment failed. Is it possible that state changes may be ignored by MIC in case it is currently handling the state changes related to another service (e.g. currently performing the PUT request to Azures API)? Asking because I think this may have been the case when it failed this time... still trying to

[2020-04-08 16:07] aramase commented on #554
@auerl If pod states change when MIC is in the middle of a PUT operation, then all those change events are queued. Once MIC finishes the current PUT, it'll batch process all the events that are in the queue. So you should see MIC processing the pod once the PUT operation is complete. If not, you can increase the log verbosity of MIC to `-v=5` and check the logs. Please share the logs here if you s

[2020-04-09 13:39] kierangmst opened #556 "Pod identity no longer working"
Hi, not 100% that this is a bug, but my pod identity stopped working this morning. Any help would be appreciated.

**Describe the bug**
Pod Identity Binding has stopped working. It was working fine since I set it up a month ago. Since about 9 am (IST) the system is failing to get the pod identities. This morning I was adding some new services to the cluster, but nothing to do with the pod identity

[2020-04-09 16:07] aramase commented on #556
@kierangmst The issue with duplicate ids was already fixed in the earlier 1.5 versions (https://github.com/Azure/aad-pod-identity/pull/271). I'll try to repro this on my end.

Can you remove the `AzureIdentity` and `AzureIdentityBinding`, wait for MIC to delete the `AzureAssignedIdentity` and then redeploy the identity and binding? After that if you still see the error, can you increase the log ve

[2020-04-09 16:39] aramase commented on #556
I'm unable to repro this with 1.5.5 on my cluster.  Do you happen to have the MIC logs during the time the issue happened?

[2020-04-09 17:15] kierangmst commented on #556
Thanks for looking into this @aramase

I took the removal and wait action that you suggested. The results are the same. These are the MIC logs from after the delete and then the re-add of the resources:

**MIC log for delete action:**

409 17:00:30.345826       1 mic.go:787] Processing node aks-agentpool-41316245-vmss, add [0], del [2]
I0409 17:00:30.368502       1 crd.go:539] Updating assigned id

[2020-04-09 17:24] aramase commented on #556
@kierangmst Are the pods referring to the identity which is already on the vmss?

can you try manually removing the identity from the underlying vmss if it's not in use by any other pod? `az vmss identity remove --identities <name of identity> -g <rg> -n <vmss name>`.

Are the pods referring to the identity which is already on the vmss?

[2020-04-09 17:42] kierangmst commented on #556
@aramase

I re-applied the delete of the resources and then re-add. I then tried deleting the identity from the VMSS as you suggested. After the system re-applied the identity the problem hasn't gone away. This identity is the only one being assigned to the VMSS and is only carried out by the identity system and is not already defined on there. I will try to get the more detailed logging enabled n

[2020-04-09 17:52] aramase commented on #556
@kierangmst You can email me the logs anramase@microsoft.com. Also, if you need we can hop on a call to see what's happening.

[2020-04-09 18:07] tkporter commented on #237
Hi! I have a use case that this change would make possible-- I see that https://github.com/Azure/aad-pod-identity/pull/244 was closed, but was hoping someone could give any suggestions for a workaround :)

Essentially we have a `StatefulSet` where each pod will be using a particular HSM in Key Vault for signing. In the initial implementation, each pod in the statefulset is using the same `AzureIde

[2020-04-09 18:27] kierangmst commented on #556
Thanks @aramase, I sent you an email with the logs.

[2020-04-09 23:57] arunbalajip opened #557 "AAD pod identity is not working in custom namespace"
**Describe the bug**
When I am running my application in a custom namespace, I am getting the below error.
My application access Azure key vault during startup.

Unhandled exception. Microsoft.Azure.Services.AppAuthentication.AzureServiceTokenProviderException: Parameters: Connection String: [No connection string specified], Resource: https://vault.azure.net,

Here is the deployment information
![

[2020-04-10 00:01] arunbalajip commented on #557
![deployment](https://user-images.githubusercontent.com/20033858/78950496-c5705800-7a83-11ea-9caa-1ee417a96cf4.PNG)

[2020-04-10 00:04] arunbalajip commented on #557
Here is the information on the AzureIdentity, AzureIdentityBindings
![image](https://user-images.githubusercontent.com/20033858/78950572-05373f80-7a84-11ea-9290-ba8cccc343b2.png)

[2020-04-10 01:00] #557 closed

[2020-04-10 01:01] arunbalajip commented on #557
vmss didn't update the new managed identity I created. I forcefully deleted it and it worked.

[2020-04-10 02:44] tezzigator commented on #552
Its not working for me either, using AKS managed kubernetes 1.16.7, here are my details:
AKS cluster was built using MSI instead of a SP for building components in the special resource group.
The user managed identity I created is in that same special resource group, so I didnt do step #6 (Set Permissions for MIC)
NMI doesnt really show any errors.
MIC has error:
`E0410 02:22:57.185044       1 mic

[2020-04-10 03:06] aramase commented on #552
The required permissions for MSI cluster are documented here - https://github.com/Azure/aad-pod-identity/blob/master/docs/readmes/README.msi.md

Once the required role assignments are done, the MIC pods will need to be restarted to refresh the credentials. Please let me know if you still have any issues after that.

[2020-04-10 16:01] aramase commented on #556
Had a conversation with @kierangmst through email. The issue was the resourceID in the AzureIdentity didn't contain the leading "/".  Once that was added it fixed the issue. To prevent errors similar to this, validation for resourceID has been added with this PR - https://github.com/Azure/aad-pod-identity/pull/548. If the resourceID is not of the valid format, then it'll be ignored.

[2020-04-10 16:01] #556 closed

[2020-04-10 16:15] biswabandhu21 opened #560 "Use pod identity across namespace"
Describe the request
We have multiple application running in AKS with different namespace.  I wanted to have one MIC setup to attach identity to all the pods across the namespace. This will enable me to managed identity of all pods from single place.

Can we have identity defined with a custom namespace instead of default. If yes then what changes are required. I know it may be a silly query but I

[2020-04-11 04:06] tezzigator commented on #552
Thanks - I added the 4 extra roles as directed (the initial 2, the 3rd for a single User Managed identity Im using, and the 4th is since my VNet is in a different RG). and deleted/re-applied the azureidentity, azureidentitybinding, deployment, daemonset, and also all the CustomResourceDefinitions.  Here are my logs from the MIC's:
[code]

NMI logs:
[code]
There are a lot of regular-occuring 404's

[2020-04-13 11:03] vickeyrihal1 commented on #515
Thanks @aramase. Assuming we are waiting for adding retry logic before cutting out a new release?

[2020-04-13 13:46] vishnujanardhanan commented on #509
@kkmsft @aramase I'm seeing this error continuously from this afternoon. Seeing less than 5% success rate for the calls. Issue is same as @cwebbtw posted. I'm running on VMSS. I'll go through the suggestions and paste the logs. i have also raised a support case as it is affecting our release - 120041323001111.  Can you please help?

[2020-04-13 16:10] aramase commented on #509
For VMAS,  there was a change the compute resource provider which is causing increased time for identity assignment PUT calls. That's what @cwebbtw is observing on the cluster.

@vishnujanardhanan What is the time you are seeing in the MIC logs for the PUT operation? Typically on VMSS, the identity assignment PUT call takes ~40s-1min.

[2020-04-13 16:53] ferantivero opened #562 "Helm Chart 404"
**Describe the bug**
trying to add to the repo the add-pod-identity chart I get a 404: https://raw.githubusercontent.com/Azure/aad-pod-identity/master/charts

**Steps To Reproduce**

**Expected behavior**

**AAD Pod Identity version**

**Kubernetes version**

**Additional context**

[2020-04-13 17:07] aramase commented on #562
@ferantivero I just tried and was able to add successfully -

[code]

this is my helm version -
[code]

[2020-04-13 17:15] aramase commented on #552
@tezzigator The 404 error is for oms agent pod running on your cluster. Once pod-identity is installed, all applications/pods running on the nodes that use MSI will go through the pod-identity validation. As there is no AzureIdentity and AzureIdentityBinding for the oms pod, it's failing to fetch token. If there are applications on the cluster which still needs to use MSI but not go through pod-id

[2020-04-13 17:34] aramase commented on #515
There are a couple of changes that have gone in to prevent most of error scenarios - validation of resourceID, switching to PATCH instead of PUT. The plan is to cut release 1.6 this week. The retry logic will probably make it in 1.6.1.

The PATCH will handle cases where an identity still exists on the VMSS, but has been deleted from azure.

[2020-04-13 17:36] ferantivero commented on #562
thanks for quick turned around @aramse, bad copypasta on my end. Please let me close this

[2020-04-13 17:36] #562 closed

[2020-04-13 17:43] aramase commented on #560
@biswabandhu21 This is what you are looking for - https://github.com/Azure/aad-pod-identity/blob/master/docs/readmes/README.namespaced.md

`AzureIdentity` and `AzureIdentityBinding` can be created in any namespace. By running pod-identity in force namespaced mode, you can ensure only the `AzureIdentity`, `AzureIdentityBinding` in the same namespace as the application pod will be matched.

[2020-04-13 17:45] #467 closed

[2020-04-13 17:54] vishnujanardhanan commented on #509
@aramase I see the below in the logs

I0413 17:52:03.268069       1 mic.go:317] Found 0 pods, 1 ids, 1 bindings
I0413 17:52:03.268088       1 stats.go:65] ** Stats collected **
I0413 17:52:03.268094       1 stats.go:61] Pod listing: 23µs
I0413 17:52:03.268101       1 stats.go:61] ID listing: 14.49086ms
I0413 17:52:03.268105       1 stats.go:61] Binding listing: 28.991222ms
I0413 17:52:03.268108

[2020-04-13 17:54] aramase commented on #445
Thank you for opening this issue. I'm in the process of adding troubleshooting docs. Will also add the suggestions here in the docs.

@Veraticus The `resourceID` in AzureIdentity is required so MIC knows which user assign identity to assign to the underlying VM/VMSS. The `clientID` in AzureIdentity is used by NMI to match the identity when the request for token is made with clientID.

[2020-04-13 18:11] aramase commented on #509
40s-1m is the excepted time for identity assignment in VMSS.  NMI already handles retries. By default it retries 16 times with 5s interval (total 80s) unless the request is cancelled before. If you are seeing times in the range > 2 or 3m, it might be because of the current load in the compute services. What is the error log you see in NMI before the timeout?

[2020-04-13 18:22] vishnujanardhanan commented on #509
@aramase is this the parameter used for retries? i'm using the default which is 4, so i guess it times-out in 20 seconds

  # Override number of retries in NMI to find assigned identity in ASSIGNED state (default is 4)
  retryAttemptsForAssigned:

[2020-04-13 18:27] aramase commented on #509
@vishnujanardhanan These are the flags for retries - https://github.com/Azure/aad-pod-identity/blob/master/charts/aad-pod-identity/values.yaml#L124-L131

The `retryAttemptsForCreated` default value is 16 and `retryAttemptsForAssigned` default value is 4. MIC creates an `AzureAssignedIdentity` in `CREATED` state first and then assigns the identity to the underlying node (VM/VMSS). After successfull

[2020-04-13 18:28] vishnujanardhanan commented on #509
@aramase thanks, this is the error I see in nmi logs

time="2020-04-13T18:09:21Z" level=warning msg="failed to get assigned ids for pod:cicd/jenkinsdeployer-tdtx4 in ASSIGNED state, retrying attempt: 1" req.method=GET req.path=/metadata/identity/oauth2/token req.remote=10.118.77.38
time="2020-04-13T18:09:26Z" level=warning msg="failed to get assigned ids for pod:cicd/jenkinsdeployer-tdtx4 in ASSIG

[2020-04-13 18:33] aramase commented on #509
@vishnujanardhanan Was the identity recreated with the same name? Looks the clientID doesn't match what's on the vmss which is why token request is error-ing out. Check the output for `az vmss identity show -g <rg> -n <vmss name>` and see what the client id is.

[2020-04-13 18:49] vishnujanardhanan commented on #509
@aramase No, there were no changes made to identity. I have verified the out put of the command and it seems to be the same. I have pasted the output in support case - 120041323001111.

[2020-04-13 18:51] vishnujanardhanan commented on #509
and it was working sometime in the evening for few requests, so it works for few requests and it fails for 95 percent of other requests.

[2020-04-13 18:55] aramase commented on #509
Are all the requests using the same user MSI? I can't see the output for az vmss command in the support case, but you've confirmed the clientID that you see in the NMI request is the same as the clientID shown in the `az vmss identity show` output and also the clientID is the same for the user managed identity in the azure portal?

[2020-04-13 18:56] vishnujanardhanan commented on #509
are you able to give me your MS email? I shall send them to you?

[2020-04-13 18:57] aramase commented on #509
sure, anramase@microsoft.com

[2020-04-13 19:40] tezzigator commented on #552
ah thanks - I should have realized that, yes I have 3 MSIs there in my RG, also I have the kubelet's identity as well I think Ill have to deal with for creating resources, I'll have to deal with that part later.

For now - I've got my worker pod that is attempting to access a keyvault.  It has the aadpodidbinding label that matches in my YAML file for AzureIdentity/Binding. (and for now I'm develo

[2020-04-13 20:30] aramase commented on #552
@tezzigator The resource header needs to be set while making a request to fetch the token. If it doesn't exist, then metadata endpoints fails to return a token. See these examples where resource is set for each token request - https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/how-to-use-vm-token#overview.

Also, the aadpodidbinding needs to be in the `spec.

[2020-04-13 21:26] biswabandhu21 commented on #560
Thanks @aramase

[2020-04-13 21:26] #560 closed

[2020-04-13 21:27] biswabandhu21 opened #563 "Unable to remove/delete nmi pods"
Hi

I have deleted the my MIC pod deployment and dont see it anymore on listing pods. But I still see the NMI pods. How can that be deleted.

What I am looking is completed remove the MIC & NMI and restart from blank page.

[2020-04-13 21:40] aramase commented on #563
NMI runs as a daemonset on the cluster

[code]

To delete the daemonset, run

[code]

[2020-04-13 21:40] #563 closed

[2020-04-13 22:34] tezzigator commented on #552
I really appreciate your help.  Ill look at the resource header in a bit (this all works locally, so not sure why its not working on AKS)

I have a [gist](https://gist.github.com/tezzigator/e6595e6af8e4d44dc8a7c4b7945d3995) with my YAML.  I 100% verified the ResourceID and ClientID of my identity is correct in that YAML.

I have also put in the 4 role assignments:
[code]

However it may be the wro

[2020-04-14 06:06] vickeyrihal1 commented on #515
Perfect! thanks @aramase.

[2020-04-15 00:51] #484 closed

[2020-04-16 17:59] biswabandhu21 opened #566 "Sample project to use identity to connect msql & keyvault in springboot"
I am able to setup identity for my pods.

can someone redirect me to sample project where I can used the attached identiy to connect to mssql and keyvault. My project is in spring boot.

I dont want to use Flex Volumes as it is not approved by my security team.

[2020-04-20 16:55] chewong opened #568 "Move e2e test pipeline from Jenkins to ADO"
**Describe the bug**

**Steps To Reproduce**

**Expected behavior**

**AAD Pod Identity version**

**Kubernetes version**

**Additional context**

[2020-04-21 12:31] aristosvo commented on #566
https://aristosvo.github.io/posts/aks-with-msi-for-your-java-services/ contains an example for keyvault, but not for MS SQL. I'll probably extend it in the future with more Azure Services, but MS SQL is probably not among them, MySQL maybe.

[2020-04-22 17:23] biswabandhu21 commented on #566
@aristosvo : I saw the code but didnt get to understand much. It has only

 @Value("${your.property.name}")
    private String mySecretProperty;

Does it internally pick the secret and stores here based on the

azure.keyvault.enabled=true
azure.keyvault.uri=${KEYVAULT_URI}

[2020-04-22 17:24] biswabandhu21 commented on #566
I was able to connect to DB using managed identity , so thanks again for your help

[2020-04-22 19:04] involatile opened #570 "MSAL support?"
**Describe the request**
Is there any plan to use MSAL (instead of ADAL) for authentication?

**Explain why AAD Pod Identity needs it**
MSAL is the latest generation of authentication library that providers high reliability, which is critical for micro-services.

**Describe the solution you'd like**
Replace ADAL calls with MSAL calls. But, first we need a golang version of MSAL.

**Describe altern

[2020-04-22 19:36] olialth commented on #523
Hi, we experience the behavior that (in our case) after 70days of runtime, the client secret expires but the MIC pod does not recognize it.
RE-starting the POD solves the issue. Is there anything planned on fixing that bug?
Many thanks,
Oliver

[2020-04-22 19:47] aramase commented on #523
@BartVanBerkel @olialth MIC initializes the cloud client during startup. It loads the file initially, reads the creds and generates a token using that. We could potentially add a fsnotify to watch on the file system and detect changes automatically.

The current resolution is to restart the MIC pods.

I'll add this fix to the list of items for next release.

[2020-04-22 21:00] #552 closed

[2020-04-22 21:13] aramase opened #571 "Enable linting in CI"
- [ ] Code clean up
- [ ] Enable linting in CI

[2020-04-23 14:56] #566 closed

[2020-04-23 21:53] #504 closed

[2020-04-23 21:53] #510 closed

[2020-04-23 23:41] aramase opened #573 "Document issue during cluster auto scale event"
When a cluster is scaled up, there might be a scenario where the `kube-scheduler` schedules the workload pod before the NMI pod. In such scenario token request will be directly sent to IMDS instead of being intercepted by NMI.

There is currently no solution in kubernetes where node can be set to `NoSchedule` until critical addons are deployed to the cluster. There is a KEP for this which is curre

[2020-04-24 01:40] jsangco opened #574 "Helm chart link is returing 404: https://raw.githubusercontent.com/Azure/aad-pod-identity/master/charts"
The Helm chart link recommended in the [documentation ](https://github.com/Azure/aad-pod-identity/tree/master/charts/aad-pod-identity)is returning `404`.

This link:
https://raw.githubusercontent.com/Azure/aad-pod-identity/master/charts

Is the documentation out of date or was it accidentally deleted?
Is there a different link I should be using as a workaround?

[2020-04-24 04:32] aramase commented on #574
@jsangco I just tried helm repo add from the doc and it works.

[code]

The link is used to add to helm repo. Directly trying the url will give a 404.

[2020-04-24 05:37] vickeyrihal1 commented on #515
@aramase - any news?

[2020-04-24 17:09] aramase opened #576 "Update helm charts api version from v1 to v2"
- `aad-pod-identity` helm chart will be updated from apiVersion `v1` to `v2`

**What does this mean?**

The charts will no longer work with helm2 and will only be supported with helm3

[2020-04-24 17:10] aramase commented on #574
@jsangco Closing this issue. Please feel free to reopen if you are still having any issues.

[2020-04-24 17:10] #574 closed

[2020-04-24 18:50] #454 closed

[2020-04-24 23:13] aramase commented on #515
@vickeyrihal1 Just cut a new release - https://github.com/Azure/aad-pod-identity/releases/tag/v1.6.0. Please review the changes and let us know if you have any feedback after trying it out.

[2020-04-24 23:26] aramase opened #582 "Re-evaluate role assignments required for MIC"
Now that MIC has been switched to using VM/VMSS update instead of `CreateOrUpdate`, we need to reevaluate all the role assignments documented and update if anything can be dropped.

[2020-04-27 15:23] phealy opened #583 "resourceId validation is case-sensitive but regex doesn't match default Azure casing"
**Describe the bug**
Per [pull request #548](https://github.com/Azure/aad-pod-identity/pull/548), there is now validation performed on resourceIds, performed using a [regex in utils.go](https://github.com/aramase/aad-pod-identity/blob/89d7f1ca9829bfd01153a7f6af377b82c8642f79/pkg/utils/utils.go#L21). This regex is being applied using case sensitive matching, but the casing doesn't match the default

[2020-04-27 15:47] phealy commented on #583
Actually, this may have been an alternate issue ... verifying.

[2020-04-27 15:49] chewong commented on #583
Hi @phealy. The regex in https://github.com/aramase/aad-pod-identity/blob/89d7f1ca9829bfd01153a7f6af377b82c8642f79/pkg/utils/utils.go#L21 is case-insensitive with the `(?i)` flag. I verified with 1.6.0 with `resourcegroups` and `resourceGroups` in the resource id and they both work. Could you share the `AzureIdentity` and `AzureIdentityBinding` that you are using?

[2020-04-27 15:49] phealy commented on #583
Yeah, sorry, this was an alternate issue and a miscopied error. Closing as user-error.

[2020-04-27 15:49] #583 closed

[2020-04-27 18:58] aramase opened #584 "Change status code returned from NMI for errors"
When no `AzureAssignedIdentity` found, then NMI should return `HTTP 400` instead of `HTTP 403` - https://github.com/Azure/aad-pod-identity/blob/master/pkg/nmi/server/server.go#L520-L523 as that mimics the behavior from IMDS

[2020-04-27 20:16] mnns opened #585 "getting assigned identities for pod default/demo in ASSIGNED state failed after 20 attempts"
Hi,

Installing as in guide, getting this error while checking 'demo' pod logs

[code]

This is the NMI log:

[code]

Latest AAD Pod, K8S 1.16.7

This K8S cluster is advanced networking, public. Trying to setup an AGIC.

Thanks!

[2020-04-27 20:20] chewong commented on #585
Hi @mnns. Did you follow https://github.com/Azure/aad-pod-identity#demo and set all the necessary environment variables? Could you also share the MIC logs?

[2020-04-27 20:22] mnns commented on #585
Yes I did (hopefully).

Btw, I have 2 pods of mic (did I mess something up?)

mic-76dd75ddf9-kp79v   1/1     Running   0          54m
mic-76dd75ddf9-prqq7   1/1     Running   0          54m

[2020-04-27 20:28] chewong commented on #585
Did your cluster service principal have the correct role assignments - https://github.com/Azure/aad-pod-identity/blob/master/docs/readmes/README.msi.md#pre-requisites---role-assignments?

[2020-04-27 20:33] mnns commented on #585
Not sure.

I'm having a managed cluster with VMSS, not sure what to ran, I ran both commands, both came with empty results. Where did I go wrong? and how to fix it? was desperately trying to accurately follow the manual.

Thanks

[2020-04-27 20:41] chewong commented on #585
Based on the following logs from MIC:

[code]

It looks like your cluster service principal does not have the permission to assign the user-assigned identity to the VMSS.

Could you try running the following commands to grant your service principal `Managed Identity Operator` role under your resource group scope.

Could you try running:

[code]

[2020-04-27 20:42] mnns commented on #585
Thank you for the fast response.

Gives out nothing. Empty.

[2020-04-27 20:53] chewong commented on #585
@mnns my apologies, the correct command should be `az aks show -g MyResourceGroup -n MyManagedCluster --query servicePrincipalProfile.clientId -o tsv`. I will open a PR to update the docs.

[2020-04-27 20:55] chewong commented on #585
For the resource group name, try the `MC_*` one.

[2020-04-28 09:46] mnns commented on #585
Thanks. Did that, the MC group does not include my cluster, my other resource group did.
Got an ID back, ran the command, the pod is now working (I think!)

`="succesfully acquired a token, userAssignedID MSI, msiEndpoint(http://169.254.169.254/metadata/identity/oauth2/token) clientID(4454545454545454543b-98e3-1cbeb5bcae1e)"`

Now of to trying Application Gateway Ingress Controller.

Thanks a lot!

[2020-04-28 14:55] jaswanth-v commented on #515
related to : https://jira.corp.adobe.com/browse/EON-8078?filter=-1

[2020-04-28 15:28] chewong commented on #585
@mnns the MC resource group is the node resource group that contains all of the infrastructure resources associated with the cluster like VMSS. It is where your user-assigned identity get assigned to.

Closing this issue for now but feel free to re-open it if you have any other issues.

[2020-04-28 15:28] #585 closed

[2020-04-28 17:08] evmimagina commented on #583
Hi @phealy  and @chewong,

I'm affected by this issue as well,

Trying to deploy AGIC on AKS, it used to work with 1.5.5 but since deployment of versión 1.6 it fails with the same error.

I can tell that when using the "kubectl describe azureidentity ****-ingress-azure" I get the correct Resource ID.

"/subscriptions/4c4aee1a-cfd4-4e7a-abe3-*********/resourcegroups/RESOURCEGROUPNAME-NODES/provider

[2020-04-28 17:08] aramase commented on #570
Issue to add support in azure-sdk-go - https://github.com/Azure/azure-sdk-for-go/issues/3148

[2020-04-28 17:21] aramase opened #586 "Move e2e tests to use client-go and azure sdk"
Currently e2e suite uses `kubectl apply -f` and `az vmss` commands for all tests.

Long term plan - switch to using client-go and azure-sdk-go

Goals:
- Reduce test duration and technical debt by using various libraries instead of bash commands and Go-template-based deployments
- Make the e2e test suite easier to develop and run by following a similar approach to how Kubernetes and Kubernetes-rela

[2020-04-28 17:31] aramase commented on #583
@evmimagina With 1.6, there are some breaking changes for `AzureIdentity` and `AzureIdentityBinding` - https://github.com/Azure/aad-pod-identity#v160-breaking-change. Please review this and make the appropriate changes in the resource.

This change has been added to AGIC - https://github.com/Azure/application-gateway-kubernetes-ingress/pull/825

[2020-04-28 17:35] evmimagina commented on #583
Hi @aramase ,

Thanks for the quick update! I didn't realised there was a new rc in place, I will try the 1.2.0-rc2.

Regards,

[2020-04-29 16:51] surenderssm commented on #584
@aramase - I would love to pick this up, please assign this to me !

[2020-04-29 17:30] aramase opened #587 "Document required role assignments"
- We have docs for role assignments required for Managed identity AKS cluster
-  Need to document role assignments for SP (service principal) cluster

Add a section in the `Contents` and document different role assignments required for all possible scenarios (SP cluster, Managed Identity cluster)

[2020-04-29 20:39] lukerogers opened #588 "Helm install complains: skipping unknown hook: "crd-install""
**Describe the bug**
When deploying the Helm chart using 3.1.2, it complains with the message:

The chart does install, but the errors cause Azure deployments to fail.

**Steps To Reproduce**
`helm upgrade --namespace kube-system --install --set forceNameSpaced=true --wait aad-pod-identity aad-pod-identity/aad-pod-identity`

**Expected behavior**
Chart installed with no warnings.

**AAD Pod Identi

[2020-04-29 22:14] cwoolum commented on #532
This would be helpful for me. I can give a use case.

I deploy my AKS cluster, Managed Identities, and all resources for my services using Terraform.

To deploy my actual services to our AKS cluster, we use a GitOps flow. The downside is that with the current configuration, we need to update all of the templates to deploy to a new cluster. Since Terraform owns the creation of the resources, I coul

[2020-04-29 23:11] ohorvath opened #591 "Node taint clarification"
**Describe the request**
I've found a very weird behaviour when combining aad pod identity with multiple node pools and node taints. It seems if one of the node pools have a taint which prevents the daemon set to create NMI pods on the nodes, there is no error message at all in the MIC logs or daemonset logs or elsewhere (or I'm missing something). And as there is no NMI on the node, token request

[2020-04-30 05:27] lukerogers commented on #588
This breaks backwards compatibility, closing to avoid confusion.

[2020-04-30 05:27] #588 closed

[2020-04-30 20:41] #568 closed

[2020-05-01 09:01] vickeyrihal1 commented on #515
@aramase QQ: let's suppose we add a new VMSS to the worker tier. And scheduler tries to schedule three pods with 3 different identities. Out of 3 identities, the first identity is invalid. Then how would MIC treat that? I mean, if the first one is invalid, would it jump over and attach the next to vmss or will error out?

Looking forward to get the retry logic shipped in next release.

[2020-05-01 10:38] tshak opened #594 "Releases contain incorrect deployment manifest"
Releases instruct users to use the `master` version of the deployment manifest, which does not contain the corresponding yaml or docker tags for the desired release.

## Repro

0) Visit the release release: https://github.com/Azure/aad-pod-identity/releases/tag/v1.5.5
0) Inspect the yaml from the link in the release: https://raw.githubusercontent.com/Azure/aad-pod-identity/master/deploy/infra/depl

[2020-05-01 12:36] jaswanth-v commented on #515
@aramase Thank you for working on this. Is there an ETA for v1.6.1 release with retry logic ? We have this issue impacting our Production environments. One faulty identity impacting multiple other identities from being updated.

[2020-05-01 16:19] aramase commented on #594
@tshak Thank you for opening this issue.

I just verified. This seems to be an issue only with the `v1.5.5` tag. The rest of the tags have the matching docker image.

Makes sense! We'll make sure to do this from the next release.

The master manifests are usually bumped when a new release is cut. We have users using the raw url of deployment manifest from master, so they always get the latest. Thi

[2020-05-01 16:55] aramase commented on #571
@elsesiy Thank you for adding the lint tools. Are you interested in making the changes to fix the lint errors?

[2020-05-01 17:09] elsesiy commented on #571
@aramase Yes I started working on that a while ago already

[2020-05-01 17:39] aramase opened #595 "Use distroless base image for images"
- Use [distroless](https://github.com/GoogleContainerTools/distroless) base image for pod-identity components

[2020-05-01 18:43] aramase commented on #515
If there is an error with single identity, then the entire operation is rejected.

I'll work on it next week. We expect to release 1.6.1 mid May, so that should be some time in the next 2 weeks.

[2020-05-01 19:53] #582 closed

[2020-05-01 19:53] #587 closed

[2020-05-03 07:25] hh23485 commented on #242
Is this support for windows container now? or any other work around ways to use it in Windows node pool?

[2020-05-03 07:45] hh23485 commented on #242
It's ok to get msi in windows container from linux node pool for me.

[2020-05-04 16:31] #533 closed

[2020-05-04 18:20] aramase opened #599 "Add retries with updating identities"
**Describe the request**
If there is an error while assigning/un-assigning identity from the node, ARM returns the type of error and the identity that has the issue. We should check if the error is of known type (eg. `LinkedAuthorizationFailed`), get the identity in error message, remove it from the list and retry identity assignment again with the new list.

**Explain why AAD Pod Identity needs i

[2020-05-05 00:06] #501 closed

[2020-05-05 07:42] robinmanuelthiel opened #600 "Helm upgrade to 1.6.0 fails: cannot patch "aad-pod-identity-nmi" with kind DaemonSet"
**Describe the bug**

When upgrading the Helm chart from version `1.5.5` to `1.6.0`, the following error occurs in three different clusters for me:

[code]

**Steps To Reproduce**

1. Install Helm Chart version 1.5.5
[code]

2. Upgrade to Helm Chart version 1.6.0
[code]

**Expected behavior**
Upgrade works

**AAD Pod Identity version**
1.6.0

**Kubernetes version**
Client Version: version.Info{Maj

[2020-05-05 07:45] robinmanuelthiel commented on #600
My current workaround was uninstalling the old Helm chart and installing the new version, which works but is quite nasty from a CI/CD perspective.

[2020-05-05 12:42] UmairSyed commented on #484
Is this issue fixed in nmi:1.6.0?
I am facing the same issue as my error from nmi is:
Status (404) took ns" req.method=GET req.path=/metadata/identity/oauth2/token req.remote=
time= level=error msg="no AzureAssignedIdentity found for pod in assigned state, context canceled" req.method=GET req.path=/metadata/identity/oauth2/token req.remote=
but the MIC is showing this error:
Original Error: Code="

[2020-05-05 15:05] aramase commented on #484
@UmairSyed This issue was fixed with helm chart release - 1.5.6. From the error you posted above, it looks like you are missing the required role assignments.

Please follow the doc here for performing the required role assignments - https://github.com/Azure/aad-pod-identity/blob/master/docs/readmes/README.role-assignment.md

[2020-05-05 15:50] aramase commented on #600
`1.5.5` helm chart had introduced 2 labels which could possibly change with chart upgrade -

[code]

This has been fixed in chart version 1.5.6 to prevent any issues with future upgrades of helm chart. For upgrading from 1.5.5 to any new chart version, a suggested workaround is editing the nmi and mic manifests to remove those 2 from the selector.matchLabels

[code]

The same thing needs to be don

[2020-05-06 06:42] robinmanuelthiel commented on #600
Thanks for the reply. It would be helpful to have an "Upgrade Guide" or something similar in the docs, as you supposed! 👍

[2020-05-06 10:19] tkporter opened #603 "Trigger MIC sync when a pod label changes"
For reasons related to [this comment](https://github.com/Azure/aad-pod-identity/issues/237#issuecomment-611672987), we are changing the label of a pod its own `initContainer` so that different pods in a statefulset can have different identities. It seems like MIC does not detect this, and instead identities will be assigned only when the sync loop runs for some other reason. As a quick solution, I

[2020-05-06 13:04] Olli64 commented on #585
I had the same issue with:
`Failed to update VM with error compute.VirtualMachineScaleSetsClient#Update: Failure sending request: StatusCode=403 -- Original Error: Code="LinkedAuthorizationFailed" Message="The client '-----------' with object id '----------' has permission to perform action 'Microsoft.Compute/virtualMachineScaleSets/write' on scope '/subscriptions/d29fa915-70b3-4e11-9e2c-886e8ea24

[2020-05-06 17:48] RTodorov commented on #532
Hello there,

I second the OP and @cwoolum here. My scenario is very similar to his (Terraform + GitOps with flux). I'm pushing the Client ID to the cluster as a Secret and I just found out I cannot reference it in the `AzureIdentity` resource.

It would be very useful if we could specify both Client ID and Resource ID as Kubernetes secrets @aramase .

[2020-05-06 21:41] chewong opened #604 "Better error handling"
https://github.com/Azure/aad-pod-identity/pull/590#discussion_r421101856

[2020-05-06 22:38] #523 closed

[2020-05-07 00:48] chewong opened #605 "Add Helm Upgrade Guide"
Addressing https://github.com/Azure/aad-pod-identity/issues/600#issuecomment-624470821.

[2020-05-07 01:15] gapict opened #606 "Two nodes appear to be unable to talk to AAD"
Hi there

I have been using the aad pod identity in a four node cluster for several months now.  Recently two nodes in the cluster have had their pods be unable to reach aad -- this prevents the pods from starting up correctly.

Adding new nodes to the cluster will add the nmi pod correctly to them and pods running there start up correctly.

Is there something specific I should look for on the two

[2020-05-07 09:29] alexcristi commented on #515
More findings: when having any identities with empty specs, the type upgrades are also failing, resulting in aad-pod-identity-mic not starting at all.

Have this AzureIdentity:
[code]

Install aad-pod-identity v1.6.0; It is failing to start with:
[code]

[2020-05-07 18:44] aelmanaa opened #607 "AzureAssignedIdentity created in the wrong namespace"
Hello

I created "AzureIdentity" & "AzureIdentityBinding" in a given namespace . Everything is working fine but I noticed that another resource was created automatically "AzureAssignedIdentity" and was created in "default" namespace.

Is behaving as expected? In my case, i'd like to scope azureidentity by namespace as we have several teams sharing the same cluster and each team has its own namespa

[2020-05-08 05:26] elsesiy commented on #595
@aramase I've been using distroless extensively but from a cluster operator perspective it comes with the huge downside of not being able to exec into the pod for troubleshooting purposes. What's the reasoning behind switching? Because it's a privileged pod with access to iptables?

[2020-05-08 13:58] ezYakaEagle442 commented on #607
Agreed, it would make sens to have azureassignedidentities created into the same NS where the identity & binding were created

[code]

[2020-05-08 14:24] vossss opened #608 "error in aks-engine and msi environment"
**Describe the bug**
failed to enable aad-pod-identity in aks-engine cluster which using msi.
**Steps To Reproduce**
Follow the URL below:
https://github.com/Azure/aad-pod-identity
**Expected behavior**
nmi log:
I0508 13:19:31.660294       1 standard.go:72] No clientID in request. demo/demo has been matched with azure identity demo/demo
I0508 13:19:31.660365       1 standard.go:165] matched identi

[2020-05-11 15:59] aramase commented on #607
@aelmanaa @ezYakaEagle442 By default aad-pod-identity creates the `AzureAssignedIdentity` in default namespace. However you can run aad-pod-identity in force namespaced mode - https://github.com/Azure/aad-pod-identity/blob/master/docs/readmes/README.namespaced.md. When run in force namespaced mode, the `AzureAssignedIdentity` will be created in the same namespace as the `AzureIdentity, `AzureIdent

[2020-05-11 16:00] aramase commented on #606
@gapict What is the error you see in the logs for. NMI pods running on the 2 nodes?

[2020-05-11 16:03] aramase commented on #608
@vossss The resource for which the application is requesting for token doesn't belong to the tenant. For `AzureChinaCloud`, the resource manager url is `https://management.chinacloudapi.cn/` (ref: https://github.com/Azure/go-autorest/blob/master/autorest/azure/environments.go#L150).

NMI gets the resource url from the token request. Can you please make the change in your application to request tok

[2020-05-11 16:20] gapict commented on #606
Hi @aramase

first node:
time="2020-05-11T15:56:50Z" level=info msg="Status (403) took 592115786 ns" req.method=GET req.path=/metadata/identity/oauth2/token req.remote=10.244.1.123
time="2020-05-11T16:01:59Z" level=info msg="matched identityType:0 clientid:dec4##### REDACTED #####a599 resource:https://vault.azure.net" req.method=GET req.path=/metadata/identity/oauth2/token req.remote=10.244.1.123

[2020-05-11 16:23] aramase commented on #595
@elsesiy Using `static` as base image we could avoid os vulnerabilities. That's the idea behind switching to use those. This can be done for MIC, but I still don't think we can do it for NMI because it requires iptables.

[2020-05-11 17:17] aramase commented on #606
@gapict Thank you for the logs. This is a caching issue with [IMDS](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/instance-metadata-service) which is being tracked by the Managed identity team internally. They have a fix and the deployment is still ongoing. If this issue is a blocker or is affecting you in other cluster, Please open a support ticket and I'll forward to the team t

[2020-05-11 17:58] gapict commented on #606
Thanks for the info @aramase -- not a blocker right now and only seems to be affecting a single cluster.

I'll hold tight for now.  Thanks.

[2020-05-11 18:26] EPinci opened #610 "On MSI based cluster MDM metric pushing is blocked by MIC/NMI"
**Description of the bug**

On an MSI-based AKS cluster with OMSAgent deployed per standard addon, after deploying MIC/NMI the oms daemonset pods are unable to contact the IMDS to get a token.

Behavior is shown on the /var/opt/microsoft/omsagent/log/omsagent.log of any omsagent pod.
Trying to manually CURL the IMDS form the same pod fails as well (timeout).

**Steps To Reproduce**

- Deploy an MS

[2020-05-11 19:05] aelmanaa commented on #607
@aramase thanks for your answer. what does it change functionally to have AzureAssignedIdentity in default namespace rather than AzureIdentity's namespace?

[2020-05-11 19:07] #607 closed

[2020-05-11 19:15] aramase commented on #610
@EPinci can you create the following custom resource in your cluster?

[code]

[2020-05-11 21:47] #610 closed

[2020-05-12 01:56] vickeyrihal1 commented on #515
/label P1

[2020-05-12 03:08] vossss commented on #608
@aramase  Thanks for your reply.
Can you provide a guide on how to make the change in our application to request token from the correct resource url?

[2020-05-12 04:08] chewong opened #612 "Type upgrade failed when ClientID and Resource ID in AzureIdentity are empty"
https://github.com/Azure/aad-pod-identity/issues/515#issuecomment-625140220

[2020-05-12 04:34] aramase commented on #612
This is a valid error. The `resourceID` and `clientID` are defined as an array `{}`, but `clientID` and `resourceID` are of type string. If type upgrade fails for 1.6.0, then the MIC pod shouldn't start because 1.6.0 MIC will not work with the old `AzureIdentity` and `AzureIdentityBinding` with wrong case.

[2020-05-12 09:18] EPinci commented on #610
This exception did'nt fix the omsagent - can you, please reopen the issue?

As much as I have MIC/NMI deployed to a non default namespace, my same exact setup works fine without the above exception in an SPN based cluster.

[2020-05-12 11:46] vickeyrihal1 commented on #515
@aramase - Based on previous comment, this could still result in outage sort of situation. Hopefully, that would be sorted with timeout introduction.

https://github.com/Azure/aad-pod-identity/issues/515#issuecomment-622511796

wonder if we could change the priority of this ticket to P1? Is there any keyword for us to add a label?

[2020-05-12 15:10] aramase commented on #515
@vickeyrihal1 This is the PR for retries - https://github.com/Azure/aad-pod-identity/pull/601. Feel free to review and chime in if on the PR if you have any concerns. We plan to merge this PR this week and include in 1.6.1.

[2020-05-12 17:45] #612 closed

[2020-05-13 04:42] elsesiy commented on #595
@aramase Yeah I understand the security implications, just wanted to point out the operator implications as well 👍

[2020-05-13 08:49] smuthusa opened #613 "Demo app fails with LinkedAuthorizationFailed"
**Describe the bug**
I just followed the procedure to deploy the demo app, but the following error was thrown
**Steps To Reproduce**
I just followed the steps specified in the README.
following roles are assigned to the identity
Owner, "Managed Identity Contributor"
**AAD Pod Identity version**
1.6.0
**Kubernetes version**
1.15.10
**Additional context**
E0513 08:41:20.308213       1 vmss.go:73] Fa

[2020-05-13 10:42] smuthusa commented on #613
I just noticed that the client id reported in the error message is different from the one I created manually(created as part of identity creation).

[2020-05-13 16:58] asubmani opened #614 "Managed AAD and aadpodidentity - any upcoming changes?"
---
name: 💬 Question
about: "Managed AAD v2 for AKS compatibility with aadpodidentity
title: 'Would managed AAD (or AADv2) have any impact on aadpodidentity?'
labels: Question
---

We are planing to update our AKS clusters to use managed AAD plugins for AKS as described [here](https://docs.microsoft.com/en-us/azure/aks/managed-aad).
We want to run exec probes authenticated by AAD in a container. I

[2020-05-13 23:08] asubmani commented on #553
I am running into the same issue as @kevingbb

aadpodIdentity version = 1.6.0
AKS = 1.16.7
VMMS/Cluster-Autoscaler enabled
[code]
still getting

[code]

we have deployed aadpodidentity in its own namespace.
QuestionL: if we have our nginx ingress deployed in say "ingress" namespace, would we deploy the AzurePodIdrntityException CRD in the "Ingress" namespace?

If yes, then what about system pods l

[2020-05-13 23:43] aramase commented on #553
@asubmani The exception needs to be in the same namespace as the pod. If pod-identity is deployed in different namespace, then you need to create the exception in that namespace.

[2020-05-13 23:44] aramase commented on #553
When pod-identity is deployed on the cluster, the expectation is that all pods running on the cluster leveraging MSI will need to go through pod-identity. If you wish to bypass pod-identity validation for certain pods, then you need to create the `AzurePodIdentityException` in the namespace and add all the pod labels that you don't require pod-identity to validate.

[2020-05-14 07:43] aelmanaa commented on #606
@aramase what's the workaround when this issue occurs? can we just restart aad pods?

[2020-05-14 09:20] aelmanaa opened #617 "reuse identity for several pods"
Hello,

can we reuse the same identity for different pods?

- when I create 2 pods with the same "aadpodidbinding" , the 1st pod is able to pull the secret but the second one gets 403 errors , I get these errors without any further detail:
[code]

I even tried to create different AzureIdentiy & AzureIdentityBinding for every pod without any success.

[2020-05-14 10:05] aelmanaa commented on #617
by the way,, tried to troubleshoot . this link mentions "--v=6" https://github.com/Azure/aad-pod-identity/wiki/Debugging . However, I don't think it's updated as "nmi" expects "--debug" as argument

[2020-05-14 19:41] aramase commented on #613
@smuthusa The error message contains the object id of the clientID. Looks like the SP/managed identity doesn't have the required permissions on `/subscriptions/xxxx-xxxx-xxxx-xxxx/resourcegroups/elephant/providers/Microsoft.ManagedIdentity/userAssignedIdentities/elephant'`. Please review this doc and assign all the required roles - https://github.com/Azure/aad-pod-identity/blob/master/docs/readmes

[2020-05-14 19:43] auerl commented on #554
@aramase as I haven't observed the described behavior in a few weeks now, I would tend to blame the issue on the unusual amount of traffic in the Azure region I was using (also causing timeouts/issues in other applications), at the time I was reporting this.

[2020-05-14 19:43] #554 closed

[2020-05-14 19:43] aramase commented on #606
@aelmanaa Unfortunately, this is not a pod-identity issue. So restarting the aad-pod-identity pods will not resolve the issue. The fix is being rolled out for the issue. If you encounter this, please open a support ticket with reference to the issue and we can forward it to the team that owns Azure Metadata Service.

[2020-05-14 19:59] aramase commented on #617
@aelmanaa This is possible today. I just tried it on my cluster and it works -

Sample AzureIdentity -

[code]

AzureIdentityBinding -
[code]

And then ran -
[code]

Both the pods, n0 and n1 have access to the same identity and the `AzureAssignedIdentity for both pods is in `ASSIGNED` state.

[code]

[code]

You can check the MIC logs to see why the identity isn't being assigned successfully for t

[2020-05-15 11:47] anshupitlia commented on #584
any update on this?

[2020-05-15 12:46] aelmanaa commented on #617
Hello

thanks for the help. it was an issue from my side

[2020-05-15 12:46] #617 closed

[2020-05-15 15:44] aramase commented on #584
@surenderssm Would you be able to open a PR for this when you get a chance? We would like to include this in the release we plan to cut next week.

[2020-05-15 16:26] #571 closed

[2020-05-15 17:08] bq1756 opened #618 "Demo fails with failed list all vm azure.BearerAuthorizer#WithAuthorization: Failed to refresh the Token for request"
**Describe the bug**
I followed the Demo instructions without modification.  Every command deployed what I expected or returned data I expected.  However, the demo pod log shows:

time="2020-05-15T16:28:18Z" level=info msg="starting demo pod demo/demo 10.207.40.24"
time="2020-05-15T16:29:38Z" level=error msg="failed list all vm azure.BearerAuthorizer#WithAuthorization: Failed to refresh the Token

[2020-05-15 17:23] chewong commented on #618
Based on the logs, it looks like you are creating the user-assigned identity in `$RESOURCE_GROUP` but you are assigning "Managed Identity Operator" and "Virtual Machine Contributor" to the `$CLUSTER_RG` resource group scope. Could you try creating the user-assigned identity in `$CLUSTER_RG` instead of `$RESOURCE_GROUP`?

[2020-05-15 17:23] aramase commented on #618
@bq1756 Did you deploy the `AzureIdentityBinding`? - https://github.com/Azure/aad-pod-identity#5-deploy-azureidentitybinding

If yes, can you check the MIC logs to see why it's failing to assign the identity? If the error is `LinkedAuthorizationFailed`, then all the required role assignments are not provided. Please review this doc and make all the required role assignments. - https://github.com/A

[2020-05-15 18:46] #599 closed

[2020-05-15 20:43] aramase opened #619 "Change NMI to listen only on localhost"
Currently NMI binds on all the interfaces. Need to change that to only listen on `localhost:2579`

[2020-05-15 20:57] shpathak-msft commented on #606
@aelmanaa : I saw this twice last week, I drained and restarted the node which mitigated the issue.

[2020-05-15 21:10] bq1756 commented on #618
I have the demo working!!!!  I made 2 changes to get it working.

**My First Change**
I changed the `userAssignedIdentities` value that I was using.  Specifically, I was incorrectly supplying `principalId`.  The role assignment wants `clientid`.  In my opinion, the documentation misled me.  I recommend updates to the documentation.

Documentation change?:
[Performing Role Assignments](https://gith

[2020-05-15 21:28] chewong commented on #618
Thanks for the feedback. I will open a PR to make the documentation less confusing.

[2020-05-18 11:07] HoussemDellai opened #621 "Deployment using Helm Chart"
**Describe the request**
In the readme file, we can deploy using the raw YAML file

But can we deploy also using Helm Chart ? i.e
[code]

[2020-05-18 16:04] aramase commented on #621
@HoussemDellai You can deploying using helm chart. The instructions are provided here -https://github.com/Azure/aad-pod-identity/tree/master/charts/aad-pod-identity

[2020-05-18 16:14] HoussemDellai commented on #621
Great !
I tested it and it worked for me.
Thanks @aramase
BTW it should be mentioned in the main Readme!

[2020-05-18 16:14] #621 closed

[2020-05-18 16:16] chewong commented on #621
Let me add it in https://github.com/Azure/aad-pod-identity/pull/620.

[2020-05-18 16:27] aramase commented on #608
@vossss In your application when you request for the token, you will need to configure the `AzureCloudEnvironment` to match the current env the cluster is running on.

[2020-05-18 19:13] #618 closed

[2020-05-18 23:20] #428 closed

[2020-05-19 17:32] chewong commented on #584
@anshupitlia @surenderssm since we are planning to cut release for 1.6.1 this week, I opened a PR to address this issue.

[2020-05-19 18:42] #584 closed

[2020-05-20 06:07] vickeyrihal1 commented on #515
@aramase - #601 looks to have merged now. Do we have some timelines for v1.6.1?

[2020-05-20 15:56] chewong commented on #515
We are aiming to release 1.6.1 by the end of this week.

[2020-05-20 21:20] maperr opened #626 "Disable crd-install if using Helm3"
**Describe the request**
aad-pod-identity/aad-pod-identity logs an error (##[error]manifest_sorter.go:192: info: skipping unknown hook: "crd-install") when running Helm Install with Helm 3. Have an option to disable crd-install.

**Explain why AAD Pod Identity needs it**
Causes failures in some managed CI/CD solutions. i.e. Azure DevOps pipelines

**Describe the solution you'd like**
Add option to

[2020-05-21 04:39] user11081980 opened #628 "Connecting to a SQL Database hosted on a VM with "Integrated Security""
I have an AKS cluster with .NET Core micro-services running on Linux containers.
From one on my pods, I need to query a SQL database hosted on a VM running SQL Server. I need to connect using "Integrated Security", that is, without a username or password.

All the documentation I read online applies to using AAD pod identity with managed (PaaS) SQL databases. In my case, do I need to give the mana

[2020-05-21 15:07] chewong commented on #613
Please see @aramase for resolution. Feel free to re-open this issue if you are still experiencing any errors.

[2020-05-21 15:07] #613 closed

[2020-05-21 18:55] surenderssm commented on #584
Thank you @chewong for picking this up.

[2020-05-22 07:29] vossss commented on #608
@aramase thanks
I added the arg "--aad-resourcename=https://management.chinacloudapi.cn/" to the demo pod, and it works fine.

[2020-05-22 13:07] franzoir commented on #503
@kwaazaar may I ask what the outcome of your support ticket was? We're also seeing intermittent startup failures that will work moments later when the identity is assigned to the node.

[2020-05-23 07:12] kwaazaar commented on #503
Support case is still open. But we upgraded AKS and it's faster on the new nodes. But startup errors you better get used to if you have a large cluster. Our smaller 10-node clusters don't seem to have this issue so far.

[2020-05-25 06:22] franzoir commented on #503
Ok, thanks for the update. We're facing the problem in our smaller 7-node cluster with AKS v1.15.10. Actually not occuring that often in our larger cluster at the moment. But we created a support ticket for investigation last week.

[2020-05-25 09:12] arodriguezdlc opened #632 "Release 1.6.1 has been published as 2.0.0 on helm chart repo"
**Describe the bug**
We can't install 1.6.1 AAD Pod Identity release via helm because it has been tagged as 2.0.0 on helm repo instead of 1.6.1.

![image](https://user-images.githubusercontent.com/7372079/82798240-8aca4f80-9e78-11ea-88e0-08b25a2abec9.png)

**Steps To Reproduce**

**Expected behavior**
We expect to have on helm repository the release 1.6.1 instead of a 2.0.0 release.

**AAD Pod Ide

[2020-05-26 12:00] BartVanBerkel commented on #632
It looks like it was on purpose, see #457
https://github.com/Azure/aad-pod-identity/pull/457/files

[2020-05-26 13:16] arodriguezdlc commented on #632
If there is a breaking change, AAD Pod Identity should have also version 2.0.0. As I understand, In this project the software release is the same that the helm chart release. Please let me know if this is incorrect.

[2020-05-26 13:28] BartVanBerkel commented on #632
@arodriguezdlc I'm not 100% sure, but the version of the helm chart doesn't necessarily need to follow the appVersion.

[2020-05-26 16:03] aramase commented on #632
@arodriguezdlc This is a backward incompatible change only in the helm charts and not in aad-pod-identity. When helm charts were packaged for aad-pod-identity the first time, the chart version and appVersion were the same versions. But when there is a chart only change, only the chart version is bumped.

[2020-05-26 16:38] arodriguezdlc commented on #632
Ok, thank you for the explanation. I was confused because versioning was coupled until now.

[2020-05-26 16:38] #632 closed

[2020-05-26 17:16] aramase commented on #594
Closing this issue with the new release - https://github.com/Azure/aad-pod-identity/releases/tag/v1.6.1. Please feel free open if there are any other issues.

[2020-05-26 17:16] #594 closed

[2020-05-26 20:58] chewong commented on #410
Close via https://github.com/Azure/aad-pod-identity/pull/601

[2020-05-26 20:58] #410 closed

[2020-05-27 10:20] BartVanBerkel opened #633 "Update of an AKS Cluster is causing the User Assigned Identities to the VMSS to disappear"
**Describe the bug**
When you have a running instance of AKS and redeploy the AKS cluster it will remove the User Assigned Identities from the VMSS, which are assigned to the VMSS by the MIC. The MIC has already created the "azureassignedidentities.aadpodidentity.k8s.io" so for the pods, so it won't notice that it has to assign the identity to the VMSS, as it 'thinks' it already did that.

**Steps

[2020-05-28 21:13] tiurikov opened #635 "AAD Pod identity deletes Application Security Groups from VMSS"
**Describe the bug**
I found that AAD Pod identity for some reason deletes Application Security Groups from VMSSs.
It happens once a managed identity assigned to a VMSS bu AAD Pod Identity. On Azure portal in the Activity Log of the VMSS I can see that a user assigned to AAD Pod Identity service removes ASGs. It looks like a bug to me.

**Steps To Reproduce**
You need a K8s cluster which run worke

[2020-05-28 21:45] asubmani commented on #606
would this issue affect "pod identity managed mode"?
 I am seeing inconsistencies where `AzurePodIdentityException` is not being honored by a few nodes as per NMI logs.

I was thinking of moving to "managed mode" as it would make "pod identity" troubleshooting easier. All I do is get all `"UserAssignedIdentities; foreach; az vmss assign %"` every 10 mins.

[2020-05-29 17:19] aramase commented on #635
@tiurikov `1.5.5` uses `CreateOrUpdate` API for assigning the identities. This means it would get the VMSS, add the identities to the VMSS and then update the entire VMSS. However it does not touch any other field in the VMSS. Was the ASG added at the same time aad-pod-identity was assigning the identity to VMSS?

The latest version of aad-pod-identity `1.6.1` switch to using a PATCH update model

[2020-05-29 17:22] aramase commented on #606
@asubmani This issue with IMDS returning a token for existing identity.  Because of the bug, IMDS returns "identity not found" even when identity exists on the VM/VMSS. This issue is independent of aad-pod-identity mode.

Can you please elaborate? `AzurePodIdentityException` is used to opt out pods from going through pod-identity validation. The `AzurePodIdentityException` needs to be in the same

[2020-05-31 19:18] tiurikov commented on #635
right, it was a single Ks cluster provisioning process with multiple addons on top including aad-pod-identity and some other component which use it.

Looks like 1.6.1 fixes the problem. Thanks!

[2020-05-31 19:18] #635 closed

[2020-06-01 03:02] galvesribeiro commented on #633
Hello @BartVanBerkel

We are planning on deploy a new system using AKS and we currently use MSI on other Azure Services to access other Azure resources (i.e. App Configuration, KeyVault etc.) and we’re look to use MIC to support the same MSI as we have on Azure Functions and App Services but in kubernetes with pods.

Looking into the issues, the most critical we’ve found is yours... The issue titl

[2020-06-01 03:05] galvesribeiro commented on #573
Hello @aramase. The PR you mentioned was merged. Do you think we still have the auto scale problem?

[2020-06-01 05:30] BartVanBerkel commented on #633
Hi @galvesribeiro

I've also noticed it when I scale the cluster with `az aks scale ..` Havn't tested an upgrade or the cluster autoscaling feature, but I assume that it will cause the same problem.

How I'm looking at it is that the AKS resource is updating the VMSS on behalf of me, so it isn't aware of the User Assigned Identities which are managed through Pod Identity. So after the update has f

[2020-06-01 12:45] galvesribeiro commented on #633
Thanks @BartVanBerkel! Have the support team gave you some feedback? Please keep us updated on your issue. This is total blocker. I believe that if it happens on the scale operation as well, that would happen with the case of failure of the node and start of a new one. If that basic primitive doesn't work, it makes the whole thing unusable in production.

@aramase / @chewong do you have any though

[2020-06-01 16:05] chewong commented on #633
Hi @BartVanBerkel. MIC will only unassign user-assigned identities from the underlying node (VM/VMSS) if one of `AzureIdentity`, `AzureIdentityBinding`, or the pods that are consuming the user-assgined identity is deleted. It doesn't periodically check whether a user-assigned identity is actually assigned to the node on Azure because MIC uses `AzureAssignedIdentity` CRD as the single source of tru

[2020-06-01 16:08] aramase commented on #573
@galvesribeiro The PR I mentioned above was closed without being merged. There is still an ongoing discussion in the kubernetes community for supporting such scenarios to ensure critical addon pods are scheduled before application workload is scheduled on the node. This problem could still exist.

[2020-06-01 17:25] BartVanBerkel commented on #633
Hi @chewong
Please have a look at the first post of this issue. Updating with ARM isn’t required, as an `az aks scale` also causes the issue. The MIC still asumes that all the Identities are assigned as it had created the `AzureAssignedIdentity`.

@galvesribeiro to resolve the issue you van safely remove all `AzureAssignedIdentities’ so MIC will reassign the Identities to the VMSS.

[2020-06-01 17:39] aramase commented on #633
@BartVanBerkel That's right! MIC uses the k8s CRD as the state of world. When `AzureAssignedIdentity` is in `Assigned` state, the assumption is the identities have been successfully assigned by MIC and the lifecycle of identity is managed by pod-identity. There is no reconciliation for changes done outside of the k8s cluster which in this case is AKS removing the identities that it's not aware of

[2020-06-01 18:07] galvesribeiro commented on #633
@BartVanBerkel remove where?

[2020-06-01 18:10] BartVanBerkel commented on #633
in K8s, so if you run `kubectl get AzureAssignedIdentities -A -oyaml | kubectl delete -f -` you should be good.

[2020-06-01 18:11] galvesribeiro commented on #633
ahh ok, delete the CRDs

[2020-06-02 02:03] cwoolum commented on #532
Would you take a PR on this? I might have time to work on it.

[2020-06-02 19:02] stephaneey opened #636 "MIC unable to properly make use of the managed identity"
**Describe the bug**
Going through all the steps explained in the readme leads to the following:
`E0602 18:56:59.028550       1 vm.go:115] Failed to update VM with error compute.VirtualMachinesClient#Update: Failure sending request: StatusCode=403 -- Original Error: Code="LinkedAuthorizationFailed" Message="The client 'xxx' with object id 'xxx' has permission to perform action 'Microsoft.Compute/v

[2020-06-02 19:09] chewong commented on #636
Hi @stephaneey. Have you tried re-deploying the demo app after you granted client XXX subscription owner? Are your cluster resource group and your identity resource group within the same subscription?

[2020-06-02 19:13] stephaneey commented on #636
Hello,

If by redeploying you mean Deleting the pod and redeploy it through kubectl apply then yes. Both are in the same subscription indeed.

Thanks

[2020-06-02 19:33] stephaneey commented on #636
Hello @chewong

I have scaled down the mic deploy then out again and now it works. Just one thing, I suppose it's not the goal to set the AKS spn subscription owner so what is the recommended permission level? Tried to assign "Managed Identity Contritubor" but that's not enough it seems.

Best Regards

[2020-06-02 19:38] chewong commented on #636
The role that you should assign your service principal should be `Managed Identity Operator` not `Managed Identity Contritubor`. Also, if your user-assigned identity isn't within the same resource group as your cluster resource group, you will need to assign `Managed Identity Operator` to your cluster service principal pointing to that particular user-assgined identity. You can see https://github.

[2020-06-02 19:40] #636 closed

[2020-06-02 22:12] aranair opened #637 "Completed pods should have identities unassigned"
**Describe the bug**

- Completed pods, say from (cron)job history leftovers, are not getting their identities unassigned.
- There can be any number of completed pods on a node.
- For nodes that happen to have >150 completed pods on them, it will become impossible for any new identities to be assigned to them when new pods get scheduled onto them.
- A manual removal of those completed pods brings

[2020-06-03 06:39] aramase commented on #633
@BartVanBerkel I just tried out `az aks scale` to scale up/down my aks cluster and didn't see the identities being removed from the VMSS. Even when pods were moved around during scale down, the identities were still assigned to the VMSS and MIC tried re-assigning without any errors.

Could you provide any steps to repo the issue you observed during `az aks scale`?

[2020-06-03 07:30] BartVanBerkel commented on #633
@aramase The support engineer was able to repro the issue I observed, so I guess you are doing something wrong.

Important is that you deploy AKS **with Managed Identity** as per https://docs.microsoft.com/en-us/azure/aks/use-managed-identity.

1. First execute `az vmss show -n <nodepoolname> -g <MC_resourcegroup> --query 'identity.userAssignedIdentities' | grep subscriptions` you should (at least

[2020-06-03 15:17] Schnerwitzki commented on #106
I just found this old issue, after I wondered exactly the same thing. Managed Identities would make it very easy to securly access Azure resources from your Pod. But I wonder how secure it actually is.

Imagine a scenario where you have a Kubernetes cluster with mutliple namespaces, controlled with RBAC. A user has only access to specific namespaces and his Azure resources.

The NMI is installed i

[2020-06-03 15:58] aramase commented on #633
@BartVanBerkel I was trying it out with a Service Principal cluster. I'll try it out with a Managed Identity cluster to confirm.

[2020-06-04 01:06] aramase opened #639 "[Known Issue] Upgrade of an AKS cluster causes deletion of existing User Managed Identities"
### Summary

In Managed Identity AKS clusters, when the cluster is scaled up/upgraded the identities that are associated with the underlying nodes are removed. This can cause applications that use the identity to fail while fetching a token after upgrade/scale.

In case of `aad-pod-identity` the users can delete the application pod to cause a restart. `aad-pod-identity` will then re-assign the ide

[2020-06-04 06:25] BartVanBerkel commented on #633
@aramase I see that you have created a known issue. Thanks.

[2020-06-04 12:44] galvesribeiro commented on #633
Nice! Following both your issue and AKS one.

I wonder if the fix will be something that will be applied to existent clusters or something that we require a re-deploy...

[2020-06-04 23:53] #516 closed

[2020-06-05 14:28] mhsh64 commented on #515
we have upgraded to 1.6.1 but we still see this issue, pod identity is not able to remove the MIs removed from azure from vmss and we are keeping continuous errors :

{code}

Applying binding my_identityname node aks-agentpool-64646-vmss for pod mypod resulted in error compute.VirtualMachineScaleSetsClient#Update: Failure sending request: StatusCode=400 -- Original Error: Code="FailedIdentityOpera

[2020-06-05 14:33] dharmab commented on #515
@mhsh64 did you set the `--update-user-msi-max-retry` flag on NMI?

[2020-06-05 14:36] mhsh64 commented on #515
I do not know this flag, in the documentation I did not find anything related to that. Can you please let me know what shoud i do?

[2020-06-05 14:58] chewong commented on #515
Sorry for the lack of documentation. I will add it ASAP. In the meantime, could you provide some logs on what happened after that error occurred?

[2020-06-05 15:05] mhsh64 commented on #515
`I0605 14:17:41.798402       1 mic.go:1009] Processing node aks-agentpool-xxx-vmss, add [1], del [0], update [0]
I0605 14:17:41.841498       1 cloudprovider.go:208] Updating user assigned MSIs on aks-agentpool-xxx-vmss, assign [1], unassign [0]
E0605 14:17:42.082812       1 vmss.go:85] Failed to update VM with error compute.VirtualMachineScaleSetsClient#Update: Failure sending request: StatusCode=

[2020-06-05 15:05] mhsh64 commented on #515
@chewong thanks. Where and how should I set that flag?

[2020-06-05 15:18] chewong commented on #515
@mhsh64 based on your logs, it looks like the sync cycle is only assigning `/subscriptions/xxx/resourcegroups/xxx/providers/microsoft.managedidentity/userassignedidentities/my_identity` (based on `assign [1], unassign [0]`) and since MIC can't find the user-assigned identity on Azure, it removed it from the update list. The updated list is now empty and there is nothing that MIC could do.

If you

[2020-06-05 15:30] mhsh64 commented on #515
@chewong
Thanks
But I am getting the above error continuously.
If the default value for above flag is 2, do we know why I am getting that error all the time?

[2020-06-05 15:39] mhsh64 commented on #515
@chewong
I set that flag explicitly, but still I am keep getting that error

[2020-06-05 15:54] chewong commented on #515
@mhsh64 have you checked whether `/subscriptions/xxx/resourcegroups/xxx/providers/microsoft.managedidentity/userassignedidentities/my_identity` exists or not? The error is expected if the user-assigned identity does not exist.

[2020-06-05 16:10] mhsh64 commented on #515
@chewong the Id does not exist is Azure...
I thought in this new release, mic is able to recognize the deleted identity from azure, am I correct?

but it seems it is trying to assign a deleted identity and since it cannot find it, it throws an error

[2020-06-05 16:16] chewong commented on #515
MIC does not create or delete user-assigned identities on Azure, that's responsible by the users. MIC assigns or unassigns existing user-assigned identities from the underlying VM / VMSS. MIC performs batch identity assignment and unassignement in a single sync cycle because of performance reasons. If there is an erroneous user-assigned identity in the batch (in your case, it does not exist on Azu

[2020-06-05 16:19] mhsh64 commented on #515
Correct, but do we expect MIC removes any deleted identity (from azure) from VMSS?

[2020-06-05 16:23] mhsh64 commented on #515
@chewong
The other thing, you are adding a configmap to record and confirm the successful type upgrade for existing Azureidentity and Azureidentitybinding.
We had these resources with capital letters in version 1.5 , now should I expect to see any confirmation in configmap that these existing resources fields have been upgraded to the correct format?
I do not see anything in there:

`k describe co

[2020-06-05 16:28] aramase commented on #515
@mhsh64 In this case as you can see in the logs, the identity is trying to be assigned as there is still a pod referencing the identity? MIC is trying to assign the identity and it fails at every sync cycle. If this identity was being unassigned then MIC would detect if the identity doesn't exist in the VMSS in the first place.

[code]

[code]

indicates the 1.6.1 release on the cluster was respon

[2020-06-05 16:33] mhsh64 commented on #515
Thanks for your response. So since we have this key, it confirms the resources have the correct format, which I already checked manually as well.

Regarding the deleted Identities, that is correct, it might there some pods referring to the deleted ids, so I guess if we delete that pod also, mic is able to remove that deleted id from vmss

Thanks

[2020-06-06 14:37] user11081980 commented on #628
Luckily for me I didn't go this route. Great support Microsoft.

[2020-06-06 14:37] #628 closed

[2020-06-07 23:11] aramase commented on #628
@user11081980 Sorry for the delay. I believe these 2 links provide details on how to use managed identity with the sql server -

https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-connect-msi
https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/tutorial-windows-vm-access-sql

You would need to create a contained user as documented here

[2020-06-07 23:43] aramase commented on #637
@aranair Un-assigning identities is only done when a pod using the identity is removed from the cluster. The event handlers we have get notified on pod termination.

This looks like an API limitation when trying to pass an identity list that's > 150. We have switched to using PATCH API for assigning new identities starting from 1.6.x release. This means the API call is made only with the list of i

[2020-06-10 13:40] BartVanBerkel opened #644 "Deleting azureassignedidentities.aadpodidentity.k8s.io resources takes very long"
**Describe the bug**
In the 1.6.1 version of aad-pod-identity it takes a very long time to manually remove azureassignedidentities. I had it running for more than an hour, but nothing happens. In some cases it does work, but it is definitely not very consistent.
In version 1.5.5 it worked flawless and took around 2 seconds to process.

**Steps To Reproduce**
[code]

It outputs the line below and t

[2020-06-11 05:04] BartVanBerkel commented on #644
Hi @chewong
Ah I see that the behavior has been changed.

I used it as [mentioned](https://github.com/Azure/aad-pod-identity/issues/633#issuecomment-637021737) in #633. I think you've also said that the MIC uses the ```AzureAssignedIdentity``` as a [single source of truth](https://github.com/Azure/aad-pod-identity/issues/633#issuecomment-636948310), but wouldn't it be better if MIC would periodica

[2020-06-11 12:52] ohadschn opened #645 "Deprecated label "beta.kubernetes.io/os" used in "indeployment-rbac.yaml""
**Describe the bug**
Usage 1: https://github.com/Azure/aad-pod-identity/blob/f4084a15f407b6510bf32d8d10cda8fa516e407c/deploy/infra/deployment-rbac.yaml#L160

Usage 2: https://github.com/Azure/aad-pod-identity/blob/f4084a15f407b6510bf32d8d10cda8fa516e407c/deploy/infra/deployment-rbac.yaml#L268

According to docs, should be replaced with `kubernetes.io/os`:
https://v1-16.docs.kubernetes.io/docs/refe

[2020-06-11 15:26] MeNsaaH opened #646 "Service Principal not working"
**Describe the bug**
setting up service principal using guide in README does not work.

**Steps To Reproduce**
[code]

**Expected behavior**

**AAD Pod Identity version**
Installed using Helm.
NMI Version: 1.6.1.
**Kubernetes version**
1.18

**Additional context**
[code]

[2020-06-11 15:57] aramase commented on #646
@MeNsaaH What is the issue you're facing? From the log posted, I see NMI detected the request for Service Principal

[code]

After this line do you see a status 200 or any error for the request?

[2020-06-11 16:01] aramase commented on #645
@ohadschn Thank you for opening the issue. Would you be interested in opening a PR to update the deployment and charts with `kubernetes.io/os`?

[2020-06-11 16:03] chewong opened #647 "Periodic check on whether the identity referenced by AzureAssignedIdentity is still assigned to the underlying node"
**Describe the request**

Address https://github.com/Azure/aad-pod-identity/issues/644#issuecomment-642408960.

**Explain why AAD Pod Identity needs it**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-06-11 16:03] chewong commented on #644
Yea I think it will be beneficial to have a periodic check. Opened https://github.com/Azure/aad-pod-identity/issues/647 to track the feature.

[2020-06-11 16:04] aramase opened #648 "Periodically reconcile identities configured in AzureIdentity"
**Describe the request**
Periodically reconcile to ensure identities that are defined in `AzureIdentity` and are in use by pod still exist on the underlying node. The identity could be removed manually by the user or during scale up/upgrade scenario in AKS. This periodic reconcile loop will add back any missing identities.

**Explain why AAD Pod Identity needs it**

**Describe the solution you'd l

[2020-06-11 16:05] #648 closed

[2020-06-11 16:06] aramase commented on #647
Periodically reconcile to ensure identities that are defined in `AzureIdentity` and in use by pod still exist on the underlying node. The identity could be removed manually by the user or during scale up/upgrade scenario in AKS. This periodic reconcile loop will add back any missing identities. The reconcile period could be a user configured value to ensure the loop isn't run frequently and can be

[2020-06-11 16:07] aramase commented on #608
Thank you for confirming @vossss. Closing this issue as its resolved. Please feel free to reopen if you have any other issues.

[2020-06-11 16:07] #608 closed

[2020-06-11 16:11] MeNsaaH commented on #646
@aramase I got an error. I'll redeploy that and post the full logs from both the test `demo` pod and the `nmi` server

[2020-06-11 17:19] MeNsaaH commented on #646
[code]

[2020-06-11 19:12] aramase commented on #646
@MeNsaaH This should fix the issue you're seeing - https://github.com/Azure/aad-pod-identity/pull/649. Can you change the case and try it out?

[2020-06-11 20:19] #646 closed

[2020-06-12 06:50] BartVanBerkel commented on #644
@chewong Thanks

[2020-06-15 11:27] MeNsaaH commented on #646
Works now @aramase

[2020-06-15 15:38] asumner commented on #242
Hi, did you get pod identity working with windows containers?

[2020-06-16 12:21] Kesudan opened #651 "Guidance for assigning managed identity to virtual ACI pods"
We use aad pod identity for normal AKS pods which works great, but as we understand this has no plans to be supported for the virtual ACI connector;

https://github.com/Azure/aad-pod-identity/issues/470

Does anyone have any guidance/info on how to get a managed identity assigned to pods deployed through the virtual ACI node?

[2020-06-16 19:25] aramase commented on #651
@Kesudan It's not possible to use `aad-pod-identity` with pods running in ACI. `aad-pod-identity` works by assigning the User MSI to the underlying node on which the pod is running. The metadata service running on the node serves the token based on the identity on the node. In case of ACI this is not possible.

[2020-06-16 20:31] #645 closed

[2020-06-17 01:43] #626 closed

[2020-06-17 03:11] hh23485 commented on #242
Yes, It's works for me. these repo's container running in linux node pool, but it's ok to login with msi in windows containers.

[2020-06-17 10:43] kagkarlsson commented on #503
We are also experiencing this issue. Have a rather small 4 node cluster and applications that need the token on startup to authenticate against Azure Blob Storage. Seeing about 10% of the `Cloud provider put` operations taking 37s and upwards. On a full stop-start of the deployments, there will be many pods that fail to start due to requests for the token taking too long.

[2020-06-17 10:58] DiegoBallve commented on #644
I'm having a bit of problem with this one, I'm using the aad-pod-identity chart. I did an uninstall (to move it to default namespace because it is not working in a custom aad-pod-identity namespace), but now I cannot redeploy it because some resources already exists.

README says:
To uninstall/delete the last deployment:

[code]

The command removes all the Kubernetes components associated with th

[2020-06-17 15:16] jefjos opened #653 "AAD pod identity vs AKS MSI"
I ask this question for my understanding.
Suppose I deploy MIC and NMI in AKS cluster.
I bind pod with label = label1 to an azure identity.
I do not create a binding for pod with label = label2

Now if I access IMDS endpoint from pod with label = label1 I understand I will get the token for the assigned identity.

If I access IMDS endpoint from pod with label = label2, will I get an error? Since I

[2020-06-17 15:53] chewong commented on #653
Hey @jefjos. By default, IMDS requests will be routed to NMI. Since the second pod doesn't have an identity assigned to it, it will not be able to get a token from IMDS. Though you can create an exception to that. See https://github.com/Azure/aad-pod-identity/blob/master/docs/readmes/README.app-exception.md.

[2020-06-17 15:58] chewong commented on #644
@DiegoBallve could you try manually un-assign all user-assigned identities from the underlying nodes on Azure before uninstalling?

[2020-06-17 16:06] aramase commented on #503
@kwaazaar The support ticket is being actively looked at by the internal teams and the fix for identity assignment in `AvailabilitySets` is being rolled out.

@franzoir @kagkarlsson Are you using VMSS/Availability Sets?

[2020-06-17 16:07] aramase commented on #637
@aranair Closing this issue. Please feel free to reopen if you're still having issues after using the latest release.

[2020-06-17 16:07] #637 closed

[2020-06-17 18:46] chewong opened #654 "test: move soak clusters from Jenkins to ADO"
depends on https://github.com/Azure/aad-pod-identity/issues/586

[2020-06-17 18:47] chewong opened #655 "test: standardize PR test gates across upstream projects"
ref: https://github.com/Azure/container-compute-upstream/pull/95
- [x] #694
- [x] #703
- [x] #704

[2020-06-17 20:19] DiegoBallve commented on #644
Thank you for the tip, @chewong . Actually I just had to wait a couple of minutes for the identity to get deleted before I tried to delete crd, then there was no problem.
[code]
In my case I was deleting the azure-ingress chart, which was creating the azureassignedidentities objects. Once that chart got deleted, the azureassignedidentities stayed behind for a couple of minutes.

[2020-06-17 20:25] chewong opened #657 "test: convert E2E test cases from old to new test framework"
| Test Case                                                                                                                            | Status              |
|--------------------------------------------------------------------------------------------------------------------------------------|---------------------|
| `should pass the identity validating test`

[2020-06-17 20:51] kcdevops46 commented on #644
I am facing issues with deleting AzureAssignedIdentity.
I tried deleting with:
$kubectl delete AzureAssignedIdentities $name
kubectl delete crd azureassignedidentities.aadpodidentity.k8s.io

Thank you

[2020-06-17 20:54] aramase commented on #644
@kcdevops46 We have added a finalizer to the `AzureAssignedIdentity` which means MIC pod will ensure the identities are removed from the underlying node and only then delete the `AzureAssignedIdentity`. If MIC is deleted, then the identities that were assigned to the node will be left behind. In cases where you want to delete MIC without the cleanup, you can run the following command to remove the

[2020-06-17 21:28] kcdevops46 commented on #644
@aramase Thank you very much. It worked.

[2020-06-17 21:39] aramase opened #659 "Remove HostIP reference from helm chart and deployment in next release"
- `HostIP` will no longer be required as NMI is changed to listen on `localhost`. Remove references to `--host-ip` flag as part of next release.

[2020-06-18 06:57] kagkarlsson commented on #503
Yes

[2020-06-18 18:10] #619 closed

[2020-06-19 06:38] jefjos commented on #653
Thanks @chewong

[2020-06-19 06:38] #653 closed

[2020-06-19 11:49] mboersma commented on #606
Two Azure customers have reported errors similar to this recently:
```Error code: Status Code = '400'. Response body: {'error':'invalid_request','error_description':'Identity not found'}```

@aramase do you know if the IMDS team has fixed the caching issue yet?

[2020-06-19 16:17] aramase commented on #606
Checking internally with the IMDS team on the status of the rollout. Will update here once we find out.

[2020-06-19 16:20] aramase commented on #606
Quick things to check before confirming its an IMDS issue is -
- Check if the identity that the pod is requesting a token for is in-fact assigned to the vm/vmss by running
[code]
Check the resourceID, clientID and confirm the same `clientID` is set in the `AzureIdentity`.
- If the identity does exist and error still is "identity not found", then please open a support ticket with reference to the i

[2020-06-22 05:46] franzoir commented on #503
In our case we're running with VM Availability Sets.

[2020-06-22 10:04] Schnerwitzki commented on #106
After talking to some very helpful experts from Microsoft, it seems at the moment the only way to make it secure, is to restrict the creation of AzureIdentity resources in Kubernetes to the ones who already control the NMI service (and hence the service principal which has the Managed Identity Operator role).

That's the way we're implementing it now. The teams who create an identity in some Azure

[2020-06-22 11:35] RTodorov commented on #532
Hello folks,

Could we get an update on this issue? It seems like a relatively easy change but it would be nice to understand if you're willing to accept it (so someone can open in a PR, either @cwoolum or myself) or if this is something you'd reject.

Thank you @aramase

[2020-06-22 16:34] aramase commented on #515
@vickeyrihal1 Hope the above enhancements and fixes have resolved the issues. Closing this issue now. Please feel free to reopen if you have any questions.

[2020-06-22 16:34] #515 closed

[2020-06-22 16:44] chewong commented on #532
Following up with @cwoolum to see if #638 is ready for review.

[2020-06-22 16:46] aramase opened #661 "Upgrade CRDs to apiextensions.k8s.io/v1"
CRDs have been promoted to GA since Kubernetes 1.16:

https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20180415-crds-to-ga.md

`aad-pod-identity` CRDs currently use apiextensions.k8s.io/v1beta1, which will be removed in the future: kubernetes/kubernetes#82022.

**Note:**

- The removal of `apiextensions.k8s.io/v1beta1` is planned for 1.22. So `aad-pod-identity` will co

[2020-06-22 21:35] chewong commented on #532
Hey @cwoolum @RTodorov. Instead of referencing Client ID and Resource ID as secrets, have you checked out https://www.hashicorp.com/blog/deploy-any-resource-with-the-new-kubernetes-provider-for-hashicorp-terraform/?

On a side note, the reason why we reference `ClientPassword` as a secret is that it's sensitive information and saving it as a secret ensures that it's not exposed. I would argue that

[2020-06-22 22:21] cwoolum commented on #532
We use flux for deploying all of our services and their associated Kubernetes resources so the Kubernetes Terraform provider wouldn't work for that. In fact, `aad-pod-identity` is deployed by flux as well so the CRD wouldn't even exist until flux first spins up and synchronizes. I really wouldn't want to introduce a process that has an asynchronous dependency. By having it just as a simple Secret

[2020-06-23 16:35] aramase commented on #651
Closing this issue as this is outside the scope of the project. Please feel free to reopen if you have any other questions.

[2020-06-23 16:35] #651 closed

[2020-06-25 16:24] bandarusrinivas opened #665 "api pod identity failes with "AzureIdentity" in version "aadpodidentity.k8s.io/v1" - using 1.6.1 version"
I am trying to deploy Azure AKS Pod identity and keep getting the error with kind "AzureIdentity". I am using version 1.6.1. When i try to deploy from Kubectl CLI i am able to deploy but from Terraform deployment fails. I know there is syntax changes happened after 1.6.1 but the same works fine in Kubectl CLI. is there any issue with pod identity?

...no matches for kind "AzureIdentity" in version

[2020-06-25 20:28] chewong commented on #665
Hi @bandarusrinivas, how are you installing the CRDs? Through helm or `deploy/infra/deployment`?
Also, could you try modifying your AzureIdentityBinding fields from `AzureIdentity` & `Selector` to `azureIdentity` & `selector`? See https://github.com/Azure/aad-pod-identity#v160-breaking-change for more details.

[2020-06-30 18:18] bq1756 opened #669 "AzureIdentity "configured", but does not exist"
**Describe the bug**
I created and AzureIdentity.  Kubectl return code indicates successful creation.  kubectl get AzureIdentities returns "no resources found"

**Steps To Reproduce**
## Deploy aad-pod-identity in kube-system with forceNameSpaced
helm repo add aad-pod-identity https://raw.githubusercontent.com/Azure/aad-pod-identity/master/charts
helm install --set mic.leaderElection.namespace="ku

[2020-06-30 18:36] chewong commented on #669
Hi @bq1756, I wasn't able to repro the error by following your steps. Did you make sure that your KUBECONFIG is pointing to the correct cluster?

[2020-06-30 19:25] chewong commented on #532
Hey folks, after some discussion, we've decided not to support this feature at the moment because of the following reasons:

1) we currently don't offer official supports for aad-pod-identity + Terraform;
2) it's not a frequently-requested feature;
3) potential confusion to users and implementation complexity if we introduce multiple ways to create `AzureIdentity` and `AzureIdentityBinding` (e.g.

[2020-06-30 19:25] #532 closed

[2020-06-30 21:31] bq1756 commented on #669
I started from scratch and used static names (not variables).  I was not able to reproduce the issue either.  I successfully created AzureIdentity.

[2020-06-30 21:31] #669 closed

[2020-06-30 21:31] bq1756 commented on #669
Could not reproduce

[2020-07-01 07:36] kealin commented on #183
@xenalite Same as above, if you figured it out could you please reply here. Thanks.

[2020-07-01 18:17] neelam256 opened #671 "Pods working under the azure assigned identity is not working sometime"
**Describe the bug**
We generate the token using metadata service using this curl command "
curl "http://169.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01&amp;resource=https://storage.azure.com"
Some time it throw an error
error: getting assigned identities for pod leoaz/am1edbm-0 in ASSIGNED state failed after 20 attempts, retry duration [5]s. Error: <nil>
**Steps To Reproduce

[2020-07-01 18:23] aramase commented on #671
This error logs indicates MIC has not yet assigned the identity for the pod. Could you please check the MIC pod logs for the same time frame and check if there are any errors?

[2020-07-01 18:39] neelam256 commented on #671
yes ..i tried two time one at around 12:00  and other time was 14:00

I0630 12:06:26.348840       1 mic.go:514] Work done: true. Found 3 pods, 4 ids, 5 bindings
I0630 12:06:26.348848       1 mic.go:515] Total work cycles: 23, out of which work was done in: 23
I0630 12:06:26.348862       1 stats.go:99] ** Stats collected **
I0630 12:06:26.348924       1 stats.go:82] Pod listing: 121.501µs
I0630 12:

[2020-07-01 18:51] chewong commented on #183
Since each pod can only have one `aadpodidbinding ` label, you could modify the bindings to use the same selector.

[2020-07-01 18:52] neelam256 commented on #671
@aramase i tried again
MIC log
--------------
W0701 11:51:21.537204       1 reflector.go:326] pkg/mod/k8s.io/client-go@v0.17.2/tools/cache/reflector.go:105: watch of *v1.AzureAssignedIdentity ended with: an error on the server ("unable to decode an event from the watch stream: unable to decode watch event: no kind \"Status\" is registered for version \"v1\" in scheme \"pkg/runtime/scheme.go:101\""

[2020-07-01 18:54] aramase commented on #671
@neelam256 If you deployed pod-identity using `kubectl apply` with manifests as documented here - https://github.com/Azure/aad-pod-identity#1-deploy-aad-pod-identity, then ensure this step is followed too -

[code]

From the log, you posted looks like the MIC is running kube-system. Please update the namespace to `kube-system` for the mic-exception and deploy in the cluster.

[2020-07-01 19:11] neelam256 commented on #671
@aramase   AzurePodIdentityException is running under kube-system namespace
here is yaml

apiVersion: aadpodidentity.k8s.io/v1
  kind: AzurePodIdentityException
  metadata:
    creationTimestamp: 2020-07-01T00:11:47Z
    generation: 1
    name: mic-exception
    namespace: kube-system
    resourceVersion: "17892465"
    selfLink: /apis/aadpodidentity.k8s.io/v1/namespaces/kube-system/azurepodidenti

[2020-07-01 19:17] aramase commented on #671
@neelam256 Please review this - https://github.com/Azure/aad-pod-identity#azurepodidentityexception. `PodLabels` needs to be `podLabels`. You can deploy this yaml - `https://raw.githubusercontent.com/Azure/aad-pod-identity/master/deploy/infra/mic-exception.yaml` with change in the namespace to `kube-system`.

[2020-07-01 20:00] neelam256 commented on #671
@aramase  thanks
after making above change, its working right now.

[2020-07-01 20:06] aramase commented on #671
Glad it's working. Closing this issue no. Please feel free to reopen if you have any other issues.

[2020-07-01 20:06] #671 closed

[2020-07-01 20:26] aramase opened #672 "Remove unused cert volumes from mic deployment"
https://github.com/Azure/aad-pod-identity/pull/670 removes unused `certificates` volume from helm charts. Need to remove that unused volume from manifests in `deploy` dir as part of next release.

[2020-07-02 11:09] joyrex2001 opened #673 "Support for configMapRef and secretRef in AzureIdentity"
The AzureIdentity CRD currently requires to configure the resourceId and clientId directly in the CRD. Beside this 'direct' configuring of the values for these attributes, it would help to be able to reference the values from other resources (secrets and configmaps).

We have a fully automated infrastructure setup, where we orchestrate the infrastructure with terraform, and afterwards run kubernet

[2020-07-06 08:23] digeler opened #674 "AKS 1.15.11 getting : ManagedIdentityCredential authentication unavailable, no managed identity endpoint found when using eventhub"
We started seeing the following exceptions when using the pod identity 1.5.5  :
[code]
looking on the nmi logs at nmi logs we see always the same pattern :
[code]
we see the 400 results ,coming from two pods only ,randomly changing.
these  errors prevent us from writing to eventhubs.
usually restarting the pod helps , but not everytime.

**Steps To Reproduce**
randomly not able to find a constant

[2020-07-06 09:55] dansanabria commented on #626
I'm still getting the error with the following helm version
`version.BuildInfo{Version:"v3.2.4", GitCommit:"0ad800ef43d3b826f31a5ad8dfbb4fe05d143688", GitTreeState:"dirty", GoVersion:"go1.14.3"}`

[2020-07-06 11:23] ceilingfish commented on #242
We're assigning managed identities to the VMSS, can we get clarification on whether that's going to be supported going forward as a means of obtaining a managed identity?

[2020-07-06 16:32] chewong commented on #626
Hi @dansanabria, the fixed will be included in 1.6.2 release. For now, you could check out the master branch and run `helm install aad-pod-identity charts/aad-pod-identity` to test the fix. Let me know if you are still experiencing errors.

[2020-07-06 16:54] chewong commented on #673
Hi @joyrex2001, https://github.com/Azure/aad-pod-identity/issues/532#issuecomment-651995514 explained why we currently don't support this feature at the moment. However, since we have more and more people onboarding aad-pod-identity, we will seriously consider this feature in our next release.

[2020-07-07 13:52] terrycain opened #675 ""Error validating token: IDX10223" Whilst getting a KeyVault secret"
**Describe the bug**
After a period of time (a day or so), requesting secret from KeyVault fails with "Error validating token: IDX10223"

**Steps To Reproduce**
Unknown, it happens after a few hours/days, I've had this happen in 3 different environments one after another which follows the same order of when the services were restarted.

**Expected behaviour**
To not get this error

**AAD Pod Ident

[2020-07-07 16:11] aramase commented on #675
@terrycain `aad-pod-identity` doesn't perform any caching of tokens. It only performs the validation to ensure the pod requesting a token for an identity has access to the identity as defined by `AzureIdentity` and `AzureIdentityBinding`. If yes, then it forwards the request as is to the metadata endpoint and relays back the token to the application.

1. When this error happens, do you a see a log

[2020-07-07 16:16] aramase commented on #674
[code]

This error happens when there is no resource header set in the token request. `resource` is mandatory for the token request without which metadata endpoint will reject the token request. In case of applications using C# sdk, we have seen the sdk make health check calls periodically to ensure the metadata endpoint is up and running by sending a request with empty resource header.

[2020-07-07 18:03] digeler commented on #674
Thanks,so youre saying this is normal behavior coming from c# sdk.
But is there any way to know why we are getting this error message  :
Azure.Identity.CredentialUnavailableException: ManagedIdentityCredential authentication unavailable, no managed identity** end

This happens randomly on some pods.

Thanks

[2020-07-07 20:57] #657 closed

[2020-07-07 21:30] aramase commented on #674
From the logs, the first request is the health check request from the sdk which doesn't contain the `resource` in the header and then another request is immediately made for the token which has the `resource` in the header and succeeds -

[code]

[2020-07-08 06:19] digeler commented on #674
thanks aramase ,i got that ,but still not sure if this error , "**Azure.Identity.CredentialUnavailableException: ManagedIdentityCredential authentication unavailable, no managed identity** endpoint found.
   at AccessToken Azure.Identity.ExtendedAccessToken.GetTokenOrThrow()**" ,is related to the podidentity ,or this error is something we need to verify outside of podidentity ?

the error above is

[2020-07-08 13:00] axelgMS opened #676 "AAD POD Identity - FailedIdentityOperation while upgrading an AKS cluster"
**Describe the bug**

vmss.patch.getResult: resourceID: /subscriptions/<SubID>/resourceGroups/<RGName>/providers/Microsoft.Compute/virtualMachineScaleSets/<VMSSName>, parameters: XYZ, error: autorest/azure: Service returned an error. Status=429 Code="FailedIdentityOperation" Message="Identity operation for resource '/subscriptions/<SubID>/resourceGroups/<RGName>/providers/Microsoft.Compute/virtual

[2020-07-08 16:01] aramase commented on #676
@axelg If the cluster is throttled, then it's possible `aad-pod-identity` patch operations fail because of 429 rate limit errors. If there is a `retry-after-header` in the response, then we should honor that in `aad-pod-identity` or set an internal backoff if the error is a 429. I'll open an issue for adding that feature to prevent further throttling if the cluster is already throttled.

For the c

[2020-07-08 16:02] aramase opened #677 "Honor retry-after header or internal backoff on 429"
**Describe the request**

**Explain why AAD Pod Identity needs it**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-07-08 17:47] julie-ng commented on #532
## How about Terraform + Environment Variables + Makefiles?

Sharing in case this is helpful to others @ThomasSchoenbeck @cwoolum

I've been playing around with using Terraform to spin up an AKS cluster with some "secure defaults", incl. AAD Pod identity.  And here is how I've approached it

- Terraform creates AKS cluster with [azurerm_kubernetes_cluster](https://www.terraform.io/docs/providers/a

[2020-07-08 20:18] cwoolum commented on #532
Aaah, that is a very intriguing approach! I might be able to do something similar where I'm able to update my Git Repo that has my identity configs from Terraform using something similar!

Thanks for an alternative viewpoint! I'll see if I can make that work.

[2020-07-09 09:08] dansanabria commented on #626
sorry didn't get to this until today. All good from master, no errors. Thanks!

[2020-07-09 12:57] aelmanaa opened #678 "status 404 for several minutes then 200"
Hi

how can we troubleshoot AAD pod identity? It works fine on our test and acceptance clusters. trying to use it in our production environment and I'm noticing a strange behaviour:

It fails to get the token for several minutes:
[code]

then I get a get a successful message

[code]

Because of that, my pods are very slow to get started. how can I troubleshoot why it is not able to fetch the token

[2020-07-09 15:47] aramase commented on #676
Opened #677 to track changes for honor retry-after header or backoff in case of throttling. Closing this issue. Please feel free to reopen if there are any other issues.

[2020-07-09 15:47] #676 closed

[2020-07-09 15:50] aramase commented on #678
[code]

This error in NMI means, MIC is still in the processing of assigning the identity to the underlying VMSS/VM for the pod. In the MIC logs you should be able to see the stats for how long the cloud provider operation took for this particular identity assignment. Typically identity assignment duration is in the range of ~30-40s, but from the log you posted looks like the PUT operation took lo

[2020-07-09 16:51] aramase commented on #674
@digeler This might not be a pod-identity issue. From the logs you posted, I don't see any errors that indicate that. I was briefly looking through issues similar to the one you posted and there are few - https://github.com/Azure/AppConfiguration/issues/201.

Let me know if I can help in anyway to get to the bottom of this.

[2020-07-09 16:55] chewong opened #679 "Add E2E test case for handling MSI auth requests by ResourceID"
**Describe the bug**

Add e2e test case for #540

**Steps To Reproduce**

**Expected behavior**

**AAD Pod Identity version**

**Kubernetes version**

**Additional context**

[2020-07-09 17:52] #535 closed

[2020-07-10 08:41] aelmanaa commented on #678
thanks for your answer @aramase.

yes VMSS based cluster. There are 3 nodes (linux Standard_D4s_v3). k8s version is v.16.10

[2020-07-10 09:53] aelmanaa commented on #678
I'm closing this issue as I found out there NSGs are not properly configured in our cluster.

[2020-07-10 09:53] #678 closed

[2020-07-10 16:52] aramase commented on #242
We're currently working on a MVP solution for `aad-pod-identity` on windows. There is currently no ETA that I can share at this point.

cc @phillipgibson for more details.

[2020-07-10 18:46] chewong commented on #603
@tkporter would you like to open a PR for this feature?

[2020-07-10 19:20] aramase commented on #421
Closing this with the new test framework - https://github.com/Azure/aad-pod-identity/pull/640

[2020-07-10 19:20] #421 closed

[2020-07-10 19:27] aramase commented on #509
Closing this issue as this no longer occurring and the fix for delays in identity assignment for VMAS is rolled out to all the regions. Please feel free to reopen if this is still an issue.

[2020-07-10 19:27] #509 closed

[2020-07-10 22:54] #604 closed

[2020-07-13 09:04] terrycain commented on #675
@aramase It just happened so I was able to easily dig into it more

So I got the IDX10223 exception at these times (no issues for at least 6 hours before those logs and seems fine after the last error

[code]
The issue is slightly more complicated as there are 2 workers serving requests for /readyz but both should request a token and deal with it appropriately.

These are the logs from the NMI pod

[2020-07-13 14:36] kwaazaar opened #681 "Identity gets assigned, but remains unusable "identity not found" error"
**Describe the bug**
On our production cluster one of manyu managed identities has suddenly become unusable. The AzureAD identity and the AzureIdentity and AzureIdentityBinding existed for months. The identity has been in use all that time. Now suddenly it stopped working with the error message "Identity not found".

When trying to use the identity on another pod (by using the same aadpodidbinding