[2018-04-09 19:46] khenidak opened #3 "Activities"
- [ ] Dev
  - [x] Create `azureIdentity` `azureIdentityBinding` and `azureAssignedIdentity` CRDs
  - [x] Create exported go types that represents the CRDs
  - [x] Support service principal as `azureIdentity` with `secretRef` to kubernetes secret
  - [x] MI Controller
     - [x] Assign EMSI Identity to Node control loop
     - [x] Bind pod <-> identity control loop
     - [x] Use labels for the mat

[2018-05-29 14:41] trstringer opened #30 "No `nmi` bin in the expected dir"
For the `nikhilbh/nmi:1.0` image used for the nmi deployment, I'm seeing the following error (Kubernetes):

_Note: the IP address is populated, I just removed it from the error message_

Running this container locally on my host, I can see that the `nmi` bin is indeed not located in `/bin`.

    docker run --rm -it nikhilbh/nmi:1.0 ls -la /bin

Looking at the Dockerfile for this image, it looks li

[2018-05-31 01:15] kkmsft commented on #30
The image has been updated to fix this.

[2018-05-31 10:52] trstringer commented on #30
Great thanks!

[2018-05-31 10:52] #30 closed

[2018-05-31 18:37] ivanthelad opened #32 "The Demo App app defaults to some rando subscription/RG settings"
attempting to run the demo app will result in a bunch of 403 errors as it tries to access a preset subscription, see output{1}, the demo app sets these values as defaults https://github.com/Azure/aad-pod-identity/blob/master/cmd/demo/main.go#L20

Easiest would be to update the deployment resource by setting a "command" and "argument" attribute to  override how the container is started and set the

[2018-06-01 01:44] rite2nikhil commented on #32
Thanks for reporting the issue. Will fix this right away.

[2018-06-01 04:43] #32 closed

[2018-06-01 04:45] rite2nikhil commented on #32
This was fixed. https://github.com/Azure/aad-pod-identity/pull/33

[2018-06-03 09:53] ivanthelad opened #36 "Namespace param is not used by method GetUserAssignedMS in crd.go"
Namespace parameter is ignored when looking up CRD type "azureassignedidentities" in the method GetUserAssignedMS. only referenced when a error occurs.
this results in the aad-pod-identity being only useable in the default namespace
[1]
https://github.com/Azure/aad-pod-identity/blob/master/pkg/crd/crd.go#L190

[2018-06-04 23:00] rite2nikhil commented on #36
This s fixed now, thanks for reporting.

[2018-06-04 23:00] #36 closed

[2018-06-06 05:58] xtellurian opened #38 "mic pod has insufficient permissions on AKS"
Let me premise this by saying I followed the README and got into this position. The root cause may be a bug, but more likely is missing or misleading documentation.

ENV:
* AKS
* eastus
* 1 node

Deployed the Infra and the demo, plus the bindings, as described in the README.

Looks like the MIC pod is unable to assign the identity.

Cannot perform action `Microsoft.ManagedIdentity/userAssignedIden

[2018-06-06 06:18] kkmsft commented on #38
Thank you, for trying out pod identity and reporting the issue.

I will try to repro this issue in house. Meanwhile, in order to rule out issues relating to identity being in a different resource group - Is it possible to retry this with an identity created with the same resource group as that of cluster - MC_k8s-test_clusterFrank_eastus ?

[2018-06-06 23:30] xtellurian commented on #38
I recreated the Azure Identity 'podId' in the Resource Group 'MC_k8s-test_clusterFrank_eastus'.

[code]

Side note: 'MC_k8s-test_clusterFrank_eastus' was automatically created when I provisioned an AKS cluster in Resource Group 'k8s-test'.

mic pod now successfully binds the identity.

[code]

[2018-06-06 23:30] #38 closed

[2018-06-06 23:39] xtellurian commented on #38
More info on the relationship between identities and resource groups.

The following identity (in the same RG as the AKS cluster) caused the error above. Obviously I'd prefer to create identities in the 'k8s-test' RG rather than the automatically provisioned RG 'MC_k8s-test_clusterFrank_eastus'.

[code]

[2018-06-07 00:03] sozercan opened #39 "Missing RBAC access for acs-engine"
README mentions that it works on acs-engine but I believe RBAC is enabled by default in acs-engine and deployment results in
[code]

Deployment should have a service account that has permission to get nodes.

[2018-06-07 00:06] sozercan opened #40 "PodCIDR is not present on Azure CNI configurations"
PodCIDR is not present on default configuration of acs-engine (using Azure CNI) and advanced networking configuration of AKS (uses Azure CNI instead of kubenet)

Deploying will result in: (for acs-engine)

[code]

[2018-06-11 15:49] khenidak commented on #39
Yes. I believe @rite2nikhil is working on RBAC-enabled pod identity.

[2018-06-12 01:09] xtellurian commented on #38
It took me a while to understand the documentation on how to use and deploy this repository.

I've made a tutorial: Azure CLI and kubectl to use aad-pod-identity in AKS

https://github.com/xtellurian/aad-pods

[2018-06-12 02:08] khenidak commented on #38
@xtellurian This is fantastic! any chance you can PR it into this repo?

[2018-06-12 03:57] xtellurian commented on #38
Good idea
https://github.com/Azure/aad-pod-identity/pull/42

[2018-06-12 03:58] xtellurian commented on #38
@khenidak can you expand on what you mean by `events` checking the binding?

[2018-06-14 00:25] xtellurian opened #43 "Using Azure Dev Spaces causes NMI pod to fail."
Azure Dev Spaces (AZDS) is a tool in preview for remote debugging and development in AKS. See [this getting started page](https://docs.microsoft.com/en-us/azure/dev-spaces/quickstart-netcore)

AZDS uses an init container and proxy container, which seem to interfere with the operation of NMI pods.

Steps to reproduce:

1. Deploy AAD Pods infrastructure as normal.

2. Enable Dev Spaces

`az aks use-

[2018-06-14 01:03] xtellurian commented on #43
This could also be an issue with Dev Spaces - have followed up with them also.

[2018-06-14 05:38] xtellurian opened #44 "MIC Pod doesn't process AzureIdentity or Binding"
I have a MIC pod deployed.

[code]

Also a Identity and binding

[code]

But looking at the MIC logs, it hasn't done what I expected, or anything useful for that matter.

[code]

There are also events showing from this command, could that be related?

[code]

[2018-06-14 05:44] xtellurian commented on #44
AH, but the identity is still there!

NMI pod is still able to acquire a token:

[code]

In that case it seems like the MIC pod doesn't re-log the identity even if the pod itself is deleted.

[2018-06-14 05:44] #44 closed

[2018-06-14 06:08] kkmsft commented on #44
I see that the issue has been closed, but not able to figure out the detail s of if its still an issue. Can you please give some more details of the current state ?

[2018-06-14 07:40] xtellurian opened #45 "Azure Resource is hardcoded to https://management.azure.com/"
Changing the resource in the request does not give a different token.

These two requests return the same token, with the same Audience.

`GET http://169.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01&resource=https://management.azure.com/`

`GET http://169.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01&resource=https://storage.azure.com/`

Root cause may be t

[2018-06-17 07:46] rite2nikhil commented on #40
Thanks for reporting the issue.

[2018-06-17 07:47] rite2nikhil commented on #43
Thanks for reporting the issue.

[2018-06-17 07:49] rite2nikhil commented on #45
Thanks will get this fixed

[2018-06-27 21:10] khenidak commented on #45
@rite2nikhil did we close on this?

[2018-06-28 22:49] ritazh commented on #45
I can take a look at this one.

[2018-06-29 01:32] ritazh commented on #45
After reviewing this issue a bit more, we seem to have two issues here.
1. we need to support multiple Azure environments (not just Azure public), I have a fix for this coming in few mins, which should also help with item 2.
2. we need to provide a way to pass in what resource the user wants token for.
`spt, err := adal.NewServicePrincipalTokenFromMSIWithUserAssignedID(msiEndpoint, resource, userA

[2018-06-29 04:15] xtellurian commented on #45
[Azure services that support MSI](https://docs.microsoft.com/en-us/azure/active-directory/managed-service-identity/services-support-msi)

Service | Resource ID | Status | Date | Assign access
-- | -- | -- | -- | --
Azure Resource Manager | https://management.azure.com/ | Available | September 2017 | Azure portal PowerShell Azure CLI
Azure Key Vault | https://vault.azure.net | Available | September

[2018-06-29 04:18] xtellurian commented on #45
The resource should be passed on from Pod to NMI and any other service

[2018-07-03 02:12] #45 closed

[2018-07-12 13:09] ivanthelad opened #60 "Example of aadpodidentity using a SP. type=1"
The docs state you can also use an SP as an identity. is there an example of this. my reason for the question is its not clear what should be the ResourceID.  a SP doesn't have one as far as i know.
https://github.com/Azure/aad-pod-identity#install-user-azure-identity-on-k8s-cluster

[2018-07-16 22:34] rite2nikhil commented on #39
closed #62

[2018-07-16 22:34] #39 closed

[2018-07-16 22:34] rite2nikhil commented on #40
closed #62

[2018-07-16 22:35] #40 closed

[2018-07-16 22:36] rite2nikhil commented on #43
can you please retry with latest master

[2018-07-16 22:36] #43 closed

[2018-07-18 01:00] ritazh opened #63 "Add VMSS support"
When using a cluster with vmss agent pools created by acs-engine, getting the following error from nmi logs:

[code]
and this from the mic logs:

[code]

[2018-07-18 03:44] rite2nikhil opened #65 "Add E2E scenario tests"
e2e tests to validate pod->nmi->mic e2e scenario's
1. Service prinicipal
2. MSI
3. Flex volume

[2018-07-19 16:32] kkmsft opened #66 "MIC: Use System MSI for cloud provider operations"

[2018-07-25 19:19] greensombrero opened #67 "mic controller periodically panics"
We've observed our mic controller periodically crashes with a panic.  In looking at the logs after we see this stack trace:

panic: runtime error: index out of range

goroutine 38 [running]:
github.com/Azure/aad-pod-identity/pkg/cloudprovider.(*Client).RemoveUserMSI(0xc4202c8380, 0xc4208f58c0, 0xb3, 0xc420711240, 0x18, 0x0, 0x0)
	/home/nikhil/go/src/github.com/Azure/aad-pod-identity/pkg/cloudprovi

[2018-07-25 19:33] kkmsft commented on #67
Thanks @greensombrero for trying out the project and reporting this issue. I am looking into this.

[2018-07-26 16:49] #67 closed

[2018-07-26 16:51] kkmsft commented on #67
Test layering has been moved so that this bug is captured in the automated test. The above checkin contains the fix for the issue.

[2018-07-26 17:40] greensombrero commented on #67
Just want to make sure I know the right procedure for getting these changes.  If I re-pull master and apply the updated deployment-rbac.yml file it would apply the fixes correct?  It looks like the image reference in the file was updated to a new docker image.  Is that the correct procedure to upgrade?

[2018-07-26 21:05] kkmsft commented on #67
Yes, the idea is to use the new image without removing the existing azureidentity objects. Please only create the mic back. You can delete the mic using the "kubectl delete deploy mic" and extract only the mic portion and run a create on it. There is a configuration issue I am seeing when when applying the yaml again with CRDs. Although no side effects were seen (trying to figure out what is going

[2018-07-27 15:57] greensombrero opened #69 "Identity not found error"
I have a weird situation coming up now where one of my pods can't get an identity.  It gets an error 403 error {\"error\":\"invalid_request\",\"error_description\":\"Identity not found\"}

Running a kubectl get AzureAssignedIdentity I do see an identity in there however looking at the mic logs I see:

 1 crd.go:174] Got id token-issuer-identity to assign
I0727 15:49:47.694207       1 crd.go:194] C

[2018-07-27 16:16] kkmsft commented on #69
Thanks again @greensombrero for using the pod identity and reporting back.

Assignment of the identity to the vm has failed with invalid parameter. This means that the app cannot use the identity.

Since its showing invalid parameter, can you please confirm (internally) that when you list the azureidentity and also in the logs that it is of the form (with / included):

"ResourceID": "/subscription

[2018-07-27 16:38] kkmsft commented on #63
Currently the User assigned MSI is only applicable at scale set level. Individual node assignments (of the identities) cannot be performed because of this limitation.

[2018-07-27 16:55] khenidak commented on #69
@kkmsft maybe we should improve the error message to avoid the confusion?

[2018-07-27 16:56] khenidak commented on #3
:-) it gives me a lot of pleasure to close this. Thanks @kkmsft @rite2nikhil @ritazh

[2018-07-27 16:56] #3 closed

[2018-07-27 16:57] khenidak commented on #66
hmm can you expand on this issue? I'm not sure i understand

[2018-07-27 16:57] khenidak commented on #65
@rite2nikhil i have seen some e2e tests being merged, was that all that is planned?

[2018-07-27 17:06] kkmsft commented on #66
MIC uses service principle from azure.json currently go create its own auth handles. In a cluster which is configured with MSI, this would not work and we need to use the MSI to arrive at the handles.

[2018-07-27 19:01] greensombrero commented on #69
So I figured this out.  I found this link https://docs.microsoft.com/en-us/azure/active-directory/managed-service-identity/known-issues which mentions identities can't be longer than 24 characters or they won't be assigned.  You can create them and use them but they don't work.  We were trying to have a good naming convention to keep our identities straight as we grow and this identity as a bit to

[2018-07-27 19:01] #69 closed

[2018-07-27 19:15] kkmsft commented on #69
Thanks @greensombrero. Let me connect you with the right folks below.

@skwan : Can you please help @greensombrero with respect to 24 character length limitations described in the comment above.

[2018-07-30 05:05] uday31in commented on #38
I have tested user assigned identity in AKS RG (insetad of MC_* RG) and it is working fine so not sure what is the exact issue referred here.

[2018-07-30 19:31] kkmsft opened #70 "Improve logging when the identity is not found"
Refer the #69 to improving the logging and error return for this issue.

[2018-07-31 23:34] xtellurian commented on #38
Root cause could have been related to the service principal for AKS, or perhaps another permissions issue in Azure.

[2018-08-15 05:10] rite2nikhil commented on #70
It will be better if we add events when ID is not found

[2018-08-15 05:13] rite2nikhil opened #72 "Add Validation Web hook for Azure Identity is valid"
Adding a validation web hook
- AzureIdentity is created
- AzureIdentityBinding is created

[2018-08-22 00:06] CBaud opened #74 "Failed to get service principal token"
After deploying this solution, one of the Node Managed Identity pods is reporting the following:

[2018-08-22 05:34] CBaud commented on #74
Digging into the logs for the specified pod reveals the following:

[2018-08-22 05:51] #74 closed

[2018-09-05 21:41] kkmsft opened #75 "Helm chart for aad-pod-identity"
Enable installation via helm

[2018-09-06 00:46] CBaud opened #76 "How to configure identity for k8s namespaces"
My team has a k8s environment with microservices distributed across various namespaces. Based on our observations, it seems like the AzureIdentity and AzureIdentityBinding both need to be applied to the _default_ namespace where the MIC and NMI pods are running, as well as into the namespaces of the microservices that are using the pod identity. Is this the correct approach? Or, are there simpler

[2018-09-07 04:51] kkmsft commented on #76
Hi Chris,

There seems to be something missing here - the expectation is that although identities are in default namespace, the pod can be in any namespace. Can you please provide a few more details of the steps you followed which worked and which did not work.

I will review the code and see if there is something which could cause such a scenario.

[2018-09-07 04:59] kkmsft opened #77 "Release criterion"
Raising an issue to keep track of release criterion checklist:

### Release criterion:
- [x] Feature complete for requirements for the release.
- [x] No  known blocker bugs.
- [ ] CI/CD – UTs with good code coverage
- [ ] CI/CD – e2e tests with good code coverage.
- [ ] Peer code review
- [x] Images in the right repositories (not individual docker accounts)
- [ ] Review of log messages to see if t

[2018-09-07 12:01] KKomarov opened #78 "No filtering of terminated pods"
Here https://github.com/Azure/aad-pod-identity/blob/9f6a8e3bd3cddfaccc64fb3e807a3c58ed3fa86a/pkg/k8s/client.go#L68

is lookup of podns podname from ip address. If there are terminated pods with same ip address as alive pod it might fail on lookup of assignment. Its a stopper for us.

[2018-09-07 15:27] kkmsft opened #79 "Raise events when assigned identity creation or identity assignment to vm fails"

[2018-09-11 18:14] CBaud commented on #76
Our service was only able to authenticate with Azure Key Vault after deploying the AzureIdentity and AzureIdentityBinding to the default namespace **and** the namespace containing the pod that was using the identity.

[2018-09-12 01:56] rite2nikhil opened #84 "NMI - Retry listing Azure Identities for pod in case not found."
ListPodIds(podns, podname) has no retries. There exists a race between MIC discovery of new  pods and associating them with Azure IDs. Addting retry with wait in NMI on the listing pod id's with reduce the possibility of this to happen.

[2018-09-12 01:59] rite2nikhil commented on #79
#82 fixes this issue the new image will be published as NMI 1.3 version

[2018-09-12 03:39] rite2nikhil commented on #78
#82

[2018-09-12 03:39] #78 closed

[2018-09-14 08:21] graniterocks opened #86 "Reference to 1-create-azure-id.sh has been removed from the tutorial"
Looks like the tutorial doesn't say that the script: 1-create-azure-id.sh should be run anymore. Is this step no longer necessary ?

[2018-09-19 19:49] vslepakov opened #90 "Clarification on Service Principal security"
Hi,

I just want to be sure that I get the functionality right...

So aad-pod-identity enables me to have a separate identity per application which is cool.
MIC uses cluster service principal to access Azure resources (including Managed Identities) so I assume that cluster service principal (secret) is still accessible on all the nodes correct?
Having access to that I could access all other identi

[2018-09-25 23:05] kkmsft opened #93 "Prevent Identities from external user identity setting (acs-engine) from getting removed"
If the same user identity is set on a node from provisioning software (like acs-engine), there is a chance that aad-pod-identity would remove it if the same id used (in the removal code path of the identity). This bug is raised in order to fix this issue.

[2018-09-25 23:06] kkmsft commented on #63
We can add limited support for VMSS by adding the identity to the entire scale set than individual vms.

[2018-09-28 20:58] asridharan commented on #75
This is important for managing dependencies as well.
For example https://github.com/Azure/application-gateway-kubernetes-ingress depends on aad-podidentity to access ARM.

[2018-10-01 20:02] khenidak opened #94 "Images should not be based on hyperkube"
Please create an image based on alpine or similar small docker image. `hyperkube` is an overkill

@ritazh @kkmsft @rite2nikhil

[2018-10-01 20:03] khenidak commented on #66
MIC should use its own service principals. It should not depend on anything provided by the node including EMSI/MSI.

[2018-10-01 20:04] khenidak commented on #90
@kkmsft @rite2nikhil FYI

[2018-10-08 20:12] billpratt opened #98 "Issue when using k8s acs-engine cluster and kubernetes-keyvault-flexvol"
I am trying to use the [kubernetes-keyvault-flexvol](https://github.com/Azure/kubernetes-keyvault-flexvol) plugin on a k8s cluster deployed using acs-engine. The user assigned identity binding is created and the user assigned identity (UAI) is assigned to the node the pod is running on. When `kubernetes-keyvault-flexvol` tries to access the secret, I receive the following error in the `nmi` pod.

[2018-10-08 20:15] kkmsft commented on #98
Further investigation led us to the following error when looking up the AzureAssignedIdentities from nmi:

ERROR: logging before flag.Parse: E1006 00:16:36.098201       1 crd.go:250] unknown (get azureassignedidentities.aadpodidentity.k8s.io)

from here:
https://github.com/Azure/aad-pod-identity/blob/0504a11d1975820400403180518291334ea5a5e1/pkg/crd/crd.go#L250

[2018-10-08 23:37] kkmsft commented on #98
In my set up I am not able to repro this issue following the steps. The sample app pod is in Pending state with the reason being ContainerCreating state.  The AzureAssignedIdentity is not yet created because of this.

The sample app in Container has the following reason why its not coming up:

 Normal   Scheduled    13m                default-scheduler                   Successfully assigned defau

[2018-10-08 23:53] billpratt commented on #98
"timeout expired waiting for volumes..."

I've seen this happen when the key vault flex volume plugin is not installed or setup correctly.

What does "kubectl get pods -n kv" show for you?

[2018-10-09 00:32] kkmsft commented on #98
As we discussed - after enabling RBAC deployments of aad-pod-identity things will work fine.

[2018-10-09 00:38] billpratt commented on #98
@kkmsft Thanks for all your help!

[2018-10-09 00:51] ritazh commented on #98
I believe the aad-pod-identity addon in acs-engine deploys the rbac version. So perhaps in the future, you can deploy acs-engine with both the keyvault-flexvolume and the aad-pod-identity addons.

[2018-10-09 00:51] ritazh commented on #98
I believe the aad-pod-identity addon in acs-engine deploys the rbac version. So perhaps in the future, you can deploy acs-engine with both the keyvault-flexvolume and the aad-pod-identity addons.

[2018-10-10 16:33] khenidak commented on #98
We are moving to rbac-enabled clusters every where. We should remain focused there.

[2018-10-10 17:20] mpp-oliverh commented on #76
I believe I have this issue, the NMI pod just doesn't seem to see updates outside of the 'default' namespace.

I have installed NMI and MIC into an 'identity' namespace but not really getting anywhere with that either.

My expectation was that I could put the NMI and MIC in their own namespace, along with the CRDs for the bindings, and then each production namespace could have its AzureIdentity an

[2018-10-12 07:52] graniterocks opened #99 "NMI - Retry GetPodName"
We are experiencing a getting tokens from the nmi because the first call directly after pod startup fails:
level=error msg="missing podname for podip:10.244.0.103, not found"

This error is similiar to what has been reported in issue #84

After a short period of time the next call to the nmi works fine so I believe that a retry on the func (c *KubeClient) GetPodName(podip string)  would solve the

[2018-10-12 09:08] mpp-oliverh opened #101 "Pod identities are only assigned when they are in the default namespace."

[2018-10-17 20:44] idanlevin opened #105 "Support identity in a container-level"
Hi,

There are multiple scenarios where you might want to give different identities to different containers in a pod.

For example, if you have an init-container that does some work that requires special permissions, you don't necessarily want to give that permission to the containers in the pod.

Is it possible to assign the identity at a container level? is it something we can support?

Idan

[2018-10-22 13:13] kkmsft commented on #38
@AndreasM009 - The steps to enable the scenario when the identity is in a different resource group was added to the Readme with #48 Can you please confirm that even after the running the steps here:  https://github.com/Azure/aad-pod-identity/blob/master/README.md#providing-required-permissions-for-mic you are still having the issue.

[2018-10-25 12:59] omerlh opened #106 "Impersonating pod identity using labels?"
First, this is a really good add-on, the missing piece between Azure and Kubernetes :)
If I understood the docs currently, each pod with the labels mentioned in the `Selector` field under identity binding will be able to request a token using MSI. Isn't that a security issue? Anyone with access to the cluster can deploy an app with the required label, and impersonate a pod.
After reading the docs,

[2018-10-27 09:56] AndreasM009 commented on #38
@kkmsft it works now, I had some problems with my service principal. thx.

[2018-10-28 11:35] omerlh opened #107 "Exception from MIC - Unexpected watch close"
I deployed a fresh new cluster using ACS engine. Kubernetes version is 1.11.3. AAD pod identity is installed via ACS engine. When looking on the MIC logs I noticed the following error:
[code]
I noticed this error after trying to use AAD in a pod on the cluster and failed.
Is this error expected?

[2018-10-29 07:17] kkmsft commented on #107
@omerlh: Thank you for trying out aad-pod-identity. This is not expected.

- Could you provide us with the api server logs (minus any private info).
- I will try repro on 1.11.3. I have seen similar reports on 1.11+ - https://github.com/kubernetes/kubernetes/issues/60957
- Would you be willing to try on 1.10+  versions ?

[2018-10-29 07:20] kkmsft opened #108 "Pod retry - pending review comments #100"
Raising this issue to track the review comments from #100
- Add the retry sleep interval as option.
- Add UT for the call.

[2018-10-29 09:41] AndreasM009 opened #109 "Access Azure KeyVault from ASP.NET Core"
I tried to deploy a pod with an ASP.NET Core API. It is not possible to get an access token using AzureServiceTokenProvider:
System.AggregateException: One or more errors occurred. (Parameters: Connectionstring: [No connection string specified], Resource: https://vault.azure.net, Authority: . Exception Message: Tried the following 3 methods to get an access token, but none of them worked.
Paramete

[2018-10-29 14:30] kkmsft commented on #109
@AndreasM009: Thank you for trying aad-pod-identity. Can you please provide the following to debug this further:

1. Nmi logs (to figure out how nmi responded to the call to token request)

2. Mic logs.(to figure out if the assignment to vm and the binding happened or not)

3. Kubectl get azureassignedidentity (please parse our any potential private info)

4. Please confirm about rbac state - does

[2018-10-29 15:05] omerlh commented on #107
I can provide the logs, but can you share with me what to look for? api server logs are big :)
Yes, RBAC enabled on the cluster.
I can try to reproduce on 1.10.*, hope to have time for that soon.

[2018-10-29 16:34] kkmsft commented on #109
@AndreasM009: Thank you for trying aad-pod-identity. Can you please provide the following to debug this further:

1. Nmi logs (to figure out how nmi responded to the call to token request)

2. Mic logs.(to figure out if the assignment to vm and the binding happened or not)

3. Kubectl get azureassignedidentity (please parse our any potential private info)

4. Please confirm about rbac state - does

[2018-10-29 16:39] kkmsft commented on #107
Any thing in the api logs which correspond to crd watches in the client - so anything with AzureIdentity or AzureIdentityBinding or AzureAssignedIdentity.

[2018-10-29 21:50] AndreasM009 commented on #109
@kkmsft it was my mistake. It seems that the .NET component AzureServiceTokenProvider does not use User assigned Identity. I tried to do a http request to http://169.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01&resource=https://vault.azure.net . Now I get a vaild access token for my key vault

[2018-10-30 10:00] owainc commented on #101
:+1:

[2018-10-30 12:48] omerlh commented on #107
I find many instances of this logs:
[code]

And similar logs, nothing seems related. On the other hand, I can only see logs from the last 24 hours so...

[2018-10-30 12:55] rrudduck commented on #63
Any updates on this? We've started deploying all of our clusters that aren't using AKS with VMSS for the agent pools.

[2018-10-30 16:43] AndreasM009 commented on #109
Installing the latest release of Microsoft.Azure.Services.AppAuthentication fixed the problem.
Now it is possible to use the AzureServiceTokenProvider as expected:
[code]

[2018-10-30 17:04] kkmsft opened #110 "Document examples of languages other than go with aad-pod-identity deployed."

[2018-10-30 17:06] kkmsft commented on #109
@AndreasM009 - Thank you !! for clarifying this.

I am thinking that we should document various usages and versions. Have raised an issue here: https://github.com/Azure/aad-pod-identity/issues/110.

Closing this bug for now. Thank you, again @AndreasM009 for using aad-pod-identity and reporting the issue.

[2018-10-30 17:06] #109 closed

[2018-10-31 11:20] pjbgf commented on #63
Does this also affect clusters that are **not** using MSI?

[2018-10-31 21:04] kyschouv commented on #63
Is this on the schedule to land any time soon? We'd like to get away from manually-managed identities wherever possible.

[2018-11-01 08:48] szikk opened #111 "Docker file for mcr.microsoft.com/k8s/aad-pod-identity/demo:1.2"
Hello can you provide the docker file for the demo image.
I want to create my own and I don't know what type of ADAL you have installed on it.

Thanks

[2018-11-05 15:08] AndreasM009 commented on #76
I had the same problem as describe by @CBaud . Taking a look to MIC logs shows me that no events are handled outside the default namespace.

[2018-11-05 17:10] rkoehl05 opened #112 "AAD integrated cluster with pod identity"
I set up an AKS cluster with AAD integration as described here:

https://docs.microsoft.com/en-us/azure/aks/aad-integration

This allows us to secure manual administrator access to the cluster but we also need to allow a management process running in a pod on the cluster access to submit other pods to the cluster. We were looking to do this by running the management pod with a pod identity/MSI tha

[2018-11-06 10:02] pjbgf commented on #76
@AndreasM009 @mpp-oliverh The service will only look at AzureIdentity and AzureAssignedIdentity objects from the default namespace, as that is currently hard-coded in the CRD.go file: https://github.com/Azure/aad-pod-identity/blob/master/pkg/crd/crd.go

The customer pods should be able to live anywhere though.

[2018-11-07 06:59] AndreasM009 commented on #76
@pjbgf Yes that's right. I tried that yesterday and it works. Thx

[2018-11-07 19:28] kkmsft commented on #63
We have reprioritized this work and now spending focussed cycles on getting the VMSS support. The ETA is not known yet, but this is the top most item we are working on currently.

/cc @cpuguy83

[2018-11-08 11:14] #101 closed

[2018-11-09 21:54] brendandburns commented on #112
The "system:anonymous" identity indicates that the code isn't correctly picking up your kubeconfig.

I have a couple of thoughts.

One, you might consider using Kubernetes Service Accounts:
https://kubernetes.io/docs/reference/access-authn-authz/service-accounts-admin/

Instead of an AAD identity.

If all you want to do is access the Kubernetes API (as opposed to other Azure resources) then that m

[2018-11-09 22:12] chewong opened #113 "Worker node's IP tables aren't cleaned up after deleting CRDs"
Expected the aad metadata rules to be deleted from worker nodes' ip tables after deleting the CRDs (i.e. `kubectl delete -f https://raw.githubusercontent.com/Azure/aad-pod-identity/master/deploy/infra/deployment-rbac.yaml`).
Command executed in worker nodes: `sudo iptable -L -t nat`

[2018-11-12 17:29] kkmsft commented on #84
#99 covers this scenario. Please reopen if the req is different.

[2018-11-12 17:29] #84 closed

[2018-11-12 17:32] kkmsft commented on #111
@szikk : Please find the Dockerfile here:

https://github.com/Azure/aad-pod-identity/blob/77746b515984125965180efb71f64892c54d3fc2/images/demo/Dockerfile

Closing the issue with this information. Please reopen in case of more questions.

[2018-11-12 17:32] #111 closed

[2018-11-12 17:34] kkmsft commented on #75
#91 adds the helm chart.

[2018-11-12 17:34] #75 closed

[2018-11-12 17:44] kkmsft opened #114 "Feature request list/Backlog"

[2018-11-12 17:48] kkmsft commented on #114
- [ ] VMSS support
- [ ] Crd in other namespaces than default.
- [ ] Use separate sp for MIC(not cluster sp).

[2018-11-12 17:49] kkmsft commented on #79
#89 fixes this.

[2018-11-12 17:49] #79 closed

[2018-11-12 17:49] khenidak opened #115 "Proposed Behavior Change: Identity/Namespaces/Assignment"
Ref: #106 #45 and other

Today, Identities are hardcoded to default namespace. and pods are matched using selector irrespective of `pod.namespace`. The is causing the following:
1. Users would like to compartmentalize application resources at the namespace level. This includes the identity.
2. This model currently does not allow matching `identity.namespace == pod.namespace`

**Proposed change**:

[2018-11-12 17:54] kkmsft commented on #115
/sgtm

[2018-11-12 17:56] khenidak opened #116 "Doc/Demo improvement Proposal"
Azure Identities/AAD were not meant to `just` control access to azure own resources. But arbitrary applications running on Azure/other clouds/on-prem as well. Users can register applications on AAD and use AAD tokens to access them. AAD authentication can be proxied to on-prem AD Proxy or others.

Proposal:
- Create a different demo where the target application is not is not `ARM` or `Azure resour

[2018-11-12 17:57] khenidak commented on #110
ref #116

[2018-11-12 17:57] khenidak commented on #114
ref #115

[2018-11-12 17:58] kkmsft commented on #90
@vslepakov - our plan is to separate out the usage of cluster SP and use a separate one for the MIC. This way the cluster level identities will not be used by MIC. This is something we are tracking in our back log. I am starting to track the backlog/features we are working on here: https://github.com/Azure/aad-pod-identity/issues/114.

Having said that the SP being accessible to all nodes is an ex

[2018-11-12 17:58] khenidak commented on #76
ref: #115

[2018-11-12 18:04] khenidak commented on #105
@idanlevin you can do `something similar` today but with a bit of work.

The idea is to use `User assigned identities` Each container should use the identity by name not as MSI. We translate these calls to get with `client_id`. This will give your pod the over all `feeling` of identity per container. But it will not stop container A from getting the identity assigned to identity B because the two

[2018-11-12 18:08] kkmsft commented on #66
MIC will use its own identities. Being tracked here in backlog: https://github.com/Azure/aad-pod-identity/issues/114

[2018-11-12 18:08] #66 closed

[2018-11-12 18:10] rite2nikhil commented on #115
The default is to match on any namespace, we will be backward compatible /lgtm

[2018-11-12 21:17] brendandburns commented on #112
Yes, pod identity will provide the MSI for the container if you follow the directions...

[2018-11-12 22:16] rkoehl05 commented on #112
Ok. That part of it is working. I am able to use the MSI attached to the pod to connect to the cluster via the get-credentials method and execute the child pod.

The error above occurs when AAD integration is enabled on the cluster. This does not seem to allow for any programmatic/non-interactive access to the cluster.

[2018-11-13 21:06] brantb commented on #115
Out of curiosity, what is the motivation behind selecting pods based on the label `aadpodidbinding` instead of allowing arbitrary label selectors [as described by the k8s documentation?](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#label-selectors) Typically a namespaced resource will typically reference either (a) other resources in the same namespace, or (b) a non-na

[2018-11-16 19:09] brendandburns commented on #112
I don't think that aad-pod-identity can be used to access the Kubernetes API. @khenidak can confirm

The reason for this is that the AAD token is bound to an application ID and the app id for Azure is different than the App Id for the Kubernetes cluster.

To access the Kubernetes cluster, you probably really do want to use a Kubernetes service account as described above...

It's possible that I'm

[2018-11-16 23:49] cpuguy83 commented on #63
PR open here: https://github.com/Azure/aad-pod-identity/pull/120/files

[2018-11-20 10:48] goldenbeard commented on #109
@AndreasM009 could you confirm which version of Microsoft.Azure.Services.AppAuthentication you used to get aad-pod-identity working?

[2018-11-20 12:50] piizei opened #122 "Improve Helm package"
Currently Helm package does not offer lot of value over just providing the deployment-rbac.yaml. It should provide the needed files to work as a Helm repository and function like normal Helm package. Similar to https://github.com/Azure/application-gateway-kubernetes-ingress/tree/master/helm

[2018-11-20 18:47] AndreasM009 commented on #109
I used version 1.0.3.
Take a look at my example Repository [here](https://github.com/AndreasM009/aspnetcoreaadpodidentity)

[2018-11-21 13:52] idanlevin commented on #105
@khenidak thanks, it helps but doesn't really solve the security problem around it.

I'm not a K8s networking expert, but since _NMI_ is a daemonset, maybe it can tell from which container a request is coming from instead of relying on the source IP? using a Docker network plugin or something else..

[2018-11-21 19:18] CBaud opened #123 "User-assigned identities are intermittently missing from VMs"
Our k8s cluster is experiencing issues where services will intermittently fail to authenticate with AAD. Closer inspection of the virtual machine that hosted the failing service will show that the user-assigned managed identity is missing. Manually re-adding the managed identity onto the virtual machine resolves the issue. However, it is unclear how individual virtual machines in our cluster are g

[2018-11-22 11:35] vslepakov commented on #90
Thanks!

[2018-11-22 11:35] #90 closed

[2018-11-23 17:10] serbrech opened #124 "Mount /run/x-tables lockfile so that we don't interfere with other container touching iptables"
See https://github.com/kubernetes/kubernetes/pull/46372 for reference and explainations

In short, when `iptables` is used from within a container, it should always use the `-w` flag (taken care of by the `iptables` go package used here) and the container should mount `/run/xtables.lock` to allow the lock to operate.

Implementation here : https://github.com/kubernetes/kubernetes/commit/0a1b7d94b4

[2018-11-26 15:07] pjbgf commented on #115
I agree with @brantb's fair suggestions. I am specially interested on points 1 and 2 being implemented, as together they would allow for a more secure approach than what we currently have with default namespace based identities.

Having the ability of referencing identities cross namespaces can be useful to be backwards compatible, however, that will be prone to less secure implementations. If tha

[2018-11-26 20:18] kkmsft commented on #123
@CBaud -

1. Can you please provide us with the MIC logs (is possible with increased verbosity) and the NMI logs to determine if there are some activities going on from aad-pod-identity side to which causes the identity to be missing.

2. Also, do you see any actions of explicitly removing the identity in the Azure portal event logs ?

3. Another question is are AzureAssignedIdentities still prese

[2018-11-29 19:56] #63 closed

[2018-12-04 16:43] pjbgf opened #131 "Current master branch build is broken"
Since the switch to alpine the Dockerfiles for both NMI and MIC are missing the package gcompat.

[2018-12-05 02:31] ritazh commented on #131
Hey @pjbgf Thanks for reporting this. I just built all new images using the latest commit off master. Both NMI and MIC images seem to build fine. Can you please verify? Please provide repro steps if the issue persists.

[2018-12-05 20:40] pjbgf commented on #131
Hey, @ritazh, thank you for having a look at it.

Below I add all the information needed to reproduce, as well as, the logs and further information around the environments and cluster. Please notice that as soon as gcompat is added into the base image, all the problem go away and the pods are scheduled as per expected.

Let me know in case you need anything else.

### Steps to reproduce:

1. Basic

[2018-12-06 01:49] pjbgf opened #132 "E2E Tests are not running against the produced images"
The current e2e tests are always executed against docker images already published, instead of using the ones generated as part of the build process. Impairing the ability to fully test changes either locally or as part of a build pipeline.

### Steps to Reproduce

1. **Clone repo and get dependencies**
[code]

2. **Configuration Setup**
As per test\e2e\README.md, including set `REGISTRY=my-docker-

[2018-12-06 03:13] cpuguy83 commented on #131
I have not tried to repro and am currently on mobile. But I think instead of installing gcompat we need to do a static build. As is, the binary seems to be linked to glibc, which we should avoid.

Alternatively you could try to build the binary from an alpine container.

[2018-12-06 08:08] dhkhan opened #133 "Non-default namespace"
Does this sample work on a non-default namespace? I am getting a 403 error from the demo pod if I do that. The AD Binding seems to be not working. I have set the namespace to the demo application, the infra(AzureIdentity and AzureIdentityBinding). Is there anything else we would need to do?

[2018-12-06 10:31] pjbgf commented on #133
This is the same as #76 .

@dhkhan this currently works as long as AzureIdentity and AzureIdentityBinding are placed in the default namespace.

On #115 there is a proposal to change this in order to support both those types to be placed within custom namespaces.

[2018-12-06 18:06] cpuguy83 commented on #131
https://github.com/Azure/aad-pod-identity/pull/134 should fix this.

[2018-12-07 15:34] pjbgf commented on #131
@cpuguy83 that worked for me, nice one. 👍
https://circleci.com/gh/pjbgf/aad-pod-identity/88

To make this process a bit more deterministic, would it not be good to use this in combination of a multi-staged Dockerfile? That would provide complete control on what exists at the "build machine".

[2018-12-07 20:43] cpuguy83 commented on #131
I tend to agree with that, at least when building for the image itself.

[2018-12-11 04:59] samisq commented on #133
Just ran into this exact issue. Thanks for the tip @pjbgf !

[2018-12-11 11:01] pjbgf commented on #133
@samisq I got a working version with this, but I still need to add some tests before creating a pull request. Here's the branch: https://github.com/pjbgf/aad-pod-identity/commits/features/support-multi-namespaces

[2018-12-11 17:14] pjbgf commented on #131
@cpuguy83 Going through the change required, it feels like your PR is more than enough for the time being. We can look at the multi-staged images later on.

[2018-12-11 17:39] #131 closed

[2018-12-11 19:48] pjbgf commented on #115
I am working on a PR for this. To confirm what we are expecting in terms of behaviour, the table below has three columns that tells in which namespace each object may live.

| Azure Identity | Azure Identity Binding | Target Pod | Status |
| --------------- | ------------- | ------------- | ------------- |
| default  | default | default | Supported |
| default  | default | custom-app1-ns | Support

[2018-12-12 10:55] pjbgf opened #136 "Docker Images with Vulnerabilities"
The current version **1.2** of both nmi and mic are based on the previous hyperkube base image. Running the snyk vulnerability scanning on those images results in over 200 vulnerabilities.
They are currently the images we are providing for anyone using `deploy/infra/deployment-rbac.yaml`:

![image](https://user-images.githubusercontent.com/5452977/49864871-63ee9980-fdfb-11e8-8dac-62e4a026c68e.png)

[2018-12-17 11:17] simonness opened #137 "MIC binding not happening - help required"
Hi, I've followed the demo instructions but can't seem to get the MIC to pick up new deployments.  I'm using AKS and no RBAC.

The NMI logs have lines like:

`time="2018-12-17T10:55:50Z" level=error msg="no AzureAssignedIdentity found for pod:default/demo-777c774cd9-g4dtj, <nil>" req.method=GET req.path=/metadata/identity/oauth2/token req.remote=10.244.0.20`

The MIC logs only have:

[code]

The d

[2018-12-21 23:37] kkmsft opened #139 "Deploy alpine based images from latest master onto mcr"

[2019-01-02 12:16] simonness commented on #137
Hi @kkmsft sorry for the delay!  I got to the bottom of this, please see #138.

[2019-01-02 16:50] #137 closed

[2019-01-02 16:53] kkmsft commented on #137
Thank you, @simonness for raising the issue and the PR to clarify this in documentation. I have merged your PR. Closing this issue.

[2019-01-08 22:59] khenidak commented on #105
Telling which container (without customized interface, breaking ADAL et al) is not possible today. as we depend on `src ip`.

[2019-01-08 23:00] khenidak commented on #94
This is fixed now by #95

[2019-01-08 23:00] #94 closed

[2019-01-09 08:53] Pothulapati opened #141 "Incorrectly appending create list to the delete list"
Hey,

In the `SplitAzureAssignedIDs` method, if the condition is `in(old) && !in(new)`  then we have delete. So, We should be appending the id to the `delete` list but it is incorrectly being appended to the `create` list as shown here.
https://github.com/Azure/aad-pod-identity/blob/2540a613757050f326755062e6d5a3682d9f8371/pkg/mic/mic.go#L388

If we see the other condition, i.e `!in(old) && in(new

[2019-01-09 13:22] kkmsft commented on #141
Thank you @Pothulapati.

The issue manifests when there are delete and add in the same cycle. Because we are running delete cycles first and then performing create cycles, the effect of create list adding itself to delete gets nullified there because create eventually gets done, right after the delete. Nevertheless this causes an unnecessary deletion and addition to the underlying vm identity. As

[2019-01-10 21:57] ritazh commented on #122
Hi @piizei thanks for the feedback. Once you fill in the missing values for the Azure identity you want to use in the values.yaml here: https://github.com/Azure/aad-pod-identity/blob/master/charts/aad-pod-identity/values.yaml#L8-L17, the chart will deploy this https://github.com/Azure/aad-pod-identity/blob/master/charts/aad-pod-identity/templates/identities.yaml, which results in an `AzureIdentity

[2019-01-15 21:38] Tra5is opened #144 "Unable to decode an event from the watch stream"
After deploying the aad-pod-identity yaml to a RBAC enabled AKS cluster I'm getting these errors from the MIC:
[code]

I deployed using this script (powershell)
[code]

I'm expecting the service that the helm step deploys (appgw-k8s-$namespace) will get the identity created by this helm chart. But the initial error seems to prevent the MIC from picking up the new pod and associated identity.

[2019-01-19 22:48] ankrause opened #145 "Identity assignment performance issues resulting in slow scale out"
CloudProvider: Azure VMSS
Version: Latest from source

The below data is all based on VMSS, though I would guess that other scenarios like VMAS using user-assigned identities would be impacted as well.

I've been testing scale scenarios in a test cluster running VMSS built from AKS-Engine. Since the VMSS support commit hasn't been released yet, I've built and published images from current source t

[2019-01-20 03:05] ankrause opened #146 "MIC deployment is not restricted to Linux nodes and the image does not support windows"
In a hybrid or windows-based cluster, the current deployment specs allow the MIC pod to be scheduled on windows nodes, despite not supporting windows.

[Deployment](https://github.com/Azure/aad-pod-identity/blob/master/deploy/infra/deployment.yaml)
[Deployment - RBAC](https://github.com/Azure/aad-pod-identity/blob/master/deploy/infra/deployment-rbac.yaml)

[code]

NMI though is already restricted

[2019-01-22 16:56] jamesrcounts opened #147 "Publish Helm Chart to Helm Hub or similar"
Is the helm chart published anywhere?

Having the chart published would make deploying via Terraform much easier.  The Terraform helm provide doesn't appear to support installing releases from local sources.

[2019-01-25 16:19] cherwin commented on #144
I'm having the same issue, @kkmsft do you have any suggestions?

[2019-01-25 19:57] nealAR opened #148 "Connect to SQL database from ASP.Net Core"
I'm following the tutorial below to connect to our Azure SQL database using ASP.Net Core 2.2.

https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-connect-msi

I've also followed the instruction from [this](https://github.com/Azure/aad-pod-identity) page and  linked the related pod to the AzureIdentityBinding (verified on the command line using `kubectl get po <pod name> --

[2019-01-25 20:11] kkmsft commented on #136
Closing this in lieu of #139

[2019-01-25 20:11] #136 closed

[2019-01-25 20:23] kkmsft commented on #77
Archiving this list in lieu of https://github.com/Azure/aad-pod-identity/wiki/Release-Criterion

[2019-01-25 20:23] #77 closed

[2019-01-25 20:33] kkmsft commented on #144
Similar issues are reported in AKS: https://github.com/Azure/AKS/issues/676

Looks like the new cluster has to be created or upgrade/scale can result in the fixe. Here is the link corresponding to that:
https://github.com/Azure/AKS/issues/676#issuecomment-438061325

@Tra5is @cherwin - Can you please try it on a fresh cluster or a cluster on which the fix above in AKS is applied.  Please let me kno

[2019-01-25 20:36] kkmsft commented on #107
@omerlh - are you still seeing this issue with newer versions ?

[2019-01-25 20:46] kkmsft commented on #112
@rkoehl05 - is this still an issue for you ?

[2019-01-25 20:48] kkmsft commented on #76
Closing this lieu of #115

[2019-01-25 20:48] #76 closed

[2019-01-25 21:03] rkoehl05 commented on #112
No I think we can close out

[2019-01-25 21:03] #112 closed

[2019-01-25 21:23] kkmsft commented on #122
@piizei - was wondering if you have some thoughts on Rita's reply. Do you think this is still an issue ?

[2019-01-25 21:51] kkmsft commented on #114
Move here: https://github.com/Azure/aad-pod-identity/wiki/Feature-Backlog-list

[2019-01-25 21:51] #114 closed

[2019-01-26 06:17] #146 closed

[2019-01-26 09:12] kkmsft commented on #148
@nealAR - Thank you for using pod identity.
There was a bug raised in case of ASP.net core usage here: https://github.com/Azure/aad-pod-identity/issues/109

1. Please confirm that you are using the latest version of the Microsoft.Azure.Services.AppAuthentication

2. Here is an ASP.net core usage documentation: https://github.com/AndreasM009/aspnetcoreaadpodidentity. Can you please confirm that the

[2019-01-27 17:10] omerlh commented on #107
Sorry, no - I did not have time to play with it. I guess this will not work on minikube, so I'll try playing it when I'll have a cluster with VMSS

[2019-01-28 10:17] piizei commented on #122
Point here was that the Helm package should be installable without having to clone the repository.  I'm using this package as downstream dependency of another helm package, which is now very complicated.
As opposite to the example link from application gateway, where the package can be installed just by following:
helm repo add application-gateway-kubernetes-ingress https://azure.github.io/applica

[2019-01-28 18:21] dannymyers commented on #148
I'm also having this issue. Same 404/403 logs.

[2019-01-28 18:42] kkmsft commented on #148
@dannymyers  - Thank you for the reply.
Can you please confirm that the pod labels are acurrate and the user identity has been assigned to the vm using the command here:

1. https://github.com/Azure/aad-pod-identity/wiki/Debugging#pod-labels
2. https://github.com/Azure/aad-pod-identity/wiki/Debugging#vm-user-identity-assignment

[2019-01-28 19:33] kkmsft commented on #144
@Tra5is @cherwin - any pointers on whether fresh clusters with the fix for AKS
https://github.com/Azure/AKS/issues/676 still exhibits this issue for pod identity ?

[2019-01-28 19:40] kkmsft commented on #107
Thank you for the response @omerlh. Are you okay to close this and re-open if you face the issue with the further version on a cluster in cloud ?

[2019-01-28 19:42] omerlh commented on #107
sure!

[2019-01-28 19:42] #107 closed

[2019-01-28 19:44] ritazh commented on #122
Thanks @piizei I will look into this.

[2019-01-28 19:56] #124 closed

[2019-01-28 20:01] dannymyers commented on #148
Poc Labels (crash loop is from exceptions thrown by not being able to impersonate)
[code]
az vm identity show -n vm name -g resource group

**`Doesn't return anything.`**

kubectl get AzureIdentity --all-namespaces -o yaml
[code]
kubectl get AzureIdentityBinding --all-namespaces -o yaml
[code]
kubectl get AzureAssignedIdentities --all-namespaces  -o yaml
[code]
MIC Log
[code]
NMI Log (Trimmed - Le

[2019-01-28 20:09] kkmsft commented on #148
@dannymyers - if you are intending to use the userassignedidentities, then the type should be set to 0. The user assigned identities is the preferred way to avoid managing the passwords which comes with service principal. Were you origninally planning to use user identities ?

[2019-01-28 20:14] dannymyers commented on #148
I'll switch to User Assigned Identities and submit my configuration and findings.

[2019-01-28 20:17] nealAR commented on #148
@kkmsft

1. I was able to confirm the aad pod binding label on the pod:

 LABELS
aadpodidbinding=pod-sql-identity-binding,app=test,pod-template-hash=3333591840

2. This command returned nothing, so assuming there's an issue with this step.

![capture2](https://user-images.githubusercontent.com/1644115/51863583-6e171980-230f-11e9-913c-e7a5b0e07ed1.PNG)

However, below are logs from the MIC pod. Loo

[2019-01-29 08:04] kkmsft commented on #141
Fix merged. Closing the bug.

[2019-01-29 08:04] #141 closed

[2019-01-29 14:10] cherwin commented on #144
@kkmsft this problem only occurs when deploying to a namespace other than `deafult`. Judging from the script that @Tra5is is using, it looks like he also might be deploying to different namespace.

[2019-01-29 18:08] kkmsft commented on #148
The following logs indicates that user assigned identity was not used.

I0128 19:21:41.214256 1 stats.go:59] Cloud provider get: 0s
I0128 19:21:41.214259 1 stats.go:59] Cloud provider put: 0s
...
I0128 19:21:41.214282 1 stats.go:59] Total: 1.01706466s

Also the total time is 1s, typically the user identity assignment would take 10s of seconds since it has to make the assignment on the virtual mach

[2019-01-29 19:16] dannymyers commented on #148
@kkmsft After switching to User Assigned Identities my problem went away and I am now able to make database calls. Thank you for your help.

[2019-01-29 19:40] kkmsft commented on #148
Thank you @dannymyers.

[2019-01-31 16:57] kkmsft commented on #148
Since its working well after switching the identity type, closing the issue. Thank you @dannymyers, @nealAR .

[2019-01-31 16:57] #148 closed

[2019-02-01 05:55] khenidak commented on #139
This should be closed now?

[2019-02-01 05:58] khenidak opened #153 "Aggregate Issue: Demos and How-Tos"
Our demos and How-Tos are missing the following component:
1. Create a demo based on applications that uses aad as idp. Example .NET core rest-api that show case how aad + pod identity can be used seamlessly. The demo should contain code sample and steps.

2. Create a demo based on rest api that connects to Azure sql using aad identities. The demo should contain code sample and steps.

#148

[2019-02-01 05:59] khenidak commented on #133
fixed with PR #140

[2019-02-01 05:59] #133 closed

[2019-02-01 05:59] kkmsft commented on #139
Image in mcr now - https://github.com/Azure/aad-pod-identity/releases/tag/1.3.0-mic-1.4.0-nmi

[2019-02-01 05:59] #139 closed

[2019-02-01 05:59] khenidak commented on #116
close in favor of #153

[2019-02-01 05:59] #116 closed

[2019-02-01 06:00] khenidak commented on #110
close in favor of #153

[2019-02-01 06:02] khenidak commented on #72
I think we should look if `initializers` are enabled for CRD based entities. they are easier to deploy and maintain.

[2019-02-01 06:02] khenidak commented on #115
close with #140

[2019-02-01 06:02] #115 closed

[2019-02-01 06:05] khenidak commented on #106
Anyone with access to the cluster already have access to assigned identities to the VMs. We have added namespace-ed identities to compartmentalize identities.

Do you see another improvement we need to have?

[2019-02-01 06:05] #110 closed

[2019-02-02 17:56] omerlh commented on #106
Maybe have a way to specify a deployment/replica set/service account?

[2019-02-06 11:02] AndyMoore opened #161 "terraform + helm + multiple CRDs"
I'm trying to use aad-pod-identity for multiple pods giving them access to different resources (e.g. app1 will access keyvault, external-dns will modify dns zones). This would be fine - aiui I just need to create the 2 CRDs and update the pod labels accordingly.

The problem I've run into is that I'm trying to do things in a 100% automated way, but terraform isnt currently able to setup arbitrary

[2019-02-08 01:10] jamesrcounts commented on #122
@piizei Suggestion would also support easier deployments from terraform.  I had originally opened #147, then thought you guys had already done something similar to ingress-azure (which is very easy to deploy from terraform).  But today, found out we still need some help to make this component as easy to install as the ingress.

[2019-02-08 06:58] AndreasM009 opened #162 "NMI and MIC can not start after installation"
I tried to install NMI and MIC on a new RBAC enabled cluster. The pod don't run. I get the following error:
[code]
Any ideas?

[2019-02-08 07:02] AndreasM009 commented on #162
And here is the error I get for MIC:

[code]

[2019-02-08 07:34] kkmsft commented on #162
@AndreasM009 : Can you please confirm whether the deployment file used was from:

a) the head of the tree - https://raw.githubusercontent.com/Azure/aad-pod-identity/master/deploy/infra/deployment-rbac.yaml
or
b) from the release - https://raw.githubusercontent.com/Azure/aad-pod-identity/1.3.0-mic-1.4.0-nmi/deploy/infra/deployment-rbac.yaml

Head of the tree is currently broken and (b) needs to be

[2019-02-08 12:38] AndreasM009 commented on #162
@kkmsft option b) works. Thx

[2019-02-08 18:18] kkmsft commented on #162
Thank you, @AndreasM009 . Closing this issue since #155 is merged now.

[2019-02-08 18:18] #162 closed

[2019-02-10 22:09] kkmsft commented on #161
cc @jjcollinge @ritazh

[2019-02-10 22:25] kkmsft commented on #144
@cherwin - Thank you. I am suspecting there are two issues in play here - one that the regular watches are not working properly and then the non-default namespace issue.

[code]
This seems unrelated to namespace related issues. Were you seeing the above errors as well ?

@Tra5is - can you please confirm that with the latest images in this release which includes the support for non-default namespac

[2019-02-11 12:53] jjcollinge commented on #161
@AndyMoore - appreciate this is less than ideal situation. I've hit this limitation in TF a number of times and had to rely on the Helm provider to get around it. My colleague @lawrencegripper wrote a [PR to add CRD support](https://github.com/terraform-providers/terraform-provider-kubernetes/pull/195) to the Kubernetes provider but as you can see from the thread, Hashi are waiting on a few things

[2019-02-11 13:32] lawrencegripper commented on #161
On [my Terraform YAML support fork there is still outstanding work to get CRD behaving correctly](https://github.com/lawrencegripper/terraform-provider-kubernetes-yaml/issues/11), it's on my todo list but currently other projects taking all my time.

[2019-02-11 14:10] AndyMoore commented on #161
thanks both. i've gone down the road of creating new charts for each service (e.g. external-dns) that i'm deploying that'd use aad-pod-identity, and including the CRDs in there. that's not ideal because it'll fail should aad-pod-identity not be deployed in time (which still creates the CRDs). I went down that road because aad-pod-identity took me a _lot_ longer to configure and get working than th

[2019-02-11 15:02] lawrencegripper commented on #161
@AndyMoore one which I've been hoping to play with is [weaveworks flux](https://github.com/weaveworks/flux) as the approach looks nice but as I've not used it yet not sure now/whether it would fix this scenario and it also introduces another thing to learn

[2019-02-11 19:59] AndyMoore commented on #161
I've looked at that briefly too, more specifically https://github.com/weaveworks/flux/blob/master/site/helm-operator.md - the problem here is that it uses CRDs.. 😃

I appreciate this is kinda off topic for this project, and specifically for the issues page (and my apologies), but I'm now looking for ways to continuously deploy apps to an ephemeral (i.e. one that can be stood up and destroyed by an

[2019-02-14 21:59] kkmsft commented on #144
@Tra5is - was wondering if you got a chance to look at the above update and try out the new feature. Please let me know if you are still seeing the issue.

[2019-02-18 17:03] rnarayana opened #163 ""Identity not found" error"
Hi,

I'm trying to setup aad pod identity for an ASP.NET core 2.2 alpine container running on AKS. I've followed the steps in this repo and I'm getting exception with the following code:
[code]
The exception i get is
[code]
The pod spec in deployment.yaml has the aadpodbinding label specified. In the NMI logs, it looks like the binding is getting applied when I do the deployment:

[code]
However i

[2019-02-18 19:36] kkmsft commented on #163
Hi @rnarayana, Thank you for using aad-pod-identity. The initial debugging steps are here: https://github.com/Azure/aad-pod-identity/wiki/Debugging . From the logs you have pasted looks like the identity has been assigned properly. There was an older bug raised here: #109 . Can you please confirm that you have the latest version of Microsoft.Azure.Services.AppAuthentication (it was 1.0.3 which was

[2019-02-20 01:21] kkmsft commented on #70
Events are raised when the assigning failures with merging of #89 . Closing the bug.

[2019-02-20 01:21] #70 closed

[2019-02-20 01:22] kkmsft commented on #144
@Tra5is - Kindly let us know if this is still an issue.

[2019-02-20 01:24] kkmsft commented on #163
HI @rnarayana - kindly let us know if this issue is still persisting after usage of the 1.0.3 of Microsoft.Azure.Services.AppAuthentication.

[2019-02-20 02:11] rnarayana commented on #163
Hi, I was already using 1.0.3
[code]
I'll update the verbosity of logs to v=6 and let you know if I see anything other than the 403 error

[2019-02-20 13:18] rnarayana commented on #163
Hi all,

We found out the issue. We were using the AKS cluster service principal as the ClientID in the AzureIdentity spec, rather than the managed identity client id.

Thanks,
Narayana.

[2019-02-20 13:18] #163 closed

[2019-02-20 13:43] kkmsft commented on #163
Thank you, @rnarayana

[2019-02-20 15:38] rhollins opened #164 "deployment is failing with error CRD already exists"
Hi

The deployment is failing with the following error:

Error: release mangy-vulture failed: customresourcedefinitions.apiextensions.k8s.io "azureidentities.aadpodidentity.k8s.io" already exist

This is the command: helm upgrade aad-pod-identity . --install --namespace kube-system --values values.yaml --kube-context cluster-name --wait --force --timeout 600

The custom resource definitions are no

[2019-02-25 08:50] torresdal commented on #122
Piggibacking on this with a few other suggestions for improvement:

* When you make changes to the chart, like changing image versions, a good practice is to also change the chart version in `Chart.yaml`.
* Expose configuration for image name and tag (user should be able to override image name and tag if needed)
* The `README` should provide a table with available configuration values from `values

[2019-02-25 16:43] ritazh commented on #122
Thanks for the feedback everyone. Will look at this issue soon. Sorry for the delay!

[2019-02-25 18:31] torresdal commented on #122
In the meantime I've published the current version of this chart in our own public chart repo. Feel free to use that until this is fixed:

[code]

[code]

[2019-02-26 19:41] kkmsft commented on #144
Closing this issue since the newer AKS cluster and namespace work should have resolved the issues. @Tra5is - please feel free to reopen if that is not the case.

[2019-02-26 19:41] #144 closed

[2019-02-26 19:49] kkmsft commented on #164
Hi @rhollins , Thank you for using aad-pod-identity. Looks like this is known issue with helm chart. Here is a link which was posted by another user in helm related bug:
https://github.com/SparebankenVest/public-helm-charts/tree/master/stable/aad-pod-identity#known-issues
Learning from there, manual deletion seems the way to go for now, until the bugs mentioned in upstream helm is resolved.

[2019-02-27 03:03] wuhanyumsft commented on #38
I have met the same issue. The identity needs to be the same resource group of MC-XXX should be stated explicitly in document https://github.com/Azure/aad-pod-identity/blob/master/README.md

[2019-02-27 05:51] yarinm opened #167 "Gracefully handle DuplicateIdentityIds errors"
I've been playing with aad-pod-identity and I tried to apply it on VMs that already have an identity assigned.

To my surprise the MIC was unable to assign the same identity again to the VM:

`I0226 13:06:30.233868       1 crd.go:178] Creating assigned Id: test-bbbb5865c-7fmph-default-azure-identity
I0226 13:06:30.418311       1 cloudprovider.go:132] Find aks-agentpool-15594153-1 in resource group

[2019-02-27 07:53] wuhanyumsft opened #168 "What's the EMSI stated in https://github.com/Azure/aad-pod-identity/blob/master/docs/design/concept.png"
What's the meaning of EMSI? And what's it used for?

Thanks,

[2019-02-28 02:36] kkmsft commented on #168
EMSI was an old name used for User Assigned Identity.

[2019-02-28 02:36] kkmsft commented on #164
Please let me know if manually deletion works for the issue you saw above.

[2019-03-03 06:21] feiyushi commented on #168
"Explicit Managed Service Identity"

[2019-03-04 07:42] yarinm opened #169 "Unable to use pod identity inside init containers"
I'm trying to use MSI in an init container and I get the error:
`time="2019-03-04T06:36:21Z" level=error msg="missing podname for podip:11.6.0.45, match failed, ip:11.6.0.45 matching pods:&PodList{ListMeta:k8s_io_apimachinery_pkg_apis_meta_v1.ListMeta{SelfLink:/api/v1/pods,ResourceVersion:31310752,Continue:,},Items:[],}" req.method=GET req.path=/metadata/identity/oauth2/token req.remote=11.6.0.45

[2019-03-04 20:57] kkmsft commented on #169
cc @rite2nikhil

[2019-03-05 06:40] yarinm commented on #169
I've created a PR for this issue - https://github.com/Azure/aad-pod-identity/pull/170

[2019-03-08 17:06] AndyMoore opened #172 "failing to list crds"
getting a lot of errors very quickly in the mic pod:

[code]

aks api server logs say:

[code]

which lines up with the above, however the cluster role ('aad-pod-id-mic-role') has:

[code]

(i've manually added '*' but to no avail)

the binding:

[code]

and the service account matches:

[code]

have i missed anything obvious, or does this look like a cluster specific issue?

[2019-03-08 21:01] kkmsft commented on #172
Your setup seems reasonable and should have worked.

Can you please confirm that you used: https://github.com/Azure/aad-pod-identity/blob/master/deploy/infra/deployment-rbac.yaml
to deploy your setup ?

[2019-03-08 22:14] AndyMoore commented on #172
it's basically https://github.com/Azure/aad-pod-identity/tree/master/charts/aad-pod-identity

[2019-03-10 22:59] AndyMoore commented on #172
i've done some digging - the mic deployment has the following:

[code]

That kubeconfig it uses is the one it mounts from the node, which has:

[code]

So the go client isn't able to read from the api because nodeclient cluster role doesnt have access to the CRDs

When I look at https://github.com/Azure/aad-pod-identity/blob/master/deploy/infra/deployment-rbac.yaml#L190 this doesnt exist

(the off

[2019-03-11 06:51] wuhanyumsft opened #173 "MSI is trying to use VM name to access ScaleSet, and return 404"
I see MSI is trying to access scale set but use the VM name in the resource group.
resource group: ops-build-service-k8s-prototype
VM name: k8s-master-14320510-0
Scaleset name: 1432k8s00

Here is the error log:
[code]

The issue is similar to https://github.com/Azure/aad-pod-identity/pull/120, but I don't know why it's still happening.

[2019-03-11 11:08] kkmsft commented on #173
Cc @cpuguy83

[2019-03-11 14:50] Expecho opened #174 "Official support?"
What is the status of this repo? I would very much like to apply this to our cluster running in production but according to https://github.com/MicrosoftDocs/azure-docs/issues/22465 it is not officially supported. What are the plans in term of this?

[2019-03-11 20:43] jaijitendra opened #175 "no AzureAssignedIdentity found for pod"
I have been following this article:
https://github.com/simonness/aad-pod-identity
But somehow my pods have no azure identitty

Here are my yamls

aadpodidentity.yaml

[code]

aadpodidentitybinding.yaml

[code]

App.yaml
[code]

Here is the output I get when I execute below commands:
[code]

[2019-03-11 20:45] kkmsft commented on #175
Can you please check the debugging steps here: https://github.com/Azure/aad-pod-identity/wiki/Debugging and get the logs for the MIC and NMI (after scrubbing any private information).

[2019-03-11 20:58] jaijitendra commented on #175
[code]

Below command returns nothing:
`az vm identity show -n <vm name> -g <resource group> `

I will put the logs shortly.

[2019-03-11 22:44] kkmsft commented on #174
cc @lachie83

[2019-03-12 02:10] palma21 commented on #174
Hi @Expecho, thanks for your question, aad pod identity was deemed stable as project some months ago, and as an Open Source project you can flag any issues you might have with it here and we'll work to solve them.

We are planning on releasing pod identity as an integrated Add-on for Azure Kubernetes Service within H1 of 2019.

[2019-03-12 02:55] wuhanyumsft commented on #168
Thanks!

[2019-03-12 02:55] #168 closed

[2019-03-12 15:45] cpuguy83 commented on #173
Is the master a vmss?

[2019-03-12 15:48] cpuguy83 commented on #173
I have a feeling this isn't quite right:

https://github.com/Azure/aad-pod-identity/blob/86145c0f9bdfeeb824c140ebe859296abe3739e5/pkg/cloudprovider/cloudprovider.go#L160-L167

The master node name does not look like a vmss name, but I could be mistaken.

[2019-03-12 16:49] jaijitendra commented on #175
It was my mistake. I had to deploy https://raw.githubusercontent.com/Azure/aad-pod-identity/master/deploy/infra/deployment-rbac.yaml  but I had deployed https://raw.githubusercontent.com/Azure/aad-pod-identity/master/deploy/infra/deployment.yaml. After deploying the mic & nmi correctly I can see the identity. Thanks @kkmsft .

[2019-03-12 19:20] cpuguy83 commented on #173
Are you able to test if this resolves your issue? https://github.com/Azure/aad-pod-identity/pull/176

[2019-03-13 08:51] jaijitendra opened #177 "Failed to list *v1.AzureIdentity error in mic logs when using helm scripts."
I took the helm charts from https://github.com/Azure/aad-pod-identity/tree/master/charts/aad-pod-identity and updated values.yaml.

[code]

and deployed in our aks cluster. But it does not seem to work.

Here is the output of few commands:

[code]

I see these errors in mic logs

[code]

Our cluster is rbac enabled. @kkmsft  Can please help me figure out what is going on?

[2019-03-13 08:51] #175 closed

[2019-03-13 20:19] jaijitendra commented on #177
Any update on this?

[2019-03-13 21:49] kkmsft commented on #177
Looks like a duplicate of #172

[2019-03-13 21:49] kkmsft commented on #172
cc @ritazh since its a helm chart related issue.

[2019-03-14 08:05] AndyMoore commented on #172
fwiw this was all fixed by taking the rbac from https://github.com/Azure/aad-pod-identity/blob/master/deploy/infra/deployment-rbac.yaml and combining with the helm chart (nodes issue was also fixed by it)

[2019-03-14 08:05] #172 closed

[2019-03-14 08:12] AndyMoore commented on #177
raised https://github.com/Azure/aad-pod-identity/pull/178

[2019-03-14 14:23] wuhanyumsft commented on #173
@cpuguy83, Yes, it's VMSS. How could I test my issue with the fix?

[2019-03-18 05:30] wuhanyumsft commented on #173
[code]

Still return 404 for 'Microsoft.Compute/virtualMachineScaleSets/1432k8s00000003', 'Microsoft.Compute/virtualMachineScaleSets/1432k8s00000004', 'Microsoft.Compute/virtualMachineScaleSets/1432k8s00000005'.

Which may have some relevance with the VMSS `1432k8s00`

[2019-03-18 22:51] cpuguy83 commented on #173
Thanks, seems our node resource naming may have changed and we cannot assume k8s node name == azure resource name.

I've updated the PR and test images.

[2019-03-19 15:45] cpuguy83 commented on #173
#176 is merged, fyi.

[2019-03-21 03:15] wuhanyumsft commented on #173
Everything looks good after the fix. Thanks!

[2019-03-21 03:20] #173 closed

[2019-03-23 08:24] brent-robinson commented on #60
Has anyone come across any external documentation for this? Looks an interesting feature.

I tried without specifying a resource ID, but this fails when trying to acquire a token, e.g.

[code]

[code]

[2019-03-26 05:52] markusdresch opened #180 "Sensible Memory Limits for MIC?"
Currently i have a 256 MiB default memory limit on the default namespace where the mic pod resides. Right now it's using 100%. What memory consumption is to be expected and if it depends on how many pods are using aad-pod-identity, how to calculate a sensible memory limit?

*EDIT:* After increasing the memory limit to 512 for this deployment, mic is down to 16Mi. Is this previous increase in memor

[2019-03-28 14:44] stewartadam commented on #168
Could we update the diagram to keep pace with upstream AAD terminology?

[2019-04-01 08:38] woutervanvliet opened #181 "Trying to use Pod Identity fails a number of times, before finally succeeding"
**Intro:** I'm trying to get Azure Pod Identity to work in our cluster, and am mostly succeeding (so far so good). For the time being, we have two keyvaults, two AzureIdentity's, two AzureIdentityBinding's and two Pods using each their keyvault.

While testing, both pods are equal - only difference being their `aadpodidbinding` and an environment variable indicating what keyvault to use. At startu

[2019-04-02 05:56] abhisheknsit opened #182 "NMI calling API Server for Pod Info for every call to IMDS: Add Caching"
NMI is hitting api-server to fetch pod info for each call to it for fetching UserAssignedIdentity token.
This could lead to 2 problems:

1. Bad tenants on a cluster, could DoS the api-server easily using this.
2. Incase connectivity to api-server breaks, then datapath operations of tenant pods will get affected.

One of the Solution could be to have a caching layer in NMI, to serve pod info for th

[2019-04-02 12:12] dan-jackson-github opened #183 "Create bindings to more than one MSI"
Hi,

Is it possible to bind a pod to more than one MSI? Do I just create an additional AzureIdentityBinding using an existing selector or can I assign more than one aadpodidbinding label ?

Thanks,

Dan

[2019-04-03 15:03] khenidak commented on #182
Hi. ADAL client libraries by definition cache the token. They will not get-new-token, unless the application is specifically asking for one.  We really never designed this for multi tenant environments. However your concern is some how  valid for non-multi-tenants. For that i would strongly advice to adjust qps/qps-burst on your api server. As for caching, I will add it as a feature request for vN

[2019-04-04 13:50] abhisheknsit commented on #182
Hi @khenidak , We wouldn't want to trust the services deployed on the cluster, to follow best practices. Some of the services are using UserAssignedIdentites before the SDK support was there, so they are still having rest api implementations.

I didn't get the multi-tenant part. For me a tenant is a single application, and using aad-pod-identity I am able to stop one tenant from accessing other te

[2019-04-05 10:10] zhiweiv opened #184 "AzureIdentity with service principal does not work"
I want to use Service Principal instead of MSI, there is not any document about it yet. After checked the code, I figured out how to input the correct yaml. The type of ClientPassword is api.SecretReference, the yaml should be
[code]
However I received `401 invalid secret` while getting token, after checked code further, I found this in
https://github.com/Azure/aad-pod-identity/blob/master/pkg/nmi

[2019-04-05 15:47] zhiweiv commented on #60
See #184

[2019-04-05 15:52] zhiweiv commented on #184
I did a little change, made type of ClientPassword to string too. I pushed the customized to my private repository, it proved work just now.

[2019-04-05 15:58] ritazh commented on #184
Thanks for reporting this issue. Will look into this shortly.

[2019-04-05 16:06] zhiweiv commented on #184
Thanks Rita, as requested in #60, it will be great to add an example of service principal to the document when it gets resolved, it took me quite a few hours to figure out the correct yaml.

[2019-04-09 19:12] kkmsft commented on #181
Can you please confirm that you are using the latest release: https://github.com/Azure/aad-pod-identity/releases/tag/1.3.0-mic-1.4.0-nmi  ?

[2019-04-09 19:14] kkmsft commented on #164
Since this is not a Aad-pod-idenitity but helm chart specific issue, closing this bug with manual deletion as work around. Kindly re-open if needed.

[2019-04-09 19:14] #164 closed

[2019-04-12 13:48] philwinder opened #185 "Make aad-pod-identity more generic (to work with non-aks clusters)"
Hi there,
I'm running a number of self-manged Kubernetes clusters on Azure. It has taken me a long time to get this project working. There's been a scattering of issues, but one general problem was that everything is catered towards AKS (documentation, examples, etc.).

Here is a list of some of my issues:
- We need a proper, stable, helm chart that is not specific to aks (it should work with any

[2019-04-12 20:55] fxgsell opened #186 "client_id missing from credential"
I ran a test using the same user managed identity between AKS and a VM, and the code works well on the WM but I get slightly different credentials  on AKS:

1.	they have a  similar token with only the last part (after the second '.') is different
2.	`refresh_token` is an empty string
3.	`client_id` is missing.

I’m using the same code and same python/sdk versions. At the end of the day I get an er

[2019-04-13 02:08] ianjirka opened #187 "Add CPU+Memory limits/requests to yaml"
mic/nmi containers don't have requests or limits specified on them - can you provide reasonable defaults please?  It helps to manage the cluster and is best provided by the project owner.  Thanks much!

#180

[2019-04-15 20:10] kkmsft commented on #177
#178 has been merged. Closing this issue with that. Please re-open and let us know if the issue still occurs.

[2019-04-15 20:10] #177 closed

[2019-04-15 22:59] kkmsft commented on #181
@woutervanvliet - there were bug fixes which has gone in the latest release - https://github.com/Azure/aad-pod-identity/releases/tag/1.3.0-mic-1.4.0-nmi which would avoid a condition where identities would get deleted and then re added again even thought they are not required to be deleted. Hence want to first confirm that you are using latest to further debug this.

[2019-04-15 22:59] kkmsft commented on #183
Thank you @dan-jackson-github for exploring aad-pod-identity. Right now the check in mic look at. a single label value. At this moment I don't expect it to work.

Can you please provide a little more insights in the scenario (generic scenario) where a pod would need more than one MSI ?

[2019-04-16 06:21] kkmsft commented on #180
Thank you, @markusdresch for using Aad pod identity. There is logic where the list of pods, list of azure dentities and list of azure identity bindings and captured in memory for comparison logic to work and azureassignedidentities created. How many pods, identities, and binding do you have when you were seeing high memory usage ?

[2019-04-16 06:52] kkmsft commented on #169
Thank you, @yarinm for the PR #191 . Closing with with the merge of that PR.

[2019-04-16 06:52] #169 closed

[2019-04-16 06:57] kkmsft commented on #184
@zhiweiv -Thank you for looking into aad-pod-identity. Would you be interested in submitting a PR based on your experience with the service principal usage to clarify the documentation #60 ?

[2019-04-16 07:08] kkmsft commented on #185
@philwinder - Thank you for detailed suggestions. Definitely very useful suggestions. We will use this when prioritizing some of the future work.

Would you be interested in doing a PR for simpler demo you mentioned ?

[2019-04-16 07:12] dan-jackson-github commented on #183
Hi @kkmsft, thanks for the response. I was thinking about having different MSI bindings because I was considering using different MSIs to authenticate against different Azure resources such as key vault, service bus etc. It's probably over kill but I was trying to avoid using one MSI to authenticate against multiple resources. For the time being we have just used one MSI and binding and its workin

[2019-04-16 07:13] kkmsft commented on #186
@fxgsell - Thank you for using aad-pod-identity. Can you please refer to the debugging steps here: https://github.com/Azure/aad-pod-identity/wiki/Debugging and check if everything is in order ?

[2019-04-16 08:52] markusdresch commented on #180
@kkmsft currently in development i'm using one shared pod idenity for about 40 pods. they only use it to access a key vault on startup to get some connection strings and other configuration data. the pods are pretty idle most of the time. mic memory then increases over time more or less linear from 16 MiB by roughly 20 MiB per day until reset. so after a week it's at ~150 MiB, after two weeks ~300

[2019-04-16 15:39] zhiweiv commented on #184
Well, I'm glad to submit a PR to fix this if @ritazh hasn't start something.

[2019-04-16 16:50] ritazh commented on #184
@zhiweiv I have not had time to work on this issue yet. Feel free to submit a PR if you have time. 😄

[2019-04-17 13:04] woutervanvliet commented on #181
@kkmsft Sorry for the delay - been off from work.

Yes, it appears like I'm using the latest version. My mic pod looks like this

[code]

And nmi
[code]

[2019-04-17 17:19] abhisheknsit opened #193 "Cache MSI ServicePrincipalToken"
NMI is hitting the IMDS endpoint for each call it recieves.

A bad tenant on that node could throttle IMDS endpoint for that node, affecting all other tenants on that Node.
A solution for this can be addition of a cache of tokens, then ServicePrinicalToken can be served through the cache instead of the IMDS endpoint.

[2019-04-17 17:33] kkmsft commented on #180
Thank you for the details @markusdresch . I will attempt a repro and get back. Just so that we are in sync - can you also please let me know how you  are checking the memory state of the mic and which fields were you checking ?

[2019-04-17 20:33] cwebbtw opened #195 "Regularly hanging on Find VM in resource group"
**Scenario**

3 VM AKS cluster with RBAC enabled
aad-pod-identity installed and working for the most part

**Problem**

This happens regularly but eventually works again after a few hours:

*mic logs*
[code]

*nmi logs*
[code]

Today it's being especially bad and hanging for long periods of time and eventually throwing.

I haven't posted the identity and binding yaml definitions as this isn't a pr

[2019-04-18 02:27] fxgsell commented on #186
I redeployed it on a new cluster and din't get the issue again, not sure what it was but I can't reproduce it.

[2019-04-18 02:27] #186 closed

[2019-04-18 05:39] markusdresch commented on #180
@kkmsft thanks for looking into it. i'm checking container memory working set in aks insights and with `kubectl top pod`, both provide the same results.

current mic pod uptime: 9d

[2019-04-18 13:29] cwebbtw commented on #195
Happening again after working for most of the morning (BST):

[code]

[2019-04-18 15:41] kkmsft commented on #180
@markusdresch - I have a setup now which has 41 identities:

`
kubectl get azureassignedidentities | wc -l
      41
`

This is since ~7 hours, but I have seen slight growth in the memory:

`
kubectl top pod mic-7bd7b9cc67-9dfsf
NAME                   CPU(cores)   MEMORY(bytes)
mic-7bd7b9cc67-9dfsf   12m          23Mi
`

Will dig more.

[2019-04-18 22:36] kkmsft commented on #195
Since there are some thumbs up for these ? Are other folks also facing this issue ?

@cwebbtw - Thank you for using aad-pod-identity.
Have not seen this in my setups. Which region is your cluster in ?
If there is a test environment also where you are observing this. In which case, can you please try [Debugging](https://github.com/Azure/aad-pod-identity/wiki/Debugging) and enable more verbosity and

[2019-04-19 06:52] cwebbtw commented on #195
Our cluster is in westeurope. I will enable debugging and try to provide more detail when this next happens.

[2019-04-19 19:06] droessmj opened #196 "Multi-Node AKS Cluster with MSI - Issues"
When running with more than 1 node, we're encountering issues with the pod identity not being available to the running pods.

MIC Logs:
E0419 18:11:44.286393       1 reflector.go:205] github.com/Azure/aad-pod-identity/pkg/pod/pod.go:70: Failed to list *v1.Pod: Get https://REDACTED.azmk8s.io:443/api/v1/pods?limit=500&resourceVersion=0: dial tcp: lookup REDACTED.azmk8s.io on 172.20.0.10:53: read udp

[2019-04-19 19:21] khenidak commented on #196
Do you have any other controllers running on the cluster. Controllers that perform `list+watch`.. are they healthy?

[2019-04-19 19:36] droessmj commented on #196
Four other Deployments exist on the cluster, all of which are healthy. One is an Nginx Ingress. If that doesn't qualify as a Controller, apologies as it's a newer term I'm just digging into. Aside from the pods associated with said Deployments, the only other resources on the cluster are the AAD pod identity components and Services associated with the pods.

[2019-04-19 19:50] khenidak commented on #196
The error above indicates that `mic` can not access the DNS server of the cluster running on `172.20.0.10:53` that is a service IP. There can be many reasons for that. But as a suspect is `kube-proxy` Ngnix might have already cached the ip. The easy way to check this is to run a pod on the same node as `mic` and exec into it to test DNS connectivity from that node.

[2019-04-19 20:26] droessmj commented on #196
So if I'm following correctly, running `mic` on the same node as nginx would be expected to work and running it on separate nodes could be the cause of this issue?

`exec`-ing into a pod on the same node as `mic` . Dumping /etc/resolv.conf shows my nameserver as 172.20.0.10, which aligns with above.

Should I be looking to resolve the FQDN for the AKS management domain above? Or am I just testing

[2019-04-19 21:45] droessmj commented on #196
The more I poke, the more it does appear that the pod(s) cannot resolve DNS for the domain. When I drop into a shell on the node itself, it doesn't have any issues resolving the endpoint, but the pod networking fails. I believe that should confirm our NSGs are appropriately configured for the scenario and further demonstrate the issue is contained within the cluster.

[2019-04-20 15:33] khenidak commented on #196
Yes please. resolve anything actually. Typically something inside the cluster and something outside the cluster. You can use `nslookup` command

[2019-04-22 12:37] droessmj commented on #196
When I first tested DNS, I was getting failures in resolving DNS entries using cluster DNS capabilities, both internal and external. DNS resolution from the node itself was fine, but within the cluster it wasn't. After kicking the CoreDNS pods, I was able to resolve DNS internally and externally, and the AAD pod identity capabilities were functioning. However, no more than 30 minutes later the pod

[2019-04-22 15:59] khenidak commented on #196
We have not seen this behavior elsewhere. What i can tell is there is an issue resolving DNS entries on the cluster generally. Yes it depends on iptables but that shouldn't be a problem. What else are you running on the node that can be wrangling iptables?

[2019-04-22 16:01] khenidak commented on #196
Also, I am mostly free today (PST timezone). Do you want to jump on a call, share screens?

I am: khnidk at microsoft com

[2019-04-22 16:20] droessmj commented on #196
I would love to jump on a call and screen share. We have a support ticket open with Microsoft, and our support engineer was going to engage you. The only things I know of wrangling iptables are AAD pod identity and whatever runs in the kube-system Microsoft managed namespace.

We have TwistLock running on these clusters, but I don't believe that touches iptables.

[2019-04-22 17:19] khenidak commented on #196
To close, The RCA is, cluster subnet was not tied to the route table in which the controller manager was assigning routes. This is needed in `kubenet` setup. Without it any pod->pod traffic across nodes will fail. Once the we linked the subnet to the route table everything fell in the right place.

[2019-04-22 17:19] #196 closed

[2019-04-22 17:51] khenidak commented on #195
@cwebbtw
This seems like timeouts cluster to ARM api. This can be due to multiple reasons such as bastion hosts, ARM rate limiting. Few things will help us help you:

1- Are you running any bastion/firewall hosts in this VNET?
2- How many clusters (and how big) are in the same Azure subscription?

[2019-04-22 18:02] khenidak commented on #181
There is a bit of an avoidable race condition where if you created your identities, binding, pods at the same time mic will be churning through the assignment but the pod actually started and nmi got no assignment for it. This situation is not avoidable, yet it should not occur `every time`. One of the things we are thinking of doing is wrapping this in a small retry loop https://github.com/Azure/

[2019-04-22 19:30] cwebbtw commented on #195
Update

Haven't been able to provide debugging logs due to bank holiday weekend in the UK.

Answers to Khenidak's questions:

**1- Are you running any bastion/firewall hosts in this VNET?**
No, this virtual network does not have any bastion/firewall hosts.

**2- How many clusters (and how big) are in the same Azure subscription?**
There are two clusters, each scaled to 3 nodes .

**3- what VM sku

[2019-04-22 19:43] kkmsft commented on #180
Performed a go pprof analysis. Although the kubectl top shows 47M, the internal in use from proof was showing only 11M. Digging into why this discrepancy is there to get to the root of why the growth is happening.

[2019-04-23 05:48] markusdresch commented on #180
@kkmsft thanks for your effort. just to let you know, the cluster was pretty much idle for the last 4 days and mic memory did not increase. i have a feeling it has to do with pod creation, will have an eye on it.

[2019-04-23 11:23] markusdresch commented on #180
it seems like every pod creation adds some memory footprint to mic without releasing memory for deleted pods. so everytime a deployment is updated and pods are recreated, mic memory increases. is there a way to show pod memory in kilobytes? because it seems to be less than 1 MiB per pod creation, so it isn't visible immediately using `kubectl top pod`

[2019-04-23 11:52] markusdresch commented on #180
probably not an exact value but 5 pod recreations (`kubectl pod delete`) roughly equal 1 MiB. i just deleted 10 pods and a bit later `kubectl top pod` shows 2 MiB more for mic.

[2019-04-24 09:12] DaEkstrim commented on #184
@ritazh Any estimated time-frames on when this will be merged and pushed? It would help me decide whether to wait for this change or go a different route.

[2019-04-24 18:00] kkmsft opened #198 "VMSS: Removing identity from a node removes identity for the scaleset even if other nodes are using it"
This was found during internal testing. As the function which determines InUse, does not check whether there are other nodes in the same VM Scale Set which uses the identity, currently in use identities can be removed. We need to fix the function checking in use to consider the scenario that an identity might still be in use by other nodes in the given VMScaleSet.

[2019-04-24 18:01] kkmsft commented on #198
/cc @cpuguy83

[2019-04-27 13:52] gb-42 opened #200 "Feature Request"
Please add --forceNamespaced to mic and nmi in yaml file. It would be great to replace true || false (what ever is the default) in the deploy pipeline.

Please add .Release.Namespace in the helm charts. If I read right...aad-pod-identity can now be deployed to any namespace, if possible please use something like aadpodidentity-system (i.e. similar to kube-system, istio-system, etc...)

[2019-05-01 16:56] khenidak opened #204 "Pod Identity should not use azure.json"
Please switch Pod Identity to use its own configuration. Azure Pod Identity should depend on its own configuration/identity to run `mic`.

ref: https://github.com/kubernetes/kubernetes/issues/77309

@kkmsft

[2019-05-01 17:30] kkmsft commented on #204
@feiyushi had already started working on this.

[2019-05-02 15:09] #184 closed

[2019-05-02 17:13] vishnujanardhanan opened #206 "az login --identity failures"
I'm noticing the below error on executing  az login --identity command

ERROR: The command failed with an unexpected error. Here is the traceback:
ERROR:
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 206, in invoke
 cmd_result = self.invocation.execute(args)
  File "/opt/az/lib/python3.6/site-packages/azure/cli/core/commands/__init__.py", line 3

[2019-05-02 17:23] kkmsft commented on #206
Can you please let us know if there is AzureAssignedIdentities created to the corresponding pod ? The following wiki https://github.com/Azure/aad-pod-identity/wiki/Debugging can be referred for steps which can get you the results.

[2019-05-02 17:42] vishnujanardhanan commented on #206
hi krishna,
   This error comes up intermittently. I can try to get more logs when i see the issue next time.

[2019-05-02 19:35] ritazh opened #207 "include binary versions in logs"
Acceptance criteria: As a user, I would like to see binary versions of NMI and MIC in the logs.

[2019-05-03 10:27] fawohlsc commented on #164
How can you perform this manual deletion @kkmsft?

[2019-05-03 17:09] kkmsft commented on #60
The #184 has added sample yaml files here - https://github.com/Azure/aad-pod-identity/blob/master/deploy/demo/aadpodidentity-sp.yaml to work with SP with password being a k8s secret. Closing this with that example as reference.

[2019-05-03 17:09] #60 closed

[2019-05-03 19:33] kkmsft commented on #65
E2e tests are now working with #202 merged. Doc related here - https://github.com/Azure/aad-pod-identity/tree/master/test/e2e

[2019-05-03 19:33] #65 closed

[2019-05-03 19:35] kkmsft commented on #86
Merged with #205

[2019-05-03 19:35] #86 closed

[2019-05-03 19:41] kkmsft commented on #161
@AndyMoore - Thank you for this issue and discussions. Do we have any action specific to Aad-pod-identity project here ?

[2019-05-03 22:38] aramase commented on #113
@kkmsft can you assign this issue to me?

[2019-05-03 22:50] AndyMoore commented on #161
maybe just documentation for the scenario for now. worth mentioning, but I'm not sure any real actions for this project

[2019-05-03 23:02] kkmsft commented on #161
@AndyMoore - Thank you! Would you be interested in raising a PR for documenting this ?

[2019-05-04 08:34] AndyMoore commented on #161
I would, but I'm still not much the wiser for the 'proper' solution :)

helm + crds seems to be a grey area

[2019-05-05 08:56] kkmsft commented on #108
Closing via #208 merge.

[2019-05-05 08:56] #108 closed

[2019-05-07 12:19] cwebbtw commented on #195
We're seeing:
[code]

It seems someone else has raised the same issue:

https://github.com/Azure/aad-pod-identity/issues/206

[2019-05-07 15:44] cwebbtw commented on #195
Can confirm that when this behaviour is happening:

[code]

Deleting the mic pod seems to resolve the problem temporarily.

[2019-05-07 15:56] cwebbtw commented on #206
Can confirm having reproduced this issue that when this is occurring, the corresponding `AzureAssignedIdentities` are not created. If you delete the pod, the identity is created immediately.

[2019-05-07 16:22] kkmsft commented on #195
@cwebbtw - Thank you for further info in this. The messages from NMI indicates that there is no azureassignedidentity created, which you could verify from commandline as well. The creation of azureassignedidentity and the assignment of identity to underlying vm is performed by MIC, so we have to check the MIC verbose logs and see why the assignment is not happening. Since you have found that the h

[2019-05-08 14:37] CBaud commented on #123
Closing the loop - upgrading to the 1.3.0-mic-1.4.0-nmi release has made things much more stable.

[2019-05-08 14:37] #123 closed

[2019-05-08 15:12] kkmsft commented on #195
Apologies if it was not clear - mic is responsible for creating azureassignedidentity. The intend of getting logs there is to understand what is going on in both internal actions - like creating azureassignedidentity and underlying cloud operation like assigning identity to underlying vm.

[2019-05-08 19:27] erjosito opened #212 "default namespace used for azureassignedidentity (the rest in non-default ns)"
I am using AKS 1.13.5. I deployed all the components (mic:1.3, nmi:1.4, azureidentity, azureidentitybinding, serviceaccount, clusterrolebinding and demo pod (nikhilbh/demo:1.0) in a non-default namespace.

All seems to work fine, but the azureassignedidentity is created in the default namespace. I would have expected to see it under the non-default namespace where the rest of the stuff is?

[2019-05-10 21:28] kkmsft commented on #212
/cc @khenidak

[2019-05-15 20:55] #113 closed

[2019-05-15 21:04] aramase opened #213 "Make e2e test deterministic"
https://github.com/Azure/aad-pod-identity/pull/211#discussion_r284441515

[2019-05-15 22:57] kkmsft opened #214 "Removing identity from vm when system assigned identity is present fails"
When a vm is already having system assigned identity, then removing the user identity from it fails. This causes one of the e2e tests to fail with the following error:

compute.VirtualMachinesClient#CreateOrUpdate: Failure sending request: StatusCode=400 -- Original Error: Code="InvalidParameter" Message="ResourceIdentity identityIds should not be provided if the type is \"SystemAssigned\"." Targe

[2019-05-15 23:00] CecileRobertMichon commented on #207
/assign CecileRobertMichon

[2019-05-16 18:56] aramase commented on #212
@kkmsft For namespaced identities, the pod ns == azureid ns == azure binding ns. So I can make the change to use the namespace to be derived from that. But for non namespaced identities, it's possible that the azureidentity, binding and pods can exist in different namespaces. In that scenario do we want to use the namespace of the azure identity/binding/pod ns?

[2019-05-17 05:14] aramase commented on #212
@erjosito Thank you for trying out aad-pod-identity. I had a question - Are you using namespaced identities? https://github.com/Azure/aad-pod-identity#understanding-namespaced-identities

[2019-05-17 05:59] erjosito commented on #212
Nope. But I deployed mic and nmi in a non-default ns.

[2019-05-17 15:25] droessmj opened #217 "User Assigned Identity Not Removed from VM"
Using AKS, Kubernetes version: 1.12.6

AAD Pod Identity Info:
- NMI: v1.4
- MIC: v1.3

##Symptoms
- Pods were stuck on a crashloopbackoff due to inability to authN to database using User Assigned Identity. MIC logs indicated that the correct binding was being applied to the pods in question, however the AzureIdentity resource referenced in MIC logs did not match the resources existing in Kubernete

[2019-05-17 15:27] droessmj commented on #217
@dstrebel - Opened this in this project rather than AKS as it seems more coupled to Pod Identity than general AKS, but there may be overlaps.

[2019-05-17 16:44] aramase commented on #212
@erjosito That is the expected behavior today. If namespaced identities are used, then we create the assigned identity in the same namespace as the identity, binding and pods. Otherwise, the assigned identities will always be created in the default namespace.

[2019-05-17 21:30] #207 closed

[2019-05-20 20:28] #212 closed

[2019-05-21 17:20] kkmsft commented on #132
Thank you @pjbgf for opening this issue and PR #129
@CecileRobertMichon created #218 based on these changes, updated these changes and made it work with the latest e2e in #218. Closing this issue with the merge of #218.

[2019-05-21 17:20] #132 closed

[2019-05-21 17:36] kkmsft commented on #217
@droessmj - sorry for delay in updating. The behavior seen of the identity not going away is not expected. We will investigate to figure out what is going on. Meanwhile, wanted to confirm - Is this something which you hitting often ? After the manual removal, is everything alright and assignment and are fine in the subsequent operations ?

[2019-05-21 17:45] aramase commented on #217
@kkmsft I hit this issue while running some e2e tests yesterday. I think the issue is we delete the assigned identity and then remove the msi from the node. However if there is an error while removing msi, we don't retry.

https://github.com/Azure/aad-pod-identity/blob/c4fb5db010fe0748f16b3607d8952f15cec9caea/pkg/mic/mic.go#L231-L237

I think if we see a failure here, we should put back the assign

[2019-05-21 17:50] kkmsft commented on #217
Thank you - @aramase - can you look into why this error would happen in conjunction with this issue so that we can fit in all the pieces here:

"Event(v1.ObjectReference{Kind:"AzureIdentityBinding", Namespace:"default", Name:"MSI-BINDING-PLACEHOLDER", UID:"b4b93419-78ae-11e9-8dbb-e6d966016eaf", APIVersion:"aadpodidentity.k8s.io/v1", ResourceVersion:"5608855", FieldPath:""}): type: 'Warning' reason

[2019-05-21 18:00] kkmsft commented on #217
Btw, @aramase  - that fix of assignment back makes sense. But thinking more - we need to maintain the state of those underlying assignment in the assignedidentity instead of removing and adding for better tracing. This can be used in other scenarios as well where we have underlying assignment failure as well.

[2019-05-21 18:01] aramase commented on #217
@kkmsft is it possible the role assignment was changed after the add was done? Is this logs from @droessmj cluster? I can't recreate it consistently. Happened to me only once.

[2019-05-21 18:03] aramase commented on #217
Totally makes sense. So what you're suggesting is we add events to the assigned identity on failure and remove the assigned identity only when we successfully remove the msi from the node right?

[2019-05-21 19:06] droessmj commented on #217
After manual removal the issue didn't recur and nothing further was required. The real issue was in discovering the underlying "sticky" MSI, as the K8s cluster showed no presence of the original other than the MIC log entries.

[2019-05-22 15:24] cwebbtw commented on #195
Please see, attached, the verbose (v6), logs for this error:

[code]

Logs:

[code]

[2019-05-22 15:28] cwebbtw commented on #195
This is an **intermittent** issue and without making any changes, starts working **eventually**

Our bindings are:

[code]
and our identity is:

[code]

[2019-05-23 01:21] northtyphoon opened #224 "MSI failed to assign identity to the underlying vm on Azure China AKS"
We tried to set up MSI on AKS running in Azure China. The controller pod failed to assign the identity on the underlying VM. The following is the error.

E0522 23:19:58.096035       1 vm.go:66] compute.VirtualMachinesClient#Get: Failure responding to request: StatusCode=404 -- Original Error: autorest/azure: Service returned an error. Status=404 Code="SubscriptionNotFound" Message="The subscriptio

[2019-05-23 01:29] kkmsft commented on #224
Thank you @northtyphoon for raising the issue. Its indeed a limitation.  We could look at command line parameters and arrive at the conclusion about the endpoint to contact. Would you be interested in submitting a PR for fixing this ?

[2019-05-23 01:31] kkmsft commented on #224
Other options and to look into the azure.json as current or include that into the set of secret reference instead of azure.json (add one more param here in #221 changes)

[2019-05-23 01:51] northtyphoon commented on #224
I will try to do a PR after we finished the deployment on China AKS. Right now we workaround it by manually assign the identity to the underlying vm. After that, the MSI works fine.

[2019-05-23 18:42] kkmsft commented on #195
From the logs, looks like pod identity is behaving as expected. The intermediate hangs still points to timeouts reaching ARM. @cwebbtw  - Can you please confirm that the above logs are during a hang ? We should see subsequent time out logs in that case.

/cc @khenidak

[2019-05-23 22:19] cwebbtw commented on #195
Yes these logs were taken with the corresponding failing `az login --identity` that I've included. Restarting the mic controller temporarily fixes the problem but then it continues to fail shortly after. Eventually it fixes itself entirely and works until the next time. Unfortunately this seems to happen mainly in the afternoon GMT.

[2019-05-23 22:39] kkmsft commented on #206
@vishnujanardhanan - was wondering if you hit the issue again ?

[2019-05-23 22:42] kkmsft commented on #195
Thank you, @cwebbtw .
Are there other parts of the system (AKS cluster) also facing any such issues around the GMT afternoon time frame ? for example the cloud provider of the k8s cluster performs similar operations, so any cloud operation such as a change in load balancer configuration should hit this issue if it an environment related issue. Any such symptoms are you observing on your cluster ?

[2019-05-24 02:13] #224 closed

[2019-05-24 04:04] vishnujanardhanan commented on #206
@kkmsft Yes sir, I get them on daily. All i do to get it working again is delete kube-proxy, mic and nmi pods. Sometimes it works without deleting kube-proxy pod - but with deletion of mic and nmi pod.

[2019-05-24 07:35] kkmsft commented on #206
In that case, can you please provide logs from mic(after sensitive stuff is scrubbed) when you find the issue happening ? Is this on an AKS cluster ? If so is the cluster healthy at the time you are seeing this issue ? Is there a specific time of the day this is happening ?

[2019-05-24 08:22] cwebbtw commented on #195
Not that we're observing. We've had a couple of issues with tunnelfront recently but this issue with the identity failures has happened since day 1 on every AKS cluster we build.

[2019-05-24 08:24] cwebbtw commented on #195
We've had to move away from it now and login with the service principal username and password which works reliably but doesn't feel like the right solution as it exposes the service principal to abuse if the password is obtained.

[2019-05-24 08:48] vishnujanardhanan commented on #206
@kkmsft I had included all the logs in a microsoft support ticket i raised earlier. Do you have access to the Azure support ticket system so I can pass the ticket ref or I can forward it to your email.

[2019-05-24 14:19] kkmsft commented on #206
Yes please send the ref to  “kkravi [at] microsoft dot com”

[2019-05-24 15:35] kkmsft commented on #195
There are two main operations which happen during this time frame:

Just after this message:
_Find aks-agentpool-42571559-3 in resource group: MC_mp-ppe-westeurope-r1-rg_mp-ppe-westeurope-r1-k8s_westeurope_

we do a GET of the VM to get the current identity information. In the initial messages you provided below:
_I0417 20:10:20.638240       1 cloudprovider.go:132] Find <vm> in resource group: <re

[2019-05-28 23:40] xenalite opened #227 "Identity assigned to only 1 pod"
I have one managed identity to read key vault secrets.
I want this identity to be assigned to all pods in a namespace.
I have 8 deployments and 16 pods. Only 1 pod gets the identity assigned.
All deployments assign the same selector label to all pods. Identity binding has only 1 selector.

**Deployment template labels snippet:**
[code]

**Azure Identities:**
[code]

**Azure Identity Bindings:**
[c

[2019-05-29 00:47] aramase commented on #227
@xenalite Thank you for using aad-pod-identity. I'll try to see if I can reproduce it. Can you confirm the versions of mic and nmi that you are using? Also, do you consistency only see 1 assigned identity being created every time instead of 1 for each pod?

[2019-05-29 07:53] xenalite commented on #227
@aramase
MIC 1.3
NMI 1.4

Yes, I can only see 1 assigned identity at a time. Yesterday I was able to to see 2 (1 per namespace), but still off by about 30. This morning I see a different assigned identity every time I query (1 sec interval):

[code]

MIC log from this morning:
[mic.log](https://github.com/Azure/aad-pod-identity/files/3231300/mic.log)

I can see a lot of errors attempting to assign

[2019-05-30 18:34] aramase commented on #227
@xenalite Thank you for the logs. Was there ever an azure identity and binding create for managed identity `ixsamlqem20mi01r1668` or `ixsamlqem20mi02r1692`?

[2019-05-30 20:37] xenalite commented on #227
@aramase Very likely. They get auto deployed as part of VSTS releases and then deleted after tests finish.
Our clean up first deletes the Helm release (so bindings and identity), K8s namespace, then ARM templated resources.

[2019-05-30 22:38] aramase commented on #227
@xenalite Have a few more questions -
1. How often are these tests run?
2. Every time the tests are run, are the azure identity and identity binding changed or stay the same over all iterations? If you use the same name, it might be good to try changing the name to something unique on every iteration and see if that resolves the issue.
3. Do you see the error with AzureAssignedIdentity not being c

[2019-05-30 23:08] xenalite commented on #227
@aramase
1. A dozen times a day, usually 2 deployments in parallel per commit.
2. Every test run gets a new unique identity.
3. Since this error from above started happening, I noticed only 1 Azure Assigned Identity gets created, regardless of its a test run or a manual release to the same cluster. This happens for every release, not just intermittent. Identity bindings that have nothing to do wit

[2019-05-31 14:48] cwebbtw commented on #195
@kkmsft

1. We will re-enable aad-pod-identity on our cluster to get these logs for you as we've reverted to using a service principal log in with a password (undesirable as we don't want to use passwords).

2. See below:

We retry for up to 2 minutes for the `az login -i` to successfully work and continue to retry throughout that time. We know that restarting the mic controller often brings the p

[2019-05-31 21:21] Bowbaq commented on #206
We're also seeing this fairly regularly. We believe it's a race condition between the identity getting assigned to the pod & the containers beginning to execute code. Since identity assignment is quite slow (several seconds usually), it is fairly easy for the CLI to run before the identity is assigned.

I've opened https://github.com/Azure/azure-cli/issues/9537 to track the fact that the CLI crash

[2019-05-31 22:44] Bowbaq opened #229 "Pods running in AKS sometimes can't use assigned MSI"
We've been running into a number of seemingly transient issues with AAD & AKS. Our contact Christine Luo asked us to report the issues on Github, so here goes.

## Issue
We use [external-dns](https://github.com/kubernetes-incubator/external-dns) to provision DNS records for our services. After upgrading our AKS cluster from 1.10.13 to 1.11.9  (which replaced all the nodes), `external-dns` was sudd

[2019-06-01 00:22] kkmsft commented on #206
Thank you @Bowbaq . The retry issue and race is tracked in #181.
@vishnujanardhanan - are their retries in your application like the #195 (where there is a 2 minute retry). If not this is possible to happen and would resolve when #181  is resolved.
I have not been able access your MIC logs yet although I have access to the support ticket system and details. Co-ordinating with internal folks to loo

[2019-06-02 04:59] vishnujanardhanan commented on #206
@kkmsft I've sent the logs to your ms email. we have retry, but it is immediate.

[2019-06-03 16:00] ferantivero opened #230 "Validate the resourceID format"
**Describe the request**
validate resource id format when creating the AzureIndentity configuration object

**Explain why AAD Pod Identity needs it**
otherwise this err is faced really down to road (post deployment while binding) and requires changes in the project's configuration management

**Describe the solution you'd like**
not quite sure the best approach here, but I think it might work a ne

[2019-06-03 18:57] kkmsft commented on #206
Hi @vishnujanardhanan -

Thank you for sending the logs over mail. From the analysis of the logs:

1. The user assigned identities were assigned and removed properly within the time frame (GMT) of 30-Apr-2019 - 02:41 to 07:04.  The queries which are coming are around 01-May 15:27:36. MIC logs do not contain any operations since 30-Apr indicating that there is no binding match which happened for th

[2019-06-03 21:52] cwebbtw commented on #206
Thanks for the update! We will attempt to obtain the logs for when this next happens and provide both nmi+mic logs.

[2019-06-06 11:30] pantanuj opened #233 "Can not access Keyvault from ASP.NET Core Web API using Pod Identity"
I have deployed a aspnet core web api and created pod identity and bindings. However, the api does not return a result and the error in pod log states
Application startup exception: Microsoft.Azure.Services.AppAuthentication.AzureServiceTokenProviderException: Parameters: Connection String: [No connection string specified], Resource: https://vault.azure.net, Authority: https://login.windows.net/ba

[2019-06-07 08:11] kkmsft commented on #182
ListPodIds call made from NMI eventually calls the crdClient ListPodIds. With #232 we use go client cache listing to get the list of pods and assigned identities, thus reducing the load on API Server. Closing this bug with the merge of #232

[2019-06-07 08:19] kkmsft commented on #182
Another call in NMI is still pending to be fixed  - getPodListWithTries has direct client calls to get the pods. This call also needs to go to cache instead of direct API Server to satisfy the requirements in this bug report.

[2019-06-07 14:46] samrobillard commented on #233
Hi,

It looks like you're missing the 'args' and 'env' parts of your deployment. Can you try to add that part under 'containers' in your yaml?

        args:
          - "--subscriptionid=<SubID>"
          - "--clientid=<transaction-api>"
          - "--resourcegroup=<ResourceGroup>"
          - "--aad-resourcename=https://vault.azure.net"
        env:
        - name: MY_POD_NAME
          valueF

[2019-06-07 16:27] aramase commented on #233
@pantanuj Can you post the result for `kubectl get azureassignedidentity`? The logs you posted for mic aren't sufficient to determine if there is any issue with aad-pod-identity. If you don't have any azureassignedidentities, you redeploy mic with arg `--v=6`. This will give us more verbose logs that can help us determine the reason for the issue.

[2019-06-07 17:48] samrobillard opened #236 "AAS Pod Identity with virtual nodes"
Hi,

I tried to use aad-pod-identity with AKS virtual nodes but as soon as I add the 'args' and 'env' parts to my deployment yaml, the pods get depoyed in ACI but are instantly in a 'waiting' state and I can't connect to them or pull the logs. Using the same yaml to deploy on regular nodes works flawlessly. I know there are limitations with daemonsets and virtual-kubelet but I'm not sure if it app

[2019-06-08 00:15] aramase commented on #236
@samrobillard Can you try the describe the pods that are in waiting state? That should give us more info as to what's happening.

[2019-06-10 15:53] ritazh opened #237 "Use a selector for AzureIdentityBinding"
**Describe the request**
Use a selector for AzureIdentityBinding instead of match pod on a static label

**Explain why AAD Pod Identity needs it**
Use selector semantics to provide more flexibility

**Describe the solution you'd like**
As a user, I would like to use standard label selector semantics in AzureIdentityBinding to get matching pods.

For example:
[code]

**Describe alternatives you've

[2019-06-10 21:20] jsturtevant commented on #236
What are logs for the MIC and NMI (https://github.com/Azure/aad-pod-identity/blob/master/README.md#components)?

I dont think this will work becuase the "MIC adds or deletes assigned identities as needed."  And ACI doesnt have underlying nodes.  The NMI also uses IP tables to intercept trafic which will also probably wont work in this scenario.

Another point is that Virtual Nodes, which is ACI de

[2019-06-10 23:21] cnadolny commented on #237
I'll be helping with this issue :)

Are there any E2E tests in place that need to be changed or run to verify the fix? I saw that crd_test and mic_test reference the selector, are there any others?

The following fixes need to be made:
- [ ] Edit existing YAML files
- [ ] Edit Go files, from a cursory glance looks like types.go needs fixing
- [ ] Update tests
- [ ] Update existing documentation

L

[2019-06-10 23:38] aramase commented on #237
@cnadolny The e2e tests are in here - https://github.com/Azure/aad-pod-identity/tree/master/test/e2e along with instructions on how to run them.

Let us know if you have any questions. Looking forward to your PR :)

[2019-06-11 01:42] kkmsft commented on #237
@cnadolny - Thank you for looking into this. One important item with regard to this is backward capability - older installations should work with the new code.

[2019-06-11 12:56] samrobillard commented on #236
@jsturtevant thanks for the insight! I was leaning toward this thinking as well but wanted to get another opinion. I'll close this ticket.

[2019-06-11 12:56] #236 closed

[2019-06-12 05:00] cnadolny commented on #237
To clarify with backwards compatibility - already existing pods bound to identities should continue to function, but should AzureIdentityBinding be expected to accept both static labels AND label selectors to work with older versions YAML files?

Also, for the label selector - is it only accepting keys labeled with aadpodidbinding? Or are other label keys or multiple keys allowed to be accepted as

[2019-06-12 09:13] feiskyer commented on #229
@kkmsft Any updates on the issue?

[2019-06-12 15:30] cwebbtw commented on #195
We have not been able to reproduce this issue on our cluster over the last 2 weeks

[2019-06-12 15:31] cwebbtw commented on #206
We have not been able to reproduce this issue over the last two weeks.

[2019-06-12 18:32] #213 closed

[2019-06-12 19:32] PatrickLang opened #242 "Windows support for AAD Pod Identity"
**Describe the request**
Support Windows pods running on Windows nodes with AAD identity

**Describe the solution you'd like**

Parity between Windows & Linux for AAD pod identity

Please feel free to +1 this issue and help explain your use cases :)

**Describe alternatives you've considered**

Another alternative is to use an Azure service principal stored in a kubernetes secret, and use that to

[2019-06-12 19:33] PatrickLang commented on #242
cc @kkmsft @dineshgovindasamy - opened this for tracking the investigation

[2019-06-12 21:22] kkmsft opened #243 "Reenable UTs calling mock ListWatcher"
**Describe the bug**
The UTs which call ListWatcher are commented out in #240  because of the bug: https://github.com/kubernetes/client-go/issues/352. This issue is raised to track, so that we can reenable when we find a solution for this issue.

**Steps To Reproduce**

**Expected behavior**

**AAD Pod Identity version**

**Kubernetes version**

**Additional context**

[2019-06-13 15:05] xenalite commented on #227
I no longer have this issue after I logged into Azure PowerShell with the cluster service principal.
I found that there were non-existent identities assigned to worker VMs. I cleared those then restarted the MIC.
I think the way to reproduce this would be:
1) Create a pod with identity assigned.
2) Delete identity resource without removing the pod or the VM assignment.
3) Delete the pod. The assig

[2019-06-13 17:13] aramase commented on #227
@xenalite Thank you providing the steps to repro. I'll try it out. Do these tests delete the identities from azure before removing the crds for azureidentity and azureidentitybinding from the cluster?

[2019-06-13 17:44] xenalite commented on #227
@aramase Normally the namespace containing the identity and bindings is deleted before the identity resource is deleted. I think in few odd cases, the order was reversed or something went wrong.

[2019-06-14 09:33] sarndt opened #245 "Namespace for AzureIdentity ignored?"
**Describe the bug**
This might not be a bug, I might be misunderstanding something, but I'm not sure.
I had an AzureIdentity created in the "default" namespace (example-identity). When I recreate this identity in the default namespace, with namespacing set to true, my Pod that is running in  another namespace (example-ns) still gets access to that identity.

**Steps To Reproduce**
*** Initial sit

[2019-06-14 12:24] sarndt commented on #245
I think this is a typo in the documentation.

If I add the annotation as described in the readme:
[code]

it does not work, but after looking into the kubernetes documentation, it looks like annotations are supposed to be added without being a list item:
[code]

This works for me, provided I also delete the `AzureIdentityBinding`, and recreate it in the same namespace.
So this is less of a bug and

[2019-06-14 20:07] aramase commented on #245
@sarndt Thank you for trying out aad-pod-identity. Yeah, the docs need to be updated for this.

[2019-06-16 12:48] omerlh opened #248 "Why NMI need read permissions to all secrets in the cluster?"
**Describe the request**
I looked on the [deployment manifest](https://raw.githubusercontent.com/Azure/aad-pod-identity/master/deploy/infra/deployment-rbac.yaml) and noticed that it creates a `ClusterRole` for NMI that has permissions to read all secrets in the cluster:
[code]
This got me a bit suspicious...

**Explain why AAD Pod Identity needs it**
It looks weird to have access to all secrets in

[2019-06-17 10:33] xenalite commented on #227
@aramase I reproduced the problem again - 3 of our VSTS releases failed in the same manner. This time I have full logs and time stamps of what is happening. The whole affair takes place between `10:41` and `11:05`. There were 2 deployments going on at the same time: `st-1977` which was supposed to be linked to identity `ixsamlqem20mi02r1977` and `ui-1977` which was supposed to be linked to identit

[2019-06-17 15:40] abhisheknsit opened #249 "Getting iptables: Resource temporarily unavailable from NMI"
**Describe the bug**
We are getting the following error from NMI on subset of the nodes. NMI is restarting continuously with this error.
```time="2019-06-06T09:16:54Z" level=fatal msg="running [/sbin/iptables -t nat -F aad-metadata --wait]: exit status 4: iptables: Resource temporarily unavailable.\n```

NMI is using iptables version: iptables v1.6.2
Kubeproxy is using iptables version: iptables v

[2019-06-17 17:02] aramase commented on #227
@xenalite Thank you for the detailing the steps and also providing the logs. The reason that MIC is trying to update the wrong VM managed identity is because in the current implementation, identity assignment to the node is not idempotent. It's a PUT request with the entire identity list in the body. So when the identity is removed from Azure before the azureidentity and azureidentitybinding are d

[2019-06-17 21:15] aramase commented on #245
@sarndt Thank you for pointing this out. I've updated the documentation to reflect the correct way for defining the annotation. Going to close this issue now. Please reopen if you encounter any further issues.

[2019-06-17 21:15] #245 closed

[2019-06-18 02:12] hermanho commented on #233
I have faced the same error in pod. However, the keyvault can be retrieved after the pod is restarted few times automatically. Here is the mic log file for your reference.

[logs-from-mic-in-mic-7ddbc68f8-srrsx.txt](https://github.com/Azure/aad-pod-identity/files/3299511/logs-from-mic-in-mic-7ddbc68f8-srrsx.txt)

[2019-06-18 02:32] ritazh opened #250 "Add warning for non-pod identity pods with IMDS access in cluster"
**Describe the request**
Need to document impact on pods that are not using pod identity in the cluster but still need to fetch token from the IMDS endpoint.

Per https://github.com/Azure/aad-pod-identity#node-managed-identity
[code]

**Explain why AAD Pod Identity needs it**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2019-06-18 06:16] zhiweiv commented on #248
It was introduced in PR https://github.com/Azure/aad-pod-identity/pull/197, used for service principal. If you use MSI, you can remove that permission.

[2019-06-18 06:30] omerlh commented on #248
I understand, thanks!

[2019-06-18 06:30] #248 closed

[2019-06-19 01:05] PatrickLang commented on #242
Here's what it would take to get a preview. It would only work for availabilitysets, not node pools, so it wouldn't work with AKS.

1. Build the NMI (https://github.com/Azure/aad-pod-identity/tree/master/cmd/nmi) as a Windows binary
1. Add service control manager support (see golang.org/x/sys/windows/svc)
1. Write an AKS-Engine extension to
  - install & register it as a service on the Windows hos

[2019-06-19 07:56] xenalite commented on #227
@aramase Any timelines for the fix?
In the meantime, would it be sensible (as a workaround) to add a step in our clean up process to wait until managed identity is removed from the VMs after namespace deletion? This should prevent MIC from trying to remove identities which don't exist later on.

[2019-06-20 16:00] aramase commented on #227
@xenalite We'll add this to our next release. Don't have an exact timeline as of now but will update the issue once we decide on the next release candidate.

Yeah, that should help. However if mic fails to un assign the identity from node, then there is no retry currently. We are also planning to add states in the assigned identity crd as part of next release which will help with these kind of sit

[2019-06-21 19:33] aramase opened #256 "Add States for CRD"

[2019-06-21 19:55] aramase opened #257 "Retries in NMI and return 404 when assigned identity not found"
- Retry in quick succession to get the azure assigned identity
- Retry to get the token in addition to client side retries
- Return 404 instead of 403 when AzureAssginedIdentity is not found after retries

[2019-06-21 21:02] cpuguy83 opened #258 "In code stats causes panic"
**Describe the bug**

global stats have concurrent read/write causing corrupted data and panics.

**Steps To Reproduce**
... randomly got the panic while running a test which itself does not have any concurrency
**Expected behavior**

**AAD Pod Identity version**
master

**Kubernetes version**
N/A

**Additional context**

[code]

[2019-06-21 22:20] kkmsft commented on #182
Closing this since all listers have been converted to caching now. @abhisheknsit - Thank you for raising the issue. please re-open if there is more to be fixed related to the issue at hand.

[2019-06-21 22:20] #182 closed

[2019-06-21 22:57] cpuguy83 commented on #258
And another:

[code]

[2019-06-21 22:58] cpuguy83 commented on #258
Another:

[code]

[2019-06-21 23:01] cpuguy83 commented on #258
Here's a run with `go test -race`

<details>

[code]

</details>

[2019-06-22 01:58] zhiweiv opened #260 "Problem in PR #240"
**Describe the bug**
After #240, getPodListWithTries in client.go returns all pods. Seems FieldSelector is overridden in
https://github.com/kubernetes/client-go/blob/master/tools/cache/listwatch.go#L73

**Steps To Reproduce**
Build from master, try get token from nmi.

**Expected behavior**
getPodListWithTries returns the only pod with specified pod ip.

**AAD Pod Identity version**
master

[2019-06-22 02:05] kkmsft commented on #260
Thank you, @zhiweiv.
We just noticed in that in one of our end to end systems and was going to raise the bug. Thank you for the pointer to the client-go code related to this. The strange thing we noticed was that this was not reproducible in some of the systems and it gives the correct pod info. Any idea why this would occur on some system and not others ?

[2019-06-22 02:09] kkmsft commented on #260
Also, we are using this: k8s.io/client-go v0.0.0-20180424211516-33f2870a2b83

[2019-06-22 02:14] zhiweiv commented on #260
That is strange, since ListWatch always uses the fieldSelector from NewListWatchFromClient to override the FieldSelector of ListOptions, I think it can be reproduced 100%.

[code]

[code]

[code]

[2019-06-24 14:39] xenalite commented on #227
@aramase I found that MIC doesn't even attempt to remove the identity from the node sometimes.
I added a step in our deployment to wait for managed identity to be unassigned from the node before we delete the managed identity Azure resource. It hanged for 4 hours, so I checked the logs for the timestamp when I deleted the K8s namespace.

[mic2.log](https://github.com/Azure/aad-pod-identity/files/3

[2019-06-24 16:26] #198 closed

[2019-06-24 16:33] kkmsft commented on #214
Fixed with #259

[2019-06-24 16:33] #214 closed

[2019-06-24 16:35] aramase commented on #227
@xenalite The azureassignedidentity is created by mic to keep track of the ids assigned to the node. So when the tests clean up, they should delete the azureidentity, azureidentitybinding and wait for the azureassignedidentity to be deleted by the mic. MIC deletes the azureassignedidentity when it attempts to unassign the identity from the node. However one thing to note like I mentioned before -

[2019-06-24 21:03] #260 closed

[2019-06-25 06:42] omerlh opened #263 "Monitoring?"
**Describe the request**
How can I monitor AAD pod identity? Taking a quick look at the code, I didn't see any prometheus metrics exposed.

**Explain why AAD Pod Identity needs it**
AAD pod identity is a service that other applications depend upon, therefore it's pretty critical to monitor it and ensure it's working.

**Describe the solution you'd like**
Good visibility to AAD pod identity (promet

[2019-06-25 08:18] #258 closed

[2019-06-25 08:43] kkmsft commented on #260
@zhiweiv - Thank you once again for raising the issue. Please check the latest master checkin after #262 if it works in your setup.

[2019-06-25 08:46] kkmsft opened #264 "Use SystemAssignedIdentity for MIC authentication"

[2019-06-25 08:59] zhiweiv commented on #260
Verified, it works.

[2019-06-25 09:14] kkmsft commented on #260
Thank you @zhiweiv

[2019-06-25 16:45] david-jarman commented on #242
Thanks for opening this! Our team uses Windows containers and we would like to move use AAD Pod Identity. Currently, we use MSI inside our containers by running a prestartup script in the entrypoint of our containers. The script is based on the answer of this [StackOverflow question](https://stackoverflow.com/questions/52578135/how-can-i-add-managed-service-identity-to-a-container-hosted-inside-az

[2019-06-27 10:35] xenalite commented on #227
@aramase Thank you for this explanation. I changed our VSTS clean up step to:
[code]

This seems to leave the identities in the right state after each deployment. However, it takes a long time to un-assign identities. This step started at `09:44:51` and finished at `09:47:34`.
This is the MIC log for this time period:
[code]

MIC didnt recognize the binding being removed until 15s later. Then unfo

[2019-06-27 16:38] aramase commented on #227
@xenalite The identity assignment and cleanup in the release you are using is done serially. However we are working on improving that performance by batch processing add and deletes. This should improve the performance. I've a PR for that - https://github.com/Azure/aad-pod-identity/pull/219. This will be included as part of next release.

[2019-06-28 00:46] kkmsft commented on #206
Hi @vishnujanardhanan

Has this issue happened again in your setup ?

cc @goupadhy

[2019-06-28 12:44] JasonKAls opened #268 "Inconsistent Errors and"

[2019-06-28 17:53] aramase opened #269 "Handle case sensitivity in resourceID format"
**Describe the bug**
When identity is manually assigned to node using az cli, the resourceID uses `resourceGroups` in the format `/subscriptions/[REDACTED]/resourceGroups/devcluster/providers/Microsoft.ManagedIdentity/userAssignedIdentities/keyvault-identity` . When a new identity is created the resourceID returned however has `resourcegroups` `/subscriptions/[REDACTED]/resourcegroups/devcluster/p

[2019-06-28 22:01] aramase commented on #268
Closing this issue as it's been opened here https://github.com/Azure/kubernetes-keyvault-flexvol/issues/109

[2019-06-28 22:01] #268 closed

[2019-07-02 01:51] kkmsft commented on #269
Closing it via #271

[2019-07-02 01:51] #269 closed

[2019-07-02 01:53] kkmsft commented on #206
Hi @vishnujanardhanan , @goupadhy, - Was wondering if there are any updates on this ?

[2019-07-02 03:37] vishnujanardhanan commented on #206
Hi @kkmsft , we are deploying it now. Will test and come back.

[2019-07-03 08:35] cwebbtw commented on #206
We have enabled aad pod identity again on some more jobs in our cluster and have run the jobs more frequently (jobs running every 10 minutes). We had a failure at 06:10 UTC. Please see the logs for the mic controller running verbosity at level 6:

[code]

The NMI daemonset (specifically the pod running on aks-agentpool-42571559-3) show:

[code]

[2019-07-03 17:26] kkmsft commented on #256
Close with #219

[2019-07-03 17:26] #256 closed

[2019-07-03 17:45] kkmsft opened #273 "Add VMSS e2e"
**Describe the request**

**Explain why AAD Pod Identity needs it**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2019-07-03 17:52] kkmsft commented on #229
@Bowbaq - Thank you for using aad-pod-identity and reporting the issue. After going through the information you have provided, it does not look like an aad-pod-identity issue. It looks like there was something off with respect to the role assignments. Kindly raise an ICM with the AAD team with respect to role assignments missing after some time.

[2019-07-03 17:52] kkmsft commented on #227
Closing with #219

[2019-07-03 17:52] #227 closed

[2019-07-03 17:56] kkmsft opened #274 "Add e2e test simulating cloud/api-server error"
**Describe the request**

**Explain why AAD Pod Identity needs it**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2019-07-03 17:56] kkmsft commented on #217
With #219 , states are introduced for assigned identities. With this, when an error occurs, we will keep retrying based on the state in the next cycle.

[2019-07-03 17:56] #217 closed

[2019-07-03 18:01] kkmsft commented on #195
@cwebbtw - since the specific issue was root caused to an Azure backend error which has since been fixed. And since the issue was not reproducible now, closing this issue. Kindly feel free to reopen if you think there is more to be investigated here.

[2019-07-03 18:01] #195 closed

[2019-07-03 18:05] kkmsft commented on #167
#271 - handles the case variability, which ends up resulting in a duplicate ids.

[2019-07-03 18:05] #167 closed

[2019-07-03 18:13] kkmsft commented on #183
@dan-jackson-github - Once again, thank you for using Aad-pod-identity. If you need to created two separate identities for the same pod, then two different bindings and two different ids needs to be created. With this suggestion, closing this issue. Please feel free to reopen if anything more needs be discussed.

[2019-07-03 18:13] #183 closed

[2019-07-03 18:16] aramase opened #275 "Backward compatibility broken on update to latest go-autorest sdk"
**Describe the bug**
Latest go-autorest sdk version is not backward compatible with the older version. Breaking changes was introduced with this PR - https://github.com/Azure/go-autorest/pull/326. `ExpiresIn`, `ExpiresOn` and `NotAfter` field types have been changed to `json.Number` from `string`. This means if the client is using an older version of go-autorest sdk, then the token returned from t

[2019-07-03 18:21] kkmsft commented on #153
@khenidak - ping :-)

[2019-07-03 18:22] kkmsft commented on #145
Closing with #219

[2019-07-03 18:22] #145 closed

[2019-07-03 18:33] kkmsft commented on #230
#72 is the next step in validating the identity.

[2019-07-03 18:33] kkmsft commented on #230
@ferantivero - Thank you for raising this issue.

[2019-07-03 22:26] kkmsft commented on #206
Thank you @cwebbtw for trying aad-pod-identity again :

The 403 errors are resultant of the call from jenkins-ns/jenkinsacrslave-28ttl

During this time MIC was handling the assignment for jenkins-slave-1562134145299-wmkt4-p4nks

This assignment took 6 mins to update, which is because the cloud PUT took 6 mins:

This is not expected, the usual PUT call takes from 10s to 1 min. This needs to be rai

[2019-07-06 07:12] smartpcr opened #278 "will identity assignment work for cronjob?"
when I add aadpodidbinding label to `CronJob`, I don't see identity assignment using the following command:
[code]

Should I do something different than other normal deployments?

thanks!

[2019-07-08 22:58] aramase commented on #278
@smartpcr Thank you for using aad-pod-identity. aad-pod-identity is currently supported only for pods. So this will not work for cronjobs.

[2019-07-08 23:37] xenalite commented on #183
@kkmsft Please clarify how that would look like in yaml.
I have 2 identities and 2 bindings with different label selectors.
In my deployment, how do I set the labels to bind both identities to pods?

Deployment fragment:
[code]

When I describe the pod, only 1 label is present:
[code]

Identities, bindings and assigned identity:
[code]

`test-2362-modeltraining-f64fc6456-j2dp7-test-2362-test-2362-

[2019-07-09 01:39] smartpcr commented on #278
thanks, got it fixed.

[2019-07-09 01:39] #278 closed

[2019-07-09 21:28] keikumata commented on #181
I am hitting this issue as well where the pod restarts 5~6 times before successfully getting an access token. I see that the race condition is unavoidable and that there has been perf improvements - how can I use the latest code to test this out? We are currently using https://github.com/Azure/aad-pod-identity/releases/tag/1.3.0-mic-1.4.0-nmi

[2019-07-11 01:08] #257 closed

[2019-07-11 08:05] omerlh opened #279 "Sometimes mic does not assign identity in time"
**Describe the bug**
I deployed an application that is using pod identity to access to Azure. Last night I noticed errors when the app tried to request access tokens:
[code]
I looked at mic logs and I noticed the following:
[code]

Look like mic took a bit more time to assign the identity - so I would like to ask:
 - Is this expected?
- What would you recommend me to do? One solution could be an i

[2019-07-11 18:56] kkmsft commented on #279
@omerlh -Its not expected, specifically if have single identity in picture. How many identities are being handled in this scenario ?

Typical issues seen are due to cloud operations being slow. At end of every cycle, MIC prints the stats. Can you please post those stats to verify which part of the operation has taken more than expected time ?

Init container is a good approach. There are some cust

[2019-07-11 19:18] omerlh commented on #279
That sounds good. I would expect this to be solved by the provider - e.g. either in NMI or in Azure AppAuthentication library itself. For some reason, I don't see the stats in the logs, but I'll look it up next time we'll see it.

[2019-07-11 19:47] kkmsft opened #280 "Add leader election logic to MIC and make it a ReplicaSet"

[2019-07-11 20:01] kkmsft opened #281 "Update azure sdk to the latest"

[2019-07-11 20:02] kkmsft opened #282 "Parallize per node assignment"

[2019-07-11 20:02] kkmsft opened #283 "Azure sdk time out adjustments"

[2019-07-11 20:02] kkmsft opened #284 "Whitelisting of applications to bypass Aad-pod-identity"

[2019-07-11 20:02] kkmsft opened #285 "Helm charts"

[2019-07-11 20:02] kkmsft opened #286 "Add VMSS e2e"

[2019-07-11 20:03] kkmsft opened #287 "Move to PATCH for identity lists of vms/vmss"

[2019-07-11 20:03] kkmsft opened #288 "Health probe"

[2019-07-11 20:03] kkmsft opened #289 "Validating web hook or gatekeeper policy add on"

[2019-07-11 20:03] kkmsft opened #290 "Versioned API"

[2019-07-11 20:03] kkmsft opened #291 "Use user assigned identity for MIC authentication"

[2019-07-12 03:22] BernieWhite commented on #180
Any further thoughts on this issue. I'm seeing a similar behavior.

[2019-07-16 22:42] uipo78 opened #294 "NMI logs show `can't initialize iptables table 'nat': Permission denied`"
**Describe the bug**
The NMI pods aren't able to run successfully. This appears in their logs:
[code]

**Steps To Reproduce**
Follow the installation instructions that you provide on a PSP-enabled cluster, where the PSP associated with the nmi `DaemonSet`'s `ServiceAccount` is `privileged`.

**Expected behavior**
Able to update the table `nat`

**AAD Pod Identity version**
nmi `1.4`

**Kubernetes

[2019-07-18 20:35] cpuguy83 opened #296 "Nil pointer exception on CI run"
**Describe the bug**

On #295 CI caused a NPE:

[code]

[2019-07-19 10:00] markusdresch commented on #279
i experience the very same issue most of the time when several pods are started at once.

[2019-07-19 17:05] bnookala opened #297 "next release"
I'm working on a project that would only like to use releases of the aad-pod-identity project. We noted that the last release was in January (https://github.com/Azure/aad-pod-identity/releases/tag/1.3.0-mic-1.4.0-nmi), but there have been a number of commits to the project since. Just wondering if this next milestone reflects the progress towards the next release? https://github.com/Azure/aad-pod-

[2019-07-20 00:11] aramase commented on #279
@markusdresch I've a few questions -
1. How many nodes do you have in your cluster?
2. How many pods are being deployed at the same time?
3. Are all these pods using the same azure identity and binding or does each pod have it's own identity and binding?
4. How much delay are you observing after deployment?

The current releases process pod bursts serially which is the cause of delays. For the upc

[2019-07-20 06:16] sukhong commented on #297
We are also currently blocked by this issue, because current aad-pod-identity only works in Azure Public Cloud (https://github.com/Azure/aad-pod-identity/issues/224). We have an immediate need to move to USGov and China.

I see that fix has already been checked into master on May 22.

Is there a guide on how to build a custom image from master branch and use it until new release is out?

[2019-07-20 09:24] markusdresch commented on #279
@aramase:

1. for now 3 to 5 nodes.
2. when deploying a new cluster, about 30 or more pods are started at the same time. when developing on the cluster, maybe 2 to 4, sometimes more pods are started.
3. all use the same binding.
4. when i'm deploying a new cluster with 30 pods, it takes about one hour to have all pods up and running. the pods run different dotnet core apps that connect to a key va

[2019-07-21 08:00] kkmsft commented on #297
@bnookala , @sukhong - Thank you for the issue and interest in aad-pod-identity. We are planning for a release around July end/early August as we wrap up the project items in https://github.com/Azure/aad-pod-identity/milestone/1. We are planning to release an RC version from the current code next week. Will update this thread with the information on running those  images next week.

@sukhong -
for

[2019-07-22 16:39] aramase commented on #279
@markusdresch Thank you for the information. We are planning for a release around July end/early August as we wrap up the project items in https://github.com/Azure/aad-pod-identity/milestone/1. We are planning to release an RC version from the latest master at the end of this week. Will update this thread with the information on running those images when they are available.

[2019-07-23 04:14] sukhong opened #298 "mic fails to launch because deployment.yaml (with azure.json) does not pass --cloudconfig correctly"
In the latest build from master, I have noticed that mic, with azureconfig.json, fails to launch with following errors:
[code]
In the current mic deployment yaml file, it passes --cloudconfig via following:
[code]
However, this is wrong because it is also treating "mic" as an argument. Flag package sees mic as an invalid argument, and stops parsing immediately. It never parses --cloudconfig correc

[2019-07-23 04:47] kkmsft commented on #298
@sukhong - the master binaries do not need the mic/nmi entry points as parameters. The deployment yaml was not changed since the released images had the need to pass the parameter of image name. Please check if the issues go away after removing mic and nmi parameters from the yaml file.

[2019-07-23 05:11] sukhong commented on #298
I looked at the code, and could not find anywhere it required the image name as parameters.

For mic, if I remove mic from arguments, it works. But for nmi, it fails when I remove nmi from arguments.

But if I make it more explicit and separate them into command and arguments, it succeeds for both:
[code]
[code]

[2019-07-23 06:19] kkmsft commented on #298
@sukhong - Please refer to the image and parameters here: https://github.com/Azure/aad-pod-identity/pull/277/files#diff-9ff9f142ba4c162c6ca13d59c241b47f
(This change has other parts like ReplicaSet and RBAC rules added, hence cannot be directly used until that PR goes in. But can be used for reference:
[code]
Please note the absence of the entry point parameter.

[2019-07-23 09:42] spaelling opened #299 "Does not work with Pod Security Policies enabled"
Pods will not start if the cluster has Pod Security Policies enabled.

What are the recommendations to make this work with PSP?

Deploy to namespace _kube-system_?

I would prefer to deploy this to a dedicated namespace. Could you make a recommendation to a policy, role and rolebinding that works but grants nothing more than absolutely needed.

[2019-07-23 10:08] spaelling opened #300 "Documentation chronology"
I dislike the chronology of the [README.md](../blob/master/README.md), and found it abit confusing. I would like to see a more clear division of what is strictly concerning AAD Pod Identity and what is related to ex. the demo.

My understanding is that step 1. and 4. are the only steps that are necessary to get AAD Pod Identity running, with an extra step in 4. once an _AzureIdentity_ is created f

[2019-07-23 14:06] xenalite opened #301 "[Question] GA status?"
When is this project going to release another version with all bug fixes and improvements done over latest months? Also, any sign of it going to GA status?

[2019-07-23 17:00] sukhong commented on #298
I see, for now I am using above command:[imagename], args:[...], and it is working fine.

I will close this bug. Really looking forward to 1.5 release!

[2019-07-23 17:00] #298 closed

[2019-07-23 21:37] kkmsft commented on #300
@spaelling - Thank you for raising this issue. As an open source project we are always looking for more contributors :-) Would you be interested in raising PRs for the same ?

[2019-07-23 22:28] lodejard commented on #285
I noticed this is "In Review" - I'm eagerly anticipating what form the chart will take. Is there a PR in an official repo where this is being reviewed?

[2019-07-24 00:05] lodejard opened #302 "Enable AzureIdentity binding via annotation"
**Describe the request**
Enable a way for an identity binding to be expressed as an annotation.

**Explain why AAD Pod Identity needs it**
In my particular case I am deploying the `external-dns` chart and need to associate an AzureIdentity with the pod it creates. It communicates with Azure to update DnsZone recordsets.

The external-dns chart provides a way to add additional annotations, but it d

[2019-07-24 02:06] lodejard opened #303 "Cluster with MSI - adal: Failed to unmarshal the service principal token during refresh."
**Describe the bug**
Configured AzureIdentityBinding for pod `external-dns` with the new support for user-assigned-identity in the cluster's azure.json file.

99% working - seems to be one last json unmarshalling problem getting the token back to the caller?

**Steps To Reproduce**
Configure external-dns to update cluster DnsZone records using the cluster's managed identity.
Values used for helm d

[2019-07-24 02:27] kkmsft commented on #303
Please refer to: https://github.com/Azure/aad-pod-identity/issues/275
Kindly update the azure ada sdk and let us know if the issue still persists.

[2019-07-24 02:32] lodejard commented on #303
Yes, that looks like exactly the problem. Thank you. I'll see what I can do to verify the fix and will let you know the results.

That said - because this is a third party docker image we do not build or host I'm not sure if that workaround will scale... But first I'll verify it does fix the issue and will get back to you.

[2019-07-24 06:42] spaelling commented on #300
Not seeing any way to fork the wiki repository. I added the original wiki files to the forked repo, but the changes does not show up as a commit.

[2019-07-24 17:58] kkmsft commented on #300
I modified the two items, the new line and the VMSS instructions. Thank you, @spaelling

[2019-07-24 19:29] lodejard commented on #303
Confirmed - you're absolutely correct that was the underlying problem.

I verified this by making a small change to how NMI re-marshals the token response - to return the `json.Number` fields in the same quoted format as the underlying metadata endpoint. The `external-dns` pod (running the unmodified public docker image) is now working 100% correctly given a user assigned identity from `aad-pod-id

[2019-07-25 21:10] #275 closed

[2019-07-25 21:10] #303 closed

[2019-07-25 22:38] jstutson opened #311 "Access token could not be acquired - Using AKS-Engine and Microsoft.Azure.Services.AppAuthentication"
I'm attempting to use User Assigned Managed Identity with namespace restrictions on.  I have a .Net Core console app using the Microsoft.Azure.Services.AppAuthentication v1.3.0 package's AzureServicesTokenProvider class to request an authentication token for my identity.

Kubernetes: 1.13.5
AKS-Engine: 0.34.3
User Managed Identity Enabled on AKS-Engine
aad-pod-identity-version - Master as of 7/23/

[2019-07-25 22:44] jstutson commented on #311
And here is the NMI log.  There is something fishy about it saying `identityType:1` when I specified 0 for User-Assigned in the AzureIdentity
[code]

[2019-07-25 23:05] aramase commented on #311
@jstutson Can you please provide the following information?
1. Output from `kubectl get azureassignedidentities -o yaml`. [Please redact any sensitive information from the output before you post it here].
2. Can you also post the complete logs from NMI pods?

It is suspicious that the type is 1 when you have type 0 in your azureidentity. Do you have any other azureidentity and bindings in your clu

[2019-07-25 23:06] aramase commented on #311
The user assigned managed identity you provided in the azure identity should be assigned to the node.

[2019-07-25 23:24] aramase commented on #282
Completed with https://github.com/Azure/aad-pod-identity/pull/305

[2019-07-25 23:24] #282 closed

[2019-07-26 17:01] kkmsft opened #313 "Failover causing further azure operations to fail"
**Describe the bug**

When a failover to passive mic happens the following error shows up and then continues to retry the same operations.

0724 02:13:18.473167       1 cloudprovider.go:199] Updating user assigned MSIs on k8s-agentpool1-27200934-2
E0724 02:13:18.641155       1 vm.go:48] compute.VirtualMachinesClient#CreateOrUpdate: Failure sending request: StatusCode=400 -- Original Error: Code="I

[2019-07-26 18:38] jstutson commented on #311
Thanks for the response @aramase - I'll have this info for you by EOD.

[2019-07-26 21:53] aramase opened #314 "ERROR: logging before flag.Parse in NMI logs"
**Describe the bug**
This message `ERROR: logging before flag.Parse` shows up in the NMI logs when the probes are initialized and started. This is because glog requires `flag.Parse` to be called before any logging is done. Every time glog is called, it'll contain that error message.

**Steps To Reproduce**

**Expected behavior**

**AAD Pod Identity version**

**Kubernetes version**
master

**Addit

[2019-07-26 22:02] jstutson commented on #311
[code]

MIC Logs showing no error:
[code]

`az vmss identity show -n [scaleset] -g [resource group]`
This returns 1 identity... It is not the AuditServiceUser identity that I expect.  It is another assigned user that with client ID starting with 47102acc (not present in any above logs).  This is not the service principle that the cluster is using.  I can get more info on why this user is assigned

[2019-07-27 00:50] kkmsft commented on #297
1.5-rc2 is available now. Please provide us with valuable feedback toward 1.5 release. https://github.com/Azure/aad-pod-identity/releases/tag/1.5-rc2

[2019-07-27 01:00] kkmsft commented on #297
FYI ^^

@bnookala @sukhong @markusdresch omerlh @xenalite @droessmj  @woutervanvliet @ankrause @zhiweiv  @abhisheknsit

[2019-07-29 06:56] markusdresch commented on #279
1.5-rc2 looks good so far.

[2019-07-29 09:11] markusdresch commented on #279
there's still the odd pod that does not get an identity on first try when creating multiple pods at once, but from what i've seen they are few and recover on first retry. i'm very happy with this version.

[2019-07-29 16:04] kkmsft commented on #279
Thank you, @markusdresch . For checking the readiness you can rely on the contents of /healthz of the MIC & NMI pod. It will show “Active” on one of the MIC(the one which shows leader election) and on all NMI pods, when they are ready to take traffic. More details of how to do this(programmatic way) can be found in the e2e test here: https://github.com/Azure/aad-pod-identity/blob/dc84edc04d85c8eb2

[2019-07-30 18:59] kkmsft commented on #314
Closing with #317.

[2019-07-30 18:59] #314 closed

[2019-07-31 20:32] android2221 opened #323 "Sporadic amount of pods receiving identity"
**Describe the bug**
When releasing about 25 pods into the cluster with Helm, a sporadic amount of them get assigned identities. Errors appear in the NMI log.

**Steps To Reproduce**
Release a large amount of pods into the cluster. Note in the MIC logs that the pods in question do not appear.

**Expected behavior**
Pods would receive identities like the other pods.

**AAD Pod Identity version**
1.

[2019-07-31 20:38] android2221 commented on #323
I should also note that it only seems as though one of the MIC pods happens to be doing work and producing logs, the others are all showing this as their last produced log message, and appear to sit idle:
`I0731 20:20:20.516979       1 main.go:51] Starting mic process. Version: 1.5-rc2. Build date: 2019-07-27-00:29
W0731 20:20:20.517023       1 main.go:56] --kubeconfig not passed will use InCluste

[2019-07-31 20:58] aramase commented on #323
@android2221 Thank you for trying out `1.5-rc2`

1. How many pods out of the 25 are getting an azure assigned identity?
2. Are all 25 pods using the same identity and binding?
3. You can deploy MIC with `-v=6` and that will give more verbose logs as to what is happening. 4. Do all the pods have the labels defined in AzureIdentityBinding?
5. The log you posted above from NMI, is that pod supposed t

[2019-08-01 14:49] android2221 commented on #323
Thanks for the information - after popping the NMI pods it seemed to start issuing identities correctly throughout the day. We've used the previous version for a few months now, so we're excited to see this new version out. I'm going to close this issue since it seems to have been a hiccup.

[2019-08-01 14:49] #323 closed

[2019-08-02 20:39] #313 closed

[2019-08-05 07:59] BernieWhite commented on #273
Duplicated with #286

[2019-08-06 01:43] kkmsft commented on #297
We just released 1.5: https://github.com/Azure/aad-pod-identity/releases/tag/v1.5
With this closing the bug. Please reopen if there are more questions.

[2019-08-06 01:43] #297 closed

[2019-08-06 01:44] kkmsft commented on #288
Released with v1.5 - https://github.com/Azure/aad-pod-identity/releases/tag/v1.5

[2019-08-06 01:44] #288 closed

[2019-08-06 01:45] kkmsft commented on #281
Closing with #267

[2019-08-06 01:45] #281 closed

[2019-08-06 01:46] kkmsft commented on #204
Released with https://github.com/Azure/aad-pod-identity/releases/tag/v1.5

[2019-08-06 01:46] #204 closed

[2019-08-06 01:47] kkmsft commented on #264
PR #265
Released with https://github.com/Azure/aad-pod-identity/releases/tag/v1.5

[2019-08-06 01:47] #264 closed

[2019-08-06 01:48] kkmsft commented on #273
Thanks @BernieWhite . Closing this in lieu of #286

[2019-08-06 01:48] #273 closed

[2019-08-06 01:49] kkmsft commented on #286
Closing this with #293

[2019-08-06 01:49] #286 closed

[2019-08-06 01:50] kkmsft commented on #284
Closing with release of 1.5 - https://github.com/Azure/aad-pod-identity/releases/tag/v1.5

[2019-08-06 01:50] #284 closed

[2019-08-06 01:51] kkmsft commented on #280
PR #277
Released with v1.5 - https://github.com/Azure/aad-pod-identity/releases/tag/v1.5

[2019-08-06 01:51] #280 closed

[2019-08-06 01:54] kkmsft commented on #285
@lodejard - please find the PR here: https://github.com/helm/charts/pull/15306

[2019-08-06 16:35] aramase commented on #311
@jstutson Thank you for providing the info. From the `azureassignedidentities` it looks like the only the assigned identity that exists in the cluster is for the identity `clientid: 7f633d61-<REDACTED>` which is of `type: 1`. There is no `azureassignedidentity` for any other identity which is why NMI is returning a token for that identity. Can you confirm `aadpodidbinding: audit` is included in th

[2019-08-06 17:05] dharmab opened #331 "Question: How to support multiple scale sets"
We run multiple scale sets in our clusters for a variety of reasons (alternate VM types, alternate container runtimes, and for easy rollback of OS upgrades). The pod identity controller only binds identities to the scale set that the controller pod is running on. Can multiple scale sets be supported?

[2019-08-06 17:46] kkmsft commented on #331
@dharmab - Thank you for using pod identity. What version are you using ?
Is this AKS-engine cluster or AKS ?

[2019-08-06 19:06] dharmab commented on #331
We are running 1.3.0 for the MIC and 1.4.9 for NMI.

We are not using AKS or AKS-engine. We are running our own standalone VMs running Kubernetes 1.15.

[2019-08-06 21:25] aramase commented on #331
@dharmab Thank you for the information. I was unable to recreate this on my cluster with 3 node pools. MIC was running in nodepool-2 and my application pod running in nodepool-0. The assigned identity was created and I see the identity has been successfully assigned to the underlying node.

If the identity is in a different resource group and the SP doesn't have `Managed Identity Operator` access

[2019-08-06 21:27] dharmab commented on #331
Thanks for trying this out, @aramase. We'll give it a shot in our clusters and reopen this issue if we find problems. Thank you!

[2019-08-06 21:27] #331 closed

[2019-08-08 11:29] markusdresch commented on #180
this seems to be fixed in the latest release

[2019-08-08 11:29] #180 closed

[2019-08-08 16:34] smira opened #332 "'size of request headers too long error' from nmi"
**Describe the bug**

Seems to happen randomly when pods get launched - it fails to acquire MSI identity.

`mic` logs look clean - identity is assigned, but `nmi` log shows:

[code]

Seems similar to #323

**Steps To Reproduce**

Not a high load, single pod is launched every 10-15 minutes. Pod sleeps 10 seconds on startup, but still this error.

**Expected behavior**

Identities is assigned as exp

[2019-08-08 17:26] aramase commented on #332
@smira Thank you for trying out aad-pod-identity. I have a few questions for you as I'm unable to recreate this -
1. Which client library is the pod `dev-westus-cron-woke-run-1565280900-7zjft` using for requesting token? Which version of the client library is it using?
2. Did this work fine with the old release `mic:1.3 and nmi:1.4`?
3. Does restarting the nmi help resolve the issue? It did in cas

[2019-08-08 19:29] smira commented on #332
This runs Ansbile 2.8 which is using set of Azure SDKs, from `pip freeze`:

[code]

I saw the same behavior with older release, but never tried to dig that deep into the logs, so looked same on pod side, but not sure about the actual error.

yes, I believe so.

don't have a lot of test data, but seems that if it starts failing, it fails many times in a row until the mic/nmi pods are restarted.

@a

[2019-08-08 19:33] smira commented on #332
So I was usually hitting this error once in a while. Cluster sits idle (no new pods launched for a few days/a week), but then I launch new pod and hit this error. No matter how many times I try it, it fails until I kill the nmi/mic pods. This was the thing with 1.3/1.4. I don't have enough data for 1.5, but the failure above is clearly for 1.5.

[2019-08-08 20:58] smira commented on #332
Another cluster, same failure, K8s 1.13.7 (just upgraded from 1.13.5 2 hours ago), as part of the upgrade obviously nmi/mic pods got restarted.

[code]

[2019-08-08 21:02] smira commented on #332
my analysis points to this line https://github.com/Azure/aad-pod-identity/blob/master/pkg/auth/auth.go#L57

which goes into adal libs

[2019-08-08 21:11] smira commented on #332
my further guess is the problem is this piece of code:

[code]

this does `+= "something"` to global `ua` (user-agent) library each time MSI auth happens, which is soon going to blow up size of the header value.

wrapping this into Go `sync.Once` should help to fix the issue

[2019-08-08 21:48] smira commented on #332
I submitted a PR with the fix, deployed fixed version to our test cluster.

[2019-08-08 22:34] aramase commented on #332
@smira Thank you for looking at it and the PR. I was wondering the same thing. I'll take a look at the PR. Is the NMI with the fixed version working fine?

[2019-08-08 22:41] smira commented on #332
well, too soon to tell, I think it took time (enough requests) for the header value to overflow, but so far it looks good

[2019-08-08 23:29] #332 closed

[2019-08-11 23:30] lodejard commented on #285
Hi, @kkmsft thanks for the link!

Say, @aramase, we've been using a copy of your chart where we've updated the metadata labels to follow the newer `app.kubernetes.io/...` recommendations. It also organizes the resources templates by mic- and nmi- prefixes, which seems to be a common practice in charts that have more than one distinct component.

Hope you don't mind, I took the liberty of sending y

[2019-08-12 05:08] ankrause opened #336 "Latest NMI/MIC (1.5.1) compatibility with Key Vault FlexVolume mount"
**Describe the bug**
There seems to be a backwards compat issue with the Key Vault FlexVolume addon/project under the MSI authentication mode.

Using the latest NMI/MIC (1.5.1) with FlexVolume v0.0.10) I get this error:

If I use the previous version of MIC/NMI with the same version of the FlexVolume everything works as expected.

**Steps To Reproduce**

1. Deploy a K8S cluster with NMI and MIC ve

[2019-08-12 06:22] kkmsft commented on #336
@ankrause -

Thank you for trying out 1.5.1.

As aad-pod-identity moved to new adal libraries, the usage of older libraries had become incompatible (due to backward combat issues introduced with Azure/go-autorest#326). With the PR #306 backward compatibility was added in paths where applications fetch tokens. The host handler path which is used by kevvault flex volume also needs similar fixes. PR

[2019-08-12 16:48] jstutson commented on #311
I've got the selector for aadpodidbinding (see deployment below).

This is interesting.  So, from what you're saying, you can see that the AuditServiceUser was created, 7f633d61 is the correct client ID for our user and is the one defined in our AzureIdentity and binding.  Although you can't tell because I redacted the entire ID up there.  If you scroll to the top to the yaml for that user, you'll

[2019-08-12 19:40] kkmsft commented on #336
Fixed by #337

[2019-08-13 14:42] Bowbaq opened #338 "Several MSI + VMSS + az login --identity = random MSI"
**Describe the bug**

We've recently enabled the VMSS preview on our AKS clusters (to enable multiple node pools). We use `aad-pod-identity` and have several MSIs with different permissions for different pods.

It looks like `aad-pod-identity` assigns the MSIs to the VMSS, not to individual VMs. This can result in several identities being tied to one VMSS:
[code]

For some reason, this seems to re

[2019-08-13 18:02] #336 closed

[2019-08-13 21:03] aramase commented on #338
@Bowbaq Are both the identities that you have posted bound to the same pod? Can you post the output for `kubectl get azureassignedidentities -o yaml`?

The way aad-pod-identity works is, if there are multiple assigned identities for a pod, if there is client id in the request for token, we pick the assigned identity that matches the client id and retrieve the token using that. However with `az --l

[2019-08-13 23:24] kkmsft commented on #301
It's GA status.
Please find the new release here - https://github.com/Azure/aad-pod-identity/releases/tag/v1.5.1

[2019-08-13 23:24] #301 closed

[2019-08-13 23:27] kkmsft commented on #296
Several locking improvements have been added in the tests. Closing this for now. But will re-open if we find any in future.

[2019-08-13 23:27] #296 closed

[2019-08-13 23:32] kkmsft commented on #200
Duplicate of #285 . Please follow that issue for further updates. The forceNamespaced is provided as option in the PR.

[2019-08-13 23:32] #200 closed

[2019-08-13 23:34] kkmsft commented on #181
Closing with the https://github.com/Azure/aad-pod-identity/releases/tag/v1.5.1

[2019-08-13 23:34] #181 closed

[2019-08-13 23:48] aramase commented on #161
Duplicate of #285. I've a PR in the official charts repo with steps on manually cleaning up CRD after removing the charts. Please follow #285 for further discussion.

[2019-08-13 23:48] #161 closed

[2019-08-14 08:49] Bowbaq commented on #338
We have two different pods (`external-dns` & `consul-agent`) using two different identities. Somehow `consul-agent` init containers end up using the `external-dns` identity some of the time.

I saw the new version, however the helm chart in this repository has not been updated, and the chart submitted to the official repository hasn't been accepted yet, so I'm not quite sure how we'd go about usin

[2019-08-14 10:29] oliverholliday opened #339 "Deleting an identity breaks all binding forever"
**Describe the bug**

We have a simple setup where each pod has an associated userAssignedIdentity and the selector is set to that identity's name. After deleting a pod and its associated azure identity the MIC pod won't assign any other identities and writes a huge amount of logs which refer to not having permissions to change the identity which no longer exists.

**Steps To Reproduce**

Create a

[2019-08-14 10:49] oliverholliday commented on #339
We've updated aad-pod-identity and restarted all the mic/nmi pods. We've also done "delete --all azureidentities,azureidentitybindings,azureassignedidentites" and recreated them but nothing will make it forget about the non-existent identities.

We're using the FORCENAMESPACE env flag, not sure if that's related.

The identities below no longer exist (were deleted 2 days ago).

[code]

[2019-08-14 16:02] kkmsft commented on #339
One possibility is that the azureassignedidentity (the persistent CRD which got recorded when a binding was found) is still left over in the specific namepsace. Can you please check the following:

kubectl get AzureAssignedIdentity --all-namespaces

Please note the namespaces parameter above. If there is an AzureAssignedIdentity found which relates to the deleted identities, please delete them fro

[2019-08-14 16:32] aramase commented on #339
It's possible the identity delete failed when it was tried the first time. With mic:1.3, the identity deletion was only tried once and never retried. So in case the identity removal from the node failed, it would have left the identity behind on the node. The way MIC assigns/removes identity from the node is by getting the entire list of identities that's currently on the node and , adding/removin

[2019-08-14 16:40] EzequielB opened #340 "Missing application/json Content-Type on MSI token responses"
**Describe the bug**
Pods retrieve the token successfully but the content type is text/plain

**Steps To Reproduce**
In a test cloud retrieve a token and see the Content-Type header.

**Expected behavior**
The content type header should be application/json

**AAD Pod Identity version**
1.5.1

**Kubernetes version**
kubectl version
Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.

[2019-08-14 16:41] kkmsft commented on #339
Please ignore my comments above (deleted). Please follow the instructions from @aramase above.

[2019-08-14 17:26] aramase commented on #311
Could you please provide the output for the following with all sensitive information REDACTED?

`kubectl get azureidentities -o yaml` and `kubectl get azureidentitybindings -o yaml`?

[2019-08-14 17:32] kkmsft commented on #340
@EzequielB - Thank you using aad-pod-identity, raising the issue and the PR. Can you please specify the use case in this scenario ? Basically curious about how the token is getting consumed by application. Are you using adal libraries in the applications. Is it causing an issue with that ?

[2019-08-14 19:16] oliverholliday commented on #339
Thanks a lot guys that's definitely done the trick!

Everything's back in working order now.

I wrote a little script to clean up after hitting this, below in case it helps anybody.

[code]

[2019-08-14 20:33] EzequielB commented on #340
Hi. Glad to help.
The issue happens using the rest API, not the adal libraries. For what I've checked it doesn't happen on that case (adal).

[2019-08-14 22:02] jstutson commented on #311
[code]
Really appreciate you taking the time to help me on this @aramase thanks so much.  So, immediately I can see that `Type:1` above.  I can also see that in the previous deployment type was set to 0... I honestly do not know how this got set to 1, it's 0 in my saved version of the deploy file...  It's possible that someone I've been working with changed it to 1 in a troubleshooting attempt..

[2019-08-15 16:47] aramase commented on #339
@oliverholliday That's great. The next time you see any issues where MIC fails to remove the identity, please let us know. We can take a look at the logs to see what's happening. Like I mentioned before with 1.5 release, we have added states to `AzureAssignedIdentity` and if there is an error we retry to assign/unassign from node until we succeed.

Thank you for trying out aad-pod-identity. I'm cl

[2019-08-15 16:47] #339 closed

[2019-08-15 17:24] aramase commented on #299
@spaelling This is my recommendation for a psp that can allow aad-pod-identity to work in a specific namespace -

[code]
Added it to a gist - https://gist.github.com/aramase/3c0249de86bb7833f42cc46be1c6e3df

Please try it out and let me know if you have any issues.

[2019-08-19 07:28] kkmsft commented on #279
@markusdresch - Thank you for the update. Please let us know if 1.5 series (latest was 1.5.2) continues to work as you are expecting.

@omerlh - are you still facing this issue with 1.5.2 ?

[2019-08-19 07:31] kkmsft commented on #263
@omerlh - would the liveliness probe and the corresponding "Active/Non-Active" state returned in the contents of the /healthz (in both MIC and NMI) fulfill the requirement you had with checking of the state of Aad-pod-identities working ?

[2019-08-19 08:53] markusdresch commented on #279
@kkmsft looks good to me

[2019-08-19 15:43] kkmsft commented on #279
Thank you - @markusdresch

[2019-08-19 17:13] aramase commented on #233
@pantanuj We have released v1.5.2 (https://github.com/Azure/aad-pod-identity/releases/tag/v1.5.2). This release includes a lot of new features and improvements. Please try it out and let us know if your issues are resolved.

[2019-08-19 18:43] #243 closed

[2019-08-20 06:23] kkmsft opened #350 "Reduce number of steps for creating the AzureIdentity"
**Describe the request**
Either via 'az cli' or kubectl plugins make the CRD creation and identity creation as single step.

**Explain why AAD Pod Identity needs it**
Simplify the AzureIdentity, role assignment and creating of CRD, potentially make it a single step process.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2019-08-20 18:12] aramase opened #352 "Add custom user agent to kube-api calls"
**Describe the request**

**Explain why AAD Pod Identity needs it**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2019-08-21 04:44] omerlh commented on #263
That will be a very good start, I wonder what relevant metrics should be expert on Prometheus?

[2019-08-21 18:34] aramase opened #355 "Data race detected in reenabled k8s client unit tests"
**Describe the bug**
[code]

**Steps To Reproduce**

**Expected behavior**

**AAD Pod Identity version**

**Kubernetes version**

**Additional context**

[2019-08-21 18:45] #355 closed

[2019-08-22 22:50] aramase opened #357 "Add e2e test for init containers"
**Describe the request**

**Explain why AAD Pod Identity needs it**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2019-08-23 19:46] #352 closed

[2019-08-26 17:47] kkmsft opened #360 "Fix the image names in the az acr check for make push"
**Describe the bug**

**Steps To Reproduce**

**Expected behavior**

**AAD Pod Identity version**

**Kubernetes version**

**Additional context**

[2019-08-26 23:13] aramase opened #361 "Update identities on VMSS only once"
**Describe the bug**

**Steps To Reproduce**

**Expected behavior**

**AAD Pod Identity version**

**Kubernetes version**

**Additional context**

[2019-08-28 07:37] elutsky commented on #263
We think about the following metrics (with representative cluster dimensions, like pod, service, release, namespace, identityName, identityBinding, ...):

- # of "active" AzureAssignedIdentities
- # of Failed / non-existing identities
- Latency of Identity Assignment / Binding
- Overall token request
- mapping data, like "# of Pods per identity"...
- something we missed ...

[2019-08-28 19:28] aramase opened #366 "Delete assigned identities when node no longer found"
**Describe the bug**
Delete assigned identities for a node, if the node is no longer bound to the cluster.

**Steps To Reproduce**

**Expected behavior**

**AAD Pod Identity version**

**Kubernetes version**

**Additional context**

[2019-08-30 18:59] migolfi opened #368 "Is NMI supposed to respond with application/json?"
**Describe the bug**

The library for hadoop-azure requests a token in AKS using the metadata endpoint and it fails with error code 200. The response content-type is text/plain but the library is expecting application/json.

[code]

**Steps To Reproduce**

curl the metadata endpoint or use a library that expects json type response.

**Expected behavior**

The token should return successfully with

[2019-08-30 19:18] migolfi commented on #368
Is the content type supposed to get set [here](https://github.com/Azure/aad-pod-identity/blob/master/pkg/nmi/server/server.go#L349-L355)?

[2019-08-30 19:27] migolfi commented on #368
Sorry I just realized this is a duplicate of #340. Can we get #341 merged?

[2019-09-01 08:38] omerlh commented on #263
Looks good :)

[2019-09-02 06:09] omerlh opened #369 "mic failed to start after upgrading to latest version"
**Describe the bug**
Mic failed to start with the following error:
[code]

**Steps To Reproduce**
Upgrade existing MIC to the latest version

**Expected behavior**
MIC started correctly

**AAD Pod Identity version**
1.5.2
**Kubernetes version**
1.12.7
**Additional context**
I guess when upgrading I missed something. All I did was updating the version in our yamls to the latest version - guess ther

[2019-09-03 16:59] aramase commented on #369
@omerlh There are quite a few changes in the deployment manifest for `v1.5.2` compared to `mic:1.3/nmi:1.4`. PTAL at latest deployment manifest -https://raw.githubusercontent.com/Azure/aad-pod-identity/master/deploy/infra/deployment-rbac.yaml to apply the new release.

The initial plan was to move the charts to official helm repo. But since aad-pod-identity works only with azure cluster, that does

[2019-09-04 07:46] RemiGri opened #371 "Cannot access KeyVault while using Managed identity"
**Describe the bug**
Setting up an AKS cluster with advanced networking turned on and following the tutorial on this git repo the C# API code does not seem to be able to access Azure KeyVault. I can see in the logs that identity gets bound to my pod but when trying to hit an endpoint in my C# API that is supposed to try to access KeyVault it throws an error saying it tried three different methods

[2019-09-04 19:24] kkmsft commented on #340
Closing with the merge of #341

[2019-09-04 19:24] #340 closed

[2019-09-04 19:25] kkmsft commented on #368
Duplicate #340

[2019-09-04 19:25] #368 closed

[2019-09-04 20:24] kkmsft commented on #311
@jstutson:

"Application with identifier 'msi' was not found in the directory" - this comes up usually when the cluster is using system assigned identity. Can you please confirm that you are using system assigned identity ?

The older version of aad-pod-identity does not support system assigned identity. The 1.5+ version supports this. The aks-engine PR (https://github.com/Azure/aks-engine/pull/17

[2019-09-04 21:23] kkmsft commented on #233
@pantanuj: Closing this issue. Please reopen if this issue still exists in v1.5.2.

[2019-09-04 21:23] #233 closed

[2019-09-04 21:26] kkmsft commented on #249
@abhisheknsit : Can you please let us know if this issue still exists ?

[2019-09-04 21:29] kkmsft commented on #250
With the exception list CRD user can configure applications to directly contact IMDS for a token - [README.app-exception.md](https://github.com/Azure/aad-pod-identity/blob/master/docs/readmes/README.app-exception.md).

[2019-09-04 21:29] #250 closed

[2019-09-04 21:30] kkmsft commented on #279
With 1.5.2 and improvements on retrying token request calls, closing this issue. Please reopen if its still an issue.

[2019-09-04 21:30] #279 closed

[2019-09-05 00:23] kkmsft commented on #229
@Bowbaq - is this issue resolved ? Can we close this and track the issue on #338 ?
Also, its recommended that you move to the latest release - 1.5 series.

[2019-09-05 00:27] kkmsft commented on #294
Closing this with merge of #354

[2019-09-05 00:27] #294 closed

[2019-09-05 00:32] kkmsft commented on #302
@lodejard : Would you be interested in raising a PR for this ? :-)

[2019-09-05 00:42] kkmsft commented on #338
@Bowbaq - Please let us know if this continues to be an issue. If so, could you please provide us NMI and MIC logs (note: please REDACT all sensitive information).

[2019-09-05 00:49] kkmsft commented on #371
@RemiGri:

Can you please confirm if you are using 1.5 series or 1.3-1.4 version ?

Can you please provide us the following (ref: https://github.com/Azure/aad-pod-identity/wiki/Debugging):
1. kubectl get AzureAssignedIdentities --all-namespaces -o yaml
2. MIC logs
3. NMI logs
4. Full application logs from the pod.
Note: Please ensure that sensitive info is kept REDACTED.

[2019-09-05 14:14] robinmanuelthiel commented on #69
This is a very serious issue. I ran into the same problem today and it took me **5 hours** to find this issue just to notice, that my Azure Identity Name was longer than 24 characters. Super frustrating experience, as I got 0 errors when creating or assigning the Identity...

[2019-09-05 14:34] kkmsft commented on #69
@robinmanuelthiel : Can you please confirm that MIC logs had invalid parameter error ?
that we are in the process of adding validation via gatekeeper - PR #370 Although limitation on the identity service, we can validation to check this to get an error as soon as soon as a CRD is attempted to be created.

@skwan : I wonder if it’s not possible to do >24 chars may be the identity creation (either o

[2019-09-05 14:44] kkmsft commented on #69
/cc @surenderssm

[2019-09-05 14:58] robinmanuelthiel commented on #371
If you are using ASP.NET Core, you should make sure, you added that latest version of `Microsoft.Azure.Services.AppAuthentication` to your project.

[code]

Also, make sure to use a Managed Identitiy with a name < 24 characters!
If that doesn't help, please provide the code from your `Program.cs`.

[2019-09-05 17:21] #187 closed

[2019-09-05 17:22] kkmsft commented on #289
Closing with #370

[2019-09-05 17:22] #289 closed

[2019-09-05 17:24] kkmsft commented on #230
@ferantivero - Thank you for raising this issue. This should be now possible with #370
Please try this and provide your valuable feedback.

[2019-09-05 17:24] #230 closed

[2019-09-05 19:00] Bowbaq commented on #229
It's unclear if it's resolved, due to its intermittent nature. I haven't ran into it recently. As I pointed out in #338 there is currently no helm chart for 1.5, so I'm a bit confused as to how we're supposed to upgrade?

[2019-09-05 19:02] Bowbaq commented on #338
I'm afraid I don't have the logs, it has been three weeks. We've since found out that AKS doesn't enable RBAC by default & had to re-create our clusters as a result.

[2019-09-05 19:30] aramase commented on #229
@Bowbaq I've a PR for the helm charts #373. Once that is merged, you should be able to upgrade.

[2019-09-06 00:28] #366 closed

[2019-09-06 10:35] robinmanuelthiel commented on #69
Well, maybe this was a false alarm. I just re-ran everything the following way and it worked, although my sp name was > 24 chars...

### Steps I took

Create a new sp and aks cluster

[code]

Create an Azure Key Vault with a sample secret

[code]

Create a managed identity > 24 chars

[code]

Grant permissions

[code]

Install and configure AAD Pod Identity

[code]

[code]

Install a Demo Pod

[co

[2019-09-06 20:11] lodejard commented on #302
@kkmsft Maybe :) I'll ping you next week to learn more about how it should be done

[2019-09-09 08:40] ChrisRichner opened #374 "Guidance / Best Practices how to apply aad-pod-identity in real life"
The most Content I've found so far described how to set up aad-pod-identity from a technical standpoint. On Docs is also mentioned that it's considered best practice to have aad-pod-identity in place but not exactly how.

I'm looking for more material elaborating what's considered best practice in regard if one Azure Managed Identity for all Pods is ok or each logical Service must have it's own Az

[2019-09-09 15:38] rajarshi-singh commented on #242
Our use case also requires pod identity on Win containers. We are dependent on AKS, so I am not sure when this feature would land.

[2019-09-09 20:41] shanalily opened #375 "Use encoding/json.Unmarshal instead of yaml.Unmarshal for cloudconfig initialization"
**Describe the request**

I suggest using encoding/json.Unmarshal instead of yaml.Unmarshal (from gopkg.in/yaml.v2) for setting the fields in the cloudconfig structure in [aad-pod-identity/pkg/cloudprovider/cloudprovider.go](https://github.com/Azure/aad-pod-identity/blob/270371d43552823c2bc8e074eb4c181d6ae913a3/pkg/cloudprovider/cloudprovider.go#L50) because the json library is more forgiving of d

[2019-09-10 06:20] Tzrlk opened #376 "Error retrieving resource lock default/aad-pod-identity-mic"
**Describe the bug**
When the MIC starts up, it attempts leader election and produces the following output:
[code]

I'm deploying the MIC in 'kube-system' as 'azure-pod-identity-mic', so looking for any resource in 'default' called 'aad-pod-identity-mic' isn't going to work.

**Steps To Reproduce**
Deploy the chart to a different namespace and/or change the names of things.

**Expected behavior**

[2019-09-10 06:24] Tzrlk commented on #376
I can see in the source code for the MIC that there are options for specifying leader election parameters:
[code]

I'll try using those to get it working explicitly.

[2019-09-10 06:27] Tzrlk commented on #376
Same issue:
[code]

[2019-09-10 06:29] Tzrlk commented on #376
Found the problem. I'd missed the permissions in the MIC cluster role definition that added permission to create/get/update endpoints.

[2019-09-10 06:29] #376 closed

[2019-09-10 17:43] jcrowthe opened #377 "Block pod access to metadata API, except where explicitly required"
**Describe the request**
In multi-tenant Kubernetes clusters, access to the metadata service should be blocked to prevent tenants from accessing sensitive data, such as customData. This is particularly necessary for the `/instance` endpoint, but more generically, this request is to only allow access to what is needed, and not the entire metadata service.

**Explain why AAD Pod Identity needs it**

[2019-09-10 17:51] aramase commented on #285
Closing with https://github.com/Azure/aad-pod-identity/pull/373

[2019-09-10 17:51] #285 closed

[2019-09-10 17:51] aramase commented on #369
Closing with https://github.com/Azure/aad-pod-identity/pull/373

[2019-09-10 17:51] #369 closed

[2019-09-10 17:51] aramase commented on #122
Closing with https://github.com/Azure/aad-pod-identity/pull/373

[2019-09-10 17:51] #122 closed

[2019-09-10 20:24] dharmab commented on #377
The metadata API can contain secrets, and is a common source of vulnerabilities. For example, cloud-init data is stored in the customData field of an Azure VM/VMSS and is accessible at the instance metadata endpoint.

An attacker can exploit flaws in an app running in an Azure VM to "proxy" a request to the instance metadata endpoint and read secrets from the metadata. [This has led to instance me

[2019-09-10 20:33] kkmsft commented on #375
Thank you, @shanalily for the issue. Here is the PR which converted the issue from json.Unmarshal to yaml.Unmarshal: https://github.com/Azure/aad-pod-identity/commit/a3d264327e1d79a4313455c4c272c0049df83732
The core reason is that there were issues in parsing azure.json, which we cannot do without.

[2019-09-10 20:39] dharmab commented on #377
Note that the above POC doesn't handle many other cases, such as `?format=text` and subpaths of /metadata/instance.

[2019-09-11 18:05] shanalily commented on #375
Thanks for your response @kkmsft and for linking to the PR. My team is also fixing things in our codebase to work with the yaml.Unmarshal though it's unfortunate there's these small differences between the libraries.

[2019-09-11 18:05] #375 closed

[2019-09-11 20:58] bayfall commented on #183
@xenalite I am trying to achieve the same with 2 identities and 2 bindings, did you manage to get this working? Cheers

[2019-09-13 15:04] thanasisk commented on #185
:+1: for this issue - I would really like to use this in non-AKS Azure clusters

[2019-09-13 15:29] desek opened #380 "Service Principal identities should work outside Azure"
**Describe the request**
During local development with minikube (or other local k8s) I'd like to be able to use Service Principal identities (type=1) to be available via aad-pod-identity when using it together with "adminSecret" parameters during deploy rather than MSI.
If aad-pod-identity uses a Service Principal via the adminSecret parameter to interact with Azure together with an AzureIdentity

[2019-09-13 16:28] aramase commented on #185
@thanasisk Would love to understand what are the blockers now for using with non-aks cluster?

`/etc/kubernetes/azure.json` is mounted so aad-pod-identity components can use the cluster service principal (SP) to make azure cloud api calls. But with the latest release we have added a feature to allow using a separate SP for pod-identity components. This can be configured using a secret - https://gi

[2019-09-13 22:29] kkmsft commented on #371
@RemiGri -  can you please provide the information above.

[2019-09-16 04:05] alexmg commented on #371
@robinmanuelthiel I came across this issue looking for something else and wondered what the reason for the recommendation of having a managed identity with a name less than 24 characters. I have managed identities working with aad-pod-identity that have longer names and have not had any problems. Just wanting to know if there is something in particular that I should be watching out for.

[2019-09-16 06:32] Yagil1990 opened #381 "Validation error: unable to recognize "": no matches for kind "AzureIdentity" in version "aadpodidentity.k8s.io/v1""
**Describe the bug**
We install aad-pod-identity on AKS cluster using following commands (from Helm Readme doc):

helm repo add aad-pod-identity https://raw.githubusercontent.com/Azure/aad-pod-identity/master/charts

helm install aad-pod-identity/aad-pod-identity --name "chartName" -f "pathToDynamicValues\dynamic-values.yaml" -f "pathToChartValues\values.yaml"

We removed the managed identity prop

[2019-09-16 16:37] cwebbtw commented on #381
We are also able to reproduce this.

[2019-09-16 18:51] aramase commented on #381
That's because the CR is created before the CRD is installed on the cluster by helm. I've PR to resolve the issue by adding `crd-install` helm hook to ensure the CRD is installed before the rest of the components.

[2019-09-16 18:53] #381 closed

[2019-09-17 02:28] kkmsft commented on #311
@jstutson - is this still an issue ? Can you please help us with some questions above ?

[2019-09-17 08:16] robinmanuelthiel commented on #371
@alexmg, this was an older issue, that can be found here: https://github.com/Azure/aad-pod-identity/issues/69 Name limit has been exceeded to 128 chars now.

[2019-09-17 09:15] thanasisk commented on #185
thanks for the clarification. The mistake was on my side but it might be worth noting for software resiliency reason from your side as well. If ProviderID is not set AND using VMSS, it falls back to using the DNS node name (bug 1). If the ProviderID is set manually but the proper permissions are NOT setup in AD, the pods start getting segfaults (bug 2).

[2019-09-17 12:35] alexmg commented on #371
Thanks for the info @robinmanuelthiel.

[2019-09-17 20:12] #361 closed

[2019-09-17 22:25] kkmsft opened #383 "Add e2e for cases where pods are on different nodes in a given VMSS"
**Describe the bug**

PR #379  fixes an issue where pods placed on different nodes in the same VMSS can potentially overwrite each other. Add e2e which ensures that the pods are on different nodes of the same VMSS and then the proper assignment is performed on the VMSS.

**Steps To Reproduce**

**Expected behavior**

**AAD Pod Identity version**

**Kubernetes version**

**Additional context**

[2019-09-19 00:41] kkmsft opened #386 "Add user agent to ARM calls"
**Describe the request**

**Explain why AAD Pod Identity needs it**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2019-09-19 02:24] #386 closed

[2019-09-19 17:46] knbnnate commented on #371
Is there a corresponding client library change required for java use of com.microsoft.azure.credentials.MSICredentials? Updating from aad-pod-identity 0.1.0 to 1.5.2, everything looks good in the new pod-identity namespace (mic logs show bindings applying to pods) but the pods retry/sleep forever when attempting to acquire a token. I can open a new issue and provide the required debug information,

[2019-09-20 09:06] sheigel opened #390 "MIC is crashing with a fatal error: concurrent map read and map write when deploying multiple identities to multiple namespaces."
**Describe the bug**

MIC is crashing with a fatal error: concurrent map read and map write when deploying multiple identities to multiple namespaces.

Deploying one namespace with 2 identities seems to be fine.
Deploying 2 or more namespaces with 2 identities/namespace starts failing.

fatal error: concurrent map read and map write

goroutine 91450 [running]:
runtime.throw(0x142b3b0, 0x21)

[2019-09-20 12:41] lukasmrtvy opened #391 "Unclear documentation..."
Whole 6. step (https://github.com/Azure/aad-pod-identity#6-set-permissions-for-mic) should be skipped if I want to use **System Assigned Identity** ? Or just a first paragraph?

I am not sure about second paragraph ?

[code]

BTW: SP of AKS can be obtained as `az aks show -g $rg -n $aks --query servicePrincipalProfile.clientId`

[2019-09-20 13:04] #391 closed

[2019-09-20 15:08] kkmsft commented on #390
Thank you for raising the issue @sheigel . The stats issue has been fixed in PR #344 .  This will go out with 1.5.3. Currently we have posted 1.5.3-rc4 which has the stats fix as well other fixes.

[2019-09-23 15:14] ombre9 commented on #390
Yes we enabled this forceNamespaced = true flag which is supposed to run MIC and NMI with the environment variable: FORCENAMESPACED=true.

[2019-09-25 18:24] cordovinian opened #397 "Failed to assign identity - linked subscription 'resourcegroups' was not found"
**Describe the bug**
Having issues retrieving an MSI identity using a workflow thats functional for other pods. The error makes me think there is a config formatting issue since the subscription ID is incorrect: `however the linked subscription 'resourcegroups' was not found`

So far I've upgraded MIC and NMI to 1.5.2 using the latest deploy-rbac yaml.
The only thing we override in the chart is `-

[2019-09-25 23:35] #397 closed

[2019-09-25 23:36] cordovinian commented on #397
This turned out to be a token replacement problem with the subscription ID causing it to render empty and the next part of the path to take its place.

[2019-09-26 09:12] abhisheknsit commented on #249
@kkmsft Yes the issue still exists. The problem is not with error, the problem is NMI exits on this error.

[2019-09-28 00:01] rblock-aw commented on #340
Hi,

I know this issue is closed, but it seems that I am getting an issue similar to this. Briefly, I did the following:
1. Follow the detailed tutorial (which starts with cloning this repo, for reference, the last commit I have cloned locally is 2ab4adc5746085cb12ed30c41a119019d5be2674)
2. Verified that the end result matches the expected result from the tutorial
3. Adapt the managed identity cre

[2019-09-28 00:05] aramase commented on #340
@rblock-aw The fix for this particular issue has been merged, but we are yet to a cut an official release with all the changes. We are hoping to cut release `1.5.3` next week with some improvements, bug fixes including this one.

[2019-09-28 08:57] rblock-aw commented on #340
Well that was a fast answer. Looking forward to the release!

[2019-09-30 10:06] tcanelas opened #399 "Be able to set the log level of NMI and MIC"
**Describe the request**
With the current setup, we can not set the log level. Every minute we have 2 lines in the log (for iprulestable update) and everything are send to LogAnalytics and the cost start to explode with a lot of AKS clusters.

**Explain why AAD Pod Identity needs it**
Avoid too much cost for log storage

**Describe the solution you'd like**
Be able, with a flag, to set the log lev

[2019-10-01 21:50] #399 closed

[2019-10-01 22:41] ritazh opened #402 "mic crashes when VMSS managed identity is not authorized"
**Describe the bug**
When using pod identity in a cluster running VMSS with system assigned identity, mic pod crashes when the system assigned identity does not have the right permission to perform role assignment.

**Steps To Reproduce**
- Create a k8s v1.14 cluster with aks-engine with `"useManagedIdentity": true`
- Ensure the cluster is running keyvault flexvol in kube-system and image used is

[2019-10-02 08:30] thanasisk commented on #402
This is what I was describing as bug 2 in issue #185 at my last comment
:+1:

[2019-10-03 00:09] ritazh commented on #402
In case you got here by searching the errors, this doc really helped me. https://github.com/Azure/aad-pod-identity/blob/master/docs/readmes/README.msi.md#pre-requisites---role-assignments

If you are using VMSS system assigned identity for the cluster,  TL;DR you need to assign both the "contributor" role to the RG AND the "managed identity operator" role to the user provided user assigned identit

[2019-10-03 16:52] aramase opened #410 "Remove assigned identity from create list if creation fails"
**Describe the bug**
If CREATE assigned identity fails, then the assigned identity should be removed from the create list to ensure we don't update the status on non-existent assigned identity resource.

**Steps To Reproduce**

**Expected behavior**

**AAD Pod Identity version**

**Kubernetes version**

**Additional context**

[2019-10-03 22:52] #402 closed

[2019-10-04 10:35] thanasisk commented on #302
Can you share the details publicly so non-MSFT personnel can jump on this?

[2019-10-08 18:07] kkmsft commented on #371
@RemiGri - are you still facing this issue ?

[2019-10-08 18:10] aramase opened #412 "Cache cloud objects"
**Describe the request**

**Explain why AAD Pod Identity needs it**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2019-10-08 18:13] aramase opened #413 "Allow namespace in exception list with v2 api"
**Describe the request**
The user should be able to define a namespace in addition to selectors in the pod identity exception CR. This will enhance user experience as they can whitelist all pods running in a namespace to bypass NMI for token calls.

**Explain why AAD Pod Identity needs it**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2019-10-08 20:12] deyanp opened #414 "Help needed configuring aad-pod-identity"
Hi,

Are steps 6 and 4 required?

I perfomed the steps 1,2,3,5, however the access to key vault seems to not work yet ..

`PS C:\Users\Deyan\git\Playground\code\WorkerService> kubectl get AzureIdentity --all-namespaces
NAMESPACE   NAME                   AGE
default     aks-managed-identity   13h

PS C:\Users\Deyan\git\Playground\code\WorkerService> kubectl get AzureIdentityBinding --all-namespaces

[2019-10-09 00:31] kkmsft opened #415 "Identity type should be a string indicating the meaning"
**Describe the request**

**Explain why AAD Pod Identity needs it**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**