[2021-01-04 18:04] aramase commented on #922
@ksstott We already have an issue open for this: https://github.com/Azure/aad-pod-identity/issues/661. Helm 3 CRDs dir doesn't provide an option to template. Updating to `apiextensions.k8s.io/v1` will make the helm charts unusable for Kubernetes version < 1.16. So as posted in the issue we'll be updating the api version for CRDs in the future releases once users are moving to 1.16+ as default.

[2021-01-04 18:07] aramase commented on #921
@AlexPaskhin Could you elaborate more on the goal here? AAD Pod Identity only works with Azure Kubernetes clusters. MIC component is responsible for assigning/un-assigning the user managed identity which is why it's tightly coupled with the cloud azure provider.

[2021-01-04 18:09] ksstott commented on #922
Ah thanks for the quick reply, I had tried looking for an issue as it seemed unlikely that it wasn't already raised but never found it. (I must have only searched for `apiextensions.k8s.io/v1beta` rather than `apiextensions.k8s.io/v1`).
That answer makes sense, I'll close this down as it's being addressed in #661.

[2021-01-04 18:09] #922 closed

[2021-01-04 22:01] aramase opened #923 "CVE Megathread"
[code]

CVE-2020-29361 was fixed by #948
CVE-2020-29362 was fixed by #948
CVE-2020-29363 was fixed by #948

[2021-01-05 16:57] jeanpbond commented on #889
@bcho Do you have a use case that needs more than 50 pod identities?

Yes, we have one identity per microservice and we are planning to deploy between 30-50 microservices per environnement. We have clusters in which we deploy up to 4 environments, so we are planning to use 120-200 identities in some clusters. We use one identity per service to secure access to certain resources that are specific t

[2021-01-05 19:53] aramase opened #926 "Check VMSS state before PATCH calls"
**Describe the request**

**Explain why AAD Pod Identity needs it**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-01-06 01:05] prabhakarreddy1234 commented on #921
I'm also looking for similar solution. I have helm charts for my microservices and all pods are using aad pod identity. They get deployed to AKS and works well.

But i would like to deploy the same helm charts to my local `docker-desktop` kubernetes cluster. They get deployed but MIC fails with below error.

`failed to create MIC client, error: failed to initialize cloud provider client, error: fa

[2021-01-06 01:25] bcho commented on #889
@kwaazaar @jeanpbond thanks for the info! Cool use cases, we will re/evaluate these usages in our end.

[2021-01-06 11:58] AlexPaskhin commented on #921
I have done version of my goals it is here https://github.com/Wallsmedia/aad-pod-identity (Thanks for the brilliant engineering idea).
It gives me opportunity to run Kubernetes outside of Azure cloud, and to  work with Azure and provide all features of Aad-pod-identity authentication.
Why do I need it? Did you ever try to Debug something in AKS? If you don't, try it, run Visual Studio, make a brea

[2021-01-06 12:02] AlexPaskhin commented on #921
@aramase
I can prepare pull request.  Is it master branch to merge for P-R ?

[2021-01-06 15:15] PSanetra commented on #773
In our case we missed to create a `AzureIdentity` resource while the `AzureIdentityBinding` already existed. It helps to look into the mic logs.

[2021-01-06 19:49] #913 closed

[2021-01-07 05:45] kongbb opened #929 "Unable to install aad-pod-identity as a chart dependency"
I created a chart, add aad-pod-identity as a dependency, Chart.yaml contains below dependency configuration:

dependencies:
  - name: aad-pod-identity
    version: 3.0.0
    repository: https://raw.githubusercontent.com/Azure/aad-pod-identity/master/charts
    enabled: true

run "helm dependency update" successfully download ...tgz to charts folder.
but run "helm install myrelease mychart" fail wi

[2021-01-07 17:13] chewong commented on #929
We had a couple of similar issues in the past. Could you quickly go through them at https://github.com/Azure/aad-pod-identity/issues?q=unable+to+recognize+%22%22 to see if it resolves your issue?

[2021-01-07 22:35] kongbb commented on #929
I had gone through these and believe this is a different issue.

To be clear, I am able to install aad-pod-identity using helm 3.  Now I want to put add-pod-identity helm as a chart dependency, that's how I encounter this issue.

[2021-01-07 22:41] chewong commented on #904
Closing in favor of #923

[2021-01-07 22:41] #904 closed

[2021-01-07 22:41] chewong commented on #908
Closing in favor of #923

[2021-01-07 22:41] #908 closed

[2021-01-07 22:41] chewong commented on #923
CVE-2020-1971: https://github.com/Azure/aad-pod-identity/issues/904
CVE-2020-27350: https://github.com/Azure/aad-pod-identity/issues/908

[2021-01-08 01:35] aramase opened #931 "Multi arch image for pod identity components"
**Describe the request**
Investigate and add support for multi-arch (amd64, arm64) pod identity component images.

**Explain why AAD Pod Identity needs it**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-01-09 04:14] elsesiy opened #932 "'parameter resource cannot be empty'"
**Have you**

- [x] Read [Troubleshooting Guide](../../docs/readmes/README.troubleshooting.md)
- [x] Read [Known Issues](../../docs/readmes/README.known-issues.md)
- [x] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
Since `v1.7.0` we're seeing the following sequence in the logs (redacted):
[code]

It seems like one of the requests intercepted i

[2021-01-11 10:10] prabhakarreddy1234 commented on #921
@aramase Can you please go thorough above discussion and give a go ahead for PR.

[2021-01-11 12:38] Yiyito11 commented on #753
**_"Unfortunately you will need to upgrade pod identity to the latest releaese, which uses PATCH to assign / unassign identity from the underling VM / VMSS instead of CreateOrUpdate, which should get rid of the error"_**  Having the same issue Here, how you update the pod identityto lattest release? thank you.-

[2021-01-11 14:43] chewong commented on #753
You will have to perform `helm upgrade` or simply one of `kubectl apply -f` from https://github.com/Azure/aad-pod-identity/releases/tag/v1.7.1. Note that there are multiple breaking changes between minor releases (see https://azure.github.io/aad-pod-identity/docs/#v17x-breaking-change)

[2021-01-11 15:44] chewong commented on #932
Based on past issues, I am suspecting that the ADAL library is doing some sort of health check by sending requests to IMDS without including `request` parameter. Which ADAL library are you using?

[2021-01-11 16:39] elsesiy commented on #932
Thanks for the quick reply @chewong, we're using `github.com/Azure/go-autorest/autorest/adal v0.9.10` but it's the same behavior in earlier versions.

[2021-01-11 16:59] atiasadir commented on #780
We also observed this issue, @aramase is there any update ?
Can we ignore this error ? Should we update network rule to allow traffic for the API server public IP ?
What is the best practice you suggest us to take ?

[2021-01-11 17:12] chewong commented on #932
AFAIK ADAL library in Go does not perform health check (I think only C# one does). There might be other applications in your cluster sending requests to IMDS. I agree that there should be more info on invalid requests. I will put this issue in our next milestone.

[2021-01-11 17:12] chewong commented on #932
@aramase any idea on where the request can originate from?

[2021-01-11 17:38] aramase commented on #932
ADAL doesn't perform any validation of the request. However IMDS will error out if the request doesn't contain the `resource` which is why NMI imposes the same limitation.

The ADAL library also seems to be doing health check in the recent releases: https://github.com/Azure/go-autorest/blob/master/autorest/adal/token.go#L962 which could be what we are seeing.

[2021-01-11 17:43] aramase commented on #921
Sorry for the delay.

If the goal is to have pod identity running outside of an Azure Kubernetes cluster and use this for testing with service principal (type: 1 in AzureIdentity), then we offer a [managed mode](https://azure.github.io/aad-pod-identity/docs/configure/pod_identity_in_managed_mode/). In this mode, there is only NMI which will perform the validation and fetch a token for SP. If run o

[2021-01-11 18:09] aramase commented on #780
@atiasadir That's correct. The issue can be mitigated by configuring network rules to allow traffic for API server.

The fix for app rules is being investigated. @andreycpp can provide more details on that.

[2021-01-11 18:45] Yiyito11 commented on #753
Yeah I deleted with kubectl delete -f and then recreated with that new version 1.7.1. Thanks anyway

[2021-01-11 18:56] aramase commented on #892
@mbmha Is the issue resolved now? Can we close this?

[2021-01-11 18:57] aramase commented on #846
Closing this issue due to inactivity. Please feel free to reopen if you have any questions.

[2021-01-11 18:57] #846 closed

[2021-01-11 18:57] aramase commented on #681
@rkammara12 Checking in to see what the status of the rollout is?

[2021-01-11 19:00] aramase commented on #903
@phillipgibson are you still working on this?

[2021-01-11 19:05] rkammara12 commented on #681
@aramase Yes it is rolled out in all regions now.

[2021-01-11 19:07] aramase commented on #681
Thank you for the confirmation @rkammara12.

Closing this issue as the IMDS fix rollout is complete. Please feel free to reopen if there are any more issues.

[2021-01-11 19:07] #681 closed

[2021-01-12 06:30] kcdevops46 commented on #585
In my case, secret for the Service Principal was expired and we reset the secret with new values,
since then we are getting the error for expired secret keys.
Logs from MIC
error: failed to update identities for VMSS  in $RG,
error: azure.BearerAuthorizer#WithAuthorization: Failed to refresh the Token for request to
 StatusCode=401
-- Original Error: adal: Refresh request failed. Status Code = '40

[2021-01-12 12:15] AlexPaskhin commented on #921
Here is the list of goals:
1. Docker Desktop + WSL2 +  Kubernetes  + Visual Code/Visual Studio is the comfortable development environment for .Net Core + Azure.
2. "Docker-Mic" will be a special component that allows you to simulate AKS and develop component for AKS. AAD-pod identity is the key technology that allows you to address authentication concern for microservices running in Azure.
3. Dock

[2021-01-12 14:49] phillipgibson commented on #903
Let me see if I can close the loop with the Docs team.

[2021-01-12 15:33] chewong commented on #585
How did you update your service principal? via `az aks update-credentials`?

[2021-01-12 15:34] chewong commented on #929
I saw `UPGRADE FAILED` in your error message. Did you uninstall aad-pod-identity before installing your chart?

[2021-01-12 16:05] atiasadir commented on #780
Hi @aramase / @andreycpp
I'm not sure exactly how to do that ?
Is there someone who already did it ? Can you elaborate ?
Our cluster deployed by aks-engine and we are using k8s version 1.16.15

[2021-01-12 16:31] galvesribeiro commented on #780
I can confirm that the *networking rule* (using the IP of the API server) instead of *application rule* (which uses the DNS of the API server) mitigated the issue. Even though Azure Firewall team should definitively fix it since relying on the hardcoded IP of a managed service is not a good idea, but at least the problem is gone and we have a fully working cluster.

If you are using Azure Firewall

[2021-01-12 17:35] magooster opened #934 "Drop all NMI container root capabilities and add only those required to reduce attack surface"
**Describe the request**

Drop all NMI container root capabilities and add only those required to reduce attack surface. Capabilities permit certain named root actions without giving full root access. They are a more fine-grained permissions model, and all capabilities should be dropped from a pod, with only those required added back.

**Explain why AAD Pod Identity needs it**

NMI container runs

[2021-01-12 17:46] magooster opened #935 "AzurePodIdentityException mic redundant with operationMode "managed""
**Describe the request**

The helm chart installs two AzurePodIdentityException resources, one for the MIC component and another for the AKS add-ons, irrespective of the operation mode. Only install MIC exception when operationMode is "standard"

**Explain why AAD Pod Identity needs it**

MIC exception is redundant in managed mode as MIC component is not installed

**Describe the solution you'd li

[2021-01-12 18:26] kcdevops46 commented on #585
@chewong : Problem was SP credential was only reset and update credential command was not ran. Once update-credentials was ran,  it started working.

Thank you

[2021-01-12 19:45] aramase commented on #907
Closed with https://github.com/Azure/aad-pod-identity/pull/928

[2021-01-12 19:45] #907 closed

[2021-01-12 19:46] aramase commented on #897
Closing this issue now. Please feel free to reopen if you've any questions.

[2021-01-12 19:46] #897 closed

[2021-01-12 20:24] chewong commented on #923
CVE-2011-3389: #853

[2021-01-12 20:24] chewong commented on #853
Closing in favor of #923

[2021-01-12 20:24] #853 closed

[2021-01-13 12:20] dkirrane opened #938 "Error: rendered manifests contain a resource that already exists"
**Describe the bug**
[code]

values.yaml
[code]

**AAD Pod Identity version**
Chart:
[code]

**Kubernetes version**
AKS v1.18.10

**Additional context**
Helm v3.4.1

[2021-01-13 15:45] dvob opened #939 "Configuration/Installation with Managed AD"
We have installed a new cluster and enabled the managed AD integration. This way it seems that MIC by default uses the managed identity called `<clustername>-agentpool`. This is the identity which gets returned if you run:
[code]
Unfortunately this identity does not have permission to update the VMSS of the AKS cluster, so it is not able to assign the managed identities.
There is another identity

[2021-01-13 16:08] chewong commented on #939
Could you try uninstalling aad-pod-identity before installing it again? You can append `--debug` at the end of the command to view the helm debug log.

[2021-01-13 16:08] chewong commented on #938
Could you try uninstalling aad-pod-identity before installing it again? You can append --debug at the end of the command to view the helm debug log.

[2021-01-13 16:15] chewong commented on #939
You will have to run our [role assignment](https://azure.github.io/aad-pod-identity/docs/getting-started/role-assignment/) script to grant the necessary permission to `<clustername>-agentpool`. Note that AKS only uses one managed identity per cluster (shown in `.identityProfile.kubeletidentity`) when you enable managed identity so I don't think there is a way to specify which managed identity to u

[2021-01-13 20:01] #935 closed

[2021-01-14 09:17] dvob commented on #939
Thank you for pointing us to the role-assignment script.

[2021-01-14 09:17] #939 closed

[2021-01-14 14:10] dkirrane commented on #938
[code]

[code]

[2021-01-14 16:15] dkirrane commented on #938
Went back to Chart version `2.1.0` and it installs. So looks like an issue with `3.0.0`

[2021-01-14 16:34] chewong commented on #938
Looks like you will need to update your values.yml to a map instead of an array - https://github.com/Azure/aad-pod-identity/tree/master/charts/aad-pod-identity#300

[2021-01-14 16:35] chewong opened #942 "helm: document 3.0.0 breaking change"

[2021-01-14 16:36] chewong commented on #938
Opened https://github.com/Azure/aad-pod-identity/issues/942 to add documentation about 3.0.0 breaking change

[2021-01-14 16:53] atiasadir commented on #780
Hi @galvesribeiro, Thanks for your input
I did some investigation and I find out that all our ports for 443 are open (any to any)
but we still observe the issue, WDYT ? any suggestion ?
<img width="1676" alt="Screenshot 2021-01-14 185226" src="https://user-images.githubusercontent.com/30810249/104622295-bdd88200-5699-11eb-86c1-5608b9caf56e.png">

[2021-01-14 17:11] keyz182 opened #943 "HTTP 200 returned for 404 Body text"
**Have you**

- [x] Read [Troubleshooting Guide](../../docs/readmes/README.troubleshooting.md)
- [x] Read [Known Issues](../../docs/readmes/README.known-issues.md)
- [x] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
After installing aad-pod-identity to an Azure Kubernetes Service cluster, calls to the metadata endpoint that previously returned

[2021-01-14 17:37] chewong commented on #943
Thanks for opening the issue. I can also reproduce the issue. The fix should be simple and I will put this issue in our next milestone (releasing within the next two weeks)

[2021-01-14 17:55] phillipgibson commented on #903
MSFT docs PR is currently in review https://github.com/MicrosoftDocs/azure-docs/pull/68924

[2021-01-15 15:46] tvdvoorde opened #945 "AAD Pod Identity 1.7.1 does start on cluster deployed with kubenet and calico"
**Describe the bug**

Not sure if this is a bug or confusing documentation

When I deploy an AKS cluster with

[code]

I can deploy the AAD Pod Identity 1.7.1, which should not be possible since the documentation now states it is not supported on kubenet because of the ARP spoofing vulnerability

However, in the code it checks for the --network-plugin flag on the kubelet, which, with the above com

[2021-01-15 17:01] aramase commented on #945
@tvdvoorde AKS pod-managed identity is currently not supported with kubenet.

@bcho @miwithro can provide more details on this.

[2021-01-15 17:49] tvdvoorde commented on #945
Hi, I understand that. That is why I reported the issue.

When I deploy an AKS cluster with `--network-plugin kubenet --network-policy calico` I can still deploy it with the Yaml's or the Helm chart - because the code checks for the `--network-plugin` on the kubelet, and with the combination of kubenet+calico, the `--network-plugin` on the kubelet is defined as `cni`.

So is this a bug? Or is it s

[2021-01-15 18:21] aramase commented on #945
@tvdvoorde The managed add-on is handled by the AKS team. So I'll let @bcho and @miwithro comment on it.

[2021-01-15 18:27] miwithro commented on #945
We are releasing an updated version that will allow the managed Add-on to run with kubenet.

[2021-01-15 21:05] #934 closed

[2021-01-17 07:27] dhirschfeld commented on #889
Just chiming in here that our deployment model assigns an individual identity per app so that the permissions for each app can be assigned, using the principle of least privilege, only what it actually requires.

Having a single identity for every app which is given privileges to all resources that *any* app may possibly need is less than ideal from a security PoV. It might be possible to share an

[2021-01-18 21:12] mhsh64 commented on #677
@aramase
Hi
We still see throttling causing by MIC

![21BD81E8-3AC4-4AC0-82D4-34519D42C6F6](https://user-images.githubusercontent.com/14878974/104963173-ecab6c80-59a7-11eb-9528-efe90e9125eb.jpeg)

Do you have any idea?

[2021-01-19 17:21] aramase commented on #677
@mhsh64 This PR adds support to honor retry after header that is sent back for the API request. This however doesn't completely prevent throttling from happening. If multiple components are making ARM API calls, then the throttling limit will be hit. With this change MIC detects the API request is throttled and instead of repeatedly retrying it'll only retry the request at a time t + retryAfter as

[2021-01-19 17:33] #926 closed

[2021-01-19 23:00] #938 closed

[2021-01-19 23:00] #942 closed

[2021-01-20 10:47] calvinShan opened #947 "error token: spark job is blocked to acquire the token from NMIs."
**Have you**

- [ ] Read [Troubleshooting Guide](../../docs/readmes/README.troubleshooting.md)
- [ ] Read [Known Issues](../../docs/readmes/README.known-issues.md)
- [ ] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
 we run spark job to realize big data analytics and calculations in AKS. The job is blocked to acquire the token from NMIs

It wor

[2021-01-20 16:19] chewong commented on #947
Could you also share the MIC log?

[2021-01-20 16:35] chewong commented on #932
Closing this issue since it's simply a health check from the ADAL library.

[2021-01-20 16:35] #932 closed

[2021-01-20 17:41] calvinShan commented on #947
Yes, logs in MIC are standard, the only errrors from MIC are like these:
W0115 14:46:35.378275 1 mic.go:1265] Unable to get node aks-pool2-...-vmss... while updating user msis. Error
node "aks-pool2-...-vms..." not found
W0115 15:14:15.691054 1 mic.go:1265] Unable to get node aks-pool2-..-vmss... while updating user msis. Error
node "aks-pool2-...-vmss..." not found

[2021-01-20 17:57] #943 closed

[2021-01-20 18:11] elsesiy commented on #932
@chewong Can we not exclude the healthcheck from logging this warn? It's not ideal the way it is now.

[2021-01-20 18:15] aramase commented on #932
@elsesiy There is no ideal way for pod identity to distinguish an actual token/health check request. All the requests that come in to pod identity for the token uri are validated in the same way.

[2021-01-21 03:15] elsesiy commented on #932
@aramase I understand the problem but I'd argue that the current warn log is not very useful either. There's no way for us to disable the adal healthcheck & this is flooding logs unnecessarily. Can we increase the logging verbosity for this item or make it configure to ignore certain requests?

[2021-01-21 03:47] jlteodoro commented on #242
Is this supported now?

[2021-01-21 07:56] tvdvoorde commented on #945
@miwithro  thanks for the info - do you know the timeline on the updated version?

[2021-01-21 07:59] bcho commented on #945
Hi @tvdvoorde , the expected date would be around February 12th, we are working on enabling it in 0201 API and corresponding SDKs.

[2021-01-21 17:40] chewong commented on #947
Thanks for providing the logs. Could you include your `AzureIdentity` and `AzureIdentityBinding` spec? I am suspecting that something is set up incorrectly

[2021-01-22 09:48] tshaiman commented on #780
we are experiencing similar issue with NMI exception "level=warning msg="List pod error: pod list empty. Retrying, attempt number: 4" when trying to use AAD pod identity on several regions. this for example happened to us on Australia East, but non on Central India / UsEast.
We do not use Azure Fire wall and our network security group does not block 443 ports to the cluster IP .

looking forward f

[2021-01-24 22:27] V4A001 opened #949 "Deploy AAD Pod Identity in a Cluster with Kubenet"
Sorry, I am not an expert in Kubernetes, I just want to code and have it secure. So I want to use a azure key vault through code. With azure app service this easy, with K8 it become more like being a system administrator looking into issue after issue for days. I even checked how Google is doing this (even more horrible by the way).

I believe K8 is over complicated which is emphasized by mismatch

[2021-01-24 22:53] V4A001 commented on #949
Check this post why deployment or service are more common than pod:
https://stackoverflow.com/questions/41325087/what-is-the-difference-between-a-pod-and-a-deployment#:~:text=Both%20Pod%20and%20Deployment%20are,for%20a%20production%20use%2Dcase.

[2021-01-25 16:25] PSanetra commented on #846
@aramase We are observing the same issue on AKS 1.17.11. Like @PagoLivreAdmin has mentioned, the error is only appearing sporadically and after recreating the pod, the error is "fixed".
We had a look into the nmi logs, but there were no log message at all related to this failing pod. Only messages concerning other pods.

[2021-01-25 20:00] ericxw commented on #889
Adding to the conversation here as well. We have a number of applications planned to get moved into AKS. I'd like to get away from the model where multiple applications and environments share an identity (seems people do it for convenience, but is terrible for security and diagnostics). In such a case, a limit of 50 at the current base setup of 3 environments per application would limit us to 16 a

[2021-01-26 03:08] phillipgibson commented on #242
@jlteodoro we're in the final stages of testing. These test require a lot of coordination with the core Windows group testing.

[2021-01-27 15:11] calvinShan commented on #947
We have set up several APIs that work very well by using the MIs, yes, we haved created AzureIdentity and AzureIdentityBinding for each MI/API
The only problem is about the MI used by a spark job, something does not work in NMI to delivery the token for the driver pod

[2021-01-28 00:33] #931 closed

[2021-01-28 02:36] elsesiy commented on #932
@aramase Do you have any thoughts on my proposal?

[2021-01-28 14:35] digeler opened #951 "Image vulnerability on nmi mic images"
can you please update the base images ,they have the following issue :

178254
--
  | VulnerabilityName | Debian Security Update for openssl (DSA 4807-1)
  | Risk | MEDIUM
  | AdjustedSeverity | 5.9
  | ImageId | sha256:71279b2eacab64c302c8b5060e986262fb903cd8b69a3ce49dbc9efe501e8793
  | ImageName nmi@sha256
  | ScanResult | #table cols="3"Package Installed_Version Required_Versionlibssl1.1 1.1.1d

[2021-01-28 17:11] aramase commented on #951
@digeler Thank you for opening the issue. The NMI base image in master has been updated to mitigate the vulnerability and will be included in the next release: `v1.7.2` planned for next week.

Please see https://github.com/Azure/aad-pod-identity/issues/923 for more details.

[2021-01-28 17:11] #951 closed

[2021-01-28 17:17] chewong commented on #947
@aramase any idea?

[2021-01-28 17:25] aramase commented on #947
@calvinShan

1. Is the spark job using its own identity?
2. How often is the job created and deleted?
3. The NMI error you posted above indicates an error in MIC while assigning the identity. NMI relies on MIC to assign the identity and set the status using a custom resource called `AzureAssignedIdentity`. That error implies MIC has not created the `AzureAssignedIdentity` for this pod and binding.

[2021-01-28 17:36] aramase commented on #932
@elsesiy There is no way to distinguish the request here to determine if it's a health check or a legit token request. From the logs posted:

[code]

This could be a token request with no `resource` header or a health check. However the URI for both is `/metadata/identity/oauth2/token` which means we can't really distinguish here. The warning is logged so if it's a valid token request that's missi

[2021-01-29 01:58] aramase opened #953 "Add a note about system-assigned identity not supported with pod identity"

[2021-01-29 14:51] thomasfrederikhoeck opened #954 ""Identity not found" when running demo"
I'm trying to follow the demo and I get the following error logs when running the demo:

[code]

The logs for the two mic pods are

[code]

[code]
The logs for the NMI are:
[code]

I have the AzureIdentity:
[code]

[code]

[code]

![image](https://user-images.githubusercontent.com/44194839/106296984-93b6c080-6252-11eb-972c-7e8c4ed39b64.png)

![image](https://user-images.githubusercontent.com/44194

[2021-01-29 17:48] aramase commented on #954
@thomasfrederikhoeck

1. There are no logs in MIC that indicate this demo pod has been created? Could you post the output for `kubectl get azureidentity -A -o yaml`, `kubectl get azureidentitybinding -A -o yaml`.
2. Output for `kubectl get nodes -o wide`
3. MIC logs after the demo pod has been deployed and is running.
3. Logs from NMI pods running on the same node as the demo pod. The NMI logs abo

[2021-01-30 17:29] V4A001 commented on #954
I am already busy for weeks with this (overcomplicated) Pod Identity stuff. I also start looking in the demo and exactly have the same. My demo is running with next error. On the demo identity I only have 1 reader and not a reader and a contributor.

E0130 17:21:14.099560       1 main.go:73] failed list all vm, error: azure.BearerAuthorizer#WithAuthorization: Failed to refresh the Token for reques

[2021-01-30 17:38] V4A001 commented on #954
I have it running. Party time 👍  You requested to have a look at the binding. It is again that case sensitive stuff which is confusing for old school .NET/ Pascal coders.

I updated my azureidentity to azureIdentity and it started running :-)

`cat <<EOF | kubectl apply -f -
apiVersion: "aadpodidentity.k8s.io/v1"
kind: AzureIdentityBinding
metadata:
  name: ${IDENTITY_NAME}-binding
spec:
  azureId

[2021-02-01 08:29] thomasfrederikhoeck commented on #954
I solved it by simply deleting and creating the demo pod again :-) Will close.

[2021-02-01 08:29] #954 closed

[2021-02-02 19:58] chewong opened #956 "Automate release process"

[2021-02-03 16:31] NicoRun opened #957 "NMI cna't find targeted pod"
Hello !

I need to use AAD Pod Identity to work with KEDA for K8S on Azure scaling purposes.

Here's my NMI logs :

[code]

The MIC logs :
[code]

So nothing really relevant here.

I've deployed the Pod Exception Yaml also :

[code]

I don't know where to search on this (new on k8s sorry).

I've followed your pre-requisite :  manage identity operator on the MC RG and vm contributor on the same RG

[2021-02-03 16:36] NicoRun commented on #957
I forgot, here my configuration file :

[code]

[2021-02-03 17:24] chewong commented on #957
Looks like you have namespaced mode turned on. Could you try redeploying your `AzureIdentity` and `AzureIdentityBinding` to the same namespace as your workload instead of default?

[2021-02-03 17:28] calvinShan commented on #947
we are able to resolve this by adding these lines of code to your Spark job:
options.getConf().put("spark.kubernetes.driver.label.aadpodidbinding", job.getRunAs());
options.getConf().put("spark.kubernetes.executor.label.aadpodidbinding", job.getRunAs());

[2021-02-03 17:30] #918 closed

[2021-02-03 17:32] chewong commented on #947
Thanks for letting us know. We can put this solution on our documentation in case anyone encounters the same problem in the future.

[2021-02-03 17:37] calvinShan opened #958 "Control access to use the right MI by the API"
**Have you**

- [ ] Read [Troubleshooting Guide](../../docs/readmes/README.troubleshooting.md)
- [ ] Read [Known Issues](../../docs/readmes/README.known-issues.md)
- [ ] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
We need to configure role-based access control  to limit access to the MI

case:
we have a spark api  and a job api in one namespa

[2021-02-03 18:34] chewong commented on #958
Even with [namespaced mode](https://azure.github.io/aad-pod-identity/docs/configure/match_pods_in_namespace/) enabled, all `AzureIdentity` and `AzureIdentityBinding` are shared across the pod level. If there are security concerns, is it possible for the two workloads in separate namespaces?

[2021-02-04 08:48] calvinShan commented on #958
Thanks for your reply, we have considered using namespaced mode. But we cannot move these two workloads in separate namespaces, because we cannot create one namespace for every api

[2021-02-04 16:15] NicoRun commented on #957
Oh... simply ? Indeed, it works. Nice shot!

Is there a version of the YAML deployment without namespaced mode on ?

If no, I must just delete all lines contains "Scope: Namespaced" ?

Thank you for your quick reply !

[2021-02-04 17:13] aramase commented on #958
@calvinShan Thank you for the response. The namespace is the security boundary. All the pods within a namespace can access the identities defined for that namespace. Apart from the namespace boundary, we can't impose access for a single pod to a single MI unless they are different namespaces.

[2021-02-04 17:31] chewong commented on #957
I thought namespaced mode was enabled but after taking a second look at the log, it was actually disabled
[code]
Could you verify once again that whether deploying `AzureIdentity` and `AzureIdentityBinding` in the default namespace works or not?

[2021-02-04 17:38] NicoRun commented on #957
Ok cool, I'll check that tomorrow.

[2021-02-05 09:25] danbyrne-tal opened #959 "MIC PODs crashing - after attempting to update user-assigned identities, panic: runtime error: invalid memory address or nil pointer dereference"
Hi All,

I'm facing an issue with geting aad-pod-identity to work and I am uncertain what the issue is.
I have tried similar steps in a different AKS cluster and it is running fine, although the AKS configuration is different there, but I dont know what the difference is or what is causing this issue. Maybe it is a permissions issue?

I installed it via Helm (v3) charts, without any variables, so

[2021-02-05 10:22] NicoRun commented on #957
Hello @chewong

So I just redeployed Pod identity in the default Namespace :
![image](https://user-images.githubusercontent.com/55200647/107020316-04099880-67a3-11eb-9651-4d4ce028cfe8.png)

I've deployed KEDA in my workload namespace called "post-processing"
Here's my KEDA logs:
[code]

On the NMI side we have those logs :
[code]
And for the MIC, everything seems to be OK :
[code]
I told you yeste

[2021-02-05 14:41] calvinShan commented on #958
Yes, thanks for your confirmation. However, we need to control the access inside the namespace. SO could we code this control in our application? another solution is to control the access by using Dynamic Admission Control ?

[2021-02-05 15:20] NicoRun commented on #957
I added the labels on the KEDA deployment items :

[code]
I've checked, this IP is from AzureCloud (get from this link : [](https://www.microsoft.com/en-us/download/details.aspx?id=56519))

I don't understand why Azure send me a refused connection. My SPN is correct and i've deployed the pod exception YAML :

[code]
My SPN is already Virtual Machine Contributor and Managed Identity Operator.

Than

[2021-02-05 17:37] kinzleb commented on #921
It would be nice if this "Docker-Mic" could also:

- Be used with other local k8s, like Minikube w/ docker driver for example
- Not be limited to WSL2 or Linux hosts but also work when using Docker Desktop on Mac for example
- Allow configuration such that the Mic container could access and use the token of a developer who has logged in using azure cli on their local host so that it is the develop

[2021-02-05 17:39] aramase commented on #959
@danbyrne-tal Thank you for reporting the issue. We added a check for the VMSS provisioning state in the latest release which seems to be nil here. We'll fix this for the next release.

[2021-02-05 17:39] chewong commented on #957
I don't think pod exception is the problem. Are both MIC pods showing the same error?

[2021-02-05 17:48] chewong commented on #957
Yes, you can check out https://azure.github.io/aad-pod-identity/docs/best-practices/#using-aad-pod-identity-in-different-kubernetes-workloads on how to apply the label on various workloads.

[2021-02-05 18:24] aramase commented on #958
@calvinShan Yeah, you can control this in the app. If the app requests token only for a specific clientid, NMI will check if the app pod has access to the `AzureIdentity` with the client id. If not, it'll return an error. Dynamic Admission Control is another way to control which pods use which label for `aadpodidbinding`. That'll ensure pod's don't get deployed with labels for `AzureIdentity` they

[2021-02-05 22:05] aramase opened #962 "Add configuration for adding more user agents"
**Describe the request**
Add a flag to configure more user-agents that can be appended to adal requests.

**Explain why AAD Pod Identity needs it**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-02-05 22:36] b-odonoghue commented on #945
@bcho Just wanted to confirm that after this release around Feb 12th, this would allow the use of AAD pod identities for those using kubenet?

Moving the azureCNI is not really an option for us at this time, and there are some great integrations between AKS and other Azure services I would really like to take advantage of.

[2021-02-06 03:32] bcho commented on #945
Hi @b-odonoghue , yes, we can enable this pod identity addon in cluster using kubenet after this release. We're in the progress of rollout.

[2021-02-07 05:02] danbyrne-tal commented on #959
Hi @aramase ,
I retested on v1.7.3 with the merged code and I still get the same error...

I0207 04:54:42.856867       1 main.go:114] starting mic process. Version: v1.7.3. Build date: 2021-02-05-22:16
W0207 04:54:42.856927       1 main.go:119] --kubeconfig not passed will use InClusterConfig
I0207 04:54:42.856935       1 main.go:136] kubeconfig () cloudconfig (/etc/kubernetes/azure.json)
I0207 04

[2021-02-07 13:12] yaserjalilian commented on #778
Just Change Code :

  app.UseEndpoints(endpoints =>
            {
                endpoints.MapControllerRoute(
                    name: "default",
                    pattern: "{controller=Home}/{action=Index}/{id?}");

            });
change to  :

 app.UseEndpoints(endpoints =>
            {
                endpoints.MapControllerRoute(
                    name: "default",

[2021-02-08 08:55] calvinShan commented on #958
@aramase thanks for the reply. Every Pod Developer can add the aadpodidbinding label to his/her pod and use each Azure Identity he wants in the namespace. How could NMI return an error if the pod has not the access? given that we have already assigned the role to the MI for the managed resource group in azure

[2021-02-08 10:11] NicoRun commented on #957
Here is my labels for my KEDA deployment :
![image](https://user-images.githubusercontent.com/55200647/107204732-5219d880-69fd-11eb-8b9c-19940863dbac.png)

But the KEDA pod don't have those labels :
![image](https://user-images.githubusercontent.com/55200647/107204815-6eb61080-69fd-11eb-9dfe-3e7ea7c21c29.png)

About the MIC errors :
- MIC Leader :
[code]

MIC Slave :
[code]

During this time, NMI

[2021-02-08 17:46] chewong commented on #959
That's interesting because we are no longer dereferencing any pointers at `/go/src/github.com/Azure/aad-pod-identity/pkg/cloudprovider/vmss.go:66`. To confirm  Did you see `Succeed` when you run `az vmss show -g <NodeResourceGroup> -n aks-lnx001-22602557-vmss`?

[2021-02-08 17:50] chewong commented on #957
I don't see `aadpodidbinding` as part of your labels. Have you tried adding `aadpodidbinding: <AzureIdentityBinding Selector>` as part of your deployment?

[2021-02-08 17:53] aramase commented on #959
Also, could you try out `v1.7.1` version of pod identity to confirm if the issue still exists? As @chewong mentioned we aren't dereferencing a pointer in the latest version before checking if it's not nil. The VMSS can't be nil here either.

[2021-02-08 20:46] danbyrne-tal commented on #959
Hi Guys,
yes I can see Succeeded as provisioningState when I run the az vmss show command.
I have re-installed on v1.7.1 and I no longer get the panic runtime error.
I can see that there is a permissions related issue, as this is output - I will have to follow up with our Cloud team on the permissions that has been set up for the Managed Identity:

I0208 20:26:06.727786       1 mic.go:1023] proces

[2021-02-08 22:24] chewong opened #964 "ci: switch from service principal to managed identity for e2e test"

[2021-02-09 08:46] NicoRun commented on #957
It works!

I put the labels, but not à the template zone of the deployment, but at the metadata name of the deployment.

I have my code 200 response Azure API now on nmi.
`
status (200) took 53332052 ns for req.method=GET reg.path=/metadata/identity/oauth2/token req.remote=199.0.0.59
`
Thank you for your help! :D

[2021-02-09 08:47] #957 closed

[2021-02-09 18:25] aramase commented on #958
@calvinShan NMI gets the `AzureIdentityBinding` that matches the label on the pod. It then uses the `AzureIdentity` referred to in the binding and fetches a token for the clientID. If each `AzureIdentityBinding` has a distinct label and you've control over which pod uses which labels, pod identity will honor it.

[2021-02-09 18:36] #923 closed

[2021-02-09 23:00] chewong commented on #959
Looks like you haven't set up the necessary role assignment: https://azure.github.io/aad-pod-identity/docs/getting-started/role-assignment/. Also, I've opened https://github.com/Azure/aad-pod-identity/pull/966, which should fix the nil pointer issue.

[2021-02-09 23:34] #962 closed

[2021-02-10 05:28] #959 closed

[2021-02-10 07:51] guitmz commented on #778
I'm having the same issue as @chewong  now after converting my cluster from SP to managed identity.

Any hints?

[2021-02-10 08:28] whiskeysierra opened #968 "Pod Identity in Managed Mode requires VMSS update"
The docs state:

But when executed the following warning will be logged:

Since the VMSS' is managed by AKS its upgrade policy is set to Manual. The docs should mention the need to run both commands or hint at a way to combine it into one step.

[2021-02-10 08:42] whiskeysierra opened #969 "Troubleshooting: Identity needs read access to itself for sample to succeed"
The docs state:

But without the identity having read access to itself it will display

See also https://github.com/MicrosoftDocs/azure-docs/issues/36664#issuecomment-519271089

[2021-02-10 21:17] EppO opened #970 "Identity not found on self-managed K8S clusters and User assigned Identities"
**Have you**

- [x] Read Troubleshooting Guide. I tried https://github.com/Azure/aad-pod-identity/wiki/Debugging
- [ ] Read [Known Issues](../../docs/readmes/README.known-issues.md). Didn't find that link
- [x] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
I'm running a self-managed (non AKS) cluster in Azure and use User Managed Identity. I ha

[2021-02-10 21:20] EppO commented on #970
I ended up deleting all identities, binding and secret provider and I still get the issue, so I guess it's really about the user managed identity that the aad-pod-identity pods are using too create/assign the identities

[2021-02-10 21:26] aramase commented on #970
@EppO The identity that MIC uses for communicating with Azure will need to exist before any operations can be done. For managed clusters, that identity is automatically assigned to all the vms/vmss. For self managed, if you want to use user assigned managed identity to access Azure, then you would need to assign the identity manually by running `az vmss identity assign -n <VMSS name> -g <rg>`.

Wi

[2021-02-10 22:30] EppO commented on #970
Thanks a lot for the quick feedback, really appreciated. I suspected there was a missing link between my VMs and the identity, I added my User Managed Identity to all VMs and now they can get the token.
I get now another error but it's on my side now (connectivity issue with management.azure.com, need to open the FW for that destination).
Do you know by any chance the list of external API endpoint

[2021-02-12 14:28] calvinShan commented on #958
However, our problem is about the way to control over  which pod uses which labels. In the same namespace, every pod can use every labels, and NMI never returns an error, because the pod always has access to use every label. do you have some ideals about how to control the access at level of pod

[2021-02-12 17:29] V4A001 commented on #778
I have run in similar issue today. I have a keyvault which run without any issue, but after adding second identity for cosmosdb (serverless in preview) it breaks. What is procedure for debugging?
MIC using user assigned identity: 0008##### REDACTED #####fa7f for authentication.

This is the the agentpool identity (where I expected it at start to be the assigned identity for the AKS cluster itself)

[2021-02-12 17:35] V4A001 commented on #778
This is the recommended way of getting a token for accessing cosmos (there is nothing nice like the azure keyvault):
`
/// <summary>
        /// Creates a Cosmos DB database and a container with the specified partition key.
        /// </summary>
        /// <returns></returns>
        private static async Task<CosmosDbService> InitializeCosmosClientInstanceAsync(ICosmosDbConfiguration cosmosDbCon

[2021-02-12 18:26] chewong commented on #778
Could you check out https://azure.github.io/aad-pod-identity/docs/getting-started/role-assignment/ and re-assign the proper roles again?

[2021-02-12 18:38] chewong commented on #778
@V4A001 since you have multiple identities assigned to your VMSS, you might have to specify the client ID somewhere in your code (not too familiar with C#). For example, for azure-sdk-for-go, we set `AZURE_CLIENT_ID` environment variable as the client ID of the identity you would like to select before creating the authorizer (see https://github.com/Azure/aad-pod-identity/blob/master/test/image/ide

[2021-02-12 21:36] V4A001 commented on #778
@chewong : thank you. For some strange reason the crash of my container is away and the container started running. I did not change anything so far.

The idea is not to have any infrastructure related stuff in code or through parameters. That is why I like the managed identity stuff. What key to pick for AZURE_CLIENT_ID ? I have a keyvault and a cosmosdb. I only have the key vault name as environm

[2021-02-12 21:58] V4A001 commented on #778
Interesting..if I scale out to 2 that is oke. If I scale out to 10 replicas I get half which are not able to authenticate (403).

`212 21:54:20.978307       1 stats.go:170] Number of AzureAssignedIdentities created in this sync cycle: 16
I0212 21:54:20.978310       1 stats.go:170] Number of AzureAssignedIdentities updated in this sync cycle: 0
I0212 21:54:20.978312       1 stats.go:170] Number of

[2021-02-12 22:07] chewong commented on #778
@V4A001 Can you open a separate issue at https://github.com/Azure/aad-pod-identity/issues and we can discuss this over there? I will go ahead and close this issue since it's outdated.

[2021-02-12 22:07] #778 closed

[2021-02-14 08:16] AvigdorLevy commented on #945
Hi @bcho ,
The support for AAD pod using kubenet is live? as trying to do so and it still fails with bad request..?

[2021-02-15 04:02] bcho commented on #945
hey @AvigdorLevy , thanks for asking! We had rolled out the change to public regions, but this change requires to use 0201 API. We are still preparing the SDK and cli changes (related PR: https://github.com/Azure/azure-rest-api-specs/pull/12771)

[2021-02-16 18:28] #970 closed

[2021-02-16 20:28] #953 closed

[2021-02-16 22:58] dhirschfeld opened #975 "Please include an example of applying tolerations in the docs"
I'd like to deploy the AAD Pod Identity pods to my system node pool and so (IIUC) need to apply a `CriticalAddonsOnly` toleration. As a k8s noob it's not immediately obvious how to do that.

To me, the docs seem to suggest a list of strings:
https://github.com/Azure/aad-pod-identity/blob/6dc82f9d15385d23edb0898fdf4d42cdf836e541/charts/aad-pod-identity/README.md#L257

...but helm wasn't happy with

[2021-02-16 23:32] dhirschfeld commented on #975
IIUC the below config should allow the pods to be scheduled as critical pods in the `kube-system` namespace:
[code]

Does that look right?

[2021-02-16 23:33] chewong commented on #975
That looks good, and you can use the following command to install/upgrade?

[code]

[2021-02-16 23:56] dhirschfeld commented on #975
I guess the pods should also have an affinity for the system node pool? If so, would that look like:
[code]

[2021-02-17 15:08] mo-saeed opened #976 "Add pod security policy to the helm chart"
**Describe the request**
Right now we have a pod security policy enabled in our k8s clusters that prevent the creation of certain volumes and allow only certain capabilities, etc.. this is a blocker to deploy aad-pod-identity properly so we had to create the following pod security policy for aad-pod-identity.

[code]

**Explain why AAD Pod Identity needs it**
To deploy aad-pod-identity successfull

[2021-02-18 08:43] AvigdorLevy commented on #889
Shouldn't it be at least 1 identity per namespace (w/o limitation as namespace r not limited)?

[2021-02-18 19:47] aaronjensen opened #977 "Restarting several pods at once results in 404s from mic recorded in nmi log"
**Have you**

- [x] Read [Troubleshooting Guide](../../docs/readmes/README.troubleshooting.md)
- [x] Read [Known Issues](../../docs/readmes/README.known-issues.md)
- [x] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**

Any time I restart several StatefulSets simultaneously, some permanently fail to come back online. I have to delete the pod to ge

[2021-02-18 21:36] chewong commented on #977
How are you getting a token in your workload? Are you using an ADAL library?

[2021-02-18 21:44] aaronjensen commented on #977
These particular workloads aren't using tokens. The tokens are used by https://github.com/Azure/secrets-store-csi-driver-provider-azure/

[2021-02-19 11:38] mnirck opened #978 "Not able to specify client id of managed identity"
**The set-up is as followed :**

We have an AKS cluster and a Signal-R resource configured in our environment. We have several micro services within the AKS cluster that need to contact Azure Resources outside the AKS Cluster.
For authentication we use the **aad-pod-identity** for using managed identities in the Azure Active Directory. For each resource that we connect from the AKS Cluster to a Az

[2021-02-19 12:42] hieumoscow commented on #945
Hi @bcho, would the [CVE-2021-1677](https://msrc.microsoft.com/update-guide/vulnerability/CVE-2021-1677) still be present in the addon and we would need to drop NET_RAW capability to mitigate it?

[2021-02-19 14:02] miwithro commented on #945
@hieumoscow yes that is correct.  For now you can follow this (https://github.com/ams0/opa-aad-pod-identity-kubenet) to assist.  We will be adding an Azure Policy to assist with this soon.

[2021-02-19 17:15] aramase commented on #978
@mnirck Which sdk are you using in your application? Typically sdks allowing specifying the clientID required for the managed identities. For instance, pod identity uses the golang sdk and there is an option: https://github.com/Azure/aad-pod-identity/blob/master/pkg/auth/auth.go#L87.

The usage should be documented in the sdk docs.

[2021-02-19 20:10] chewong commented on #977
@aramase could you help take a look?

[2021-02-19 20:45] aramase commented on #977
I don't see `myproj/view-data-service-0` in the MIC logs during the timeframe there is a token request in NMI `I0218 19:11:27.395877 `.  MIC relies on events from the API server for pods created/deleted/updated. It looks like MIC didn't get an update here. If you can repro this consistently, could you enable debug logs for MIC (add `-v=6` to the MIC deployment args) and share the logs during the t

[2021-02-19 23:54] aaronjensen commented on #977
Done, this is the failure in the nmi log:

[code]

And attached are the mic logs during the failure and then another set of logs from while I deleted the pod so it could recreate successfully.

**I tried to scrub these of personal data, but if you could delete them as soon as you download them that'd be appreciated**

[mic-logs.txt](https://github.com/Azure/aad-pod-identity/files/6013701/mic-logs.

[2021-02-20 14:16] hieumoscow commented on #945
Thanks @miwithro, I have a requirement from Istio that NET_RAW needs to be enabled.

Anyway for us to satisfy both to run securely in Kubenet? Would dropping the capability on the main container only, not on Istio sidecar and deny exec to istio sidecars be sufficient to mitigate the CVE?

Thanks for your help

[2021-02-22 23:11] aaronjensen commented on #977
@aramase can you please confirm you received the above logs so I can remove them?

[2021-02-22 23:27] aramase commented on #977
@aaronjensen I've deleted the files. Thanks for sharing the logs.

[2021-02-23 12:31] mnirck commented on #978
Yes indeed, you can specify it, but it won't work when you implement this.
When you specifie a client id, then he will go round robbin for the configured client id's.

[2021-02-23 15:27] miwithro commented on #945
Yes that works.

[2021-02-23 17:14] aramase commented on #978
@mnrick Not sure I understand. If there is a clientID in the token request, then NMI component of pod identity checks if there is a matching `AzureIdentity` with the clientID that the pod has access to. If it does, then it'll fetch the token and return back to the app. If not, then it'll return an error because that means the pod doesn't have access to the clientID it's requesting a token for.

[2021-02-24 10:01] mnirck commented on #978
We have 1 pod with multiple managed identities that connects to there Azure Resource. In this case it's the Signal R resource.
You can specify the client id in the connection string, but you can't specify a password in the connection string, because a managed identity does not work with a client secret. The Service Principal does.

So it's seems like only Service Principal is supported and not the

[2021-02-24 14:49] Tenseiga commented on #945
Hey Guys. it seems IStio has released ISTIO CNI to mitigate the elevated caps. Have any of u guys had played with that :D. Not sure if this is a right place to ask. :)

[2021-02-26 19:05] aramase opened #979 "Skip identity deletion if identity is being used by MIC"
**Describe the request**
Explore adding a check in MIC to skip un-assigning identity with the same `clientID` as the identity it is using for all Azure operations.

**Explain why AAD Pod Identity needs it**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-02-26 19:25] aramase commented on #978
@mnirck This change would be need in the SDK you're using. Pod Identity doesn't impose anything specific. When a token request for managed identity is sent to IMDS, it'll intercept the request, inspect it and check if there is matching `AzureIdentity` and send the request to IMDS if valid. So as long as your sdk populates the clientID in the token request for managed identity it should work. I'm n

[2021-02-28 11:19] V4A001 opened #980 "Between 600 to 700 managed identities token requests from single pod ?"
I see in my azure ad that about 600-700 requests per day are make to the AD from the Kubernetes managed identity. I do not believe this is normal or needed as tokens normally have 1 hour to live.

![image](https://user-images.githubusercontent.com/9630343/109416532-1bf9c400-79bf-11eb-9507-b3b7d685146e.png)

**Steps To Reproduce**
Not sure how to do this. Just have a .net core installed with 2 pod

[2021-03-01 17:19] aramase commented on #980
@V4A001 Pod identity requests token from the IMDS running on the VM. IMDS is the one that fetches the token and returns from AAD. AFAIK IMDS returns the token from cache if it's valid.

@rkammara12 Do you have any thoughts on this?

[2021-03-01 17:27] aaronjensen commented on #977
Thanks, @aramase. Have you been able to reproduce this? Last time I restarted my statefulsets 5 out of 7 of them hung and I had to delete the pods manually for each one. It's a pretty bad problem, though I realize probably not many people restart so many stateful sets at a time.

[2021-03-01 18:10] rkammara12 commented on #980
@aramase yes that is correct, things to note:
1. All the AAD tokens have 24hr token lifetime (currently there is no way that this can be changed)
2. IMDS always looks if there is a token available in the cache and returns it if it is valid. At the same time, as part of proactive renewal if a token is requested at times T1 and T2 where T2 - T1 >= 1hr, IMDS calls AAD to fetch a new token.

Please le

[2021-03-01 18:14] V4A001 commented on #980
@aramase : thank you. But why in the Azure AD I see my pod identity requesting > 600 times of access in last 24 hrs?

[2021-03-01 18:19] aramase commented on #980
By pod identity here, are you referring to the token requests from pod identity on behalf of the app pod or pod identity token requests by MIC to assign/unassign the identity?

This behavior is not something that's configured by pod identity. This could be how the underlying SDK is implemented. There is no client side caching/logic to determine the validity of the token. When requesting the token

[2021-03-01 20:40] aramase commented on #968
@whiskeysierra Identities are assigned at the VMSS level and need not be propagated to individual VM instances. Running the assign command is all you need for assigning the identity and the identity should be accessible to your applications.

[2021-03-01 20:42] V4A001 commented on #980
My 2 k8s clusters even report > 1200 over last 24 hrs. It are both the omsagent- and agentpool which are present. These are the identities which are present in the vm cluster resource group and are listed in the IAM of the k8s management cluster. In the nmi and mic pods I see a lot of these:

nmi:
0301 19:43:18.147907       1 server.go:192] status (200) took 63964619 ns for req.method=GET reg.path

[2021-03-01 23:06] #964 closed

[2021-03-02 19:01] b-odonoghue commented on #945
@bcho i see your linked rest-api issue is now closed should I be able to enable or build a AKS cluster using kubenet CNI and also enable-pod-identity?

I still am getting errors that say kubenet does not support PodIdentity addon. I made sure to update my azure-cli and aks-preview extensions

[2021-03-03 01:10] #979 closed

[2021-03-03 02:31] bcho commented on #945
@b-odonoghue hey, what's the version of aks-preview extensions are you using? We released as 0.5.3

[2021-03-03 02:55] b-odonoghue commented on #945
@bcho Ahh I apologize I thought I had moved to that version but looks like I am still on 0.5.2.

[code]

[2021-03-03 08:19] mnirck commented on #978
There are several Managed Identitties configured in to that pod and has a matching AzureIdentity, so if I understand you correctly this is a bug in the SDK then?

[2021-03-03 17:11] aramase commented on #978
That's right. SDK's typically allow setting the clientID in the token request. This is how NMI uses the go SDK to fetch a token with clientID on behalf of the workload pod: https://github.com/Azure/aad-pod-identity/blob/master/pkg/auth/auth.go#L87.

NMI parses the token request to get these values: https://github.com/Azure/aad-pod-identity/blob/master/pkg/nmi/server/server.go#L475-L485. If the `cl

[2021-03-03 20:01] aramase opened #984 "CVE-2021-24032"
[code]

build: https://dev.azure.com/AzureContainerUpstream/AAD%20Pod%20Identity/_build/results?buildId=18246&view=logs&jobId=7e664a44-1d98-5348-601c-dff379a14ab5&j=7e664a44-1d98-5348-601c-dff379a14ab5&t=85d7ea29-0d70-5a17-a97a-ed9f23dfb760

[2021-03-03 21:11] aramase opened #985 "[flake] should be backward compatible with old and new version of MIC and NMI"

[2021-03-03 22:11] chewong commented on #806
Happened in https://dev.azure.com/AzureContainerUpstream/AAD%20Pod%20Identity/_build/results?buildId=18248&view=logs&jobId=e17763bf-6a27-598e-668f-b70e15d07d94&j=e17763bf-6a27-598e-668f-b70e15d07d94&t=93cce482-4edf-57d8-10a6-93b61beb8757

[2021-03-03 23:28] aramase commented on #903
@phillipgibson Is the PR in the private repo merged? Can we close this issue now?

[2021-03-03 23:32] aramase commented on #892
Closing this issue now.

[2021-03-03 23:32] #892 closed

[2021-03-03 23:32] aramase commented on #881
Closing this issue now.

[2021-03-03 23:32] #881 closed

[2021-03-04 00:13] chewong commented on #895
aad-pod-identity does not currently support that. See https://github.com/Azure/aad-pod-identity/issues/895#issuecomment-739066132 for more details. Closing this issue for now but feel to re-open it if you have questions.

[2021-03-04 00:13] #895 closed

[2021-03-04 00:44] #984 closed

[2021-03-04 14:53] vishnujanardhanan opened #987 "Identity not found issue on AKS running on MSI"
**Have you**

- [ ] Read [Troubleshooting Guide](../../docs/readmes/README.troubleshooting.md)
- [ ] Read [Known Issues](../../docs/readmes/README.known-issues.md)
- [ ] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

We seem to get Identity not found error on AKS cluster spun up using MSI. This is causing issues with az login --identity and while pulling images from

[2021-03-04 15:09] phillipgibson commented on #903
Yes this has been merged. The initial PR was associated to the wrong docs repo.

[2021-03-04 15:09] #903 closed

[2021-03-04 16:27] neelam256 opened #988 "Huge number of calls were caused by AAD POD Identity"
Describe the bug:
We are seeing huge number of calls made by the aad-pod-identity,  This is causing throttling issue.
1. Where can I find the call made by mic pod/nmi pod?
2. Why do MIC pod/ NMI pod make huge number of calls?

AAD Pod Identity version: 1.7.4

Kubernetes version: 1.18.14

[2021-03-04 16:34] aramase commented on #903
Thanks, Phil!

[2021-03-04 16:40] aramase commented on #988
@neelam256 Which calls are you referring to? ARM API calls or Kube API calls?

Only MIC makes ARM requests. The # of requests is tied to how many identities you have configured on your cluster.

Do you have any data points for the # of calls?

[2021-03-04 16:55] aramase commented on #987
@vishnujanardhanan I looked at the support ticket. MIC uses the underlying cluster identity to authenticate and make cloud API calls to Azure for assigning/unassigning the identity. It looks like the issue here is the cluster identity is in fact not found. If you assign the agent pool identity to the VMSS it should work fine.

[2021-03-04 17:09] neelam256 commented on #988
@aramase
Which calls are you referring to ?
   Its ARM API call made by MIC, I am referencing.
we have only 47 AzureIdentity pods right now, most of them are more than 5 days old days , Only 2 Azureidentity pods are under 24 hours.
And we have around 150 pods which is using Azure identity
As per the logs i can see 62,230 call in last 24 hours, and I ran following query in Azure aks logs

AzureDiag

[2021-03-04 17:15] aramase commented on #988
@neelam256 Do you have a distribution of what the calls requests are? `PATCH`, `GET`?

Also, are there any errors in MIC triggering retries? MIC uses the azure-go-sdk. If the pod consuming the identity are deleted and re-created periodically, then that will trigger an ARM API call to unassign/assign the identity.

If you don't require the identities to be assigned by MIC and instead want to assign

[2021-03-04 17:58] neelam256 commented on #988
@aramase
Thanks for pointing out the ERROR, I looked at the MIC logs I see, for one namespace it was retrying , I delete that namespace , It is gone as of now.
I can't use the Managed mode. As I need Identity should be assigned during startup.
Do you think only one namespace ( two pods) is causing these many ARM calls ?

[2021-03-04 18:13] aramase commented on #988
@neelam256 MIC will retry until it succeeds for the identity to be assigned. So any error could result in retry API calls.

[2021-03-05 01:04] aramase commented on #987
@vishnujanardhanan I looked at the internal logs. The AKS kubelet identity was deleted by pod identity component MIC. This happens when the kubelet identity is configured for use by application using `AzureIdentity`. The way pod identity component MIC works is by assigning the identity defined in the `AzureIdentity` when 1st pod using it is created and un-assigns the identity when the last pod usi

[2021-03-05 09:28] sam-cogan opened #990 "Large Amount of CVE's"
**Have you**

- [x] Read [Troubleshooting Guide](../../docs/readmes/README.troubleshooting.md)
- [x] Read [Known Issues](../../docs/readmes/README.known-issues.md)
- [x] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
Our container image scanner is flagging the Pod Identity Images with being vulnerable to a large amount of CVE's. As I understand

[2021-03-05 17:28] aramase commented on #990
@sam-cogan We run image vulnerability scans as part of our CI and this is used as a release gate. We don't currently patch existing releases, but as the CVE's are detected, we patch the master. The CVE's detected as part of the CI scan have been fixed in the master and will be included in the next release.

https://github.com/Azure/aad-pod-identity/blob/9cd7c9cd6f12839e6ea45c765980575bc7e676ac/Doc

[2021-03-05 17:32] sam-cogan commented on #990
@aramase thanks, will wait for the next release

[2021-03-05 17:42] chewong commented on #990
@sam-cogan a lot of CVE you mentioned do not have a fix yet so there is no action item on our side for now.

[2021-03-05 17:50] aramase commented on #929
@kongbb I just tried the pod identity helm chart as dependency to another chart and can confirm it work as expected.

1. Added to `requirements.yaml`

[code]

2. Added to `values.yaml`

[code]

3. Ran helm install and can confirm the crds exists and the pod identity components are running as expected:

[code]

Helm version
[code]

[2021-03-05 18:15] #806 closed

[2021-03-09 08:22] deyanp commented on #846
@aramase , can this issue be reopened, in relation to this comment of mine on the Azure SDK thread: https://github.com/Azure/azure-sdk-for-net/pull/18313#issuecomment-793530307

[2021-03-09 19:34] aramase commented on #988
@neelam256 Did you have any other questions?

With managed mode, you can assign the identity initially and that'll never be deleted. Which means there are no ARM calls during runtime as there is no MIC dynamically assigning and un-assigning the identity.

[2021-03-09 19:35] aramase commented on #987
Closing this issue with the above recommendation and [PR](https://github.com/Azure/aad-pod-identity/pull/981) to improve this behavior. This change will be part of `v1.7.5` release.

[2021-03-09 19:35] #987 closed

[2021-03-10 00:30] bcho commented on #945
@aramase yeah the rollout is complete, I am working with @miwithro to update the public doc

[2021-03-10 00:41] aramase commented on #945
Thank you @bcho. We can close this issue once we have a reference to the public docs.

[2021-03-10 08:46] PSanetra opened #992 "IMDS endpoint availability is delayed"
The IMDS endpoint, which is created by the NMI, is not always directly available after Pod startup. This causes critical issues with libraries, which expect the endpoint to be always available: https://github.com/Azure/azure-sdk-for-net/issues/18312

There is currently one generic workaround available by adding an `initContainer` to the pods, which are using the IMDS endpoint. The container should

[2021-03-10 08:48] PSanetra commented on #846
@chewong I have created a new issue: https://github.com/Azure/aad-pod-identity/issues/992

[2021-03-10 17:14] aramase commented on #985
Still flaky: https://dev.azure.com/AzureContainerUpstream/AAD%20Pod%20Identity/_build/results?buildId=18643&view=logs&j=7f33e5bd-7764-5d8a-ba2e-506e078b9c3f&t=2c8b6290-e0fb-58b4-e286-2fef5231bbea&s=d654deb9-056d-50a2-1717-90c08683d50a

[2021-03-10 17:47] chewong commented on #992
I think the delay is caused by underlying identity assignment to the node described in https://azure.github.io/aad-pod-identity/docs/best-practices/#retry-on-token-retrieval. One workaround, as you mentioned, is to implement a init container that probes the IMDS endpoint until it's available. You can also look into managed mode (https://azure.github.io/aad-pod-identity/docs/configure/pod_identity_

[2021-03-10 20:44] PSanetra commented on #992
@chewong anyway, I think this is a problem which must be handled by Microsoft. Either by making sure that the libraries (in this case the Azure .NET SDK) are fault tolerant against these types of errors (which is currently not the case) or by providing some out-of-the-box solution like a mutating admission webhook in Kubernetes to apply that workaround to all affected pods by default.

[2021-03-11 02:29] leonard520 commented on #570
Any plan/roadmap for this enhancement as ADAL is going to be retired. Thanks a lot.

[2021-03-11 14:15] calvinShan commented on #958
Hi @aramase  do you have an idea or an example how to use admission controller/ policies in order to deny pod requests with the label aadpodidbinding? Thanks

[2021-03-11 21:16] tonedefdev opened #993 "Add register.go to API to import scheme to external Operators/CRDs"
**Describe the request**

Add a `register.go` to the `pkg/apis/aadpodidentity/v1/` that includes the `AddToScheme` variable so this CRD can be added to other CRDS

**Explain why AAD Pod Identity needs it**

Currently, when developing an Operator that makes use of this CRD it's rather difficult without forking the code and adding the `register.go` manifest

**Describe the solution you'd like**

All

[2021-03-11 23:23] aramase commented on #570
@leonard520 The library https://github.com/AzureAD/microsoft-authentication-library-for-go is not yet in public preview. We'll be able to adopt it and make changes once it's supported.

[2021-03-12 01:15] #947 closed

[2021-03-12 01:15] #969 closed

[2021-03-12 01:15] #975 closed

[2021-03-12 01:21] chewong opened #994 "ci: remove role assignments from aad-pod-identity-artifacts resource group"
dangling role assignments are represented as `Identity not found` entry in the Azure portal
![image](https://user-images.githubusercontent.com/10557231/110877318-1721f380-828e-11eb-8566-4976a60757cb.png)
We will need to remove them after finish running the e2e test.

[2021-03-12 22:27] mariohdez opened #995 "nmi ListAndWatch timeout causes ManagedIdentityCredential authentication unavailable"
**Describe the bug**

We are using AAD-Pod-Identity set up for our "pod level msi". Our pods will start throwing `Azure.Identity.CredentialUnavailableException ManagedIdentityCredential authentication unavailable. No Managed Identity endpoint found`. What happens is, our service is trying to fetch an access token to Azure Storage account, and then we will continue to hit the CredentialUnavailableE

[2021-03-12 22:32] aramase commented on #995
@mariohdez Issue #780 is caused by having a firewall. Do you have a firewall?

[code]

This error indicates the NMI pods can't reach the API server. I would recommend looking at the API server logs to determine why the API server is unreachable here.

[2021-03-12 22:46] mariohdez commented on #995
@aramase how do I look at api server logs? is this kubernetes api server we are referring to?

[2021-03-12 22:50] aramase commented on #995
@mariohdez That's right, I'm referring to the Kube API server. NMI uses the go Kubernetes client to establish a watch connection with the API server. This is how NMI gets the pod information. But from your logs, it looks like connection to the Kubernetes API server fails to establish. This could mean there is an issue with your API server or network issues in your cluster.

[2021-03-13 00:57] mariohdez commented on #995
@aramase sure. set up log collection from the api server. do you have examples of the log_s field where the nmi kubernete's client is trying to establish a watch connection to the api server?

[2021-03-13 01:13] aramase commented on #995
@mariohdez You can correlate based on the error time in the NMI logs. For instance, the last occurrence based on the logs you posted is `17:49:48.193505`. If there are user agents in the logs, then you can see the pod identity user agent as well `aad-pod-identity/NMI`

[2021-03-15 15:23] twendt opened #997 "NMI fails on non-AKS cluster due to kubenet check"
**Describe the bug**
We have some Kubernetes clusters running in Azure that are deployed with Rancher. These clusters are not AKS. AAD Podidentity used to work without any issues here. Since 1.7 introduced the check if kubenet is enabled, the NMI fails now. There is no kubelet config file available on the node at all.

This is the related code:
[code]

We have been able to work around the issue by

[2021-03-15 16:03] aramase commented on #997
@twendt Where is the kubelet config for clusters deployed with Rancher?

[2021-03-15 16:15] aramase commented on #980
The reconciliation loop in MIC is to ensure identities are still assigned correctly to the underlying VMSS. The default reconciliation period is 3m, but you can configure that using the helm chart value `mic.identityAssignmentReconcileInterval` https://github.com/Azure/aad-pod-identity/tree/master/charts/aad-pod-identity#configuration.

There is no caching in pod identity for the tokens. The token

[2021-03-15 16:25] twendt commented on #997
@aramase I could not find any. Kubelet runs as a docker container that was deployed by rke. The network-plugin is configured in the container entrypoint command line options.

[2021-03-15 16:35] aramase commented on #997
@twendt Thank you. I think we can change the code to skip the check for the kubelet config file if `--allow-network-plugin-kubenet` is set to true. I'll add this to the next release.

[2021-03-15 16:59] twendt commented on #997
@aramase Great thank you for your quick response.

[2021-03-15 19:09] dawn-chu opened #1000 "Can't find pod identity metrics in promethus"
Hi,
      We have aad-pod-identity helm chart and promethus-operator helm chart installed and working on our AKS cluster. We are able to see metrics from promethus of the node (node_exporter) to the container (cAdvisor). But We are not able to see any pod identity metric. Is there anything else required to enable those metrics?
![image](https://user-images.githubusercontent.com/16061334/111207811-

[2021-03-15 20:02] #997 closed

[2021-03-15 21:21] dawn-chu commented on #1000
https://azure.github.io/aad-pod-identity/docs/configure/prometheus_monitoring/

[2021-03-15 21:26] aramase commented on #1000
@dawn-chu By default MIC and NMI will post metrics on the port and url as mentioned in the doc. You can setup prometheus to scrape the metrics endpoint to collect the metrics.

[2021-03-16 00:24] chewong commented on #661
With the introduction of https://github.com/kubernetes/enhancements/pull/1111, we might have to change the name of our CRDS to exclude `.k8s.io`. it's reserved for CRDs created by the Kubernetes community has gone through the API review process. Without the `api-approved.kubernetes.io` annotation, we will receive the following error:

[code]

[2021-03-16 02:45] vsabella commented on #509
@aramase We are still seeing this in Azure Commercial when we are assigning identities to a dozen pods at a time.
Specifically when using the identity for the same MSI across 10 pods spinning up super fast.

[2021-03-16 18:07] aramase opened #1002 "Add FileOrCreate to kubelet config in the manifests"
Add `FileOrCreate` to `/etc/default/kubelet` volume mount to ensure NMI starts successfully in non-kubenet clusters with no `/etc/default/kubelet` file.

https://github.com/Azure/aad-pod-identity/blob/ee1786f39d1e5fc012a5a6b1f2e8695c7b1edaf6/deploy/infra/deployment-rbac.yaml#L123-L125

[2021-03-16 19:18] chewong commented on #921
Hi all, if the goal is to have AAD Pod Identity running in a non-Azure environment, the closest we have got is using a service principal credential (stored as a Kubernetes secret) to authenticate MIC (see https://azure.github.io/aad-pod-identity/docs/configure/deploy_aad_pod_dedicated_sp/). Alternatively, as @aramase mentioned, you can skip MIC installation by combining the [managed mode](https://

[2021-03-16 19:18] #921 closed

[2021-03-16 19:21] aramase commented on #949
@V4A001 Thank you for the feedback.

The pod identity being disabled in Kubenet was to address a security concern with network plugin Kubenet. We tried to add as much detail as possible to the docs so users take necessary precautions while enabling it in a cluster with kubenet. If you wish to install, then you can use the helm configuration `nmi.allowNetworkPluginKubenet=true` and that should enab

[2021-03-16 19:21] #949 closed

[2021-03-16 19:22] aramase commented on #988
@neelam256 Does the above answer your question?

[2021-03-16 19:23] aramase commented on #978
Closing this issue because using the `client_id` is already supported with pod identity.

https://github.com/Azure/aad-pod-identity/blob/ee1786f39d1e5fc012a5a6b1f2e8695c7b1edaf6/pkg/nmi/server/server.go#L478-L482

Please feel free to re-open if you have any additional questions.

[2021-03-16 19:23] #978 closed

[2021-03-16 19:24] aramase commented on #945
Closing this with https://docs.microsoft.com/en-us/azure/aks/use-azure-ad-pod-identity#using-kubenet-network-plugin-with-azure-active-directory-pod-managed-identities

[2021-03-16 19:24] #945 closed

[2021-03-16 19:25] aramase commented on #929
@kongbb Any updates on this one?

[2021-03-16 20:51] jozamp opened #1003 "Attempting to use an managed identity created in a different subscription from the cluster subscription fails."
**Describe the bug**

Attempting to use an managed identity created in a different subscription from the cluster subscription returns an error;

Resource group _[valid resource group]_ could not be found.

**Steps To Reproduce**
1) create a pod identity enabled aks cluster in subscription (A)
2) create a managed identity in subscription (B)
3) attempt to bind the managed identity to a namespace us

[2021-03-16 20:55] jawhites commented on #1003
@palma21 who can we work with in AKS to review this bug?

[2021-03-16 21:04] smartaquarius10 opened #1004 "Details regarding forcing namespace matching are not available?"
Team,

I've single team AKS environment  in which I'm already using AAD pod identities. But, now I'm migrating it to shared AKS environment so that other teams can also work on this.

To safeguard ourselves from malicious pod I need to check this [feature: forced namespace matching](https://github.com/Azure/aad-pod-identity/blob/master/docs/readmes/README.namespaced.md). But, the readme is not ava

[2021-03-16 21:11] smartaquarius10 commented on #560
@aramase , Could you please share the updated link as this one is not working
 https://github.com/Azure/aad-pod-identity/blob/master/docs/readmes/README.namespaced.md

[2021-03-16 21:12] aramase commented on #1004
Please refer to https://azure.github.io/aad-pod-identity/docs/configure/match_pods_in_namespace/ for more details. All the markdown files have been moved to the docs site at https://azure.github.io/aad-pod-identity/docs

[2021-03-16 21:16] aramase commented on #560
@smartaquarius10 I shared in the issue you opened: https://github.com/Azure/aad-pod-identity/issues/1004#issuecomment-800609000

Cross posting for future reference:
Please refer to https://azure.github.io/aad-pod-identity/docs/configure/match_pods_in_namespace/ for more details. All the markdown files have been moved to the docs site at https://azure.github.io/aad-pod-identity/docs

[2021-03-16 23:52] mariohdez commented on #995
Hi @aramase , we hit the exception again on our service side. we saw the same nmi exception. however, this time we are collection kube apiserver logs. Here are the logs our kube api server is saying:

`1 controlbuf.go:508] transport: loopyWriter.run returning. connection error: desc = "transport is closing"`

`I0316 23:15:19.899601       1 controlbuf.go:508] transport: loopyWriter.run returning. c

[2021-03-16 23:53] mariohdez commented on #995
@aramase any other suggestions on what logs to investigate?

[2021-03-17 00:32] aramase commented on #995
@mariohdez Are there logs before this event indicating any issues in the kube-apiserver? The connection is being closed by the kube-apiserver and that's what we are seeing in the NMI logs you shared.

[2021-03-17 05:06] mariohdez commented on #995
The logs around this period indicate that the kube apiserver is healthy.

[2021-03-17 05:49] smartaquarius10 commented on #1004
@aramase Thank you for sharing the details. Have a nice day. Take care.

[2021-03-17 09:31] kongbb commented on #929
@aramase I can confirm that can work. Thanks.

[2021-03-17 09:31] #929 closed

[2021-03-17 12:28] vickeyrihal1 opened #1005 "monitoring metrics for MIC's failed attempt to attach MSI to VM/VMSS"
Following the AAD outage that happened yesterday, MIC was unable to attach MSIs to few VMSS/VM. As a result, the newly scheduled pods were impacted.

Could you help us with setting up monitoring metrics and help logging for such failed MSI attempts? We couldn't find any related error logs in aad-pod-identity logs. Any help on sharing the related metrics should help:

- Log filters
- Monitoring met

[2021-03-17 12:51] madhurichilaka opened #1006 "Error while installing the latest version of AAD Pod Identity. Error: Internal error occurred: failed calling webhook "example.terraform.io": Post "https://example-service.default.svc:443/?timeout=10s": service "example-service" not found"
**Have you**

- [x] Read [Troubleshooting Guide](../../docs/readmes/README.troubleshooting.md)
- [x] Read [Known Issues](../../docs/readmes/README.known-issues.md)
- [x] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
'Error: Internal error occurred: failed calling webhook "example.terraform.io": Post "https://example-service.default.svc:443/?tim

[2021-03-17 16:13] aramase commented on #1006
@madhurichilaka That's not a pod identity error. You have a webhook deployed in the cluster which isn't responding. So any new pod creation will fail. I would recommend fixing the webhook and then retrying.

[2021-03-17 17:49] aramase commented on #1004
Closing this issue with the docs url. Please feel free to open a new issue if you have any questions.

[2021-03-17 17:49] #1004 closed

[2021-03-17 17:50] aramase commented on #1003
@bcho @miwithro Could you help take a look?

[2021-03-17 21:56] dawn-chu commented on #1000
Thanks, I'll give it a try. BTW, it would be good to have configuration to enable it as what keda does: https://github.com/kedacore/charts/tree/master/keda

[2021-03-17 22:21] smartaquarius10 opened #1008 "Is Azure Active Directory Pod Identities decommissioning?"
Team,

I've seen on this [link ](https://docs.microsoft.com/en-us/azure/aks/use-azure-ad-pod-identity)that AAD pod identities is in preview mode now. Does that mean Microsoft is closing the support or totally decommissioning the feature.

In the latter case, do we have any other approach available through which pod can interact with the Azure resources in a secure way.

Sorry if my understanding i

[2021-03-18 01:51] vsabella opened #1009 "AAD Pod Identity takes a very long time ( tens of minutes to an hour) to bind a pod to the identity AzureAssignedIdentity. Azure Commercial"
- [ X ] Read [Troubleshooting Guide](../../docs/readmes/README.troubleshooting.md)
- [ X ] Read [Known Issues](../../docs/readmes/README.known-issues.md)
- [ X ] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

Currently on AAD Pod Identity, when deploying a pod with a bound identity, it takes a long time for that pod to have an entry created in AzureAssignedIdentitie

[2021-03-18 03:56] dawn-chu commented on #1000
@aramase  Our service is using [Promethus-operator](https://github.com/helm/charts/tree/master/stable/prometheus-operator) helm chart to install promethus on our AKS cluster, in promethus-operator, you need to create a podMonitor to scrape the metrics, However, it needs port field which is the name of the pod port this endpoint refers to. I'm able to get it all working by adding below to the nmi/m

[2021-03-18 04:07] bcho commented on #1003
Ack. Thanks for the report and suggestions @jawhites I will take a look today

[2021-03-18 05:09] vsabella commented on #1009
Note: I've been able to verify that this problem does not reproduce in East US 2 - Opening an Azure Support Ticket.

Also we'll look into making a PR to add additional logging to aad-pod-identity :)

[2021-03-18 16:13] chewong commented on #1008
Going forward, we will be maintaining both the open-source version and the managed version of aad-pod-identity.

[2021-03-18 16:20] aramase commented on #1000
@dawn-chu We already have the port in the helm charts:

https://github.com/Azure/aad-pod-identity/blob/ee1786f39d1e5fc012a5a6b1f2e8695c7b1edaf6/charts/aad-pod-identity/templates/mic-deployment.yaml#L156-L159

Are you using the deployment yamls? We should add this to the yamls as well. Would you be interested in opening a PR to add it to the manifests in [here](https://github.com/Azure/aad-pod-iden

[2021-03-18 16:23] aramase commented on #1005
@vickeyrihal1 PTAL at https://azure.github.io/aad-pod-identity/docs/configure/prometheus_monitoring/ for metrics. We have error logs for failure to assign the identities. PTAL at https://azure.github.io/aad-pod-identity/docs/troubleshooting/ for more information.

[2021-03-18 16:25] ekhaydarov commented on #778
This whole thing is a car crash

[2021-03-18 17:14] aramase commented on #1009
The force resync is done by the reflector in client-go library that we use. MIC and NMI establishes a watch connection with the API server to get pod create/update/delete events. If there are delays here then I assume the connection timed out but wasn't terminated. Do you see anything interesting in the API server logs around that time frame?

This establishes a new tcp connection so it'll get all

[2021-03-18 17:16] aramase commented on #1009
I've also opened a PR to update the client-go library versions https://github.com/Azure/aad-pod-identity/pull/1010 to include  fixes for broken connections from client-go clients.

[2021-03-18 18:05] aramase commented on #1009
Could you also share the support ticket number?

[2021-03-18 19:30] dawn-chu commented on #1000
@aramase  I'm using the deployment yamls, I can repro with `helm template aad-pod-identity aad-pod-identity/aad-pod-identity`

below is the output mic yaml, which doesn't have the container port:

# Source: aad-pod-identity/templates/mic-deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: aad-pod-identity-mic
  namespace: default
  labels:
    app.kubernetes.io/name: aad-pod-ide

[2021-03-18 19:32] dawn-chu commented on #1000
It is weird that port is in the mic-deployment.yaml but not in the actual deployment
 ports:
   - containerPort: {{ .Values.mic.prometheusPort }}
     name: metrics
     protocol: TCP

[2021-03-18 19:33] aramase commented on #1000
@dawn-chu The port is only set when `{{- if .Values.mic.prometheusPort }}` prometheusPort is defined in the values file. By default we don't set it.

[2021-03-18 19:36] dawn-chu commented on #1000
Thanks, I saw that, I'll give a try. I think it would be better to have this in [configuration](https://github.com/Azure/aad-pod-identity/tree/master/charts/aad-pod-identity#configuration) and [doc](https://azure.github.io/aad-pod-identity/docs/configure/prometheus_monitoring/), which would be more clear.

[2021-03-19 01:17] #1000 closed

[2021-03-19 05:44] bcho commented on #1003
I just checked the cli extension, it has been fixed in 0.5.6 (https://github.com/Azure/azure-cli-extensions/pull/3149) . @jozamp @jawhites could you update and try again? I tested in my local environment and it worked. Thanks!

[2021-03-19 18:42] smartaquarius10 commented on #1008
@chewong , Ok. So basically Microsoft will not support aad in the near future due to which they have put it on preview mode.

But, what is the managed version. Is it covering services like paid support or incident tickets etc. Do we have any documentation or details related to this version.

[2021-03-19 19:20] chewong commented on #1008
I don't think that is true.

Open-source version (this repo): have both standard and [managed mode](https://azure.github.io/aad-pod-identity/docs/configure/pod_identity_in_managed_mode/) and you can install it through Helm chart.

https://docs.microsoft.com/en-us/azure/aks/use-azure-ad-pod-identity: install and interact with aad-pod-identity via azure-cli. Regarding the support policy, based on th

[2021-03-19 21:13] johnwatson484 opened #1011 "AAD Pod Identity takes over five minutes to associate pod IP to assignedIdentity"
We have been working with a Microsoft engineer today to debug this issue.  Here is what we are seeing.

1. We restart the NMI pod at 17:06:26

[code]

2. Application pod is deployed at 17:09:19
3. We confirm that MIC assigns identity to VMSS and there is a corresponding azureassignedidentities resource
4. We view logs in the application pod, and notice it still has not been able to represent manag

[2021-03-19 21:40] smartaquarius10 commented on #1008
@chewong , Thank you for the details. But as far as I know microsoft puts anything in preview mode when they usually plans to decommission it.

Other than that, could you please suggest me one thing. Is it correct to quote that manage mode can add one extra level of security especially in the case of shared instance.

I haven’t read about forced name matching rules till now but I’m migrating my AK

[2021-03-19 21:48] aramase commented on #1011
Thank you for opening the issue @johnwatson484.

NMI uses the client-go informer client to establish a WATCH connection with the API server. The informer client gets pod create/delete/update events from the API server and populates in the cache. This error `list pod error: pod list is empty. Retrying, attempt number: 1` indicates that NMI hasn't received any events from the API server leaving the

[2021-03-19 22:08] chewong commented on #1008
As far as I know, that's not always the case. If something is in preview mode, we will either make it generally available to the public after a period of time OR decommission it.

That's right, only pods within a namespace can access identities defined for the namespace.

[2021-03-20 12:49] johnwatson484 commented on #1011
Thanks @aramase.

We tried manually killing the NMI pods to see if it prompted the identity to be received faster with no luck.

Where would I find the FQDN?  It's a private cluster.

[2021-03-22 10:57] madhurichilaka commented on #1006
@aramase Thanks a lot for the prompt response! Actually the issue is raised only while installing the mic pods. nmi pod creation was successful. That's the reason I was suspecting some issue with AAD Pod Identity installation.

The issue is fixed now. We have removed the unwanted webhooks which was causing this issue from the cluster. Thanks again for the support!

[2021-03-22 13:57] evanlangbehn commented on #1011
Hello @aramase

I am the MSFT support engineer that was working with John on this one. I now have an internal repro in the northeurope region that I can demonstrate this behavior on demand. Here is what it looks like:

1. the 5+ minutes of wait for NMI to get something back from its WATCH command only occurs if we are adding the MSI to the VMSS for the first time. If it is already assigned to VMSS

[2021-03-22 15:57] dhilipkumars opened #1012 "MIC Cloud Provider patch takes a long time around 16mins"
**Have you**

- [ ] Read [Troubleshooting Guide](../../docs/readmes/README.troubleshooting.md)
- [ ] Read [Known Issues](../../docs/readmes/README.known-issues.md)
- [ ] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
Every now and then we see the below status in MIC logs
[code]
it takes around 16mins only when Number of Cloud provider Patch is >

[2021-03-22 16:25] #1006 closed

[2021-03-22 16:30] jozamp commented on #1003
Great to hear! Though I don't see 0.5.6 available in the available extension list - what am I missing?

PS D:\jozamp\repos\streaming\services.infra> az extension list-available | sls "aks-preview" -Context 4

[code]

[2021-03-22 16:45] chewong commented on #1012
Could you confirm that you are also seeing NMI errors similar to https://github.com/Azure/aad-pod-identity/issues/1011?

[2021-03-22 16:58] #576 closed

[2021-03-22 17:08] dhilipkumars commented on #1012
we do not see that error in the NMIs (i will double check on our other clusters as well) but MIC goes to blocked state as soon as we see below log entry from `cloudprovider.go`  as you can see from the below logs.  does `cloudprovider.go:210` performs an azure call?

[code]

[2021-03-22 17:09] dhilipkumars commented on #1012
when the `Number of cloud provider PATCH: 0`   then `Total:` is always in sub-secs

[2021-03-22 17:34] chewong commented on #1012
It does. PATCH call in this context means that MIC is trying to assign/unassign the user-assigned identity to the underlying VMSS instance via azure-sdk-for-go.

16 minutes is unusual because it usually takes at most 60 seconds to assign/unassign identities. I am suspecting that the MIC client is getting throttled and the error was not showing up correctly in the log because of a bug we recently d

[2021-03-22 17:54] dhilipkumars commented on #1012
Thanks for the response @chewong , could you tell us what is the exact Azure API the patch uses, we will follow-up with Microsoft support team to to  confirm if we are being throttled?

In the meantime we will also look at upgrading to 1.7.4.

[2021-03-22 18:09] chewong commented on #1011
I was able to repro with the steps you provided above:

[code]

With the same cluster, I uninstalled v1.7.4, unassign the user-assigned identity from the VMSS, and built MIC and NMI that included https://github.com/Azure/aad-pod-identity/pull/1010. Here is the result:
[code]

The demo did run successfully. We are planning to publish a release candidate for v1.7.5, which will include https://github

[2021-03-22 18:14] chewong commented on #1012
We use https://github.com/Azure/azure-sdk-for-go/blob/v40.4.0/services/compute/mgmt/2019-12-01/compute/virtualmachinescalesets.go#L1726-L1755 to assign/unassign identities from VMSS.

[2021-03-22 20:48] smartaquarius10 commented on #1008
@chewong , Great . Thanks a lot for helping. Closing the issue. Take care.. Have a nice day.

[2021-03-22 20:48] #1008 closed

[2021-03-23 00:21] angelbulas-mq opened #1013 "error retrieving resource lock default/aad-pod-identity-mic: Get "https://10.0.0.1:443/api/v1/namespaces/default/endpoints/aad-pod-identity-mic": context deadline exceeded"
**Have you**

- [x] Read [Troubleshooting Guide](../../docs/readmes/README.troubleshooting.md)
- [x] Read [Known Issues](../../docs/readmes/README.known-issues.md)
- [x] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
We usually get issues when we try to scale down more than 5 pods at the same time, we get restarts from aad-pod-identity-mic and g

[2021-03-23 06:45] tareks opened #1014 "OpenAPI definitions for Custom Resource Definitions"
**Describe the request**
It appears that the current CRDs do not define an OpenAPI spec such as openAPIV3Schema and uses OPA rego to enforce formatting.

Sample: https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/

**Explain why AAD Pod Identity needs it**
Would streamline the use of the current aad-pod-identity CRDs with tools such as the upcoming terr

[2021-03-23 12:11] evanlangbehn commented on #1011
I would be more than happy to test it. Is that something I can test now, or I have to wait for additional items to be updated to have the opportunity to test 1.7.5?

[2021-03-23 18:20] tshaiman opened #1015 "Pod Identity In managed Mode Docs *typo*"
looking at the docs here :
https://azure.github.io/aad-pod-identity/docs/configure/pod_identity_in_managed_mode/#managed-mode

the sample for assigning roles to VMSS is  :
az vmss identity assign -g <VM resource group name> -n <**VM name**> --identities <resource ID of managed identity>
should be  :
az vmss identity assign -g <VM resource group name> -n <**Scale Set Name**> --identities <resource

[2021-03-23 18:25] aramase commented on #1015
@tshaiman Would you be interested in opening a PR to fix the typo in [here](https://github.com/Azure/aad-pod-identity/blob/master/website/content/en/docs/Configure/pod_identity_in_managed_mode.md)?

[2021-03-23 18:56] tshaiman commented on #1015
sure :
vmss typo by tshaiman · Pull Request #1016 · Azure/aad-pod-identity
(github.com) <https://github.com/Azure/aad-pod-identity/pull/1016>

also I accidentally Forked into Microsoft instead to my Account.

On Tue, Mar 23, 2021 at 8:25 PM Anish Ramasekar ***@***.***>
wrote:

[2021-03-23 19:00] #1015 closed

[2021-03-23 20:56] chewong commented on #1011
We have published `v1.7.5-rc.0`. You can run the following commands to test it (assuming you installed the latest aad-pod-identity through helm):
[code]

[2021-03-23 21:06] chewong commented on #1014
Part of https://github.com/Azure/aad-pod-identity/issues/661.

[2021-03-23 21:06] #1014 closed

[2021-03-23 21:08] chewong commented on #1013
We fixed an API server connectivity issue with https://github.com/Azure/aad-pod-identity/pull/1010 and published v1.7.5-rc.0. If possible, could you follow https://github.com/Azure/aad-pod-identity/issues/1011#issuecomment-805250011 and try out v1.7.5-rc.0?

[2021-03-23 23:10] angelbulas-mq commented on #1013
It is quite better now, after i scale down 22 pods to zero and then scale them up again, i got 3 mic restarts with this error:

`I0323 23:03:57.953361       1 request.go:645] Throttling request took 1.120820187s, request: POST:https://10.0.0.1:443/apis/aadpodidentity.k8s.io/v1/namespaces/default/azureassignedidentities
I0323 23:04:00.209854       1 cloudprovider.go:215] updating user-assigned iden

[2021-03-23 23:19] mariohdez commented on #995
Hey @aramase, this exception is continuing to happen. When this exception occurs, I have verified that the kube apiserver is healthy. Anything else you suggests we investigate on our side?

[2021-03-23 23:25] aramase commented on #995
@mariohdez I would recommend trying out rc image which has updated client-go libraries that contain health checks for the Kubernetes client connections. Refer to this comment https://github.com/Azure/aad-pod-identity/issues/1011#issuecomment-805250011 for more details.

The API server is closing the connections and new connections are failing according to `dial tcp 10.0.0.1:443: connect: connectio

[2021-03-24 00:30] chewong commented on #1013
Looks like there are problems with leader election. By default, we run two MIC pods. Do you know if the leader lease is transferred to the second pod after the first one is restarted? cc @aramase

[2021-03-24 00:45] angelbulas-mq commented on #1013
The other mic pod does not acquire the leader lease and it sends this error when the mic pod that has the leader lease restarts:

` E0324 00:39:06.924884       1 leaderelection.go:325] error retrieving resource lock default/aad-pod-identity-mic: Get "https://10.0.0.1:443/api/v1/namespaces/default/endpoints/aad-pod-identity-mic": http2: client connection lost `

Then the other pod comes up but got

[2021-03-24 02:58] mariohdez commented on #995
@aramase can you explain what rc image is?

[2021-03-24 11:42] evanlangbehn commented on #1011
@chewong

Thank you for the help command. It does seem to resolve this issue. Please see more details below:

1. Confirmed I was still in repro state with 1.7.4
2. Installed new container images using helm command provided
3. Confirmed the demo MSI was **not** assigned to VMSS
4. Deployed Demo pod. Previously this would mean 5-6 minutes of wait.

demo logs:
I0324 11:36:37.647895       1 main.go:42

[2021-03-24 14:35] alexl2012 opened #1017 "Removal Of MIC Controllers"
Hi , i have noticed that MIC controllers have been removed as Pod Identity has been added to AKS as an Addon.

Please please reconsider this design changes, it comes with some serious limitations which make it a lot less clear and a lot less workable to use.

For example before we had a chart file that lives in the repo and was part of the service that it belonged to, this was created as part of a

[2021-03-24 15:01] davidwinchurch commented on #1017
This change from a tested and working config as code solution to a pipeline task caused me to lose a day to deployment issues. It's hard to see what advantages this new approach provides to justify this disruption.

[2021-03-24 16:13] chewong commented on #1011
The log looks good. Thanks for confirming

[2021-03-24 16:17] chewong commented on #1017
I can't comment on the AKS design choice, however, we will continue maintaining the open-source version of aad-pod-identity (this repo) so you are more than welcome to continue using it over the AKS add-on.

[2021-03-24 16:25] alexl2012 commented on #1017
@chewong the reason i have added the comments here is because Microsoft support said this was the best place to give this kind of feedback, how would you suggest we best ensure it reaches the relevant team?

[2021-03-24 16:27] aramase commented on #1013
Have you looked at the logs for the kube-apiserver? All the errors in MIC while trying to acquire the leader lock or become the leader seem to indicate error connecting to the apiserver.

[2021-03-24 16:30] aramase commented on #995
@mariohdez That is the release candidate for the next release which has been published for testing. We'll be cutting an official release `v1.7.5` early next week.

[2021-03-24 16:32] chewong commented on #1017
https://github.com/Azure/AKS/issues is a great place to reach out to the AKS team.

[2021-03-24 19:01] evanlangbehn commented on #1011
Awesome. Thank you for your help on this one. is there an ETA on release date for 1.7.5?

[2021-03-25 01:12] angelbulas-mq commented on #1013
Yes, at the time the issue happens, we get this error on kube-apiserver:

`
I0325 00:59:40.018964       1 client.go:360] parsed scheme: "passthrough"
I0325 00:59:40.019028       1 passthrough.go:48] ccResolverWrapper: sending update to cc: {[{https://etcd-603589ef285aaa00019ec2a5-client:2379  <nil> 0 <nil>}] <nil> <nil>}
I0325 00:59:40.019047       1 clientconn.go:948] ClientConn switching balance

[2021-03-25 09:40] adhodgson1 opened #1018 "Helm chart: Provide user facing cluster roles"
I have seen some Helm charts for popular applications provide user facing cluster roles which allow various operations on the custom CRD resources which usually aggregate into the built-in Kubernetes admin, edit and view roles.

This would help in situations where you have service accounts for deployments and you want to either bind specific cluster roles or use the built-in Kubernetes namespace a

[2021-03-25 18:05] Arseigna commented on #780
Hello,
Have exactly same issue since 16th March on 3 AKS clusters (No Azure firewall in setup).

W0325 17:19:21.213121       1 reflector.go:424] pkg/mod/k8s.io/client-go@v0.19.6/tools/cache/reflector.go:156: watch of *v1.AzureAssignedIdentity ended with: an error on the server ("unable to decode an event from the watch stream: http2: client connection lost") has prevented the request from succeedi

[2021-03-25 18:08] Arseigna commented on #995
Hi Aramase,
Could you please confirm that 1.7.5 (RC0) has the fix for issue: https://github.com/Azure/aad-pod-identity/issues/995

Have exactly same problem and nmi upgrade to 1.7.5 RC0 haven't made any difference.

Regards,
A

[2021-03-25 18:11] aramase commented on #995
@Arseigna What is your cluster fqdn?

`v1.7.5-rc.0` has client side improvements from the clien-go library but this error
[code]
is from the api server. The watch connection is being terminated and NMI at this point will try to reestablish the connection.

[2021-03-25 18:18] aramase commented on #780
@Arseigna Did you upgrade your Kubernetes cluster or AAD Pod Identity version on March 16th? Trying to isolate the changes which started triggering this behavior? What is your cluster fqdn?

[code]

That error is API server terminating the connection and NMI having to reestablish it.

[2021-03-25 19:02] Arseigna commented on #995
@aramase,
Thanks for comment!
My cluster nodes are in private Vsub-net, would not be accessible anyway. API Server is internet routable thought under standard MS domain.

Regards,
A

[2021-03-25 19:08] Arseigna commented on #780
@aramase,
Cluster config  had not been touched on 15th-16th March. Apps were deployed.
Since then cluster had been recreated but behavior still persists. Upgrade to version 1.7.5 (RC0) had been done today and had no affect.
We are investigating one other solution and results would be known tomorrow.
Unfortunately I am not allowed to disclose cluster info (such as FQDN) here. How ever there could b

[2021-03-25 19:47] aramase commented on #1013
@angelbulas-mq Looks like apiserver is having issue and is reconnecting to the etcd server. Do you have uptime sla enabled for your AKS cluster? I would recommend opening a support ticket with the API server logs. If you have multiple logs from API server during the error timeframes, that'll also be good addition to the support ticket.

[2021-03-26 05:39] mariohdez commented on #995
@Arseigna out of curiosity, are you seeing other socket exception timeouts on your cluster?

[2021-03-26 12:47] vickeyrihal1 commented on #1005
@aramase - Thanks for the clue. I tried implementing this monitoring, but somehow not getting relevant metrics. The one the endpoint is scrapping is following:

**MIC:**
- aadpodidentity_mic_new_leader_election_count
- aadpodidentity_mic_cycle_*

**NMI**
- cilium*

We are currently on version **1.6.1**

Btw, which metric will help identifying such failures?

Incidentally, we didn't able to find th

[2021-03-26 14:03] Arseigna commented on #995
Yes, we've seen connections to Elastic pool timing out as well. But currently suspect disk I/o throttling.

[2021-03-26 19:41] Arseigna commented on #780
@aramase ,
Today we've fixed issue described: [here](https://github.com/Azure/aad-pod-identity/issues/780#issuecomment-807202573).
We've implemented solution described in https://github.com/Azure/aad-pod-identity/issues/467. comment that helped is [here.](https://github.com/Azure/aad-pod-identity/issues/467#issuecomment-577045311)

We've never ran nmi pods in kube-system namespace. Reason why it s

[2021-03-26 19:49] aramase commented on #780
@Arseigna That comment I posted before was because of a limitation in AKS where the `KUBERNETES_SERVICE_HOST` was set to fqdn only in the kube-system namespace. However I don't think that should affect you if you don't have a firewall.

So deploying in `kube-system` namespace resolves the issue for you in AKS?  I did see your comment on another thread about I/O throttling. Did that lead to anythin

[2021-03-29 10:55] guidola opened #1020 "Can't register identity in multiple namespaces through helm values for v3"
**Describe the bug**

Because of the nature itself of maps a key cannot be used twice and hence it is not possible to create the same identity in two different namespaces by using the azureIdentities attribute of the helm chart.

[code]

**Expected behavior**

One should be able to create an identity for each namespace when working in namespaced identities mode.

One could get back the ability to

[2021-03-29 13:38] bcho commented on #1003
@JoakimL70 sorry for my delayed response, could you see the 0.5.6 release now? Here is my output:

[code]

[2021-03-29 15:52] Arseigna commented on #780
Hi @aramase,
A small correction: we hadn't deployed nmi pods to kube-system, we've overridden KUBERNETES_SERVICE_HOST variable in azure-system to point to FQDN instead of IP. The issue was not seen since. Now we are trying to dig out the root cause, connection between our issue and solution does not seem obvious yet. Would be happy if you could throw in some ideas =)

[2021-03-29 20:56] aramase opened #1022 "CVE-2021-3449"
[code]

https://dev.azure.com/AzureContainerUpstream/AAD%20Pod%20Identity/_build/results?buildId=19257&view=logs&jobId=7e664a44-1d98-5348-601c-dff379a14ab5&j=7e664a44-1d98-5348-601c-dff379a14ab5&t=85d7ea29-0d70-5a17-a97a-ed9f23dfb760

[2021-03-29 22:10] aramase commented on #1022
Fixed by switching to using `--no-cache` with docker build: https://github.com/Azure/aad-pod-identity/pull/1021/commits/f4043a129d6e9a09cbe5e73492c22373da9487e2

[2021-03-30 08:45] bcorijn commented on #995
Just to chime in, we see both these kind of errors and socket exceptions in other applications as well from time to time, so looks like we're all in the same boat.. I know disk size is often mentioned as possible culprit, but my application nodepools already run with 1TB of storage (and barely use it).

[2021-03-30 16:29] chewong commented on #1020
Thanks for opening the issue. It does look like it's a limitation when using map, where you can't have two AzureIdentities with the same name across different namespaces. I think approach 2 makes more sense. Would you be interested in opening a PR?

[2021-03-30 17:02] aramase opened #1023 "Remove reader role from standard walkthrough docs"
Refactor demo to remove `Reader` role requirement in https://azure.github.io/aad-pod-identity/docs/demo/standard_walkthrough/#2-create-an-identity-on-azure

[2021-03-30 20:05] #1022 closed

[2021-03-31 14:28] vickeyrihal1 commented on #1005
@aramase - could you take a look at last comment?

[2021-03-31 20:22] #1002 closed

[2021-04-01 12:41] jozamp commented on #1003
Yes, was able to install 0.5.6. Thanks!

[2021-04-01 12:41] #1003 closed

[2021-04-02 18:00] msmithrubbl opened #1030 "Refresh request failed. Status Code = '404'. Response body: getting assigned identities for pod kube-system/ingress-appgw-deployment"
**Have you**

- [x ] Read [Troubleshooting Guide](../../docs/readmes/README.troubleshooting.md)
- [x] Read [Known Issues](../../docs/readmes/README.known-issues.md)
- [x ] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
Error: adal: Refresh request failed. Status Code = '404'. Response body: getting assigned identities for pod kube-system/ingress

[2021-04-02 19:37] aramase commented on #1030
@msmithrubbl If you install aad-pod-identity from the repo here, you can check the version from the yaml you used for deploying. If deployed with helm, then please check `helm ls` in the namespace to get the chart version and app version.

Please check the MIC pod logs for the error. Here is our troubleshooting guide on how to get the logs: https://azure.github.io/aad-pod-identity/docs/troubleshoo

[2021-04-02 20:25] msmithrubbl commented on #1030
Thanks aramase. This is what I used to get the aad-pod-identity installed.

kubectl create -f https://raw.githubusercontent.com/Azure/aad-pod-identity/master/deploy/infra/deployment-rbac.yaml

Here are the logs from the MIC pods:
C:\src\rubbl\shared\common> kubectl logs -l app=mic -f -n default
I0401 07:11:33.091134       1 stats.go:170] Number of cloud provider PATCH: 1
I0401 07:11:33.091141

[2021-04-02 20:38] msmithrubbl commented on #1030
Sorry if I' not giving all the info here. Trying to learn. I will say I only tried to use helm to get my ingress controller going with a shared appgateway. I needed to create prohibit rules so the controller does not wipe out some of my custom redirects to other sites. I have since switched back to the azure enable-add-on like this:
az aks enable-addons -n henry-southcentralus-rubbl-aks -g henry-s

[2021-04-05 12:44] bdschaap commented on #380
My use case is a little different for this feature request and I wanted to make note of it.  I use AKS for my Azure K8s clusters but [RKE](https://rancher.com/docs/rke/latest/en/) for my on-prem K8s clusters.  I would like to use Service Principal identities through AAD Pod Identity to connect to Azure resources for both types of my K8s clusters.

Has a timeline been set for when this Service Prin

[2021-04-05 16:19] aramase commented on #1030
@msmithrubbl There are no error in the logs you shared. This might be a misconfiguration.

Could you post the following yamls with any sensitive information redacted?
1. `AzureIdentity` yaml used for app gateway pod
2. `AzureIdentityBinding` yaml used for app gateway pod
3. app gateway pod yaml

[2021-04-05 16:48] aramase commented on #380
@bdschaap You can deploy pod identity in managed mode and configure service principal identities for use outside of Azure. Here are the docs for managed mode: https://azure.github.io/aad-pod-identity/docs/configure/pod_identity_in_managed_mode/

Examples in here for `AzureIdentity`, `AzureIdentityBinding` and Kubernetes secret required for service principal: https://azure.github.io/aad-pod-identit

[2021-04-05 17:15] bdschaap commented on #380
Thanks I'll give it a try.  I previously saw that doc but was probably confused by the az vm and az vmss commands that are for Azure CLI since my RKE use case is for on-prem K8s clusters.

Last week I encountered the issue where it was checking for kubenet in that scenario even with the switch to disable it.  However, I saw that you fixed that in 1.7.5 and just released it.  Will try again.

[2021-04-05 17:42] bdschaap commented on #380
I confirmed that managed mode works outside of Azure as you mentioned earlier.  Thanks!

[2021-04-05 23:09] irons commented on #402
Now they're here: https://azure.github.io/aad-pod-identity/docs/getting-started/role-assignment/

[2021-04-06 16:24] RobLSDev commented on #242
Is there a timeline available for when this might go to preview or GA?

[2021-04-06 16:49] aramase commented on #990
Closing this with https://github.com/Azure/aad-pod-identity/releases/tag/v1.7.5. `v1.7.5` mitigates CVE's that have the fixes.

[2021-04-06 16:49] #990 closed

[2021-04-06 16:50] aramase commented on #988
Closing this issue due to inactivity. Please feel free to re-open if you have any questions.

[2021-04-06 16:50] #988 closed

[2021-04-06 16:52] aramase commented on #980
Closing this issue now as pod identity doesn't make calls to AAD directly. The request is sent to IMDS which requests token from AAD. IMDS has caching mechanism.

Please feel free to re-open if you have any questions.

[2021-04-06 16:52] #980 closed

[2021-04-06 16:55] aramase commented on #958
@calvinShan Have you looked at using gatekeeper policies to maybe define mutually exclusive labels? If `label1` is present, then expected `aadpodidbinding` should only have `selector1` and if using `selector2` then fail.

[2021-04-06 20:54] irons opened #1033 "AKS clusters using system-assigned identity aren't supported?"
Since seeing #973 mentioned in the 1.7.5 release notes, I've been trying to find some insight into why these AKS clusters aren't supported anymore, and what the change means. We currently use AKS clusters in this configuration, which as recently as last September @chewong [described as OK](https://github.com/Azure/aad-pod-identity/issues/804#issuecomment-697859092).

We've been struggling with som

[2021-04-06 21:00] aramase commented on #1033
@irons v1.7.5 isn't withdrawing any support. That doc update was to say system-assigned managed identity is not supported for applications. We always supported user-assigned managed identity or service principal with applications (defined in `AzureIdentity`).

This doesn't alter the credentials used by AAD pod identity to perform cloud operations. The role assignments are for cluster identity and

[2021-04-06 21:31] irons commented on #1033
Thanks. To restate, the intended message is just that one can't create an `AzureIdentity`/`AzureIdentityBinding` pair to grant the cluster identity its own access to arbitrary RBAC role assignments?

I don't think anyone reading #973's change is going to arrive at that conclusion, coming as a footnote to the first sentence of the first page of documentation. It reads as a warning.

[2021-04-07 13:45] EhfazR2020 opened #1034 "Can we use AAD Pod Identity feature with hostNetwork = false?"
**Have you**

- [x] Read [Troubleshooting Guide](../../docs/readmes/README.troubleshooting.md)
- [x] Read [Known Issues](../../docs/readmes/README.known-issues.md)
- [x] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
We are following the recommendations from Azure and one of them is "Usage of host networking and ports should be restricted" under

[2021-04-07 16:08] chewong commented on #1034
host network is required because NMI intercepts all traffic to IMDS, which is a well-known address to acquire a token on behalf of your workload. See https://docs.microsoft.com/en-us/azure/virtual-machines/linux/instance-metadata-service?tabs=windows for more details.

[2021-04-07 16:53] aramase commented on #1018
@adhodgson1 Could you provide a reference to any of the helm charts that package these user facing cluster roles?

The helm charts typically package all the applications manifests required to get the components up and running. I think defining the custom roles should be done separately outside of the application helm charts. But I'm open to being convinced 😄

[2021-04-07 17:07] adhodgson1 commented on #1018
Here is one example:
https://github.com/jetstack/cert-manager/blob/master/deploy/charts/cert-manager/templates/rbac.yaml#L411

I made this request for another chart with custom CRDs and got a similar response so not sure what the best viewpoint is on this one going forward.

[2021-04-09 04:27] aaronjensen commented on #977
Just wanted to update that this is also impacts our ability to upgrade our AKS cluster nodes. I have to manually delete pods repeatedly until they are able to get the pod identity necessary to mount the secret volume. I see that you recently assigned this to yourself, @aramase. Let me know if there's anything I can do to help you get to the bottom of it.

Thanks!

[2021-04-09 17:27] aramase commented on #1030
@msmithrubbl Any updates on this?

[2021-04-09 17:30] aramase commented on #1005
@vickeyrihal1 For NMI the default metrics port is 9090 and NMI runs on host network. So could you check if you're scraping the correct endpoint?

`aadpodidentity_cloud_provider_operations_errors_count` will be incremented for errors while getting vmss, assigning/un-assigning identities.

[2021-04-09 17:43] amsoedal opened #1039 "Getting assigned identities for pod dev/bikes in CREATED state failed after 16 attempts"
**Describe the bug**
Our product's integration with Pod Identity is currently broken (it stopped working earlier this week). With a live repro, I see the NMI logs showing:

[code]

However, when I check the MIC logs, everything appears fine:

[code]

**AAD Pod Identity version**
Version: v1.6.3.

**Kubernetes version**
1.18.14

Any help would be appreciated!

[2021-04-09 18:30] daniv-msft commented on #1039
I'm in the same team as @amsoedal. I reproduce the same issue with v1.7.5 (after enabling kubenet).

Could this be related to something missing in how we configure pod identity in our cluster?
As of today, we just deployed:
[code]

[2021-04-09 18:53] chewong commented on #1039
@amsoedal I don't see any errors in MIC. Could you share the AzureIdentity, AzureIdentityBinding and your workload spec?
@daniv-msft we discontinued supporting kubenet since v1.7.0 release. To enable it for v1.7.x, see https://azure.github.io/aad-pod-identity/docs/configure/aad_pod_identity_on_kubenet/#how-to-run-aad-pod-identity-on-clusters-with-kubenet.

[2021-04-09 20:40] aaronjensen commented on #977
It just happened again after another Kubernetes node upgrade. What I found is that all of the containers that failed to get an identity were on the same node. The node that failed did not have the aad-pod-identity mic leader.

It may be unrelated, but I noticed this in the log (the temporary node used to offset the upgrading node during the upgrade was removed):

[code]

I don't know if it's possi

[2021-04-11 22:04] Eneuman opened #1040 "Identity Not Found"
**Have you**

- [x] Read [Troubleshooting Guide](../../docs/readmes/README.troubleshooting.md)
- [x] Read [Known Issues](../../docs/readmes/README.known-issues.md)
- [x] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
I have been trying to get this working for 2 days straight and I have dbl checked everything over and over.

I have a resource gro

[2021-04-12 00:11] adhodgson1 commented on #1018
I am happy to do a PR for this if required as I have got the code for my custom Helm chart.

[2021-04-12 14:53] calvinShan opened #1042 "Nmi can not be scheduled on AKS nodespot"
**Describe the bug**
We have deployed NMI on our AKS cluster.
The auth processus works well in the pods on the nodes.
kubectl -n data exec -it pod/test-vincent2 -- curl -i -H "Metadata: true" -X GET "http://169.254.169.254/metadata/identity/oauth2/token?api-version=2020-06-01&resource=https://storage.azure.com"
retour code: 200

However, when we want to run this command in the Pod that scheduled o

[2021-04-12 16:13] chewong commented on #1040
Have you checked the log for both MIC pods? There should be two MIC pods running. Have you also followed https://azure.github.io/aad-pod-identity/docs/getting-started/role-assignment/?

[2021-04-12 16:17] aramase commented on #1042
@calvinShan For nodes with custom taints, you can add toleration for the taints while deploying pod identity: https://github.com/Azure/aad-pod-identity/tree/master/charts/aad-pod-identity#configuration

[2021-04-12 16:17] Eneuman commented on #1040
Hi
Yes I have. Both pods running and no errors in any. Role assignment looks good. I have also dbl checked the assigned permissions to the RG and they look good.

[2021-04-12 16:22] aramase commented on #1018
Thanks for sharing the example. I think we can add it to our helm charts within a conditional. Please feel free to open a PR.

[2021-04-12 16:24] chewong commented on #1040
Could you run `az vmss show -g <NodeResourceGroup> -n <VMSSName> --query 'identity.userAssignedIdentities'` to verify that your identity is assigned to your VMSS instance?

[2021-04-12 16:56] aramase commented on #1039
@daniv-msft @amsoedal Are you upgrading pod identity from v1.5.x to v1.6.x or v1.7.x? There were breaking changes introduced in v1.6.0 release that have been documented here: https://azure.github.io/aad-pod-identity/docs/#v16x-breaking-change. No action is required for existing `AzureIdentity` or `AzureIdentityBinding` as MIC handle conversion but for new custom resource instances, they are case-s

[2021-04-12 16:59] chewong commented on #1034
Closing this issue since hostNetwork is required by design.

[2021-04-12 16:59] #1034 closed

[2021-04-12 17:00] aramase commented on #1013
@angelbulas-mq Any updates on this issue?

[2021-04-12 18:00] Eneuman commented on #1040
[code]

Can this be right ?

[2021-04-12 18:03] Eneuman commented on #1040
My bad, this was the return:
[code]

[2021-04-12 18:30] chewong commented on #1040
How are you requesting the token? Via an SDK? You might want to include the identity Client ID when requesting a token so NMI knows which identity to select.

[2021-04-12 18:40] Eneuman commented on #1040
Nice!
Using this: `var credentials = new ManagedIdentityCredential("52115ba9-ddee-43f5-bf36-XXXXXXXXXX")` did work and I could get access to AzureBlobStorage using Pod Identity.

I have not needed to add clientId before. Is there a way to make it automaticly select the identity that the resourceID in AzureIdentity is pointing to?

[2021-04-12 19:00] amsoedal commented on #1039
@chewong @aramase thanks so much for your help. Our customer got back to us and the camelCase breaking change between 1.6.x and 1.7.x was likely the culprit of the issues he was seeing. Will close the issue since he seems to be unblocked.

[2021-04-12 19:00] #1039 closed

[2021-04-12 20:04] aramase commented on #1040
[code]

Are you trying to disable the pod from pod identity validation for token request? (Ref: https://azure.github.io/aad-pod-identity/docs/configure/application_exception/). That log indicates that. If the pod is disabled from pod identity validation we just send the request as is to IMDS.

If there is no `clientID` in the request and there are multiple identities assigned, IMDS will return an

[2021-04-12 20:13] Eneuman commented on #1040
@aramse I'm using azure devspaces and have added the exceptions for it's infrastructure as described here: https://docs.microsoft.com/en-us/azure/dev-spaces/troubleshooting#error-no-azureassignedidentity-found-for-podazdsazds-webhook-deployment-id-in-assigned-state

But my pod shouldn'nt be disabled from pod validation. So the solution is to remove one of the identities from the vmss so it will on

[2021-04-12 20:17] aramase commented on #1040
Using `AzurePodIdentityException` is the way to tell pod identity to disable all pod identity validation for the pod. So for pods that have labels defined in the exception, NMI will just forward the token request as is.

The agentpool managed identity is added by AKS. It's created for all clusters created with `--enable-managed-identity`. If you delete that, the cluster will become non-operational

[2021-04-12 20:31] Eneuman commented on #1040
@aramase I see. The problem is that Azure DevOps injects init containers to my pod (they build the code etc) and thoose init containers needs to be excepted from pod validation, byt my pod should not. Can I somehow disable pod identity validation for just the init containers?

[2021-04-12 20:37] aramase commented on #1040
@Eneuman Gotcha! Unfortunately, exception for specific containers in a pod isn't possible. NMI finds the sender of the token request based on the source ip (which here is the pod IP). There is no way for NMI to know which container in the pod is making the token request.

[2021-04-12 20:57] Eneuman commented on #1040
@aramase & @daniv-msft
I think we have found the root cacuse to the problem with Azure Dev-Spaces and Pod Identity :)

For Dev-Spaces init-containers to work, we need to except thoose from Pod Identity validation. But in doing so, we also except the pod itself, so `var identity = new ManagedIdentity()` will never work, and specifying a ClientId is now mandantory.

I think the problem started in Po

[2021-04-13 01:24] daniv-msft commented on #1040
Thanks @Eneuman and @aramase. Indeed, that's tricky. Would going back to a version of pod identity before 1.5 be an option?
@aramase Would you know if this would even be possible, or if such versions aren't available anymore?

[2021-04-13 16:11] chewong commented on #1040
It is possible but there are a ton of improvements we introduced since 1.5 so we wouldn't recommend using that.

[2021-04-13 16:14] aramase commented on #1040
For excepted pods, pod identity doesn't mandate the existence of clientID in the token request. We just forward the request to IMDS and that is the IMDS behavior when there are multiple identities on the underlying VM/VMSS.

What exactly is the problem here with allowing init containers in pod identity? Could you elaborate more? `1.5` release was in 2019 AFAICT.

If there are multiple identities,

[2021-04-13 16:32] Eneuman commented on #1040
@aramase The problem for me is that Dev-Spaces injects init containers to the pods. To make Dev-Spaces work you got to exclude Dev-Spaces infrastructur (se my post above) from Pod identity, doing this also excepts my pod (by design).
Since my pod is now excepted, validation does not run and I need to explicit say what ClientId to use.
This was not the case earlier (sorry I dont know what version I

[2021-04-13 16:38] aramase commented on #1040
@Eneuman For pods excepted, there is no pod identity. `AzurePodIdentityException` is a pod identity construct which tells pod identity that this pod isn't managed by aad-pod-identity. Any token request from excepted pod is just sent to IMDS as if AAD Pod Identity doesn't exist in the token request path (proxy).

AAD Pod Identity added support for `AzurePodIdentityException` in 1.6 release and this

[2021-04-13 16:52] Eneuman commented on #1040
@aramse Okey, I see. So If I dont have my pod excepted, and my VMSS has two identities but I have only one AzureIdentity, Pod Identity will set the ClientId and I won't need to set it explicitly?

[2021-04-13 17:04] aramase commented on #1040
@Eneuman That's right! One hidden feature and value add of AAD Pod Identity is setting the clientID to the clientID in first `AzureIdentity` if not explicitly set by the client. However we can't do that for excepted pods.

[2021-04-13 18:31] chewong opened #1044 "Remove ImagePullPolicy: Always"
ref: https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1305#issuecomment-818930247

[2021-04-14 09:23] Eneuman commented on #1040
@aramase Thanks for the help in understanding how Pod-Identity works.
I'm gonna close this issue since I now know this is by design.

[2021-04-14 09:23] #1040 closed

[2021-04-14 21:28] #1018 closed

[2021-04-15 16:32] #661 closed

[2021-04-15 16:32] #994 closed

[2021-04-16 06:30] GlorifiedTypist opened #1048 "Unable to assign multiple identities using a single selector"
**Have you**

- [x] Read [Troubleshooting Guide](../../docs/readmes/README.troubleshooting.md)
- [x] Read [Known Issues](../../docs/readmes/README.known-issues.md)
- [x] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
According to the documentation [here](https://github.com/Azure/aad-pod-identity/blob/e95ed2767c032805773eb78b84b5a48ee6844148/docs

[2021-04-16 15:45] aramase commented on #1048
@GlorifiedTypist Using the same selector for multiple identity will give the application pod access to multiple identities. However the application is required to pass the clientID for the identity it wants a token for. By default without aad-pod-identity if a token request is made using curl without the identity, then IMDS will return an error because it doesn't know which identity to pick. Howev

[2021-04-16 17:53] #1044 closed

[2021-04-19 06:36] GlorifiedTypist commented on #1048
This makes perfect sense. I have tested this and its working as expected now. Can we add a one liner to the documentation to clarify?

[2021-04-20 20:10] #956 closed

[2021-04-21 00:54] aramase opened #1049 "Add cluster upgrade tests to nightly pipeline"
**Describe the request**
Add cluster upgrade test with AKS for n, n+1, n+2 to test cluster upgrade doesn't break existing pod identity deployment

**Explain why AAD Pod Identity needs it**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-04-21 11:32] karthi-sn opened #1050 "Error while Installing aad-pod-identity - status CrashLoopBackOff for nmi pods"
Steps -
helm repo add aad-pod-identity https://raw.githubusercontent.com/Azure/aad-pod-identity/master/charts

# Helm 3
helm install aad-pod-identity aad-pod-identity/aad-pod-identity

"kubernetesVersion": "1.18.14"
"Network type (plugin)": kubenet
"Node count": 3 Nodes

![image](https://user-images.githubusercontent.com/41871740/115546565-d1137300-a2c2-11eb-86ba-d90e18aeeeb6.png)

[2021-04-21 14:01] chewong commented on #1050
Could you add `--set nmi.allowNetworkPluginKubenet=true` in your helm install/upgrade command? See --set nmi.allowNetworkPluginKubenet=true for more details.

[2021-04-21 15:58] aramase commented on #1050
You can also check the logs when it crashes. The logs should have a reference to https://azure.github.io/aad-pod-identity/docs/configure/aad_pod_identity_on_kubenet/ which has details on why it's disabled in clusters with kubenet and necessary steps to take before enabling them.

[2021-04-21 16:51] aramase commented on #1048
Sure! Would you be interested in opening a PR to update the doc?

[2021-04-22 02:44] zhiweiv opened #1051 "Warning: apiextensions.k8s.io/v1beta1 CustomResourceDefinition is deprecated"
When applying https://raw.githubusercontent.com/Azure/aad-pod-identity/v1.7.5/deploy/infra/deployment-rbac.yaml, I get following output:
`Warning: apiextensions.k8s.io/v1beta1 CustomResourceDefinition is deprecated in v1.16+, unavailable in v1.22+; use apiextensions.k8s.io/v1 CustomResourceDefinition`

Since k8s 1.21 has been released, 1.22 will come soon, is it good to update it to v1 now?

[2021-04-22 05:17] aramase commented on #1051
The update to v1 has been merged to master already and will be included in v1.8 release: https://github.com/Azure/aad-pod-identity/pull/1035.

[2021-04-22 05:19] #1051 closed

[2021-04-22 05:19] zhiweiv commented on #1051
Thanks for the update.

[2021-04-24 11:07] karthi-sn commented on #1050
after adding --set nmi.allowNetworkPluginKubenet=true, not getting any error
thanks chewong

[2021-04-24 11:10] #1050 closed

[2021-04-26 19:09] aramase commented on #985
Closing this issue now as the tests no longer exist.

[2021-04-26 19:09] #985 closed

[2021-04-27 12:12] dhilipkumars opened #1052 "Support for aks1.20 and aks1.21"
**Describe the request**
We are currently using v1.6.3 and moving to AKS 1.20 cluster, could you tell us If `aad-pod-identity` is supported in the latest AKS versions?
In the future would we get similar information in Release notes?

Thanks in advance
**Explain why AAD Pod Identity needs it**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-04-27 15:57] aramase commented on #1052
`v1.6.3` should be supported with AKS v1.20 and v1.21. Is there a reason for not using the latest available release? We have added quite a few improvements and fixes since v1.6.3.

[2021-04-28 18:52] aramase commented on #848
Closing this issue as it's not being tracked.

[2021-04-28 18:52] #848 closed

[2021-04-28 21:20] zorg-the-blue opened #1054 "HTTP 400 invalid request; Identity not found when using User Managed Identity for AAD Pod identity assignment"
- [X] Read [Troubleshooting Guide](../../docs/readmes/README.troubleshooting.md)
- [X] Read [Known Issues](../../docs/readmes/README.known-issues.md)
- [X] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
This may be similar to #1030. Receiving the following errors in the logs when MIC is trying to apply identities to a VMSS when using a User Assi

[2021-04-28 23:21] #993 closed

[2021-04-29 01:04] #1020 closed

[2021-04-29 16:59] aramase commented on #1054
@zorg-the-blue What is the clientID that you're configuring for MIC to be able assign/unassign the identities? MIC typically uses the cluster identity for this operation but since you're configuring it with `adminsecret.userAssignedMSIClientID=<ClientID from identity>` have you assigned the identity to the VM/VMSS? The identity that MIC needs to use to talk to Azure needs to exist on the underlyin

[2021-04-29 18:04] zorg-the-blue commented on #1054
After using the CLI to create the identity, I get something like this and I use the "clientId": "YYYYYYYYYYYYYYYYY" of this response in the subsequent Helm deployment value of "adminsecret.userAssignedMSIClientID":

[code]

Then, I've used this identity when assigning roles in the "MC_<testclusterRG>_eastus" resource group to have Contributor and Managed User Identity Operator.

I did not understa

[2021-04-29 18:23] aramase commented on #1054
So you're using a different managed identity (not cluster identity) to give MIC permission to access the cloud resources and do all cloud operations (assign/un-assign, GET VMSS). That identity needs to be assigned by you to the underlying VMSS so that it's available for use.

MIC needs to get a token for that identity to assign all your workload identities. It's a chicken-egg problem. MIC can't as

[2021-04-30 02:42] zorg-the-blue commented on #1054
Makes sense that the identity for the AAD pod to use needs to exist on the VMSS for the AAD pod to use it.

I've added it and have gotten further. Believe it is now a permission gap on my AGIC identity I'm waiting for cache/creds to regenerate and distribute after setting. Will continue validating on Friday, maybe again from the ground up just to make sure all is good.

Thanks for the assistance.

[2021-04-30 16:42] #917 closed

[2021-04-30 16:42] #1033 closed

[2021-04-30 17:42] zorg-the-blue commented on #1054
All came together once permissions propagated and refreshed. The AGIC pod came up and its user was added to the VMSS.

One follow up question - if we add a new VMSS pool to the cluster, will the AAD Pod identity have enough permissions to add itself to the new VMSS or will we need to manually add this User Assigned Identity to each new VMSS pool we create?

Thanks in advance.

[2021-05-01 16:48] dhilipkumars commented on #1052
Thanks @aramase for the info.  We are aiming to move to AKS's native AAD plugin soon but have a requirement to upgrade cluster to 1.20 even before that.

[2021-05-01 16:48] #1052 closed

[2021-05-01 19:19] dhilipkumars commented on #1012
Closing the issue. Thanks

[2021-05-01 19:19] #1012 closed

[2021-05-03 16:15] aramase commented on #1054
The identity that will be used by AAD Pod Identity will need to be assigned to each nodepool because that's BYO user-assigned identity. For the identities defined in `AzureIdentity`, MIC will assign the identity if not exists when a pod using it lands on the new nodepool.

[2021-05-04 11:58] zorg-the-blue commented on #1054
Thank you for the clarification, we will plan for adding the BYOL identity user to the baseline configuration on new VMSS pools.

[2021-05-04 11:58] #1054 closed

[2021-05-04 22:24] #724 closed

[2021-05-07 19:44] KnicKnic opened #1058 "No antiaffinity by default."
**Describe the bug**
deployed via helm

**Additional context**
I would have expected antiaffinity rules to be set so that each version of the aad-pod-identity-mic would be on different nodes.
You should probably model this after coredns's antiaffinity settings in AKS.

If both instances end up on the same node and that node dies, we will be subject to the default eviction threshold. I do not want

[2021-05-08 22:48] michaeljguarino opened #1059 "Multiple user assigned identities exist"
**Have you**

- [x] Read [Troubleshooting Guide](../../docs/readmes/README.troubleshooting.md)
- [x] Read [Known Issues](../../docs/readmes/README.known-issues.md)
- [x] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
On a fresh cluster using managed identities, the MIC cannot bootstrap itself due to an error like:

[code]

**Steps To Reproduce**

[2021-05-08 23:48] michaeljguarino commented on #1059
I think I might have found the root cause, the deployment was not rolled when I updated the secret's configuration in helm.  Could you add an annotation that checksums the secret to force it to update (common technique for this)?

[2021-05-09 01:52] michaeljguarino commented on #1059
My guess is just adding `checksum/config: {{ include (print $.Template.BasePath "/mic-secret.yaml") . | sha256sum }}` to the pod template's annotations should do it.

[2021-05-09 12:11] assaf-grth opened #1060 "pods running as root user security alerts"
**Have you**

- [X] Read [Troubleshooting Guide](../../docs/readmes/README.troubleshooting.md)
- [X] Read [Known Issues](../../docs/readmes/README.known-issues.md)
- [X] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

I am using the helm installation of aad-pod-identity, (version 4.0.0, 1.7.5)
The installation creates pods which are defined to run as root user
When c

[2021-05-10 15:43] aramase commented on #1060
@assaf-grth Pod Identity components need to be run as root to be able to access the `/etc/kubernetes/azure.json` from host and also update the iptables. If you deploy in `kube-system` namespace, there should be no alert.

[2021-05-10 15:44] aramase commented on #1059
@michaeljguarino Are you interested in opening a PR to add that to the helm charts?

[2021-05-10 15:48] michaeljguarino commented on #1059
Sure, gimme a second...

[2021-05-10 17:20] aramase commented on #1058
@KnicKnic Are you interested in opening a PR to add the anti-affinity spec for MIC deployment?

[2021-05-11 01:26] aramase opened #1065 "Generate warning when multiple bindings with same name exists in non namespaced mode"
**Describe the request**

When running in non namespaced mode, there is a possibility that `AzureIdentity` and `AzureIdentityBinding` with same name are created across multiple namespaces. We need to generate a warning when this scenario happens and also bind always to 1 of the identities.

**Explain why AAD Pod Identity needs it**

**Describe the solution you'd like**

**Describe alternatives you

[2021-05-11 16:38] #1023 closed

[2021-05-13 19:48] #1059 closed

[2021-05-16 08:11] assaf-grth commented on #1060
1. In case I remove the helm installation and redeploy it into the kube-system namespace, what would need to be recreated again due to the deletion?
2. Is there a way to tell for my cluster which services or objects are using the pod identity service?

[2021-05-16 15:08] harrycain72 opened #1068 "AzureIdentityBinding field "azureIdentity" in spec missing. Unknow field "name" used instead."
**Have you**

- [ x] Read [Troubleshooting Guide](../../docs/readmes/README.troubleshooting.md)
- [ x] Read [Known Issues](../../docs/readmes/README.known-issues.md)
- [ x] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
When deploying the helm chart with azureIdentities enabled.
i.e:

`
azureIdentities:
   "id-tam-sandbox-we-aad-pod-identity":

[2021-05-17 16:24] chewong commented on #1068
Thanks for opening the issue, looks like https://github.com/Azure/aad-pod-identity/pull/1036 introduced a regression to the helm chart. #1069 should fix it.

[2021-05-17 19:16] #1068 closed

[2021-05-18 19:21] dutsmiller opened #1070 "NMI pods in non-mic subnet result in CrashLoopBackOff status when using kubenet"
**Describe the bug**
When deploying to an AKS cluster with kubenet with multiple node pools in separate subnets, the NMI pods in a subnet other than the one containing the MIC pods end up in CrashLoopBackOff status.  The same code works fine when using AzureCNI.

[code]

**Steps To Reproduce**
I have created an example workspace to demonstrate the issue.  The terraform code uses a random string an

[2021-05-18 19:29] aramase commented on #1070
Hey @dutsmiller. AAD Pod Identity is disabled by default in clusters with kubenet. Refer to https://azure.github.io/aad-pod-identity/docs/configure/aad_pod_identity_on_kubenet/ on why and how to enable it for clusters with kubenet. The logs in NMI will also contain a reference to the doc.

[2021-05-18 20:25] dutsmiller commented on #1070
@aramase Were you able to look at the sample workspace?  I believe I have implemented all necessary pieces and pod both the MIC and NMI pods work fine in one subnet, just not the other.

[2021-05-18 20:31] aramase commented on #1070
@dutsmiller What is the error in the NMI pod that's in `CrashLoopBackOff`?

[2021-05-18 20:39] dutsmiller commented on #1070
[code]

[2021-05-19 00:13] lissff opened #1071 "No clientID in request log"
We have an application that would refresh the Pod identity tokens on daily basis, and then use this token to access azure storage.
And each time when we are doing the token refresh, you saw logs in nmi pod:

I0421 14:24:02.507179       1 standard.go:72] No clientID in request. fu***6d has been matched with azure identity default/sa**
I0421 14:24:02.507261       1 standard.go:165] matched identityT

[2021-05-19 09:47] sam-cogan opened #1072 "CVE-2019-11250"
**Have you**

- [x] Read [Troubleshooting Guide](../../docs/readmes/README.troubleshooting.md)
- [x] Read [Known Issues](../../docs/readmes/README.known-issues.md)
- [x] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
Container scanning with Trivy is now picking up the NMI and MIC images being vulnerable to this

[code]

**Steps To Reproduce**

R

[2021-05-19 16:55] aramase commented on #1071
Pod identity is essentially just a proxy that validates the token request and sends to IMDS (169.254.169.254). IMDS requests tokens from AAD and sends back to the caller. AAD tokens by default are valid for 24hr. If you refresh the token before expiry, then you'll get a new token.

If you're SDK is caching the token, then it'll have logic to fetch a new token when the cached token is close to expi

[2021-05-19 16:58] aramase commented on #1070
Could you also share the logs from the NMI pods that's in `CrashLoopBackOff`?

[2021-05-19 18:54] dutsmiller commented on #1070
@aramase that IS from a pod in CrashLoopBackOff.  Again, if you have 5 minutes to run terraform on that [sample workspace](https://github.com/dutsmiller/aad-pod-identity-test) above (it has been randomized and requires no inputs), you'll see exactly what I'm referring to.

[2021-05-19 21:17] #1072 closed

[2021-05-20 04:04] sent736 opened #1074 "Error : no azure identity found for request client id"
Hello,

 We are trying to setup pod identity on our cluster to enable accessing Azure services, but the nmi says unable to find the corresponding client id.

We checked the pod identity and its correctly mapped to the client id which has the required access and also the vmss is assigned with the identity.

We are new to this set up and  Any help would be greatly appreciated?

Thanks
Sen

[2021-05-20 14:28] assaf-grth commented on #1060
Anyone?

[2021-05-20 16:21] aramase commented on #1060
@assaf-grth I would recommend doing a clean-install. You can delete the existing `AzureIdentity and `AzureIdentityBinding` and recreate after deploying pod identity in `kube-system` namespace.

If pod identity is deployed to the cluster, all token requests for managed identity will go through NMI. If the pod has the selector configured that matches `AzureIdentityBinding`, then NMI will be able to

[2021-05-20 16:32] chewong commented on #1074
Could you provide MIC and NMI logs?

[2021-05-21 15:02] dutsmiller commented on #1070
UPDATE:  The issue is with the second bullet here and unrelated to pod identity:

https://docs.microsoft.com/en-us/azure/aks/configure-kubenet#bring-your-own-subnet-and-route-table-with-kubenet

[2021-05-21 15:02] #1070 closed

[2021-05-21 19:11] Monta89 opened #1075 "AADSTS7000222: The provided client secret keys are expired"
**Have you**

- [ ] Read [Troubleshooting Guide](../../docs/readmes/README.troubleshooting.md)
- [ ] Read [Known Issues](../../docs/readmes/README.known-issues.md)
- [ ] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
 keep getting the following error in the aad-pod-identity-mic
[code]
All roles are set for "managed identity operator" and "virtua

[2021-05-21 19:17] aramase commented on #1075
@Monta89 What type of cluster is this? AKS/aks-engine?

The cluster service principal credentials have expired. You'll need to refresh the credentials and update the secret. Then MIC will pick up the new secret for authentication with Azure.

[2021-05-21 19:19] Monta89 commented on #1075
sorry for not giving more details.
Yes it's an aks cluster but the strange thing is that the cluster has an system assigned service principle which doesn't expire !!!

[2021-05-21 19:28] aramase commented on #1075
Are you referring to the cluster using a system-assigned managed identity or service-principal?

Could you run this command to check:
[code]

Ref doc: https://docs.microsoft.com/en-us/azure/aks/update-credentials

[2021-05-21 19:37] Monta89 commented on #1075
I get this
`Service principal 'msi' doesn't exist`

Here are more details for the SP and identities for the cluster

[code]

[2021-05-21 19:48] aramase commented on #1075
Is pod identity configured with it's own SP instead of using the cluster identity?

https://github.com/Azure/aad-pod-identity/blob/master/deploy/infra/noazurejson/deployment-rbac.yaml#L618-L627

[2021-05-21 19:56] Monta89 commented on #1075
no it's configured to use the cluster identity so i didn't add this section if that's what you're asking

[code]

[2021-05-21 22:12] aramase commented on #1075
That's interesting. Could you provide the first few lines of logs from MIC pod? The redacted `clientID` used by pod identity will be in the log. That'll be helpful to see which id it is and why it's showing as expired.

[2021-05-23 18:22] johnwatson484 commented on #1011
Upgrading to 1.7.5 resolved this for us.   No repeat of the issue has occurred since.

[2021-05-24 09:01] IvanovOleg opened #1077 "Multiple assigned identities issue"
**Have you**

- [ ] Read [Troubleshooting Guide](../../docs/readmes/README.troubleshooting.md)
- [ ] Read [Known Issues](../../docs/readmes/README.known-issues.md)
- [ ] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
Hello. I am trying to make cermanager work with AzureDNS using DNS01 challenge. My AKS cluster is deployed with MSI enabled. AAD p

[2021-05-24 16:04] aramase commented on #1077
Is the pod `security/security-ops-certmanager-867887fdd4-5pbs9` excepted using `AzurePodIdentityException`? https://azure.github.io/aad-pod-identity/docs/configure/application_exception/

The client token request is forwarded as is when the client pod is excepted using the `AzurePodIdentityException`. In that scenario, the client needs to pass the clientID as part of token request. If the pod isn'

[2021-05-24 17:28] #1011 closed

[2021-05-24 17:31] IvanovOleg commented on #1077
@aramase There is no exception for that pod. Only one identity is bound to that pod.
[code]
[code]

[2021-05-24 18:11] aramase commented on #1077
@IvanovOleg There seems to be an exception based on the logs

I0524 17:12:56.461578       1 server.go:362] **exception pod security/security-ops-certmanager-867887fdd4-5pbs9 token handling**
I0524 17:12:56.461582       1 server.go:302] fetching token for system assigned MSI

Could you share the output for `kubectl get azurepodidentityexception -A -o yaml`?

If there is an exception that refers to

[2021-05-24 18:42] IvanovOleg commented on #1077
@aramase Thanks fo the hint. I have an exception configured for another app that shares one lable with certmanager. Certmanager works after removal.

[2021-05-24 18:42] #1077 closed

[2021-05-24 19:10] Monta89 commented on #1075
When I run the below command I get a different id from the commands that I shared before

`az aks show -g xxxxxxx -n xxxxxxxx --query identityProfile.kubeletidentity.clientId -otsv`

So I tried to deploy again using that id with the following parameters and it worked fine.

[code]

[2021-05-25 20:15] nader-ziada opened #1079 "nmi failed to refresh token, error: adal: Failed to execute the refresh request."
**Have you**

- [x] Read [Troubleshooting Guide](../../docs/readmes/README.troubleshooting.md)
- [x] Read [Known Issues](../../docs/readmes/README.known-issues.md)
- [x] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
When using `nmi` in managed mode with `cluster-api-provider-azure` running on Azure, I get the following error when trying to read

[2021-05-25 20:33] aramase commented on #977
Hey @aaronjensen

As part of cluster upgrade the identities that are assigned aren't retained. This means MIC has to assign all the new identities to the reassigned to new node pools as they come up. Identities for VMSS are at the VMSS level and not required for each individual instance. Have you looked at pod identity add-on in AKS? https://docs.microsoft.com/en-us/azure/aks/use-azure-ad-pod-iden

[2021-05-25 21:01] aaronjensen commented on #977
@aramase Thank you, I had not seen that, we may give it a try to see if it helps:

A few points of clarification for this particular issue:

- Cluster upgrades aren't the only time this happens. Simply restarting several pods at once causes this issue.
- Identity reassignment in this case doesn't appear to be delayed it just doesn't appear to work (or at least something goes wrong causing NMI to g

[2021-05-25 21:09] aramase commented on #977
@aaronjensen Have you tried the latest release of pod identity (v1.8.0)? We updated to newer version `client-go` library which has health check for tcp connections. This will ensure the cache with `AzureAssignedIdentities` isn't stale at any point.

Also, are you running pod identity in force namespaced mode? If not, can you confirm if the `AzureIdentity` with same name isn't being created in mult

[2021-05-26 00:05] aaronjensen commented on #977
@aramase I just upgraded to 1.8.0 and retested scaling all of my services down and back up again. They all came back online, which is the first time that's ever happened, so that's great news.

We're not running in force namespaced mode. AFAICT I only have one AzureIdentity, named `azure-identity` in the `aad-pod-identity` namespace.

[2021-05-26 00:08] aramase commented on #1079
Conversation in https://kubernetes.slack.com/archives/CEX9HENG7/p1621362051002500

[2021-05-27 21:15] JasonWhall commented on #1058
👋 I'm happy to contribute this, however I would just like to clarify a couple of things before adding default rules as this could produce a breaking change to existing users.

- @KnicKnic - You mention to model this on CoreDNS in AKS, however the default coredns chart [does not specify affinity rules by default](https://github.com/coredns/helm/tree/master/stable/coredns) This likely means the affi

[2021-05-27 21:25] chewong commented on #1058
Thanks for taking the initiative to contribute! Yes, we will allow the user to define their own custom affinity/anti-affinity rules. The option should be empty by default.

[2021-05-28 00:09] KnicKnic commented on #1058
@JasonWhall @chewong
I disagree, I think the helm chart should setup reasonable production defaults.
Why are we defaulting to 2 replicas, but not setting anti-affinity?

My understanding is the purpose of creating 2 is so that they can handle failure for the other one. If both of the pods are put in the same fault domain I don't see the point of having 2. If one crashes it will quickly restart. Th

[2021-05-28 01:06] chewong commented on #1058
That makes sense. @JasonWhall  please disregard my comment above since it looks like we already provide users the ability to define their affinity rules (https://github.com/Azure/aad-pod-identity/blob/master/charts/aad-pod-identity/values.yaml#L78-L88).

Regarding the default anti-affinity rules, our initial thought is to provide a minimal viable helm chart with mostly empty default values, simila

[2021-05-29 08:50] Konnor5092 commented on #1074
I'm experiencing a similar problem.

I went through the following [guide](https://docs.microsoft.com/en-us/azure/aks/use-azure-ad-pod-identity), attempting to follow the flow for Kubenet. I didn't perform any mitigation - I just want to see it working first.

The error from my pod that is attempting to use a managed identity is..
[code]
My nmi logs have the following repeated
[code]
Neither of the

[2021-06-04 08:16] uthsab opened #1084 "Multiple user assigned identities exist, please specify the clientId / resourceId of the identity in the token request"
**Have you**

- [ ] Read [Troubleshooting Guide](../../docs/readmes/README.troubleshooting.md)
- [ ] Read [Known Issues](../../docs/readmes/README.known-issues.md)
- [ ] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**

Getting token from pod fails.
we are using [Default Azure Credential  (python)](https://docs.microsoft.com/en-us/python/api/azure

[2021-06-04 10:33] dimbleby opened #1085 "NMI failing to assign identity - had been working for several weeks"
**Have you**

- [ ] Read [Troubleshooting Guide](../../docs/readmes/README.troubleshooting.md) Broken link
- [ ] Read [Known Issues](../../docs/readmes/README.known-issues.md) Broken link
- [X] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**

We have an AKS cluster in which we run Jobs that execute in the context of a managed identity, using aad-

[2021-06-04 10:50] mmillard0 opened #1086 "tutorial with mcr.microsoft.com/oss/azure/aad-pod-identity/demo:v1.8.0 image unused parameters"
**Have you**

- [ ] Read [Troubleshooting Guide](../../docs/readmes/README.troubleshooting.md)
- [ ] Read [Known Issues](../../docs/readmes/README.known-issues.md)
- [ ] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
In the aad pod identity tutorial, some arguments of demo container are not taken into account.
In the section "3.2. Deploy demo",

[2021-06-04 16:06] aramase commented on #1084
@uthsab Thank you for reporting the issue.

1. Could you share the logs from NMI pod running on the same node as your app? What is the error in NMI?
2. That error seems to indicate the token request is not being intercepted NMI. This could be because NMI isn't running on the node/ the pod label is included in `AzurePodIdentityException` (https://azure.github.io/aad-pod-identity/docs/configure/appl

[2021-06-04 16:09] aramase commented on #1085
@dimbleby Thank you for reporting the issue.

This most certainly looks like the caching bug as you've confirmed the identity with the same client id exists on the underlying VMSS. Tagging @rkammara12 from the IMDS team.

[2021-06-04 16:13] chewong commented on #1086
Could you follow https://azure.github.io/aad-pod-identity/docs/demo/standard_walkthrough for now? I can open a PR to fix the typos above.

[2021-06-04 16:50] mmillard0 commented on #1086
Thanks pour the response. The standard walkthrough is up to date with the arguments name.
My issue is to help beginners like me to do the tutorial without errors.
in the file master/cmd/demo/main.go the parameters resourceGroup & subscriptionID are not used.
I close the issue, it is fine for me.

[2021-06-04 16:50] #1086 closed

[2021-06-04 20:49] Yiyito11 opened #1088 "invalid resource id: must match /subscriptions/<subid>/resourcegroups/"
**Describe the bug**

After I created nmi and mic pods , installed AzureIdentity, AGIC chart and AzureIdentityBinding

I´m getting 0/1 in ingress pod. So when checking the logs in MIC pods, I´m getting:

`E0604 20:11:23.119775       1 mic.go:946] ignoring azure identity default/aks-identitypod, error: invalid resource id: "subscriptions/75fxxxxxxxxxxxxxx/resourcgroups/MC_RG_RGGGGG_centralus/provid

[2021-06-04 20:52] aramase commented on #1088
@Yiyito11 There is a typo in your resourceid. Use `resourcegroups` instead of `resourcgroups`

[2021-06-04 23:08] #1058 closed

[2021-06-04 23:11] chewong commented on #1074
Sorry for the delayed response. It looks like you will need to add the `aadpodidbinding` in your podspec. See [this](https://azure.github.io/aad-pod-identity/docs/best-practices/#deploymenthttpskubernetesiodocsconceptsworkloadscontrollersdeployment) for more details.

[2021-06-06 05:10] aaronjensen commented on #977
I've tested this a few more times and had no issues. I think we can consider this closed. Thank you!

[2021-06-07 08:18] JasonWhall opened #1089 "E2E tests failure - Gatekeeper"
**Describe the bug**
e2e tests fail due to change in gatekeeper deployment manifests. [Example](https://dev.azure.com/AzureContainerUpstream/AAD%20Pod%20Identity/_build/results?buildId=21655&view=logs&j=7f33e5bd-7764-5d8a-ba2e-506e078b9c3f&t=2c8b6290-e0fb-58b4-e286-2fef5231bbea&l=1347)

Gatekeeper have promoted their CRDs to `apiextensions.k8s.io/v1` in master which has caused invalid fields in th

[2021-06-07 09:07] dimbleby commented on #1085
Thanks.  Is there anything we can do to recover this?  Or would it be helpful to leave it in this state for debugging?

This is a test cluster, fortunately, but this looks like it would be an ugly bug to hit in production.

[2021-06-07 12:12] uthsab commented on #1084
The only exceptions defined are for the MIC itself and pods managed by aks. nothing additional
[code]
Also the issue is intermittent. A pod restart / redeployment mitigates it. If it was due to the exception, it would have always failed.

The nmi logs from the concerned node for the concerned time -
The failures happened from around 10:35 UTC 06/02. There was a successful connection post mitigatio

[2021-06-07 12:40] Yiyito11 commented on #1088
yes a Typo But even though I corrected it, I still gotting same error. I also remove azureidentity, binding and Agic deployment and recreated it.  SHould I remove deployment of mmi and nmi also?. Is it possible that they have something cached or something?

[2021-06-07 16:41] aramase commented on #1084
Is this the pod `bm-dev-test-cluster-mi` making the token request?

[2021-06-07 18:14] rkammara12 commented on #1085
@dimbleby It would be helpful to leave it in that state. All the caching issue at IMDS are fixed and deployed, @aramase is there a way to access the cluster and node details so that I can verify if there is a new caching issue.

[2021-06-08 05:21] uthsab commented on #1084
yes, `bm-dev-test-cluster-mi` is the concerned azure identity here (it is the only one defined for the aks cluster). Should I check for some specific log to confirm if the request is made?

[2021-06-08 14:07] Yiyito11 commented on #1088
got a "/" missing at the beginning. that´was the issue. You can close this. thank you for your help

[2021-06-08 15:17] #1088 closed

[2021-06-08 16:07] #1089 closed

[2021-06-09 18:45] Tankatronic commented on #242
Is there an update on the status of testing?

[2021-06-09 19:22] aramase commented on #1084
Yeah, could you see if the pod making the token request is in the NMI log? This is for the NMI pod running on the same node as your application. Also, is your app running on `hostNetwork`?

[2021-06-10 04:37] uthsab commented on #1084
The pod making the request is not running on hostnetwork. there is a separate daemonset which is on host network.

The failure happens when the default/monitoring-d7d8b74d5-f6f2m makes the token request itself.
I attached all logs from the nmi pod on same node as monitoring pod during the duration of the failure.
The failure timestamp is 10:35 UTC 06/02. There are no token request logs around this

[2021-06-11 18:28] #1074 closed

[2021-06-14 07:47] mynameisyz opened #1092 "Outbound Azure NSG rules for MIC controller"
**Have you**

- [x] Read [Troubleshooting Guide](../../docs/readmes/README.troubleshooting.md)
- [x] Read [Known Issues](../../docs/readmes/README.known-issues.md)
- [x] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
I have a private AKS with running AAD pod identity with my workloads to access Azure resources. Part of my organization's policy i

[2021-06-14 15:56] chewong commented on #1092
Did you deploy aad-pod-identity to the kube-system namespace?

[2021-06-15 08:28] mynameisyz commented on #1092
Hi @chewong , the aad-pod-identity is currently deployed in the default namespace as per guide in the docs.

I led to believe this is a issue with outbound rules? It works when I disable the Deny All Internet outbound rule

[2021-06-15 13:50] jhyot opened #1094 "What is "--MICNamespace" for?"
I can't figure out what the NMI flag `--MICNamespace` is for. The documentation states: "MIC namespace to short circuit MIC token requests". What does "short circuit token requests" mean? Should I set this to the namespace where my MIC `Deployment` is located?

[2021-06-15 16:12] chewong commented on #1092
As per our [standard walkthrough](https://azure.github.io/aad-pod-identity/docs/demo/standard_walkthrough/#1-deploy-aad-pod-identity):

https://github.com/Azure/aad-pod-identity/issues/467#issuecomment-577045311 has a good explanation on why it's necessary to deploy to the kube-system namespace.

[2021-06-15 16:19] chewong commented on #1094
MIC requires an access token to perform operations such as assigning and unassigning identities from VM/VMSS on Azure. Since NMI intercepts all traffic to IMDS, the purpose of `--MICNamespace` is to allow MIC to fetch an access token without being intercepted by NMI. It looks like it's not commonly used anymore since we have https://github.com/Azure/aad-pod-identity/blob/master/deploy/infra/mic-ex

[2021-06-16 15:22] jhyot commented on #1094
Yes, it works for me without providing the `--MICNamespace`, even though I have deployed in a non-default namespace (I use the Exception resource).

So I guess this can be closed, unless you want to clarify that in the docs.

[2021-06-16 15:50] chewong commented on #1094
Let's close this issue for now since we'd recommend users to use the provided exception.

[2021-06-16 15:50] #1094 closed

[2021-06-16 22:41] aaronjensen commented on #977
Unfortunately, this is still an issue when doing a Kubernetes upgrade:

[code]

[2021-06-17 05:48] uthsab commented on #1084
@aramase Any updates on this issue?

[2021-06-17 12:34] nader-ziada commented on #1079
feel free to close this,
here is the relevant issue in capz tracking fixing the dns issues with calico
https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1448

[2021-06-17 16:01] PSanetra commented on #1085
We are facing the same issue. The identity is assigned successfully to the VMSS (checked in the Azure portal), but the NMI is logging the following lines:
[code]

[2021-06-17 16:14] aramase commented on #1079
Thank you for the update!

I'll close this one as you're tracking the changes in `cluster-api-provider-azure`

[2021-06-17 16:14] #1079 closed

[2021-06-17 16:20] aramase commented on #1085
@rkammara12 This error looks slightly different from `identity not found`. Do you know why this could be happening and what this error `User-assigned managed identity not found on this resource` means?

@PSanetra says the identity with the clientID is assigned to the underlying VMSS.

[2021-06-17 16:29] aramase commented on #1084
@uthsab You're running an old version of pod identity (`v1.6.2`). Could you upgrade to the latest and let us know if you're seeing any issues? If you can repro with the latest, please share the entire NMI and MIC pod logs.

[2021-06-17 16:36] rkammara12 commented on #1085
The error is different and observed when the identity information for that resource (in this case VMSS) is not available at MIRP.
Can you please provide o/p of "az vmss show" ?

[2021-06-17 16:43] aramase commented on #977
@aaronjensen What do you see in the MIC logs around that time frame for this pod? With pod identity in standard mode, the identity assignment is done dynamically when the pod is created. This could incur an additional delay based on how the identity assignment takes.

If you're using AKS, have you looked at using the AKS pod identity managed add-on? https://docs.microsoft.com/en-us/azure/aks/use-a

[2021-06-17 17:30] aaronjensen commented on #977
@aramase I just invited you to a repo with the logs: https://github.com/aaronjensen/aad-pod-identity-logs/blob/main/log.txt

We are using AKS, and we plan to look at the add-on, so if this is unresolvable otherwise we may need to wait until we can implement that.

[2021-06-23 22:13] SnowmanCharles commented on #681
I think this issue have not been resolved by the caching fix. I'm meeting the same issue now. Any instructions on how to restart the MSI server on the Virtual Machine? I can confirm that the client ID and object ID of the ManagedIdentity and the AzureIdentity are the same.

[2021-06-23 22:28] aramase commented on #681
@rkammara12 Seems like this issue has been reoccuring a lot lately. Similar issue: https://github.com/Azure/aad-pod-identity/issues/1085.

Do you what's the permanent fix for the new issue is?

@SnowmanCharles I don't believe you can restart the IMDS. This is typically done by opening a support ticket and having the IMDS team restart it. @rkammara12 can correct me if I'm wrong.

[2021-06-23 22:43] SnowmanCharles commented on #681
@aramase  I suspect the issue is either due to
1. The caching defect of IMDS
2. The IMDS somehow did not store my identity info
Do you know how to verify which one is the case?

I can confirm that the "az vm show" and "az vm identity show" gives the right identity with the correct object ID and client ID. But still not sure what's the exact info stored in IMDS.

[2021-06-23 22:45] SnowmanCharles commented on #681
In my case, I this is part of a automated system. Thus, to solve this issue by opening a support ticket and having the IMDS team to restart it is unacceptable for me.

[2021-06-23 23:28] rkammara12 commented on #681
@SnowmanCharles If the issue is similar to https://github.com/Azure/aad-pod-identity/issues/1085 then it shouldnt have solved after IMDS restart.

For IMDS the Role Configuration File (RCF) on the host is the source of truth in terms identities assigned to the VMSS. If the identity doesnt exist in the RCF file then IMDS cannot fetch tokens for that identity.

There is an existing issue where the R

[2021-06-24 02:08] SnowmanCharles commented on #681
@rkammara12 Hi, for me, it's not VMSS, but just on a virtual machine deployed with k8s resources. It's still there and I am going to keep it for investigation. Do you have any suggestions/guidance on how to trouble shooting the VM? I assume similar thing is happening on the VM as those happened in VMSS in related posts.

A few question here to start:
1. How can I determine what's happening on the

[2021-06-24 16:37] aramase commented on #977
@aaronjensen Thank you! Could you also post the NMI logs to the repo and provide the exact timeline for the issue with NMI pod name running on the same node as the application with issue?

[2021-06-24 16:39] rkammara12 commented on #681
@SnowmanCharles The RCF file resides on the host, I am not sure if you would have access to it. Can you please let me know the resourceId of the VM so that I can check the RCF file on the host?

Also please provide the o/p of "az vm show" and "az vm identity show" commands.

[2021-06-24 16:59] SnowmanCharles commented on #681
@rkammara12
Do you want me to paste the resource ID here? Or is there a more secure way to share?

[2021-06-24 17:10] rkammara12 commented on #681
@SnowmanCharles is there a way you could create an ICM? if yes please create one and provide the details there.
@aramase Is there any other secure way to get the details?

[2021-06-24 17:17] aramase commented on #681
@rkammara12 If this is a blocking issue we can request @SnowmanCharles to email the resourceID to us. WDYT?

[2021-06-24 17:20] rkammara12 commented on #681
@aramase email is fine for me, what is the recommended way? ICM is better for further communication if @SnowmanCharles has access.

[2021-06-24 17:23] aramase commented on #681
Yeah, that works. @SnowmanCharles could you create a support ticket for this? That should then get routed to @rkammara12's team.

[2021-06-24 17:41] SnowmanCharles opened #1102 ""Identity not found" error occurred with managed identity already assigned on VM"
I think this issue have not been resolved by the caching fix. I'm meeting the same issue now. Any instructions on how to restart the MSI server on the Virtual Machine? I can confirm that the client ID and object ID of the ManagedIdentity and the AzureIdentity are the same.

_Originally posted by @SnowmanCharles in https://github.com/Azure/aad-pod-identity/issues/681#issuecomment-867194941_

[2021-06-24 17:43] SnowmanCharles commented on #681
@rkammara12 @aramase Created a new issue. https://github.com/Azure/aad-pod-identity/issues/1102. I'm not sure which Repository should it go, so just picked the "aad-pod-identity".

I'm not sure if I have access to ICM. Any guidance on how to start it?

[2021-06-24 17:46] aramase commented on #681
@SnowmanCharles Please open a support ticket in Azure with the details. That'll be routed internally to @rkammara12's team.

[2021-06-24 18:07] #1065 closed

[2021-06-24 23:42] aaronjensen commented on #977
@aramase This is from a new reproduction:

https://github.com/aaronjensen/aad-pod-identity-logs/blob/main/nmi-logs.txt#L256
https://github.com/aaronjensen/aad-pod-identity-logs/blob/main/mic-logs.txt#L279

[2021-06-24 23:45] SnowmanCharles commented on #681
@rkammara12  @aramase I'm connecting with my team to ask for permission to share these data. Will get back to you soon.

[2021-06-28 11:10] pjgdexmach opened #1103 "when will AAD pod identity v2 be available"
There's a v2 for AAD pod identity in the making, we would like to know the eta on this, as we will make development decissions depending on this.

[2021-06-28 13:50] aramase commented on #977
@aaronjensen For the pod with error in NMI, I see MIC has already updated the status of `AzureAssignedIdentity` to `Assigned` a minute before.

[code]

What does your `AzureIdentity` and `AzureIdentityBinding` look like? Do you have AzureIdentity with the same name configured in multiple namespaces? Also, could you upload the output of `kubectl get azureassignedidentity -A -o yaml` in the repo?

[2021-06-28 15:15] aaronjensen commented on #977
@aramase I uploaded all three to the repo. There is only one AzureIdentity.

https://github.com/aaronjensen/aad-pod-identity-logs/blob/main/azureidentity.yaml
https://github.com/aaronjensen/aad-pod-identity-logs/blob/main/azureidentitybinding.yaml
https://github.com/aaronjensen/aad-pod-identity-logs/blob/main/azureassignedidentity.yaml

[2021-06-29 22:59] SnowmanCharles commented on #681
@rkammara12 @aramase
I just created a support ticket in Azure Portal. TrackingID#2106290010003191
Can you please follow up on that? Thank you.

[2021-07-01 08:57] Danlewis3 commented on #681
Finding the same issues while using spot instances for AKS

[2021-07-01 12:23] kevinharing opened #1104 "Usage of pod HostPath volume mounts should be restricted to a known list to restrict node access from compromised containers"
**Describe the bug**
Azure Policy wants this to be restricted to a known list to restrict node access from compromised containers

**Steps To Reproduce**
Enable Azure Policy on cluster.

**Expected behavior**
HostPath volume mount is restricted to a known list.

**AAD Pod Identity version**
1.8.0

**Kubernetes version**
1.20.7

**Additional context**
https://kubernetes.io/docs/concepts/storage/vol

[2021-07-01 12:26] #1104 closed

[2021-07-01 21:15] nailuenlue opened #1105 "Increase limit of 200 pod identities per cluster"
**Describe the request**
I know that there was initially a limit of 50 pod identities per Cluster, which has been increased to 200. We're now facing those limits as our plan is to share the AKS cluster for multiple applications, which are sitting in their dedicated namespaces. As some of the applications have multiple microservices, it's not unusual to have 10-15 identities used for a single appli

[2021-07-02 03:22] Tenseiga commented on #1084
I m getting the same error. I m using the 1.8.0 version

[2021-07-06 16:36] chewong commented on #1105
If you use the open-source solution (this repository), there is no limitation on the number of pod identities you can create. For more questions on the managed experience, you can open an issue at https://github.com/Azure/AKS/issues.

[2021-07-06 18:12] #1092 closed

[2021-07-06 18:15] chewong commented on #1103
We are actively developing and testing v2 internally but we don't have a solid ETA yet. We will make sure we update this repository once v2 is available.

[2021-07-08 03:34] donngchao commented on #294
For my situation, I just install the rpm package of the NAT kernel module(modules-nat).

[2021-07-09 18:57] shreeshsp opened #1107 "No effect of setting blockInstanceMetadata flag to true"
**Have you**

- [ ] Read [Troubleshooting Guide](../../docs/readmes/README.troubleshooting.md)
- [ ] Read [Known Issues](../../docs/readmes/README.known-issues.md)
- [.] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
I enabled aad-pod-identity on the AKS cluster with the blockInstanceMetadata flag set to true in order to block the pod access to

[2021-07-09 22:10] chewong commented on #1107
Does your pod have host network enabled? If so, it should have access to it regardless of the flag value.

[2021-07-11 07:47] shreeshsp commented on #1107
No, host network is not enabled for the pod. However, the aks cluster is enabled with the following security features:
Azure AD integration
Managed identities
Host based encryption
Disk encryption set with CMK
Azure policy add-on (few built in policies only assigned)

[2021-07-12 06:47] roberthstrand commented on #1103
@chewong, it would be great if that ETA got a little more solid, at least. I'm doing a lot of planing for future deployments and I would like to know if v2 is months away or more.

[2021-07-12 13:55] aramase commented on #1103
cc @phillipgibson

[2021-07-12 14:08] aramase commented on #1107
@shreeshsp How are you installing pod identity? If you're installing with helm the configuration value is `nmi.blockInstanceMetadata=true`. If you're deploying using yaml and then adding the arg, it's `-- block-instance-metadata=true` in the NMI daemonset container args.

I just deployed using helm and can confirm it works as expected:

1. Deploy pod identity
[code]

2. Run a pod on pod network
[c

[2021-07-12 16:54] shreeshsp commented on #1107
@aramase I am installing aad pod identity with terraform using Helm as per the attached file (aad-pod-id.tf).

Also created  Azure Identity and AzureIdentityBinding as per attachment (AzureIdentityBinding.yaml; where variable value for identityName is "my-pod-identity" and for identitySelector is "requires-vault".)

Deploying the nginx pod using the attached file (deploy.yaml)

Running curl comman

[2021-07-12 17:07] aramase commented on #1107
@shreeshsp `blockInsanceMetadata` needs to be in nmi values. It's `nmi.blockInsanceMetadata=true`. In your terraform file, it's not within nmi.

[2021-07-12 17:23] sunkararp opened #1108 "Failed to pull image "mcr.microsoft.com/oss/azure/aad-pod-identity/mic:v1.8.1""
**Have you**

- [ ] Read [Troubleshooting Guide](../../docs/readmes/README.troubleshooting.md)
- [ ] Read [Known Issues](../../docs/readmes/README.known-issues.md)
- [ ] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**

- Installed aad-pod-identity using helm charts by running below command
  helm install aad-pod-identity aad-pod-identity/aad-pod-

[2021-07-12 17:32] chewong commented on #1108
Could you try again? The images should be published by now.

[2021-07-12 17:33] sunkararp commented on #1108
Still the same.

[2021-07-12 17:35] chewong commented on #1108
I was able to pull it:

[code]

Could you try redeploying the entire chart?

[2021-07-12 17:39] sunkararp commented on #1108
I did below...
- helm uninstall aad-pod-identity aad-pod-identity/aad-pod-identity --namespace=kube-system
- Made sure all the pods are removed
- helm install aad-pod-identity aad-pod-identity/aad-pod-identity --namespace=kube-system

Below is the new state

aad-pod-identity-mic-7678977ddd-c5f2m   1/1     Running            0          29s
aad-pod-identity-mic-7678977ddd-r9thf   1/1     Running

[2021-07-12 17:42] sunkararp commented on #1108
Conditions:
  Type              Status
  Initialized       True
  Ready             False
  ContainersReady   False
  PodScheduled      True
Volumes:
  iptableslock:
    Type:          HostPath (bare host directory volume)
    Path:          /run/xtables.lock
    HostPathType:  FileOrCreate
  kubelet-config:
    Type:          HostPath (bare host directory volume)
    Path:          /etc/default/k

[2021-07-12 17:44] chewong commented on #1108
Could you provide the NMI logs?

[2021-07-12 17:48] sunkararp commented on #1108
I0712 17:47:46.233046       1 main.go:86] starting nmi process. Version: v1.8.1. Build date: 2021-07-12-16:53.
I0712 17:47:46.233082       1 main.go:99] features for scale clusters enabled
I0712 17:47:46.537618       1 crd.go:448] CRD lite informers started
I0712 17:47:46.537656       1 main.go:113] running NMI in namespaced mode: false
I0712 17:47:46.537671       1 nmi.go:53] initializing in stan

[2021-07-12 17:54] chewong commented on #1108
[code]

some other apps are using port 8085 (potentially another instance of NMI?). Could you make sure the port is free, or try changing the HTTP probe port by add `--set nmi.probePort=<port>` to your helm command?

[2021-07-12 17:56] sunkararp commented on #1108
Thanks bit strange, this is fresh cluster.
How can I know which app is using port 8085?

[2021-07-12 18:03] chewong commented on #1108
You can [`kubectl node-shell <node name>`](https://github.com/kvaps/kubectl-node-shell) to the node and run `lsof -i :8085` in the node shell. e.g.
[code]

[2021-07-12 18:43] shreeshsp commented on #1107
@aramase Oops! my bad ... after moving blockInsanceMetadata to nmi section, access to instance metadata from the pod is getting blocked by NMI 👍

[2021-07-12 18:43] #1107 closed

[2021-07-13 00:04] Dragonsong3k opened #1109 "Unable to set tenantID with --set Error: YAML parse error on aad-pod-identity/templates/identities.yaml: error converting YAML to JSON: yaml: line 19: did not find expected ',' or ']'"
**Have you**

- [ x] Read [Troubleshooting Guide](../../docs/readmes/README.troubleshooting.md)
- [ x] Read [Known Issues](../../docs/readmes/README.known-issues.md)
- [x ] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**

Trying to use the Helm template installation with the following parameter set:
--set azureIdentities.azure-identity.tenantID=x

[2021-07-13 14:20] aramase commented on #1109
@Dragonsong3k Thank you for reporting the issue.

This seems to be an issue with helm when setting json strings (the clientPassword in case of pod identity charts). The json string is being parsed and converted into an array which is invalid. Ref: https://github.com/helm/helm/issues/5618.

The workaround suggested is to escape the entire string. I've tried that out with the values you provided it

[2021-07-14 15:39] Dragonsong3k commented on #1109
Thanks.

I needed to use a "Verbatim" string in PowerShell with single ticks for the internal \ escaping to work.

`--set azureIdentities.azure-identity.clientPassword='\{\"name\":\"secret\"\,\"namespace\":\"namespace\"\}'`

[2021-07-14 15:39] #1109 closed

[2021-07-14 18:10] aramase opened #1110 "Add managed identity configuration to best practices"
- Add note about the namespace security boundary and configuration.

[2021-07-14 19:37] chewong commented on #1108
Closing this issue for now. Feel free to re-open it if you are still having the same problem.

[2021-07-14 19:37] #1108 closed

[2021-07-14 19:37] #1105 closed

[2021-07-16 13:43] bdschaap opened #1112 "Multiple Service Principals Question"
I am having difficulty with AAD Pod Identity with pods that require two identities to authenticate with Azure resources in two AAD tenants.  I need to use AzureIdentity resources with AAD service principals in order to support both AKS and on-prem RKE clusters.  I am using this OSS project to accomplish this rather than the AKS managed add-on.  It works fine for a single service principal.  I have

[2021-07-16 16:53] mpp-petew commented on #992
We are also seeing this problem and it's causing a bit of havoc. Nothing really to add other than our voice to the chorus of those affected by the `ManagedIdentityCredential authentication unavailable. No Managed Identity endpoint found` error, which so far as I can tell is due to the IMDS endpoint not being available.

[2021-07-16 17:17] aramase commented on #992
Thank you for reporting the issue.

aad-pod-identity doesn't create the IMDS endpoint. It essentially adds the iptable rules to redirect all IMDS traffic to itself, so it can perform validation based on `AzureIdentity`, `AzureIdentityBinding` and forward only the requests that's valid. The delay you're observing here is the time taken to assign the identity to the underlying VM/VMSS. This is the e

[2021-07-16 17:48] chewong commented on #1112
For approach 1, do you know whether there is an option to specify the client ID of the identity when authenticating? If there is no client ID specified, it will use the first identity that matches the selector.

[2021-07-16 18:10] bdschaap commented on #1112
For approach 1, it seemed to be randomly succeeding or failing when authenticating in order to access the Azure SQL MI resource.  The logs showed it matching to one client ID sometimes but the other client ID other times.  I suspect there isn't any guaranteed order that the identities are matched so it just matches the first one.

For the code associated with the service principal in AAD tenant 1,

[2021-07-20 14:33] mingxiusu opened #1113 "not able to pull the 1.8.1 version image"
**Have you**

- [ ] Read [Troubleshooting Guide](../../docs/readmes/README.troubleshooting.md)
- [x] Read [Known Issues](../../docs/readmes/README.known-issues.md)
- [x] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
Failed to pull the image mcr.microsoft.com/k8s/aad-pod-identity/nmi:v1.8.1 and mcr.microsoft.com/k8s/aad-pod-identity/mic:v1.8.1
*

[2021-07-20 16:02] aramase commented on #1113
@mingxiusu The image registry `mcr.microsoft.com/k8s/aad-pod-identity` is incorrect. The images are at `mcr.microsoft.com/oss/azure/aad-pod-identity` as defined in the yaml and helm charts.

https://github.com/Azure/aad-pod-identity/blob/2b4e9716e2fedf39e53c705cd11007642428e39e/deploy/infra/deployment-rbac.yaml#L597

https://github.com/Azure/aad-pod-identity/blob/2b4e9716e2fedf39e53c705cd110076424

[2021-07-20 16:14] mingxiusu commented on #1113
ahh I see, my bad, our old value file overrides it with the previous registry

[2021-07-20 16:47] #1113 closed

[2021-07-21 21:12] aramase opened #1115 "CVE-2021-33910"
[code]

[2021-07-21 21:30] aramase commented on #1013
Closing this issue due to inactivity. Please feel free to reopen if you've any questions.

[2021-07-21 21:30] #1013 closed

[2021-07-21 21:31] aramase commented on #1060
Closing this issue with the above comment. Please feel free to reopen if you've any questions.

[2021-07-21 21:31] #1060 closed

[2021-07-21 22:20] #1115 closed

[2021-07-22 05:53] MPapst commented on #1085
Facing the same issue since yesterday.
I've already confirmed that the User Assigned Managed Identity is getting assigned to the underlying VMSS, and it seems to be the correct one in the logs starting with ab12.
[code]

Is there anything I can provide that helps?
Output of az vmss show

[code]

[2021-07-22 16:10] chewong commented on #1085
`ab12` is the principal ID. Have you tried using `4b9f1732-e259-46f9-8a1d-cbb8113a493c` in your `AzureIdentity`?

[2021-07-22 18:19] MPapst commented on #1085
Shame on me.. Thanks for pointing me on that one.

[2021-07-22 19:14] bdschaap commented on #1112
I tried specifying the object ID of the service principal using Microsoft.Data.SqlClient v2.1 without luck.  I then tried specifying the clientID via the User ID property using Microsoft.Data.SqlClient v3.0 and it worked.  The nmi pod logs state that clientID was provided and the AzureIdentity was matched.  I plan to confirm it works with DefaultAzureCredential ManagedIdentityClientId as well and

[2021-07-22 19:14] #1112 closed

[2021-07-22 22:03] aaronjensen commented on #977
...

[2021-07-23 07:37] tomkerkhove commented on #830
keep-alive

[2021-07-23 16:43] lucasmaj commented on #889
Bump

[2021-07-23 16:50] miwithro commented on #889
@lucasmaj we already increased the limit to 200.  Do you have a use case for more than that?

[2021-07-23 19:35] lucasmaj commented on #889
@miwithro I currently don't have a use case for 200+ identities per cluster. Thanks.

[2021-07-23 20:44] bdschaap opened #1120 "Supported Use Case of Service Principal Auxiliary Tenant?"
Is this a supported use case for auxiliaryTenantId?

Application 1 in AAD Tenant 1
Service Principal 1 in AAD Tenant 1 associated with Application 1 has access to Azure Resource 1 (in AAD Tenant 1)
Service Principal 2 in AAD Tenant 2 associated with Application 1 has access to Azure Resource 2 (in AAD Tenant 2)
Pod that is bound to AzureIdentity can access both Azure Resource 1 and Azure Resource

[2021-07-26 15:20] ahmad-hamade commented on #1084
I'm getting the same error as well. using latest version 1.8.1

[2021-07-26 16:06] chewong commented on #1084
Have you tried specifying the client ID of your identity when authorizing your application via the SDK?

[2021-07-26 17:56] ahmad-hamade commented on #1084
I have found what was the issue.

So my pod was running in system node pools with tolerations that I added `CriticalAddonsOnly` is `Exists` however, the NMI daemonset was not running in the system pool due to missing toleration. after getting the NMI running in the all `User` and `System` node pools issue got solved.

[2021-07-26 21:14] jnlycklama opened #1122 "Should not bind ports that are left empty in values.yml"
**Describe the bug**
Ports left empty in values.yml are being bound during aad-pod-identity NMI creation (Prometheus port & nmi port 2579). Trying to create a duplicate resource in another namespace causes errors due to port conflict. I would expect that these ports to not get bound to since the templates will only specify a port if it is defined in values:

ex from nmi-daemonset.yaml:
[code]

pod

[2021-07-28 20:48] andre-lx opened #1123 "PodIdentityAddonUserAssignedIdentitiesNotAllowedInCreation on managedClusters"
**Describe the bug**

Hi.

Right now, it's impossible to have assigned user assigned identities on arm templates (and terraform) on cluster creation. I already tried a lot of things, and updates works great, after inserting manually with:
[code]

But, I want to have this done at once, with the deployment, so I need to insert the pod user identities to the cluster automatically. I also tried to run

[2021-07-28 22:46] ghost opened #1124 "Document the need to create AzureIdentity in the resource group of the cluster's managed identity"
**Describe the request**
Mention the need to create the User assigned Managed Identity (AzureIdentity) in the auto generated resource group for the cluster's managed identity in the documentation.

**Explain why AAD Pod Identity needs it**
When working through the ["Integrate AKS with Azure KeyVault with AAD pod identity"](https://docs.microsoft.com/en-us/azure/key-vault/general/key-vault-integrat

[2021-07-28 23:30] msft-tacox commented on #1124
Hey @bhargav-voleti

I am confused about this.

Are you saying that the User Assigned Managed Identity to be used as the Pod Identity must be created in the AKS cluster autogenerated RG?

_OR_

are you saying that the User Assigned Managed Identity that MIC uses to perform Identity Assignment must be created in the AKS cluster autogenerated RG?

If its the former - are you sure you have the right

[2021-07-29 16:05] aramase commented on #1123
@miwithro @bcho

[2021-07-29 16:18] bhargav-voleti commented on #1124
It's the latter, and I'm not entirely sure why, but the MIC was only able to assign identities once I had created the user assigned identity in the auto generated RG.

[2021-07-29 16:22] chewong commented on #1122
The only workaround right now is to change the prometheusPort to be something other than 9090. We can look into disable Prometheus if prometheusPort is empty.

[2021-07-29 16:24] chewong commented on #1124
Have you tried following https://azure.github.io/aad-pod-identity/docs/getting-started/role-assignment/

[2021-07-29 16:31] jnlycklama commented on #1122
Yeah that's what I am doing for workaround now ( & adding --nmi-port={{ .Values.nmi.port }} flag to the daemonset yaml to override 2579).

But the larger issue is that open ports can pose a security risk, and there is no way to disable them.

[2021-07-29 21:37] miwithro commented on #1123
This is a known limitation in the existing configuration.  We will fix this in the V2 implementation.

[2021-07-30 00:07] #1075 closed

[2021-07-30 00:07] #1071 closed

[2021-07-30 00:07] #1048 closed

[2021-07-30 00:07] #1042 closed

[2021-07-30 00:07] #1030 closed

[2021-07-30 00:07] #1017 closed

[2021-07-30 00:07] #1009 closed

[2021-07-30 00:07] #1005 closed

[2021-07-30 00:07] #995 closed

[2021-07-30 00:07] #958 closed

[2021-07-30 00:07] #880 closed

[2021-07-30 00:52] irons opened #1130 "Please specify the latest version number containing breaking changes"
**Have you**

- [X] Read [Troubleshooting Guide](../../docs/readmes/README.troubleshooting.md)
- [X] Read [Known Issues](../../docs/readmes/README.known-issues.md)
- [X] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

As best I can tell, the [most recent breaking change was in 1.7.5](https://azure.github.io/aad-pod-identity/changelog/#v182), so I don't understand why

[2021-07-30 07:33] moriyoshi commented on #1085
I've just encountered this and wasted a few hours.

[2021-07-30 09:15] andre-lx commented on #1123
Thanks for the quick response @miwithro and @aramase

Look forward to use that V2.

Until that, I was trying to create the resources manually, but it only works after the `az aks pod-identity add`.

After cluster creation, I create the the AzureIdentity, AzureIdentityBinding and do the aadpodidbinding on the deployment labels:
[code]

But this is not working. Well, first, if I run again the templa

[2021-07-30 13:08] andre-lx commented on #1123
A few more details on the implementation:

I basically create the cluster with:

[code]

After creation, I can see the `nmi` pods on the kube-system namespace, but no mic pods.

I also create the managed identities on the arm template.

After running the command:

`
az aks pod-identity add --cluster-name my-aks-cn --resource-group myrg --namespace myns --name example-pod-identity --identity-resour

[2021-07-30 13:38] moriyoshi commented on #1085
Probably I found a clue:

When the new pod was created and ended up with the token failure, mic yielded the following output:
[code]

This implies that the MSI assignment to VMSS had been completed round *13:31:07*.

On the other hand, nmi yielded the following:

[code]

Obviously the request for the token was performed on *13:29:39*, *before the assignment to the undelying node was completed*.

[2021-07-30 15:51] tchanos commented on #889
@lucasmaj Use Case for 200+ identities: In our AKS Cluster, we can onboard new tenants who each get their own Pod Managed Identity in an AKS cluster - each tenant's pod identity would be assigned a role that limits them to their tenant-specific Azure resource, e.g. a Azure SQL DB. So with a limit of 200, this would mean we can only onboard less than 200 tenants before we're forced to create anothe

[2021-07-30 17:55] rkammara12 commented on #1085
@moriyoshi can you please provide the cluster details, resourceId of the VMSS and resourceId of the Identity to quickly confirm.

[2021-07-30 19:12] chewong commented on #1120
Yes, that should be supported. Let us know if that's not the case.

[2021-07-30 23:55] moriyoshi commented on #1085
@rkammara12 I don't think I'm allowed to paste that kind of information here (as being an IC), but I should be able to open a new case, provide those there, and inform you the case number. Does it work for you?

[2021-08-02 08:41] bcho commented on #1123
Setting the `podIdentityProfile.enabled = true` means we will enable the cluster with **managed** pod identity support, in this case:

1. no MIC pod will be created
2. the NMI pod / daemonset is controlled by AKS side, so, manually update the image will not work
3. to create and assign pod identities, we should use `az aks pod-identity add` command

If we set `podIdentityProfile.enabled = false`,

[2021-08-02 16:01] andre-lx commented on #1123
Thanks @bcho.

Based on your response, I made my implementation as the following:

Create the cluster without the managed pod identity support:

[code]

Then, I made the login to the cluster:

[code]

Since I don't have RBAC enabled:

[code]

I made the installation as the docs:

[code]

And since this is installed in the default namespace:

[code]

Using the managed identity created in ARM, at th

[2021-08-02 16:49] bdschaap commented on #1120
I tried the configuration described prior to posting this issue but didn't have any luck.  I'll review the configuration again to see if anything is incorrect and will post my results.

[2021-08-02 16:55] chewong commented on #1120
What's the error you are seeing? Feel free to also share your AzureIdentity and MIC & NMI logs.

More context: pod identity uses [NewMultiTenantOAuthConfig](https://github.com/Azure/go-autorest/blob/master/autorest/adal/config.go#L115-L138) to create an oauth config and [NewMultiTenantServicePrincipalToken](https://github.com/Azure/go-autorest/blob/master/autorest/adal/token.go#L1245-L1273) to get

[2021-08-02 17:09] rkammara12 commented on #1085
@aramase can you please help getting the information? can we ask @moriyoshi to create a support ticket?

[2021-08-02 17:18] aramase commented on #1085
@rkammara12 Yeah, support ticket is the only way to get this information. @moriyoshi Could you create a support ticket with the details?

[2021-08-02 17:19] moriyoshi commented on #1085
@aramase @rkammara12 Sure, I'm going to make that happen shortly.

[2021-08-02 18:50] bdschaap commented on #1120
Thanks.  I'll configure it again and pull the logs.  I'm using the service principal type for AzureIdentity and only NMI.  I do not use MIC.

[2021-08-03 01:34] rajdhandus opened #1132 "Not able to connect to IMDS on 1.21.2 created via aks-engine"
**Have you**

- [x ] Read [Troubleshooting Guide](https://azure.github.io/aad-pod-identity/docs/troubleshooting/)
- [x ] Read [Known Issues](https://azure.github.io/aad-pod-identity/docs/known-issues/)
- [x ] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**

Not able to connect to IMDS on a 1.21.2 cluster created via aks-engine

**Steps To Reprodu

[2021-08-03 05:41] rajdhandus commented on #1132
changing from ipvs to iptables seems to be fixing the issue.. however - this issue happens only on 1.21.2 + ipvs combination..

[2021-08-03 08:23] moriyoshi commented on #1085
@aramase @rkammara12 The case number is 2108030060002550. Hope this works.

[2021-08-03 16:57] aramase commented on #1132
pod-identity is only supported with `iptables`. There is no support for `ipvs`.

[2021-08-03 20:56] bdschaap commented on #1120
The nmi logs look fine and it's able to match the clientID.  I'm using Microsoft.Data.SqlClient V3 which uses Azure.Identity's ManagedIdentityCredential class.  I'm including the error message from Azure.Identity.  Perhaps there is a conflict between what is returned and what is expected.

**Logs**
[code]

**Error**
[code]

[2021-08-04 01:15] bdschaap commented on #1120
I enabled verbose logging on the Azure.Identity library and was able to obtain the response content.  I performed 2 tests.  The first test used auxiliaryTenantIDs and the second test did not.  The first test's response was a JSON array containing two JSON objects each with access tokens.  This test returns the error mentioned earlier and explains why it said it expected an Object but received an A

[2021-08-04 03:50] chewong commented on #1120
Your test 1 response is the expected response from NMI, where the first token is the primary token from the primary tenant and the second token is the auxiliary token from the auxiliary tenant. It looks like the C# library does not have a concept of multi-tenancy and expects a non-array JSON object similar to your test 2 response. @aramase any idea how we can tackle this with C# library?

[2021-08-04 12:35] bdschaap commented on #1120
Thanks.  I believe this method contains the call to EnumerateObject that fails.

[Link to Azure.Identity ManagedIdentitySource.cs](https://github.com/Azure/azure-sdk-for-net/blob/4162f6fa2445b2127468b9cfd080f01c9da88eba/sdk/identity/Azure.Identity/src/ManagedIdentitySource.cs#L93)

[code]