[2021-08-04 17:16] aramase commented on #1120
@bdschaap Thank you for opening the issue in `azure-sdk-for-net`. When requesting for a token, we get the tokens for each tenant id back in an array:

https://github.com/Azure/aad-pod-identity/blob/1cda91abd69ca1bda2c5f1f83e7c3c897f132396/pkg/auth/auth.go#L167-L172

Are you able to custom decode the result before passing it on to the Azure.Identity client?

[2021-08-04 18:04] bdschaap commented on #1120
I reviewed the Azure.Identity code but custom decoding doesn't look promising

[2021-08-06 00:09] aaronjensen commented on #977
...

[2021-08-06 16:02] PunithKumarB opened #1133 "Enabled Managed Identity on AKS cluster and removed the old SPN secret, now it fails to pull tokens."
**Have you**

- [ ] Read [Troubleshooting Guide](https://azure.github.io/aad-pod-identity/docs/troubleshooting/)
- [ ] Read [Known Issues](https://azure.github.io/aad-pod-identity/docs/known-issues/)
- [ ] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
Enabled Managed Identity on AKS cluster and removed SP secret, now the PODs fails to pull toke

[2021-08-06 17:02] chewong commented on #1133
Could you:
1. spawn a [node shell](https://github.com/kvaps/kubectl-node-shell) to one of your nodes.
2. `cat /etc/kubernetes/azure.json`.
3. verify that the field `useManagedIdentityExtension` is true.
4. verify that `userAssignedIdentityID` is the client ID of your cluster managed identity.

If not, you will have to modify the azure.json with the fields mentioned above, or you can upgrade aad-po

[2021-08-06 17:05] aramase commented on #977
@aaronjensen Is this still an issue in your cluster? I tried an upgrade recently and didn't see any issues. Also, did you get a chance to look at the managed mode/AKS pod identity add-on which doesn't have the runtime delay caused by the identity assignment?

[2021-08-06 17:58] PunithKumarB commented on #1133
Thank you @chewong for quick turn around, it worked by modifying the json file !! We do have plan to upgrade aad-pod-identity.

[2021-08-06 17:58] #1133 closed

[2021-08-07 00:07] #992 closed

[2021-08-09 13:31] aaronjensen commented on #977
Hi @aramase, I do plan on looking into the pod identity add-on. I'm still waiting for some changes on my end before we can.

And yes, it's still a problem. I just did an upgrade and a significant number of pods got stuck in creating.

![CleanShot 2021-08-09 at 09 31 05@2x](https://user-images.githubusercontent.com/8588/128714309-919a7f91-287f-47e8-912e-8296d507916f.png)

[2021-08-09 13:38] aaronjensen commented on #977
The only way to delete those pods is with `kubectl delete po --grace-period=0 --force <pod-name>`

[2021-08-10 20:49] moolen opened #1135 "Authentication via Service Account"
**Describe the request**
As a controller developer i would like to use Kubernetes service accounts to authenticate with azure. With the existing pod identity framework i can already have/use different identities from my controller pod using NMI. However, with this pod-based identity i can not implement multi tenant isolation where identities live in a particular namespace - i would need to create

[2021-08-10 21:29] chewong commented on #1135
Our v2 solution uses what you describe above. We are actively developing and testing it and hope to open-source it by the end of this year.

[2021-08-11 09:02] rhummelmose commented on #895
How is this done @chewong?

[2021-08-11 09:39] rhummelmose commented on #895
@chewong Proposal for how to fix this:

You make it possible to tie a k8s namespace to a group within the Azure AD.

Access to the managed identity can then be assigned to the group and when a request for assignment of a managed identity to a pod is handled by the Pod Identities operator, it can evaluate the access by inspecting the permissions present on the group assigned to the namespace from w

[2021-08-11 15:36] kvendingoldo commented on #302
Hello Folks,
Can we have a hope to see this functionality?

[2021-08-11 16:33] chewong commented on #302
We are not adding any net new feature or breaking changes to this project as we are working on the next iteration of pod identity. We hope to open-source it within this year.

[2021-08-12 15:35] jhyot commented on #1059
What is your position on the following issue regarding this change:
There is a well-known security rule to not use simple/fast hashing algorithms to store hashes of passwords or secrets. This change saves the sha256 hash of the admin secret into the annotation of the deployment.

I am not a security expert, but in my opinion this opens up an attack vector. Users without access to the secrets or to

[2021-08-12 16:15] michaeljguarino commented on #1059
The secret should have more than enough entropy to make inverting sha256 by brute force pretty difficult, I'd expect.  But I should probably defer to more knowledgeable parties on the specifics.  I do know this is done pretty often in other helm charts, but they could be wrong too of course.

[2021-08-13 16:52] aramase opened #1136 "Add redacted clientID in the error log for debug"
Add the redacted clientID in the error log here:

https://github.com/Azure/aad-pod-identity/blob/a2433ee014b416f79b3963fd2889377a48e051e4/pkg/nmi/standard.go#L149-L150

This clientID can be useful to debug issues when the client token request clientID doesn't match the configured clientID in `AzureIdentity`

[2021-08-17 11:33] vickeyrihal1 commented on #1005
Thanks @aramase . Incidentally there was some other service with conflicting prometheus port. Things worked for nmi with a different prometheus port.

[2021-08-17 17:30] KnicKnic opened #1139 "Throttling when assigning invalid identity"
**Have you**

- [x ] Read [Troubleshooting Guide](https://azure.github.io/aad-pod-identity/docs/troubleshooting/)
- [x ] Read [Known Issues](https://azure.github.io/aad-pod-identity/docs/known-issues/)
- [x ] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
A bug will create a managed identity azureidentities and a azureidentitybindings & pods on

[2021-08-18 00:12] #1084 closed

[2021-08-18 08:06] dimbleby commented on #1085
still a live issue

[2021-08-18 09:10] sasound opened #1140 "AAD Pod fails to pull tokens after upgrade to 4.1.3 HELM version."
**Have you**

- [ yes] Read [Troubleshooting Guide](https://azure.github.io/aad-pod-identity/docs/troubleshooting/)
- [ yes] Read [Known Issues](https://azure.github.io/aad-pod-identity/docs/known-issues/)
- [ yes] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
In continuation of https://github.com/Azure/aad-pod-identity/issues/1133 , we are try

[2021-08-18 09:16] sasound commented on #1140
Do we have to retain the following in azure.json ?, even for the latest AAD Pod versions :

 "useManagedIdentityExtension": true,
    "userAssignedIdentityID": "<clientid-cluster-msi>",

[2021-08-18 20:31] aramase commented on #1140
@sasound What is it that you're attempting to do? Is the cluster configured to use service principal for auth or managed identity? MIC uses the azure.json file to get the credentials for authentication. If `useManagedIdentityExtension` is set to true and there is `userAssignedIdentityID`, then it'll use that for getting a token and authenticating. If `useManagedIdentityExtension` is false, then it

[2021-08-19 05:57] sasound commented on #1140
Hi @aramase ... I gave the previous issue link for more context.
Anyways, I will provide the context again.

Here is the issue :
 - We have AKS cluster running our deployment
 - The AKS cluster was migrated from SP to MSI.
 - After this, the AAD NMI pods and MIC pods started to show the error mentioned above.
 - We had filed https://github.com/Azure/aad-pod-identity/issues/1133 and workaround was

[2021-08-20 05:57] sasound commented on #1140
@aramase ... any updates on this issue ?

thanks

[2021-08-20 16:30] aramase commented on #1140
@sasound For AKS clusters, the `azure.json` should not be modified manually. This file is generated as part of cluster bootstrap and is used by pod identity and other cloud provider components.

The fields relevant for aad-pod-identity in azure.json are:

[code]
[code]

If `useManagedIdentityExtension` is set to true, then we'll use identity to authenticate with azure. The clientID defined in `use

[2021-08-20 16:43] sasound commented on #1140
Hi @aramase ... as i mentioned.
After we migrated to msi, the following is the settings we saw on our AKS cluster.

    "useManagedIdentityExtension": false,
    "userAssignedIdentityID": "",

So as suggested in the https://github.com/Azure/aad-pod-identity/issues/1133 , I have to manually edit these 2 fields for the AAD pod to work.

Now the question is AKS cluster is expected to update these 2 f

[2021-08-20 16:49] aramase commented on #1140
@sasound Yes, it should be updated by AKS!

cc @miwithro

[2021-08-24 00:26] chewong commented on #1139
One way to limit throttling is to either:
1. fix the bad configuration
2. increase retry period by specifying it in https://github.com/Azure/aad-pod-identity/blob/master/charts/aad-pod-identity/values.yaml#L152

[2021-08-24 06:47] sasound commented on #1140
the issue has been resolved and got clarification from AKS team too.

Thanks @aramse for your help

[2021-08-24 06:47] #1140 closed

[2021-08-24 20:52] aaronjensen commented on #977
...

[2021-08-24 21:55] #1136 closed

[2021-08-25 00:09] #1124 closed

[2021-08-25 00:09] #1123 closed

[2021-08-25 10:14] Segflow opened #1142 "[helm]: Make azureIdentities.identity.binding optional"
**Describe the bug**

We want to be build to define some azure identities when creating the helm chart but without defining any binding.

Currently this fails with:

[code]

**Steps To Reproduce**

Use this `values.yaml`

[code]

**Expected behavior**

When no binding is defined, only the `AzureIdentity` resources should be created

**AAD Pod Identity version**
1.8.2

**Kubernetes version**
v1.20.

[2021-08-25 10:41] moolen commented on #1135
Thanks for your insights, i'm looking forward to test & integrate v2 ;)

[2021-08-25 10:41] #1135 closed

[2021-08-25 20:36] johnri opened #1145 ""Cluster identity has no assignment permission over identity" in external subscription"
I have a problem adding a pod identity, similar to this one: [Attempting to use an managed identity created in a different subscription from the cluster subscription fails. #1003](https://github.com/Azure/aad-pod-identity/issues/1003)

## Summary
- Cannot add a managed identity from Subscription B to a cluster in Subscription A, even though the cluster's user defined managed identity has the Manag

[2021-08-27 07:05] dawn-chu opened #1146 "upgrade aad-pod-identity version from 3.0.3 to 4.1.3 causing error"
**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/aad-pod-identity/docs/troubleshooting/)
- [x] Read [Known Issues](https://azure.github.io/aad-pod-identity/docs/known-issues/)
- [x] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
following the steps to upgrade aad-pod-identity from 3.0.3 to 4.1.3.
[code]

seeing errors:
Er

[2021-08-27 13:13] kenorb opened #1147 "CrashLoopBackOff/Pending status after cluster resume"
**Have you**

- [X] Read [Troubleshooting Guide](https://azure.github.io/aad-pod-identity/docs/troubleshooting/)
- [X] Read [Known Issues](https://azure.github.io/aad-pod-identity/docs/known-issues/)
- [X] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**

After I've stopped and started cluster on AKS (Azure cloud), not all pods are started up prop

[2021-08-29 04:47] bcho commented on #1145
Hi @johnri I need more details to investigate, could you open an IcM with your cluster and identities information to AKS? I can start the investigation in there. (My alias: bahe)

[2021-08-30 14:46] ReinAchten-TomTom opened #1151 "MIC fails to un-assign and remove Azure Assigned Identities that are pending cleanup before shutdown leaving stale resources"
**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/aad-pod-identity/docs/troubleshooting/)
- [x] Read [Known Issues](https://azure.github.io/aad-pod-identity/docs/known-issues/)
- [x] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**

We are using terraform to deploy an AKS cluster using azurerm provider and use both kubernete

[2021-08-30 15:29] phillipgibson commented on #1151
@ReinAchten-TomTom does Terraform provide a log when using the terraform destroy command? If it does are you able to provide it?

[2021-08-30 16:07] aramase commented on #1151
@ReinAchten-TomTom The MIC component in pod identity assigns the identity to the underlying VMSS when the first pod using the identity is created and unassigns the identity when the last pod using the identity is deleted. This assign/unassign operation is equivalent to `az vmss identity assign|unassign`. This PATCH request could take 10s-1m. MIC adds a [finalizer](https://kubernetes.io/docs/concep

[2021-08-30 16:16] chewong commented on #1146
Yes, there is no default value for type and you would have to explicitly configure that.

[2021-08-30 17:02] dawn-chu commented on #1146
Sure, thanks. Though it is strange it works for al long time without the` type`

[2021-08-30 17:13] aramase commented on #1146
With the switch to `apiextensions.k8s.io/v1` API version for `CustomResourceDefinition` we added the OpenAPI v3 schema. This enables validation for the field types and values when the custom resource is created. That's the reason it needs to be explicitly set.

[2021-08-30 17:39] dawn-chu commented on #1146
@aramase  Thanks for the comment. This explains. I'll make the change....

[2021-08-30 17:39] #1146 closed

[2021-08-30 18:21] ReinAchten-TomTom commented on #1151
Thanks for the quick responses, guys!

@aramase, thanks for elaborating! I take it the expected flow depicted in your answer is a deliberate decision? From an aad-pod-identity user-perspective, would be nice if we could skip (2) :) - I mean, if MIC is responsible for managing the lifecycle of AzureAssignedIdentity, why can't it wait for pending unassign request(s) to complete and remove the assign

[2021-08-30 18:49] chewong commented on #1147
Do you have the output of `kubectl describe pod <pod name>`?

[2021-08-31 12:15] sasound opened #1152 "Multiple user assigned identities exist, please specify the clientId / resourceId of the identity in the token request"
**Have you**

- [ ] Read [Troubleshooting Guide](https://azure.github.io/aad-pod-identity/docs/troubleshooting/)
- [ ] Read [Known Issues](https://azure.github.io/aad-pod-identity/docs/known-issues/)
- [ ] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
Getting token from pod fails.
we are using[ Default Azure Credential (python) ](https://docs.m

[2021-08-31 16:16] chewong commented on #1152
Based on the error, have you tried specifying the client ID of the managed identity when calling `DefaultAzureCredential`?

[2021-08-31 18:04] #1130 closed

[2021-09-01 03:24] zhiweiv commented on #1103
Any update?

[2021-09-01 05:02] xscript commented on #570
@aramase Any update about this issue?

[2021-09-01 05:30] sasound commented on #1152
Hi @chewong ... by "client ID of the managed identity " are you referring to the MSI from the AKS cluster ?
We do have a "bm-prod-oai-cluster-mi" that is used for accessing the Kusto DB and the AKV. This value is currently being passed into our code .

[2021-09-01 16:40] aramase commented on #1103
@zhiweiv There are solid dates yet but we have just private preview on AKS. When v2 repository is available we'll update the issues and the documentation here.

[2021-09-01 16:46] aramase commented on #570
We're actively working on the aad-pod-identity v2 solution that'll supersede this project. So we're not adding any new features currently. ADAL will continue to work after that date and we will have the v2 repository available by then.

[2021-09-01 18:29] chewong commented on #1152
The error suggests that the node that your workload got scheduled to has multiple identities assigned to it. Have you tried `DefaultAzureCredential(managed_identity_client_id=<client id of your desired>)`?

[2021-09-02 00:20] blueepoch commented on #1085
I'm still facing the same error. I can find the correct identity and keyvault vm extension provisioned in my VM on portal. However, my Ev2 deployment fails and I found "identity not found" issue after I connect to a instance of VM. The MSI url in log is WRONG, it uses ids of my old identity...

[2021-09-02 00:27] blueepoch commented on #1085
I tried to create a new cluster with a new name but still facing the same error, I checked in kv vm extension log, the identity ids that MSI url is using are always the ids of the old deleted identity.

I confirmed that the resourceId that I provided is correct, even on portal, I can find the VM using the correct identity.

[2021-09-02 01:20] zhiweiv commented on #1103
@aramase
I think you mean **_no solid dates_** yet.

The most concern for me is Windows support, when it is public preview, will the Windows support available too?

[2021-09-02 12:06] sasound commented on #1152
@chewong ...
 - The issue is seen on AKS prod cluster and adding the clientID toDefaultAzureCredential  would imply lot of code changes on our side. So I haven't tried setting managed_identity_client_id.
 -  I wanted to clearly understand the issue and the absolute need for this code change to be implemented.

For your query on the node where these workloads are scheduled , we see the following va

[2021-09-02 12:11] sasound commented on #1152
@chewong ... are there any other files that could have been used for getting the Assigned Identity values ?

[2021-09-02 16:28] chewong commented on #1152
The azure.json file isn't related to the issue. It just describes what credential your cluster is using. Is your workload running on host network by any chance?

[2021-09-02 21:11] johnri commented on #1145
Sure.

[2021-09-03 06:09] deyanp commented on #1013
Got the same error, @aramase , @angelbulas-mq , how do you get the logs of kube-apiserver? I don't have such a pod ...

[2021-09-03 17:54] aramase commented on #1103
@zhiweiv Pod Identity v2 will be supported for Linux and Windows. There is no NMI like component in v2, which means we no longer need host access for adding iptable rules/similar in windows.

No, it's not required.

[2021-09-04 01:06] majidaldo commented on #798
I'd use `kubernetes_manifest` though.

[2021-09-04 18:40] sasound commented on #1152
Hi @chewong ... Can you add further details around what you mean by "workload running on host network ?"

[2021-09-06 09:20] ReinAchten-TomTom commented on #1151
@aramase gentle reminder :point_up: Thnx!

[2021-09-07 14:54] BAGELreflex commented on #977
We are experiencing the same issue, and I found at least 1 other report of this issue (https://gitmemory.com/issue/Azure/aad-pod-identity/1039/816877725).

In my scenario, I cannot reliably reproduce this issue, however we have had this occur 4 or 5 times for multiple customer environments over the last couple weeks. We first noticed it occur on 2021-08-08. We have been gradually increasing our cu

[2021-09-07 16:16] chewong commented on #1152
https://kubernetes.io/docs/concepts/policy/pod-security-policy/#host-namespaces

The error that you had might be due to host network being enabled so I was wondering if that's the case.

[2021-09-07 16:18] aaronjensen commented on #977
My issues are also only with `StatefulSet`s, that is an interesting piece of information.

[2021-09-07 16:48] aramase commented on #1151
@ReinAchten-TomTom We can certainly look into running the sync loop one last time when MIC starts terminating. Note, this would still only help with scenarios where MIC is gracefully terminated. If the MIC pods are force deleted, then the `AzureAssignedIdentities` will still be find.

[2021-09-07 16:51] chewong commented on #1147
I don't see any relevant errors in the logs that could cause the crash except for `Liveness probe failed: Get "http://10.200.0.64:8080/healthz": dial tcp 10.200.0.64:8080: connect: connection refused`. Could you try the following options:
- upgrading aad-pod-identity to v1.8.3
- upgrading your cluster
- try scaling MIC to 1 replica, and then back to 2 replicas

[2021-09-07 16:57] #1103 closed

[2021-09-07 17:00] chewong commented on #830
Fixed by #1093

[2021-09-07 17:00] #830 closed

[2021-09-07 17:00] chewong commented on #829
Fixed by #1093

[2021-09-07 17:00] #829 closed

[2021-09-07 19:18] tomkerkhove commented on #829
Thanks!

[2021-09-08 06:09] ReinAchten-TomTom commented on #1151
@aramase thanks for the update! We have worked around things for now by making the kubernetes namespace(s) dependent on our aad-pod-identity terraform module. This ensures aad-pod-identity is uninstalled only after those namespace(s) has / have successfully been deleted, which means MIC gets sufficient time to remove pending AzureAssignedIdentity resources.

Such a dependency is not intuitive unle

[2021-09-08 14:35] midhun-mohan opened #1154 "MSI endpoint not available in some nodes"
**Describe the bug**
We are using aad-pod-identity in our cluster. Setup is working fine for more than an year now. But suddenly in some of the nodes we started seeing issues when pods started up.
On inspecting the logs from nmi pod on the same node, below where the error.  Below behavior is completely random and particular to only some nodes in the cluster

[code]

I tried creating a support tick

[2021-09-08 17:50] aramase commented on #1154
@midhun-mohan Thanks for reporting the issue. Is this issue on all the spot instances or just some? Also, what's the iptables version in the working and non-working node?

[2021-09-09 05:07] sasound commented on #1152
Hi @chewong ... No we don't enable HostNetwork in any of our pods except for the geneva daemonset ( [link](https://dev.azure.com/msazure/One/_git/Compute-Runtime-Tux-GenevaContainers?path=%2Fdocker_geneva_samples%2FAKSGenevaSample%2FREADME.md) )

[2021-09-09 07:26] midhun-mohan commented on #1154
@aramase Nope. This is not an issue on every spot instances. Just some of the nodes in our cluster.  we had 22 spot instances at a point and 2 of them where having this issue.

we used iptables-save in the cluster node that is not working (on 7th of september) and from the output from it, the version is `iptables-save v1.6.1` .

The cluster where having multple issues with pod identity being very

[2021-09-09 12:47] calvinShan opened #1157 "AAD pod Identity in a Cluster AKS with Kubenet"
Hello ,

I have a question about kubenet, based on these articles
https://azure.github.io/aad-pod-identity/docs/configure/aad_pod_identity_on_kubenet/
https://docs.microsoft.com/en-au/azure/governance/policy/concepts/policy-for-kubernetes

We could not deploy AAD pod Identity in a Cluster with Kubenet.  I have tried and the NMI pods are on status **CrashOff**.
In this situation, how can we use man

[2021-09-09 21:22] aramase commented on #1154
@midhun-mohan we had similar issue internally that I was investigating. It turned out IMDS was unreachable because the [wireserver](https://docs.microsoft.com/en-us/azure/virtual-network/what-is-ip-address-168-63-129-16) wasn't running on the node. This is not a specific pod identity issue. Could you provide the node details when the issue occurs again? We can then forward the details to the wires

[2021-09-09 21:24] aramase commented on #1154
cc @rkammara12

[2021-09-10 06:37] midhun-mohan commented on #1154
@aramase I was also suspecting an issue with the metadata endpoint. Sure will provide the details of the node if the issue occurs again. How should i provide the resourceid and node name if issue occurs again ? do you need it via a support ticket.

[2021-09-10 07:55] midhun-mohan commented on #1154
@aramase I have now found out a node in one of my lower environment which is having this error. Interestingly this is also a spot node.
Let me know how should i share the resourceid / name of the node in the cluster so that wireserver team can investigate more.

Also i did checked logs for the past 7 days and i have only seen this error in spot instances in azure.

[2021-09-10 09:46] midhun-mohan commented on #1154
@aramase Will be great if you can give me your email where i can share the ResourceIDs.

[2021-09-10 16:12] aramase commented on #1154
@midhun-mohan Do you still have the support ticket open? If yes, you can add the resourceID to that and share the case number.

[2021-09-10 16:36] chewong commented on #1157
Have you tried setting the `--allow-network-plugin-kubenet=true` arg in the NMI container or `--set nmi.allowNetworkPluginKubenet=true` if deploying with Helm?

[2021-09-10 16:43] chewong commented on #1152
@aramase any idea why this could happen?

[2021-09-11 08:20] midhun-mohan commented on #1154
@aramase Here is the support ticket number. #2109050050000256. Let me know if you need more details.

[2021-09-13 13:17] calvinShan commented on #1157
Yes, i have tried this. And it seems like ok but, it is not recommanded at all. In this document, it proposed to add the ConstraintTemplate of type K8sPSPCapabilities in the cluster, for the issues of security. we need to activate gatekeeper. But how to do that exactly?
thanks

[2021-09-13 17:06] aramase commented on #977
@aaronjensen I think I might have a fix for this issue. The statefulset pods have a deterministic name, the `AzureAssignedIdentity` is just being updated and doesn't need to be recreated. Recently while debugging a similar issue with an internal team for `StatefulSets` we observed the nodename label not being updated when the statefulset pod moved from one node to another. This means the `AzureAss

[2021-09-13 17:14] aaronjensen commented on #977
That's great, thank you for looking into it. Once it's released can you let me know so I can test it please?

[2021-09-13 17:18] aramase commented on #977
We'll publish an rc image after that PR is merged! I'll post here when the rc image is available for you to test.

[2021-09-13 18:15] bdschaap opened #1162 "Support for Managed Mode without forceNamespaced"
Can you tell me when Managed Mode will be supported without the forceNamespaced argument?  I'd like my aad pod identity resources to all be in a single namespace instead of across many.

[2021-09-13 18:19] chewong commented on #1157
1. You should be able to follow https://docs.microsoft.com/en-au/azure/governance/policy/concepts/policy-for-kubernetes#install-azure-policy-add-on-for-aks to enable gatekeeper for your AKS cluster. Alternatively, you can check out https://github.com/open-policy-agent/gatekeeper for the open-source solution.
2. You'd have to deploy aad-pod-identity to kube-system since the [policy](https://azure.g

[2021-09-13 18:29] aramase commented on #1162
@bdschaap There is no plan to support managed mode without force namespaced. It's best practice to have the custom resources namespaced scope. For standard mode, it's not default because force namespaced was introduced in a later release and we don't want to break existing users. The recommendation for standard mode is also to use pod identity in force namespaced mode to prevent unauthorized acces

[2021-09-13 18:29] aramase commented on #1162
cc @bcho

[2021-09-13 18:38] timja commented on #977
I’ll test this out tomorrow, also having the same issue by the looks of it!

[2021-09-13 18:46] aramase commented on #977
https://github.com/Azure/aad-pod-identity/releases/tag/v1.8.4-rc.0 is now available with the fix.

NMI: `mcr.microsoft.com/oss/azure/aad-pod-identity/nmi:v1.8.4-rc.0`
MIC: `mcr.microsoft.com/oss/azure/aad-pod-identity/mic:v1.8.4-rc.0`

[2021-09-14 07:27] timja commented on #977
Looks like the manifests weren't updated in the release @aramase?

https://github.com/Azure/aad-pod-identity/blob/v1.8.4-rc.0/deploy/infra/deployment-rbac.yaml#L478

I'll add a patch to override, but we're using remote kustomize for deploying currently

[2021-09-14 11:40] sasound commented on #1152
@aramase ... I have already attached the NMI and MIC pod logs from the timestamp to this bug.
Since the issue was repro-ed on PROD setup, we have already mitigated by restarting the pod.

[2021-09-14 14:53] calvinShan commented on #1157
@chewong  Thanks for your reply.
So we after enabling gatekeeper and configuring K8sPSPCapabilities  for AKS, the pods about AAD pod Identity could be running automatically?

Do we still need to set --set nmi.allowNetworkPluginKubenet=true by deploying NMI with Helm?
The question is about the way to correct the status of NMI pods

Thanks

[2021-09-14 16:18] chewong commented on #1157
If you deploy aad-pod-identity to kube-system with `--set nmi.allowNetworkPluginKubenet=true`, it should work. Gatekeeper and the K8sPSPCapabilities template we provided are separate components that mitigate the vulnerability we described in [here](https://azure.github.io/aad-pod-identity/docs/configure/aad_pod_identity_on_kubenet/#why-this-change) at a cluster level.

[2021-09-14 17:05] chewong commented on #1152
I took a second look at the log and I don't see any relevant errors. Since the error is not part of the NMI log, I am suspecting that the token request is not originated from NMI.

AAD Pod Identity defaults to the client ID defined in your AzureIdentity as part of the token request to IMDS if you don't specify a client ID in your Default Azure Credential. Based on your log, the identity with a cli

[2021-09-15 00:08] #1139 closed

[2021-09-15 05:40] aramase commented on #1154
Thanks for the support ticket number. I got the resource ID from the support engineer and will forward them to the wireserver team. Also, the next time the issue happens, could you get on the node and try to ping the IMDS endpoint? `ping 169.254.169.254`.

[2021-09-15 10:26] timja commented on #977
Looking good, we upgraded ~26 hours ago and the problem hasn't re-occurred.

Normally we would have hit it by now.

Thanks for the fix!

[2021-09-15 15:11] jhyot opened #1163 "Best practice for multi-tenant cluster?"
What is the recommended security practice regarding aad-pod-identity for an AKS cluster where multiple "tenants" (or independent teams) are deploying their applications?

The individual tenants obviously only have read/write permissions to their own namespace. But even if aad-pod-identity is running in namespaced mode, anybody who can create an `AzureIdentity` and `AzureIdentityBinding` in their n

[2021-09-15 15:24] calvinShan commented on #1157
@chewong thanks for your reply.

We have well deployed NMI and MIC on AKS with --set nmi.allowNetworkPluginKubenet=true.  Based on this article, we have deployed the pod demo: https://docs.microsoft.com/en-au/azure/aks/use-azure-ad-pod-identity

However, it does not work at all :

kubectl logs aad-pod-identity-nmi-99r6m
[code]

kubectl logs aad-pod-identity-mic-f7cd576b4-gmjfc
[code]
What do these

[2021-09-15 15:34] aaronjensen commented on #977
I’m focused elsewhere right now so can’t test it on my end, but this seems promising. Once it’s released I’ll probably be able to upgrade and test. Thank you!

[2021-09-15 16:09] chewong commented on #1157
Could you follow https://azure.github.io/aad-pod-identity/docs/demo/standard_walkthrough/ instead? https://docs.microsoft.com/en-au/azure/aks/use-azure-ad-pod-identity is a bit outdated and it is meant for managed aks add-on only. If you are using the open-source solution (this repo), you should check out the first link.

[2021-09-15 16:18] chewong commented on #1163
According to your example, if team B has the resource ID and the client ID of team A identity (they can get the information via azure-cli or Azure portal), team B can create an AzureIdentity based on team A identity.

This is out of the project's scope. I think this can be achieved by revoking read access from team B on team A identity via RBAC on Azure.

[2021-09-15 16:43] calvinShan commented on #1157
@chewong  Thanks for your reply, after following the article  https://azure.github.io/aad-pod-identity/docs/demo/standard_walkthrough/ .

I have still some errors as bellow:
kubectl logs demo:
E0915 16:37:14.743923       1 main.go:65] failed to refresh the service principal token, error: adal: Failed to execute the refresh request. Error = 'context deadline exceeded'

kubecl logs NMI:
[code]

kube

[2021-09-15 16:57] chewong commented on #1157
Did you assign "Managed Identity Operator" to the identity as well?

[2021-09-15 23:38] aramase commented on #1154
@midhun-mohan The IMDS team confirmed the issue was with wireserver and the node was unhealthy from 09/08 to 09/14. The node is fixed now. If you hit the issue again, try `ping 169.254.169.254` from the node with issue. If that fails, then open a support ticket and we can route that to the wireserver team.

[2021-09-16 06:37] midhun-mohan commented on #1154
@aramase That is great. Was that a bug in the wireserver? Was the root cause fixed?
Also it will be great if you can provide me an overview of what the issue was  :)

[2021-09-16 07:23] jhyot commented on #1163
Yes that's what I mean. As far as I have understood it, resource and client IDs are not *secrets* per se (they are IDs), so usually no effort is done to specifically conceal or hide these IDs. There could be potentially many ways for a third party to obtain these IDs.

This would prevent for team B to read the IDs in the most direct way (by reading the resource in Azure), but this would not preven

[2021-09-16 12:46] calvinShan commented on #1157
@chewong how to assign "Managed Identity Operator" to the identity, do you mean assigne the role 'Managed Identity Operator' to the identity for which ressource?
who : managed identity
what : Managed Identity Operator
where: ?
It is for which ressource please?

[2021-09-16 16:13] chewong commented on #1157
You can run the script in https://azure.github.io/aad-pod-identity/docs/getting-started/role-assignment/ to automate your all role assignments for your managed identity-enabled AKS cluster.

[2021-09-16 16:23] chewong commented on #1163
It's totally up to the cluster admin on how to handle this and we don't have a best practice for it at the moment. IMO, you could
- If possible, create two separate AKS clusters for team A and team B. You could also create them in two separate Azure subscriptions for additional boundary.
- Leverage [gatekeeper](https://github.com/open-policy-agent/gatekeeper) to block the creation of AzureIdentity

[2021-09-17 10:44] calvinShan commented on #1157
@chewong Thanks for your help

Do you know how can I use pod identity to authenticate cosmosdb and eventhub.
I know I need to assign the roles and set aadpodidbinding in the deployment.yaml.

But how to develop the fonction(.net/java) to use this aadpodid in order to access to cosmosdb please?

Thanks

[2021-09-17 16:13] aramase commented on #1154
@midhun-mohan yeah, the issue was with wireserver. The regression was caught by the team and the rollout was stopped. The regression causes wireserver to crash during startup and fail to run. As wireserver is down, IMDS can't be reached. The next time the issue happens, you can get on the node and try `ping 169.254.169.254`. If there is no response, then I would recommend opening a support ticket

[2021-09-17 17:10] aramase commented on #977
@timja Thanks for testing it out!

@aaronjensen The release is now available: https://github.com/Azure/aad-pod-identity/releases/tag/v1.8.4

[2021-09-17 17:29] chewong commented on #1157
You can follow our Java example: https://azure.github.io/aad-pod-identity/docs/demo/java-blob/. All you need to add in your application is the [`DefaultAzureCredential`](https://github.com/Azure/aad-pod-identity/blob/master/examples/java-blob/src/main/java/com/microsoft/cse/storageexample/config/BlobConfigLoader.java#L29-L31), which uses the underlying identity you defined to authenticate your app

[2021-09-17 18:03] bdschaap commented on #1162
Thanks for the feedback.  I can understand that perspective but I believe it assumes namespaces are being used as a security boundary.  I would to suggest allowing it as an opt-in feature and noting the security implications in the documentation.

[2021-09-19 11:38] dimbleby commented on #1085
Still no reason to believe that this has gone away (nor that inactivity will ever cause it to go away).

[2021-09-20 13:52] mblaschke commented on #1163
I've wrote a small operator which maintains `AzureIdentity` and `AzureIdentityBinding` in a secure way:

https://github.com/webdevops/azure-msi-operator

[2021-09-20 15:02] ryanberger-az opened #1165 "Some example code for using AAD Pod Identity to interact with Azure services"
Hi, I would like to see some more examples of actually using AAD Pod Identity. I have recently stumbled upon the project, which is super awesome and using the documentation I was able to set it up on my AKS environments. But it really feels like it stops there. There is not a lot of examples of actually utilizing the tool to actually interact with Azure services. Our goal for this is to be able to

[2021-09-20 16:10] chewong commented on #1165
I have never seen this error before but I suspected it's an SDK-related error. aad-pod-identity should work with all of the Azure SDKs that support [Managed Identity](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/overview). [`DefaultAzureIdentity`](https://docs.microsoft.com/en-us/dotnet/api/azure.identity.defaultazurecredential?view=azure-dotnet) is a

[2021-09-20 16:47] aramase commented on #1085
@dimbleby Are you still facing the `identity not found` issue in your cluster? If yes, could you open a support ticket with the resource id info that has the error? We can then forward it to the IMDS team for investigation.

[2021-09-20 16:50] dimbleby commented on #1085
@aramase we have ICM 245096638 open, if you know who to poke to get this moving I'd be grateful!

(We are not hitting it right now; but have hit the same thing again since raising the initial report.)

[2021-09-20 17:27] ryanberger-az commented on #1165
Hi @chewong

That article helped us move forward a bit. Thank you so much for your help. I'll update back here when we're 100% in the clear and utilizing the MIC.

[2021-09-20 17:54] aramase opened #1166 "Replace deprecated codecov uploader"
Codecov bash uploader is deprecated, we should replace that with https://github.com/codecov/codecov-action

Ref: https://docs.codecov.com/docs/about-the-codecov-bash-uploader

[2021-09-20 20:51] rafagsiqueira commented on #1165
If you are using network policies to filter egress traffic from pods, then this might help you: [Token requests calls fail with i/o timeout](https://azure.github.io/aad-pod-identity/docs/troubleshooting/#token-requests-calls-fail-with-io-timeout)

[2021-09-20 23:48] #1166 closed

[2021-09-24 18:15] aaronjensen commented on #977
I just did a node upgrade and it was flawless. Thank you for the fix!

[2021-09-24 18:15] #977 closed

[2021-09-25 00:08] #1145 closed

[2021-09-27 10:06] sasound commented on #1152
Hi @aramase  / @chewong ... I was out sick and also had issues with my SAW. So couldn't respond appropriately.
I will share the details that you have asked.

[2021-09-28 04:14] pipezapata1986 opened #1168 "Upgrading 1.5.5 to 1.8.4 version."
Hi, I have to upgrade the version mentioned on the title for a production environment. are there any known issues with this procedure? do you have any advice? thank you very much!

[2021-09-28 16:13] aramase commented on #1162
Without namespaced mode, any pod will have access to any identity in the cluster. This would just become similar to not having pod identity in the cluster as all managed identities are now accessible by all pods.

Given the best practice is to keep CRDs namespaced and namespace being the security boundary for pod identity, I don't think we want to support non namespaced option in managed mode.

[2021-09-28 16:15] aramase commented on #1168
You can review the [changelog](https://azure.github.io/aad-pod-identity/changelog/) and the [breaking changes](https://azure.github.io/aad-pod-identity/docs/#breaking-changes) to make the necessary changes as you upgrade from an older version to the latest.

[2021-09-28 17:53] bdschaap commented on #1162
Thank you.  Hoping that providing a little more context on our use case may help.

We currently use AAD Pod Identity for both on-prem and AKS clusters in Azure.  AAD Pod Identity supports our on-prem use case by providing managed identity authentication tied to service principals.  The pod would only have access to a different identity if a change was made and then went through a deployment pipeli

[2021-09-29 00:08] #1147 closed

[2021-09-29 00:09] #889 closed

[2021-09-30 10:59] joecanman opened #1171 "Which AKS security restrictions can be applied to Pod Identity containers?"
I'm eager to know which restrictions can be applied to the Pod Identity containers (MIC / NMI) without resulting in any impact
- can they be run as non-root?
- can be be run in non-privileged mode?
- Can they be set with a read only file system?
- Do they need the Service Account Token mounted?
regards

[2021-09-30 16:24] aramase commented on #1171
Both MIC and NMI needs to run as root. MIC needs to access `/etc/kubernetes/azure.json` and NMI need root permissions to modify iptables on the host.

MIC and NMI run in non-privileged mode.

Yes, read only file system should be sufficient.

Yes, service account token is required to be able to communicate with the kube-apiserver.

[2021-09-30 18:56] tshaiman opened #1172 "Migrating from Standard to Managed Mode"
Please add remark / explanation whether the manual-mode role assignments described here :
https://azure.github.io/aad-pod-identity/docs/getting-started/role-assignment/#performing-role-assignments
are still required.

I think that Virtual Machine Contributor role can be skipped when working in Managed-Mode.

[2021-10-01 00:09] #1151 closed

[2021-10-01 16:18] aramase commented on #1172
If you're migrating from standard to managed mode following this doc: https://azure.github.io/aad-pod-identity/docs/configure/standard_to_managed_mode/ then no role assignments are required. The role assignment in the above doc are only required for standard mode as MIC component will assign/un-assign the identity. In [managed mode](https://azure.github.io/aad-pod-identity/docs/configure/pod_ident

[2021-10-01 17:05] #1172 closed

[2021-10-04 20:26] nasimkhli opened #1174 "Error in MIC pod"
**Describe the bug**
I am seeing the following error in MIc log:
pkg/mod/k8s.io/client-go@v0.19.2/tools/cache/reflector.go:156: Failed to watch *v1.AzureIdentityBinding: failed to list *v1.AzureIdentityBinding: Get "https://10.0.0.1:443/apis/aadpodidentity.k8s.io/v1/azureidentitybindings?resourceVersion=73508366": dial tcp 10.0.0.1:443: connect: connection refused
E1004 18:10:29.377273       1 ref

[2021-10-05 07:54] dimbleby commented on #1085
not stale

[2021-10-05 17:29] mxrss2 commented on #1154
@aramase what is the bug or issue number tracked on their github because this might be impacting us as well - would like to be able to track it to see if this showed at about the time we started to have major issues. Link would be greatly appreciated.

[2021-10-05 17:37] aramase commented on #1154
@mxrss2 This is an internal issue and is not tracked in github. If you're facing similar issues and see `ping 169.254.169.254` fail from the node, please open a support ticket. The wireserver team would use that for investigation and resolution.

If you're able to ping, then it might not be the same issue.

[2021-10-05 18:14] aramase commented on #1174
Chatted with @nasimkhli on teams.

1. `v1.7.1` is an old version of aad-pod-identity. Recommended upgrading to the latest and see if the issue is resolved.
2. If issue persists after upgrade, open a support ticket with AKS to debug connection failure to kube-apiserver.

[2021-10-05 19:04] mxrss2 commented on #1154
@aramase first off thank you for replying.

I can not ping but i can curl the endpoint / tested pinging some known ip and cant get a response so i don't think ping is a good diagnostic. -- I believe some type of ICMP firewall is enabled --

[2021-10-05 21:36] aramase commented on #1174
`AzureAssignedIdentity` is created to map the status of the `AzureIdentity` with the pod. It gets set to `Unassigned` when either the pod/AzureIdentity/AzureIdentityBinding are deleted.

Ref: https://azure.github.io/aad-pod-identity/docs/concepts/

[2021-10-05 22:00] nasimkhli commented on #1174
The issue is we can't hit our services endpoint in k8s starting 9/30 and we did not change anything in our cluster.
So, I started looking into logs.
our pods under our namespace show they are running fine and I don't see any error in our services pod log.
I looked at the nmi log and I don't see any issue with getting token, the following is what I see:
I1005 18:50:18.240866       1 main.go:87] sta

[2021-10-08 10:46] ietashish opened #1177 "Multiple CVEs found when scanning NMI container."
**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/aad-pod-identity/docs/troubleshooting/)
- [x] Read [Known Issues](https://azure.github.io/aad-pod-identity/docs/known-issues/)
- [x] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
Running container scan on NMI container (mcr.microsoft.com/oss/azure/aad-pod-identity/nmi:v1.8

[2021-10-09 00:08] #1157 closed

[2021-10-13 17:55] nasimkhli opened #1181 "Error in pod identity binding"
**Describe the bug**

I can not deploy to the cluster , the pod stays at containerCreation status. I did the describe on the pod and I got the following:
 Warning  FailedMount  43m (x9 over 58m)     kubelet            MountVolume.SetUp failed for volume "" : rpc error: code = Unknown desc = failed to mount secrets store objects for pod [], err: rpc error: code = Unknown desc = failed to mount obje

[2021-10-15 10:33] holooloo opened #1182 "Standard Walkthrough"
${IDENTITY_ASSIGNMENT_ID}  - Variable meets only one time in this article - https://azure.github.io/aad-pod-identity/docs/demo/standard_walkthrough/

[2021-10-17 00:14] annerajb commented on #1154
Yeah I tried pinging and it hangs but a curl to port 80 instantly returns bad request.

[2021-10-17 16:16] sasound commented on #1152
yes

I am not getting this question. Which default azure credential you are asking here ?

Are you talking about the stack trace from the code ?. All the error that was gathered is already shared in the ticket.
Since the issue is intermittent and not consistent, getting the trace again might be difficult

[2021-10-18 20:55] aramase commented on #1181
Could you get on the host and get the `/etc/kubernetes/azure.json` file? MIC uses the `azure.json` to determine if it needs to use SP/user-assigned managed identity/system-assigned managed identity to assign/un-assign identities on the VM/VMSS.

[2021-10-20 00:09] #1168 closed

[2021-10-20 02:10] nasimkhli commented on #1174
closing the issue.

[2021-10-20 02:10] #1174 closed

[2021-10-21 02:49] ECNUJason opened #1183 "Why business code should be aware of Managed Identity information?"
https://github.com/Azure/aad-pod-identity/blob/0fbc00f8b572ee780199ddb4489a94f1f01d3815/examples/java-blob/src/main/java/com/microsoft/cse/storageexample/config/BlobConfigLoader.java#L20

[2021-10-21 09:52] Sac-BRONGA opened #1184 "aad-pod pod Non-compliant for pods and containers should only run using approved user and group Ids"
We have enabled Azure Policy for "Kubernetes cluster pods and containers should only run with approved user and group IDs." but we received all the pods in all the containers are Non-Compliant. even we provide all the required parameters.

Expected Behavior
The aad-Pod Pods in the Cluster need to be Non Compliant. The aad-pod should run only in the provided user and group ids.

Actual Behavior
The

[2021-10-21 10:27] yellowhat opened #1185 "Azure CNI vs Kubenet"
**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/aad-pod-identity/docs/troubleshooting/)
- [x] Read [Known Issues](https://azure.github.io/aad-pod-identity/docs/known-issues/)
- [x] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
Hi,
consider the following example:

[code]

If I use the `kubenet` network:
[code]
It works a

[2021-10-21 14:47] abhi-vaidya opened #1186 "Security Vulnerability found in this Package."
https://github.com/Azure/aad-pod-identity/blob/a5afff63eb14f0baa3507cbcdb02594cb5f55d0f/go.sum#L112

We are using aad-pod-identity package and our security application reported vulnerability in this package. Is there any plan to upgrade this package?

https://nvd.nist.gov/vuln/detail/CVE-2020-26160Vulnerable package: github.com/dgrijalva/jwt-go
fixed in v4.0.0-preview1

[2021-10-22 00:10] #1171 closed

[2021-10-22 09:34] #1185 closed, assigned to nobody

[2021-10-31 00:09] #1177 closed

[2021-10-31 02:43] kingli-crypto commented on #1085
Finding exact same issue with aad-pod-identity. My experience is that the issue "might" go away when retrying for ~5 minutes.

[2021-11-01 21:42] andyw248 commented on #1152
I just experienced the same issue. I have one additional detail that may or may not have been present in sasound's case.

Scenario:
Before running into this issue I had enabled the "Insights" feature (i.e. Log Analytics) for the affected cluster. After a few minutes, horizontal auto-scaling tried to create new pods, and they failed with the same error that is discussed here.

Managed Identities:
I

[2021-11-02 07:59] sasound commented on #1152
@andyw248 ... thnx for your input.
I will have to check on this.

Will revert in a day

[2021-11-02 09:07] tshaiman opened #1188 "Assigning Identities to VMSS"
**Describe the request**
It is not clear from the documentation whether the command to assign identities to VMSS is only applied
in HELM chart case since it is described under a title called "values" .
The reader might think this only applies to helm chart usage , but I guess its for all cases.

**Explain why AAD Pod Identity needs it**
misleading docs
- taking into account that there are also "ro

[2021-11-04 03:10] hazzik commented on #1181
Getting similar issue started today.

[2021-11-04 03:12] hazzik commented on #1075
Bot is really unhelpful.

[2021-11-04 10:27] kvendingoldo commented on #302
@chewong can you share any link to a new iteration? Where can I look at this?

[2021-11-04 16:17] aramase commented on #1075
@hazzik If you're facing any issues, please feel free to open a new issue with the relevant logs and we can help take a look. This issue was closed because there are no longer any errors based on the last message.

[2021-11-04 16:35] chewong commented on #302
It's going to be available and open-source soon. We will keep everyone posted in this repository's README.

[2021-11-04 20:49] marawan31 commented on #1123
From what I understand running in managed mode does not require you to have the `Managed Identity Operator` or `Virtual Machine Contributor` role on the cluster, but from the `az aks pod-identity add` command a call is being made to [_ensure_managed_identity_operator_permission](https://github.com/Azure/azure-cli-extensions/blob/main/src/aks-preview/azext_aks_preview/custom.py#L3824) which seems t

[2021-11-04 20:53] miwithro commented on #1123
@bcho can you comment?

[2021-11-05 17:00] chewong commented on #1186
One of our dependencies (`k8s.io/component-base`) is using the package above so there is nothing we can do until the dependency (or its dependencies) stops using the package. I confirmed that `k8s.io/component-base@v0.23.0-alpha.4` won't have the above package anymore so let's wait until v1.23.0 is released.

[2021-11-06 00:16] KnicKnic opened #1189 "container images are not pinned"
Container images should include the sha256 so that if there is a supply chain attack users are less vulnerable.

https://github.com/Azure/aad-pod-identity/blob/0fbc00f8b572ee780199ddb4489a94f1f01d3815/charts/aad-pod-identity/values.yaml#L44-L46

[2021-11-08 02:42] bcho commented on #1123
Hi @marawan31 , in the managed mode we need this MIO permission to the cluster it's because in managed mode we will use the cluster identity to perform the user identities to VMSS assign operation. We can also assign the role to the managed cluster resource group (so the cluster can inherit from resource group).

This setup is similar to what we do in standard mode: https://azure.github.io/aad-pod

[2021-11-08 12:31] ghostika commented on #1181
I also started to have this issue since yesterday. I have v1.8.5. I tried to do a `cat /etc/kubernetes/azure.json` in `nmi` and `mic` pods, but I didn't found any file.
Because of this issue the app-gatway-ingress-conroller doesn't work and I have to manually update the IPs of the new pods.

[2021-11-08 17:06] chewong commented on #1181
@hazzik & @ghostika do you have an AKS cluster or other type of cluster?

[2021-11-08 17:37] aramase commented on #1189
@KnicKnic Thank you for the feedback. We'll add the `version@sha` for the image tag.

[2021-11-08 19:52] ghostika opened #1190 "Refresh request failed. Status Code = '401'."
I have an AKS setup with Azure Application Gateway (AGIC). Since a week I started to see errors in the `MIC` pods:

[code]

Because of this, the AGIC container doesn't start properly.
I thought I will solve the problem, by generating a totally new identity, assigning the same ROLEs, and just updating AGIC with helm - I'm not sure if the problem is here or in AGIC.

But I still get this error.

I l

[2021-11-08 22:27] ghostika commented on #1181
@chewong yes, I have 2 Aks cluster, where I use this. Interestingly, in one cluster I saw the error, but the sync with the appgw still worked, in the other one it stopped working.

[2021-11-08 22:49] chewong commented on #1190
I am suspecting that your cluster credential has expired. Is your AKS cluster using a service principal or managed identity as the cluster identity?

[2021-11-09 00:12] #1154 closed

[2021-11-09 07:57] ghostika commented on #1190
@chewong I'm using for AKS a service principal.

[2021-11-09 14:19] ghostika commented on #1190
The problem was the expired cluster credentials. It's interesting, as I've seen this error in the logs for some weeks, but didn't have any effect on the cluster until one of the needs get evicted and the connection should have been set up again between agic and appgw, then it broke.

[2021-11-09 14:19] #1190 closed

[2021-11-12 00:09] #1184 closed

[2021-11-12 00:09] #1183 closed

[2021-11-12 00:09] #1182 closed

[2021-11-15 09:02] dimbleby commented on #1085
ghjk

[2021-11-15 17:17] aramase commented on #1085
@dimbleby Could you open a separate github issue with the error logs and timestamp?

[2021-11-16 13:22] RomanDvorsky opened #1192 "Assign manage identity fails"
**Have you**

- [ ] Read [Troubleshooting Guide](https://azure.github.io/aad-pod-identity/docs/troubleshooting/)
- [ ] Read [Known Issues](https://azure.github.io/aad-pod-identity/docs/known-issues/)
- [ ] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
The manage identity is not assigned when there are multiple services using manage identity and

[2021-11-16 16:53] mingaliu opened #1193 "What extra work is needed to support non-aks, non-aks-engine k8s cluster hosted in azure?"
**Describe the request**
For the cluster setup (for example, using kubeadm), what is required to use aad-pod-identity?

From https://azure.github.io/aad-pod-identity/docs/getting-started/role-assignment/,
   _If you deploy the VMs and install Kubernetes instead of using tools like aks-engine or capz, you’ll need to assign the user-assigned managed identity to the underlying VMs.__
Is "assign the u

[2021-11-16 17:11] chewong commented on #1193
If you are using helm to install aad-pod-identity, you will have to deploy it using a service principal and fill out [these values](https://github.com/Azure/aad-pod-identity/blob/master/charts/aad-pod-identity/values.yaml#L28-L40).

[2021-11-16 17:21] chewong commented on #1192
It looks like the Azure client in MIC was throttled, meaning there were too many requests made and you can't make additional requests until a certain period of time.

AAD Pod Identity assigns identities in batches instead of serially to minimize the number of identity assignment requests made to Azure. MIC should omit identities with erroneous resource IDs from the batch and retry but I am not sur

[2021-11-17 08:06] RomanDvorsky commented on #1192
Well, the thing is that we do run multiple services on one aks cluster. Each service has a different team behind it.
Each team is encapsulated in its own namespace to minimize the risk to disrupt other services.
But this bug is quite unpleasant because one service (one team) can disrupt the whole cluster and other teams as well.
Luckily we have discovered this on the testing cluster but imagine a

[2021-11-17 15:03] mingaliu commented on #1193
@chewong,  the question is whether we can use aad-pod-identity in manually created cluster in azure. (no, I am not using helm, why this is related to helm?)

[2021-11-17 17:30] chewong commented on #1193
The answer is yes you can as long as you have access to IMDS. Here are the steps you can follow:
1. create [`/etc/kubernetes/azure.json`](https://kubernetes-sigs.github.io/cloud-provider-azure/install/configs/) in each node if it doesn't exist. This file contains the configuration needed to authenticate with Azure.
2. If you are not creating `/etc/kubernetes/azure.json`, then you can manually crea

[2021-11-18 11:47] mkroitor2 opened #1194 "Vulnerabilities found in NMI 1.8.0"
Our scans found the below:

Debian has released security update for lz4 to fix the vulnerabilities.<P><BR><BR>Note: The preceding description block is extracted directly from the security advisory. Using automation, we have attempted to clean and format it as much as possible without introducing additional issues.Malicious users could use this vulnerability to change partial contents or configurat

[2021-11-18 17:10] aramase commented on #1194
@mkroitor2 The latest available release for aad-pod-identity is `v1.8.5` and there are no vulnerabilities in that release images. Please upgrade to the latest available release.

[code]

[2021-11-19 00:09] #1162 closed

[2021-11-23 08:19] ghostika commented on #1181
@nasimkhli for me the problem was the expired token for my AKS cluster. You have to renew it yearly, but the problem only arise, when one of my nodes died and a new instance of `agic` was created and that one wasn't able to connect with appgw.

Maybe this will help you also: https://docs.microsoft.com/en-us/azure/aks/update-credentials

[2021-11-23 17:13] abhi-vaidya commented on #1186
@chewong
Would you be able to provide any estimation on when  v1.23.0 will be available.

[2021-11-24 00:14] #1152 closed

[2021-11-24 15:33] Holger-Seemueller opened #1195 "Egress network policy blocks request to IMDS endpoint"
Hello everyone,

i have a pod using a pod identity to access an Azure resource. This pod is proteced by a network policy:

[code]

When the pod is scheduled the contained Spring Boot service throws an exception:
```[...] Caused by: com.azure.identity.CredentialUnavailableException: ManagedIdentityCredential authentication unavailable. Connection to IMDS endpoint cannot be established, Connect time

[2021-11-26 09:14] tshaiman opened #1196 "Migration step not clear"
1. in the migration doc :
there is this section

"Assign the pod identities to the VM/VMSS" which is not clear :
1. why are we doing this ? isnt the new managed mode supposed to handle this ?
2. Will this be required AFTER the migration when adding new Node Pools ?
3. After all if you re-install your service after the migration , and part of your installation also has "AzureIdentity" and "AzureIde

[2021-11-29 17:28] chewong commented on #1186
1.23.0 should be released in December AFAIK.

[2021-11-29 18:08] aramase commented on #1186
The timeline for v1.23 release is available here: https://www.kubernetes.dev/resources/release/#timeline. When the package is available, we'll update to use that in aad-pod-identity and cut a release.

[2021-11-29 18:11] dmakeienko opened #1197 "Is aad-pod-identity supports Azure Key Vault Provider for Secrets Store CSI Driver?"
Hello,
we are actively using aad-pod-identity to access Azure resources but now we want to also use the Azure Key Vault Provider for Secrets Store CSI Driver to read secrets into pods directly from Key Vault.
As of now, it is possible with the add-on https://docs.microsoft.com/en-us/azure/aks/csi-secrets-store-driver
THe question is, is it possible to use it in conjunction with the aad-pod-identit

[2021-11-29 18:13] aramase commented on #1196
Assigning identities is only handled in standard mode. There is no MIC in managed mode which means the identities need to be manually assigned by the user. If you're referring the AKS managed pod-identity addon, then `az vmss identity assign` isn't required. But if you're just installing aad-pod-identity in managed mode from this repo, then identity assignment needs to be manually performed.

Coul

[2021-11-29 18:16] aramase commented on #1197
Hello 👋🏻

In the docs link you shared, there is a reference in usage to setup the pod identity using the AKS addon: https://docs.microsoft.com/en-us/azure/aks/csi-secrets-store-identity-access#usage. If you're using aad-pod-identity from open-source, there are instructions in the project on how to get started: https://azure.github.io/secrets-store-csi-driver-provider-azure/configurations/identity-

[2021-11-29 18:53] tshaiman commented on #1196
Thank you very much for the details explanation Anish.
yes , I was referring to the migration between manual mode and managed-aad-pod-identity from the git-hub repo ,not from the AKS Add on.
Actually I never though there is a difference between the two, but you have clarified that when using this repo then assigning the identity with "az vmss identity assign" is required.
this means that it will b

[2021-11-30 00:11] dimbleby commented on #1085
ack

[2021-11-30 08:06] RomanDvorsky commented on #1192
Any news, ideas regarding this bug?

[2021-11-30 17:30] chewong commented on #1192
That isn't scalable and will also cause throttling faster in the case of hundreds or thousands of identities, which is why we switched to batch-assigning instead since it will only require one API call. In addition, due to the architecture design, if one of the identities  (out of our control)

We already have built-in logic to apply delays in case of throttling.

Could you share your MIC logs by

[2021-12-01 02:54] zhiweiv opened #1198 "Question about v1 and v2"
There should be aad-pod-identity v2 next year, when the v2 released, will v1 be deprecated? Will v1 continue receive security/bug fix after v2 released?

[2021-12-01 07:23] RomanDvorsky commented on #1192
sure, can I send you those logs in any private way? thx, R.

[2021-12-01 17:08] chewong commented on #1198
There won't be new features for this project from now on but it will continue receiving security fixes until v2 is generally available. After that, this project will be deprecated.

[2021-12-01 17:11] chewong commented on #1192
You can create a github repo / fork this repo, make it private, and grant read access to me.

[2021-12-02 01:05] #1198 closed

[2021-12-02 12:21] deyanp opened #1199 "mic restarting often (lost leader lease)"
**Have you**

- [X] Read [Troubleshooting Guide](https://azure.github.io/aad-pod-identity/docs/troubleshooting/)
- [X ] Read [Known Issues](https://azure.github.io/aad-pod-identity/docs/known-issues/)
- [ X] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
mic pods restart from time to time (e.g. 1x/day or 1x/week, or once every couple of days).

[2021-12-02 17:08] aramase commented on #1199
Thanks for reporting the issue.

1. Could you enable verbose logs in the MIC pod (set `-v=5` in MIC args) and share the errors during the failure? This will print the client-go library logs.
2. Do you have the `kube-apiserver` logs at the time of the error. Based on the error message above it looks like the apiserver request timed out. This could be intermittent issues with the kube-apiserver.
3.

[2021-12-02 17:43] chewong commented on #1192
Did you modify the syncRetryDuration flag to 1 second? With no new pods, MIC attempts to run the sync loop every hour instead of every second. With this many API calls and identities, it will get throttled easily.

Also, incorrect client ID in AzureIdentity shouldn't cause an error when assigning the identity to the VMSS. Did you ensure that the resource ID of the identity in AzureIdentity is corr

[2021-12-02 19:40] RomanDvorsky commented on #1192
nope I did change anything like this - standard helm installation without any additional configuration

well actually this is the issue - I did fix it afterwards but the problem is that we have many teams and mistakes can happen which is a quite unpleasant situation that one team can destroy the whole cluster. I have no idea how to check such a mistake - how can I validate the resource id before i

[2021-12-02 21:45] chewong commented on #1192
Currently, there is no way we can validate the resource ID of the identity until we tried to assign it to the node. We could technically do a GET operation to see if we get a 404 but that will also cause throttling very easily when you have a lot of identities. You can programmatically get the resource ID with `az identity show -g ... -n ... --query id -otsv` to minimize human errors.

[2021-12-03 07:00] RomanDvorsky commented on #1192
yep, of course, we have an exact tutorial but anyway it happens - now we are facing this risk which we would like to minimize - we are not able to validate therefore the logical step is whether the service can survive such an error - from my perspective it could react better - wdyt?

[2021-12-03 18:05] chewong commented on #1192
Yes, there is definitely room to improve, which is why we are launching v2 of pod identity at the beginning of next year where we completely got rid of the identity assignment step.

[2021-12-06 06:08] RomanDvorsky commented on #1192
ok, so we will pay attention and wait for the next version - is it possible to be assigned to preview of v2? we could use it on our testing clusters...

[2021-12-06 08:05] #1194 closed

[2021-12-06 13:47] l4z4rus opened #1201 ""no AzureAssignedIdentity found for pod" error in NIC logs"
**Describe the bug**
After updating the certificates of our AKS cluster and the credentials of the service principal associated with it (as they have expired), the AGIC pod has failed in crashLoopBackOff and the mic and nmi pods show errors related to the managed identity.

**Steps To Reproduce**

**Expected behavior**
 To just keep working
**AAD Pod Identity version**
 1.5.4, installed using yaml

[2021-12-06 17:14] aramase commented on #1201
`1.5.4` version of aad-pod-identity is old and is no longer supported. The earlier versions (1.5.x) used a PUT REST API call to assign the identities which required more permissions. In 1.6.x we updated to PATCH API call for this reason. Please see https://github.com/Azure/aad-pod-identity/issues/753 for more details.

I would recommend reviewing our release notes and updating to the latest suppor

[2021-12-06 19:50] l4z4rus commented on #1201
Hi @aramase,
thanks for the reply.

I have some questions about it:

1. do i have to delete the old version of aad-pod-identity before deploying the new one?
2. is it recommended to use the latest release (v1.8.5) or is it sufficient that it is 1.6+?
3. our AKS cluster has an AGIC pod (v1.0.0) deployed with Helm v2. According to the documentation at this link (https://azure.github.io/application-g

[2021-12-07 18:33] aramase commented on #1201
If you would like to do a clean install, then you can delete and recreate pod identity. Please review the breaking changes as 1.5.x is a really old version.

The current supported versions are 1.7.x and 1.8.x. So our recommendation is to use the latest as they contain performance improvements and bug fixes. The older versions are no longer maintained/tested.

For AGIC related questions and AGIC co

[2021-12-07 21:49] brianloss opened #1202 "Unable to configure helm chart for custom cloud without template modifications"
**Have you**

- [X] Read [Troubleshooting Guide](https://azure.github.io/aad-pod-identity/docs/troubleshooting/)
- [X] Read [Known Issues](https://azure.github.io/aad-pod-identity/docs/known-issues/)
- [X] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**

There is no way to follow the [custom cloud directions](https://azure.github.io/aad-pod-ident

[2021-12-07 23:51] RoSk0 opened #1204 "Allow to create identity without creating namespace"
**Describe the request**

When creating and identity with `az aks pod-identity add` pod identity creates the namespace. I want to have an option to NOT created it.

We use Terraform to better manage application resources in Rancher and existing namespace makes it really hard to the first deployment as Terraform tries to create it for us.

**Explain why AAD Pod Identity needs it**

Having option to

[2021-12-07 23:57] aramase commented on #1204
cc @bcho @miwithro for the AKS add-on

[2021-12-08 00:59] chewong commented on #1192
Unfortunately, a preview won't be available. However, as I mentioned above, we will open-source the next iteration of aad-pod-identity at the beginning of next year to the general public.

[2021-12-08 23:49] #1202 closed

[2021-12-09 13:45] bcho commented on #1204
Hi @RoSk0 , thanks for your feedback! I have a question: are you creating the whole cluster and pod identities during the cluster creation with terraform? Asking this because I want to understand the usage pattern here.

[2021-12-09 19:52] RoSk0 commented on #1204
No. Clustervis set up, than pod identities. Not sure about the cluster creation,  but pod identities are created with a shell script using `az aks pod-identity add` command as per description.  The application is then deployed with Terraform via Rancher provider.

Thinking more about it I believe claim made in the description is not correct namespace is not created at the time of the pod identitie

[2021-12-10 22:40] bplasmeijer commented on #242
Any ETA update v2?

[2021-12-10 23:20] #1186 closed

[2021-12-13 03:34] zhiweiv commented on #242
We have figured out a way to partially support Windows in v1.
1 mic can bind correct identity to underlying host for Windows pods.
2 Since there is no nmi-like component in Windows host,  the token request from pod will get error **Multiple user assigned identities exist**. You can specify client id in your application to make it work, for azure sdk .net, the code is like this
[code]

[2021-12-13 16:26] digeler opened #1207 "After upgrading to 1.85 started to see a lot of : failed to acquire a token using the MSI VM extension, error: MSI not available"
After upgrading to 1.8.5 from 1.8.0 i see the following issue :
ManagedIdentityCredential authentication failed: Service request failed.
Status: 403 (Forbidden)

Content:
failed to acquire a token using the MSI VM extension, error: MSI not available

Headers:
X-Content-Type-Options: REDACTED
Date: Mon, 13 Dec 2021 14:44:35 GMT
Content-Type: text/plain; charset=utf-8
Content-Length: 79

the above i

[2021-12-13 16:43] digeler commented on #1207
here are some errors i saw :
I1213 14:57:28.257169       1 server.go:199] status (403) took 586168248 ns for req.method=GET reg.path=/metadata/identity/oauth2/token req.remote=10.244.45.126
E1213 14:57:28.257303       1 server.go:392] failed to get service principal token for pod: default/enricher-6, error: failed to acquire a token using the MSI VM extension, error: MSI not available
I1213 14:57:

[2021-12-13 17:20] chewong commented on #242
We will open-source the v2 project at the beginning of next year.

[2021-12-13 17:48] aramase commented on #1207
Thank you for reporting the issue!

This is the related to the aggressive health check performed in the go-autorest SDK as part of every token request call. We have an issue open for this: https://github.com/Azure/go-autorest/issues/660

[2021-12-14 12:04] dmakeienko commented on #1197
Thank you for help, this issue is indeed can be closed.

[2021-12-14 16:53] aramase commented on #1197
Thank you for confirming. Closing this issue now.

[2021-12-14 16:53] #1197 closed

[2021-12-15 00:10] #1193 closed

[2021-12-15 20:31] MouniR-123 opened #1210 "rpc error: code = Unknown desc = failed to mount secrets store objects for pod XXX, err: rpc error: code = Unknown desc = failed to mount objects, error: failed to get keyvault client: failed to get key vault token: nmi response failed with status code: 404"
CSI Driver Volume Implimentation:
@aramase @chewong  Hi, I have used helm to install pod identity. mic and nmi pods are running in default namespace , application pod and azureidentity/azureidentitybindings were deployed  in "test" namespace.  application pod status is in "containercreating" state.

NMI pod logs :
[code]
---------------------------------

and I don't see any error messages in mic

[2021-12-16 00:10] #1195 closed

[2021-12-16 00:10] #1181 closed

[2021-12-16 09:32] dimbleby commented on #1085
yes

[2021-12-16 17:52] aramase commented on #1210
Hello 👋🏻  could you please share the pod yaml as well?

[2021-12-16 20:28] PunithKumarB opened #1212 "Pods failed to get token when VMSS rebooted"
**Have you**

- [ ] Read [Troubleshooting Guide](https://azure.github.io/aad-pod-identity/docs/troubleshooting/)
- [ ] Read [Known Issues](https://azure.github.io/aad-pod-identity/docs/known-issues/)
- [ ] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
After rebooting AKS VMSS node pool, two of our pods (monitoring-687644f955-ltvnj & cs-metrics-

[2021-12-17 15:06] filbotblue opened #1215 "Azure Security Benchmark Regulatory Compliance: Usage of host networking and ports should be restricted"
# Azure Security Benchmark Regulatory Compliance: Usage of host networking and ports should be restricted

**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/aad-pod-identity/docs/troubleshooting/)
- [x] Read [Known Issues](https://azure.github.io/aad-pod-identity/docs/known-issues/)
- [x] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Descri

[2021-12-17 15:08] filbotblue commented on #1215
Is there anything to do without modifying the code base to resolve this?

[2021-12-17 15:25] filbotblue opened #1216 "Azure Security Benchmark Regulatory Compliance: Usage of pod HostPath volume mounts should be restricted to a known list to restrict node access from compromised containers"
# Azure Security Benchmark Regulatory Compliance: Usage of pod HostPath volume mounts should be restricted to a known list to restrict node access from compromised containers

**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/aad-pod-identity/docs/troubleshooting/)
- [x] Read [Known Issues](https://azure.github.io/aad-pod-identity/docs/known-issues/)
- [x] Searched on [GitHu

[2021-12-17 15:27] filbotblue opened #1217 "Azure Security Benchmark Regulatory Compliance: Running containers as root user should be avoided"
# Azure Security Benchmark Regulatory Compliance: Running containers as root user should be avoided

**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/aad-pod-identity/docs/troubleshooting/)
- [x] Read [Known Issues](https://azure.github.io/aad-pod-identity/docs/known-issues/)
- [x] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the

[2021-12-17 15:31] filbotblue opened #1218 "Azure Security Benchmark Regulatory Compliance: Kubernetes clusters should not use the default namespace"
# Azure Security Benchmark Regulatory Compliance: Kubernetes clusters should not use the default namespace

**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/aad-pod-identity/docs/troubleshooting/)
- [x] Read [Known Issues](https://azure.github.io/aad-pod-identity/docs/known-issues/)
- [x] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Descr

[2021-12-17 15:34] filbotblue opened #1219 "Azure Security Benchmark Regulatory Compliance: Immutable (read-only) root filesystem should be enforced for containers"
# Azure Security Benchmark Regulatory Compliance: Immutable (read-only) root filesystem should be enforced for containers

**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/aad-pod-identity/docs/troubleshooting/)
- [x] Read [Known Issues](https://azure.github.io/aad-pod-identity/docs/known-issues/)
- [x] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/i

[2021-12-17 22:20] MouniR-123 commented on #1210
Hi, Thanks for your reply..
Secretproviderclass and pod yamls

apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: azure-keyvault
  namespace: test
spec:
  provider: azure
  parameters:
    usePodIdentity: "true"
    useVMManagedIdentity: "false"
    keyvaultName: XXX
    resourceGroup: XXX
    subscriptionId: "XXX"
    cloudName: ""
    tenantId: XXX
    objects:

[2021-12-17 22:32] MouniR-123 commented on #1210
[pod.txt](https://github.com/Azure/aad-pod-identity/files/7738092/pod.txt)

[2021-12-21 00:11] #1196 closed

[2021-12-21 00:11] #1188 closed

[2021-12-21 00:43] MouniR-123 commented on #1210
Hi @aramase I tried this (https://azure.github.io/aad-pod-identity/docs/troubleshooting/)to troubleshoot 404 error to key kv token, I see assignedidentities but still my application pod is in containercreating state and 404 error exists in nmi pod logs

KV is RBAC enabled so I have reader and KeyVaultSecretReader role assignments created. Thank you!

[2021-12-21 20:48] kcdevops46 opened #1220 "Gettitng "Identity not found" Error on Mic after few hours"
Pod Identity works fine initially and later on, I started getting  error in the logs. When i checked for the azureassgnedidentity, it is not getting deleted when the pod is deleted. Managed Identity stops working. I have to completely uninstall pod identity and after the new installation, it works for few hours. Then it stops working
Error from mIC:
error: azure.BearerAuthorizer#WithAuthorization:

[2021-12-21 22:03] brandonpollett opened #1221 "MIC using high CPU every 10 minutes."
**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/aad-pod-identity/docs/troubleshooting/)
- [x] Read [Known Issues](https://azure.github.io/aad-pod-identity/docs/known-issues/)
- [x] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
We are seeing an increased CPU utilization from the MIC controller for a particular cluster th

[2021-12-21 22:05] ams0 opened #1222 "Create AzurePodIdentityException via Helm Chart"
As the Helm chart allows for creation of Azure Identies, I wish I could create AzurePodIdentityException at deployment time. This is useful for example when deploying in an AKS cluster with Managed Identities enabled and that gets the GitOps configuration installed immediately after installing Azure Pod Identities; it's necessary to exclude the `flux-system` from NMI and it's best to do it by crea

[2021-12-22 11:27] l4z4rus commented on #1201
Hi @aramase,
we solved the issue by updating the aad-pod-identity, as recommended by you.
Thanks for your support.

I close the issue.

[2021-12-22 11:27] #1201 closed

[2021-12-25 00:10] #1199 closed

[2021-12-31 00:11] #1192 closed

[2022-01-02 16:28] PunithKumarB commented on #1212
Would like to have some feedback on this.

[2022-01-03 16:21] filbotblue commented on #1215
Bump.

[2022-01-03 16:21] filbotblue commented on #1217
Bump.

[2022-01-03 16:21] filbotblue commented on #1218
Bump.

[2022-01-03 16:22] filbotblue commented on #1219
Bump.

[2022-01-03 21:55] chewong commented on #1207
We have upgraded the go-autorest package in https://github.com/Azure/aad-pod-identity/pull/1208 in the latest release. Feel free to give aad-pod-identity v1.8.6.

[2022-01-03 21:55] #1207 closed

[2022-01-03 22:01] chewong commented on #1215
You can try deploying aad-pod-identity to the kube-system namespace. AFAIK, pods in the kube-system namespace are excluded from the Azure Security Benchmark Regulatory Compliance.

[2022-01-03 22:01] chewong commented on #1216
See https://github.com/Azure/aad-pod-identity/issues/1215#issuecomment-1004387134.

[2022-01-03 22:01] chewong commented on #1217
See https://github.com/Azure/aad-pod-identity/issues/1215#issuecomment-1004387134.

[2022-01-03 22:01] chewong commented on #1218
See https://github.com/Azure/aad-pod-identity/issues/1215#issuecomment-1004387134.

[2022-01-03 22:21] filbotblue commented on #1215
This will be a temporary fix. Any chance the findings could be fixed though, to remediate the vulnerability?

[2022-01-03 22:36] chewong commented on #1215
No, host network, along with #1216, #1217, #1218 are necessary for pod identity to work properly.

[2022-01-03 22:39] filbotblue commented on #1215
This doesn't cover the https://github.com/Azure/aad-pod-identity/issues/1219 Issue as well?

[2022-01-03 22:46] aramase commented on #1221
Hello 👋🏻

1. Could you share the MIC logs for a period of time when the spike occurs?
2. Can you check if there are `AzureIdentity` or `AzureIdentityBinding` with same name in multiple namespaces?
3. Are you running pod identity in force namespaced mode?

[2022-01-03 22:51] chewong commented on #1215
#1218: you can mitigate it by deploying aad-pod-identity to a non-default namespace.
#1219: I can take a look at this.

[2022-01-04 18:48] koninko opened #1226 "Kubenet - policy NET_RAW capability"
**Have you**

- [ ] Read [Troubleshooting Guide](https://azure.github.io/aad-pod-identity/docs/troubleshooting/)
- [x] Read [Known Issues](https://azure.github.io/aad-pod-identity/docs/known-issues/)
- [x] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**

We have applied a policy to avoid pods with NET_RAW capability to be deployed.
However this p

[2022-01-05 00:12] #1219 closed

[2022-01-05 00:14] chewong commented on #1215
I fixed #1219 for MIC but wasn't able to do the same for NMI. For #1215, #1216, #1217, and #1218, there is also nothing we can do to mitigate them since those features are necessary. Our suggestion would be deploying aad-pod-identity to kube-system.

[2022-01-05 00:14] #1215 closed

[2022-01-05 00:14] chewong commented on #1216
See https://github.com/Azure/aad-pod-identity/issues/1215#issuecomment-1005270568.

[2022-01-05 00:14] #1216 closed

[2022-01-05 00:14] chewong commented on #1217
See https://github.com/Azure/aad-pod-identity/issues/1215#issuecomment-1005270568.

[2022-01-05 00:14] #1217 closed

[2022-01-05 00:15] chewong commented on #1218
See https://github.com/Azure/aad-pod-identity/issues/1215#issuecomment-1005270568.

[2022-01-05 00:15] #1218 closed

[2022-01-05 08:14] koninko commented on #1226
AAD Pod identity is deployed in the default namespace? We could exclude the namespace from the policy, or deploy it to another namespace. But this does not give me a good feeling of mitigating the problem.. Or am I wrong?

[2022-01-05 14:08] filbotblue commented on #1219
Thank you for all your work @chewong !

[2022-01-05 17:28] aramase commented on #1226
Hello 👋🏻  By default there is no namespace field defined in the pod identity manifests. The recommendation is to deploy it in `kube-system` namespace as this is high privilege pod. If you run it in `kube-system` you can exclude that namespace that contains system pods from the policy.

[2022-01-06 08:04] koninko commented on #1226
Hi,
when you use the deployment yaml, it deploys to default namespace.

https://raw.githubusercontent.com/Azure/aad-pod-identity/master/deploy/infra/deployment-rbac.yaml

From my tests I could also see azureidentitybindings and mic / nmi should be in the same namespace. Shouldn't azureidentitybindings should be deployed to default namespace?

Thx

[2022-01-10 05:02] leonard520 commented on #570
@aramase , may I know any update for this thread, like how the v2 solution is, and how is the migration path, eta, etc.? Thanks a lot!

[2022-01-10 14:09] ECNUJason opened #1227 "Roadmap of AAD-Pod-Identity"
**Describe the request**
Hello team,
May I tentatively ask the road map of AAD-Pod-Identity and some ETA for key milestone?

**Explain why AAD Pod Identity needs it**
AAD-Pod-Identity v2 is mentioned in this issue: https://github.com/Azure/aad-pod-identity/issues/570.

**Describe the solution you'd like**
N.A.

**Describe alternatives you've considered**
N.A.

**Additional context**
N.A.

[2022-01-11 00:04] MouniR-123 commented on #1210
issue has been resolved.

[2022-01-11 00:05] #1210 closed

[2022-01-11 00:05] MouniR-123 commented on #1210
Issue has been resolved

[2022-01-11 04:41] isaacdan opened #1228 "aad_pod_identity taking ages to create"
@aleoli
**Have you**

- [ ] Read [Troubleshooting Guide](https://azure.github.io/aad-pod-identity/docs/troubleshooting/)
- [ ] Read [Known Issues](https://azure.github.io/aad-pod-identity/docs/known-issues/)
- [ ] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
aad pod identity creation failing with error
failled to install CRD crds/crd.yaml: una

[2022-01-11 08:31] kevinharing opened #1229 "MIC crashing: 'slow event handlers blocking the queue'"
**Describe the bug**

MIC crashing > 100 times in timespan of ~12 hours

**Steps To Reproduce**

Nothing specific. Currently rolling back to helm chart 4.1.6 and pod identity version 1.8.5 to see if the issues persist

**Expected behavior**

No crashing

**AAD Pod Identity version**

Helm chart 4.1.7, pod idenity version 1.8.6

**Kubernetes version**

AKS with 1.22.4

**Additional context**

Logs:

[2022-01-11 08:38] aleoli commented on #1228
@isaacdan you probably tagged the wrong person 😅

[2022-01-11 10:11] isaacdan commented on #1228
Okay sorry @aleoli

[2022-01-11 10:14] isaacdan commented on #1228
Looks like nmi pods are in CrashLoopBackOff
ad-pod-identity-nmi-227wk               0/1     CrashLoopBackOff   1          12s
aad-pod-identity-nmi-rw6rj               0/1     CrashLoopBackOff   1          12s

 kubectl logs -f aad-pod-identity-nmi-227wk -n default
F0111 10:10:11.354617       1 main.go:83] AAD Pod Identity is not supported for Kubenet. Review https://azure.github.io/aad-pod-identit

[2022-01-11 10:15] isaacdan commented on #1228
@palexster can you please assist if you are the right person

[2022-01-11 10:19] palexster commented on #1228
@isaacdan you probably tagged the wrong person

[2022-01-11 16:26] #1228 closed

[2022-01-11 18:06] deyanp opened #1230 "metadata-header-required=true causes ManagedIdentityCredential authentication failed: Service request failed. (upgrade 1.8.3. -> 1.8.6)"
**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/aad-pod-identity/docs/troubleshooting/)
- [x] Read [Known Issues](https://azure.github.io/aad-pod-identity/docs/known-issues/)
- [x] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**

When upgrading from 1.8.3 -> 1.8.6 (with default setting metadata-header-required=true) I sta

[2022-01-11 23:54] chewong commented on #1227
[Azure Workload Identity](https://azure.github.io/azure-workload-identity), the next generation of AAD Pod Identity, is now available. Feel free to check it out.

[2022-01-11 23:54] #1227 closed

[2022-01-11 23:55] chewong commented on #570
[Azure Workload Identity](https://azure.github.io/azure-workload-identity), the next generation of AAD Pod Identity, is now available. Feel free to check it out.

[2022-01-11 23:55] #570 closed

[2022-01-11 23:55] chewong commented on #242
[Azure Workload Identity](https://azure.github.io/azure-workload-identity), the next generation of AAD Pod Identity, is now available. Feel free to check it out.

[2022-01-12 00:11] #1220 closed

[2022-01-12 10:50] deyanp commented on #1230
It seems that the related error in nmi logs is:

[code]

[2022-01-12 11:57] saurabhvagrawal opened #1232 "Getting this sporadic exception: Tried to get token using Managed Service Identity. Unable to connect to the Instance Metadata Service (IMDS). Skipping request to the Managed Service Identity (MSI) token endpoint."
**Have you**

- [ ] Read [Troubleshooting Guide](https://azure.github.io/aad-pod-identity/docs/troubleshooting/): Yes
- [ ] Read [Known Issues](https://azure.github.io/aad-pod-identity/docs/known-issues/): Yes
- [ ] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues): Yes

**Describe the bug**
We are running aadpodidentity in managed mode in our K8s clusters. We are seein

[2022-01-12 12:30] deyanp commented on #1230
Ok, turned out the container/app had MSI_ENDPOINT and MSI_SECRET env vars set ...
Then the extremely innovative code in `Azure.Identity.ManagedIdentityClient.SelectManagedIdentitySource`

[code]

, together with the even more genius code in Azure.Identity.AppServiceV2017ManagedIdentitySource.TryCreate

[code]
and Azure.Identity.AppServiceV2017ManagedIdentitySource.CreateRequest

[code]

lead to *n

[2022-01-12 12:30] #1230 closed

[2022-01-12 16:07] vahidmosi commented on #1212
Any update on this? We have a similar issue.

[2022-01-12 17:12] aramase commented on #1212
Hello 👋🏻

By "vmss is restarted" do you mean the node is rebooted and pods recreated/rescheduled? If that's the case it's possible the NMI pod is not yet running on the node before the workload pod requests the token. If you don't provide a clientID as part of your token request, NMI defaults to the first clientID matched based on `AzureIdentity`. However if NMI is not yet running and your workloa

[2022-01-12 17:46] aramase commented on #1230
Hello 👋🏻

Thank you for reporting the issue. The `Metadata: true` requirement already exists in IMDS. If a request is made to IMDS with no metadata header, IMDS will reject the request. xref: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/instance-metadata-service?tabs=linux#frequently-asked-questions.

This was optional before in aad-pod-identity but to be secure OOTB, we have en

[2022-01-12 17:47] aramase commented on #1230
If you've any feedback for the SDK, please do provide the details.

+ @chlowell and @schaabs

[2022-01-12 17:53] aramase commented on #1232
There was an [issue](https://github.com/Azure/go-autorest/issues/660) with aggressive IMDS health check in go-autorest that causes this failure. We've updated to the latest version of that package that contains the fix. Could you try using the latest [v1.8.6](https://github.com/Azure/aad-pod-identity/releases/tag/v1.8.6) release?

[2022-01-13 04:47] saurabhvagrawal commented on #1232
Thanks for prompt response Anish.. Really appreciate. Will check internally and would update it to latest.

[2022-01-13 04:50] saurabhvagrawal commented on #1232
Also, as you said that it only failing IMDS health check. So, that means application will still be intact(should not be degraded) and will not miss any token from NMI, right?

[2022-01-13 17:27] aramase commented on #1232
In older versions of the library, every token request initiated a IMDS health check. This health check was aggressive and would time out very quickly. If the health check request fails. the library would return and not try to get a token which is why token request fails with "MSI not available". In the newer release of the library they have removed the health check on every token request which sho

[2022-01-14 14:38] kevinharing commented on #1229
The problem seems to originating from a cluster that was gaining more nodes (due to auto-scaling) and resource limits being overridden in the helm chart with values that were too low (someone put that in there a while ago). We're now using the default again. For now this can be closed.

[2022-01-14 14:38] #1229 closed

[2022-01-17 07:32] PunithKumarB commented on #1212
hi @aramase , yep that's right, we did scheduled reboot of our VMSS nodes and pods got recreated and then we met this incident.

There are two versions of the problem
1. monitoring-687644f955-ltvnj - client ID is not received by IMDS, so it returns error. Maybe sending client ID would help us.
2. cs-metrics-monitoring-68cd76487c-xjvdt - it gets different error, `2021-12-15T07:48:33.158608619Z cs-m

[2022-01-18 09:03] saurabhvagrawal opened #1236 "Error 401 on keda scalers when nmi pods are restarted/upgraded"
**Have you**

- [ ] Read [Troubleshooting Guide](https://azure.github.io/aad-pod-identity/docs/troubleshooting/)
- [ ] Read [Known Issues](https://azure.github.io/aad-pod-identity/docs/known-issues/)
- [ ] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**

Hi Team.. While we upgrade/restart nmi, we encountered a strange issue where we get following

[2022-01-18 09:05] saurabhvagrawal commented on #1232
Hi Anish. After upgrade we encountered a issue with keda authentication. Issue is described in this bug( https://github.com/Azure/aad-pod-identity/issues/1236). This is urgent for us since its impacting our customers. Could you please check this.

[2022-01-18 09:11] PSanetra commented on #1085
We still experience this issue sometimes on aad-pod-identity 1.7.4:

Today we have again a lot of the following logs in one of our nmi pods:
[code]

The logs say that the identity is not assigned to the vmss, but the portal and following command azure cli command show it as assigned:
[code]

[2022-01-18 09:17] PSanetra commented on #1085
The error happened during a new deployment of the affected pod, using the userAssignedIdentity, lasted for about 20 minutes and then resolved itself. The old deployment was running fine with the same identity.

[2022-01-18 16:25] brandonpollett commented on #1221
Sorry for the long time getting back to you.

1. I can share these out of band with you
2. Yes, there appear to be two `AzureIdentity` that share a name and one `AzureIdentityBinding` that shares a name. This is likely the same in all of our clusters.
3. The `forcenamespaced` value is false.

[2022-01-19 02:38] jarrettprosser opened #1237 "nmi.metadataHeaderRequired does not respect false value"
**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/aad-pod-identity/docs/troubleshooting/)
- [x] Read [Known Issues](https://azure.github.io/aad-pod-identity/docs/known-issues/)
- [x] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
We deployed a new installation of `aad-pod-identity` into a Kubernetes cluster with the Helm c

[2022-01-19 09:12] PSanetra commented on #1230
@aramase should the new default value not be documented as a breaking change?

[2022-01-19 09:18] PSanetra opened #1238 "Change of metadataHeaderRequired default value is not documented as breaking change"
The PR https://github.com/Azure/aad-pod-identity/pull/1158 states that the change of the `metadataHeaderRequired`  default value should be documented as breaking change. This was missed in the changelog for 1.8.4:

Please include steps how to avoid issues with this breaking change. (Like described in https://github.com/Azure/aad-pod-identity/issues/1230#issuecomment-1010997930)

[2022-01-19 10:25] PSanetra opened #1239 "metadata header issues"
After upgrading from 1.7.4 to 1.8.6 we had some issues with pods using the Azure .NET SDK which aparently could be solved by restarting those pods. (The Azure .NET SDK seemed to send the metadata header only after a restart.)

As far as I know we don't have any issues with any pods now, but there are still error logs in some `nmi` pods related to the metadata header, but unrelated to the token end

[2022-01-19 17:31] chewong commented on #1237
Thanks for reporting this. Looks like the helm chart is indeed not respecting the chart value. Would you be interested in opening a PR to fix this?

[2022-01-19 17:39] chewong commented on #1239
NMI intercepts all IMDS traffics and it looks like it's intercepting traffics to the AWS Instance Metadata service as well,e.g. `/latest/meta-data/hostname`, `/latest/meta-data/instance-id`.  I'd recommend creating an [AzurePodIdentityException](https://azure.github.io/aad-pod-identity/docs/concepts/azurepodidentityexception/) to allow AWS IMDS traffic for your workload. You can also check out our

[2022-01-20 10:23] PSanetra commented on #1239
@chewong Thank you for that suggestion. We will try to do create the exception. I think using Azure Workload Identity is currently not possible for us as it would need to support Managed Identities first, but looks like a promising project :+1:

Do you plan to patch the NMI to ignore the metadata header requirement for requests other than to the token endpoint?

[2022-01-20 17:41] chewong commented on #1239
No, it will be enabled by default going forward to prevent SSRF attacks (https://azure.github.io/aad-pod-identity/docs/configure/feature_flags/#metadata-header-required-flag) but you can disable it by adding `--metadataHeaderRequired=false` flag to NMI.

[2022-01-20 18:38] aramase commented on #1236
Thanks for reporting the issue!

Could you provide the logs from NMI pods at the timeframe the issue is occuring? Are the token requests failing or are the tokens you receive not in the expected format?

[2022-01-20 18:39] aramase commented on #1232
Closing this issue in favor of #1236

[2022-01-20 18:39] #1232 closed

[2022-01-20 18:40] aramase commented on #1226
The `AzureIdentity` and `AzureIdentityBinding` don't need to be in the same namespace as the MIC and NMI pods. If you run pod identity in force namespace mode: https://azure.github.io/aad-pod-identity/docs/configure/match_pods_in_namespace/, then the `AzureIdentity` and `AzureIdentityBinding` would need to be in the same namespace as your workload pod. This is the recommended configuration.

[2022-01-20 18:50] aramase commented on #1212
When there are multiple identities assigned to the VMSS, IMDS expects the clientID to be part of the token request to know which identity to pick. If there is no clientID in the request, then the token request will fail with "Multiple identities exist" error. AAD Pod Identity makes it easier in this scenario by defaulting to the first clientID that matches the pod.

In this scenario, when NMI isn'

[2022-01-20 18:51] aramase commented on #1085
@rkammara12 Could you help with the above questions and the error message from IMDS?

[2022-01-20 22:37] RoSk0 commented on #1204
We re-created one of the clusters and after running the script to create pod identities for all required namespaces those namespaces was created confirming original claim in the description.

All namespaces have `addonmanager.kubernetes.io/mode: EnsureExists` label on them.

[2022-01-21 02:10] rkammara12 commented on #1085
@PSanetra can you please help providing the resourceId of the User Assigned Identity and VMSS to check it further. There is an issue in the system where the artifacts on Azure host containing Identity Metadata are not updated which results in delays for getting tokens.

[2022-01-21 05:57] bcho commented on #1204
Hi @RoSk0 , this is expected when adding the pod identity through `az aks pod-identity add` command. This is because in the managed addon version, we want to make sure the pod identity custom resource exists as part of the cluster provision process. For example, missing the pod identity custom resource after running some operations might introduce application down time. To archive such requirement

[2022-01-21 09:59] PSanetra commented on #1085
@rkammara12 Can we send you that information to some microsoft email address?

[2022-01-21 17:16] #1237 closed

[2022-01-24 09:22] PSanetra commented on #1239
For anyone who is searching for a possible source of those requests which were still missing the metadata header: In our case it was the datadog agent pod.

[2022-01-24 09:22] #1239 closed

[2022-01-24 12:18] jarrettprosser commented on #1237
thanks for the fix!

[2022-01-31 07:20] koninko commented on #1226
That worked for me thanks

[2022-01-31 07:20] #1226 closed

[2022-02-03 17:56] PSanetra commented on #1238
not stale

[2022-02-03 17:58] PSanetra commented on #1238
Was fixed in https://github.com/Azure/aad-pod-identity/pull/1240

[2022-02-03 17:58] #1238 closed

[2022-02-04 15:35] atiasadir commented on #1236
#1243  should nail this issue

[2022-02-07 22:17] vinayada1 opened #1244 "Failure deleting Azure Pod identity"
**Have you**

- [ ] Read [Troubleshooting Guide](https://azure.github.io/aad-pod-identity/docs/troubleshooting/)
- [ ] Read [Known Issues](https://azure.github.io/aad-pod-identity/docs/known-issues/)
- [ ] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**

One of our tests creates an Azure pod identity and deletes it as a part of cleanup. The delet

[2022-02-08 00:14] aramase commented on #1236
Closed with https://github.com/Azure/aad-pod-identity/pull/1243

[2022-02-08 00:14] #1236 closed

[2022-02-08 11:52] PunithKumarB opened #1245 "After AKS cert renewal get token fails"
**Have you**

- [ ] Read [Troubleshooting Guide](https://azure.github.io/aad-pod-identity/docs/troubleshooting/)
- [ ] Read [Known Issues](https://azure.github.io/aad-pod-identity/docs/known-issues/)
- [ ] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
1. We carried out [aks certs renewal](https://docs.microsoft.com/en-us/azure/aks/certificate-r

[2022-02-08 17:21] chewong commented on #1245
As far as I know, rotating certificates won't affect the ability to acquire tokens. Based on the errors, your cluster identity doesn't have the permission to assign identities to the underlying VMSS. #585 or https://azure.github.io/aad-pod-identity/docs/troubleshooting/#linkedauthorizationfailed are the solution to this problem.

[2022-02-09 00:17] #1221 closed

[2022-02-09 08:53] sasound commented on #1245
Hi @chewong ... The cluster identity (msi) in our AKS had the neccessary roles "Managed Identity Operator" & "Virtual Machine Contributor" on the AKS cluster resource.
This setup was working fine for past several months.

Post this cert activity, we had hit this issue.

Now why do we need to set privilege for the cluster identity at the Resource group level ?

[2022-02-09 18:50] midhun-mohan opened #1246 "MIC reports HTTP 404 ( ResourceNotFound ) for nodes that are running and already part of cluster."
**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/aad-pod-identity/docs/troubleshooting/)
- [x] Read [Known Issues](https://azure.github.io/aad-pod-identity/docs/known-issues/)
- [x] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**

We are having a 6 node pool AKS cluster which is in version 1.22.4 and there are two nodes in

[2022-02-09 19:03] aramase commented on #1246
Hello 👋🏻

That error is being returned from ARM for a GET call from MIC. Could you check the list of vmss by running `az vmss list -g <rg>`?

[2022-02-09 21:10] midhun-mohan commented on #1246
@aramase when using az vmss, the virtual machine scale set is listed. When using az vmss list-instances, the instance itself is is being listed.
Support engineer had verified this from the backend too.
Weird thing is in both the nodepools, 1/3 instances is having issues.
Feel free to reach out to me if you need more info.

[2022-02-10 17:15] aramase commented on #1246
MIC adds a user agent as part of the API requests. Could the support engineer check for requests with `aad-pod-identity` user agent to see why the ARM calls are returning an error?

[2022-02-10 20:25] midhun-mohan commented on #1246
@aramase I will ask the support engineer to check  with the engineering team to check the backend logs of management APIs.

Is there a chance you can take this internally with the team managing the API internally.  All the details of the instances are present in the support ticket mentioned above.

[2022-02-12 00:12] #1085 closed

[2022-02-14 03:02] dndao commented on #1102
I'm having the same issue, the identity and binding are there with correct clientID but nmi log response:
 {"error":"invalid_request","error_description":"Identity not found"}

[2022-02-14 07:13] omziv commented on #1210
@MouniR-123 - Can you please elaborate on how this was resolved?

[2022-02-14 14:22] midhun-mohan commented on #1246
@aramase The support engineer was able to find the back end logs and found out that the resource id format used in the payload is malformed.

Below is a snippet from the email which I am having with the support engineer
[code]
Can you please shed some insight on what can cause this issues and what should be the way forward so that we can fix this issue ?

[2022-02-14 21:51] chewong commented on #1245
Those roles should be assigned to the node resource group of the AKS cluster instead of the resource group of the AKS cluster (to get the node resource group of the aks cluster - `az aks show -g ... -n ... --query nodeResourceGroup -otsv`)

[2022-02-14 21:52] chewong commented on #1244
What tool are you using to clean up pod identity resources?

[2022-02-15 19:00] omziv opened #1250 "ManagedIdentityCredential authentication failed"
We're trying to connect our storage account to MSI authentication. We've so far succeeded in creating the identity on our K8s cluster and assigning the permissions for that identity to the storage account.

However, when trying to access the storage with getToken function in the ManagedIdentityCredential class (in @azure/identity) I get the following error:

ManagedIdentityCredential authenticatio

[2022-02-16 00:10] #1212 closed

[2022-02-16 01:10] zhiweiv commented on #1246
We hit this error too.

[2022-02-16 03:05] dkapadia6 commented on #1085
not stale

[2022-02-16 03:07] dndao commented on #1085
not stale

[2022-02-16 09:04] midhun-mohan commented on #1246
@aramase Do you have some insights on this ?
@zhiweiv Did it happen for you after an upgrade of cluster / nodepool ?

[2022-02-16 17:16] aramase commented on #1246
MIC uses the providerID in the kubernetes node to determine if the VM is part of a VM/VMSS. Could you share the `kubectl describe node` output for the nodes with the issue? Also, could you enable debug logging in MIC by setting `-v=5` in MIC args and share the logs?

[2022-02-16 17:23] aramase commented on #1085
@dkapadia6 @dndao Please provide more detail in a new issue if you're facing similar issues. If it's an IMDS issue I can tag the IMDS team for investigation.

[2022-02-16 17:25] aramase commented on #1250
Here is our troubleshooting guide: https://azure.github.io/aad-pod-identity/docs/troubleshooting/#logging.

Could you check the logs for NMI pod running on the same node as your workload pod? The MIC logs should provide more information about the identity assignment success/failure.

[2022-02-16 18:15] vinayada1 commented on #1244
We are calling the go-sdk API:-
[code]

Our delete code has been unchanged for around 9-10 months

[2022-02-16 18:37] chewong commented on #1244
I don't see how the problem is related to pod identity. The problem can either be related to ARM, AKS, or the Azure Go SDK.

[2022-02-16 18:43] aramase commented on #1246
@chmill-zz from AKS shared the output from `kubectl describe node` output for instance 2 which has the issue. Only that node is missing the `providerID` which is why MIC can't determine if it's part of a VM/VMSS. The `providerID` not being set would be a bug with cloud provider and the AKS team will look at it to see why it's missing only for this single node.

[2022-02-16 20:57] midhun-mohan commented on #1246
@aramase That is interesting find.  We do have multiple clusters in our environment affected by this **"bug".**
Do you still want me to enable more verbose logging in MIC and share the logs as the issue seems to be identified.

[2022-02-16 21:00] aramase commented on #1246
Do you still want me to enable more verbose logging in MIC and share the logs as the issue seems to be identified.

No, we don't need the MIC logs anymore. If the `providerID` is set and MIC still thinks it's a VM, then we can look at the MIC logs. For now just the root cause from AKS for why providerID is not set should help resolve the issue.

[2022-02-16 21:04] midhun-mohan commented on #1246
I looked on one of the problematic nodes from my environment and i can also confirm **ProviderID** is not set.
Is there a way I can know the status of the investigation by the AKS team as it progresses ?

[2022-02-16 21:05] aramase commented on #1246
Is there a way I can know the status of the investigation by the AKS team as it progresses ?

You can track the status with the support ticket you've open

[2022-02-16 21:07] midhun-mohan commented on #1246
Thanks. I will follow the support ticket to know the status.

[2022-02-21 00:56] zhiweiv commented on #1246
Any update? we have more pools which hit this error,  it did happen after aks/nodepool upgrade.

[2022-02-22 02:29] zhiweiv commented on #1246
It seems traced in https://github.com/kubernetes-sigs/cloud-provider-azure/issues/1155.

[2022-02-23 07:49] omziv commented on #1250
I'm getting a response saying that no logs have been found:
![image](https://user-images.githubusercontent.com/80668253/155279283-2cbd1874-efd4-4e19-8e5f-7f73318086e0.png)

[2022-02-23 07:55] omziv commented on #1250
When trying to use a different namespace I get the following error (for nmi only, mic returns no results):
![image](https://user-images.githubusercontent.com/80668253/155279939-09872980-017e-46fa-889b-25830c56d939.png)

[2022-03-03 04:58] tfbubu111 opened #1253 "since policy/v1beta1 PodDisruptionBudget is deprecated in k8s v1.21+, kindly let us know when v1 will be added"
**Describe the request**

**Explain why AAD Pod Identity needs it**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-03-09 00:14] #1245 closed

[2022-03-09 19:17] darose commented on #1210
@MouniR-123 +1  We're running into this issue as well, and it would be helpful to know what you did to remedy it.

[2022-03-09 20:17] MouniR-123 commented on #1210
Hi, I have added aadpodidbinding must be added to pod labels instead of deployment labels. Thank you!

pod:metadata:annotations:labels:aadpodidbinding: YOUR LABEL

[2022-03-10 19:21] darose opened #1255 ""getting assigned identities for pod ... in CREATED state failed after 16 attempts" due to problems in MIC container"
**Describe the bug**
We are regularly running into issues using aad-pod-identity on our AKS clusters.  This is happening several times a day on each of our clusters.

Pods will generally be able to use aad-pod-identity fine most of the time.  Then suddenly, there will be a problem in the MIC pod, and any new pods that launch during this time fail with "getting assigned identities for pod ... in CR

[2022-03-11 00:16] #1244 closed

[2022-03-14 01:46] zhiweiv commented on #1246
The fix has been in latest cloud provider azure release, we can wait AKS to update the cloud-node-manager.

[2022-03-15 16:29] dan-jackson-github commented on #1239
@PSanetra we have run into this issue, have tried creating an AzurePodIdentityException  resource to discount the traffic from datadog agents, but it seems unable to stop the calls to AWS still, could you share the config you have for your AzurePodIdentityException resource, I'm making a mistake there clearly.

[2022-03-15 16:48] PSanetra commented on #1239
@dan-jackson-github I just checked and I saw, that we did not try to create that exception and currently just live with the logs. Instead we have created an issue for the datadog-agent to support disabling non-Azure cloud provider checks: https://github.com/DataDog/datadog-agent/issues/10635

[2022-03-17 00:14] #1250 closed

[2022-03-17 16:30] aramase commented on #1255
Thanks for the detailed info!

From the logs, it looks like the cloud GET API calls are taking time:
[code]

That is a ARM GET api call to get the VM/VMSS. If you're seeing this GET call take time in the order of minutes, I would recommend opening a support ticket for this so that team can investigate.

For scenario (2), are both the MIC pods stuck in acquiring leader lease? At any time one of the

[2022-03-17 17:28] darose commented on #1255
Thanks much for the feedback @aramase.

I opened a ticket for this yesterday.  (2203160040008847)

IIRC, only one pod was stuck acquiring the lease.

I don't have too much visibility into this, but doing a "kubectl describe pods" on one of the mic pods on one of our clusters currently shows the following:

[code]

I'll look into this and see if it's an option.  However, as I wrote above, I'm specu

[2022-03-17 21:58] aramase commented on #1189
The image is built after the release and tag is cut, so we don't know the sha at the time of the release. The tag in helm charts is configurable, so can be set when deploying.

I think this is something that can be accomplished with `gatekeeper` + https://github.com/sozercan/tagToDigest-provider with the new external mutation capability in the future.

cc @sozercan

[2022-03-17 21:58] aramase commented on #1189
Going to close this issue now as there is no further action.

[2022-03-17 21:58] #1189 closed

[2022-03-17 22:00] aramase commented on #1204
As this enhancement request is specific to AKS managed add-on, I would recommend opening an issue at https://github.com/Azure/aks if this is still required.

[2022-03-17 22:00] #1204 closed

[2022-03-17 22:01] #1049 closed

[2022-03-17 22:02] #780 closed

[2022-03-17 22:03] #242 closed

[2022-03-17 22:06] aramase commented on #591
[Taints and Tolerations](https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/) are properties of the pod spec and not specific to AAD Pod Identity. Nodes can be tainted with any label and if there are custom taints, the NMI daemonset can be configured to tolerate those taint with helm chart value. I don't think there is any error message pod identity can generate for this.

[2022-03-17 22:06] #591 closed

[2022-03-17 22:07] aramase commented on #380
As mentioned in the [announcement](https://cloudblogs.microsoft.com/opensource/2022/01/18/announcing-azure-active-directory-azure-ad-workload-identity-for-kubernetes/), we are planning to replace AAD Pod Identity with [Azure Workload Identity](https://azure.github.io/azure-workload-identity). Going forward, we will no longer add new features to this project in favor of Azure Workload Identity. How

[2022-03-17 22:07] #380 closed

[2022-03-17 22:08] #413 closed

[2022-03-17 22:08] #415 closed

[2022-03-17 22:08] aramase commented on #1110
Closing with https://azure.github.io/aad-pod-identity/docs/best-practices/#pods-using-unauthorized-azureidentities

[2022-03-17 22:08] #1110 closed

[2022-03-18 00:03] RoSk0 commented on #1204
As said in description, the problem is not with Rancher but with the fact that namespace exists. We want to manage all application related resources, including namespaces, with the Terraform. When application is created, Terraform state is empty and it tries to create the namespace to place the other application resources in it. Obviously this fails when the namespace is already there, created by

[2022-03-18 00:12] aramase commented on #1204
@RoSk0 `az aks pod-identity add` is the AKS managed pod-identity addon: https://docs.microsoft.com/en-us/azure/aks/use-azure-ad-pod-identity. The add-on uses aad-pod identity in managed mode, so AKS issues would be the appropriate channel for questions.

[2022-03-18 06:45] wanglijun378617 commented on #1255
Hi @aramase , regarding the ARM GET api call to get the VM/VMSS,
I0310 11:36:24.068441       1 stats.go:162] Cloud provider GET: 16m47.588432053s
I checked around the above timestamp, I did observe that there are multiple ARM requests coming to GET the VMSS around that time, but no incoming requests for like 16 minutes(from 11:19~11:36), and I didn't observe there is 429 request throttling. May I

[2022-03-21 08:16] deyanp commented on #1199
@aramase , we are still having mic restarted every couple of days, sometimes even more often. We upgraded to v1.8.6, but that did not help ...

How can we get kube-apiserver logs in AKS? Pls note that we have the SLA activated for this AKS cluster, so I hope the availability of it is not a problem ...

[2022-03-21 11:22] deyanp commented on #1199
@aramase, just FYI, to avoid a potential double/parallel investigation, I have opened MS Support ticket 2203210050000972 for this ...

[2022-03-21 16:56] aramase commented on #1255
That is expected and is the leader election model. At any given time, 1 pod is the leader and other pod is waiting to acquire the lease. When the leader dies, the backup pod will acquire the lease and become the leader.

In case of the default mode, pod identity has MIC and NMI. MIC does a lazy identity assignment (assigns the identity to the VMSS when the first pod using it is created and deletes

[2022-03-22 23:48] pkcsf commented on #1199
@deyanp , I have done further investigation from Support Ticket 2203210050000972, and I can confirm that there was readiness/liveness probe failure from apiserver probe for **around 15 second**,  due to AKS Control Plane maintenance. Please note that this is an expected behavior from AKS, so ideally mic should be tolerate such transient failure.

[2022-03-22 23:53] aramase commented on #1199
Thanks for updating the issue @pkcsf!

MIC establishes a WATCH connection with the kube-apiserver at startup. If the connection to the apiserver fails, it triggers a restart to resolve any intermittent connection issues.

[2022-03-23 08:17] deyanp commented on #1199
@pkcsf, isn't the point of AKS Uptime SLA (for which we pay) to guarantee high availability of AKS control plane? How come it goes down for 15 seconds?

[2022-03-23 08:21] deyanp commented on #1199
@aramase , we have an alert set up for our cluster to notify us for any pod restarting. We do not treat pod restart as "normal", for us pod restarts are either related to deployment, or must be investigated as an incident ...

[2022-03-25 05:59] sasound opened #1257 "Supportability of AAD-POD"
Hi @aramase  / @chewong

With no more feature additions to AAD-POD identity project. I have a few compatibility related qns :
 - Currently I have AKS  cluster with 1.20.7 & 1.21.9 . Will AAD pod continue to work as expected ?
 - What is the max compatibility level after which AAD pod identity will break ?

[2022-03-25 14:52] darose commented on #1255
OK, thanks.  I'm working on testing pod identity in managed mode.  Will see how that goes.

[2022-03-25 16:20] chewong commented on #1257
1. Yes it will continue working.
2. I don't see why it wouldn't work on future Kubernetes releases but we recommend checking out https://github.com/Azure/azure-workload-identity.

[2022-03-30 09:58] Tiemooowh commented on #1103
Is there any progress on this "issue"?

[2022-03-30 16:17] jchauncey commented on #1199
@palma21 can you comment on the uptime sla

[2022-03-30 16:27] aramase commented on #1103
@Tiemooowh We already announced [Azure Workload Identity](https://github.com/Azure/azure-workload-identity) which is v2 of AAD Pod Identity. Please see the announcement in the [docs](https://azure.github.io/aad-pod-identity/docs/).

[2022-04-05 07:44] ondrejhlavacek commented on #1257
I have a similar question. We have some issues with AAD Pod Identity - it seems to slow down significantly with peaking traffic and it throws some errors or log messages I don't fully understand. What is the best place to start debugging and where to report/ask for help? Thanks

[2022-04-05 13:20] florianpiesche opened #1262 "Renewing Service Principal credentials fails to update Kubernetes Secret if aad-pod-identity was installed via Helm"
**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/aad-pod-identity/docs/troubleshooting/)
- [x] Read [Known Issues](https://azure.github.io/aad-pod-identity/docs/known-issues/)
- [x] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
We have an AKS cluster with some microservices that pull configuration information from an Azu

[2022-04-05 13:24] aramase commented on #1257
- Here is our troubleshooting guide: https://azure.github.io/aad-pod-identity/docs/troubleshooting/. You can look at the logs to determine what's taking time.
- If you run into any problems/bug, you can open a GitHub issue in this repo. This project is currently in maintenance mode and we'll continue patching critical bugs and security vulnerabilities.
- We recommend evaluating and switching to ht

[2022-04-05 17:01] chewong commented on #1262
adminsecret is only used if you don't want MIC to reuse the same credential as the AKS cluster. Based on your setup, it looks like MIC and your AKS cluster is sharing the same credential so `az aks update-credentials` should work after you remove adminsecret.

Also, using a service principal is an `anti-pattern` due to the risk of leaking the secret. I'd suggest using managed identity when possibl

[2022-04-06 00:15] #1246 closed

[2022-04-06 02:02] zhiweiv commented on #1246
In my AKS the cloud-node-manager version is 1.23.5 which contains the fix.

[2022-04-09 03:29] romeotheriault opened #1264 "cannot unmarshal number into Go struct field AzureIdentitySpec.items.spec.clientID of type string"
**Describe the bug**
Recently accidentally upgraded aad/mic/nmi on our aks v1.22 cluster to v1.8.8 from 1.7.4. After it was upgraded none of our new containers (or existing containers that get stopped then started back up) are getting their azureAssignedIdentity created and applied to them. The error in the mic log is:

[code]

None of our azureIdentities have changed or our azureIdentityBindings.

[2022-04-11 23:21] romeotheriault commented on #1264
Hi @aramase, thanks for the follow up. I finally figured out what the problem was. Somehow we had one azureIdentity with a number in it's clientID field instead of the usual string. This was causing mic to fail to create any new azureAssignedIdentities for new pods. We're good now but a possible enhancement here would be to have mic skip any incorrect azureBindings (clientID) and do the rest inste

[2022-04-11 23:21] #1264 closed

[2022-04-12 16:31] rupendra-kpmg opened #1265 "PodIdentity NMI version 1.8.4 pod detected with "Debian Security Update for zlib (DSA 5111-1)" and "Debian Security Update for Open Secure Sockets Layer (OpenSSL) (DSA 5103-1)""
**Description**:

ID | 179168
Severity | High
Type | Vulnerability
Published | 4/6/2022, 6:59 PM GMT+5:30
Patchable | Yes
Cvss 3.0 base score | 7.5
CVEs | CVE-2018-25032

**Steps To Reproduce** : Scan NMI 1.8.4 with Azure Defender vulnerability scanner

**Expected behavior **: NMI should be detected as healthy by Azure Defeneder

**AAD Pod Identity version** : nmi:v1.8.4

**Kubernetes version** :

[2022-04-12 17:03] chewong commented on #1265
The CVE was fixed in `mcr.microsoft.com/oss/azure/aad-pod-identity/nmi:v1.8.4.3`.

[2022-04-12 23:06] zcollins0 commented on #1265
@chewong Is v1.8.8 fixed as well? Where can we see a changelog containing dates on which each tag was last updated, and what fixes are included in the update?

[2022-04-13 08:49] stan-sz opened #1266 "Provide the helm chart from mcr.microsoft.com"
**Describe the request**
Host the helm chart on mcr.microsoft.com

**Explain why AAD Pod Identity needs it**
mcr.microsoft.com is capable of storing helm charts. Since all images referenced in the helm chart are from mcr.microsoft.com, it would be coherent to have the chart be pullable from the same source.

**Additional context**
https://github.com/Azure/secrets-store-csi-driver-provider-azure/is

[2022-04-13 11:47] ondrejhlavacek opened #1267 "Client side throttling and performace issues"
**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/aad-pod-identity/docs/troubleshooting/)
- [x] Read [Known Issues](https://azure.github.io/aad-pod-identity/docs/known-issues/)
- [x] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**

We have a cluster with large fluctuation of pods. Hundreds of pods are created and deleted ev

[2022-04-13 17:34] zcollins0 commented on #1265
When you publish a patch like v1.8.8.1, do you also update the v1.8.8 tag?

[2022-04-13 17:36] chewong commented on #1265
No, tags are immutable for this project.

[2022-04-13 20:28] juliolopez-mx opened #1268 "AAD Pod Identity to Event Hub"
**Describe the request**

Can I use AAD Pod Identity to connect to an Azure Event Hub topic?  Is there some Java code sample I can view.  I'm using a AuthenticateCallbackHandler and I'm trying to see how this fits with the DefaultAzureCredential.

[2022-04-14 07:51] rupendra-kpmg commented on #1265
My NMI pod is healthy now, thanks @chewong .

If @zcollins0 all queries been answered i would like to close the bug.

Thanks Guys!

[2022-04-14 07:59] ondrejhlavacek commented on #1267
If the answer is to use https://azure.github.io/azure-workload-identity then my question would be what is the GA ETA?

[2022-04-14 09:30] ondrejhlavacek commented on #1257
@aramase Thanks, I have opened an issue here. Is Azure Workload Identity in GA? It seems to be still in preview - https://docs.microsoft.com/en-us/azure/aks/cluster-configuration#oidc-issuer-preview.

[2022-04-14 13:41] aramase commented on #1267
@ondrejhlavacek The recommendation is start using Azure Workload Identity. This project is currently in maintenance mode and will only receive security patches and critical bug fixes. AAD currently only supports Azure AD Applications and they're working on supporting managed identity with workload identity. Once that's available we'll be able to provide a more concrete timeline for GA.

[2022-04-14 13:45] aramase commented on #1268
@juliolopez-mx AAD Pod Identity is only a proxy that intercepts managed identity token requests to IMDS. It doesn't require any code changes specifically to work with this project. If you already have an application that's using Azure Identity SDKs, it should work with AAD Pod Identity installed in the cluster too. Here are some examples we have: https://github.com/Azure/aad-pod-identity/tree/mast

[2022-04-14 14:25] #1265 closed

[2022-04-15 07:26] ondrejhlavacek commented on #1267
@aramase Unfortunately all identities we use in our applications are managed identities, so workload identity does not work for us at the moment. So I am still looking for a solution with AAD Pod Identity.

[2022-04-17 00:17] #1255 closed

[2022-04-18 17:00] ernesto1596 opened #1269 "MIC PODs crashing - panic: runtime error: invalid memory address or nil pointer dereference"
**Describe the bug**
I0418 16:48:04.883307       1 main.go:114] starting mic process. Version: v1.7.3. Build date: 2021-02-05-22:16
W0418 16:48:04.883362       1 main.go:119] --kubeconfig not passed will use InClusterConfig
I0418 16:48:04.883369       1 main.go:136] kubeconfig () cloudconfig (/etc/kubernetes/azure.json)
I0418 16:48:04.883495       1 main.go:144] running MIC in namespaced mode: fal

[2022-04-18 17:19] aramase commented on #1269
Thanks for opening the issue!

Looks like you're running `v1.7.3` release which is at least a year old. We have patches numerous bugs including this in the later releases. I would recommend upgrading to the latest.

If you run into similar issues with the latest release, please let us know here and we can look at the logs.

[2022-04-18 17:28] ernesto1596 commented on #1269
@aramase thanks for the suggestions. I'll work on getting the latest version of the MIC running on our new clusters. The issue/confusion comes from why it works on one cluster but not another.

[2022-04-18 19:35] aramase commented on #1269
AFAIK, the nil pointer bug was caused because of an unhandled exception when the VMSS is in provisioning state. That can explain the difference in behavior between clusters.

[2022-04-18 20:51] ernesto1596 commented on #1269
How long would a VMSS be in a provisioning state though? The cluster has been like this for over a week without any changes.

[2022-04-19 18:45] se7enack commented on #1267
This is some BS. Move to Azure Workload Identity is the solution? Fix the bug. You guys are the absolute worst. If I had my way we'd dump Azure and your awful support for literally any other cloud provider.

[2022-04-19 19:01] aramase commented on #1267
@se7enack could you provide more details on the bug you're referring to? Is it the same issue @ondrejhlavacek has posted here?

@ondrejhlavacek AAD Pod Identity in standard mode includes MIC and NMI with MIC performing the identity assignment when the first pod using the identity is created and unassigning when the last pod using the identity is deleted. The identity assignment typically takes ~40

[2022-04-19 19:27] ryanbradley7 commented on #1267
we are experiencing this same issue.  This has worked fine for us for the last ~2.5-3 years and suddenly stopped working this morning (maybe over the weekend but nobody was using it over the weekend).  We didn't change anything until after the issues started and we upgraded to v1.8.8 to see if that would fix the issue but it hasnt.

Our pods can not obtain an authorization token in order to retrie

[2022-04-19 20:57] aramase commented on #1267
nedidentities/onedev3-batch-database-upgrade-xl9zr-onedev3-onedev3-identity

@ryanbradley7 That log message is an information log from the client-go kubernetes library for the kube API request. It just shows how long the request took before it succeeded and doesn't indicate error.

Could you share the `AzureIdentity`, `AzureIdentityBinding` and pod yaml? Also, could you share the entire MIC logs?

[2022-04-19 21:29] ryanbradley7 commented on #1267
@aramase  there really arent any logs for the pods that are failing other than our generic "failed to obtain a token" message from some custom code we have.  This prevents the pods from starting up because the values from keyvault at required for initialization. This hasn't changed in years so it shouldn't be a problem.

Here is a sample log from our application

[code]

I do not want to attach th

[2022-04-20 13:56] aramase commented on #1267
Check the MIC logs for the pod that's failing to acquire the token. NMI logs will only show failed to get token but MIC is the one that needs to assign the identity for the pod. If there are no logs for the pod in MIC, then it could be misconfigured labels. Also, there is a metric for how long the cloud PUT operation takes for assigning identity which can be useful to see why pods aren't able to g

[2022-04-20 14:24] ernesto1596 commented on #1269
I've upgraded the cluster to the latest version (1.8.8). We are no longer seeing this issue but still unable to get the pod identity assigned to the pods.

[code]

one of the MIC pods got the following error as well:
[code]

[2022-04-20 14:51] deyanp commented on #1199
@palma21 My custom application pods running on the nodes did not experience issues, however this mic pod gets restarted from time to time (2 times in April, about 8 times in March, 2 times in Feb) and I do not understand why.

Let's assume the SLA accommodates 15 seconds downtime of the control plane, fine, but do you think it is normal to have the mic restarted from time to time? I thought that i

[2022-04-20 15:13] aramase commented on #1269
It looks like the first token request from MIC is also being intercepted by NMI. As part of the installation, you also need to configure `AzurePodIdentityException` to except the MIC token requests from being excepted. The command to install the exception is

[code]

Refer to our [quick install](https://azure.github.io/aad-pod-identity/docs/getting-started/installation/#quick-install) guide for th

[2022-04-20 15:19] ernesto1596 commented on #1269
Are these not installed with the helm chart?

[2022-04-20 15:44] deyanp commented on #1199
@aramase , my custom app pods are a few daemonsets and many replicasets, with some of the latter having 1,2 or 3 replicas, distributed automatically across the 3 nodes in the AKS cluster. Having said that, none of our custom pods use "single active pod/leader election" approach, all replicas process in parallel (http requests, event hub messages, etc) ...

Do you mean that the mic pod is the only

[2022-04-20 16:10] aramase commented on #1199
Got it! Thanks for the details.

I can only speak about MIC as I know it uses leader lease. Increasing the timeout will make it less susceptible to API server downtime. I did look at similar queries in another cluster before and came across contour which runs into similar issues with leader election when connection to API server times out: https://github.com/bitnami/charts/issues/9337#issuecomment

[2022-04-20 20:05] aramase commented on #1269
Synced up offline with @ernesto1596!

1. The `AzurePodIdentityException` was deployed in all the clusters as recommended.
2. They have a dev cluster which was upgraded to `v1.8.8` and is working fine.
3. The above error indicates a network issue in the cluster. Multiple pods in `kube-system` namespace are in `CrashloopBackOff` and this is not related to pod identity.

The original query is resolve

[2022-04-20 20:05] #1269 closed

[2022-04-21 10:04] sam-cogan opened #1271 "CVE's Older than Current Release"
**Describe the bug**

On scanning the NMI image it shows a number of critical and high vulnerabilities that where fixed 69 or more days ago but don't appear to have been fixed in the image. Are the images checked for CVE's before release? Can they be updated to fix these CVE's?

[code]

[2022-04-21 19:38] chewong commented on #1271
Since our image tags are immutable, we publish revisions periodically to fix those CVEs. Could you try `mcr.microsoft.com/oss/azure/aad-pod-identity/nmi:v1.8.8.1`?

[2022-04-22 16:29] aramase opened #1272 "Document steps for configuring pod identity with sp + certificate"
Steps:

1. Create a service principal with certificate `az ad sp create-for-rbac --create-cert`
2. Convert the PEM file to PKCS12 and set a password
[code]
3. Create a k8s secret with the certificate and password
[code]
4. Create an AzureIdentity and AzureIdentityBinding referencing that secret
[code]

cc @CecileRobertMichon

[2022-04-25 10:09] sam-cogan commented on #1271
It seems the same CVE's are present in that image too. They all seem to relate to Go, can you confirm if the NMI service actually uses Go, and if so what version is distributed on the image? There seems to be a trend with the image scanner picking up Go as vulnerable and I'm trying to determine if that is actually the case.

[2022-04-25 18:39] chewong commented on #1271
Which image scanning tool are you using? We are using trivy and it only reports `CVE-2022-27191` as the only go-related vulnerability:

[code]

The `.1` suffix at the end of the image means the number of times we os patched the image (fixed vulnerabilities like gzip, zlib, etc). For go-related, we can cut a new patch release to address them

[2022-04-25 19:13] sam-cogan commented on #1271
This is using Prisma Cloud/Twistlock.
It doesn't seem to have issue with the NMI binary, but the go-runner binary in the root of the image, which is still on 1.17.3, and CVE-2022-23806 does seem to impact Go older than 1.17.7, so would seem to apply here.

[2022-04-25 19:29] chewong commented on #1271
Go runner binary comes from the base image of NMI so we would have to wait until there is an update for the base image (currently it's still using Go [1.17.3](https://github.com/kubernetes/release/blob/edc132d8a095d82a623c81643d910ba064fe2798/images/build/debian-iptables/Makefile#L24)

[2022-04-26 04:18] AlvinRamoutar commented on #716
We experienced the same symptoms on one of our clusters after upgrading from AKS 1.21.9 -> 1.22.6.

This was related to a broken deployment of **[node-local-dns](https://kubernetes.io/docs/tasks/administer-cluster/nodelocaldns/).**

This was resolved on our end by re-deployment of the node-local-dns daemonset.

[2022-04-26 16:19] rupendra-kpmg opened #1274 "PodIdenty - NMI & MIC - discovered vulnerabilites"
**Describe the bug**

**Steps To Reproduce** : Scan with Prisma

**Expected behavior** : Detection of vulnerabilties

**AAD Pod Identity version** : nmi:v1.8.4.3 & mic:v1.8.2

**Kubernetes version** : 1.22

**Additional context** :

Scan results for: image caacrsofidevuat.azurecr.io/base/mic:v1.8.2 sha256:b014e24b99800d0f562fed5efb4e638ae8ba65fa2abe0884b36935bb1c1b769f
Vulnerabilities
[code]
Vulne

[2022-04-27 00:19] #1262 closed

[2022-04-27 17:31] chewong commented on #1274
For MIC, I'd suggest upgrading to at least 1.8.4 for Go 1.17 support. I am working on upgrading the project to use Go 1.18 and we can cut v1.8.9 after that is merged.

[2022-04-28 02:39] ryanbradley7 commented on #1267
I found a solution that fixed the issue for us and I am hoping it helps others.  Workload Identity is in preview still and should not be recommended as a solution yet, especially since AAD Pod Identity is still being used by many people and hasn't been deprecated.

The solution that worked for us was to use AAD Pod Identity in "managed mode".  Please refer to [https://azure.github.io/aad-pod-ident

[2022-04-28 10:28] ryanbradley7 commented on #1255
In case it helps anyone else, using AAD Pod Identity in "managed mode" resolved this issue for us.

see
[https://github.com/Azure/aad-pod-identity/issues/1267](url)

[2022-05-02 12:07] jdimmerman commented on #1152
@sasound @andyw248 Any further update here?

About a week ago, I ran into the exact issue as @andyw248 described it - We have 3 clusters. We enabled the "insights" feature on a single cluster. Shortly after doing so, we started to run into this issue only on that one cluster when attempting to refresh the token during our deployment process (during which we refresh secrets from Key Vault). We saw

[2022-05-02 12:49] ondrejhlavacek commented on #1267
@aramase

Thanks, we will look into this.

[2022-05-03 07:20] B1T3X commented on #1102
I'm facing the same issue using ExternalDNS from the Azure Marketplace on AKS using User-assigned managed identities. the ExternalDNS pod shows errors in the log, the exact same error @dndao has described. Why is this issue not getting any attention?

[2022-05-03 19:31] #1271 closed

[2022-05-05 13:48] felfa01 opened #1277 "Application with identifier 'msi' was not found in the directory"
I am trying to use my own MSI for aad-pod-identity instead of the auto-generated kubelet MSI XXX-aks-agentpool. I have tried manually assigning my own MSI to the underlying VMSS nodes, but I am facing issues as can be seen in log:

`Original Error: adal: Refresh request failed. Status Code = '400'. Response body: {"error":"unauthorized_client","error_description":"AADSTS700016: Application with id

[2022-05-05 16:36] aramase commented on #1277
@felfa01 Thanks for reporting the issue!

Which version of the helm charts are you using?

From the logs, it looks like MIC is using service principal which makes me think `useMSI` is coming out incorrectly. `useMSI` in the helm chart values needs to be a string. I tried the following values file and it worked fine for me:

[code]

Just setting `useMSI: true` errors out during `helm install` becau

[2022-05-06 00:17] #1257 closed

[2022-05-06 08:52] rupendra-kpmg commented on #1274
@chewong

NMI needs update with xz-utills and gzip, any suggestions ?

![image](https://user-images.githubusercontent.com/103521123/167099578-8c191300-ef53-4177-8be3-2737f795a60b.png)

[2022-05-06 14:18] felfa01 commented on #1277
Many thanks @aramase! It was a combination of using an outdated helm chart version and not using string for `useMSI`.

[2022-05-06 14:18] #1277 closed

[2022-05-06 15:38] chewong commented on #1274
Could you try `mcr.microsoft.com/oss/azure/aad-pod-identity/nmi:v1.8.4.4`? It's our fourth revision of v1.8.4, which should patch those packages.

[2022-05-06 20:17] rajdhandus opened #1278 "MIC Restarts continuously"
**Have you**

- [x ] Read [Troubleshooting Guide](https://azure.github.io/aad-pod-identity/docs/troubleshooting/)
- [x ] Read [Known Issues](https://azure.github.io/aad-pod-identity/docs/known-issues/)
- [x ] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**

MIC Restart Continuously as it hit the memory limits.

**Steps To Reproduce**

**Expected

[2022-05-07 19:54] ghostika opened #1279 "After new nodepool -> Client does not have permission to perform action 'Microsoft.ManagedIdentity/userAssignedIdentities/assign/action"
Hello
I had a working AKS with AGIC but I wanted to replace my node pool with stronger machines. I created a new node pool and scale down the old node pool, then I deleted it totally. The AGIC container was moved to the new node pool, but it's not running. In the MIC log found the following line:

Original Error: Code="LinkedAuthorizationFailed" Message="The client '46998aad-4d60-4174-bf70-4af6367

[2022-05-09 11:21] aramase commented on #1278
Helm chart release `4.1.0` is using pod identity release `v1.8.0`. This is an old release (1yr old) and there have been multiple fixes in the releases after. Could you upgrade to the latest and see if the issue is resolved?

If you see issues with latest release, please also provide the logs from the restarted MIC pod (using the `-p` flag).

[2022-05-09 12:01] ghostika commented on #1279
Yeah, but as I wrote, it worked before for the old nodepool. Since then I added the right and I see no more error, but I still don't got, how it worked before but not for the new nodepool.

[2022-05-10 17:09] rupendra-kpmg commented on #1274
@chewong

NMI:v1.8.4.4 :-(

-------- Begin on caacrsofidevuat.azurecr.io/base/nmi:v1.8.4.4 ---------

Scan results for: image caacrsofidevuat.azurecr.io/base/nmi:v1.8.4.4 sha256:e2d79af17935beb33af19b66745e85a910772ef75cb52b3e8434a3556ee2c483
Vulnerabilities
+----------------+----------+------+---------+---------+--------------------------+------------+------------+--------------------------------

[2022-05-10 17:24] chewong commented on #1274
We won't able to fix these go-related vulnerabilities since we don't rebuild v1.8.4 with the newer go version. The only solution is to upgrade NMI to the latest version (v1.8.8). We will also release v1.8.9 soon for Go 1.18 support.

[2022-05-11 16:54] chewong commented on #1274
If you are using helm to install aad-pod-identity, you can run `helm upgrade`. Otherwise, you can find the release manifests in https://github.com/Azure/aad-pod-identity/releases and run `kubectl apply -f`

[2022-05-12 13:28] rupendra-kpmg commented on #1274
@chewong

-------- Begin on caacrsofidevuat.azurecr.io/base/nmi:v1.8.8 ---------

Scan results for: image caacrsofidevuat.azurecr.io/base/nmi:v1.8.8 sha256:4fe3538bcbef4582f4a42a90b216698aeb8cfb9c701326b8a382f17a030fc4b3
Vulnerabilities
+----------------+----------+------+---------+------------------+----------------------------------+------------+------------+-------------------------------------

[2022-05-12 19:43] husseinsa opened #1280 "NMI logs - Requests from Pod in specific namespace is matching with AzureIdentity in another namespace"
**Describe the bug**

We use pod-managed identity to allow our Application pods to connect to keyvault and get secrets.

We have a couple of namespaces, we deploy the same Application API to each namespace.  Each namespace has AzureIdentity and AzureIdentityBinding. However, all AzureIdentity and AzureIdentityBinding point to the same ClientID/ResourceId of the managed Identity.

Application pod A

[2022-05-13 17:50] chewong commented on #1280
What's the error message of your application?

[2022-05-13 21:04] husseinsa commented on #1280
Here are some logs after enabling verbose logging.
I see its retrying couple of times before its aborted. we see 401, and then 400 and then a failure.

[code]

[2022-05-13 21:46] chewong commented on #1280
I don't see anything unusual. It just said `Unexpected end of JSON input` but I don't think what the response JSON is. Could you try updating pod identity to 1.8.8? 1.6.x is out of support and we've introduced numerous enhancements since then.

[2022-05-17 08:54] ondrejhlavacek commented on #1267
An update from my end, we were able to partly work around the issue. The root cause was that we had a garbage collector deleting old pods. We have a huge number of short lived pods (hundreds per hour) and we need to clean up pod definitions regularly to avoid Kubernetes API issues. This happened once per hour in batch and once deleted the identity unassignment took place. We have changed the inter

[2022-05-19 17:41] #1274 closed

[2022-05-19 17:59] sjdweb opened #1282 "1.8.9 Images do not exist"
[code]

[code]

[2022-05-19 18:27] chewong commented on #1282
Should be available now.

[2022-05-19 18:27] #1282 closed

[2022-05-20 15:06] michail-nikolaev commented on #1212
Got the same issues, pod redeploy fixed it....

[2022-05-21 18:42] StevenTCramer commented on #1074
You have the aadpodidbinding label on the deployment and you need it on the spec.  (Not that I just had the same problem :)
You have:
[code]

[2022-05-21 22:28] Thaval commented on #563
This is not closed. When I delete the daemonset, it is re-created by the daemonset-controller.

[2022-05-23 16:28] SidaliHami commented on #563
Hi !

I have the same problem as you @Thaval. I don't know why the nmi daemonset keeps popping when i'm trying to delete it.
I haven't enabled pod-identity explicitly for any of my workloads. I want to install aad-pod-identity in a Standard mode so I can handle my pod identities via **mic** which is not the case with the managed mode which requires to run "az aks pod-identity" OR to create azureid

[2022-05-23 17:24] SidaliHami commented on #563
Hey @Thaval,
Thank you for your quick response.  This command worked for me : `az aks update -g $MY_RESOURCE_GROUP -n $MY_CLUSTER --disable-pod-identity`. It has to be one of our DevOps Engineers who's ran this command...
You really saved my life, i can know install aad-pod-identity on a standard mode.
Thanks again !

[2022-05-24 07:52] zouyc1990 commented on #1152
We ran into similar issue as @@andyw248 @jdimmerman  described it. The Azure design concept was so crazy that one resource had 2 identities, which was unimaginable in AWS，May I ask who has the solution? Our production business is broken down now

[2022-05-24 17:13] aramase commented on #1152
Multiple managed identities can be assigned to the single VMSS resource. If there are multiple identities, then the client_id of the identity for which a token is required needs to be sent as part of the request. There is an option to pass the clientID parameter in all the SDKs.

Speaking for pod identity, we default to first client ID based on the `AzureIdentity` that matches the pod. If you're n

[2022-05-25 00:02] jdimmerman commented on #1152
@zouyc1990 - Exactly, all we needed to do was add the client ID to our helm charts. For us, that meant adding `userAssignedIdentityID` parameter for our `SecretProviderClass` resource

[2022-05-27 08:12] songversion1 opened #1283 "How to manage node scale using aad"
I use Azure Kubernetes Service.

sometimes I scale out my nodepool  ex) vm_size 1 -> 2

how to adjust my node scale?

[2022-05-30 03:49] #1283 closed

[2022-06-01 00:20] #1278 closed

[2022-06-01 09:22] adityajadhav95 commented on #1250
I'm getting the same error. Did anyone find the solution?

[2022-06-02 00:21] #1279 closed

[2022-06-05 00:21] #1280 closed

[2022-06-09 00:17] #1267 closed

[2022-06-18 13:49] mdaslamansari opened #1287 "AAD Pod-identity intermittent issues with applications"
Introduction - We have application pods running in AKS (Azure Kubernetes Services) and the pods are using managed identity to access Azure resources like KeyVault as soon as pod starts running. What we are seeing is that few times apps are failing to read KV with the error -

_error in obtaining secret: ManagedIdentityCredential authentication failed. Status code: 500
More details:
unknown_error S

[2022-06-21 16:03] chewong commented on #1287
Duplicated issue: https://github.com/Azure/aad-pod-identity/issues/1011.

Can you try upgrading to v1.7.5+ or to the latest version?

[2022-06-23 08:54] mdaslamansari commented on #1287
Thanks @chewong... We are getting same even with 1.8.9 version...

[2022-06-23 13:13] gkrobo opened #1289 "multiple aad-pod-identity deployments in same k8s cluster?"
I made a comment in this article  https://github.com/Azure/aad-pod-identity/discussions/902?sort=old    with the same description below.

Thought i'd create a new request instead.

Hi there

Require some advice please.

We have non-helm chart install of AAD-pod-identity in our production clusters on Kubernetes v1.21 in Namespaced mod.

AAD-pod-identity nmi/mic version: 1.6.2

The CRDs installed wi

[2022-06-23 15:46] chewong commented on #1287
Can you share the MIC and NMI logs?

[2022-06-23 17:02] gkrobo commented on #1289
Thank you @aramase  for your response.

I guess our best method with least to no production impact would be to keep yaml deployment and upgrade to version 1.8.9 (nmi/mic) with latest CRDs.

Already have mic-exception in place as that seems it doesn't change.  Are there any nuances to look out for...going from v1.6.2 direct to 1.8.9 ?

[2022-06-24 14:41] gkrobo commented on #1289
closing

[2022-06-24 14:41] #1289 closed

[2022-06-29 09:47] rupendra-kpmg opened #1291 "Pod-Identity NMI v1.8.9 detected with Debian vulnerability (Azure Defender)"
**Have you**

- [ ] Read [Troubleshooting Guide](https://azure.github.io/aad-pod-identity/docs/troubleshooting/)
- [ ] Read [Known Issues](https://azure.github.io/aad-pod-identity/docs/known-issues/)
- [ ] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**

Pod-Identity image is detected with Debian Security Update for Open Secure Sockets Layer (Ope

[2022-06-29 16:53] aramase commented on #1291
Hello 👋🏻

Please reference our [release doc](https://github.com/Azure/aad-pod-identity/blob/master/docs/RELEASE.md) for more details on how we patch CVEs in releases.

1. I would recommend using the latest release as it will always contain CVE patches for CVEs at the time of release.
2. For the newer CVEs, they have been patched in the main branch and will be part of the next release which as ment

[2022-06-30 16:15] aramase commented on #1291
@rupendra-kpmg As I mentioned in the previous comment, if the CVE has a fixed version, that patch will be included in the next release. Those CVEs have been patched in the master branch and will be part of release next week.

[2022-07-01 19:48] sozercan commented on #1291
Closing this since the vulnerability has been fixed and the fix will be available in the next version.

[2022-07-01 19:48] #1291 closed

[2022-07-04 14:19] rupendra-kpmg commented on #1291
@sozercan When you have plan to release the next version ? would be very helpfull if i can get the link. Thanks!

[2022-07-05 16:46] aramase commented on #1291
@rupendra-kpmg The release cadence doc I shared in the comment above has the release plan. We will cut a release 1st week of every month, which means the next release will be this week.

[2022-07-16 00:19] #1287 closed

[2022-07-19 00:37] callppatel opened #1295 "Is it mandatory to deploy in default name space?"
**Have you**

- [ ] Read [Troubleshooting Guide](https://azure.github.io/aad-pod-identity/docs/troubleshooting/)
- [ ] Read [Known Issues](https://azure.github.io/aad-pod-identity/docs/known-issues/)
- [ ] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
Doesnt work or identity gets hung when deploying outside of default namespace.

**Steps To Rep

[2022-07-19 20:52] aramase commented on #1295
No, it is not required to deploy aad-pod-identity component in default namespace. It should work fine in any namespace. The NMI and MIC pod logs should have more details on the error. Here is our troubleshooting guide - https://azure.github.io/aad-pod-identity/docs/troubleshooting/

[2022-08-03 19:03] SOFSPEEL commented on #1295
There is another problem with namespaces, if you try to deploy helm to 2 different namespaces in the same cluster you will get the following error:
`ClusterRole "aad-pod-identity-mic" in namespace "" exists and cannot be imported into the current release: invalid ownership metadata; annotation validation error: key "meta.helm.sh/release-namespace" must equal "uat": current value is "dev"`

To repr

[2022-08-03 22:22] aramase commented on #1295
@SOFSPEEL Only one pod identity instance is required and supported per cluster. NMI binds to the host network and if you try to deploy in a different namespace will result in host port conflicts.

ClusterRole and ClusterRoleBinding are not namespaced resources but rather cluster resources. Helm adds labels when it installs the manifests and trying to deploy 2 instances of the cluster resource will

[2022-08-03 22:23] aramase commented on #1295
Closing this issue with https://github.com/Azure/aad-pod-identity/issues/1295#issuecomment-1189538967. If there any additional questions, please feel free to reopen.

[2022-08-03 22:23] #1295 closed

[2022-08-04 07:57] ggujabidze opened #1300 "NMI Error - failed to get matching identities for pod"
### Discussed in https://github.com/Azure/aad-pod-identity/discussions/1298

<div type='discussions-op-text'>

<sup>Originally posted by **ggujabidze** August  3, 2022</sup>
Hi everyone.

I can't manage to make aad-pod-identity work, besides the fact that I had followed all the instructions and read almost all issues related to mine. Please help to identify the problem. I'll write below all the ne

[2022-08-04 12:46] ggujabidze commented on #1300
I have found the problem and fixed it, that's why I'm closing this issue.

[2022-08-04 12:46] #1300 closed

[2022-08-04 14:35] smartaquarius10 opened #1301 "Vulnerabilities are coming in NMI 1.8.10"
Team,

Prisma cloud is showing these vulnerabilities in nmi 1.8.10

`Release details:- OS distribution Debian GNU/Linux 11 (bullseye)`

---

![image](https://user-images.githubusercontent.com/7824529/182873551-f05256c4-3a97-434b-a981-ffb407bc5f99.png)

![image](https://user-images.githubusercontent.com/7824529/182871807-e2a3fea9-82fe-425e-a669-683220cddefc.png)

---
![image](https://user-images.gi

[2022-08-04 18:13] smartaquarius10 commented on #1301
@aramase Sure anish. We have the latest release only. The issue is only in the nmi. Will wait for the next release. Hoping it to be free from these vulnerabilities.

Take care.. Have a great day ahead. :)

[2022-08-04 18:13] #1301 closed

[2022-08-04 18:39] smartaquarius10 commented on #1301
@aramase I forgot to ask one question. Is it a good practice to build using docker file and deploy or use the latest image already there in mcr.microsoft.com

[2022-08-04 18:42] smartaquarius10 commented on #1301
@aramase Because currently we are building using Dockerfile and from there we deploy aad

[2022-08-04 19:12] UnwashedMeme opened #1303 "Images 1.8.11 aren't available on mcr.microsoft.com"
[code]

Verified locally with the image id copied from the deployment manifest listed in the [release](https://github.com/Azure/aad-pod-identity/releases/tag/v1.8.11)

[code]

Helm tried to upgrade got image pull backoff. But since this is a daemonset it has to shutoff the old one first to try and do the upgrade which left pods needing identity tokens failing.

[2022-08-04 19:57] sozercan commented on #1303
@UnwashedMeme Apologies for the delay, should be published shortly.

[2022-08-04 20:02] sozercan commented on #1303
Should be available now

[2022-08-04 20:02] #1303 closed

[2022-08-04 20:17] sozercan commented on #1301
@smartaquarius10 Answer depends on your environment and policies. If your organization is comfortable with consuming images from mcr.microsoft.com, it'll be less time-consuming to grab from there instead of rebuilding.

[2022-08-04 21:27] DaleyKD opened #1304 "Unable to upgrade"
**Have you**

- [X] Read [Troubleshooting Guide](https://azure.github.io/aad-pod-identity/docs/troubleshooting/)
- [X] Read [Known Issues](https://azure.github.io/aad-pod-identity/docs/known-issues/)
- [X] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
[code]
Trying to upgrade from chart 2.0.1, I'm get this error:
[code]

**Steps To Reproduce**

[2022-08-05 05:52] smartaquarius10 commented on #1301
@sozercan , Got it thanks. :)

[2022-08-06 00:20] adi2025NOrtheastern opened #1305 "Error: UPGRADE FAILED: error validating "": error validating data: ValidationError(AzureIdentity): unknown field "spec" in io.k8s.aadpodidentity.v1.AzureIdentity"
**Have you**

- [X ] Read [Troubleshooting Guide](https://azure.github.io/aad-pod-identity/docs/troubleshooting/)
- [X ] Read [Known Issues](https://azure.github.io/aad-pod-identity/docs/known-issues/)
- [X ] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
Unable to install aadpodidentity. Getting below error:

Error: UPGRADE FAILED: error valida

[2022-08-09 01:14] DaleyKD commented on #1304
I think I figured it out.  I bet it had something to do with upgrading my AKS cluster from K8S 1.21 to 1.23. So, I did the following:

https://github.com/helm/helm-mapkubeapis

[code]

[2022-08-09 01:14] #1304 closed

[2022-08-10 07:30] ondrejhlavacek commented on #1267
Anyway, we're back at square one. He have a lot of microbatch workloads on the cluster (thousands of pods created/deleted each hour) and with rising traffic all our workarounds start to gradually fail.

We're in a situation where a mic assignment loop can take up to 30 minutes which blocks identity assignment.

The MIC log is full of these messages

[code]

The client-side throttling is the root c

[2022-08-10 16:50] aramase commented on #1267
@ondrejhlavacek Switching to managed mode will help because there is no `AzureAssignedIdentity` in that mode. There are no API calls to PATCH crds or cloud provider API calls as there is no MIC.

[2022-08-11 07:37] ondrejhlavacek commented on #1267
That's actually good news. Thanks, we'll give it a try!

[2022-08-15 16:51] aramase commented on #1305
@adi2025NOrtheastern This might be because your kubectl (client minor version) is greater than your server version. I would recommend downgrading the kubectl version or upgrading your server version.

I tried this on 1.24 client and server version, and can confirm it works as expected:

[code]

[code]

[2022-08-15 17:13] jainaditims commented on #1305
@aramase Thank you for looking into this. I resolved this issue and no longer getting such error.
I tried creating a new cluster and then installing aad-pod-identity. It worked. Thank you again!

[2022-08-15 17:22] #1305 closed

[2022-08-17 10:43] abuzaforfagun commented on #1232
@aramase I am using `v1.8.9` and facing the same issue.

[2022-08-18 17:24] BobbySchmitt commented on #1301
Most of these CVE are still present in 1.8.11 and 1.8.11.1 versions of the nmi container.

I think you need to update the base image you are using for the nmi container. I do not think Debian-iptables:bullseye-v1.5.0 is still being updated.

[2022-08-22 16:39] jikuma opened #1308 "MIC deletes the cluster identity from the nodepool."
I have a kubernetes cluster with a user identity assigned to it. MIC pods are using this cluster identity to access Azure resources.

This is the cloud configuration passed to the MIC pod

[code]

[code]
Mic startup log is

[code]

You can see that MIC is using cluster identity.

All the other pods use a different identity. We are not using  b6ec##### REDACTED #####ea35 for any deployment.

Still

[2022-08-22 16:46] aramase commented on #1308
This is because of an old version of AAD Pod Identity (v1.6.1) which uses a PUT API call to update identities. Pod Identity has since been updated to use `PATCH` operation which prevents such operations from happening and also 1.6.x is unsupported.

I would recommend updating to the latest release. Since this upgrade is from 1.6.x to 1.8.x, I would recommend reviewing the breaking changes and chan

[2022-08-23 00:31] martinpf commented on #1308
1.8.* doesn't appear to be pushed to MCR.  docker pull cr.microsoft.com/k8s/aad-pod-identity/mic:1.8.1   for example fails.  Can we get that?

[2022-08-23 08:20] Tolsto commented on #1195
You have to allow egress to 127.0.0.1, 169.254.169.254 is not requires as aad-pod-identity does DNAT to 127.0.0.1.

This Calico GlobalNetworkPolicy does the trick

[code]

[2022-08-23 17:24] aramase commented on #1308
The images were moved to a new repo few years back. You can find the image url in the deploy manifest/helm charts - https://github.com/Azure/aad-pod-identity/blob/master/deploy/infra/deployment-rbac.yaml#L598

[2022-08-30 07:21] ondrejhlavacek commented on #1267
Back here with another question, I have implemented `az vmss identity assign` (and `az vmss update-instances`) for all identities and node pools we have and in the last 24 hours one of the node pools lost twice all the assignments (except for the default MC RG).

I am trying to debug this issue and it seems, that there is no log of identity assignment/unassignment in the VMSS activity log. Is ther

[2022-08-30 23:11] SoujanyaMangipudi opened #1311 "[BUG] AzureCliCredential authentication failed: An error occurred trying to start process. No such file or directory exception in AKS add-on"
**Describe the bug**
`AzureCliCredential authentication failed: An error occurred trying to start process '/bin/sh' with working directory '/bin/'. No such file or directory` exception thrown when generating bearer token from .Net Core service on AKS cluster with aad-pod-identity add-on

**Steps To Reproduce**

Our .Net Core service generates bearer token using `DefaultAzureCredential GetTokenAsyn

[2022-09-01 13:21] slowesss opened #1312 "Managed Identity dropping"
**Have you**

- [ ] Read [Troubleshooting Guide](https://azure.github.io/aad-pod-identity/docs/troubleshooting/)
- [ ] Read [Known Issues](https://azure.github.io/aad-pod-identity/docs/known-issues/)
- [ ] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**

We are seeing a recurring error where our application will fail due to a managed identity err

[2022-09-01 18:22] andre-lx opened #1313 "AzureIdentity and AzureIdentityBinding are randomly deleted"
**Have you**

- [ ] Read [Troubleshooting Guide](https://azure.github.io/aad-pod-identity/docs/troubleshooting/)
- [ ] Read [Known Issues](https://azure.github.io/aad-pod-identity/docs/known-issues/)
- [ ] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**

We use AzureIdentity and AzureIdentityBinding in three services.

They work pretty fine, but

[2022-09-01 18:46] BobbySchmitt opened #1314 "CVE in NMI container 1.8.11.2"
Running the twistcli tool on the nmi container reports multiple different vulnerabilities, most of the critical and highs are related to the version of go running in the container, 1.17.3.

From what I can see, the base image you are using (k8s.gcr.io/build-image/debian-iptables:bullseye-v1.5.1) installs go version **v2.3.1-go1.17.3-bullseye.0** -> https://github.com/kubernetes/release/blob/master

[2022-09-02 02:27] elimisteve commented on #1250
So am I. Also curious how to solve this issue, thanks.

[2022-09-05 04:12] elimisteve commented on #1250
@adityajadhav95 Solved it!

### Diagnosis

Thanks to setting the environment variable `AZURE_LOG_LEVEL=verbose` I was able to see that my backend JavaScript code was trying to talk to Azure's configuration service over http://169.254.169.254 . The Azure JS libraries assume that whatever is running on that IP is Azure. If there is no response, the code assumes that it itself must not be running on

[2022-09-06 04:55] rpushpkar opened #1315 "AAD PodIdentity NMI v1.8.11 detected with high vulnerabilities"
**Have you**

- [ ] Read [Troubleshooting Guide](https://azure.github.io/aad-pod-identity/docs/troubleshooting/)
- [ ] Read [Known Issues](https://azure.github.io/aad-pod-identity/docs/known-issues/)
- [ ] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
 180920
Debian Security Update for libtirpc (DSA 5200-1)
Debian
Yes
OS
libtirpc-common
1.3.1-1

[2022-09-06 16:30] aramase commented on #1315
Hello 👋🏻

Please reference our [release doc](https://github.com/Azure/aad-pod-identity/blob/master/docs/RELEASE.md) for more details on how we patch CVEs in releases.

1. I would recommend using the latest release as it will always contain CVE patches for CVEs at the time of release.
2. For the newer CVEs that have a fixed version, they have been patched in the main branch and will be part of the

[2022-09-06 16:30] #1315 closed

[2022-09-06 16:30] aramase commented on #1314
Hello 👋🏻

Please reference our [release doc](https://github.com/Azure/aad-pod-identity/blob/master/docs/RELEASE.md) for more details on how we patch CVEs in releases.

1. I would recommend using the latest release as it will always contain CVE patches for CVEs at the time of release.
2. For the newer CVEs that have a fixed version, they have been patched in the main branch and will be part of the

[2022-09-06 16:30] #1314 closed

[2022-09-06 16:32] aramase commented on #1313
@andre-lx `AzureIdentity` and `AzureIdentityBinding` are user created resources and not managed by any of the pod identity components, so it doesn't create/delete any of those resources. I would recommend looking at the API server audit logs to determine who is deleting those resources.

[2022-09-07 00:23] #1308 closed

[2022-09-07 12:52] BobbySchmitt commented on #1314
The CVE are still present in 1.8.12. The problem is related to the version of Go installed in the base image of your NMI container. Is it OK that your base image is using Go 1.17.3 even if you are building your NMI binaries with a newer version of Go ?

[2022-09-07 16:53] aramase commented on #1314
We're using `go1.19` to build the binaries, so it would be using that go version.

[2022-09-07 18:06] BobbySchmitt commented on #1314
If you aren't using the version of the go-runner installed at /go-runner, could you remove it in your dockerfile?

[code]

That would close out the critical, high, and some of the medium and low issues...

[2022-09-13 13:45] radhikajain99 opened #1318 "Unable to install aad-pod-identity after updating it to 1.8.1"
**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/aad-pod-identity/docs/troubleshooting/)
- [x] Read [Known Issues](https://azure.github.io/aad-pod-identity/docs/known-issues/)
- [x] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
Unable to install aad-pod-identity after updating it to 1.8.1. Error message -
Error: unable t

[2022-09-13 17:36] aramase commented on #1318
Please see similar issues before - https://github.com/Azure/aad-pod-identity/issues/1305. This typically happens where is a version mismatch. I would recommend having the same client and server version and then doing a clean install.

`1.6.2` doesn't define a openapi schema for the CRDs. This was only added in `v1.7.x`.

[2022-09-13 17:36] aramase commented on #1318
Also, the latest available release is `v1.8.12`, so I would recommend using that to get the latest CVE patches and bug fixes.

[2022-09-14 05:12] radhikajain99 commented on #1318
Thanks @aramase. It worked after deleting the AKS and deploying it in a new AKS.

[2022-09-14 16:04] aramase commented on #1318
Closing this issue now.

[2022-09-14 16:04] #1318 closed

[2022-09-19 20:23] smartaquarius10 opened #1319 "Please share the document for connecting custom golang app with log analytics workspace?"
Team,

I'm writing a custom metrics server in AKS where I need to fetch metrics from Log analytics workspace.

For authentication we are using AAD pod identity. Could you please share some details which can help in understanding or guide a little regarding authentication of the custom golang app(running inside AKS) with Log analytics workspace using AAD pod identity.

Regards,
Tanul

[2022-09-21 00:24] #1311 closed

[2022-09-22 15:05] ankur8 commented on #1152
for me also this error is reported in agic ingress controller logs after i upgrade to agic 1.5.2 and with aadpodidentity version 1.6.3

E0922 14:33:16.419671       1 client.go:170] Code="ErrorApplicationGatewayUnexpectedStatusCode" Message="Unexpected status code '400' while performing a GET on Application Gateway." InnerError="azure.BearerAuthorizer#WithAuthorization: Failed to refresh the Token

[2022-09-23 00:24] #1312 closed

[2022-09-28 00:29] #1313 closed

[2022-09-28 19:49] sunkararp commented on #1009
This is happening in our AKS cluster. We are trying to pod-identity to a new kubernetes namespace that got added to our ASK cluster.

Any help is really appreciated.

Below is the command we execute.
[code]

[2022-10-05 15:25] Meandron opened #1327 "Deleting an assigned managed identity blocks MIC pods"
**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/aad-pod-identity/docs/troubleshooting/)
- [x] Read [Known Issues](https://azure.github.io/aad-pod-identity/docs/known-issues/)
- [x] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
We had to delete a number of managed identities in Azure and recreate them, but under a differ

[2022-10-13 10:43] smartaquarius10 opened #1329 "Plans to upgrade the golang version?"
Team,

In near future, are you planning to upgrade the version of golang. With the current version these vulnerabilities are coming in nmi pod:

CVE-2022-23806
CVE-2022-27664
CVE-2022-28131
CVE-2022-30635
CVE-2022-30631
CVE-2022-30580
CVE-2022-30630
CVE-2022-32189
CVE-2022-30633
CVE-2022-30632
CVE-2022-24675
CVE-2022-28327
CVE-2022-24921
CVE-2022-23773
CVE-2022-23772
CVE-2021-44716
CVE-2022-1962
C

[2022-10-13 16:14] aramase commented on #1329
Azure Workload Identity supports managed identity now.

Pod Identity components are built with go1.19. These CVEs are from the go version in the base image which is not used.

[2022-10-13 17:57] smartaquarius10 commented on #1329
@aramase Thanks for the udpate. How to confirm whether we have deployed the correct version of nmi.. Here is the output of `nmi --version` command

![image](https://user-images.githubusercontent.com/7824529/195671008-c3c8008d-cabe-4772-b7a9-eb8f2557442e.png)

[2022-10-18 04:36] smartaquarius10 commented on #1329
@aramase, Any suggestions please??

[2022-10-18 22:58] aramase commented on #1329
@smartaquarius10 We use `go 1.19` to build the binaries as I mentioned. These CVEs are from the go version in the base image which we don't have control over. We're already using the latest base image available

https://github.com/Azure/aad-pod-identity/blob/50eabadcbe853cd41d84f14fe6674738ea5747ec/Dockerfile#L20

These CVEs don't show up in our trivy image scan used part of the CI. Here are our n

[2022-10-19 14:14] slowesss commented on #1312
Please can this issue be reopened as it is still an ongoing issue?

[2022-10-20 03:28] jacklwm90 opened #1344 "Required capabilities for MIC pods"
Hi can anyone share on the required capabilities for MIC, found the required capabilities for NMI but not MIC? MDC flagged the both MIC and NMI pod for "Least privileged Linux capabilities should be enforced for containers".

Thank you in advance!

[2022-10-20 04:32] aramase commented on #1344
We have `securityContext` configured for the MIC deployment

https://github.com/Azure/aad-pod-identity/blob/5c6556d5155b83e57f94c57905c40053595cc833/deploy/infra/deployment-rbac.yaml#L602-L604

In terms of the capabilities, AFAIK you should be able to drop all capabilities for MIC. Only NMI requires `NET_ADMIN`.

[2022-10-20 06:51] Meandron commented on #1327
Anyone?

[2022-10-20 07:50] smartaquarius10 commented on #1329
@aramase Sure thanks.. We are using prisma cloud twistlock.. You can try twistlock, if available.

[2022-10-24 09:02] ozgen commented on #1268
I wrote the sample code in [stackoverflow](https://stackoverflow.com/questions/63978696/azure-aad-pod-identity-with-azure-event-hub) in java.

[2022-10-26 20:40] jordansafer opened #1347 "Migrating from Standard to Managed Mode"
Hi! What are MIC and NMI from [this](https://azure.github.io/aad-pod-identity/docs/configure/standard_to_managed_mode/) documentation page? I'm a little confused about these, and am wondering if there are links to the definitions.

Thank you!

[2022-10-26 20:42] jordansafer commented on #1347
I found the answer here! https://learn.microsoft.com/en-us/azure/aks/use-azure-ad-pod-identity#operation-mode-options
Can I link this page/explanation to the Standard to Managed Mode page?

[2022-10-26 20:44] sozercan commented on #1347
Definitions are here: https://azure.github.io/aad-pod-identity/docs/concepts/

Keep in mind this project is deprecated, we are encouraging users to migrate to workload identity. See readme for details.

Closing this, feel free to open it if you need further questions.

[2022-10-26 20:44] #1347 closed

[2022-10-26 20:50] sozercan opened #1349 "📣 AAD Pod Identity is deprecated"
**❗ IMPORTANT**: As of Monday 10/24/2022, AAD Pod Identity is **deprecated**. As mentioned in the [announcement](https://cloudblogs.microsoft.com/opensource/2022/01/18/announcing-azure-active-directory-azure-ad-workload-identity-for-kubernetes/), AAD Pod Identity has been replaced with [Azure Workload Identity](https://azure.github.io/azure-workload-identity). Going forward, we will no longer add

[2022-10-26 20:51] #1349 closed

[2022-10-26 22:30] #302 closed

[2022-10-26 22:30] #673 closed

[2022-10-26 22:31] #1222 closed

[2022-10-26 22:31] #1266 closed

[2022-10-26 22:32] #237 closed

[2022-10-26 22:32] aramase commented on #1344
Closing this issue now. Please feel free to reopen if you have any questions.

[2022-10-26 22:32] #1344 closed

[2022-10-27 08:16] towailam3 commented on #302
I feel the common way of adding extra functions to pods should be through pod annotation.

[2022-10-27 08:19] alex-tw-lam commented on #302
I feel the standard way to overlay functions on pods should be through pod annotation.

[2022-10-31 23:02] infa-achalla opened #1352 "error: failed to get identity resource"
vault-agent-init 2022-10-31T12:44:23.797Z [ERROR] auth.handler: error getting path or data from method: error="error response in metadata from http://169.254.169.254/metadata/identity/oau │
│ th2/token: getting assigned identities for pod massingestion/mi-78b5b in CREATED state failed after 16 attempts, retry duration [5]s, error: <nil>. Check MIC pod l │
│ ogs for identity assignment errors

[2022-11-01 01:47] infa-achalla commented on #1352
Solution can be found here :
https://thomasthornton.cloud/2020/10/27/azure-aks-aad-pod-identity-status-code-404-fix/

[2022-11-01 01:47] #1352 closed

[2022-11-08 19:37] MattMcL4475 opened #1354 "The index.yaml file references the master branch, instead of the labeled release branch"
The `index.yaml` file references the `master` branch, instead of the labeled release branch:

This file:
https://github.com/Azure/aad-pod-identity/blob/v1.8.13/charts/index.yaml

Is referencing the `master` branch:
https://raw.githubusercontent.com/Azure/aad-pod-identity/master/charts/aad-pod-identity-4.1.14.tgz

When instead, it should be referencing the release label `v1.8.13`
https://raw.github

[2022-11-08 19:48] aramase commented on #1354
The `index.yaml` references the `master` branch as that's the only one that hosts all the packages. AAD Pod Identity doesn't use release branches. The common practice even with hosting it in gh-pages is to have the index.yaml reference the branch that hosts all the packages.

There is no plan to change the branch name as this project has been deprecated. We recommend using [Azure Workload Identity

[2022-11-08 19:48] #1354 closed

[2022-11-08 19:54] MattMcL4475 commented on #1354
Hi @aramase , I was actually referring to the "tag" or "label" that is applied during release:

https://github.com/Azure/aad-pod-identity/tree/v1.8.13/charts

I still think this is better than referring to master, since master could be broken at any time, whereas the label/tag ensures the links are permanent.  All the packages are available here.

Understood about Azure Workload Identity .

[2022-11-11 00:23] #1329 closed

[2022-11-13 00:19] #1327 closed

[2022-11-15 11:13] zivusomer opened #1360 "Failures when getting token for MSI"
My team uses MSI for our authorization when accessing our ~50 storage accounts. We consistently see (in all of them) a steady flow of failures, caused by failure to receive a token.
The exceptions we receive are usually one of the following:

- CredentialUnavailableError at ManagedIdentityCredential.getToken
- AuthenticationError at ManagedIdentityCredential.getToken

The vast majority of the requ

[2022-11-15 17:17] aramase commented on #1360
Hello 👋🏻

Please share the following
1. NMI logs from the node that's seeing the failures.
2. Name of the pod that's failing to get the token in that node.
3. MIC logs during that timeframe.

Please note, AAD Pod Identity has been [deprecated](https://github.com/Azure/aad-pod-identity#-announcement). We're encouraging users to switch to [Azure Workload Identity](https://github.com/Azure/azure-work

[2022-11-18 14:16] Thaval opened #1361 "Cannot delete pod identity when rolee was unassigned or is already gone"
**Have you**

- [ ] Read [Troubleshooting Guide](https://azure.github.io/aad-pod-identity/docs/troubleshooting/)
- [ ] Read [Known Issues](https://azure.github.io/aad-pod-identity/docs/known-issues/)
- [ ] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)

**Describe the bug**
When the role assignment or the managed identity was deleted, the command `az aks pod-identity

[2022-11-18 15:24] paveltyan opened #1362 "Authentication fails with ailed to execute the refresh request. Error = 'Post "": EOF'"
**Have you**

- [ ] Read [Troubleshooting Guide](https://azure.github.io/aad-pod-identity/docs/troubleshooting/)
yes, the error in question is not covered in the troubleshooting guide
- [ ] Read [Known Issues](https://azure.github.io/aad-pod-identity/docs/known-issues/)
Yes, the error is not covered there
- [ ] Searched on [GitHub issues](https://github.com/Azure/aad-pod-identity/issues)
Yes, the

[2022-11-18 17:35] aramase commented on #1361
If you're using the AKS managed pod-identity add-on (https://learn.microsoft.com/en-us/azure/aks/use-azure-ad-pod-identity), please open an issue here: https://github.com/Azure/AKS.

cc @karataliu

[2022-11-18 17:35] #1361 closed

[2022-11-21 06:40] zivusomer commented on #1360
Hi @aramase,
Thanks for the response.
I'm not familiar with these logs, can you guide me on how to get them? Quick googling didn't show me any helpful results ...
BTW - These failures are happening across all our K8s clusters, in all the pods. Since the numbers are small, as I mentioned, and since our pods have a short life span, each one of them only experiences ~1-3 failures.

[2022-11-22 10:24] eranbar commented on #1152
we are running into the same issue here.
we added new node pool to our cluster then the issue started.
i will be glad to understand how to resolve this issue, up until now we had only one node pool and multiple managed identity so when doing new DefaultazureCredentials without providing any id worked for us.

[2022-11-22 10:48] ankur8 commented on #1152
I resolved it

From: eranbar ***@***.***>
Date: Tuesday, 22 November 2022 at 3:54 PM
To: Azure/aad-pod-identity ***@***.***>
Cc: Ankur ***@***.***>, Comment ***@***.***>
Subject: Re: [Azure/aad-pod-identity] Multiple user assigned identities exist, please specify the clientId / resourceId of the identity in the token request (#1152)

we are running into the same issue here.
we added new node pool

[2022-11-22 10:55] eranbar commented on #1152
Can you please share how did you solve this issue?

From: Ankur ***@***.***>
Sent: Tuesday, November 22, 2022 12:48 PM
To: Azure/aad-pod-identity ***@***.***>
Cc: BAR Eran ***@***.***>; Comment ***@***.***>
Subject: Re: [Azure/aad-pod-identity] Multiple user assigned identities exist, please specify the clientId / resourceId of the identity in the token request (#1152)

You don't often get email f

[2022-11-22 10:58] ankur8 commented on #1152
Add these two yaml exception to your namespace like kube-system or where your ingress controller are installed

 please apply the yaml as the following and observe the MIC logs

apiVersion: "aadpodidentity.k8s.io/v1"
kind: AzurePodIdentityException
metadata:
  name: mic-exception
  namespace: default
spec:
  podLabels:
    app: mic
    component: mic
---
apiVersion: "aadpodidentity.k8s.io/v1"
kind

[2022-11-22 10:58] ankur8 commented on #1152
Above solve mine as after lot of dig i got to know that there is no more exception in my mic log but i missed these exception so tried above and resolved till now no restart but yes we have to move to workload identity

[2022-11-22 11:06] eranbar commented on #1152
So, if I understand it right you added those 2 yamls under the required NS and this gave you additional information how to resolve the issue?
In addition, did you have to move to work load identity due to this issue?

Thanks,

From: Ankur ***@***.***>
Sent: Tuesday, November 22, 2022 12:59 PM
To: Azure/aad-pod-identity ***@***.***>
Cc: BAR Eran ***@***.***>; Comment ***@***.***>
Subject: Re: [Azur

[2022-11-22 11:21] ankur8 commented on #1152
No we will move and have to as no more support from azure on this project

From: eranbar ***@***.***>
Date: Tuesday, 22 November 2022 at 4:36 PM
To: Azure/aad-pod-identity ***@***.***>
Cc: Ankur ***@***.***>, Comment ***@***.***>
Subject: Re: [Azure/aad-pod-identity] Multiple user assigned identities exist, please specify the clientId / resourceId of the identity in the token request (#1152)
So, i

[2022-11-22 12:25] eranbar commented on #1152
Thanks for your reply, just want to verify, does adding AzurePodIdentityException yaml solved your issue? If so, can you please explain how did it solve your issue?

From: Ankur ***@***.***>
Sent: Tuesday, November 22, 2022 1:22 PM
To: Azure/aad-pod-identity ***@***.***>
Cc: BAR Eran ***@***.***>; Comment ***@***.***>
Subject: Re: [Azure/aad-pod-identity] Multiple user assigned identities exist, p